$standard-padding: 10px;
$large-padding: $standard-padding * 2;
$x-large-padding: $standard-padding * 3;
$content-max-width: 1230px;
$mobile-size: 640px;
<<<<<<< HEAD
$tablet-size: 1000px;
$max-header-width: 1600px;
=======
$tablet-size: 1000px;
>>>>>>> 20e38ab3d (rebased)
