@import 'helpers/colours';

a.back-link {
  color: $blue-deep-80;
  display: inline-flex;
  align-items: center;
text-decoration: none!important;

  &:visited {
    color: $blue-deep-80;
  }

  &--inverse {
    color: $white;

    &:visited {
      color: $white;
    }
    &:hover {
      color: $white;
    }
  }

  i {
    font-size: 24px;
  }
}


td i, td label.far{
  font-size: 24px;
}