//TODO create a clean base button placeholder with common styles

.icon--plus {
    @extend .pill;
    @extend .bg-white;
    @extend .border-grey;
    @extend .border-thin;
    @extend .bg-hover-grey;
    @extend .text-hover-white;
    position: relative;
    display: block;
    padding: 15px;
    padding-bottom: 14px;
    border-radius: $space-m-m;

    @include desktop {
        border-radius: $space-m;
    }

    &:hover:after,
    &:hover:before {
        background-color: $white;
    }

    &:after {
        height: 18px;
        width: 2px;
        background-color: $grey;
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        left: 14px;

        @include desktop {
        top: 6px;
        left: 14px;
        }
    }

    &:before {
        width: 18px;
        height: 2px;
        background-color: $grey;
        content: '';
        display: block;
        position: absolute;
        top: 14px;
        left: 6px;

        @include desktop {
        top: 14px;
        left: 6px;
        }
    }
}

.button--ghost {
    @extend .pill;
    @extend .g-button-ghost-blue;
    min-width: 210px;
    border-color: $mid-grey;
    color: $mid-grey;

    &:hover {
        color: $white;
        background-color: $mid-grey;
    }

    &:focus {
        background-color: inherit;
        color: $mid-grey;
    }
}

.button--plus {
  position: relative;

  span {
    position: absolute;
    top: 10px;
    left: 10px;

    &:hover {
      background-color: $white;
    }

    &:hover:after,
    &:hover:before {
      background-color: $grey;
    }
  }
}

.button--stone {
  @extend .text-grey;
  @extend .bg-stone-90;
  @extend .font-brand;
  @extend .bg-hover-stone;
  @extend .border-hover-stone;
  @extend .pill;
  padding: $space-xs-m;
  padding-left: 60px;
  padding-right: 25px;
  border-radius: $space-m-m;

  @include desktop {
    border-radius: $space-m;
    padding: $space-xs;
    padding-left: 60px;
    padding-right: 25px;
  }
}
