.cast-study__lead_title {
 margin-bottom:10px;
}
.case-study__company {
  color: #787191;
}

.lesson-page .case-study__content, .lesson-page .case-study__open{
  margin-top: 20px;
}
.case-study__media {
  margin-top: -10px;
  margin-bottom: 20px;
}
.lesson-page .body-l{
  margin-top: 10px;
}
