@import 'helpers/colours';

table {
  table-layout: fixed;
}

table td {
  div {
    margin: 5px 0;
  }
  &.align-top {
    vertical-align: top;
  }
}
.market-details {
  .tooltip__content {
    padding-right: 20px;
    p {
      margin: 20px 0;
      &:first-child, &:last-child {
        margin: 10px 0;
      }
    }
  }
}

table .loading {
  animation: shimmer 5s infinite linear;
  background: linear-gradient(to right, #e9e7ed 20%, #faf8fe 50%, #e9e7ed 66%);
  background-size: 1000px 100%;
  border-radius: 4px;
  height: 20px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
