@import 'helpers/colours';

.educational-moment--tooltip-container {
  display: inline-block;
}

.tooltip {
    border-radius: 0.3em;
    background: $white;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 20px;
    max-width: 50%;
    min-width: 150px;
    position: absolute;
    z-index: 2;
    margin: -5px 50px 50px 0;
}

.tooltip--right-side {
    right: 0%;
}

.tooltip__paragraph {
    padding-right: 30%;

    &:last-child {
        margin-bottom: 0;
    }
}

.educational-moment__button-icon {
  font-size: 24px;
}

.educational-moment__paragraph {
    display: inline;
}

.educational-moment {
    display: inline-block;
    vertical-align: middle;
}
