.field-with-example {

  .educational-moment--tooltip-container {
    float: right;
    margin-top: -50px;
    padding-top: 10px;
  }

  label {
    @extend .h-m;
  }

  dl {
    background-color: $light-grey;
    margin: 20px 0;
    padding: 20px;

    dt {
      font-weight: bold;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    background: transparent;
    border: 0;
    padding: 0;
  }

}
