.form {
  &--sign-up {
    bottom:0;
    left:0;
    margin: auto;
    position:absolute;
    right:0;
    top:150px;
    width: 430px;

    .vertical-separator {
      margin-top: 20px;
      margin-bottom: 20px;

      span {
        display: inline-block;
        font-size: 19px;
        width: 20%;
        text-align: center;
        margin: 0;
      }

      hr {
        display: inline-block;
        height: 2px;
        margin: 0;
        vertical-align: middle;
        width: 40%;
      }
    }

    .beta {
      position: absolute;
      right: 30px;
      top: 25px;
    }

    .form-label {
      @extend .body-m;
      @extend .p-t-0;
      color: $black-100;
    }

    .form-control {
      @extend .m-t-0;
    }
  }
}

.form-table {

  .form-label {
    @extend .body-l-b;
  }

  .form-control {
    @extend .m-t-0;
  }

  .hr {
    @extend .m-0;
  }

  .select {
    margin-bottom: 20px;
  }

  .form-group-example {
    background-color: $white;
  }

  .button--add {
    @include breakpoint(lg_lt) {
      width: 100%;
    }
  }

  .button--delete {

    &.button--only-icon {
      border: 2px solid $colour-blue-deep-80;

      i {
        color: $colour-blue-deep-80;
      }
    }
  }
}

.great-mvp-error-list {
  li.error-message {
    text-align: left;
  }
}
