
.sub-header-nav {
  background-color: $white;
  border-bottom: 1px solid $light-grey;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-left: 300px;

  .nav-extra-links {
    float: right;
  }

  .nav-extra-links,
  .nav-extra-links > * {
    display: inline-block;
  }
}

.great-mvp-header-logo {
  @include desktop {
    height: $space-s * 2;
    padding: $space-xxs;
  }
}

.great-mvp-header-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.great-mvp-header {
  background-color: $white;
  @include shadow;
  position: relative;
  z-index: 2;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li {
      padding-right: 15px;
      padding-left: 15px;
      margin-top: auto;
      margin-bottom: auto;

      &.name-greet {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      a.button-secondary {
        background-color: $blue-deep-70;
      }
    }
  }

  nav {
    width: 100%;
    display: flex;

    .services-area,
    .user-state-area {
      li:last-child {
        padding-right: 30px;
      }
    }
  }
}


.great-mvp-link-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}