/* Styles for modal overlays, windows and menus */

.modal-menu {
  position: absolute;
  left: auto;
  right: inherit;
  background: $white;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: auto;
  height: auto;
  box-shadow: 0px 0px 9px 0px $black-50;
  min-width: 370px;
  opacity: 0;
  transition: opacity 0.3s;

  /* The pointer at the top */
  &:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    background: $white;
    box-shadow: 0 0 9px 0 $black-50;
    top: -10px;
    right: 20px;
  }

  // cover the bottom bit of the pointer
  &:before {
    content: '';
    position: absolute;
    width: 34px;
    height: 16px;
    background: $white;
    top: 0px;
    right: 10px;
    z-index: 1;
  }

  .menu-items {
    margin: 0;

    li {
      a {
        display: block;
        cursor: pointer;

        >span {
          padding: 11px 0 11px 58px;
          display: block;
        }
      }

      @extend .p-v-xxs;

      i.fa {
        width: 44px;
        height: 44px;
        background: $black-10;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue-deep-80;
        float: left;
        transition: background-color 0.3s;
      }

      &:hover {
        i.fa {
          background-color: darken($black-10, 5%);
        }
      }
    }
  }
}

.confirmation-modal {
  padding: $space-s;
  max-width: 500px;
}

.max-modal {
  width: 80%;
  height: 80%;
  padding: $space-m;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(45, 45, 45, 0.3);
  z-index: 3;

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    position: absolute;
    background-color: $white;
    border: none;
    border-radius: 5px;
    outline: none;
  }
}
