@mixin stretch {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.product-finder {
  section {
    @extend .p-s;
    border-bottom: 1px solid $black-50;
  }

  .shim {
    z-index: 3;
    @include stretch;
    text-align: center;
    padding-top: 30%;
    &:before {
      content: '';
      @include stretch;
      background: $black-50;
      opacity: 0.6;
    }
    .spinner {
      height: 50px;
      width: 50px;
      border-width: 6px;
    }
  }
  .center {
    text-align: center;
  }
}

.capitalize {
  text-transform: capitalize;
}

.dialog-close {
  float: right;
  font-size: 60px;
  padding: 0;
  line-height: 0.6;
  color: $black-50;
  overflow: hidden;
  &:after {
    content: '\d7';
    line-height: 0.6;
    display: block;
  }
}

.search-input {
  display: flex;
  align-items: center;
  min-width: 10em;
  i {
    margin-left: -32px;
  }
}
.scroll-area {
  @include stretch;
  .scroll-inner {
    @include stretch;
    overflow: auto;
  }
}

/****** TEMPORARY Ghost/chevron buttons Will be replaced by great styles ******/
.button {
  &--ghost-blue {
    background: white;
    border:2px solid $blue-deep-80;
    color: $blue-deep-80;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $blue-deep-80;
    }
  }
  &--chevron {
    overflow: hidden;
    &:after {
      content: '\203A';
      display: block;
      float: right;
      font-size: 2.7em;
      padding: 0;
      margin-right: -2px;
      font-weight: normal;
    }
  }
}

