@mixin stretch {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.product-finder {
  .shim {
    z-index: 3;
    @include stretch;
    text-align: center;
    padding-top: 20%;

    &:before {
      content: '';
      @include stretch;
      background: $black-80;
      opacity: 0.2;
    }

    .spinner {
      height: 50px;
      width: 50px;
      border-width: 6px;
    }
  }

  .center {
    text-align: center;
  }


  button[disabled]:hover {
    background: $colour-red-80;
  }
}

.dialog-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  font-size: 60px;
  background: transparent;
  padding: 0;
  line-height: 0.6;
  color: $blue-deep-60;
  overflow: hidden;
  border-radius: 50%;
  padding: 3px;
  transition: color 0.3s, background-color 0.3s;

  &:after {
    content: '\d7';
    line-height: 0.6;
    display: block;
  }

  &:hover {
    color: $blue-deep-60;
    background-color: $black-10;
  }
}

.scroll-area {
  @include stretch;

  .scroll-inner {
    @include stretch;
    overflow: auto;
  }
}

.flex-centre {
  display: flex;
  align-items: center;
}

/*  Horizontal shadows for top and bottom of elements */

@mixin scroll-shadow {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -15px;
  box-shadow: 0 15px 15px 5px $black-50;
  z-index: 1;
}

.scroll-shadow-top {
  overflow: hidden;

  &:before {
    @include scroll-shadow;
  }
}

.scroll-shadow-bottom {
  overflow: hidden;

  &:after {
    @include scroll-shadow;
    bottom: 14px;
  }
}

.search-input {
  display: flex;
  align-items: center;
  min-width: 10em;
  input {
    padding-right: 30px;
    &:focus {
      padding-right: 28px;
    }
  }
  .input-icon {
    margin: 8px 0 0 -30px;
    float: left;
    width: 25px;
    height: 100%;
    .clear {
      opacity: 0.5;
      transition: opacity 0.3s;
      padding: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

}

.accordion {
  > .expander-section {
    position: relative;
    .fa {
      top:8px;
      position: absolute;
      right:8px;
    }
  }
  .expand-section {
    display: none;
    width: 100%;
    overflow: hidden;
    &.open {
      display: block;
    }
  }
}

