.route-to-market {
  &__table {
    background: white;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
  }

  &__delete {
    border-radius: 30px;
    height: 30px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    z-index: 2;
  }

  &__input {
    position: relative;
  }
}
