@import 'helpers/colours';

.segmentation-modal {
    @include breakpoint(sm) {
      width: 630px;
      height: auto;
    }
    .dialog-close {
      font-size:42px;
      top:20px;
      right: 20px;
      color: $colour-blue-deep-80
    }

  .multiple-choice {
    label {
      line-height: unset;
      font-weight: unset;
      padding-left: 5px;
    }

    [type='radio'] + label {
      @include breakpoint(sm_lt) {
        position: unset;
      }
    }

    [type=radio] + label::before {
      top: 4px;
      border-color: $light-grey;
    }

    [type=radio] + label::after {
      top: 10px;
      border-color: $lightened-great-blue;
    }
  }
}
