.signup {

  &--reverse {
    flex-direction: row-reverse;
    background: #F5F5F6;

    .signup__steps-panel {
      @include breakpoint(lg) {
        margin-right: 20px;
        margin-left: 0;
      }
    }

    .signup__right-panel {
      position: relative;

      h1 {
        line-height: 50px;
      }

      img {
        width: 100%;
        position: absolute;
        bottom: 0;

        @media screen and (min-width: 1400px) {
          bottom: -200px;
        }
      }
    }

    .signup__right-panel__headings {
      text-align: center;
      z-index: 1;

      h1 {
        color: $colour-blue-deep-80;
        line-height: 52px;
        margin-bottom: 0;
      }

      p {
        color: $colour-blue-deep-80;
        margin-bottom: 8px;
        margin-top: 18px;
        font-size: 18px;
        font-weight: 600;
      }

      a {
        min-width: 230px;
      }
    }
  }

  &__logo {
    @media (max-width: 768px) {
      max-width: 132px;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    overflow: hidden;
    .form-label {
      @extend .body-m;
      @extend .p-t-0;
      color: #4c436e;
      font-size: 19px;
      margin-bottom: -10px;
    }

    .form-control {
      @extend .m-t-0;
    }
  }
  &__steps-panel {
    color: #4c436e;
    min-height: 100vh;
    margin-left: 20px;
    padding: 30px 70px;
    background-color: #fff;
    width: 514px;
    flex-shrink: 0;
    z-index: 1;

    @include breakpoint(lg_lt) {
      padding: 30px;
      width: 40%;
      margin-left: 0;
    }

    @include breakpoint(md_lt) {
      margin-left: 0;
      padding: 20px;
      width: 50%;
    }

    @include breakpoint(sm_lt) {
      margin-left: 0;
      width: 100%;
      padding: 30px 30px;
    }

    p > a {
      color: inherit;
    }
  }

  &__form {
    .h-s {
      margin-top: 15px;
    }

    .vertical-seperator {
      margin-top: 20px;
      margin-bottom: 20px;

      span {
        display: inline-block;
        font-size: 19px;
        width: 20%;
        text-align: center;
        margin: 0;
      }

      hr {
        display: inline-block;
        height: 2px;
        margin: 0;
        vertical-align: middle;
        width: 40%;
      }
    }
  }
  &__questions-panel {
    font-size: 16px;
    color: #000;
    a {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
    }
  }
  &__right-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    position: relative;

    @include breakpoint(sm_lt) {
      display: none;
    }
    img {
      width: 100%;
      position: absolute;
      bottom: 0;

      @media screen and (min-width: 1200px) and (max-width: 1400px) {
        bottom: -100px;
      }

      @media screen and (min-width: 1400px) {
        bottom: -300px;
      }
    }

    h1 {
      color: #fff;
      font-size: 56px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 60px;

      @include breakpoint(lg_lt) {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 30px;
      }
    }
    &__headings {
      max-width: 650px;
      padding: 0 40px;
      z-index: 1;
    }
    &__subheadings {
      display: flex;
      align-items: center;
      margin-bottom: 45px;
      h2,
      i {
        color: #fff;
      }
      i {
        font-size: 40px;

        @include breakpoint(lg_lt) {
          font-size: 35px;
        }
      }
      h2 {
        font-size: 28px;
        margin-left: 30px;
        line-height: 32px;

        @include breakpoint(lg_lt) {
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
  }

  &__confirmation {
    .fa-info-circle {
      font-size: 40px;
    }
    .form-label {
      font-size: 19px;
    }
  }

}
