.slick-slider {
  .slick-dots {
    li {
      margin: 0;
      padding: 0;
      button:before {
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
  .slick-list {
    margin: 0 -7px;
    top: 25px;
    & .slick-track {
      display: flex;
      & .slick-slide {
        height: inherit;
        & > div {
          padding: 0 10px;
          height: 95%;
          & > div {
            height: 100%;
          }
        }
      }
    }
  }
}

.product-finder {
  .slick-dots {
    top: 10px;
    bottom: unset;
  }
}

.case-study {
  .quote-block .slick-dots {
    bottom: -20px;
    top: unset;
    li {
      padding-left: 0;
      margin-bottom: 0;
      &:before {
        background-color: transparent;
      }
    }
  }

	.slick-list {
    top: 0;
    .slick-track .slick-slide {
      margin-bottom: 20px;
      img {
        margin: -30px 0;
        max-width: 100%;
        height: auto;
      }
    }
	}
}
