.snackbar {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  >div {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &.fade {
      animation: fadeout 1000ms;
      animation-fill-mode: both;
    }

    animation: fadein 500ms;
    animation-fill-mode: both;
  }
}

@keyframes fadein {
  0% {
    margin-bottom: -60px;
    opacity: 0;
  }

  100% {
    margin-bottom: 20px;
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
