.statistic {
  @extend .bg-white;
  @extend .radius;
  display: block;
  margin-bottom: 15px;
  padding: 20px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.statistic__caption {
  font-size: $font-size-small-mobile;
  margin: 0;

  @include tablet {
    font-size: $font-size-small-desktop;
  }
}

.statistic__header {
  font-size: $font-size-small-desktop;
}

.statistic__figure {
  font-size: $font-size-xlarge-mobile;
  margin: 0;

  @include tablet {
    font-size: $font-size-xlarge-desktop;
  }
}

.statistic__group {
  display: flex;
  justify-content: space-between;
}

.statistic__percentage {
  height: 4px;

  span {
    display: block;
    height: 4px;

    transition: width 1s;
  }
}
