.statistic {
  @extend .bg-white;
  @extend .radius;
  display: block;
  position: relative;
  padding: 10px 20px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.statistic__caption {
  font-size: $font-size-small-mobile;
  margin: 0;

  @include tablet {
    font-size: $font-size-small-desktop;
  }
}

.statistic__header {
  font-size: $font-size-small-desktop;
}

.statistic__figure {
  margin: 0;
}

.statistic__group {
  display: flex;
  justify-content: space-between;
}

.statistic__percentage {
  height: 4px;
  position: absolute;
  top: 54px;
  width: 92%;

  span {
    display: block;
    height: 4px;

    transition: width 1s;
  }
}
