.tab-list {
  padding-left: 50px;
}

.tab-list-item {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 80%;
}

.tab-list-active {
  border-radius: 25px 25px 25px 25px;
  background-color: #ffffff;
  border: solid #ccc;
  border-width: 1px 1px 1px 1px;
  margin: 20px;

}
