@import 'helpers/colours';
.market-details {
  button.iconic {
    color: $blue-deep-80;
    transition: color 0.1s;
    &:hover {
      color: $blue-deep-40;
    }
  }
  table {
    td, th {
      vertical-align: middle;
      text-align: left;
      border-bottom: 1px solid $blue-deep-20;
    }
    td.name {
      text-align: left;
    }
    td.no-data {
      text-align: center;
    }
  }
  button {
    color: $white;
  }
}
.add-market {
    color: $white;
    margin-top: 20px;
}
.source-attribution {
  margin: 20px 0 0;
}
.tab-list {
  padding-left: 50px;
}

.tab-list-item {
  border-radius: 25px 25px 25px 25px;
  background: transparent;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.tab-list-active {
  background-color: $white;
  font-weight: bold;
}
