{% extends 'core/base.html' %}

{% block page-title %}Lesson - {{ lesson.description }} {% endblock %}

{% block content %}
    <div class="item">
        <h1>Lesson - {{ lesson.description }} </h1><br />
        <table style="border: solid 1px gray; width: 300px; text-align: center;" id="item-list">
            <tr style="background-color: #DDD">
                <th style="padding: 10px;">ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <tr>
                <td style="padding: 10px;">{{ lesson.id }}</td>
                <td>{{ lesson.description }}</td>
                <td><a href="{% url 'core:lesson_delete' lesson.id %}" id="delete-item">delete</a></td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <input type="button" onclick="$('#add-form-div').toggle();" value="Edit lesson"><br /><br />
        <div id="add-form-div" style="display: none;">
            <form action="{% url 'core:lesson_details' lesson.id %}" method="POST" id="add-form">
                    <div id="form-fields">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

    <script type="text/javascript">
        (new FormHelper('add-form')).bind_for_ajax(
            function(data) {
                $('#form-fields').html('');
                $('#form-fields').append('<input type="hidden" value="' + data.token + '" name="csrfmiddlewaretoken">');
                $('#form-fields').append(data.form).hide().fadeIn();
                $('#add-form input[type=submit]').removeAttr('disabled');
            },
            function(data) {
                $('#form-fields').html('');
                $('#form-fields').append('<input type="hidden" value="' + data.token + '" name="csrfmiddlewaretoken">');
                $('#form-fields').append(data.form).hide().fadeIn();
                $('#add-form input[type=submit]').removeAttr('disabled');
            }
        );
        $('#delete-item').click(function() {
            $.get($(this).attr('href'), function(data) {
                $('div.item').before('<h1>Item removed</h1><br /><br />');
                $('div.item').remove();
            });
        });
    </script>
    <a href="{% url 'core:lesson_list' %}">back to list</a>
{% endblock %}
