.rich-text,
.block-text {
    h2, h3, h4 {
        font-family: Overpass, Roboto, arial, helvetica, verdana;
        font-weight: 700;
        text-transform: none;
        display: block;
    }

    b,
    b i {
        font-weight: bold;
    }

    h2 {
        font-size: 24px;
        line-height: 1.04167;
        margin-top: 1.04167em;
        margin-bottom: .41667em;

        @media (min-width: 641px) {
            font-size: 36px;
            line-height: 1.11111;
            margin-top: 1.25em;
            margin-bottom: .83333em;
        }
    }

    h3 {
        font-size: 18px;
        line-height: 1.2;
        margin-top: 1.25em;
        margin-bottom: .5em;

        @media (min-width: 641px) {
            font-size: 24px;
            line-height: 1.25;
            margin-top: 1.875em;
            margin-bottom: .625em;
        }
    }

    h4 {
        font-size: 16px;
        line-height: 1.25;
        margin-top: .625em;
        margin-bottom: .3125em;

        @media (min-width: 641px) {
            font-size: 19px;
            line-height: 1.31579;
            margin-top: 1.05263em;
        }
    }

    a {
        color: #006ccc;
        text-decoration: underline;

        &:visited {
            color: #4c2c92;
        }
    }

    ul {
        padding: 0;
        margin: 0 0 1em;
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 5px;
            position: relative;
            list-style: none;
            padding: 0 0 0 30px;

            &:before {
                background-color: #333;
                border-radius: 4px;
                content: "";
                display: inline-block;
                height: 8px;
                left: 0;
                position: absolute;
                top: .5em;
                width: 8px;
            }
        }
    }

    ol {
        padding: 0;
        margin-top: 5px;
        margin-bottom: 20px;
        list-style-type: decimal;
        list-style-position: inside;

        li {
            margin-bottom: 5px;
        }
    }
}

.wrap-tight .rich-text >:first-child,
.wrap-tight .block-text >:first-child {
    margin-top: 0;
    padding-top: 0;
}

.block-pull_quote {
    background-color: #f5f2ed;
    font-weight: 400;
    line-height: 1.6;
    margin: 60px 0 60px -30px;
    padding: 30px;
    font-family: georgia,verdana,serif;
    font-style: italic;

    &:before {
        color: #dfd5c5;
        content: '“';
        display: block;
        font-family: sans-serif;
        font-size: 120px;
        font-weight: 600;
        height: 60px;
        left: -15px;
        line-height: 120px;
        position: relative;
    }

    blockquote,
    figcaption {
        display: block;
        margin-bottom: 15px;

        @media (min-width: 641px) {
            max-width: calc(980px - 25%);
            width: 75%;
        }
    }

    blockquote {
        p {
            margin-bottom: 15px;
        }
    }

    figcaption {
        font-size: 19px;
        font-style: normal;

        span {
            &:after {
                content: '|';
                margin: 0 -1px 0 4px;
            }
        }
    }

    a {
        color: #006ccc;
        text-decoration: underline;

        &:visited {
            color: #4c2c92;
        }
    }

    @media (min-width: 641px) {
        font-size: 24px;
    }

    @media (min-width: 1261px) {
        width: calc(100vw - 8px);
        margin-left: calc(600px - 50vw);
        padding-left: calc((50vw - 600px) + (100% / 9 * 2) + 5px) !important;
    }
}
