// Component styling

@import 'accordion/base';
@import 'key-facts/base';
@import 'header-footer/base';
@import 'error-reporting/base';
@import 'card/base';
@import 'typography/base';
@import 'hero/base';
@import 'cookie-notice/base';
@import 'skip-link/base';
@import 'tag-list/base';
@import 'content-list/base';
@import 'social-share-links/base';
@import 'boxes/base';
@import 'utils/base';
@import 'banner/base';
@import 'statistics/base';
@import 'case-study/base';
@import 'search-page-components/base';
@import 'pagination/base';
@import 'full-width-list-and-media/base';
@import 'details-list/base';
@import 'forms/base';
@import 'overrides';
