{% extends './base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    Buy from the UK contact
    {{ block.super }}
{% endblock %}
{% block meta_title %}Buy from the UK contact {{ block.super }}{% endblock %}
{% block head_css %}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great-container">
        <div class="govuk-grid-row govuk-!-margin-top-8">
            <div class="govuk-grid-column-two-thirds">{% include 'eyb/includes/error_summary.html' %}</div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-l">Send a message to {{ company.name }}</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half-from-desktop">
                <p class="govuk-body">
                    Enter your details and a brief message about your needs. We'll send these to the business you've selected.
                </p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half-from-desktop">
                <form method="post" onsubmit="return onSubmitContact()">
                    {% csrf_token %}
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.given_name.errors %} govuk-form-group--error{% endif %}">
                                {% include 'international/includes/form_field.html' with field=form.given_name %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.family_name.errors %} govuk-form-group--error{% endif %}">
                                {% include 'international/includes/form_field.html' with field=form.family_name %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.company_name.errors %} govuk-form-group--error{% endif %}">
                                {% include 'international/includes/form_field.html' with field=form.company_name %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.country.errors %} govuk-form-group--error{% endif %}">
                                {% include 'international/includes/form_field.html' with field=form.country %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.email_address.errors %} govuk-form-group--error{% endif %}">
                                {% include 'international/includes/form_field.html' with field=form.email_address %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.sector.errors %} govuk-form-group--error{% endif %}">
                                {% include 'international/includes/form_field.html' with field=form.sector %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-character-count"
                                 data-module="govuk-character-count"
                                 data-maxlength="200">
                                <div class="govuk-form-group{% if form.subject.errors %} govuk-form-group--error{% endif %}">
                                    <h1 class="govuk-label-wrapper">
                                        <label class="govuk-label govuk-label--s"
                                               for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
                                    </h1>
                                    <div id="more-detail-hint" class="govuk-hint">{{ form.subject.help_text }}</div>
                                    {% for error in form.subject.errors %}
                                        <p class="govuk-error-message" role="alert">
                                            <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                        </p>
                                    {% endfor %}
                                    {{ form.subject }}
                                </div>
                                <div id="id_subject-info"
                                     class="govuk-hint govuk-character-count__message">
                                    You can enter up to 200 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-character-count"
                                 data-module="govuk-character-count"
                                 data-maxlength="1000">
                                <div class="govuk-form-group{% if form.body.errors %} govuk-form-group--error{% endif %}">
                                    <h1 class="govuk-label-wrapper">
                                        <label class="govuk-label govuk-label--s" for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
                                    </h1>
                                    <div id="more-detail-hint" class="govuk-hint">{{ form.body.help_text }}</div>
                                    {% for error in form.body.errors %}
                                        <p class="govuk-error-message" role="alert">
                                            <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                        </p>
                                    {% endfor %}
                                    {{ form.body }}
                                </div>
                                <div id="id_body-info" class="govuk-hint govuk-character-count__message">You can enter up to 1000 characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.terms.errors %} govuk-form-group--error{% endif %}">
                                {% for error in form.terms.errors %}
                                    <p class="govuk-error-message" role="alert">
                                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                    </p>
                                {% endfor %}
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        {{ form.terms }}
                                        <label class="govuk-label govuk-checkboxes__label" for="id_terms">
                                            <p class="govuk-body">
                                                I agree to the <a class="govuk-link" href="/terms-and-conditions/" target="_blank">great.gov.uk terms and conditions</a> and I understand that:
                                            </p>
                                            <ul class="govuk-list govuk-list--bullet">
                                                <li>
                                                    the Department for Business and Trade (DBT) is not endorsing the character, ability, goods or services of members of the directory
                                                </li>
                                                <li>there is no legal relationship between DBT and directory members</li>
                                                <li>
                                                    DBT is not liable for any direct or indirect loss or damage that might happen after a directory member provides a good or service
                                                </li>
                                            </ul>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    {{ form.marketing_consent }}
                                    <label class="govuk-label govuk-checkboxes__label"
                                           for="id_marketing_consent">{{ form.marketing_consent.label }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-top-4">
                        <div class="govuk-grid-column-full">{% include "_button.html" with text='Send message' %}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'javascript/accessible-autocomplete.v3.01.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/countries.js' %}"></script>
    <script type="text/javascript">
        const onSubmitContact = () => {
            if (!document.getElementById('js-industry-select').value) {
                document.getElementById('js-industry-select-select').value = '';
            }
            if (!document.getElementById('js-country-select').value) {
                document.getElementById('js-country-select-select').value = '';
            }
        }

        accessibleAutocomplete.enhanceSelectElement({
            selectElement: document.getElementById('js-country-select'),
            source: countries,
            autoselect: false,
            minLength: 2,
        });
    </script>
    <script>
        const allSectorsJson = JSON.parse("{{autocomplete_sector_data | escapejs}}");

        let allSectors = []
        for (let i = 0; i < allSectorsJson.length; i++) {
            if (!allSectorsJson[i].sub_sector_name) {
                allSectors.push(allSectorsJson[i]);
            }
        }

        function sortResults(sectors) {
            return sectors.sort((a, b) => {
                // Sort alphabetically by sector_name if both sub_sub_sector_name and sub_sector_name are equal
                if (a.sector_name < b.sector_name) return -1;
                if (a.sector_name > b.sector_name) return 1;
                return 0;
            });
        }

        function sectorSuggest(query, populateResults) {
            let results = [];
            if (!query) {
                for (let i = 0; i < allSectors.length; i++) {
                    results.push(allSectors[i]);
                }
            } else {
                for (let i = 0; i < allSectors.length; i++) {
                    const parentSector = allSectors[i].sector_name;
                    if (parentSector.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                        results.push(allSectors[i]);
                    }
                }
            }
            results = sortResults(results);
            populateResults(results);
        }

        accessibleAutocomplete.enhanceSelectElement({
            selectElement: document.getElementById('js-industry-select'),
            source: sectorSuggest,
            showAllValues: true,
            autoselect: false,
            templates: {
                inputValue: (selectedSectorRow) => {
                    if (selectedSectorRow) {
                        return selectedSectorRow.sector_name
                    } else {
                        return
                    }
                },
                suggestion: (selectedSectorRow) => {
                    return `<span>${selectedSectorRow.sector_name}</span>`
                }
            },
            minLength: 2,
            onConfirm: function(selectedRow) {
                // onConfirm seems to be triggered by autocomplete many times passing null
                if (selectedRow) {
                    // When overriding onconfirm as per docs, it seems to then not automatically update
                    // the actual select elements selected value and so isnt posted on form submit
                    const sectorSelectInput = document.querySelector('#js-industry-select-select');
                    const setSectorSelectValue = (value) => {
                        for (let i = 0; i < sectorSelectInput.options.length; i++) {
                            if (sectorSelectInput.options[i].value === selectedRow.sector_name) {
                                sectorSelectInput.selectedIndex = i;
                                break;
                            }
                        }
                    }
                    setSectorSelectValue(selectedRow);
                }
            }
        });
    </script>
{% endblock %}
