@import "../../index.css";

a {
    font-family: 'FS Lucas', sans-serif;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:hover:active {
    }
}

.lg {
    font-size: 20px;
    line-height: 25px;
}

.sm {
    font-size: 16px;
    line-height: 20px;
}

.primary {
    color: var(--colour-blue-deep-80);

    &.active {
        color: var(--colour-red-80);
    }
}

.secondary {
    color: var(--colour-red-80);
}
