@import "../../index.css";

a {
    color: #4b426d;
    font-family: 'FS Lucas', sans-serif;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: var(--colour-black-100);
    }

    &:hover:active {
    }
}
