<div class="grid">
  <div class="c-1-4">
    <figure class="statistic">
      <figcaption>
        <p class="statistic__caption">Total population</p>
      </figcaption>
      <p class="statistic__figure">
        <span class="statistic__details">328.2 million</span>
      </p>
    </figure>
  </div>
  <div class="c-1-4">
    <figure class="statistic">
      <figcaption>
        <p class="statistic__caption">Access to internet</p>
      </figcaption>
      <p class="statistic__figure">
        <span class="statistic__details">90% (312.32 million)</span>
      </p>
    </figure>
  </div>
  <div class="c-1-4">
    <figure class="statistic">
      <figcaption>
        <p class="statistic__caption">Consumer Price Index</p>
      </figcaption>
      <p class="statistic__figure">
        <span class="statistic__details">255.77</span>
      </p>
    </figure>
  </div>
  <div class="c-1-4">
    <figure class="statistic">
        <figcaption>
        <p class="statistic__caption">Target age population</p>
        </figcaption>
        <p class="statistic__figure">
        <span class="statistic__details">328.2 million (100%)</span>
        </p>
    </figure>
  </div>
</div>

<div class="grid">
  <div class="c-1-2">
    <div class="statistic__percentage m-b-xs"><span style="width: 82%;"></span></div>
    <div class="statistic__group">
      <figure class="statistic">
        <figcaption>
          <p class="statistic__caption">Living in urban areas</p>
        </figcaption>
        <p class="statistic__figure">
          <span class="statistic__details">82.3%</span>
        </p>
      </figure>
      <figure class="statistic">
        <figcaption>
          <p class="statistic__caption">Living in rural areas</p>
        </figcaption>
        <p class="statistic__figure">
          <span class="statistic__details">17.7%</span>
        </p>
      </figure>
    </div>
  </div>
  <div class="c-1-2">
    <div class="statistic__percentage m-b-xs"><span style="width: 51%;"></span></div>
    <div class="statistic__group">
      <figure class="statistic">
          <figcaption>
            <p class="statistic__caption">Female in target group</p>
          </figcaption>
          <p class="statistic__figure">
            <span class="statistic__details">64.8 m</span>
          </p>
        </figure>
        <figure class="statistic">
          <figcaption>
            <p class="statistic__caption">Male in target group</p>
          </figcaption>
          <p class="statistic__figure">
            <span class="statistic__details">64.5 m</span>
          </p>
        </figure>
    </div>
  </div>
</div>

<div class="grid">
  <div class="c-1-2">
    <figure class="statistic">
      <figcaption>
       <p class="statistic__caption">Language</p>
      </figcaption>
      <p class="statistic__figure">
        <span class="statistic__details">Dutch (official); Frisian, Low Saxon,</span>
      </p>
    </figure>
  </div>
</div>