{% load content_tags %}
{% load humanize %}

<li class="m-b-s">
  <article class="relative bg-white radius p-s clearfix">
    <a href="{{plan.pk}}/" class="learn__category-link" aria-describedby="export-plan-{{ plan.pk }}">
      <span class="visually-hidden">View export plan</span>
    </a>
    <h2 id="export-plan-{{ plan.pk }}" class="h-m">
      Exporting {{ plan.export_commodity_codes.0.commodity_name }}
      to {{ plan.export_countries.0.country_name }}</h2>
    <div class="progress-bar m-v-xs">
      <span style="width: {% widthratio plan.calculated_progress.sections_completed plan.calculated_progress.sections_total 100 %}%"></span>
    </div>
    <p class="body-m-b m-t-xs m-b-0">{{ plan.calculated_progress.sections_completed }}
      / {{ plan.calculated_progress.sections_total }} lessons complete</p>
    {% if plan.export_commodity_codes.0.commodity_code %}
    <p class="m-b-0 f-l body-s">HS6 code:{{plan.export_commodity_codes.0.commodity_code}}</p>
    {% endif %}
    <p class="m-b-0 f-r body-s">Created {{ plan.created|str_to_datetime|naturaltime }}</p>
  </article>
</li>
