{% load content_tags %}

{% comment %}
EP Card for smaller, dashboard-style listing
{% endcomment %}
<article class="relative bg-white p-h-s p-v-xxs clearfix m-b-xxs">
  <a href="{{ plan.url }}" class="learn__category-link" aria-describedby="export-plan-{{ plan.url }}">
    <span class="visually-hidden">View export plan</span>
  </a>
  <h2 id="export-plan-{{ plan.pk }}" class="h-xs p-t-xs">{{ plan.name }}</h2>
  <p class="m-0 body-s">Created on {{ plan.created|str_to_datetime|date:"d F Y" }}</p>
  <div class="progress-bar m-v-xxs">
    <span style="width: {% widthratio plan.calculated_progress.sections_completed plan.calculated_progress.sections_total 100 %}%"></span>
  </div>
  <p class="body-m-b m-t-xs m-b-0">{% widthratio plan.calculated_progress.sections_completed plan.calculated_progress.sections_total 100 %}% completed</p>
</article>
