{% if breadcrumbs %}
    <div class="{% if wrapper_classes %}{{ wrapper_classes }}{% endif %} govuk-!-padding-top-2 govuk-!-padding-bottom-1">
        <div class="great-container">
            <nav aria-label="Breadcrumb"
                 class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile govuk-!-margin-top-1 govuk-!-margin-bottom-1 {% if dark_mode %}govuk-breadcrumbs--inverse{% endif %}">
                <ol class="govuk-breadcrumbs__list">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="govuk-breadcrumbs__list-item">
                            <a class="govuk-breadcrumbs__link govuk-!-font-size-16"
                               href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
{% endif %}
