<h1 class="govuk-heading-xl govuk-!-margin-top-4">Thank you for contacting great.gov.uk</h1>
<p class="govuk-body">
    Your message has been sent. The team will deal with your enquiry and get back to you as soon as possible.
</p>
{% include 'international/includes/start_button.html' with href=back_url button_text='Continue' %}
{% if show_hcsat %}
    <section id="hcsat_section"
            class="govuk-!-padding-bottom-6 great-bg-white clearfix govuk-!-margin-top-9">
        <div class="great-full-width-border-thin-top-lighter-blue"></div>
        <div class="container ">
            {% include 'core/includes/hcsat.html' with hcsat_form=hcsat_form hcsat_stage=hcsat_form_stage%}
        </div>
    </section>
    {% block body_js %}
    {% load static %}
        <script src="{% static 'javascript/hcsat-feedback-form.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                new CsatFormHandler('csat-form');
            });
        </script>
        <script src="{% static 'javascript/govuk.js' %}"></script>
        <script>window.GOVUKFrontend.initAll()</script>
    {% endblock %}
{% endif %}