{% load static %}
<div class="govuk-width-container great-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <img class="govuk-!-padding-top-2"
                 height="31.5"
                 alt="Department for business and trade logo"
                 src="{% static 'images/ukgov-logo-international.svg' %}">
        </div>
        {% if show_copyright %}
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-xs govuk-!-margin-top-4 govuk-!-padding-left-4">
                    © Crown copyright {% now "Y" %}. All rights reserved.
                </p>
            </div>
        {% endif %}
    </div>
</div>
