{% load static %}
{% load i18n %}
<div class="govuk-width-container great-container">
    <div class="govuk-grid-row">
        {% if show_site_toggle %}
            <div class="govuk-grid-column-one-third">
            {% else %}
                <div class="govuk-grid-column-two-thirds">
                {% endif %}
                <img class="govuk-!-padding-top-2"
                     height="31.5"
                     alt="Department for business and trade logo"
                     src="{% static 'images/dbt-red-footer-logo.93fc9e99b781.svg' %}">
            </div>
            {% if show_site_toggle %}
                <div class="govuk-grid-column-two-thirds international-domestic-menu-toggle">
                    <a href="/"
                       class="toggle-element-container toggle-element-container--domestic govuk-!-font-size-16">
                        <span class="link-text">{% trans 'For UK businesses' %}</span>
                    </a>
                    <a href="/international/"
                       class="toggle-element-container toggle-element-container--international govuk-!-font-size-16">
                        <span class="link-text">{% trans 'For international businesses' %}</span>
                    </a>
                </div>
            {% endif %}
            {% if show_copyright %}
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body-xs govuk-!-margin-top-4 govuk-!-padding-left-4">
                        © Crown copyright {% now "Y" %}. All rights reserved.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
