{% if field %}
    {% comment %}
        class govuk-form-group--error as optional parameter to accomodate single field forms where the designs
        require that the vertical error line includes the form title. In this case one of the widget's ancestors
        will already have govuk-form-group--error class applied.
    {% endcomment %}
    <div class="govuk-form-group{% if show_vertical_error_line and field.errors %} govuk-form-group--error{% endif %}">
        {% if field.label %}
            <label class="{% if label_class %} {{ label_class }} {% else %} govuk-label govuk-label--s {% endif %}"
                   for="{% if labelForId %}{{ labelForId }}{% else %}{{ field.id_for_label }}{% endif %}">
                {{ field.label }}
                {% if optional %}<span>(Optional)</span>{% endif %}
                {% if dynamicText %}{{ dynamicText }}{% endif %}
            </label>
        {% endif %}
        {% if field.help_text %}
            <div class="{% if help_class %} {{ help_class }} {% else %} govuk-hint govuk-!-margin-bottom-2 {% endif %}"
                 id="help_for_{{ field.auto_id }}">{{ field.help_text|safe }}</div>
        {% endif %}
        {% for error in field.errors %}
            <p class="govuk-error-message" role="alert">
                <span class="govuk-visually-hidden">Error:</span> {{ error }}
            </p>
        {% endfor %}
        {% if inputWrapperClass %}
            <span class="{{ inputWrapperClass }}">
                {% if inputPrefixClass %}<div class="{{ inputPrefixClass }}" aria-hidden="true">{{ inputPrefixText }}</div>{% endif %}
            {% endif %}
            {{ field }}
            {% if inputWrapperClass %}</span>{% endif %}
    </div>
{% endif %}
