@import './variables';
@import './compatibility';
@import './forms';
@import './general.scss';
@import './registration.scss';
@import './components.scss';
@import '../../sass/partials/mixins';

blockquote, q {
  quotes: none;
}

#content section {
  overflow: visible;
}

#header-cookie-notice {
  .container {
    width: auto;
  }
}

body hr {
  background: $grey-4;
}

#content {
  max-width: none;
}

ul, li {
  list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

// The 'a11y' class is a CSS technique for preventing text
// from visually rendering on-screen but still being available for screen readers.
.a11y {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Truncate text by lines with ellipsis
.one-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*1px; /* Fallback for non-webkit 25.2*/
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*2px; /* Fallback for non-webkit 50.4 */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.three-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*3px; /* Fallback for non-webkit 75.6 */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  background-color: $white;
  @media (max-width: 979px) {
    padding: 0;
    .container {
      padding: 0 20px;
      width: 100%;
    }
  }

  @media (min-width: 979px) {
    .container {
      width: 100%;
    }
  }
  #content {
    padding-bottom: 0;
    .outer-container {
      .enrolment-intro-container {
        margin-bottom: 20px;
        margin-top: 70px;
        .enrolment-intro {
          padding: 0;
        }
      }
      form {
        margin-bottom: 0;
        .connections-platform-form {
          ul.errorlist li {
            float: none;
            width: 100%;
          }
        }
      }
      .registered, .sorry {
        margin-bottom: 150px;
        margin-top: 150px;
        padding: 40px;
        h1, h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.ed-hero-sub-header {
  color: white;
  min-height: 275px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(images/banner-img1.jpg) no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .ed-hero-sub-header-title {
    h1 {
      margin-bottom: 20px;
      @media (max-width: 979px) {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}

.form-wrapper-btn-container {
  line-height: 3em;
  clear: both; // needed for IE8 compatibility with multi column lists
}

.ed-error-page-container {
  color: #4a4a4a;
  .ed-error-page-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  ul.ed-error-page-synopsis {
    margin:0;
    li {
      margin-bottom: 10px;
    }
  }
  .ed-error-page-status {
    padding-bottom: 40px;
  }
  hr {
    border-bottom: 1px solid #4f0b7b;
  }
}


.ed-international-success-container {
  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .ed-international-success-synopsis {
    margin-bottom: 40px;
  }
}

body.js-enabled .js-header-nav-menu.js-header-nav-menu-hide {
  display: block;
  @media (max-width: 960px) {
    display: none;
  }
}

.ed-header-level-two {
  .ed-header-image-container {
    position: relative;
    @media (max-width: 979px) {
      padding-left: 5px;
    }
  }
}

a.no-focus-highlight {
  background-color: inherit;
}

.ed-form-back-button {
  margin-right: 40px;
  font-size: 15px;
}

.great-blue-bar {
  background: $great-blue;
  color: $white;
  h1, h2 {
    font-family: $font-heading;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1em;
    margin: 0;
    padding: 16px 24px;
  }
  .company-name-title {
    @media (max-width: 767px) {
      font-size: 28px;
    }
  }
  .element-within {
    display: table-cell;
    float: none;
    vertical-align: middle;
    a {
      color: $white;
      &:focus {
        background: #007EA3;
      }
    }
    .a11y {
      color: $white;
    }
  }
  .ed-edit-button {
    right: 20px;
    top: 16px;
  }
  &.ed-has-edit-button {
    padding-right: 70px;
  }

  @media (max-width: 767px) {
    .element-within {
      display: block;
    }
  }
}

.ed-arrow_box:after {
  top: 100%;
  left: 50px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(237, 237, 237, 0);
  border-top-color: #EDEDED;
  border-width: 20px 20px 0px 0px;
  margin-left: -20px;
}

.ed-special-bottom-border {
  border-bottom: 7px solid #B00D23;
}

.pull-right {
  float: right;
}

#id_classification-export_destinations_other {
  @media (min-width: 979px) {
    width: 50%;
    display: block;
  }
}

.ed-form-progress-indicator {
  background-color: #DCE0DF;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &.ed-form-progress-indicator-line {
        border-bottom: 9px solid #007EA3;
      }
      &.ed-form-progress-indicator-prev {
        button {
          cursor: pointer;
          span {
            color: #007ea3;
          }
        }
      }
      &.ed-form-progress-indicator-active {
        button span {
          color: #007ea3;
          font-size: 18px;
        }
        .ed-form-tab-order {
          padding: 6px 12px;
        }
      }
    }
  }
  button {
    text-align: left;
    padding: 18px 0;
    padding-top: 20px;
    width: 100%;
    border: none;
    background: transparent;
    span {
      color: #777;
      font-size: 15px;
      margin-top: -8px;
    }
    @media (max-width: 640px) {
      text-align: center;
    }
    &:focus {
      outline: 3px solid $focus;
    }
  }
  .ed-form-tab-order {
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    padding: 3px 8px;
  }
  .ed-form-tab-label {
    margin-left: 5px;
    font-weight: 600;
    @media (max-width: 640px) {
      display: none;
    }
  }
}

#id_exports-has_exported_before {
  li {
    display: inline-block;
    float: none;
    margin-bottom: 0;
  }
}

#ed-company-edit-address-container {
  margin-bottom: 45px;
}

#ed-company-edit-address {
  background-color: #d8d8d8;
  padding: 30px;
  margin-top: 20px;
  .ed-company-edit-address-name {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.6px;
    color: #333333;
    margin-bottom: 15px;
  }
  .ed-company-edit-address-number {
    height: 26px;
    font-size: 100px;
    line-height: 1.44;
    color: #333333;
    margin-bottom: 30px;
  }
}

#ed-company-edit-address-tickbox-container {
  .checkbox {
      padding-left: 50px;
  }
}

#ed-account-create-explainer {
  font-size: 18px;
  p:first-child {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.inset-text-gray-thickest-border {
  border-left: 10px solid #B1B4B6;
  padding-left:15px;
  background:#FFF;
}

#content {
  padding: 0 !important;
}


.breadcrumbs-container{
  background-color: white;
  margin: 0 auto;
  padding: .75em 0;
  max-width: 1230px;
  li {
    padding-left: 5px;
  }
  li:before {
    @include chevron(135deg, $grey);
    margin-right: 10px;
    top: .5em;
  }
}


/* Mobile
 **********************/
@media (max-width: 480px) {
  .ed-form-back-button {
    margin: 0 0 40px 0;
  }
  #great-footer {
    .great-footer-logo-container {
      margin-left: 0;
      padding: 46px 20px 30px;
    }
    .great-footer-links {
      padding: 30px 0;
    }
  }
}
