
// VARIABLES

$white: #ffffff;
$black: #000000;
$dark-grey: #333333;
$mid-grey: #666666;
$great-blue: #1E1348;
$mid-blue: #00549F;
$stone: #DFD5C5;
$aqua: #007EA3;

$focus: #ffbf47;

$beige-1: #f6f4f1;
$blue-1: #132965;
$grey-1: #fafafa;
$grey-2: #999999;
$grey-3: #4a4a4a;
$grey-4: #d8d8d8;
$grey-5: #6f777b;
$red-1: #e41f13;
$red-2: #b00d23;


// FROM VARS
$great-primary: #1e1348;
$light-grey: #777;
$flag-red: #b00d23;
$lighter-grey: #dce0df;
$lighter-grey-opacity: rgba(220, 224, 223, .5);
$logo-width: 300px;

// FONTS
$font-heading: "Roboto", arial, helvetica, sans-serif;

// BREAKPOINTS
$tablet: 960px;
$mobile: 400px;
