{% extends '../base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    About your business: business details. {{ block.super }}
{% endblock %}
{% block meta_title %}About your business: business details. {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        {% include '../includes/triage_header.html' with back_url=back_url hint_title='About your business' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" onsubmit="return onSubmitBusinessDetails()">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h1 class="govuk-heading-l">Business details</h1>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.company_name.errors %} govuk-form-group--error{% endif %}">
                                {% include '../includes/form_field.html' with field=form.company_name %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.sector_sub.errors %} govuk-form-group--error{% endif %}">
                                {% include '../includes/form_field.html' with field=form.sector_sub %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.company_location.errors %} govuk-form-group--error{% endif %}">
                                {% include '../includes/form_field.html' with field=form.company_location %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-4">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.company_website.errors %} govuk-form-group--error{% endif %}">
                                {% include '../includes/form_field.html' with field=form.company_website %}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-top-5">
                        <div class="govuk-grid-column-full">
                            {% include '../includes/submit_button.html' with button_text='Save and continue' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'javascript/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascript/expand-your-business.js' %}"></script>
    <script type="text/javascript">
        const onSubmitBusinessDetails = () => {
            if (!document.getElementById('js-sector-select').value) {
                document.getElementById('js-sector-select-select').value = '';
            }
            if (!document.getElementById('js-company-location-select').value) {
                document.getElementById('js-company-location-select-select').value = '';
            }
        }

        const countries = [
            'Abu Dhabi',
            'Afghanistan',
            'Ajman',
            'Akrotiri',
            'Åland Islands',
            'Albania',
            'Algeria',
            'American Samoa',
            'Andorra',
            'Angola',
            'Anguilla',
            'Antigua and Barbuda',
            'Argentina',
            'Armenia',
            'Aruba',
            'Ascension',
            'Australia',
            'Austria',
            'Azerbaijan',
            'Bahrain',
            'Baker Island',
            'Bangladesh',
            'Barbados',
            'Belarus',
            'Belgium',
            'Belize',
            'Benin',
            'Bermuda',
            'Bhutan',
            'Bolivia',
            'Bonaire',
            'Bosnia and Herzegovina',
            'Botswana',
            'Brazil',
            'British Indian Ocean Territory',
            'British Virgin Islands',
            'Brunei',
            'Bulgaria',
            'Burkina Faso',
            'Burundi',
            'Cambodia',
            'Cameroon',
            'Canada',
            'Cape Verde',
            'Cayman Islands',
            'Central African Republic',
            'Ceuta',
            'Chad',
            'Chile',
            'China',
            'Christmas Island',
            'Cocos (Keeling) Islands',
            'Colombia',
            'Comoros',
            'Congo',
            'Congo (Democratic Republic)',
            'Cook Islands',
            'Costa Rica',
            'Croatia',
            'Cuba',
            'Curaçao',
            'Cyprus',
            'Czechia',
            'Denmark',
            'Dhekelia',
            'Djibouti',
            'Dominica',
            'Dominican Republic',
            'Dubai',
            'East Timor',
            'Ecuador',
            'Egypt',
            'El Salvador',
            'Equatorial Guinea',
            'Eritrea',
            'Estonia',
            'Eswatini',
            'Ethiopia',
            'Falkland Islands',
            'Faroe Islands',
            'Fiji',
            'Finland',
            'France',
            'French Guiana',
            'French Polynesia',
            'Fujairah',
            'Gabon',
            'Georgia',
            'Germany',
            'Ghana',
            'Gibraltar',
            'Greece',
            'Greenland',
            'Grenada',
            'Guadeloupe',
            'Guam',
            'Guatemala',
            'Guernsey',
            'Guinea',
            'Guinea-Bissau',
            'Guyana',
            'Haiti',
            'Honduras',
            'Hong Kong',
            'Howland Island',
            'Hungary',
            'Iceland',
            'India',
            'Indonesia',
            'Iran',
            'Iraq',
            'Ireland',
            'Isle of Man',
            'Israel',
            'Italy',
            'Ivory Coast',
            'Jamaica',
            'Japan',
            'Jarvis Island',
            'Jersey',
            'Johnston Atoll',
            'Jordan',
            'Kazakhstan',
            'Kenya',
            'Kingman Reef',
            'Kiribati',
            'Kosovo',
            'Kuwait',
            'Kyrgyzstan',
            'Laos',
            'Latvia',
            'Lebanon',
            'Lesotho',
            'Liberia',
            'Libya',
            'Liechtenstein',
            'Lithuania',
            'Luxembourg',
            'Macao',
            'Madagascar',
            'Malawi',
            'Malaysia',
            'Maldives',
            'Mali',
            'Malta',
            'Marshall Islands',
            'Martinique',
            'Mauritania',
            'Mauritius',
            'Mayotte',
            'Melilla',
            'Mexico',
            'Micronesia',
            'Midway Islands',
            'Moldova',
            'Monaco',
            'Mongolia',
            'Montenegro',
            'Montserrat',
            'Morocco',
            'Mozambique',
            'Myanmar (Burma)',
            'Namibia',
            'Nauru',
            'Navassa Island',
            'Nepal',
            'Netherlands',
            'New Caledonia',
            'New Zealand',
            'Nicaragua',
            'Niger',
            'Nigeria',
            'Niue',
            'Norfolk Island',
            'Northern Mariana Islands',
            'North Korea',
            'North Macedonia',
            'Norway',
            'Occupied Palestinian Territories',
            'Oman',
            'Pakistan',
            'Palau',
            'Palmyra Atoll',
            'Panama',
            'Papua New Guinea',
            'Paraguay',
            'Peru',
            'Philippines',
            'Pitcairn, Henderson, Ducie and Oeno Islands',
            'Poland',
            'Portugal',
            'Puerto Rico',
            'Qatar',
            'Ras al-Khaimah',
            'Réunion',
            'Romania',
            'Russia',
            'Rwanda',
            'Saba',
            'Saint Barthélemy',
            'Saint Helena',
            'Saint-Martin (French part)',
            'Saint Pierre and Miquelon',
            'Samoa',
            'San Marino',
            'Sao Tome and Principe',
            'Saudi Arabia',
            'Senegal',
            'Serbia',
            'Seychelles',
            'Sharjah',
            'Sierra Leone',
            'Singapore',
            'Sint Eustatius',
            'Sint Maarten (Dutch part)',
            'Slovakia',
            'Slovenia',
            'Solomon Islands',
            'Somalia',
            'South Africa',
            'South Georgia and South Sandwich Islands',
            'South Korea',
            'South Sudan',
            'Spain',
            'Sri Lanka',
            'St Kitts and Nevis',
            'St Lucia',
            'St Vincent',
            'Sudan',
            'Suriname',
            'Svalbard and Jan Mayen',
            'Sweden',
            'Switzerland',
            'Syria',
            'Taiwan',
            'Tajikistan',
            'Tanzania',
            'Thailand',
            'The Bahamas',
            'The Gambia',
            'Togo',
            'Tokelau',
            'Tonga',
            'Trinidad and Tobago',
            'Tristan da Cunha',
            'Tunisia',
            'Turkey',
            'Turkmenistan',
            'Turks and Caicos Islands',
            'Tuvalu',
            'Uganda',
            'Ukraine',
            'Umm al-Quwain',
            'United Arab Emirates',
            'United Kingdom',
            'United States',
            'United States Virgin Islands',
            'Uruguay',
            'Uzbekistan',
            'Vanuatu',
            'Vatican City',
            'Venezuela',
            'Vietnam',
            'Wake Island',
            'Wallis and Futuna',
            'Western Sahara',
            'Yemen',
            'Zambia',
            'Zimbabwe',
        ];
        accessibleAutocomplete.enhanceSelectElement({
            selectElement: document.getElementById('js-company-location-select'),
            source: countries,
            autoselect: false,
            minLength: 2,
        });
    </script>
    <script>
        const allSectorsJson = JSON.parse("{{autocomplete_sector_data | escapejs}}");

        let allSectors = []
        // strip out parent only sectors as users are selecting sub or sub sub sectors here
        for (let i = 0; i < allSectorsJson.length; i++) {
            if (allSectorsJson[i]['sub_sector_name']) {
                allSectors.push(allSectorsJson[i]);
            }
        }

        function sectorSuggest(query, populateResults) {
            if (!query) return [];
            let results = [];
            for (let i = 0; i < allSectors.length; i++) {
                const parentSector = allSectors[i].sector_name;
                let subSector = allSectors[i].sub_sector_name || '';
                let subSubSector = allSectors[i].sub_sub_sector_name || '';
                if (parentSector.toLowerCase().indexOf(query.toLowerCase()) !== -1 || subSector.toLowerCase().indexOf(query.toLowerCase()) !== -1 || subSubSector.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                    results.push(allSectors[i]);
                }
            }
            populateResults(results);
        }

        accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.getElementById('js-sector-select'),
        source: sectorSuggest,
        autoselect: false,
        templates: {
            inputValue: (selectedSectorRow) => {
                if (selectedSectorRow) {
                    if (!selectedSectorRow.sub_sub_sector_name) {
                        return `${selectedSectorRow.sub_sector_name}`;
                    } else {
                        return `${selectedSectorRow.sub_sub_sector_name}`;
                    }
                } else {
                    return
                }
            },
            suggestion: (selectedSectorRow) => {
                if (typeof selectedSectorRow !== 'object') {
                    return selectedSectorRow
                }
                if (!selectedSectorRow.sub_sub_sector_name) {
                    return `<span>${selectedSectorRow.sub_sector_name}</span><br><span class='govuk-!-font-size-16'>${selectedSectorRow.sector_name}</span>`;
                } else {
                    return `<span>${selectedSectorRow.sub_sub_sector_name}</span><br><span class='govuk-!-font-size-16'>${selectedSectorRow.sector_name} > ${selectedSectorRow.sub_sector_name}</span>`;
                }

            }
        },
        minLength: 2,
        onConfirm: function(selectedRow) {
            // onConfirm seems to be triggered by autocomplete many times passing null
            if (selectedRow) {
                // When overriding onconfirm as per docs, it seems to then not automatically update
                // the actual select elements selected value and so isnt posted on form submit
                const sectorSelectInput = document.querySelector('#js-sector-select-select');

                const setSectorSelectValue = (value) => {
                    for (let i = 0; i < sectorSelectInput.options.length; i++) {
                        if (sectorSelectInput.options[i].value === selectedRow.sector_id) {
                            sectorSelectInput.selectedIndex = i;
                            break;
                        }
                    }
                }
                setSectorSelectValue(selectedRow);
            }
        }
        });
    </script>
{% endblock %}
