{% extends '../base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    About your business: headquarters location {{ block.super }}
{% endblock %}
{% block meta_title %}About your business: headquarters location {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block head_css %}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great-container">
        {% include '../includes/triage_header.html' with back_url=back_url %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" onsubmit="return onSubmitBusinessDetails()">
                    {% csrf_token %}
                    {{ form.js_enabled }}
                    <h2 class="govuk-caption-l">
                        <span class="govuk-visually-hidden">This section is</span>About your business
                    </h2>
                    <div class="govuk-form-group {% if form.errors %}govuk-form-group--error{% endif %}">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="js-company-location-select">
                                Which country, region or territory is your headquarters located in?
                            </label>
                        </h1>
                        {% include 'international/includes/form_field.html' with field=form.company_location inputWrapperClass='prepend-search-icon' help_class='govuk-hint govuk-!-margin-bottom-3' %}
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'international/includes/submit_button.html' with button_text=progress_button_text %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    {% comment %} below JS migrated from business_details page {% endcomment %}
    <script type="text/javascript"
            src="{% static 'javascript/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/countries.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascript/expand-your-business.js' %}"></script>
    <script type="text/javascript">document.getElementById('id_js_enabled').value='True'</script>
    <script type="text/javascript">
        const onSubmitBusinessDetails = () => {
            if (!document.getElementById('js-company-location-select').value) {
                document.getElementById('js-company-location-select-select').value = '';
            }
        }

        accessibleAutocomplete.enhanceSelectElement({
            selectElement: document.getElementById('js-company-location-select'),
            source: countries,
            autoselect: false,
            minLength: 2,
        });
    </script>
    <script type="text/javascript">autocompleteFocusOnESC('#js-company-location-select', '#js-company-location-select__listbox')</script>
{% endblock %}
