{% extends '../base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    About your business: find you company {{ block.super }}
{% endblock %}
{% block meta_title %}About your business: find your company {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block head_css %}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
    {{ block.super }}
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% comment %}
                    lifting error messaging into this template and hardcoding id
                    as we use hidden fields which cannot be linked to via href
                {% endcomment %}
                {% if form.errors %}
                    <div class="govuk-error-summary" data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">There is a problem</h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    {% for error in form.company_name.errors %}
                                        <li>
                                            <a href="#js-company-name-autocomplete">{{ error }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if not form.company_name.errors %}
                                        {% for error in form.duns_number.errors %}
                                            <li>
                                                <a href="#js-company-name-autocomplete">{{ error }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <h2 class="govuk-caption-l">
                        <span class="govuk-visually-hidden">This section is</span>About your business
                    </h2>
                    <div class="govuk-form-group {% if form.errors %}govuk-form-group--error{% endif %}">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="js-company-name-autocomplete">Search for your company name</label>
                        </h1>
                        <div class="govuk-hint govuk-!-margin-bottom-3"
                             id="help_for_js-company-name-autocomplete">
                            Start entering your company name and select from results
                        </div>
                        {% if form.errors %}
                            <div class="govuk-!-margin-bottom-3 error-text"
                                 id="help_for_js-company-name-autocomplete">
                                {% for error in form.company_name.errors %}{{ error }}{% endfor %}
                                {% if not form.company_name.errors %}
                                    {% for error in form.duns_number.errors %}{{ error }}{% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="company-autocomplete-wrapper govuk-!-margin-bottom-6">
                            {{ form }}
                            <div id="company-autocomplete" class="prepend-search-icon"></div>
                            <p id="autocomplete-source"
                               class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-3">
                                Results from
                                <a class="govuk-link govuk-link--muted"
                                   href="https://www.dnb.com/choose-your-country.html"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                    Dun &amp; Bradstreet
                                    <span class="govuk-visually-hidden">(opens in a new tab)</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-button-group">
                                {% include 'international/includes/submit_button.html' with button_text=progress_button_text %}
                                <span class="govuk-body"> or <a class="govuk-link govuk-!-margin-left-1"
    href="{% url 'international_online_offer:company-details' %}{% if request.GET.company_location_change %}?company_location_change=true{% endif %}{% if request.GET.next %}?next={{ request.GET.next }}&back={% url 'international_online_offer:find-your-company' %}?next={{ request.GET.next }}{% endif %}">Enter company details manually</a> </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    {% comment %} below pattern from https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#json-script {% endcomment %}
    {% url 'international_online_offer:dnb-typeahead-company-lookup' as typeahead_url %}
    {% url 'international_online_offer:dnb-company-search' as company_search_url %}
    {{ typeahead_url|json_script:'typeahead-url' }}
    {{ company_search_url|json_script:'company-search-url' }}
    {{ country|json_script:'country' }}
    {{ display_country|json_script:'display_country' }}
    <script type="text/javascript"
            src="{% static 'javascript/accessible-autocomplete.min.js' %}"></script>
    <script src="{% static 'javascript/vendor/lodash.debounce.js' %}"></script>
    <script type="text/javascript">
                const typeaheadURL = JSON.parse(document.getElementById('typeahead-url').textContent);
                const companySearchURL = JSON.parse(document.getElementById('company-search-url').textContent);
                const country = JSON.parse(document.getElementById('country').textContent);
                const display_country = JSON.parse(document.getElementById('display_country').textContent);
                // use a flag to control whether or not we want to make an api call and display a dropdown of results.
                let retrieveDNBCompanies = true;

                function setTypeAheadInitialValue () {
                    // set value of input text if a company name already exists (i.e. user is editing company name)
                    dnsNumber = document.querySelector('#company-duns-number').value;
                    if (dnsNumber) {
                        let companyNameInputElement = document.querySelector('#js-company-name-autocomplete')
                        let existingCompanyName = document.querySelector('#company-name').value
                        if (existingCompanyName.length > 0){
                            companyNameInputElement.value = existingCompanyName.toUpperCase();
                            // in this scenario we don't want the dropdown to immediatly appear as soon as the page is loaded and
                            // the input text value is set to the previous company name. The dropdown is only shown when the user focuses
                            // on the input element.
                            retrieveDNBCompanies = false;
                        }
                    }
                }

                function getCountryISO2(country) {
                    // some companies in dnb listed under a truncated iso2 code, e.g. a company in AE-AZ should be called with country=AE
                    let truncatedISO = country.substring(0, 2)
                    // some companies in dnb require the api to be called with a different iso2 code, e.g. companies in Guernsey (GG)
                    // are listed under United Kingdom (GB)
                    const mapping = {
                        'AX': 'FI',
                        'CC': 'AU',
                        'NC': 'FR',
                        'GG': 'GB',
                        'IM': 'GB',
                        'JE': 'GB',
                        'YT': 'FR',
                        'UM': 'US',
                        'NU': 'NZ',
                        'PW': 'FM',
                        'PS': 'IL',
                        'PR': 'US',
                        'BL': 'FR',
                        'MF': 'FR',
                        'PM': 'FR',
                        'SJ': 'NO',
                        'VA': 'IT',
                        'VI': 'US',
                        'WF': 'FR',
                        'EH': 'MA'
                    }

                    return truncatedISO in mapping ? mapping[truncatedISO] : truncatedISO
                }

                function getCountryDisplayName(countryISO2){
                    return countryISO2 in countryISO2CodeToName ? countryISO2CodeToName[countryISO2] : countryISO2
                }

                async function suggest (query, populateResults) {
                    console.log(`get company query is ${query}`)
                    let countryISO2 = getCountryISO2(country)
                    let queryParams = `searchTerm=${query}&countryISOAlpha2Code=${countryISO2}&candidateMaximumQuantity=25`;
                    // only make api call if we are going to show results
                    if (retrieveDNBCompanies == true) {
                        r = await fetch(`${typeaheadURL}?${queryParams}`);
                        result = await r.json();
                        document.getElementById('autocomplete-source').classList.add('autocomplete-source-display')
                        populateResults(result?.results);
                    }
                }

                function formatSuggestion (company){
                    output = `<span>${company?.primary_name.toUpperCase()}</span><br>`
                    output += "<span class='govuk-!-font-size-16 eyb-sector-lookup-second-row'>"
                    output += company?.address_line_1.length > 0 ? `${company?.address_line_1.toUpperCase()}, ` : ''
                    output += company?.address_line_2.length > 0 ? `${company?.address_line_2.toUpperCase()}, ` : ''
                    output += company?.address_town.length > 0 ? `${company?.address_town.toUpperCase()}, ` : ''
                    output += company?.address_postcode.length > 0 ? `${company?.address_postcode.toUpperCase()}, ` : ''
                    output += company?.address_country.length > 0 ? `${getCountryDisplayName(company?.address_country).toUpperCase()}` : ''
                    output += `</span>`
                    return output
                }

                async function getWebsite(companyDuns){
                    // seperate function as typeahead results don't contain website
                    website = ''
                    try {
                        const r = await fetch(`${companySearchURL}?duns=${companyDuns}`)
                        result = await r.json();
                        // there should only be one match as duns number is unique
                        website = result.results[0]?.domain
                    } catch (e){
                    }
                    return website
                }

                accessibleAutocomplete({
                    element: document.querySelector('#company-autocomplete'),
                    id: 'js-company-name-autocomplete',
                    source: debounce(suggest, 300),
                    autoselect: false,
                    minLength: 2,
                    templates: {
                        inputValue: (company) => {
                            return company?.primary_name.toUpperCase()
                        },
                        suggestion: formatSuggestion
                    },
                    onConfirm: async function(selectedRow) {
                        if (selectedRow){
                            document.querySelector('#company-name').value = selectedRow?.primary_name
                            document.querySelector('#company-duns-number').value = selectedRow?.duns_number
                            document.querySelector('#address-line-1').value = selectedRow?.address_line_1
                            document.querySelector('#address-line-2').value = selectedRow?.address_line_2
                            document.querySelector('#address-town').value = selectedRow?.address_town
                            document.querySelector('#address-county').value = selectedRow?.address_county
                            document.querySelector('#address-postcode').value = selectedRow?.address_postcode
                            document.querySelector('#company-website').value = await getWebsite(selectedRow?.duns_number)
                        }
                    }
                });

                setTypeAheadInitialValue()


                document.querySelector('#js-company-name-autocomplete').setAttribute('maxlength', 30)

                document.querySelector('#js-company-name-autocomplete').addEventListener('focus', ()=>{
                    retrieveDNBCompanies = true
                })

                document.querySelector('#js-company-name-autocomplete').addEventListener('input', ()=>{
                    document.querySelector('#company-duns-number').value = ''
                })
    </script>
    <script type="text/javascript">autocompleteFocusOnESC('#js-company-name-autocomplete', '#js-company-name-autocomplete__listbox')</script>
{% endblock %}
