{% extends '../base.html' %}
{% load static %}
{% block head_title %}
    {% if form.location.errors %}Error:{% endif %}
    Where in the UK would you like to expand your business?
    {{ block.super }}
{% endblock %}
{% block meta_title %}Where in the UK would you like to expand your business? {{ block.super }}{% endblock %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        {% include '../includes/triage_header.html' with back_url=back_url step_text=step_text %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" onsubmit="return onSubmitLocation()">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h1 class="govuk-label-wrapper">
                                <label for='js-location-select' class="govuk-label govuk-label--l">{{ question_text }}</label>
                            </h1>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-2">
                        <div class="govuk-grid-column-full">
                            <div class="{% if form.location.errors %} govuk-form-group--error{% endif %}">
                                {% include 'international/includes/form_field.html' with field=form.location %}
                            </div>
                        </div>
                    </div>
                    <div id="region-city-information-container"
                         class="govuk-grid-row"
                         style="{% if not city %} display: none {% endif %}">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-inset-text">
                                <span id="city-text">{{ city }}</span> is in <span id="region-text" class="govuk-!-font-weight-bold">{{ region }}</span>, we will tailor your guide to this region.
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__divider">or</div>
                                <div class="{% if form.location.errors %} govuk-form-group--error{% endif %}">
                                    {% for error in form.location_none.errors %}
                                        <p class="govuk-error-message" role="alert">
                                            <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                        </p>
                                    {% endfor %}
                                    <div class="govuk-checkboxes__item">
                                        {{ form.location_none }}
                                        <label class="govuk-label govuk-checkboxes__label" for="id_location_none">{{ form.location_none.label }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-top-7 govuk-!-margin-bottom-3">
                        <div class="govuk-grid-column-full">{% include '../includes/submit_button.html' with button_text='Continue' %}</div>
                    </div>
                </form>
            </div>
        </div>
        {% include '../includes/triage_footer.html' with why_we_ask_this_question_text=why_we_ask_this_question_text %}
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'javascript/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript">
        // Gets json list of regions and cities from django - flattens to use
        // with autocomplete.
        const regionsAndCities = JSON.parse("{{autocomplete_location_data | escapejs}}");
        const cityTextContainer = document.querySelector('#city-text');
        const regionCityInfoContainer = document.querySelector('#region-city-information-container');
        const regionTextContainer = document.querySelector('#region-text');
        const flattenRegionAndCityDataForAutocomplete = (dataIn) => {
            let dataOut = [];
            for (let i = 0; i < dataIn.length; i++) {
                dataOut.push(dataIn[i].region);
                for (let o = 0; o < dataIn[i].cities.length; o++) {
                    dataOut.push(dataIn[i].cities[o]);
                }
            }
            return dataOut
        }
        const flattenedRegionsAndCities = flattenRegionAndCityDataForAutocomplete(regionsAndCities);
        const getRegionForCity = (city) => {
            for (let i = 0; i < regionsAndCities.length; i++) {
                for (let o = 0; o < regionsAndCities[i].cities.length; o++) {
                    if (regionsAndCities[i].cities[o] == city) {
                        return regionsAndCities[i].region;
                    }
                }
            }
        }
        accessibleAutocomplete.enhanceSelectElement({
            selectElement: document.querySelector('#js-location-select'),
            source: flattenedRegionsAndCities,
            autoselect: false,
            minLength: 2,
            onConfirm: function(selectedText) {
                // onConfirm seems to be triggered by autocomplete many times passing null
                if (selectedText) {
                    // When overriding onconfirm as per docs, it seems to then not automatically update
                    // the actual select elements selected value and so isnt posted on form submit
                    const locationSelectInput = document.querySelector('#js-location-select-select');
                    const setLocationSelectValue = (value) => {
                        for (let i = 0; i < locationSelectInput.options.length; i++) {
                            if (locationSelectInput.options[i].text === selectedText) {
                                locationSelectInput.selectedIndex = i;
                                break;
                            }
                        }
                    }
                    setLocationSelectValue(selectedText);
                    // Hide / show information around the region that the city is in,
                    // if selecting a city.
                    const region = getRegionForCity(selectedText)
                    if (region) {
                        cityTextContainer.innerText = selectedText;
                        regionTextContainer.innerText = region;
                        regionCityInfoContainer.style.display = '';
                    } else {
                        regionCityInfoContainer.style.display = 'none';
                    }
                }
            }
        });
    </script>
    <script type="text/javascript">autocompleteFocusOnESC('#js-location-select', '#js-location-select__listbox')</script>
{% endblock %}
