{% extends '../base.html' %}
{% load static %}
{% block head_title %}
    {% if form.spend.errors %}Error:{% endif %}
    {{ question_text }}
    {{ block.super }}
{% endblock %}
{% block meta_title %}{{ question_text }} {{ block.super }}{% endblock %}
{% block head_css %}{{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div id="spend-container">
            {% include '../includes/triage_header.html' with back_url=back_url hint_title='About your expansion plans' %}
        </div>
        <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-l">How much do you want to spend on setting up in the first three years?</h1>
                <form method="get" id="spendCurrencyForm" action="#spend-container">
                    {% csrf_token %}
                    {% if request.GET.next %}<input type="hidden" name="next" id="next" value="{{ request.GET.next }}" />{% endif %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds-from-desktop">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-three-quarters spend-currency-column">
                                    {% include 'international/includes/form_field.html' with field=spend_currency_form.spend_currency %}
                                </div>
                                <div class="govuk-grid-column-one-quarter spend-currency-column">
                                    <button type="submit"
                                            id="change-currency-button"
                                            class="govuk-button govuk-button--secondary govuk-!-margin-top-6 custom-select-button"
                                            data-module="govuk-button">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Select an estimate</legend>
                    <form method="post">
                        {% csrf_token %}
                        <div class="govuk-form-group govuk-!-margin-bottom-7 {% if form.spend.errors %}govuk-form-group--error{% endif %} govuk-!-margin-bottom-2">
                            {% include 'domestic/contact/includes/govuk-form-field.html' with field=form.spend hide_label=True %}
                        </div>
                        {% include '../includes/submit_button.html' with button_text='Save and continue' %}
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'javascript/dit.components.toggleOther.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascript/expand-your-business.js' %}"></script>
    <script>
        document.getElementById("change-currency-button").style.visibility = "hidden";
        function refreshSelectedCurrency() {
            document.getElementById('spendCurrencyForm').submit();
        }
    </script>
{% endblock %}
