{% extends '../base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    About your expansion plans: Do you know where you want to set up in the UK? {{ block.super }}
{% endblock %}
{% block meta_title %}
    About your expansion plans: Do you know where you want to set up in the UK? {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great-container">
        {% include '../includes/triage_header.html' with back_url=back_url %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post">
                    {% csrf_token %}
                    <h2 class="govuk-caption-l">
                        <span class="govuk-visually-hidden">This section is</span>About your expansion plans
                    </h2>
                    <div class="{% if field.errors %} govuk-form-group--error{% endif %}">
                        <div class="govuk-form-group {% if form.landing_timeframe.errors %}govuk-form-group--error{% endif %}">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">When do you want to set up?</h1>
                                </legend>
                                {% include 'domestic/contact/includes/govuk-form-field.html' with field=form.landing_timeframe hide_label=True %}
                            </fieldset>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                {% include 'international/includes/submit_button.html' with button_text='Save and continue' %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
