@import 'helpers/colours';
@import 'design-system/mixins';

.great-mvp-tour-modal {
  padding: 35px;
}

.great-mvp-tour-heading {
  @include modalHeading;
}

.great-mvp-tour-text {
  @include modalText;
  margin-top: 16px;
  margin-bottom: 34px;
}

.great-mvp-tour-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
