@import 'helpers/colours';
@import 'design-system/mixins';

.great-tour-modal {
  background: $white;
  padding: 35px;

  img {
    max-width: 100%;
  }
}

.great-tour-heading {
  @include modalHeading;
}

.great-tour-text {
  @include modalText;
  margin-top: 16px;
  margin-bottom: 34px;
}

.great-tour-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
