{% comment %}
The exporplan list card.
Only show if > 0 plans in list
{% endcomment %}
{% load url_map %}
{% load progress_bar %}
{% load static %}
<div class="g-card">
  <div class="g-card-header flex-jc-space-between flex-ai-center">
    <h2>My export plans</h2>
    <a class="button tertiary-button" href="{% url 'exportplan:start' %}"><i class="fas fa-play"></i>Create a new plan</a>
  </div>
  {% for plan in exportplan_list|slice:":3" %}
  <div class="grid m-h-0 g-card-full">
    {% include 'exportplan/includes/list_card_small.html' %}
    {% if not forloop.last %}
    <hr class="hr hr--light m-v-0 m-h-s">
    {% endif %}
  </div>
  {% endfor %}
  <a class="button primary-button" href="{% url 'exportplan:index' %}">View all export plans</a>
</div>
