{% comment %}
The lesson progress card.
Only show if progress has started
{% endcomment %}

{% load progress_bar %}

{% if lessons_in_progress %}
  <div class="g-card p-b-0" id="your-progress-card">
    {% include "./card_header.html" with title="Learn to export" %}
      {% for module_page in module_pages %}
        <div class="grid m-h-0 g-card-full">
          {% if forloop.counter > 1 %}
            <hr class="hr hr--light c-full m-v-0" />
          {% endif %}
          <div class="flex-center">

            <h3 class="c-2-3 p-v-s p-h-0" id="topics-{{ module_page.page.title|slugify }}">
                <a class="link" href="{{ module_page.page.get_url }}">{{ module_page.page.title }}</a>
            </h3>
            <div class="c-1-3 p-v-s p-f-0 p-r-s lh-1">
                {% if module_page.completion_count %}
                    {% progress_bar  module_page.total_pages module_page.completion_count %}
                    <p class="topics-read-text body-m-b m-t-xxs m-b-0">{{ module_page.completion_count }} / {{ module_page.total_pages }} lesson{% if topic_progress_data.lessons_available > 1 %}s{% endif %} completed</p>
                {% else %}
                    <span class="body-small">Not yet started</span>
                {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
{% endif %}
