{% comment %}
The lesson progress card.
Only show if progress has started
{% endcomment %}
{% if lessons_in_progress %}
  <div class="g-card p-b-0" id="your-progress-card">
      <div class="g-card-header">
           <h3 class="h-s p-t-xxs">Learn to export</h3>
      </div>
      {% for module_page in module_pages %}
          <div class="grid m-h-0 g-card-full">
              {% if forloop.counter > 1 %}
                  <hr class="c-full m-v-0 bg-light-grey" />
              {% endif %}
              <h3 class="c-2-3 p-s" id="topics-{{ module_page.page.title|slugify }}">
                  <a class="link" href="{{ module_page.page.get_url }}">{{ module_page.page.title }}</a>
              </h3>
              <div class="c-1-3 p-v-s p-f-0 p-r-s lh-1">
                  {% if module_page.read_count %}
                      <span class="topics-read-text body-m lh-1">{{ module_page.read_count }}/{{ module_page.total_pages }} complete</span>
                      <progress class="w-full-all" id="topics-read-count-{{ module_page.page.title|slugify }}" value="{{ module_page.read_count }}" max="{{ module_page.total_pages }}">{{ module_page.read_count }}/{{ module_page.total_pages }}</progress>
                  {% else %}
                      <span class="body-small">Not yet started</span>
                  {% endif %}
              </div>
          </div>
      {% endfor %}
  </div>
{% endif %}
