
<div class="g-card" id="discover-new-markets-card">
    <div class="g-card-header">
        <h3 class="h-m">Discover new markets</h3>
    </div>
    <div>
        <div class="grid m-v-0">
            <h3 class="c-2-3 h-s p-v-0">United States</h3>
            <div class="c-1-3 great-mvp-right-text">
                <ul class="m-v-0 card-heading text-12">
                    <li>FOOD AND DRINK</li>
                    <li>AGRICULTURE</li>
                    <li>RAIL</li>
                </ul>
            </div>
        </div>
        <hr class="grid m-v-xxs m-f-0 bg-light-grey" />
        <div class="grid m-v-0">
            <h3 class="c-2-3 h-s p-v-0">France</h3>
            <div class="c-1-3 great-mvp-right-text">
                <ul class="m-v-0 card-heading text-12">
                    <li>FOOD AND DRINK</li>
                    <li>AGRICULTURE</li>
                    <li>RAIL</li>
                </ul>
            </div>
        </div>
        <hr class="grid m-v-xxs m-f-0 bg-light-grey" />
        <div class="grid m-v-0">
            <h3 class="c-2-3 h-s p-v-0">Belgium</h3>
            <div class="c-1-3 great-mvp-right-text">
                <ul class="m-v-0 card-heading text-12">
                    <li>FOOD AND DRINK</li>
                    <li>AGRICULTURE</li>
                    <li>RAIL</li>
                </ul>
            </div>
        </div>
    </div>
</div>
