<div class="g-card" id="tariffs-and-duties-card">
    {% include "./card_header.html" with title="Tariffs and duties" %}
    <div class="m-b-xs">Exporting to <a href="#" class="link">China</a></div>

    <table>
        <thead>
            <tr>
                <th class="card-heading text-12">COMMODITY</th>
                <th class="card-heading text-12">VAT</th>
                <th class="card-heading text-12">THIRD COUNTRY DUTY</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="bold">0747439</div>
                    <div>Fresh or chilled edible mushrooms (excl. chaterelles, flap mushrooms, mushrooms of genus "Agaricus" and truffles)</div>
                </td>
                <td>0%</td>
                <td>12%</td>
            </tr>
        </tbody>
    </table>
</div>

