{% load static %}

<div class="great govuk-!-padding-4 great-margin-bottom-30 great-padding-top-35 great-bg-white">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">UK Export Academy</h2>
    <p class="govuk-body">Join our online or in-person events and learn how to sell confidently overseas.</p>
    <a href="{% url 'export_academy:upcoming-events' %}" class="govuk-button govuk-!-margin-bottom-3">View all events</a>
    <img src="{% static 'images/EA-header-lady_Light_green.png' %}" alt="Woman smiling with tablet" class="great-max-width-100" />
</div>
