[run]

omit =
    .venv/*
    venv/*
    config/*
    manage.py
    **/tests/*
    conftest.py
    **/migrations/*
    *__init__*
    docs/*
    htmlcov/*
    node_modules/*
    javascript/*
    static/*

plugins =
    django_coverage_plugin

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True
