# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.sass-cache/
venv/
.venv/
staticfiles
BrowserStackLocal
node_modules/
activate/
coverage/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
results/
allure_results/
cms-test-db.db

# Django stuff:
*.log

# Sphinx documentation
docs/build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# No need to track the dev db
db.sqlite3

# PyCharm
.idea
.idea-env

.direnv/

# PyTest
.pytest_cache/

# OSX

*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# JS
node_modules/
.vscode/

# Docker
media
config/.env
config/env/secrets-do-not-commit

# Python, we should fix these by not creating them with 'make secrets'
dev
config/env/secrets-do-not-commit-e

# localfiles
.env
domestic/migrations/__pycache__/__init__.cpython-36.pyc

# InVision Design system manager, ignores logs files
.dsm
storybook-static/
