-r requirements.in

# Testing
# ------------
Werkzeug
pytest
pytest-cov
pytest-django
pytest-sugar
wagtail-factories
django-debug-toolbar
requests-mock
pip-tools
ipdb
django-coverage-plugin


# Code quality
# -------------
flake8
pylint-django
coveralls




