# Django
# ------------
django==2.2.*
django-environ==0.4.*
django-filter==2.2.*
django-redis==4.10.*
django_storages[boto3]==1.8.*
django-extensions==2.2.*
django-ipware==2.1.*
djangorestframework==3.11.*
django-formtools==2.*
django-decorator-include==3.0

# Wagtail
# ------------
wagtail-factories==2.0.*
wagtail==2.10.*
wagtail-personalisation==0.14.*
wagtail-cache==1.0.*
wagtailmedia==0.5.0
wagtailfontawesome==1.2.1
wagtail-transfer==0.6.0

# Prod tools
# ------------
gunicorn==19.5.*
sentry-sdk==0.13.*


# DIT packages
# ------------
great-components==1.1.*
directory-api-client==22.14.*
directory-constants==20.22.*
directory-forms-api-client==5.3.*
directory-sso-api-client>=6.5.*
django-staff-sso-client==1.0.*
directory-validators==6.0.4
django-recaptcha==2.0.6

whitenoise==4.1.*
psycopg2==2.8.* --no-binary psycopg2
boto3==1.11.*
geoip2==2.9.*
airtable-python-wrapper==0.13.*
markdown2==2.3.9
iso3166==1.0.1
freezegun==0.1.5
sphinx==1.8.*
readtime==1.*
cryptography==3.3.2
pillow>=7.1.0
factory-boy==2.12.*
dateparser==0.7.2
