# Django
# ------------
django==3.2.16
django-environ==0.4.*
django-redis==5.2.*
django_storages[boto3]==1.8.*
django-extensions==3.1.*
django-ipware==2.1.*
djangorestframework==3.11.*
django-formtools==2.3
django-decorator-include==3.0
django-treebeard>=4.2.0,<4.5

# Wagtail
# ------------
wagtail==2.15.6
wagtail-factories==2.0.*
wagtail-cache==1.0.*
wagtailmedia==0.5.0
wagtailfontawesome==1.2.1
wagtail-transfer==0.7.*
wagtail-seo==1.0.0
wagtail-trash==0.1.*

# Prod tools
# ------------
gunicorn==20.1.0
sentry-sdk==0.13.*


# DIT packages
# ------------
great-components>=2.1.*
directory-api-client>=26.*
directory-constants==22.0.*
directory-healthcheck==3.0.0
directory-forms-api-client==7.1.*
directory-sso-api-client>=7.1.*
django-staff-sso-client==4.0.*
directory-ch-client==3.0.*
directory-validators==9.2.*
django-recaptcha==3.0.*

# Other Python deps
# -----------------

whitenoise==6.*
psycopg2==2.9.* --no-binary psycopg2
boto3==1.24.*
geoip2==2.9.*
airtable-python-wrapper==0.13.*
markdown2==2.4.0
iso3166==1.0.1
sphinx==1.8.*
readtime==1.*
cryptography>=38.0.3
pillow>=7.1.0
factory-boy==2.12.*
dateparser==0.7.2
xhtml2pdf==0.2.*
pisa==3.0.*
lxml>=4.6.3
sigauth==4.3.0
elastic-apm==6.1.*
uk-postcode-utils==1.1
urllib3>=1.26.5<2.0.0
hashids==0.8.4
elasticsearch>=7.0.0,<7.14.0
elasticsearch-dsl>=7.0.0,<8.0.0
python-magic==0.4.27
oauthlib==3.2.1
