-r requirements.in

# Testing
# ------------
Werkzeug
allure-pytest
pillow
selenium
locust
pytest==5.3.5
pytest-cov
pytest-django
pytest-sugar
django-debug-toolbar
requests-mock
pip-tools
ipdb
beautifulsoup4

# Code quality
# -------------
flake8
flake8-quotes
flake8-blind-except
flake8-debugger
flake8-print
flake8-quotes
flake8-string-format
pep8-naming
pylint-django
coveralls
