# Django
# ------------
django==2.2.*
django-environ==0.4.*
django-filter==2.2.*
django-redis==4.10.*
django_storages[boto3]==1.8.*
django-pglocks==1.0.*
django-extensions==2.2.*


# Wagtail
# ------------
wagtail==2.7.*


# Prod tools
# ------------
gunicorn==19.5.*
sentry-sdk==0.13.*


# DIT packages
# ------------
django-staff-sso-client==1.0.1


notifications-python-client==5.5.*
whitenoise==4.1.*
psycopg2==2.8.* --no-binary psycopg2
boto3==1.11.*