-r requirements.in

# Testing
# ------------
Werkzeug
allure-pytest
pillow
locustio
pytest
pytest-bdd
pytest-cov
pytest-django
pytest-splinter
pytest-sugar
wagtail-factories
django-debug-toolbar
requests-mock
pip-tools
ipdb
django-coverage-plugin
beautifulsoup4

# Code quality
# -------------
flake8
pylint-django
codecov
