{% extends 'domestic/base.html' %}
{% load static %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/ukef-contact-page-success.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block css_layout_class %}uk-export-contact-form-success{% endblock %}
{% block content %}
<section id="thank-you-section" class="thank-you-section padding-bottom-45">
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% with "We've received your form and have sent an email to "|add:user_email as success_message %}
                    {% include 'components/message_box.html' with heading="Thank you" description=success_message %}
                {% endwith %}
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large margin-top-0">What happens next</h1>
            <ul class="list list-bullet">
                <li>
                    We'll review your submission. We aim to respond within 28 days, but this may take longer, as we work on a case-by-case basis
                </li>
                <li>
                    If appropriate we'll set a date for a meeting with a member of our business development team, and will give you detailed guidance on how to prepare for it
                </li>
            </ul>
        </div>
    </div>
    <a href="/" class="link block margin-top-30 margin-bottom-60">Continue to great.gov.uk</a>
</div>
{% endblock content %}
