{% extends 'domestic/base.html' %}
{% load wagtailcore_tags %}
{% load add_bullets from content_tags %}
{% load static %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/ukef-home-page.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block head_title %}UK Export Finance{% endblock %}
{% block meta_title %}UK Export Finance{% endblock %}
{% block css_layout_class %}uk-export-finance{% endblock %}
{% block content %}
    {% static 'images/UKEF-Home-header.png' as hero_xlarge %}
    {% include 'components/hero.html' with image_url=hero_xlarge hero_title='UK Export Finance' hero_text='Get the right finance and insurance in place to help you win contracts, fulfil orders and get paid' %}
    <section id="list-teaser-section"
             class="list-teaser-section padding-top-30 padding-bottom-60">
        <div class="container">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <p>
                        UK Export Finance is the UK’s export credit agency. In the last five years we’ve provided £14&nbsp;billion of support for exports and international trade. You can get finance and insurance from the UK government.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="card-list-section" class="card-list-section padding-vertical-60">
        <div class="container">
            <div class="great-ds-card-container">
                {% slugurl 'trade-finance' as trade_finance_url %}
                {% static 'images/Trade-finance-thumbnail.png' as offer_section_image %}
                {% with trade_finance_description|add_bullets:trade_finance_bullets as formatted_description %}
                    {% include '_card.html' with href=trade_finance_url imageUrl=offer_section_image title='Trade finance for UK exporters' id='small-and-medium-businesses' description=formatted_description|safe classes="great-ds-card--2" titleSize="l" hideArrow="true" %}
                {% endwith %}
                {% url 'domestic:project-finance' as project_finance_url %}
                {% static 'images/UKEF-Finance-International-thumbnail.png' as large_corporations %}
                {% with project_finance_description|add_bullets:project_finance_bullets as formatted_description %}
                    {% include '_card.html' with href=project_finance_url imageUrl=large_corporations title='Finance for international projects' id='large-corporations-card' description=formatted_description|safe classes="great-ds-card--2" titleSize="l" hideArrow="true" %}
                {% endwith %}
            </div>
        </div>
    </section>
    <section id="why-you-choose-ukef"
             class="why-you-choose-ukef padding-vertical-60">
        <div class="container">
            <h2 class="heading heading-medium heading-light padding-bottom-60 margin-top-0 margin-bottom-0">
                Why choose UK Export Finance?
            </h2>
            <div class="grid-row">
                <div class="column-third-l">
                    <div class="grid-row">
                        <div class="column-full-l">
                            <img src="{% static 'icons/why-ukef-icon-1.png' %}" class="icon" alt="" />
                        </div>
                        <div class="column-full-l">
                            <h4>Win contracts</h4>
                            <p>UKEF can help you win export contracts by providing attractive financing terms to your buyers.</p>
                        </div>
                    </div>
                </div>
                <div class="column-third-l column-full">
                    <div class="grid-row">
                        <div class="column-full-l">
                            <img src="{% static 'icons/why-ukef-icon-2.png' %}" class="icon" alt="" />
                        </div>
                        <div class="column-full-l">
                            <h4>Fulfil orders</h4>
                            <p>UKEF supports working capital loans so you can take on and fulfil orders with confidence.</p>
                        </div>
                    </div>
                </div>
                <div class="column-third-l column-full">
                    <div class="grid-row">
                        <div class="column-full-l">
                            <img src="{% static 'icons/why-ukef-icon-3.png' %}" class="icon" alt="" />
                        </div>
                        <div class="column-full-l">
                            <h4>Get paid</h4>
                            <p>UKEF makes sure you get paid, by offering insurance against buyer default.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
