{% extends 'domestic/base.html' %}
{% load static %}
{% load breadcrumbs from component_tags %}
{% block head_title %}UK Export Finance - How we assess your project{% endblock %}
{% block meta_title %}UK Export Finance - How we assess your project{% endblock %}
{% block og_image %}
    {% if page.article_image %}
        {{ page.article_image.url }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block meta_description %}
    Understand how your international project or UK export business could be eligible for financial support from UK Export Finance
{% endblock %}
{% block css_layout_class %}
    article-detail-page ukef-article-detail-page
{% endblock css_layout_class %}
{% block content %}
    {% breadcrumbs %}
    <a href="/">Home</a>
    <a href="{% url 'domestic:get-finance' %}">UKEF</a>
    <a href="{% url 'domestic:project-finance' %}">Project Finance</a>
{% endbreadcrumbs %}
<section id="article-how-we-assess-your-project">
    <article class="article-main how-we-assess-your-project-article">
        <div class="container">
            <header>
                <div class="grid-row">
                    <div class="column-three-quarters article-hero-text">
                        <div class="grid-row">
                            <div class="column-seven-ninths">
                                <h1 class="heading-xlarge">How we assess your project</h1>
                                <div>
                                    <p>
                                        We assess the eligibility of all potential transactions before terms are drawn up. We understand that no two transactions are alike, so you should treat this as indicative guidance of UKEF’s processes.
                                        Please <a href="{% url 'domestic:uk-export-contact' %}" class="link">contact our team</a> to discuss our eligibility requirements in more detail.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="grid-row">
                <div class="column-three-quarters">
                    <img src="{% static 'images/how_we_asses_hero_2024.jpg' %}"
                         alt=""
                         class="width-full">
                    <section class="grid-row">
                        <div class="column-seven-ninths article-content padding-bottom-0">
                            <h3 class="heading-medium">The parties involved</h3>
                            <p>You will need to provide details about:</p>
                            <ul class="list list-bullet">
                                <li class="margin-0">your organisation</li>
                                <li class="margin-0">who you’re buying from or selling to</li>
                                <li class="margin-0">
                                    the bank or other financial institutions involved – including any other export credit agencies
                                </li>
                            </ul>
                            <h3 class="heading-medium">The financial scope</h3>
                            <p class="font-small">
                                You will need to provide details about the projected size of your transaction: this is an important factor in deciding whether we can support it. We'll also need to understand how long the delivery or construction period will be, along with the desired repayment period.
                            </p>
                            <h3 class="heading-medium">Due diligence</h3>
                            <p class="font-small">
                                We'll need to understand how the contract was awarded, including any use of third parties or agents, and will require Anti-Bribery and Corruption declarations from counterparties to the transaction. We may be unable to support the transaction if sanctions have been imposed on any of the countries or counterparties involved in the transaction. We'll also consider the environmental, social, and human rights impact of the project.
                            </p>
                            <p>
                                For projects in lower-income countries, we will also require a recommendation from the Department for International Development as to whether the project is in line with the OECD <a href="https://www.oecd.org/trade/topics/export-credits/sustainable-lending/"
    class="link"
    rel="noopener noreferrer"
    target="_blank">Sustainable Lending Principles</a>.
                            </p>
                            <h3 class="heading-medium">UK content requirements</h3>
                            <p class="font-small">
                                We understand the need for flexibility when overseas buyers are considering procurement and sourcing options, so we can support contracts where up to 80% of the content is sourced from outside the UK. We also help overseas buyers access the UK supply chain to maximise the level of UK content within the project.
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column-quarter">
                    <div class="panel-vertical-narrow">
                        <ul>
                            <li>
                                <h3 class="heading-small">
                                    <a href="{% url 'domestic:what-we-offer-you' %}" class="link">What we offer you</a>
                                </h3>
                            </li>
                            <li>
                                <h3 class="heading-small">
                                    <a href="{% url 'domestic:country-cover' %}" class="link">Check our country cover</a>
                                </h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<section id="contact-us-section"
         class="contact-us-section padding-vertical-60">
    <div class="container">
        <div class="grid-row">
            <div class="column-three-quarters">
                <div class="grid-row">
                    <div class="column-seven-ninths padding-0">
                        <div class="column-full padding-bottom-30">
                            <p class="text small">Contact us about your project.</p>
                        </div>
                        <div class="column-full">
                            <a href="{% url 'domestic:uk-export-contact' %}"
                               class="button primary-button">Get in touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
