<div class="column-quarter related-content-list">
    {% if page.related_pages %}
        <div class="panel-vertical-narrow content-list">
            <h2 class="heading heading-small">Related content</h2>
            <ul id="related-content">
                {% for article in page.related_pages %}
                    <li>
                        <h3 class="heading-small">
                            <a href="{{ article.full_url }}" class="link">{{ article.title }}</a>
                        </h3>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if include_share %}
        {% include 'components/great/share.html' with page_url=request.build_absolute_uri page_title=page.title display_block=share_display_block %}
    {% endif %}
</div>
