<section class="padding-vertical-60 background-stone-30" id="article_related_content_footer">
    <div class="container">
        <div class="grid-row">
            <div class="column-three-quarters">
                <div class="grid-row">
                        <div class="column-seven-ninths">
                            <div class="grid-row">
                                <div class="column">
                                    {% if page.cta_title %}
                                    <h2 class="heading-large margin-top-0">{{ page.cta_title }}</h2>
                                    {% endif %}
                                    {% if page.cta_teaser %}
                                    <p class="font-small margin-bottom-45">{{ page.cta_teaser }}</p>
                                    {% endif %}
                                    {% if page.cta_link_label and page.cta_link %}
                                    <div>
                                        <a href="{{ page.cta_link }}" class="button">{{ page.cta_link_label }}</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
