{% load convert_anchor_identifiers_to_span from content_tags %}
{% for block in streamfield_content %}
    {% if block.block_type == 'form' %}
        {% if form %}
            <div class="form-container {{ form_class }}">
                <hr />
                {% if form_success %}
                    <div class="success-message-container">
                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
                              rel="stylesheet">
                        <span role="img" class="fa fa-check"></span>
                        <p>Information has been submitted successfully</p>
                    </div>
                {% else %}
                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="button primary-button">Submit</button>
                    </form>
                {% endif %}
                <hr />
            </div>
        {% endif %}
    {% else %}
        <div class="block-text">
            {{ block | convert_anchor_identifiers_to_span }}
        </div>
    {% endif %}
{% endfor %}
{% block body_js %}
    <script type="text/javascript">
      const elements = document.getElementsByClassName("success-message-container");
      if(elements.length){
         const yOffset = -100;
         const y = elements[0].getBoundingClientRect().top + window.pageYOffset + yOffset;
         window.scrollTo({top: y, behavior: 'smooth'});
      }

      const error_list = document.getElementsByClassName("form-group-error ")
      if(error_list.length){
         const yOffset = -100;
         const y = error_list[0].getBoundingClientRect().top + window.pageYOffset + yOffset;
         window.scrollTo({top: y, behavior: 'smooth'});
      }

    const govuk_error_list = document.getElementsByClassName("govuk-form-group-error ")
      if(govuk_error_list.length){
         const yOffset = -100;
         const y = govuk_error_list[0].getBoundingClientRect().top + window.pageYOffset + yOffset;
         window.scrollTo({top: y, behavior: 'smooth'});
      }
    </script>
{% endblock %}
