{% macro notificationBanner(title, message) %}
<div class="govuk-notification-banner great-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header govuk-!-padding-top-1 govuk-!-padding-bottom-2">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0 great-text-white" id="govuk-notification-banner-title">{{title}}</h1>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-body-l">{{message}}</p>
    </div>
</div>
{% endmacro %}
