{% extends 'enrolment/wizard.html' %}
{% load static from static %}
{% block above_form %}
    {% include 'enrolment/information_box_companies_type.html' with is_in_companies_house=True %}
    <div id="form-step-body-text">
        <h1 class="heading-xlarge margin-top-60">Enter your business details</h1>
    </div>
{% endblock %}
{% block below_form %}
    {% include '_details.html' with summaryText='I cannot find my business name' detailsText="Check you have selected the correct business type and the spelling of your company name above. If you still need help, contact us." %}
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script src="{% static 'javascript/company-lookup.js' %}"></script>
    <script type="text/javascript">
      var companyName = document.getElementById('id_company-search-company_name');
      var companyNumber = document.getElementById('id_company-search-company_number');

      $(companyName).on("keydown.SelectiveLookup", function(event) {
        if (event.keyCode == 13) {
          event.stopImmediatePropagation();
          return false;
        }
      });

      $(document.body).on(
        "click.SelectiveLookupCloseAll",
        GOVUK.components.SelectiveLookup.closeAll
      );

      if (!window.companyNameLookup) {
        window.companyNameLookup = new GOVUK.components.CompaniesHouseNameLookup(
          $(companyName),
          $(companyNumber),
          '{% url "sso_profile:api:companies-house-search" %}'
        );

        // Perform API test on page load
        $(document).ready(function() {
          window.companyNameLookup._private.service.update("term=Test", true);
        });
      }
    </script>
{% endblock %}
