{% extends 'enrolment/base.html' %}
{% load static %}
{% load message_box_with_icon from component_tags %}
{% block content %}
    <section class="container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div id="success-message-container">
                {% message_box_with_icon heading="Account created" description="Your account has been created." heading_level='h1' %}
            </div>
        </div>
    </div>
</section>
<section class="container" id="next-container">
    <h2 class="heading-medium margin-0">What you can do next</h2>
    <p>Now you are registered you can:</p>
    <ul class="list list-bullet">
        <li>
            <a href="{% url 'sso_profile:business-profile' %}" id="next-fab">publish your company profile</a> so overseas buyers can find you and together you can build new business relationships
        </li>
        <li>
            <a href="{{ services_urls.exopps }}" id="next-exopps">explore export opportunities provided by DBT</a> to find out what goods and services are in demand and how you can make the most of the market
        </li>
    </ul>
    {% if ingress_url %}
        <p>
            Continue to <a href="{{ ingress_url }}">{% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %}</a>
        </p>
    {% else %}
        <p>
            Return to the <a href="{% url 'sso_profile:index' %}">home page
        </p>
    {% endif %}
</section>
{% endblock %}
