{% extends 'enrolment/base.html' %}
{% block content %}
    <section class="container">
    <div class="grid-row margin-top-45">
        <div class="column-two-thirds">
            <a href="{% url 'sso_profile:enrolment-business-type' %}" class="link">Back</a>
            <h1 class="heading-xlarge margin-bottom-15 margin-top-15">You cannot {{ user_journey_verb }}</h1>
            <p class="margin-bottom-30">{% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %} accounts are for UK businesses doing business abroad.</p>
            <p class="margin-bottom-30">
                If you're an overseas company, looking to do business with the UK, please <a class="link margin-top-15"
    href="{{ services_urls.great_international }}">visit our site for international businesses.</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
