{% extends 'core/wizard.html' %}

{% load static from staticfiles %}
{% load breadcrumbs from great_components %}

{% block head_title %}Create a great.gov.uk account - great.gov.uk{% endblock %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'css/enrolment.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs 'Create a great.gov.uk account' %}
        <a href="{{ services_urls.great_domestic }}">Home</a>
    {% endbreadcrumbs %}
{% endblock %}
