{% extends 'domestic/base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% block css_layout_class %}
    article-list-page
{% endblock css_layout_class %}
{% block content %}
    {% if not features.FEATURE_DESIGN_SYSTEM %}
    {% block breadcrumbs %}
        {% include 'components/breadcrumbs_cms.html' %}
    {% endblock %}
    {% endif %}
    {% block hero %}
        {% include 'components/hero.html' with image=page.hero_image hero_title=page.title hero_text=page.teaser %}
    {% endblock %}
    <section id="{% block page_id %}article-list-page{% endblock %}"
             class="govuk-!-margin-top-6">
        <div class="container">
            {% if page.list_teaser %}
                <div class="grid-row">
                    <div class="column-two-thirds-l column-full">
                        <div class="lede rich-text article-detail">{{ page.list_teaser|richtext }}</div>
                    </div>
                </div>
            {% endif %}
            <div class="grid-row">
                <div>
                    <ul class="content-list">
                        {% block content_list %}
                            {% for article in page.specific.get_articles %}
                                <a href="{{ article.url }}">
                                    <li>
                                        <h3>{{ article.article_title }}</h3>
                                        <button onclick="window.location.href='{{ article.url }}'"
                                                class="button primary-button">View article</button>
                                    </li>
                                </a>
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% block list_footer %}{% endblock %}
{% endblock %}
