{% extends 'domestic/base.html' %}

{% load static %}
{% load component_tags %}

{% block head_title %}{{ page.article_title }} - great.gov.uk{% endblock %}

{% comment "Steve to fix: django error(page has no method get)" %}
{% block meta_description %}{% get_meta_description page %}{% endblock %}
{% endcomment %}
{% block css_layout_class %}article-detail-page{% endblock css_layout_class %}

{% block content %}

<section id="article">
  {% include 'domestic/content/article_detail_content.html' %}
</section>

{% block related_ctas %}

  {% if page.cta_title or page.cta_teaser or page.cta_link_label and page.cta_link %}
    {% include 'domestic/content/article_related_content_footer.html' %}
  {% endif %}
{% endblock %}

{% endblock %}
