{% load static %}
{% load i18n %}
{% load static_absolute from component_tags %}
{% load wagtailcore_tags wagtail_cache %}
{% load wagtailimages_tags %}
{% load domestic_canonical_url_tags %}
{% load bgs_tags %}
{% wagtail_site as current_site %}
{% is_bgs_site current_site.root_url as bgs_site %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="lte-ie8" lang="en-gb"><![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="en-gb">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="msvalidate.01" content="76D322F181AE9F91C43419E5CD511BBC" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="intranet:environment" content="{{ APP_ENVIRONMENT }}">
        <meta name="intranet:sentry:dsn"
              content="{{ SENTRY_DSN|default_if_none:'' }}">
        <meta name="intranet:sentry:browser-traces-sample-rate"
              content="{{ SENTRY_BROWSER_TRACES_SAMPLE_RATE }}">
        {% block sharing_description %}
            <meta name="description"
                  content="{% block meta_description %}{% firstof self.seo_description page.search_description content_snippet.search_description page.teaser page.featured_description page.seo_title page.title content_snippet.search_description %}{% endblock %}">
        {% endblock %}
        {% firstof page.seo_title page.title as seo_title %}
        {% block sharing_title %}
            <meta name="title"
                  content="{% block meta_title %}{% if seo_title %}{{ seo_title }}{% else %}Welcome to great.gov.uk{% endif %} - great.gov.uk{% endblock %}">
        {% endblock %}
        <title>
            {% block head_title %}
                {% if seo_title %}
                    {{ seo_title }}
                {% else %}
                    Welcome to great.gov.uk
                {% endif %}
                - great.gov.uk
            {% endblock %}
        </title>
        {% block meta_tags %}{% endblock %}
        {% with is_wagtail_page=page %}
            {% if is_wagtail_page %}
                {% include "core/includes/seo_meta.html" %}
            {% else %}
                {% get_canonical_url as canonical_url %}
                <link rel="canonical" href="{{ canonical_url }}">
                {% get_hreflang_tags as hreflang_tags %}
                {{ hreflang_tags }}
            {% endif %}
        {% endwith %}
        {% block head_google_tag_manager %}
            {% if UTM_COOKIE_DOMAIN %}<meta id="utmCookieDomain" value="{{ UTM_COOKIE_DOMAIN }}" />{% endif %}
            {% include 'components/google_tag_manager_head.html' %}
        {% endblock %}
        {% block cookie_domain_meta %}<meta id="privacyCookieDomain" value="{{ PRIVACY_COOKIE_DOMAIN }}" />{% endblock %}
        {% block head_favicon %}
            <link href='{% static 'images/favicon-192x192.png' %}' rel='shortcut icon' type='image/png'>
            <!--[if IE]> <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" /> <![endif]-->
        {% endblock %}
        {% block head_css %}
            <link href="{% static 'stylesheets/govuk-elements-styles.min.css' %}"
                  media="all"
                  rel="stylesheet" />
            <link href="{% static 'components_styles.css' %}"
                  media="all"
                  rel="stylesheet" />
            {{ block.super }}
            <link href="{% static 'loggedout_styles.css' %}"
                  rel="stylesheet"
                  type="text/css" />
            <link href="{% static 'microsite_styles.css' %}"
                  rel="stylesheet"
                  type="text/css" />
            <link href="{% static 'great_design_system_styles.css' %}"
                  rel="stylesheet"
                  type="text/css" />
        {% endblock %}
        <style>
      .js-disabled-only {
          display: none;
      }
        </style>
        <noscript>
            <style>
        .navigation-toggle {
            display: block;
        }

        .js-disabled-only {
            display: block;
        }

        .js-enabled-only {
            display: none;
        }
            </style>
        </noscript>
        {% block vendor_js %}
            <script src="{% static 'javascript/vendor/sentry.6.19.7.tracing.replay.min.js' %}"></script>
            <script src="{% static 'javascript/vendor/sentryinit.js' %}"></script>
            <script src="{% static 'javascript/vendor/details-polyfill.js' %}" defer></script>
            <script src="{% static 'javascript/vendor/jquery-3.6.0.min.js' %}"></script>
        {% endblock %}
        {% block head_js %}
            <script src="{% static 'javascript/dit.js' %}"></script>
            <script>
      // Safari saves a snapshot of a page as it was when the user left, so upon going "back" it doesn’t have to reload and instead it loads the saved snapshot state. That has an unwanted side effect that cookie modal is shown when clicking "go back to the page you came from".
      window.onpageshow = function(event) {
        if (event.persisted) {
          window.location.reload()
        }
      }
            </script>
        {% endblock %}
        {% block head_js_ga360 %}
            <script src="{% static 'javascript/dit.tagging.js' %}"></script>
            <script>
      window.dataLayer = window.dataLayer || []
      {% if ga360 and not skip_ga360 %}
        window.dataLayer.push({
          'businessUnit': '{{ ga360.business_unit }}',
          'siteSection': '{{ ga360.site_section}}',
          'siteSubsection': '{{ ga360.site_subsection }}',
          'siteLanguage': '{{ ga360.site_language }}',
          'userId': '{{ ga360.user_id }}',
          'loginStatus': '{{ ga360.login_status }}'
        })
        dit.tagging.base.init()
      {% endif %}
            </script>
        {% endblock %}
        {% block header_js %}
            <script src="{% static 'javascript/dit.responsive.js' %}" defer></script>
            <script src="{% static 'javascript/dit.utils.js' %}" defer></script>
            <script src="{% static 'common.js' %}" defer></script>
        {% endblock %}
        {% block head_other %}
            {% include 'components/browser_check.html' %}
        {% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
        {% if features.FEATURE_GREAT_ERROR %}
            {% include 'components/great/error-notification-banner.html' %}
        {% endif %}
        {% block body_google_tag_manager %}
            {% include 'components/google_tag_manager_body.html' %}
        {% endblock %}
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled')</script>
        {% if not hide_cookie_notice %}
            {% block cookie_notice %}
                {% include '_cookie-banner.html' with preferencesUrl="/cookies" title="Cookie preferences saved" preText="You've" postText="additional cookies. You can" linkText="change your cookie settings" endText="at any time." acceptedText="accepted" rejectedText="rejected" hideButtonText="Hide this message" %}
                {% include '_cookie-modal.html' with preferencesUrl="/cookies" title="Cookies on great.gov.uk" description="We use some essential cookies to make this website work. We'd like to set additional cookies to understand how you use great.gov.uk and improve our export support services." acceptButtonText="Accept additional cookies" rejectButtonText="Reject additional cookies" preferencesLinkText="View cookies"%}
            {% endblock %}
        {% endif %}
        {% block skip_link %}
            <a href="#content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
        {% endblock %}
        {% block body_header %}
            {% if bgs_site %}
                {% include "_header-bgs.html" with header_classes=bgs_header_context.header_classes sso_is_logged_in=bgs_header_context.sso_is_logged_in isAuthenticated=bgs_header_context.isAuthenticated hideSearch=bgs_header_context.hideSearch hideMenuOnDesktop=bgs_header_context.hideMenuOnDesktop searchFormAction=bgs_header_context.searchFormAction menuItemsList=bgs_header_context.menuItemsList %}
            {% else %}
                {% include "_header.html" with header_classes=header_classes isInternational=isInternational mobileSiteLink=mobileSiteLink sso_is_logged_in=sso_is_logged_in isAuthenticated=isAuthenticated hideSearch=hideSearch hideMenuOnDesktop=hideMenuOnDesktop domesticLink=domesticLink internationalLink=internationalLink searchFormAction=searchFormAction navItemsList=navItemsList menuItemsList=menuItemsList actionLinkList=actionLinkList %}
            {% endif %}
            {% url 'sso:business-sso-logout-api' as sign_out_endpoint %}
            <script>
                function signOut() {
                    return fetch('{{ sign_out_endpoint }}', {
                    method: 'post',
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    body: JSON.stringify({})
                    }).then(function() {
                    window.location = '/';
                    });
                }
            </script>
        {% endblock %}
        {% block maintenance_banner %}
            {% include 'components/great/migration_notice_banner.html' %}
        {% endblock %}
        {% block breadcrumbs_block %}
            {% if not '/' == request.path and not '/export-from-uk/' == request.path %}
                <div class="great-ds-bg-white">
                    <div class="great-ds-container">
                        {% if bespoke_breadcrumbs %}
                            {% include '_breadcrumbs.html' with itemsList=bespoke_breadcrumbs homeURL=BREADCRUMBS_ROOT_URL collapseOnMobile=True classes='great-ds-breadcrumbs--bg-white' %}
                        {% else %}
                            {% include '_breadcrumbs.html' with itemsList=page.get_breadcrumbs homeURL=BREADCRUMBS_ROOT_URL collapseOnMobile=True classes='great-ds-breadcrumbs--bg-white' %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        {% block body_content_container %}
            <main id="content"
                  tabindex="-1"
                  class="{% block css_layout_class %}{% endblock css_layout_class %}">
                {% block content %}{% endblock %}
                {% block content_after %}{% endblock %}
            </main>
        {% endblock %}
        {% block feedback_reporter %}
            {% include 'components/inline_feedback/was_page_useful.html' %}
        {% endblock %}
        {% block body_footer %}
            {% if bgs_site %}
                {% include '_footer-bgs.html' with currentYear=footer_bgs_context.currentYear upperFooterSection=footer_bgs_context.upperFooterSection lowerFooterSection=footer_bgs_context.lowerFooterSection %}
            {% else %}
                {% include "_footer.html" with isInternational=domestic_footer_context.is_international currentYear=domestic_footer_context.current_year footerLinks=domestic_footer_context.footer_links logoLinkHref=domestic_footer_context.logo_link_href %}
            {% endif %}
        {% endblock %}
        {% block body_js %}

            <script src="{% static 'great_design_system_scripts.js' %}"></script>
        {% endblock %}
    </body>
</html>
