{% extends 'domestic/base.html' %}

{% load static %}
{% load humanize %}
{% load component_tags wagtailcore_tags wagtailimages_tags content_tags %}

{% block css_layout_class %}country-guide-page{% endblock %}

{% block head_js %}
  {{ block.super }}
  {# TODO: combine into webpack-compiled script #}
  <script src="{% static 'javascript/country-guide.js' %}"></script>

  {% if FEATURE_SHOW_MARKET_GUIDE_VISUALISATIONS and page.stats.market_trends %}
  <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
  {% endif %}
{% endblock %}

{% block head_css %}
  {{ block.super }}

  {% if FEATURE_SHOW_MARKET_GUIDE_VISUALISATIONS and page.stats %}
    <style>
        .tabs__nav {
            border-bottom: 2px solid #dfd5c5;
        }
        .tabs__nav li {
            display: inline-block;
        }
        .tabs__nav button {
            display: block;
            border: 0;
            border-bottom: 4px solid transparent;
            padding: .5em 1em;
            margin: 0 0 -2px;
            background: transparent;
            color: #666666;
        }
        .tabs__nav button[aria-expanded="true"],
        .tabs__nav button:hover {
            background: transparent;
            color: #333333;
            border-bottom-color: #333333;
        }
        .js-enabled .tabs__tab,
        .tabs__tab[aria-hidden="true"] {
            display: none;
        }
        .js-enabled .tabs__tab[aria-hidden="false"] {
            display: block;
        }

        .barchart td,
        .barchart th {
            border: 0;
        }

        .barchart__legend {
            font-weight: normal;
        }

        .barchart__legend:before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: .5em;
            vertical-align: text-top;
            background: #006ccc;
        }

        .barchart__title-cell {
            padding: .5em .5em .5em 0;
            width: 40%;
            max-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
        }

        .barchart__bar-cell {
            padding: 2px 0;
        }

        .barchart__bar {
            display: inline-block;
            padding: .5em;
            background: #006ccc;
            color: white;
            text-shadow: 1px 1px 1px #006ccc;
        }
    </style>
  {% endif %}
{% endblock %}

{% block content %}

{% include 'components/hero.html' with image=page.hero_image hero_text=page.heading hero_subheading=page.sub_heading %}

<nav class="container">
  {% include 'components/breadcrumbs_cms.html' %}
</nav>

{% if page.heading_teaser %}
<section id="country-guide-teaser-section" class="teaser-section padding-vertical-30">
  <div class="container">

    <div class="grid-row">
      <div class="column-three-quarters-l teaser">
        <h2 class="visually-hidden">Overview</h2>

        <p class="font-medium margin-bottom-30">{{ page.heading_teaser }}</p>

        {% if FEATURE_SHOW_MARKET_GUIDE_VISUALISATIONS and page.stats.data_points %}
          <h2 class="visually-hidden">Trade statistics</h2>
          <div class="flex-grid margin-bottom-30">
            {% if page.stats.data_points.data.total_uk_exports %}
            <figure class="statistics-card__column padding-vertical-15">
              <h3 class="statistic-heading font-xsmall">Total UK exports to {{ page.heading }}</h3>

              <p class="active-blue-text statistic-number bold-large">
                £{{ page.stats.data_points.data.total_uk_exports|intword }}
              </p>

              {% if page.stats.data_points.metadata.source %}
              <figcaption>
                <p class="font-xsmall statistic-smallprint">
                  Source: {{ page.stats.data_points.metadata.source }}
                </p>
              </figcaption>
              {% endif %}
            </figure>
            {% endif %}

            {% if page.stats.data_points.data.trading_position %}
            <figure class="statistics-card__column padding-vertical-15">
              <h3 class="statistic-heading font-xsmall">Trading position</h3>

              <p class="active-blue-text statistic-number bold-large">
                {{ page.stats.data_points.data.trading_position|ordinal }}
              </p>

              <figcaption>
                <p class="font-xsmall statistic-smallprint">
                  UK’s largest trading partner
                </p>
              </figcaption>
            </figure>
            {% endif %}

            {% if page.stats.data_points.data.percentage_of_uk_trade %}
            <figure class="statistics-card__column padding-vertical-15">
              <h3 class="statistic-heading font-xsmall">Accounting for</h3>

              <p class="active-blue-text statistic-number bold-large">
                {{ page.stats.data_points.data.percentage_of_uk_trade }}%
              </p>

              <figcaption>
                <p class="font-xsmall statistic-smallprint">
                  of total UK trade
                </p>
              </figcaption>
            </figure>
            {% endif %}
          </div>
        {% endif %}
      </div>

      {% if page.intro_ctas %}
      <div class="column-quarter-l links margin-bottom-30">
        {% if FEATURE_SHOW_MARKET_GUIDE_BAU_LINKS %}
          <h2 class="heading-medium margin-top-0">Related services</h2>
          <div class="panel-vertical-narrow content-list padding-top-30">
            <ul id="country-guide-intro-ctas">
              {% for cta in page.intro_ctas %}
              <li>
                {% if cta.title and cta.link %}
                  <a class="heading-small link intro-cta-link" href="{{ cta.link }}">{{ cta.title }}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

  {% if FEATURE_SHOW_MARKET_GUIDE_VISUALISATIONS and page.stats.data_points %}<hr style="background: #d8d8d8">{% endif %}
</section>
{% endif %}

<section id="country-guide-section-one" class="section-one padding-vertical-60">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-half-l section-one-body rich-text">
        {{ page.section_one_body|richtext }}
      </div>
      <div class="column-full column-half-l">

        {% if FEATURE_SHOW_MARKET_GUIDE_VISUALISATIONS and page.stats %}
          <div class="tabs">
            <nav class="tabs__nav">
              <ul>
                {% if page.stats.goods_exports %}
                <li>
                  <button class="button" data-reveal-button aria-controls="tab-goods" data-reveal-tabs="market-tabs">Goods</button>
                </li>
                {% endif %}

                {% if page.stats.services_exports %}
                <li>
                  <button class="button" data-reveal-button aria-controls="tab-services" data-reveal-tabs="market-tabs">Services</button>
                </li>
                {% endif %}

                {% if page.stats.market_trends %}
                <li>
                  <button class="button" data-reveal-button aria-controls="tab-market-trends" data-reveal-tabs="market-tabs">Market trends</button>
                </li>
                {% endif %}
              </ul>
            </nav>

            {% if page.stats.goods_exports %}
            <div id="tab-goods" class="tabs__tab">
              <h2 class="heading-medium">Top 5 UK goods exports, in the {% if page.stats.goods_exports.metadata.resolution == 'quarter' %}four quarters to the end of Q{{ page.stats.goods_exports.metadata.last_period }}{% else %} twelve months to the end of {{ page.stats.goods_exports.metadata.last_period|month_name }}{% endif %} {{ page.stats.goods_exports.metadata.last_period_year }}, to {{  page.heading }}</h2>

              <table class="barchart">
                <thead>
                <tr>
                  <th scope="col"><span class="visually-hidden">Product</span></th>
                  <th class="barchart__legend" scope="col">Value (£)</th>
                </tr>
                </thead>
                <tbody>
                  {% for product in page.stats.goods_exports.data %}
                    <tr>
                      <td class="barchart__title-cell" title="{{ product.label }}">{{ product.label }}</td>
                      <td class="barchart__bar-cell">
                        <span class="barchart__bar" style="width: calc(({{ product.value }}/{{ page.stats.goods_exports.data.0.value }}) * 100%)">
                          {{ product.value|intword }}
                        </span>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}

            {% if page.stats.services_exports %}
            <div id="tab-services" class="tabs__tab">
              <h2 class="heading-medium">Top 5 UK services exports, in the {% if page.stats.services_exports.metadata.resolution == 'quarter' %}four quarters to the end of Q{{ page.stats.services_exports.metadata.last_period }}{% else %} twelve months to the end of {{ page.stats.services_exports.metadata.last_period|month_name }}{% endif %} {{ page.stats.services_exports.metadata.last_period_year }}, to {{  page.heading }}</h2>

              <table class="barchart">
                <thead>
                <tr>
                  <th scope="col"><span class="visually-hidden">Service</span></th>
                  <th class="barchart__legend" scope="col">Value (£)</th>
                </tr>
                </thead>
                <tbody>
                {% for service in page.stats.services_exports.data %}
                  <tr>
                    <td class="barchart__title-cell" title="{{ service.label }}">{{ service.label }}</td>
                    <td class="barchart__bar-cell">
                      <span class="barchart__bar" style="width: calc(({{ service.value }}/{{ page.stats.services_exports.data.0.value }}) * 100%)">
                        {{ service.value|intword }}
                      </span>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}

            {% if page.stats.market_trends %}
            <div id="tab-market-trends" class="tabs__tab">
              <h2 class="heading-medium">Total import and export values between {{ page.heading }} and the UK (GBP)</h2>

              <div id="plotly-market-trends"></div>
              {{ page.stats.market_trends.data|json_script:"market-trends-data" }}
              <script>
                var config = {
                  displayModeBar: false,
                  responsive: true,
                  locale: 'en-GB'
                }
                var layout = {
                  yaxis: {
                    fixedrange: true,
                    rangemode: 'tozero'
                  },
                  xaxis : {
                    fixedrange: true,
                    showgrid: false,
                    showticklabels: true,
                    tickmode: 'linear',
                    showspikes: true,
                    spikethickness: 2,
                    spikemode: 'across'
                  },
                  font: {
                    family: 'Roboto, sans-serif',
                    size: 18,
                  },
                  legend: {
                    orientation: 'h'
                  },
                  colorway: ['#006ccc', '#ef5f56', '#00A699', '#666666'],
                  margin: {
                    b: 0,
                    t: 0,
                    l: 50,
                    r: 0,
                    pad: 10
                  },
                  width: document.querySelector('.tabs__nav').clientWidth
                };

                var lines = [
                  {
                    title: 'Total trade',
                    key: 'total'
                  },
                  {
                    title: 'Imports',
                    key: 'imports'
                  },
                  {
                    title: 'Exports',
                    key: 'exports'
                  }
                ]

                var sourceData = JSON.parse(document.getElementById('market-trends-data').textContent)

                var years = sourceData.map(function(x) {
                  return x.year
                })

                var data = lines.map(function(line) {
                  return {
                    name: line.title,
                    x: years,
                    y: sourceData.map(function(x) {
                      if (line.key === 'total') {
                        return x['imports'] + x['exports']
                      }
                      return x[line.key]
                    }),
                    type: 'scatter',
                    hovertemplate: line.title + ' in %{x}: £%{y}<extra></extra>'
                  }
                })

                Plotly.newPlot('plotly-market-trends', data, layout, config);
              </script>
            </div>
            {% endif %}
          </div>
        {% else %}
          {% image page.section_one_image fill-640x360 as section_one_image %}
          {% include 'components/image_with_caption.html'  with rendition=section_one_image main_caption=page.section_one_image_caption sub_caption=page.section_one_image_caption_company img_classes="m-f-auto m-r-auto" %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

  <section id="country-guide-statistics-section" class="statistics padding-vertical-30 background-stone-30">
    <div class="container">
      {% include 'components/statistics_card_grid.html' with statistics=page.main_statistics country=page.heading %}
    </div>
  </section>

  {% if page.section_two_heading %}
    <section id="country-guide-section-two" class="section-two padding-vertical-60">
      <div class="container">
        <div class="grid-row">
          <div class="column-full column-two-thirds-m column-half-l">
            <h2 class="heading-large margin-top-0">{{ page.section_two_heading }}</h2>
            <p>{{ page.section_two_teaser }}</p>
          </div>
        </div>
      </div>
    </section>

    {% if page.accordions %} {# This is streamfield #}
      <section id="country-guide-accordions" class="accordions padding-vertical-0">
        <ul>
          {% for industry_block in page.accordions %}
            {% include_block industry_block %}
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endif %}

  <section class="padding-top-60 padding-bottom-30">
    <div class="container">
      <div class="grid-row">
        <div class="column-half-l padding-bottom-30">
          <h2 class="heading-large padding-top-0">Check for trade barriers</h2>

          <p>Trade barriers, such as tariffs or taxes, can raise costs, cause delays, or even stop you from exporting. Check for any issues that may impact your business when exporting.</p>

          <p><a class="heading-small link" href="{{ page.trade_barriers_link }}">See current trade barriers</a></p>

          {% if page.trade_barriers_resolved_link %}
            <p><a class="heading-small link" href="{{ page.trade_barriers_resolved_link }}">See resolved trade barriers</a></p>
          {% endif %}
        </div>

        <div class="column-half-l padding-bottom-30">
          <h2 class="heading-large padding-top-0">Check duties and customs</h2>

          <p>Find information on how to export goods from the UK. View the duties, rules, restrictions, and the documents you need for your products.</p>

          <p><a class="heading-small link" href="{{ page.duties_and_customs_link }}">See current duties and customs procedures</a></p>
        </div>
      </div>
    </div>
  </section>

{% if page.fact_sheet_title %}
<section id="country-guide-section-three" class="section-three background-stone-30 padding-top-90 padding-bottom-60">
  <div class="container">
    <div class="grid-row margin-bottom-60">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">{{ page.fact_sheet_title }}</h2>
        <p>{{ page.fact_sheet_teaser }}</p>
      </div>
    </div>
    <div class="grid-row">
      {% for column in page.fact_sheet_columns %}
        {% if column.title %}
          {% if page.fact_sheet_columns|length == 1 %}
          <div class="column-full margin-bottom-30">
          {% else %}
          <div class="column-full column-half-xl margin-bottom-30">
          {% endif %}
            <div class="fact-sheet">
              <h3 class="highlight heading-medium background-grey white-text">{{ column.title }}</h3>
              <div class="fact-sheet-content background-white padding-45 wrap-tight font-xsmall">
                {% if column.teaser %}
                <p class="font-small">{{ column.teaser }}</p>
                <hr>
                {% endif %}
                <div class="rich-text">{{ column.body|richtext }}</div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section id="country-guide-need-help-section" class="need-help padding-vertical-60">
  <div class="container">
    <div class="grid-row margin-bottom-45">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">Next steps</h2>
        <p>DIT can advise you on doing business abroad, and help put you in touch with other people who can help such as lawyers and distributors.</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full column-half-l column-third-xl margin-bottom-30 margin-bottom-0-xl">
        {% static 'images/country-guide-advice.png' as need_help_image_url %}
        {% slugurl 'advice' as advice_url %}
        {% include 'components/cta_card.html' with with_arrow=True image_url=need_help_image_url text="Read more advice about doing business abroad" url=advice_url %}
      </div>

      {% if FEATURE_SHOW_MARKET_GUIDE_BAU_LINKS %}
      <div class="column-full column-half-l column-third-xl margin-bottom-0">
        {% static 'images/country-guide-contact.png' as contact_us_image_url %}
        {% include 'components/cta_card.html' with with_arrow=True image_url=contact_us_image_url text="Get in touch with one of our trade advisers" url="/contact/office-finder/" %}
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% if page.related_pages %}
<section id="country-guide-news-events-section" class="news-events background-stone-30 padding-vertical-60">
  <div class="container">
    <h2 class="heading-large margin-top-0 margin-bottom-45">News and events</h2>
    <div class="flex-grid">
      {% for related_page in page.related_pages %}
        <div class="column-full column-half-l column-third-xl">
          {% if related_page.page_type == 'InternationalArticlePage' %}
            {% include 'components/card.html' with card_id=related_page.slug url=related_page.url card_image=related_page.article_image sub_heading='Article' title=related_page.title description=related_page.teaser %}
          {% else %}
            {% include 'components/card.html' with card_id=related_page.slug url=related_page.url card_image=related_page.article_image sub_heading='Campaign' title=related_page.title description=related_page.teaser %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
