{% extends 'domestic/base.html' %}
{% load static %}
{% load humanize %}
{% load component_tags wagtailcore_tags wagtailimages_tags content_tags %}
{% block css_layout_class %}country-guide-page{% endblock %}
{% block head_js %}
    {{ block.super }}
    {% if page.stats.market_trends %}<script src="https://cdn.plot.ly/plotly-1.58.5.min.js"></script>{% endif %}
{% endblock %}
{% block content %}
    {% include 'components/market-details-header.html' with image=page.hero_image %}
    {% if page.heading_teaser %}
        <section id="country-guide-teaser-section"
                 class="teaser-section padding-vertical-30">
            <div class="container">
                <div class="grid-row">
                    <div class="column-three-quarters-l teaser">
                        <h1>Exporting from the UK to {% change_country_name_to_include_the page.heading %}: A market guide</h1>
                        <h2 class="visually-hidden">Overview</h2>
                        {% if features.FEATURE_PRODUCT_EXPERIMENT_LINKS %}
                            <div class="govuk-!-margin-bottom-6">
                                <a href="{% url 'core:compare-countries' %}" class="govuk-link">Find information about your product</a>
                            </div>
                        {% endif %}
                        <p class="margin-bottom-30">{{ page.heading_teaser }}</p>
                        {% if page.stats.highlights.data %}
                            {% with highlights=page.stats.highlights %}
                                <div id="stats-highlights" class="margin-bottom-45">
                                    <h2 class="visually-hidden">Trade statistics</h2>
                                    <div class="flex-grid margin-bottom-30">
                                        {% if highlights.data.total_uk_exports %}
                                            <figure class="statistics-card__column padding-vertical-15">
                                                <span class="statistic-number bold-large">£{{ highlights.data.total_uk_exports|intword }}</span>
                                                <span class="font-small statistic-smallprint">
                                                    total UK exports to {{ page.heading }} for the {% reference_period highlights.metadata.reference_period %}
                                                </span>
                                                {% if highlights.metadata.source %}
                                                    {% include 'core/includes/data_source.html' with source=highlights.metadata.source %}
                                                {% endif %}
                                            </figure>
                                        {% endif %}
                                        {% if highlights.data.trading_position %}
                                            <figure class="statistics-card__column padding-vertical-15">
                                                <span class="statistic-number bold-large">
                                                    {% if highlights.data.trading_position == 1 %}
                                                        largest
                                                    {% else %}
                                                        {{ highlights.data.trading_position|ordinal }}
                                                    {% endif %}
                                                </span>
                                                <span class="font-small statistic-smallprint">
                                                    {% if highlights.data.trading_position != 1 %}largest{% endif %}
                                                    UK export market
                                                </span>
                                                {% if highlights.metadata.source %}
                                                    {% include 'core/includes/data_source.html' with source=highlights.metadata.source %}
                                                {% endif %}
                                            </figure>
                                        {% endif %}
                                        {% if highlights.data.percentage_of_uk_trade %}
                                            <figure class="statistics-card__column padding-vertical-15">
                                                <span class="statistic-number bold-large">
                                                    {% if highlights.data.percentage_of_uk_trade < 0.05 %}
                                                        less than 0.1%
                                                    {% else %}
                                                        {{ highlights.data.percentage_of_uk_trade|floatformat:"1" }}%
                                                    {% endif %}
                                                </span>
                                                <span class="font-small statistic-smallprint">
                                                    of total UK exports for the {% reference_period highlights.metadata.reference_period %}
                                                </span>
                                                {% if highlights.metadata.source %}
                                                    {% include 'core/includes/data_source.html' with source=highlights.metadata.source %}
                                                {% endif %}
                                            </figure>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                        {% if page.is_usa and features.FEATURE_SHOW_USA_CTA %}
                            <div class="great govuk-!-padding-6 great-bg-light-blue">
                                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Understand more about the US market</h2>
                                <p>
                                    Take a look at our series of downloadable factsheets and get deeper insights into exporting goods and services to the United States.
                                </p>
                                <a href="/campaign-site/usa-factsheets/"
                                   class="button primary-button"
                                   target="_blank">View factsheets</a>
                            </div>
                        {% endif %}
                        {% if features.FEATURE_SHOW_MARKET_GUIDE_SECTOR_SPOTLIGHT_CHINA %}
                            {% if page.is_china %}
                                <div class="great govuk-!-padding-6 great-bg-light-blue">
                                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Sector Spotlight - Financial and Professional Services</h2>
                                    <p>
                                        Read the latest sector report from China - including business consulting and accounting, banking and asset management, and the latest trends in fintech.
                                    </p>
                                    <a href="/markets/china/financial-professional-services-in-china/"
                                       class="button primary-button"
                                       target="_blank">Read more</a>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if features.FEATURE_SHOW_MARKET_GUIDE_SECTOR_SPOTLIGHT_GERMANY %}
                            {% if page.is_germany %}
                                <div class="great govuk-!-padding-6 great-bg-light-blue">
                                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Sector Spotlight - Food and Drink</h2>
                                    <p>
                                        Read about the latest consumer trends, the retail landscape, and what buyers are looking for in the food and drink sector in Germany.
                                    </p>
                                    <a href="/markets/germany/food-and-drink-in-germany/"
                                       class="button primary-button"
                                       target="_blank">Read more</a>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if features.FEATURE_SHOW_MARKET_GUIDE_SECTOR_SPOTLIGHT_USA %}
                            {% if page.is_usa %}
                                <div class="great govuk-!-padding-6 great-bg-light-blue">
                                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Sector Spotlight - Food and Drink</h2>
                                    <p>Read the latest industry news, key developments, trends and regulations in the food and drink sector in the USA.</p>
                                    <a href="/markets/united-states/food-and-drink-in-usa/"
                                       class="button primary-button"
                                       target="_blank">Read more</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if page.intro_ctas %}
                        <div class="column-quarter-l links margin-bottom-30">
                            <h2 class="heading-medium margin-top-0">Related services</h2>
                            <div class="panel-vertical-narrow content-list padding-top-30">
                                <ul id="country-guide-intro-ctas">
                                    {% for cta in page.intro_ctas %}
                                        <li>
                                            {% if cta.title and cta.link %}
                                                <a class="heading-small link intro-cta-link" href="{{ cta.link }}">{{ cta.title }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if page.is_eu_country and features.FEATURE_SHOW_EU_CTA %}
                        {% static 'icons/guidance.svg' as cta_icon %}
                        <div class="column-quarter-l">
                            {% include 'components/great/card.html' with heading_class="great-card__link--heading--18" heading_level="h3" tag_container_inner_class="article-page-cta-container-inner-container" container_class="great article-page-cta-container-title-container" classes="great-card--cta great-card--cta-with-content great-card--cta-with-border govuk-!-padding-0 govuk-!-margin-bottom-8" title="How to pay VAT when exporting to the EU" content="Understand the VAT requirements when exporting goods and services to EU countries." content_tag="p" url="/campaign-site/vat-in-eu/" show_title_link=True tag="Exporting advice" tag_icon=cta_icon %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
    <section id="country-guide-section-one"
             class="section-one padding-vertical-60">
        <div class="container">
            <div class="grid-row">
                <div class="column-full column-half-l section-one-body rich-text">{{ page.section_one_body|richtext }}</div>
                <div class="column-full column-half-l">
                    {% if page.stats.goods_exports.data or page.stats.services_exports.data or page.stats.market_trends.data %}
                        <div id="stats-tabs" class="tabs">
                            <nav class="tabs__nav">
                                <ul>
                                    {% if page.stats.goods_exports.data %}
                                        <li>
                                            <button id="tab-button-goods"
                                                    class="button"
                                                    data-reveal-button
                                                    aria-controls="tab-goods"
                                                    data-reveal-tabs="market-tabs">Goods</button>
                                        </li>
                                    {% endif %}
                                    {% if page.stats.services_exports.data %}
                                        <li>
                                            <button id="tab-button-services"
                                                    class="button"
                                                    data-reveal-button
                                                    aria-controls="tab-services"
                                                    data-reveal-tabs="market-tabs">Services</button>
                                        </li>
                                    {% endif %}
                                    {% if page.stats.market_trends.data %}
                                        <li>
                                            <button id="tab-button-market-trends"
                                                    class="button"
                                                    data-reveal-button
                                                    aria-controls="tab-market-trends"
                                                    data-reveal-tabs="market-tabs">Market trends</button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% if page.stats.goods_exports.data %}
                                <div id="tab-goods" class="reveal-content">
                                    <h2 class="body padding-top-30">
                                        Top {{ page.stats.goods_exports.data|length|apnumber }} UK goods exported to {{ page.heading }}
                                        {% if page.stats.goods_exports.metadata.reference_period %}
                                            ,
                                            in the {% reference_period page.stats.goods_exports.metadata.reference_period %}
                                        {% endif %}
                                    </h2>
                                    {% include 'core/includes/bar_chart.html' with content=page.stats.goods_exports labels_heading='Goods' country=page.heading factsheet_link=page.country_fact_sheet_link %}
                                </div>
                            {% endif %}
                            {% if page.stats.services_exports.data %}
                                <div id="tab-services" class="reveal-content">
                                    <h2 class="body padding-top-30">
                                        Top {{ page.stats.services_exports.data|length|apnumber }} UK services exported to {{ page.heading }}
                                        {% if page.stats.services_exports.metadata.reference_period %}
                                            ,
                                            in the {% reference_period page.stats.services_exports.metadata.reference_period %}
                                        {% endif %}
                                    </h2>
                                    {% include 'core/includes/bar_chart.html' with content=page.stats.services_exports labels_heading='Service' country=page.heading factsheet_link=page.country_fact_sheet_link %}
                                </div>
                            {% endif %}
                            {% if page.stats.market_trends.data %}
                                <div id="tab-market-trends" class="reveal-content">
                                    <h2 class="body padding-top-30">
                                        Total import value (into the UK from {{ page.heading }}) and export value (from the UK into {{ page.heading }}) over time
                                    </h2>
                                    <div id="market-trends-table" class="reveal-content">
                                        <button class="link margin-bottom-15 font-small"
                                                data-reveal-button
                                                aria-controls="market-trends-chart"
                                                data-reveal-tabs="market-trends-view">Change to chart view</button>
                                        {% with unit=page.stats.market_trends.metadata.unit %}
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Year</th>
                                                        <th scope="col" class="great-text-align-right">
                                                            Imports (£
                                                            {% if unit %}{{ unit }}{% endif %}
                                                            )
                                                        </th>
                                                        <th scope="col" class="great-text-align-right">
                                                            Exports (£
                                                            {% if unit %}{{ unit }}{% endif %}
                                                            )
                                                        </th>
                                                        <th scope="col" class="great-text-align-right">
                                                            Total trade (£
                                                            {% if unit %}{{ unit }}{% endif %}
                                                            )
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for datum in page.stats.market_trends.data %}
                                                        <tr>
                                                            <td>{{ datum.year }}</td>
                                                            <td class="great-text-align-right">{% round_to_unit datum.imports unit %}</td>
                                                            <td class="great-text-align-right">{% round_to_unit datum.exports unit %}</td>
                                                            <td class="great-text-align-right">{% round_to_unit datum.total unit %}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endwith %}
                                    </div>
                                    <div id="market-trends-chart" class="reveal-content">
                                        <button class="link margin-bottom-15 font-small"
                                                data-reveal-button
                                                aria-controls="market-trends-table"
                                                data-reveal-tabs="market-trends-view">Change to table view</button>
                                        <div id="plotly-market-trends" class="margin-bottom-15"></div>
                                        {{ page.stats.market_trends.data|json_script:"market-trends-data" }}
                                        <script>
                  var marketTrendsUnit = '{{ page.stats.market_trends.metadata.unit }}';
                  var config = {
                    displayModeBar: false,
                    responsive: true,
                    locale: 'en-GB'
                  }
                  var layout = {
                    yaxis: {
                      fixedrange: true,
                      rangemode: 'tozero',
                      tickformat: 'gbpround',
                      title: '£ ' + marketTrendsUnit
                    },
                    xaxis : {
                      fixedrange: true,
                      showgrid: false,
                      showticklabels: true,
                      tickmode: 'linear',
                      showspikes: true,
                      spikethickness: 2,
                      spikemode: 'across',
                      spikelabel: false,
                    },
                    hovermode: 'closest',
                    font: {
                      family: 'Roboto, sans-serif',
                      size: 18,
                    },
                    legend: {
                      orientation: 'h',
                      y: -0.25,
                      xanchor: 'center',
                      x: .5
                    },
                    colorway: ['#006ccc', '#b00d23', '#00A699', '#666666'],
                    margin: {
                      b: 10,
                      t: 10,
                      r: 20,
                      pad: 10
                    },
                    width: document.querySelector('.tabs__nav').clientWidth
                  };

                  var lines = [
                    {
                      title: 'Total trade',
                      key: 'total',
                      style: 'dash'
                    },
                    {
                      title: 'Imports',
                      key: 'imports',
                      style: 'dot'
                    },
                    {
                      title: 'Exports',
                      key: 'exports',
                      style: 'solid'
                    }
                  ]

                  var sourceData = JSON.parse(document.getElementById('market-trends-data').textContent)

                  var years = sourceData.map(function(x) {
                    return x.year
                  })

                  var data = lines.map(function(line) {
                    return {
                      name: line.title,
                      x: years,
                      y: sourceData.map(function(x) {
                        return line.key === 'total' ? x['imports'] + x['exports'] : x[line.key]
                      }),
                      mode: 'lines',
                      line: {
                        dash: line.style,
                        width: 3
                      },
                      type: 'scatter',
                      hovertemplate: '%{x}: £%{y:gbp} {{ page.stats.market_trends.metadata.unit }}<extra></extra>'
                    }
                  })

                  var org_locale = Plotly.d3.locale;
                  Plotly.d3.locale = (locale) => {
                    var result = org_locale(locale);
                    var org_number_format = result.numberFormat;
                    result.numberFormat = (format) => {
                      if (format === 'gbp' || format === 'gbpround') {
                        var exponents = {
                          'trillion': 1e12,
                          'billion': 1e9,
                          'million': 1e6
                        }
                        return (x) => {
                          if (exponents.hasOwnProperty(marketTrendsUnit)) {
                            var output = '' + (x / exponents[marketTrendsUnit])
                            return format === 'gbpround' || output.includes('.') ? output : output + '.0'
                          }
                          return '' + x;
                        }
                      }
                      return org_number_format(format)
                    }
                    return result;
                  }

                  Plotly.newPlot('plotly-market-trends', data, layout, config);
                                        </script>
                                    </div>
                                    {% if page.stats.market_trends.metadata.source %}
                                        {% include 'domestic/includes/market_guide_graph_data_source.html' with source=page.stats.market_trends.metadata.source country=page.heading additional_source_text='Total trade is the sum of all exports and imports over the same time period.' factsheet_link=page.country_fact_sheet_link %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        {# NOTE: image only shows if there are no stats for a given market guide -- this should mean never! However, we keep it here in case stats fail to fetch. #}
                        {% image page.section_one_image fill-640x360 as section_one_image %}
                        {% include 'components/image_with_caption.html' with rendition=section_one_image main_caption=page.section_one_image_caption sub_caption=page.section_one_image_caption_company img_classes="m-f-auto m-r-auto" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section id="country-guide-statistics-section"
             class="statistics padding-vertical-30">
        <div class="container">
            {% include 'components/statistics_card_grid.html' with statistics=page.main_statistics economic_highlights=page.stats.economic_highlights country=page.heading href='' %}
        </div>
    </section>
    {% if page.section_two_heading %}
        <section id="country-guide-section-two"
                 class="section-two padding-vertical-20">
            <div class="container">
                <div class="grid-row">
                    <div class="column-full column-two-thirds-m column-half-l">
                        <h2 class="heading-large margin-top-0">{{ page.section_two_heading }}</h2>
                        <p>{{ page.section_two_teaser }}</p>
                    </div>
                </div>
            </div>
        </section>
        {% if page.accordions or page.sector_links %}
            {# This is streamfield #}
            <section id="country-guide-accordions" class="accordions padding-vertical-0">
                <ul>
                    {% if page.sector_links %}
                        {% for sector_link in page.sector_links %}
                            {% include_block sector_link %}
                        {% endfor %}
                    {% endif %}
                    {% if page.accordions %}
                        {% for industry_block in page.accordions %}
                            {% include_block industry_block %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </section>
        {% endif %}
    {% endif %}
    <section id="country-trade-barriers" class="padding-top-60 padding-bottom-30">
        <div class="container">
            <div class="grid-row">
                <div class="column-half-l padding-bottom-30">
                    <h2 class="heading-large padding-top-0">Check for trade barriers</h2>
                    <p>
                        Trade barriers, such as tariffs or taxes, can raise costs, cause delays, or even stop you from exporting. Check for any issues that may impact your business when exporting.
                    </p>
                    <p>
                        <a class="heading-small link" href="{{ page.trade_barriers_link }}">See current trade barriers</a>
                    </p>
                    {% if page.trade_barriers_resolved_link %}
                        <p>
                            <a class="heading-small link"
                               href="{{ page.trade_barriers_resolved_link }}">See resolved trade barriers</a>
                        </p>
                    {% endif %}
                </div>
                <div class="column-half-l padding-bottom-30">
                    <h2 class="heading-large padding-top-0">Check duties and customs</h2>
                    <p>
                        Find information on how to export goods from the UK. View the duties, rules, restrictions, and the documents you need for your products.
                    </p>
                    <p>
                        <a class="heading-small link" href="{{ page.duties_and_customs_link }}">See current duties and customs procedures</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% if page.fact_sheet_title %}
        <section id="country-guide-section-three"
                 class="section-three padding-top-90 padding-bottom-60">
            <div class="container">
                <div class="grid-row margin-bottom-60">
                    <div class="column-full column-two-thirds-m column-half-l">
                        <h1 class="margin-top-0">{{ page.fact_sheet_title }}</h1>
                        <p>{{ page.fact_sheet_teaser }}</p>
                    </div>
                </div>
                <div class="grid-row">
                    {% for column in page.fact_sheet_columns %}
                        {% if column.title %}
                            <div class="column-full {% if page.fact_sheet_columns|length != 1 %}column-half-xl{% endif %} margin-bottom-30">
                                <div class="fact-sheet">
                                    <div class="fact-sheet-content background-white padding-45 wrap-tight font-xsmall">
                                        <h3>{{ column.title }}</h3>
                                        {% if column.teaser %}<p class="font-small">{{ column.teaser }}</p>{% endif %}
                                        <div class="rich-text">{{ column.body|richtext }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    <section id="country-guide-need-help-section" class="great">
        <h2 class="heading-large margin-top-0">Next steps</h2>
        <div>
            <div>
                {% static 'images/learn-to-export-header.png' as need_help_image_url %}
                {% slugurl 'advice' as advice_url %}
                <img src={{ need_help_image_url }} alt="Contact us">
                <h3 class="govuk-heading-m govuk-!-margin-0">Get ready to do business abroad</h3>
                <p>Step-by-step lessons to accelerate your exporting ability.</p>
                <a class="button primary-button" href="{{ advice_url }}">Read more</a>
            </div>
            <div>
                {% static 'images/find_export_answers.png' as find_export_answers_img %}
                <img src="{{ find_export_answers_img }}" alt="Contact us">
                <h3 class="govuk-heading-m govuk-!-margin-0">Find the answers to your exporting questions</h3>
                <p>
                    Get instant help from our online services and how-to articles or contact our Export Support Service to access our wider network of support.
                </p>
                <a class="button primary-button" href="/support/export-support/">Find answers</a>
            </div>
        </div>
    </div>
</section>
{% if page.related_pages %}
    <section id="country-guide-news-events-section"
             class="news-events padding-vertical-60">
        <div class="container">
            <h2 class="heading-large margin-top-0 margin-bottom-45">News and events</h2>
            <div class="flex-grid">
                {% for related_page in page.related_pages %}
                    <div class="column-full column-half-l column-third-xl">
                        {% if related_page.page_type == 'InternationalArticlePage' %}
                            {% include 'components/card.html' with card_id=related_page.slug url=related_page.url card_image=related_page.article_image sub_heading='Article' title=related_page.title description=related_page.teaser %}
                        {% else %}
                            {% include 'components/card.html' with card_id=related_page.slug url=related_page.url card_image=related_page.article_image sub_heading='Campaign' title=related_page.title description=related_page.teaser %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}
