{% extends 'domestic/base.html' %}

{% load static %}
{% load component_tags wagtailcore_tags wagtailimages_tags %}

{% block css_layout_class %}country-guide-page{% endblock %}

{% block head_js %}
  {{ block.super }}
  <script src="{% static 'javascript/country-guide.js' %}"></script>
  <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
{% endblock %}

{% block content %}

{% include 'components/hero.html' with image=page.hero_image hero_text=page.heading hero_subheading=page.sub_heading %}

<nav class="container">
  {% include 'components/breadcrumbs_cms.html' %}
</nav>

{% if page.heading_teaser %}
<section id="country-guide-teaser-section" class="teaser-section padding-vertical-30">
  <div class="container">

    <div class="grid-row">
      <div class="column-three-quarters-l teaser">
        <h2 class="visually-hidden">Overview</h2>

        <p class="font-medium margin-bottom-30">{{ page.heading_teaser }}</p>
      </div>

      {% if page.intro_ctas %}
      <div class="column-quarter-l links margin-bottom-30">
        {% if FEATURE_SHOW_MARKET_GUIDE_BAU_LINKS %}
          <h2 class="heading-medium margin-top-0">Related services</h2>
          <div class="panel-vertical-narrow content-list padding-top-30">
            <ul id="country-guide-intro-ctas">
              {% for cta in page.intro_ctas %}
              <li>
                {% if cta.title and cta.link %}
                  <a class="heading-small link intro-cta-link" href="{{ cta.link }}">{{ cta.title }}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section id="country-guide-section-one" class="section-one padding-vertical-60">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-half-l section-one-body rich-text">
        {{ page.section_one_body|richtext }}
      </div>
      <div class="column-full column-half-l">
        {% if page.stats and FEATURE_SHOW_MARKET_GUIDE_VISUALISATIONS %}
          <h2 class="heading-medium">Total import and export values between {{ page.heading }} and the UK (GBP)</h2>

          <div id="plotly-market-trends"></div>
          {{ page.stats.market_trends|json_script:"market-trends-data" }}
          <script>
            var config = {
              displayModeBar: false,
              responsive: true,
              locale: 'en-GB'
            }
            var layout = {
              yaxis: {
                fixedrange: true,
                rangemode: 'tozero'
              },
              xaxis : {
                fixedrange: true,
                showgrid: false,
                showticklabels: true,
                tickmode: 'linear',
                showspikes: true,
                spikethickness: 2,
                spikemode: 'across'
              },
              font: {
                family: 'Roboto, sans-serif',
                size: 18,
              },
              legend: {
                orientation: 'h'
              },
              colorway: ['#006ccc', '#ef5f56', '#00A699', '#666666'],
              margin: {
                b: 0,
                t: 0,
                l: 50,
                r: 0,
                pad: 10
              },
            };

            var lines = [
              {
                title: 'Total trade',
                key: 'total'
              },
              {
                title: 'Imports',
                key: 'imports'
              },
              {
                title: 'Exports',
                key: 'exports'
              }
            ]

            var sourceData = JSON.parse(document.getElementById('market-trends-data').textContent)

            var years = sourceData.map(function(x) {
              return x.year
            })

            var data = lines.map(function(line) {
              return {
                name: line.title,
                x: years,
                y: sourceData.map(function(x) {
                  return x[line.key]
                }),
                type: 'scatter',
                hovertemplate: line.title + ' in %{x}: £%{y}<extra></extra>'
              }
            })

            Plotly.newPlot('plotly-market-trends', data, layout, config);
          </script>
        {% else %}
          {% image page.section_one_image fill-640x360 as section_one_image %}
          {% include 'components/image_with_caption.html'  with rendition=section_one_image main_caption=page.section_one_image_caption sub_caption=page.section_one_image_caption_company img_classes="m-f-auto m-r-auto" %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

  <section id="country-guide-statistics-section" class="statistics padding-vertical-30 background-stone-30">
    <div class="container">
      {% include 'components/statistics_card_grid.html' with statistics=page.main_statistics country=page.heading %}
    </div>
  </section>

  {% if page.section_two_heading %}
    <section id="country-guide-section-two" class="section-two padding-vertical-60">
      <div class="container">
        <div class="grid-row">
          <div class="column-full column-two-thirds-m column-half-l">
            <h2 class="heading-large margin-top-0">{{ page.section_two_heading }}</h2>
            <p>{{ page.section_two_teaser }}</p>
          </div>
        </div>
      </div>
    </section>

    {% if page.accordions %} {# This is streamfield #}
      <section id="country-guide-accordions" class="accordions padding-vertical-0">
        <ul>
          {% for industry_block in page.accordions %}
            {% include_block industry_block %}
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endif %}

  <section class="padding-top-60 padding-bottom-30">
    <div class="container">
      <div class="grid-row">
        <div class="column-half-l padding-bottom-30">
          <h2 class="heading-large padding-top-0">Check for trade barriers</h2>

          <p>Trade barriers, such as tariffs or taxes, can raise costs, cause delays, or even stop you from exporting. Check for any issues that may impact your business when exporting.</p>

          <p><a class="heading-small link" href="{{ page.trade_barriers_link }}">See current trade barriers</a></p>

          {% if page.trade_barriers_resolved_link %}
            <p><a class="heading-small link" href="{{ page.trade_barriers_resolved_link }}">See resolved trade barriers</a></p>
          {% endif %}
        </div>

        <div class="column-half-l padding-bottom-30">
          <h2 class="heading-large padding-top-0">Check duties and customs</h2>

          <p>Find information on how to export goods from the UK. View the duties, rules, restrictions, and the documents you need for your products.</p>

          <p><a class="heading-small link" href="{{ page.duties_and_customs_link }}">See current duties and customs procedures</a></p>
        </div>
      </div>
    </div>
  </section>

{% if page.fact_sheet_title %}
<section id="country-guide-section-three" class="section-three background-stone-30 padding-top-90 padding-bottom-60">
  <div class="container">
    <div class="grid-row margin-bottom-60">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">{{ page.fact_sheet_title }}</h2>
        <p>{{ page.fact_sheet_teaser }}</p>
      </div>
    </div>
    <div class="grid-row">
      {% for column in page.fact_sheet_columns %}
        {% if column.title %}
          {% if page.fact_sheet_columns|length == 1 %}
          <div class="column-full margin-bottom-30">
          {% else %}
          <div class="column-full column-half-xl margin-bottom-30">
          {% endif %}
            <div class="fact-sheet">
              <h3 class="highlight heading-medium background-grey white-text">{{ column.title }}</h3>
              <div class="fact-sheet-content background-white padding-45 wrap-tight font-xsmall">
                {% if column.teaser %}
                <p class="font-small">{{ column.teaser }}</p>
                <hr>
                {% endif %}
                <div class="rich-text">{{ column.body|richtext }}</div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section id="country-guide-need-help-section" class="need-help padding-vertical-60">
  <div class="container">
    <div class="grid-row margin-bottom-45">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">Next steps</h2>
        <p>DIT can advise you on doing business abroad, and help put you in touch with other people who can help such as lawyers and distributors.</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full column-half-l column-third-xl margin-bottom-30 margin-bottom-0-xl">
        {% static 'images/country-guide-advice.png' as need_help_image_url %}
        {% slugurl 'advice' as advice_url %}
        {% include 'components/cta_card.html' with with_arrow=True image_url=need_help_image_url text="Read more advice about doing business abroad" url=advice_url %}
      </div>

      {% if FEATURE_SHOW_MARKET_GUIDE_BAU_LINKS %}
      <div class="column-full column-half-l column-third-xl margin-bottom-0">
        {% static 'images/country-guide-contact.png' as contact_us_image_url %}
        {% include 'components/cta_card.html' with with_arrow=True image_url=contact_us_image_url text="Get in touch with one of our trade advisers" url="/contact/office-finder/" %}
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% if page.related_pages %}
<section id="country-guide-news-events-section" class="news-events background-stone-30 padding-vertical-60">
  <div class="container">
    <h2 class="heading-large margin-top-0 margin-bottom-45">News and events</h2>
    <div class="flex-grid">
      {% for related_page in page.related_pages %}
        <div class="column-full column-half-l column-third-xl">
          {% if related_page.page_type == 'InternationalArticlePage' %}
            {% include 'components/card.html' with card_id=related_page.slug url=related_page.url card_image=related_page.article_image sub_heading='Article' title=related_page.title description=related_page.teaser %}
          {% else %}
            {% include 'components/card.html' with card_id=related_page.slug url=related_page.url card_image=related_page.article_image sub_heading='Campaign' title=related_page.title description=related_page.teaser %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
