{% extends 'core/base.html' %}

{% block content %}
    {% include "core/includes/personalisation_bar.html" with profile=request.user.company %}
  <div class="container">
    <h2 class="h-l m-t-l" id="great-hero-welcome">Welcome {% if visited_already %}back {% endif %}{{ request.user.first_name }}</h2>
  </div>

    <div class="container">
        {% include "core/includes/routing_bar.html" with routes=routes %}
        
        <div class="grid">
            <div class="c-1-2 m-b-s">
                {% include './dashboard_cards/learning_progress.html' %}
                {% include './dashboard_cards/events.html' %}

                <div class="g-card" id="your-export-plan-card">
                    <div class="g-card-header">
                        <h3 class="h-m">Your export plan</h3>
                    </div>
                    <p class="m-v-s">Get ready to Trade Export plan</p>
                    <form class="great-mvp-small-checkbox-container">
                       {{ export_plan_progress_form }}
                    </form>
                </div>
                <div class="g-card" id="did-you-know-card">
                    <h3 class="m-b-s card-heading text-16">Did you know</h3>
                    <p>If you're exporting and your bank or credit insurer can't help, you may qualify for government-backed finance or insurance from UK Export Finance (UKEF). Contact UKEF for free, impartial guidance on getting finance for exporting.</p>
                </div>
            </div>

            <div class="c-1-2">
                {% include './dashboard_cards/export_opportunities.html' %}
                {% include './dashboard_cards/tariffs.html' %}
                {% include './dashboard_cards/new_markets.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block feedback_reporter %}{% endblock %}

{% block body_google_tag_manager %}{% endblock %}

{% block head_google_tag_manager %}{% endblock %}
