{% extends 'core/base.html' %}
{% load wagtailcore_tags %}
{% block breadcrumbs_block %}
    <div class="great-ds-container">
        {% if bespoke_breadcrumbs %}
            {% include '_breadcrumbs.html' with itemsList=bespoke_breadcrumbs homeURL=BREADCRUMBS_ROOT_URL collapseOnMobile=True classes='great-ds-breadcrumbs--bg-white' %}
        {% else %}
            {% include '_breadcrumbs.html' with itemsList=page.get_breadcrumbs homeURL=BREADCRUMBS_ROOT_URL collapseOnMobile=True classes='great-ds-breadcrumbs--bg-white' %}
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div id="dashboard-container" class="container">
        <h1 class="page-title" id="great-hero-welcome">Dashboard</h1>
        <div class="grid">
            {% if lessons_in_progress and exportplan_list %}
                <div class="c-1-2-xl">
                    {% include './dashboard_cards/uk_export_academy.html' %}
                    {% include './dashboard_cards/learning_progress.html' %}
                </div>
                <div class="c-1-2-xl">
                    {% include './dashboard_cards/exportplan_progress.html' %}
                    {% include_block routes.target with wide=True %}
                </div>
            {% elif exportplan_list %}
                <div class="c-1-2-xl">
                    {% include './dashboard_cards/uk_export_academy.html' %}
                    {% include './dashboard_cards/exportplan_progress.html' %}
                </div>
                <div class="c-1-2-xl">
                    {% include_block routes.learn with wide=True %}
                    {% include_block routes.target with wide=True %}
                </div>
            {% elif lessons_in_progress %}
                <div class="c-1-2-xl">
                    {% include './dashboard_cards/uk_export_academy.html' %}
                    {% include './dashboard_cards/learning_progress.html' %}
                </div>
                <div class="c-1-2-xl">
                    {% include_block routes.target with wide=True %}
                    {% include_block routes.plan with wide=True %}
                </div>
            {% else %}
                <div class="c-1-2-xl">
                    {% include './dashboard_cards/uk_export_academy.html' %}
                    {% include_block routes.learn with wide=True %}
                </div>
                <div class="c-1-2-xl">
                    {% include_block routes.target with wide=True %}
                    {% include_block routes.plan with wide=True %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {% if not visited_already %}
        <script type="text/javascript">
      var signUpMethod = {
        'google': 'Google',
        'linkedin_oauth2': 'LinkedIn',
      }['{{request.user.user_profile.user_profile.social_account}}'];
      (window.dataLayer = window.dataLayer || []).push({
        event: 'accountCreated',
        signUpMethod: signUpMethod || 'Email'
      });
        </script>
    {% endif %}
    {% comment %} Load VFM survey {% endcomment %}
    {% if request.user.is_authenticated %}
        <script>
      magna.LaunchModal({
        modals: [
          {
            factory: magna.Questionnaire,
            params: {},
          }
        ]
      })
        </script>
    {% endif %}
    {{ block.super }}
{% endblock %}
