{% extends 'core/base.html' %}
{% load wagtailcore_tags %}

{% block content %}
  <div class="container">
      <h2 class="h-l m-t-l" id="great-hero-welcome">Hello{% if request.user.first_name %}, {{ request.user.first_name }}{% endif %}</h2>
      <div class="grid text-blue-deep-80">
      {% if lessons_in_progress and export_plan_in_progress %}
          <div class="c-1-2">
              {% include './dashboard_cards/learning_progress.html' %}
              {% include './dashboard_cards/export_opportunities.html' %}
          </div>
          <div class="c-1-2">
              {% include_block routes.learn with wide=True button_label_override='Learn'%}
              {% include_block routes.target with wide=True button_label_override='Compare places'%}
          </div>
        {% elif export_plan_in_progress %}
            <div class="c-1-2">
                {% include './dashboard_cards/exportplan_progress.html' %}
                {% include './dashboard_cards/export_opportunities.html' %}
            </div>
            <div class="c-1-2">
                {% include_block routes.learn with wide=True button_label_override='Learn'%}
                {% include_block routes.target with wide=True button_label_override='Compare places'%}
            </div>
        {% elif lessons_in_progress  %}
            <div class="c-1-2">
                {% include './dashboard_cards/learning_progress.html' %}
                {% include './dashboard_cards/export_opportunities.html' %}
            </div>
            <div class="c-1-2">
                {% include_block routes.learn with wide=True button_label_override='Learn'%}
                {% include_block routes.target with wide=True button_label_override='Compare places'%}
            </div>
        {% else %}
            <div class="c-1-3">
                 {% include_block routes.learn with wide=False button_label_override='Learn'%}
            </div>
            <div class="c-1-3">
                {% include_block routes.target with wide=False button_label_override='Compare places'%}
            </div>
            <div class="c-1-3">
                {% include_block routes.plan with wide=False button_label_override='Make an export plan'%}
            </div>
            <div class="c-full m-b-s">
                {% include './dashboard_cards/export_opportunities.html' %}
            </div>
      {% endif %}
      </div>
  </div>
{% endblock %}

{% block body_js %}
  {% if not visited_already %}
    <script type="text/javascript">
      var signUpMethod = {
        'google': 'Google',
        'linkedin_oauth2': 'LinkedIn',
      }['{{request.user.user_profile.user_profile.social_account}}'];
      (window.dataLayer = window.dataLayer || []).push({
        event: 'accountCreated',
        signUpMethod: signUpMethod || 'Email'
      });
    </script>
  {% endif %}
  {{ block.super }}
{% endblock %}


{% block feedback_reporter %}{% endblock %}
