{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div id="welcome-back-hero" class="gutter-top c-full">
            <div class="grid">
                <div class="c-1-2">&nbsp;</div>
                <div class="c-1-2">
                    <h2 class="h-l m-t-xl">Start exporting today</h2>
                    <p>{% lorem 20 w %}</p>
                    <p>{% lorem 20 w %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body_js %}
    {{ block.super }}
    {% if not request.user.is_authenticated %}
    <script type="text/javascript">
        var element = document.getElementById("header-sign-up-link")
        if (element) {
            ditMVP.setConfig({
                apiSignupUrl: '{% url "sso:business-sso-create-user-api" %}',
                verifyCodeUrl: '{% url "sso:business-sso-verify-code-api" %}',
                csrfToken: '{{ csrf_token }}',
                linkedInUrl: '{{ signup_modal.linkedin_url }}',
                googleUrl: '{{ signup_modal.google_url }}',
                termsUrl: '{{ signup_modal.terms_url }}',
                loginUrl: '{% url "core:login" %}',
                dashboardUrl: '{% url "core:dashboard" %}'
            })

            {% if 'verify' in request.GET %}
                var step = ditMVP.STEP_VERIFICATION_CODE;
                var username = request.GET.verify;
            {% else %}
                var step = ditMVP.STEP_CREDENTIALS;
                var username = ''
            {% endif %}

            ditMVP.SignupModal({
                element: element.parentElement,
                currentStep: step,
                isOpen: true,
                username: username,
                nextUrl: '{% url "core:dashboard" %}',
                preventClose: true
            })
        }
    </script>
    {% endif %}
{% endblock %}
