{% extends 'domestic/base.html' %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load event_list_buttons %}
{% load add_govuk_classes from content_tags %}
{% load render_ukea_and_fab_homepage_heros from component_tags %}
{% block content %}   
    {% image page.hero_image original as rendition %}     
    {% if user.is_anonymous %}
        {% with page.hero_cta|first as cta %}
            {% render_ukea_and_fab_homepage_heros rendition.url page.title page.hero_text page.hero_text_below_cta_logged_out cta.value.label cta.value.link.internal_link.url cta.value.link.external_link %}
        {% endwith%}
    {% else %}
        {% with page.hero_cta_logged_in|first as cta %}
            {% render_ukea_and_fab_homepage_heros rendition.url page.title page.hero_text None cta.value.label cta.value.link.internal_link.url cta.value.link.external_link %}
        {% endwith%}
    {% endif %}
    <section class="great-bg-light-blue panels-container govuk-!-padding-bottom-0 govuk-!-padding-top-0">
        <div class="grid-row great-bg-white govuk-!-static-padding-bottom-7 govuk-!-static-padding-top-7">
            <div class="great great-bg-white lesson-page">
                <div class="great-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third-from-desktop">
                            <h2>{{ page.body_title }}</h2>
                        </div>
                        <div class="govuk-grid-column-two-thirds-from-desktop"></div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third-from-desktop">
                            <p>{{ page.body | richtext | add_govuk_classes }}</p>
                        </div>
                        <div class="govuk-grid-column-two-thirds-from-desktop">
                            <div class="govuk-!-static-padding-top-6">
                                {% image page.body_image original as body_rendition %}
                                <img class="width-full" src="{{ body_rendition.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="govuk-!-static-padding-bottom-7 govuk-!-static-padding-top-7"
             id="article_related_content_footer">
        <div class="container">
            <div class="grid-row">
                <div class="column-three-quarters">
                    <div class="grid-row">
                        <div class="column-seven-ninths">
                            <div class="grid-row">
                                <div class="column">
                                    <h2 class="heading-large margin-top-0">{{ page.cta_title }}</h2>
                                    <p>{{ page.cta_teaser }}</p>
                                    <div>
                                        <a href="{{ page.cta_link }}" class="button primary-button">{{ page.cta_link_label }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
