{% extends 'domestic/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/default.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% static 'styles/performance-dashboard.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block head_title %}Performance dashboard{% endblock %}
{% block meta_title %}Performance dashboard{% endblock %}
{% block content %}
    <section class="help-pages">
        <div class="container">
            <div class="performance">
                {# djlint:off #}
                {% include 'components/great/notification_banner.html' with banner_title='Important' banner_heading="Following public consultation, we will be discontinuing the current publication of Official Statistics on the Great Performance Dashboard. The final monthly publication is scheduled for June 2024." banner_body='To find out more please visit <a class="govuk-notification-banner__link" href="https://www.gov.uk/government/consultations/changes-to-official-statistics-on-the-greatgovuk-performance-dashboard">https://www.gov.uk/government/consultations/changes-to-official-statistics-on-the-greatgovuk-performance-dashboard</a>.' %}
                {# djlint:on #}
                <p class="font-small subheading">Performance dashboard</p>
                <h2 class="heading-large">{{ page.heading }}</h2>
                <div class="grid-row">
                    <div class="column-half">
                        {{ page.description|richtext }}
                        <p>
                            Visit <a href="{{ page.product_link }}" class="link">{{ page.heading }}</a>
                        </p>
                    </div>
                </div>
                <div class="grid-row performance-stats">
                    {% for data_block in page.body %}
                        {% include_block data_block %}
                    {% endfor %}
                </div>
                {% if page.guidance_notes %}
                    <div class="grid-row">
                        <div class="column-half rich-text">{{ page.guidance_notes|richtext }}</div>
                    </div>
                {% endif %}
            </div>
            {% if page.landing_dashboard and page.get_child_dashboards %}
                <div class="other-services">
                    <p class="subheading">Department for Business and Trade</p>
                    <h2 class="heading-large">Our services</h2>
                    <ul class="list">
                        {% for child_dashboard in page.get_child_dashboards %}
                            <li>
                                <a class="link" href="{{ child_dashboard.url }}">{{ child_dashboard.heading }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
