{% extends './base.html' %}
{% load static %}
{% load get_attributes from content_tags %}
{% block head_title %}Buy from the UK {{ block.super }}{% endblock %}
{% block meta_title %}Buy from the UK {{ block.super }}{% endblock %}
{% block head_css %}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
    {{ block.super }}
{% endblock %}
{% block content %}
    {% include './includes/landing_hero.html' %}
    <section class="light-blue-background govuk-!-padding-top-6 govuk-!-padding-bottom-3">
        <div class="great-container">
            <form action="{% url 'international_buy_from_the_uk:find-a-supplier' %}"
                  method="get">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half-from-desktop">
                        <h2 class="govuk-heading-m">Find a UK supplier</h2>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        {% include 'international/includes/form_field.html' with field=form.q %}
                    </input>
                </div>
                <div class="govuk-grid-column-one-third-from-desktop">
                    {% include 'international/includes/form_field.html' with field=form.industries %}
                    <input type="hidden"
                           class="govuk-visually-hidden"
                           name="page"
                           id="page"
                           value="1">
                </input>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-4">
            <div class="govuk-grid-column-two-thirds-from-desktop">{% include "_button.html" with text='Find suppliers' %}</div>
        </div>
    </form>
</div>
</section>
<section class="buy-from-the-uk-home-download-section">
    <div class="great-container">
        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-7">
            <div class="govuk-grid-column-one-quarter-from-desktop">
                <div class="buy-from-the-uk-ebook-preview-image govuk-!-margin-bottom-2"></div>
            </div>
            <div class="govuk-grid-column-three-quarters-from-desktop">
                <h2 class="govuk-heading-m">Download our ebook: 5 reasons to buy from the UK</h2>
                <p class="govuk-body-m">
                    The UK is a nation of innovators with more Nobel Prize winners than anywhere outside of the US. Every day, businesses all over the world buy products and services of the highest quality from the UK.
                </p>
                <p class="govuk-body-m">
                    Our ebook, 5 Reasons to buy from the UK, gives insight into how the unique combination of innovation, creativity, infrastructure, robust regulatory framework, and access to capital makes the UK one of the top markets to find a supplier.
                </p>
                <a class="govuk-button-secondary great-ds-button--secondary"
                   href="/document/Five reasons to buy from the UK">Download</a>
            </div>
        </div>
    </div>
</section>
<section class="light-blue-background">
    <div class="great-container">
        <div class="govuk-grid-row great-card-row govuk-!-padding-top-8 govuk-!-padding-bottom-2">
            <div class="great-ds-card-container">
                {% with attributes='Get an introduction'|get_attributes:'International buy from the UK homepage' %}
                    {% include '_card.html' with href="/international/buy-from-the-uk/contact/" iconSvg="/static/icons/Icon-MakeIntroductions.svg" title="Get an introduction" description="Tell us about your business. We will find your ideal trade partner and make an introduction to get you off to the best start." id=page.slug classes="great-ds-card--3" %}
                {% endwith %}
                {% with attributes='Get advice on buying from the UK'|get_attributes:'International buy from the UK homepage' %}
                    {% include '_card.html' with href="/international/buy-from-the-uk/contact/" iconSvg="/static/icons/Icon-GetAdvice.svg" title="Get advice on buying from the UK" description="Get the latest information on markets and trends, and benefit from the local knowledge of our trade advisers from around the world." id=page.slug classes="great-ds-card--3" %}
                {% endwith %}
                {% with attributes='Finance imports'|get_attributes:'International buy from the UK homepage' %}
                    {% include '_card.html' with href="/project-finance/" iconSvg="/static/icons/Icon-Finance.svg" title="Finance imports" description="Find competitive financing when buying from the UK. Explore a range of financing solutions through our initiative for foreign buyers, UK Export Finance (UKEF)." id=page.slug classes="great-ds-card--3" %}
                {% endwith %}
            </div>
        </div>
    </div>
</section>
<section class="buy-from-the-uk-contact-section">
    <div class="great-container">
        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h2 class="govuk-heading-m">Speak to us</h2>
                <p class="govuk-body-m">
                    Our teams are located in UK embassies, high commissions and consulates in cities around the world.
                </p>
                {% url 'international_buy_from_the_uk:contact' as contact_url %}
                {% include '_action-link.html' with linkText='Get in touch' linkHref=contact_url %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
