{% extends './base.html' %}
{% load static %}
{% block head_title %}Buy from the UK {{ block.super }}{% endblock %}
{% block meta_title %}Buy from the UK {{ block.super }}{% endblock %}
{% block head_css %}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
    {{ block.super }}
{% endblock %}
{% block content %}
    {% include './includes/landing_hero.html' %}
    <section class="light-blue-background govuk-!-padding-top-6 govuk-!-padding-bottom-3">
        <div class="great-container">
            <form action="{% url 'international_buy_from_the_uk:find-a-supplier' %}"
                  method="get">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half-from-desktop">
                        <h2 class="govuk-heading-m">Find a UK supplier</h2>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        {% include 'international/includes/form_field.html' with field=form.q %}
                    </input>
                </div>
                <div class="govuk-grid-column-one-third-from-desktop">
                    {% include 'international/includes/form_field.html' with field=form.industries %}
                    <input type="hidden"
                           class="govuk-visually-hidden"
                           name="page"
                           id="page"
                           value="1">
                </input>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-4">
            <div class="govuk-grid-column-two-thirds-from-desktop">{% include "_button.html" with text='Find suppliers' %}</div>
        </div>
    </form>
</div>
</section>
<section class="buy-from-the-uk-home-download-section">
    <div class="great-container">
        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-7">
            <div class="govuk-grid-column-one-quarter-from-desktop">
                <div class="buy-from-the-uk-ebook-preview-image govuk-!-margin-bottom-2"></div>
            </div>
            <div class="govuk-grid-column-three-quarters-from-desktop">
                <h2 class="govuk-heading-m">Download our ebook: 5 reasons to buy from the UK</h2>
                <p class="govuk-body-m">
                    The UK is a nation of innovators with more Nobel Prize winners than anywhere outside of the US. Every day, businesses all over the world buy products and services of the highest quality from the UK.
                </p>
                <p class="govuk-body-m">
                    Our ebook, 5 Reasons to buy from the UK, gives insight into how the unique combination of innovation, creativity, infrastructure, robust regulatory framework, and access to capital makes the UK one of the top markets to find a supplier.
                </p>
                {% include '_action-link.html' with linkText='Download' linkHref='/document/Five reasons to buy from the UK' %}
            </div>
        </div>
    </div>
</section>
<section class="light-blue-background">
    <div class="great-container">
        <div class="govuk-grid-row great-card-row govuk-!-padding-top-8 govuk-!-padding-bottom-2">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with data_attr_title='Get an introduction' heading_level='h2' image_src='buy_from_the_uk/includes/svg/Icon-MakeIntroductions.svg' is_svg_image=True data_attr_location='International buy from the UK homepage' title='Get an introduction' show_title_link=True url='/international/buy-from-the-uk/contact/' content='Tell us about your business. We will find your ideal trade partner and make an introduction to get you off to the best start.' content_class="govuk-body" classes="great-card--homepage great-international-card--cta" %}
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with data_attr_title='Get advice on buying from the UK' heading_level='h2' image_src='buy_from_the_uk/includes/svg/Icon-GetAdvice.svg' is_svg_image=True data_attr_location='International buy from the UK homepage' title='Get advice on buying from the UK' show_title_link=True url='/international/buy-from-the-uk/contact/' content='Get the latest information on markets and trends, and benefit from the local knowledge of our trade advisers from around the world.' content_class="govuk-body" classes="great-card--homepage great-international-card--cta" %}
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with data_attr_title='Finance imports' heading_level='h2' image_src='buy_from_the_uk/includes/svg/Icon-Finance.svg' is_svg_image=True data_attr_location='International buy from the UK homepage' title='Finance imports' show_title_link=True url='/project-finance/' content='Find competitive financing when buying from the UK. Explore a range of financing solutions through our initiative for foreign buyers, UK Export Finance (UKEF).' content_class="govuk-body" classes="great-card--homepage great-international-card--cta" %}
            </div>
        </div>
    </div>
</section>
<section class="buy-from-the-uk-contact-section">
    <div class="great-container">
        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h2 class="govuk-heading-m">Speak to us</h2>
                <p class="govuk-body-m">
                    Our teams are located in UK embassies, high commissions and consulates in cities around the world.
                </p>
                {% url 'international_buy_from_the_uk:contact' as contact_url %}
                {% include '_action-link.html' with linkText='Get in touch' linkHref=contact_url %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
