{% extends "modeladmin/create.html" %}
{% load i18n wagtailadmin_tags %}
{% block header %}
    {% include "modeladmin/includes/header_with_history.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon merged=1 latest_log_entry=latest_log_entry history_url=history_url %}
{% endblock %}
{% block form_action %}{{ view.edit_url }}{% endblock %}
{% block more_action_items %}
    {% if user_can_delete %}
        <ul>
            <li>
                <a href="{{ view.delete_url }}" class="button button-longrunning w-w-full">{% trans "Delete" %}</a>
                {% if instance.live %}
                    <button type="submit"
                        class="button button-longrunning w-w-full"
                        name="live"
                        value=""
                        data-clicked-text="{% trans 'UnPublishing...' %}
                        >
                        {% icon name="spinner" %}
                        <em>{% trans 'UnPublish' %}</em>
                    </button>
                {% else %}
                    <button type="submit"
                            class="button button-longrunning w-w-full"
                            name="live"
                            value="on"
                            data-clicked-text="{% trans 'Publishing...' %}">
                        {% icon name="spinner" %}
                        <em>{% trans 'Publish' %}</em>
                    </button>
                {% endif %}
            </li>
        </ul>
    {% endif %}
{% endblock %}
