@font-face {
    font-family: 'Daily-Tabloid-Light';
    src: url('/static/fonts/Daily-Tabloid-MiUK-Light.otf') format("opentype");
}

$brand-font-tabloid: 'Daily-Tabloid-Light', arial, helvetica, verdana, sans-serif;
$aqua:                 #007ea3; // rgb(  0, 126, 163)
$light-aqua:           #8ae2fb; // rgb(138, 226, 251)

// Hero subtitle signedin:
// <span>MADE</span> <span>in</span> <span>the</span> <span>UK</span><br><span>SOLD</span> <span>to</span> <span>the</span> <span> world </span>
#hero {
    .great-hero-text {
        p {
            font-family: $brand-font-tabloid;
            color: black;
            font-size: 150px;
            line-height: 0.8;
            word-spacing: -30px;
            margin-bottom: 95px;
            span:nth-child(2), span:nth-child(3), span:nth-child(7), span:nth-child(8) { // in the - to the
                font-size: 65px;
            }

            span:nth-child(2), span:nth-child(3) { // in the
                position: absolute;
            }

            span:nth-child(2) { // in
                left: 240px;
            }

            span:nth-child(3) { // the
                left: 240px;
                margin-top: 63px;
            }

            span:nth-child(4) { // UK
                position: relative;
                left: 63px;
            }

            span:nth-child(7), span:nth-child(8) { // to the
                position: absolute;
                padding-top: 156px;
            }

            span:nth-child(7) { // to
                left: 96px;
            }

            span:nth-child(8) { // the
                left: 146px;
            }

            span:nth-child(9) { // world
                color: $light-aqua;
                font-size: 190px;
                position: relative;
                top: 63px;
            }
        }

        a {
            position: relative;
            left: 235px;
        }
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    #hero {
        .great-hero-text {
            p {
                font-size: 125px;
                line-height: 0.6;
                margin-bottom: 95px;
                span:nth-child(2), span:nth-child(3), span:nth-child(7), span:nth-child(8) { // in the - to the
                    font-size: 55px;
                }

                span:nth-child(2), span:nth-child(3) { // in the
                    position: absolute;
                    left: 202px;
                }

                span:nth-child(3) { // the
                    margin-top: 45px;
                }

                span:nth-child(7), span:nth-child(8) { // to the
                    position: absolute;
                    padding-top: 156px;
                }

                span:nth-child(7) { // to
                    position: inherit;
                    margin-left: 4px;
                }

                span:nth-child(8) { // the
                    position: inherit;
                    margin-left: 4px;
                }

                span:nth-child(9) { // world
                    font-size: 167px;
                    position: relative;
                    top: 63px;
                }
            }

            a {
                position: inherit;
            }
        }
    }
}

@media (max-width: 600px) {
    #hero {
        background-position: 40%;
    }
}

@media (min-width: 321px) and (max-width: 400px) {
    #hero {
        .great-hero-text {
            p {
                font-size: 110px;
                line-height: 0.9;
                margin-bottom: 95px;
                span:nth-child(2), span:nth-child(3), span:nth-child(7), span:nth-child(8) { // in the - to the
                    font-size: 45px;
                }

                span:nth-child(2), span:nth-child(3) { // in the
                    position: absolute;
                    left: 185px;
                }

                span:nth-child(2) { // the
                    margin-top: 3px;
                }

                span:nth-child(3) { // the
                    margin-top: 50px;
                }

                span:nth-child(4) { // UK
                    position: relative;
                    left: 60px;
                }

                span:nth-child(7), span:nth-child(8) { // to the
                    position: absolute;
                    padding-top: 156px;
                }

                span:nth-child(7) { // to
                    position: inherit;
                    margin-left: 4px;
                }

                span:nth-child(8) { // the
                    position: inherit;
                    margin-left: 4px;
                }

                span:nth-child(9) { // world
                    font-size: 167px;
                    position: relative;
                    top: 35px;
                }
            }

            a {
                position: inherit;
            }
        }
    }
}

@media (max-width: 320px) {
    #hero {
        .great-hero-text {
            p {
                font-size: 90px;
                line-height: 0.9;
                margin-bottom: 95px;
                span:nth-child(2), span:nth-child(3), span:nth-child(7), span:nth-child(8) { // in the - to the
                    font-size: 40px;
                }

                span:nth-child(2), span:nth-child(3) { // in the
                    position: absolute;
                    left: 153px;
                }

                span:nth-child(2) { // the
                    margin-top: 3px;
                }

                span:nth-child(3) { // the
                    margin-top: 40px;
                }

                span:nth-child(4) { // UK
                    position: relative;
                    left: 60px;
                }

                span:nth-child(7), span:nth-child(8) { // to the
                    position: absolute;
                    padding-top: 156px;
                }

                span:nth-child(7) { // to
                    position: inherit;
                    margin-left: 4px;
                }

                span:nth-child(8) { // the
                    position: inherit;
                    margin-left: 4px;
                }

                span:nth-child(9) { // world
                    font-size: 130px;
                    position: relative;
                    top: 35px;
                }
            }

            a {
                position: inherit;
            }
        }
    }
}
