{% extends 'ea-tabs.html' %}
{% block head_title %}Account{% endblock %}
{% load static %}
{% block tab_content %}
	<div class="grid-row" id="tab-content">
		<div class="column-two-thirds">
			<section id="welcome-message">
				<h2 class="heading-large">Welcome to Export Academy</h2>
				<p class="body-text">From now on, every time you sign in you’ll be able to quickly access all of our exporting tools in one place. The tools are here to help your business succeed internationally.</p>
				<p class="body-text information-breakout">You can start using any of our session by clicking on the tabs on your account.</p>
				<h3 class="heading-medium">Upcoming events</h3>
				<p class="body-text">Find hundreds exporting events, search and apply within your industry or a specific country, and sign up for email alerts so you’re the first to know of new opportunities.</p>
				<h3 class="heading-medium">Your events</h3>
				<p class="body-text">Events you have registered.</p>
		</section>
		</div>
	</div>
{% endblock tab_content %}
