.international-footer {
    background: #04043F;

    .great-footer-logo-container {
        margin-top: 10px;
        background: #eb0000;
    }

    .great-logo {
        background-image: url('/static/images/great.png');
        width: 230px;
        height: 86px;
        margin-top: 10px;
        margin-left: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .international-footer-body {
        color: #FFFFFF;
    }
  }
