.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-label, .govuk-back-link, .govuk-fieldset__heading {
    color: $great-dark-blue;
}

.govuk-body, .govuk-list, .govuk-inset-text, .govuk-back-link:visited {
    color: $great-dark-grey;
}

.govuk-panel__title {
    color: $great-white;
}
