.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-label, .govuk-back-link {
    color: $great-dark-blue;
}

.govuk-body, .govuk-list, .govuk-inset-text, .govuk-back-link:visited {
    color: $great-dark-grey;
}

.govuk-panel__title {
    color: $great-white;
}

.govuk-fieldset__heading {
    font-family: 'Euclid Flex B', Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.111;
    @media (max-width: $mobile-size) {
        line-height: 1.04;
        font-size: 1.5rem;
    }
    color: $great-dark-blue;
}
