.international-header {
    background: #eb0000;
    border-bottom: 10px solid #eb0000;


    .govuk-header__container {
        border-bottom: 0px;
        margin-top: 0px;
    }

    .govuk-header__service-name {
        margin-top: 25px;
    }

    .govuk-header__navigation {
        margin-top: 20px;
    }

    .govuk-header__navigation-item {
        border-bottom-color: #ca1616;
    }

    .govuk-header__navigation-item {
        a:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.3em;
        }
    }

    .govuk-header__navigation-item--active {
        a {
            color: white;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.3em;
        }
        a:focus {
            color: black;
            text-decoration: none;
        }
    }

    .govuk-header__logo {
        margin-bottom: 0px;
        a {
            display: inline-block;
        }
        a:focus {
            .great-logo {
                background-image: url('/static/images/great-logo-condensed-black.svg');
            }
        }
    }

    .great-logo {
        background-image: url('/static/images/great-logo-condensed.svg');
        width: 144px;
        height: 80px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

}


.international-sub-header {
    background: #04043F;
    min-height: 50px;

    .govuk-header__container {
        border-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }

    .govuk-header__navigation-item a {
        font-weight: 400;
    }

    .govuk-header__link:hover {
        text-decoration-thickness: 1px;
    }

    .international-sub-navigation-logo {
        height: 30px;
    }

    .govuk-header__navigation-item {
        a:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 0.3em;
        }
    }

    .govuk-header__navigation-item--active {
        a {
            color: white;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 0.3em;
        }
        a:focus {
            color: black;
            text-decoration: none;
        }
    }
}


@media (min-width: 769px) {
    .great-navigation-list {
        float: right;

        .govuk-header__navigation-item:last-child {
            margin-right: 0;
            border-bottom: 0;
        }

        .govuk-header__navigation-item:first-child {
            margin-right: 15px;
            border-bottom: 5px;
        }
    }
}

.international-cookie-banner-container {
    background-color: #dde5ed;
}
