.international-header__main {
    background: #eb0000;
    font-family: 'Euclid Flex B';
}

.international-header__main-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.international-transactional-header-title {
    font-family: 'Euclid Flex B';
    font-size: 24px;
    color: white;
    padding: 10px 0px 10px 0px;
    margin-top: 25px;

    .international-transactional-header-link {
        text-decoration: none;
    }

    @media (max-width: 800px) {
        font-size: 22px;
    }

    @media (max-width: 700px) {
        font-size: 20px;
    }

    @media (max-width: 630px) {
        display: none;
    }
}

.internatonal-menu-button {
    font-family: 'Euclid Flex B';
    display: none;
    padding: 8px 12px 8px 14px;
    width: auto;
    margin: 0;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: initial;
    align-self: center;
    align-items: center;
    cursor: pointer;

    .js-enabled & {
      display: flex;
    }


    @media (min-width: 880px) {
      .js-enabled & {
        display: none;
      }
    }
  }

  .internatonal-menu-button:focus {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c;
    outline: 0px;
  }


  .international-nav {
    font-family: 'Euclid Flex B';
    color: white;
    align-self: center;
    margin-left: auto;

    @media (max-width: 880px) {
      flex: 1 0 100%;
    //   margin-top: 10px;

      .js-enabled &:not([aria-expanded="true"]) {
        display: none;
      }
    }
  }

  .international-nav__list {
    background-color: #04043f;
    margin: 0px -15px 0px -15px;
    padding: 10px 20px;

    @media (min-width: 880px) {
      background-color: transparent;
      margin: 0 -17px 0 0;
      padding: 0;

      li {
        display: inline-block;
      }
    }
  }

  .international-nav__item,
  .international-nav__section-item {
    font-family: 'Euclid Flex B';
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }

  .international-nav__item {
    font-weight: 700;
    font-size: 19px;

    &:hover,
    &.active {
      text-decoration-thickness: 3px;
      text-underline-offset: 0.3em;
    }

    @media (min-width: 880px) {
      padding: 10px 17px;
    }
  }

  .international-nav__section-item {
    margin-left: 20px;

    &:hover,
    &.active {
      text-decoration-thickness: 1px;
      text-underline-offset: 0.3em;
    }
  }

  .international-nav__section {
    @media (min-width: 880px) {
      display: none;
    }
  }

  .international-subnav {
    position: relative;
    z-index: 1;
    display: none;
    background-color: #04043f;
    text-align: right;

    @media (min-width: 880px) {
      display: block;
    }

    ul {
      margin: 0 -16px;
      padding: 0 6px;
      white-space: nowrap;
      overflow: auto;
    }

    li {
      display: inline-block;
    }
  }

  .international-subnav__item {
    font-family: 'Euclid Flex B';
    display: block;
    padding: 15px 10px;
    font-size: 16px;
    line-height: 1.25;
    color: white;
    text-decoration: none;

    &:hover,
    &.active {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 0.3em;
    }

    &:focus {
      outline-offset: -4px;
    }
  }


.great-logo-link {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;

    @media (max-width: 880px) {
        margin-right: 10px;
    }
}

.great-logo-link:focus {
    background-color: #fd0;
    outline: 0px;
}



.great-logo-link:focus {
    .great-logo {
        background-image: url('/static/images/great-logo-condensed-black.svg');
    }
}

.great-logo {
    background-image: url('/static/images/great-logo-condensed.svg');
    width: 144px;
    height: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.great-logo-link {
    padding: 0px;
}


.internatonal-menu-button__icon {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    pointer-events: none;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: white;
        left: 0;
        transition: all .2s ease;
    }

    &:before {
        top: 3px;
    }

    &:after {
        bottom: 3px;
    }

    [aria-expanded="true"] & {
        &:before,
        &:after {
        width: 25px;
        }

        &:before {
        top: 9px;
        transform: rotate(45deg);
        }

        &:after {
        bottom: 9px;
        transform: rotate(-45deg);
        }
    }
}
