.great-international-header__main {
  background: $great-dark-red;
}

.great-international-header__main-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.great-international-service-name {
  @include great-international-bold;
  font-size: 24px;
  padding: 10px 0px 10px 0px;
  margin-top: 25px;

  .great-international-service-name-link {
    text-decoration: none;
  }

  @media (max-width: 800px) {
    font-size: 22px;
  }

  @media (max-width: 700px) {
    font-size: 20px;
  }

  @media (max-width: 630px) {
    display: none;
  }
}

.great-international-menu-button {
  @include great-international-bold;
  display: none;
  padding: 8px 12px 8px 14px;
  width: auto;
  margin: 0;
  background-color: transparent;
  border: 2px solid $great-white;
  color: $great-white;
  font-size: 20px;
  line-height: initial;
  align-self: center;
  align-items: center;
  cursor: pointer;

  .js-enabled & {
    display: flex;
  }

  &:focus {
    border-color: #fd0;
    color: $great-off-black;
    background-color: #fd0;
    box-shadow: 0 2px 0 $great-off-black;
    outline: 0px;

    .great-international-menu-button__icon {

      &:before,
      &:after {
        background-color: $great-off-black;
      }
    }

  }

  @media (min-width: 880px) {
    .js-enabled & {
      display: none;
    }
  }
}

.great-international-menu-button__icon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  pointer-events: none;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $great-white;
    left: 0;
    transition: all .2s ease;
  }

  &:before {
    top: 3px;
  }

  &:after {
    bottom: 3px;
  }

  [aria-expanded="true"] & {

    &:before,
    &:after {
      width: 25px;
    }

    &:before {
      top: 9px;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 9px;
      transform: rotate(-45deg);
    }
  }
}

.great-international-nav {
  @include great-international-regular;
  color: $great-white;
  align-self: center;
  margin-left: auto;

  @media (max-width: 880px) {
    flex: 1 0 100%;

    .js-enabled &:not([aria-expanded="true"]) {
      display: none;
    }
  }
}

.great-international-nav__list {
  background-color: $great-dark-blue;
  margin: 0px -15px 0px -15px;
  padding: 10px 20px;

  @media (min-width: 880px) {
    background-color: transparent;
    margin: 0 -17px 0 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }
}

.great-international-nav__item,
.great-international-nav__section-item {
  @include great-international-regular;
  display: block;
  padding: 10px 0;
  color: $great-white;
  text-decoration: none;

  &:hover,
  &.active {
    text-decoration: underline;
  }
}

.great-international-nav__item {
  font-weight: 700;
  font-size: 19px;

  &:hover,
  &.active {
    text-decoration-thickness: 3px;
    text-underline-offset: 0.3em;
  }

  @media (min-width: 880px) {
    padding: 10px 17px;
  }
}

.great-international-nav__section-item {
  margin-left: 20px;

  &:hover,
  &.active {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;
  }

  &:focus {
    .eyb-profile-icon {
      filter: none;
    }
  }
}

.great-international-nav__section {
  @media (min-width: 880px) {
    display: none;
  }
}

.great-international-subnav {
  position: relative;
  z-index: 1;
  display: none;
  background-color: $great-dark-blue;
  text-align: right;

  @media (min-width: 880px) {
    display: block;
  }

  ul {
    margin: 0 -16px;
    padding: 0 6px;
    white-space: nowrap;
    overflow: auto;
  }

  li {
    display: inline-block;
  }
}

.great-international-subnav__item {
  @include great-international-regular;
  display: block;
  padding: 15px 10px;
  font-size: 16px;
  line-height: 1.25;
  max-height: 50px;
  color: $great-white;
  text-decoration: none;

  &:hover,
  &.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;
  }

  &:focus {
    outline-offset: -4px;
    .eyb-profile-icon {
      filter: none;
    }
  }

}

.great-logo-link {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  padding: 0px;

  &:focus {
    background-color: #fd0;
    outline: 0px;

    .great-logo {
      background-image: url('/static/images/great-logo-condensed-black.svg');
    }
  }

  @media (max-width: 880px) {
    margin-right: 10px;
  }
}

.great-logo {
  background-image: url('/static/images/great-logo-condensed.svg');
  width: 144px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.international-cookie-banner-container {
    background-color: #dde5ed;
}
