// Hero banner

.great-hero {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    .great-hero__text {
        min-height: 335px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5px;
        align-items: flex-start;

        .great-hero-heading {
            color: $great-white;
            font-size: 32px;
        }

        .great-hero-subheading {
            color: $great-white;
        }

    }

    @media (min-width: 641px) {
        .great-hero__text {
            min-height: 480px;
            max-width: 567px;
            justify-content: center;

            .great-hero-heading {
                font-size: 72px;
            }
    
        }
        
    }
}

.great-hero-cards {
    background: linear-gradient(270deg, #02022D 0%, #020130 100%);
}
