ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

// Config
$asset-root: '/static/images/';
$fonts: '/static/fonts';
$fa-font-path: '/static/fonts';

// Icons
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';

@import 'styles/great/_colors.scss';
@import '../../styles/widgets/buttons.scss';
@import 'typography';
@import 'govuk-token-overrides';
@import 'node_modules/govuk-frontend/govuk/all';
@import 'govuk-class-overrides';
@import 'core-class-overrides';
@import 'header.scss';
@import 'footer.scss';
@import '../../styles/great/utils';
@import '../../styles/great/components';
@import '../../core/components/sass/components/skip-link/base';
@import 'hero.scss';
@import '../../styles/widgets/buttons.scss';
@import 'node_modules/great-styles/src/scss/helpers/_base.scss';
@import '../../core/sass/helpers/utils.scss';


body {
    margin: 0;
}

#content:focus {
    outline: none;
}

#skip-link {
    @include great-international-regular;
}

// International home page styles start
.great-international-why-choose-uk-section {
    background-color: $great-light-blue;
}

.great-international-card--cta {
    div {
        @include great-international-regular;
    }
    .great-card__link {
        @include great-international-bold;
        color: $great-dark-blue;
        text-underline-offset: 0px;
        text-decoration-thickness: 2px;
    }
}

.great-international-home-uk-map {
    background: url('/static/images/uk-map.svg');
    display: block;
    width: fixed;
    height: 387px;
    background-repeat: no-repeat;
    background-size: contain;
}
// International home page styles end

.great-interntional-centered-content {
    text-align: center;
}

.button--international {
    font-family: 'Euclid Flex B', Roboto, Arial, sans-serif;
}

@media (min-width: 769px) {
    .spend-currency-column {
      padding-right: 0px;
    }
}

.custom-select-button {
    float: left;
    padding: 2px 6px;
    min-height: 38px;
}

.govuk-caption-l {
    font-family: 'Euclid Flex B', Roboto, Arial, sans-serif !important;
}

.light-blue-background {
    background-color: $great-light-blue;
}
