ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

@import 'tokens';
@import 'typography';
@import 'govuk-token-overrides';
@import 'node_modules/govuk-frontend/govuk/all';
@import 'govuk-class-overrides';
@import 'core-class-overrides';
@import 'header.scss';
@import 'footer.scss';
@import '../../styles/great/utils';

body {
    margin: 0;
}

.great-hero {
    background-image: url('/static/images/international-background-image.png');
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 200px;
    background-position: 50%;
    background-size: cover;

    & > .container {
        min-height: 200px;
        overflow: visible;
        padding-top: 45px;
    }

    .great-hero__heading {
        color: white;
    }
}
