  // Base styles
  @mixin great-international-regular {
    font-family: 'Euclid Flex B', Roboto, Arial, sans-serif;
    font-weight: 400;
    color: $great-dark-grey;
  }

  @mixin great-international-bold {
    font-family: 'Euclid Flex B', Roboto, Arial, sans-serif;
    font-weight: 900;
    color: $great-dark-grey;
  }

  // Font urls are relative to the compiled main.css file
  @font-face {
    font-family: 'Euclid Flex B';
    src: local('Euclid Flex B Bold'), local('EuclidFlexB-Bold'),
      //url('../fonts/atlas/EuclidFlexB-Bold.woff2') format('woff2'),
      //url('../fonts/atlas/EuclidFlexB-Bold.woff') format('woff'),
      //url('../fonts/atlas/EuclidFlexB-Bold.ttf') format('truetype'),
    url('/static/fonts/EuclidFlexB-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
  }

  @font-face {
    font-family: 'Euclid Flex B';
    src: local('Euclid Flex B'), local('EuclidFlexB-Regular'),
      //url('../fonts/atlas/EuclidFlexB-Regular.woff2') format('woff2'),
      //url('../fonts/atlas/EuclidFlexB-Regular.woff') format('woff'),
      //url('../fonts/atlas/EuclidFlexB-Regular.ttf') format('truetype'),
    url('/static/fonts/EuclidFlexB-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }
