body {
  margin: 0;
  padding: 0;
}

#content {
  margin-top: -4px;
  z-index: 0;
}

pre {
  white-space: pre-wrap;
  font-family: monospace
}

#content .container {
  overflow: visible;
}

.highlight {
  margin: 0;
}

.colour-examples p {
  margin: 0;
}

main {
  margin-top: -4px;
}

.demo-header {
  position: relative;
}

.demo-header > .header-main,
.demo-footer > .footer-main {
  background-color: #1e1348;
}

.demo-header .header-main > .container {
  padding: 15px 0;
}

.demo-footer .footer-main > .container {
  padding: 90px 0;
}

.demo-footer .copyright {
  color: #d8d8d8;
  float: right;
  height: 70px;
  font-size: 15px;
}

.demo-footer .copyright p {
  margin-top: 50px;
  margin-bottom: 0;
}

.red-border {
  z-index: 1;
  position: relative;
  height: 4px;
  background-color: #b00d23;
}

.demo-header .home-link:hover {
  text-decoration: underline;
}
.demo-header .home-link:active:focus {
  color: #1e1348;
}

.demo-header .home-link {
  color: white;
  text-decoration: none;
  margin: 20px 0;
  font-family: 'Overpass';
  display: inline;
}

.demo-header .home-link-container {
  float: right;
  margin-top: 20px;
  width: 50%;
}

.demo-header ul li {
  display: inline-block;
}

nav.pagination > ol:not(.has-previous) {
  padding-left: 140px;
}

nav.pagination > ol:not(.has-next) {
  padding-right: 100px;
}

@media (min-width: 641px) and (max-width: 768px) {
  .pagination .pagination-previous{
    margin-bottom: 15px;
  }
  .pagination .pagination-next{
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .demo-footer .copyright {
    font-size: 13px;
  }

  .header-footer-logo {
    height: 60px;
  }

  .demo-footer .copyright p {
    margin-top: 15px;
  }

  nav.pagination > ol:not(.has-previous) {
    padding-left: unset;
  }

  nav.pagination > ol:not(.has-next) {
    padding-right: unset;
  }
}
