{% extends 'apps-tabs.html' %}
{% load static from staticfiles %}
{% block head_title %}Selling online overseas - Account - great.gov.uk{% endblock %}
{% block tab_content %}
	<div class="grid-row" id="tab-content">
		<div class="column-one-quarter">
			<img src="{% static 'images/soo-screen.png' %}" width="200" class="soo-startpage-image" />
		</div>
		<div class="column-two-thirds">
			<section>
				<h2 class="heading-large">Selling online overseas</h2>
				<p class="body-text">We've built partnerships across the globe with online marketplaces, so we can fast track your applications and give you access to exclusive offers.</p>
				<p class="ul-leader body-text">Selling online overseas (SOO) will help you to:</p>
				<ul class="list list-bullet">
					<li>join online marketplaces around the world</li>
					<li>quickly compare and contrast marketplaces</li>
					<li>understand what marketplaces need from new applicants to be able to join</li>
					<li>understand if a marketplace is a good match for your business</li>
				</ul>
				<a class="button" href="{{ services_urls.soo }}">Find marketplaces</a>
			</section>
		</div>
	</div>
{% endblock tab_content %}
