<html>
    <head>
        <script src="../../../node_modules/wct-browser-legacy/browser.js"></script>
        <script type="module" src="avatar.js"></script>
    </head>
    <body>
        <great-avatar src="path/to/image"></great-avatar>
        <script>
            suite('avatar', function() {
                const avatar = document.body.querySelector('great-avatar')

                test('renders', function() {
                    assert.equal(avatar.getAttribute('src'), 'path/to/image')
                })
            })
        </script>
    </body>
</html>
