@import "../../index.css";

:root {
    --size: 40px;
}

:host {
    display: inline-block;
}

.empty-avatar {
    background-color: var(--colour-black-10);
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
}

.avatar {
    height: var(--size);
    width: var(--size);
}
