{% load wagtailcore_tags %}

{% comment %} <p>Related pages</p>
{% for item in page.get_related_pages %}
     <li><a href={{item.url}}>{{ item.title }}</a></li>
{% endfor %} {% endcomment %}

{% load static %}
{% load i18n %}
{% load static_absolute from component_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% include 'microsites/includes/microsite_nav.html' with title=page.title menu_items=page.get_menu_items %}
 <link href="{% static 'magna_styles.css' %}" media="all" rel="stylesheet" />ß