{% load wagtailcore_tags %}
{% load static %}
{% load i18n %}
{% load static_absolute from component_tags %}
{% load get_template_translation_enabled from content_tags %}
{% load content_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load domestic_canonical_url_tags %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}
<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="lte-ie8" lang="en-gb"><![endif]-->
<!--[if gt IE 8]><!-->
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      lang="{{ page.locale.language_code }}">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% get_canonical_url as canonical_url %}
        <link rel="canonical" href="{{ canonical_url }}">
        {% block sharing_description %}
            <meta name="description"
                  content="{% block meta_description %}{% firstof self.seo_description page.search_description content_snippet.search_description page.teaser page.featured_description page.seo_title page.title content_snippet.search_description %}{% endblock %}">
        {% endblock %}
        {% firstof page.seo_title page.title as seo_title %}
        {% block sharing_title %}
            <meta name="title"
                  content="{% block meta_title %}{% if seo_title %}{{ seo_title }}{% else %}Welcome to great.gov.uk{% endif %} - great.gov.uk{% endblock %}">
        {% endblock %}
        <title>
            {% block head_title %}
                {% if seo_title %}
                    {{ seo_title }}
                {% else %}
                    Welcome to great.gov.uk
                {% endif %}
                - great.gov.uk
            {% endblock %}
        </title>
        {% block meta_tags %}{% endblock %}
        {% with is_wagtail_page=page %}
            {% if is_wagtail_page %}
                {% include "core/includes/seo_meta.html" %}
            {% endif %}
        {% endwith %}
        {% block head_google_tag_manager %}
            {% if UTM_COOKIE_DOMAIN %}<meta id="utmCookieDomain" value="{{ UTM_COOKIE_DOMAIN }}" />{% endif %}
            {% include 'components/google_tag_manager_head.html' %}
        {% endblock %}
        {% block cookie_domain_meta %}<meta id="privacyCookieDomain" value="{{ PRIVACY_COOKIE_DOMAIN }}" />{% endblock %}
        {% block head_favicon %}
            <link href='{% static 'images/favicon-192x192.png' %}' rel='shortcut icon' type='image/png'>
            <!--[if IE]> <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" /> <![endif]-->
        {% endblock %}
        {% block head_css %}
            <link href="{% static 'components_styles.css' %}"
                  media="all"
                  rel="stylesheet" />
            {{ block.super }}
            <link href="{% static 'loggedout_styles.css' %}"
                  rel="stylesheet"
                  type="text/css" />
            <link href="{% static 'microsite_styles.css' %}"
                  rel="stylesheet"
                  type="text/css" />
        {% endblock %}
        <style>
      .js-disabled-only {
          display: none;
      }
        </style>
        <noscript>
            <style>
        .navigation-toggle {
            display: block;
        }

        .js-disabled-only {
            display: block;
        }

        .js-enabled-only {
            display: none;
        }
            </style>
        </noscript>
        {% block vendor_js %}
            <script src="{% static 'javascript/vendor/details-polyfill.js' %}"></script>
            <script src="{% static 'javascript/vendor/jquery-3.6.0.min.js' %}"></script>
        {% endblock %}
        {% block head_js %}
            <script src="{% static 'javascript/dit.js' %}"></script>
            <script src="{% static 'components.js' %}"></script>
            <script>
      // Safari saves a snapshot of a page as it was when the user left, so upon going "back" it doesn’t have to reload and instead it loads the saved snapshot state. That has an unwanted side effect that cookie modal is shown when clicking "go back to the page you came from".
      window.onpageshow = function(event) {
        if (event.persisted) {
          window.location.reload()
        }
      }
            </script>
        {% endblock %}
        {% block head_js_ga360 %}
            <script src="{% static 'javascript/dit.tagging.js' %}"></script>
            <script>
      window.dataLayer = window.dataLayer || []
      {% if ga360 and not skip_ga360 %}
        window.dataLayer.push({
          'businessUnit': '{{ ga360.business_unit }}',
          'siteSection': '{{ ga360.site_section}}',
          'siteSubsection': '{{ ga360.site_subsection }}',
          'siteLanguage': '{{ ga360.site_language }}',
          'userId': '{{ ga360.user_id }}',
          'loginStatus': '{{ ga360.login_status }}',
        })
        dit.tagging.base.init()
      {% endif %}
            </script>
        {% endblock %}
        {% block header_js %}
            <script src="{% static 'javascript/dit.responsive.js' %}"></script>
            <script src="{% static 'javascript/dit.utils.js' %}"></script>
            <script src="{% static 'common.js' %}"></script>
        {% endblock %}
        {% block head_other %}
            {% include 'components/browser_check.html' %}
        {% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% block body_google_tag_manager %}
            {% include 'components/google_tag_manager_body.html' %}
        {% endblock %}
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled')</script>
        {% block cookie_notice %}
            {% include 'components/cookie_notice.html' with lang=page.locale.language_code %}
        {% endblock %}
        {% block skip_link %}
            <a class="govuk-skip-link" href="#content">{% translate "Skip to main content" %}</a>
        {% endblock %}
        {% block body_content_container %}
            {% block content %}{% endblock %}
            {% block feedback_reporter %}
                {% include 'components/inline_feedback/was_page_useful.html' %}
            {% endblock %}
            {% block content_after %}{% endblock %}
        {% endblock %}
        {% block body_footer %}
            {% include 'core/footer.html' %}
        {% endblock %}
        {% block body_js %}
            {% slugurl "privacy" as privacy_and_cookies_path %}
            {% if request.path != privacy_and_cookies_path %}
                <script data-language-code={{page.locale.language_code}} data-translate-text-feat-flag={{TRANSLATE_TEXT}}>
      const data = document.currentScript.dataset
      const lang = (data.translateTextFeatFlag === 'True') ? data.languageCode : 'en-gb'

      var element = document.createElement('div')
      document.body.appendChild(element)
      components.CookiesModal({
        element: element,
        privacyCookiesUrl: {{privacy_and_cookies_path}},
        preferencesUrl: '{% url "core:cookie-preferences" %}',
        lang: lang
      })
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
