{% extends '../base.html' %}
{% load static %}

{% block head_other %}
  <meta
    name="description"
    content="Find information to help invest within the UK"
  />
{% endblock %}

{% block head_css %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {% include '../includes/triage_header.html' with back_url=back_url step_text=step_text question_text=question_text %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" onsubmit="return onSubmitHiring()">
        {% csrf_token %}
        <div class="form-group">
          <span class="atlas-body form-hint">Choose an estimate for the first three years of your project</span>
          <br>
          <div id="id_hiring_container" style="display: block;">
            {% include 'core/includes/form_field.html' with field=form.hiring %}
          </div>
          {% include '../includes/submit_button.html' with button_text='Continue'  %}
        </div>
      </form>
    </div>
  </div>
  {% include '../includes/triage_footer.html' with why_we_ask_this_question_text=why_we_ask_this_question_text %}
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'javascript/dit.components.toggleOther.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/international-online-offer.js' %}"></script>
  <script type="text/javascript">
    getHiringIfPreviouslySelected();
  </script>
{% endblock %}
