{% extends "core/base.html" %}

{% load breadcrumbs success_box from directory_components %}
{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/contact.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
  <div class="container padding-bottom-60">
      <div class="margin-bottom-60">
        {% breadcrumbs 'Submitted' %}
            <a href="/">great.gov.uk</a>
            <a href="{% url 'export-voucher-form' %}">Export Vouchers</a>
        {% endbreadcrumbs %}
      </div>
      <div class="width-two-thirds">
          <div id="success-message-container">
            {% success_box heading='[Title]' description='[description]' %}
          </div>
      </div>
  </div>

  <section id="next-container" class="background-stone-30">
    <div class="container">
      <h2 class="heading-large">Next steps</h2>
      <p class="body-text">[content]</p>
      <a class="link" href="#">URL to go to</a>
    </div>
  </section>
{% endblock %}
