{% extends "core/base.html" %}
{% load breadcrumbs from directory_components %}
{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/contact.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="container">
        {% breadcrumbs 'Export Vouchers' %}
            <a href="/">great.gov.uk</a>
        {% endbreadcrumbs %}
    </div>

    <div class="container">
        <h1 class="heading-large">[Title]</h1>
        <p>[Body]</p>
        <form method="post" class="width-half" autocomplete="on">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script src="{% static 'js/company-lookup.js' %}"></script>
    <script type="text/javascript">
        var companyName = document.getElementById('id_company_name');
        var companiesHouseInput =  document.getElementById('id_companies_house_number');
        $(document.body).on(
            "click.SelectiveLookupCloseAll",
            GOVUK.components.SelectiveLookup.closeAll
        );
        new GOVUK.components.CompaniesHouseNameLookup(
            $(companyName),
            $(companiesHouseInput)
        );
    </script>
{% endblock %}
