@import 'partials/colours';

.steps-progress-indicator {
  list-style: none;
  position: relative;
  padding-top: 50px;

  li {
    border-left: 0.18em solid $govuk-secondary-text-colour;
    color: $govuk-secondary-text-colour;
    counter-increment: progress-indicator-counter;
    font-weight: bold;
    list-style-position: outside;
    padding: 0 0 1.0em 2em;
    position: relative;
    top: -0.5em;

    &:last-child {
      border-left-color: $white;

      span {
        border: none;
      }
    }
  }

  // Adds the separating lines.
  span {
    border-color: $stone-50;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: block;
    padding-bottom: 1.0em;

    // Adds the default numbering
    &:before {
      background-color: $white;
      border: 0.2em solid $govuk-secondary-text-colour;
      border-radius: 50%;
      color: $govuk-secondary-text-colour;
      content: counter(progress-indicator-counter);
      display: block;
      font-size: 80%;
      height: 1.6em;
      left: -1.075em;
      line-height: 1.6em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.6em;
    }
  }

  .current {
    color: $grey;

    &:before {
      background-color: $white;
      border: 0.2em solid $grey;
      border-radius: 50%;
      content: '';
      display: block;
      height: 1.9em;
      left: -1.2em;
      position: absolute;
      top: -0.35em;
      width: 1.9em;
    }

    span {
      &:before {
        background-color: $grey;
        border-color: $grey;
        color: $white;
      }
    }
  }

  .complete {
    border-left-color: $grey;
    color: $grey;

    // This is the tick.
    &:after {
      border-color: $white;
      border-style: solid;
      border-width: 0 0 2px 2px;
      border-radius: 0;
      content: '';
      display: block;
      left: -0.4em;
      height: 0.25em;
      position: absolute;
      transform: rotate(-45deg);
      top: 0.6em;
      width: 0.6em;
    }

    // Colour hides the number.
    span {
      &:before {
        background-color: $grey;
        border-color: $grey;
        color: $grey;
      }
    }
  }

  .verbose {
    &:before {
      display: none;
    }
  }
}
