{% load investment_filters %}
<h2 class="govuk-heading-m govuk-!-margin-bottom-4">Filter results</h2>
<form class="magna-header__search govuk-!-margin-bottom-4"
      action=""
      method="get">
    {% get_filter_accordion_items form as accordion_items %}
    {% include '_accordion.html' with id='accordion-default' items=accordion_items headingClasses='govuk-accordion__section-button--size-19' %}
    <div id="submit-button-container">{% include "_button.html" with text='Update results' %}</div>
    <div>
        <a href="?page=1" class="govuk-link">Reset</a>
    </div>
    <div class="govuk-visually-hidden">{{ form.page }}</div>
</form>
<script>document.getElementById("submit-button-container").style.display = 'none';</script>
