{% load wagtailimages_tags %}
{% load static %}
<style>
    .great-hero-no-image {
        background-image: url({% static 'images/international-investment-hero.jpeg' %});
    }
</style>
<section class="great-hero {% if not hero_image %}great-hero-no-image{% endif %}"
         id="hero">
    <div class="great-container">
        <div class="great-hero__container govuk-grid-row">
            <div class="great-hero__text govuk-grid-column-one-half-from-desktop">
                <h1 class="govuk-heading-l great-hero-heading">Connect with UK investment opportunities</h1>
                <p class="govuk-body-m great-hero-subheading">
                    Tell us about your fund and we can help you find the right project and information to make your investment into the UK a success.
                </p>
                {% url 'international_investment:investment-fund' as investment_fund_url %}
                {% include '_action-link.html' with linkText='Register your interest' linkHref=investment_fund_url %}
            </div>
            <div class="govuk-grid-column-one-half-from-desktop"></div>
        </div>
    </div>
</section>
