{% extends './base.html' %}
{% load static %}
{% block head_title %}Page not found {{ block.super }}{% endblock %}
{% block meta_title %}Page not found {{ block.super }}{% endblock %}
{% block css_layout_class %}
    govuk-main-wrapper
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Page not found</h1>
                <p class="govuk-body">If you typed the web address, check it is correct.</p>
                <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
                <p class="govuk-body">
                    You can <a class="govuk-link" href="/international/">browse from the home page</a> to find the information you need.
                </p>
                <p class="govuk-body">
                    If you need to speak with someone, you can <a href="{% url 'international:contact' %}?next={{ feedback_next_url }}">contact us</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
