{% load static %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load static_absolute from directory_components %}
{% load int_canonical_url_tags %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
    <head>
        {% block head_google_tag_manager %}
            {% if great_components_analytics %}
                <meta id="utmCookieDomain"
                      value="{{ great_components_analytics.UTM_COOKIE_DOMAIN }}" />
            {% endif %}
            {% include 'great_components/google_tag_manager_head.html' %}
        {% endblock %}
        {% block cookie_domain_meta %}<meta id="privacyCookieDomain" value="{{ PRIVACY_COOKIE_DOMAIN }}" />{% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_favicon %}
            <link href='{% static 'great_components/images/favicon-192x192.png' %}' rel='shortcut icon' type='image/png'>
            <!--[if IE]> <link rel="icon" href="{% static 'great_components/images/favicon.ico' %}" type="image/x-icon" /> <![endif]-->
        {% endblock %}
        {% block head_css %}
            <link rel="stylesheet" href="{% static 'international_styles.css' %}">
            <link href="{% static 'great_design_system_styles.css' %}"
                  rel="stylesheet"
                  type="text/css" />
        {% endblock %}
        <title>
            {% block head_title %}{{ international_home_link.label }}{% endblock %}
        </title>
        <meta name="title"
              content="{% block meta_title %}{{ international_home_link.label }}{% endblock %}">
        <style type="text/css">.js-disabled-only { display: none; }</style>
        <noscript>
            <style type="text/css">
                    .navigation-toggle { display: block; }
                    .js-disabled-only { display: block; }
                    .js-enabled-only { display: none; }
            </style>
        </noscript>
        {% block vendor_js %}
            <script src="{% static 'great_components/js/vendor/details-polyfill.js' %}"></script>
            <script src="{% static 'great_components/js/vendor/jquery-3.5.0.min.js' %}"></script>
        {% endblock %}
        {% block head_js %}
            <script src="{% static 'javascript/dit.reveal.js' %}"></script>
            <script src="{% static 'components.js' %}"></script>
        {% endblock %}
        {% block head_js_ga360 %}
            <script src="{% static 'great_components/js/dit.tagging.js' %}"></script>
            <script type="text/javascript">
                    window.dataLayer = window.dataLayer || [];
                    {% if ga360 and not skip_ga360 %}
                    window.dataLayer.push({
                        'businessUnit': '{{ ga360.business_unit }}',
                        'siteSection': '{{ ga360.site_section}}',
                        'siteSubsection': '{{ ga360.site_subsection }}',
                        'siteLanguage': '{{ ga360.site_language }}',
                        'userId': '{{ ga360.user_id }}',
                        'loginStatus': '{{ ga360.login_status }}',
                    });
                    dit.tagging.base.init();
                    {% endif %}
            </script>
        {% endblock %}
        {% block header_js %}{% endblock %}
        {% block head_other %}
            {% get_canonical_url as canonical_url %}
            {% get_hreflang_tags as hreflang_tags %}
            {{ hreflang_tags }}
            <link rel="canonical" href="{{ canonical_url }}">
            <meta name="description"
                  content="The Department for Business and Trade helps overseas businesses invest and expand in the UK." />
            <meta name="keywords" content="Department,Business,Trade,Invest,Expand,UK" />
        {% endblock %}
        {% block head_sharing_metadata %}{% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% block body_google_tag_manager %}
            {% include 'great_components/google_tag_manager_body.html' %}
        {% endblock %}
        <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
        {% block skip_link %}
            <a href="#content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
        {% endblock %}
        {% if not hide_cookie_notice %}
            {% block cookie_notice %}
                <div class="light-blue-background">{% include 'components/cookie_notice.html' %}</div>
            {% endblock %}
        {% endif %}
        {% block body_header %}
            {% include "_header.html" with use_domestic_logo=international_header_context.use_domestic_logo header_classes=international_header_context.header_classes hideMainNav=international_header_context.hideMainNav isInternational=international_header_context.isInternational mobileSiteLink=international_header_context.mobileSiteLink sso_is_logged_in=international_header_context.sso_is_logged_in isAuthenticated=international_header_context.isAuthenticated hideSearch=international_header_context.hideSearch hideMenuOnDesktop=international_header_context.hideMenuOnDesktop domesticLink=international_header_context.domesticLink internationalLink=international_header_context.internationalLink searchFormAction=international_header_context.searchFormAction navItemsList=international_header_context.navItemsList menuItemsList=international_header_context.menuItemsList actionLinkList=international_header_context.actionLinkList %}
        {% endblock %}
        {% block breadcrumb_region %}
            {% include 'international/includes/breadcrumbs.html' with breadcrumbs=breadcrumbs %}
        {% endblock %}
        {% block body_content_container %}
            <main id="content"
                  tabindex="-1"
                  class="{% block css_layout_class %}{% endblock css_layout_class %}"
                  role="main">
                {% block content %}{% endblock %}
                {% block content_after %}{% endblock %}
            </main>
        {% endblock %}
        {% block feedback_reporter %}
            <div class="great-container override-negative-margin">
                {% include 'components/inline_feedback/was_page_useful.html' %}
            </div>
        {% endblock %}
        {% block body_footer %}
            {% include './footer.html' %}
        {% endblock %}
        {% block body_js %}
            <script src="{% static 'great_design_system_scripts.js' %}"></script>
            {% slugurl "privacy" as privacy_and_cookies_path %}
            {% if request.path != privacy_and_cookies_path %}
                <script>
                var element = document.createElement('div')
                document.body.appendChild(element)
                components.CookiesModal({
                    element: element,
                    privacyCookiesUrl: {{privacy_and_cookies_path}},
                    preferencesUrl: '{% url "core:cookie-preferences" %}',
                })
                </script>
            {% endif %}
            <script>
                const signOut = () => {
                return fetch('{% url "sso:business-sso-logout-api" %}', {
                    method: 'post',
                    headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                    'X-Requested-With': 'XMLHttpRequest',
                    },
                    body: JSON.stringify({})
                }).then(function() {
                    window.location = '/international/expand-your-business-in-the-uk/login';
                });
                }
                const enterKeyPressed = (event) => {
                    if (event.keyCode == 13) {
                        signOut()
                        return true;
                     } else {
                        return false;
                     }
                }
            </script>
        {% endblock %}
    </body>
</html>
