{% extends './base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    Get help using great.gov.uk/international
    {{ block.super }}
{% endblock %}
{% block page_title %}Get help using great.gov.uk/international {{ block.super }}{% endblock %}
{% if not request.GET.success %}
    {% block breadcrumb_region %}
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <a href="{{ back_url }}" class="govuk-back-link govuk-!-margin-bottom-4">Back</a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
{% block css_layout_class %}
    govuk-main-wrapper
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great-container">
        {% if request.GET.success %}
            <div class="govuk-grid-row" id="complete_contact_form_message">
                <div class="govuk-grid-column-two-thirds">{% include './includes/contact_success.html' with back_url=back_url %}</div>
            </div>
        {% else %}
            {% if form.errors and not form.non_field_errors %}
                <div class="govuk-error-summary restrict-width"
                     aria-labelledby="error-summary-title"
                     role="alert"
                     tabindex="-1"
                     data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for field in form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li>
                                            <a href="#{{ field.auto_id }}">{{ error }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Get help using great.gov.uk/international</h1>
                    <p class="govuk-body">This form is for issues with the great.gov.uk/international website.</p>
                    <p class="govuk-body">You can use it to report a problem to the great.gov.uk team.</p>
                    <div class="govuk-inset-text">
                        We cannot put you in touch with investment advisers, nor reply to you with investment advice.
                    </div>
                </div>
            </div>
            <form method="post" novalidate action="{{ request.build_absolute_uri }}">
                {% csrf_token %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-character-count"
                             data-module="govuk-character-count"
                             data-maxlength="1000">
                            <div class="govuk-form-group{% if form.how_we_can_help.errors %} govuk-form-group--error{% endif %}">
                                <label class="govuk-label govuk-label--s"
                                       for="{{ form.how_we_can_help.id_for_label }}">
                                    {{ form.how_we_can_help.label }}
                                </label>
                                <div id="more-detail-hint" class="govuk-hint">{{ form.how_we_can_help.help_text }}</div>
                                {% for error in form.how_we_can_help.errors %}
                                    <p class="govuk-error-message" role="alert">
                                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                    </p>
                                {% endfor %}
                                {{ form.how_we_can_help }}
                            </div>
                            <div id="id_how_we_can_help-info"
                                 class="govuk-hint govuk-character-count__message">
                                You can enter up to 1000 characters
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
                        <div class="{% if form.full_name.errors %} govuk-form-group--error{% endif %}">
                            {% include 'international/includes/form_field.html' with field=form.full_name %}
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4 govuk-!-margin-bottom-3">
                        <div class="{% if form.email.errors %} govuk-form-group--error{% endif %}">
                            {% include 'international/includes/form_field.html' with field=form.email %}
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4 govuk-!-margin-bottom-4">
                        {% include "_button.html" with text='Send message' %}
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}
{% block feedback_reporter %}
    {% if not csat_complete and show_hcsat %}
        <section id="hcsat_section"
                 class="great-bg-white clearfix govuk-!-margin-top-0 govuk-!-padding-bottom-6 great-inline-feedback__container">
            <div class="container">
                <div class="great-container ">
                    {% include 'core/includes/hcsat.html' with hcsat_form=hcsat_form hcsat_stage=hcsat_form_stage leading_text="""To help us improve our service,
                    we'd like to know more about your experience today. It will only take a minute to complete.""" %}
                </div>
            </div>
        </section>
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script src="{% static 'javascript/govuk.js' %}"></script>
    <script src="{% static 'javascript/hcsat-feedback-form.js' %}"></script>
    <script>
        var csat_form = document.getElementById("hcsat_section")
        var inline_feedback = document.getElementById("inline_feedback_section")
        const csat_complete_key = 'find_a_supplier_csat_complete'
        // allow hcsat feedback to be given once, after which show 'Is this page useful?'
        if (sessionStorage.getItem(csat_complete_key)==='true') {
            csat_form.classList.add('great-hidden')
            inline_feedback.classList.remove('great-hidden')
        } else {
            inline_feedback.classList.add('great-hidden')
        }
        document.addEventListener('DOMContentLoaded', () => {
            new CsatFormHandler('csat-form', csat_complete_key);
        });
    </script>
{% endblock %}
