{% extends './base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    Get help using great.gov.uk/international
    {{ block.super }}
{% endblock %}
{% block page_title %}Get help using great.gov.uk/international {{ block.super }}{% endblock %}
{% if not request.GET.success %}
    {% block breadcrumb_region %}
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <a href="{{ back_url }}" class="govuk-back-link govuk-!-margin-bottom-4">Back</a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
{% block css_layout_class %}
    govuk-main-wrapper
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great-container">
        <div class="govuk-grid-row" id="complete_contact_form_message">
            <div class="govuk-grid-column-two-thirds">{% include './includes/contact_success.html' with back_url=back_url %}</div>
        </div>
    </div>
{% endblock content %}
{% block feedback_reporter %}
    {% if not csat_complete %}
        <section id="hcsat_section"
                 class="great-bg-white clearfix govuk-!-margin-top-0 govuk-!-padding-bottom-6 great-inline-feedback__container">
            <div class="container">
                <div class="great-container ">
                    <!-- djlint:off T027-->
                    {% include 'core/includes/hcsat.html' with hcsat_form=hcsat_form hcsat_stage=hcsat_form_stage leading_text="To help us improve our service, we'd like to know more about your experience today. It will only take a minute to complete." %}
                    <!-- djlint:on -->
                </div>
            </div>
        </section>
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script src="{% static 'javascript/govuk.js' %}"></script>
    <script src="{% static 'javascript/hcsat-feedback-form.js' %}"></script>
    <script>
        var csat_form = document.getElementById("hcsat_section")
        var inline_feedback = document.getElementById("inline_feedback_section")
        const csat_complete_key = 'find_a_supplier_csat_complete'
        // allow hcsat feedback to be given once, after which show 'Is this page useful?'
        if (sessionStorage.getItem(csat_complete_key)==='true') {
            csat_form.classList.add('great-hidden')
            inline_feedback.classList.remove('great-hidden')
        } else {
            inline_feedback.classList.add('great-hidden')
        }
        document.addEventListener('DOMContentLoaded', () => {
            new CsatFormHandler('csat-form', csat_complete_key);
        });
    </script>
{% endblock %}
