{% extends './base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    Help using this website
    {{ block.super }}
{% endblock %}
{% block page_title %}Help using this website {{ block.super }}{% endblock %}
{% if not request.GET.success %}
    {% block breadcrumb_region %}
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <a href="{{ back_url }}" class="govuk-back-link govuk-!-margin-bottom-4">Back</a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
{% block css_layout_class %}
    govuk-main-wrapper
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great-container">
        <div class="govuk-grid-row" id="complete_contact_form_message">
            <div class="govuk-grid-column-two-thirds">{% include './includes/contact_success.html' with back_url=back_url %}</div>
        </div>
    </div>
{% endblock content %}
{% block body_js %}
    {{ block.super }}
{% endblock %}
