{% extends './base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    Help using this website
    {{ block.super }}
{% endblock %}
{% block page_title %}Help using this website {{ block.super }}{% endblock %}
{% block css_layout_class %}
    govuk-main-wrapper
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great-container">
    {% if request.GET.success %}
            <div class="govuk-grid-row" id="complete_contact_form_message">
                <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                    {% include './includes/contact_success.html' with continue_url=back_url %}
                </div>
            </div>
    {% else %}
        {% if form.errors and not form.non_field_errors %}
            <div class="govuk-error-summary restrict-width"
                 aria-labelledby="error-summary-title"
                 role="alert"
                 tabindex="-1"
                 data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li>
                                        <a href="#{{ field.auto_id }}">{{ error }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Help using this website</h1>
                <p class="govuk-body">
                    This form is for issues with the
                    {% if current_website_name %}
                        {{ current_website_name }}
                    {% else %}
                        great.gov.uk
                    {% endif %}
                    international website.
                </p>
                <p class="govuk-body">
                    You can use it to report a problem to the
                    {% if current_website_name %}
                        {{ current_website_name }}
                    {% else %}
                        great.gov.uk
                    {% endif %}
                    team.
                </p>
                {% include '_inset-text.html' with insetText='We cannot put you in touch with investment advisers, nor reply to you with investment advice.' %}
            </div>
        </div>
        <form method="post" novalidate action="{{ request.build_absolute_uri }}">
            {% csrf_token %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-character-count"
                         data-module="govuk-character-count"
                         data-maxlength="1000">
                        <div class="govuk-form-group{% if form.how_we_can_help.errors %} govuk-form-group--error{% endif %}">
                            <label class="govuk-label govuk-label--s"
                                   for="{{ form.how_we_can_help.id_for_label }}">
                                {{ form.how_we_can_help.label }}
                            </label>
                            <div id="more-detail-hint" class="govuk-hint">{{ form.how_we_can_help.help_text }}</div>
                            {% for error in form.how_we_can_help.errors %}
                                <p class="govuk-error-message" role="alert">
                                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                </p>
                            {% endfor %}
                            {{ form.how_we_can_help }}
                        </div>
                        <div id="id_how_we_can_help-info"
                             class="govuk-hint govuk-character-count__message">
                            You can enter up to 1000 characters
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
                    <div class="{% if form.full_name.errors %} govuk-form-group--error{% endif %}">
                        {% include 'international/includes/form_field.html' with field=form.full_name %}
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                    <div class="{% if form.email.errors %} govuk-form-group--error{% endif %}">
                        {% include 'international/includes/form_field.html' with field=form.email %}
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                        {% if bgs_site%}
                        <div class="govuk-grid-row govuk-!-margin-bottom-4">
                            <div class="govuk-grid-column-full">
                                <div class="{% if form.terms_agreed.errors %} govuk-form-group--error{% endif %}">
                                    {% for error in form.terms_agreed.errors %}
                                        <p class="govuk-error-message" role="alert">
                                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                        </p>
                                    {% endfor %}
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                        {{ form.terms_agreed }}
                                        <label class="govuk-label govuk-checkboxes__label"
                                               for="id_terms_agreed">
                                            {{ form.terms_agreed.label }}
                                        </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Read our <a href="/privacy/" target="_blank" rel="noopener noreferrer">privacy policy</a> to understand how we use your personal information.</p>
                        {% else %}
                            <p class="govuk-body">
                                By sending us your enquiry, you agree to our
                                <a href='/terms-and-conditions' target="_blank">terms and conditions</a> and
                                <a href='/privacy' target="_blank">privacy notice</a>.
                            </p>
                        {% endif %}
                        {% include '_button.html' with text='Send' %}
                    </div>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock content %}
