{% load static %}
<footer class="govuk-footer international-footer" role="contentinfo">
    <div class="govuk-width-container {% if not hide_primary_nav %}great-container{% endif %}">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-privacy-and-cookies"
                           href="{{ header_footer_urls.privacy_and_cookies }}">Privacy and cookies</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-terms-and-conditions"
                           href="{{ header_footer_urls.terms_and_conditions }}">Terms and conditions</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-contact"
                           href="{% url 'international_online_offer:contact' %}?next={{ feedback_next_url }}">Contact us
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-dit"
                           href="https://www.gov.uk/government/organisations/department-for-business-and-trade"
                           title="Opens in a new window"
                           rel="noopener noreferrer"
                           target="_blank">Department for Business and Trade on GOV.UK</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-footer__meta-item great-footer-logo-container">
                <div class="govuk-header__logo">
                    <a href="{% if not eyb_user %}{% url 'international_online_offer:index' %}{% else %}/international/expand-your-business-in-the-uk/guide/{% endif %}"
                       class="govuk-header__link govuk-header__link--homepage">
                        <span class="govuk-header__logotype">
                            <div role="img"
                                 alt="Expand your business in the UK, start of service"
                                 class="great-logo"></div>
                            <span class="govuk-header__logotype-text"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% include './includes/dbt_banner.html' with show_copyright=True %}
