{% load static %}
<footer class="great-international-footer" role="contentinfo">
    <div class="great-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-privacy"
                           target="_blank"
                           rel="noopener noreferrer"
                           title="Opens in a new window"
                           href="/privacy/">Privacy</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-cookies"
                           target="_blank"
                           rel="noopener noreferrer"
                           title="Opens in a new window"
                           href="/cookies/">Cookies</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-terms-and-conditions"
                           target="_blank"
                           rel="noopener noreferrer"
                           title="Opens in a new window"
                           href="{{ header_footer_urls.terms_and_conditions }}">Terms and conditions</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-accessibility-and-conditions"
                           target="_blank"
                           rel="noopener noreferrer"
                           title="Opens in a new window"
                           href="{{ header_footer_urls.accessibility }}">Accessibility</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-contact"
                           href="{% url 'international:contact' %}?next={{ feedback_next_url }}">Help using this site</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-link govuk-link--inverse"
                           id="footer-dit"
                           href="https://www.gov.uk/government/organisations/department-for-business-and-trade"
                           title="Opens in a new window"
                           rel="noopener noreferrer"
                           target="_blank">Department for Business and Trade on GOV.UK</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-footer__meta-item great-international-footer__logo-container">
                <div class="govuk-header__logo">
                    <span class="govuk-header__logotype">
                        <div role="img"
                             alt="Expand your business in the UK, start of service"
                             class="great-logo"
                             aria-label="great.gov.uk logo"></div>
                        <span class="govuk-header__logotype-text"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
{% include './includes/dbt_banner.html' with show_copyright=True %}
