{% load ga360_data from directory_components %}
{% load static %}
{% include './includes/dbt_banner.html' %}
<header data-ga-section="header">
    <div class="great-international-header__main">
        <div class="great-container great-international-header__main-inner {% if hide_primary_nav %}international-justify-start{% endif %}">
            <a href="/international/"
               class="great-logo-link"
               aria-label="great.gov.uk investment home">
                <div role="img"
                     alt="Expand your business in the UK, start of service"
                     class="great-logo"
                     aria-label="great.gov.uk logo"></div>
            </a>
            {% if hide_primary_nav %}
                <div class="great-international-service-name">
                    <a href="{% if not user_completed_triage %}/international/expand-your-business-in-the-uk/{% else %}/international/expand-your-business-in-the-uk/guide/{% endif %}"
                       class="govuk-link govuk-link--inverse great-international-service-name-link">Expand your business in the UK</a>
                </div>
            {% endif %}
            <button id="atlas-nav-toggle"
                    class="button great-international-menu-button"
                    aria-controls="great-international-nav"
                    data-reveal-button>
                Menu
                <span class="great-international-menu-button__icon"></span>
            </button>
            <nav id="great-international-nav"
                 class="great-international-nav"
                 aria-label="Main menu">
                <ul class="great-international-nav__list">
                    <li>
                        {% if not hide_primary_nav %}
                            <a class="govuk-link govuk-link--inverse great-international-nav__item {% if '/expand-your-business-in-the-uk/' in request.path %}active{% endif %}"
                               href="{% if not user_completed_triage %}/international/expand-your-business-in-the-uk/{% else %}/international/expand-your-business-in-the-uk/guide/{% endif %}"
                               data-title="Expand your business"
                               data-location="International header">Expand your business</a>
                        {% endif %}
                        {% if '/expand-your-business-in-the-uk' in request.path %}
                            <ul class="great-international-nav__section">
                                {% if request.user.is_authenticated %}
                                    {% if user_completed_triage %}
                                        <li>
                                            <a class="govuk-link govuk-link--inverse great-international-nav__section-item {% if '/expand-your-business-in-the-uk/change-your-answers' in request.path %}active{% endif %}"
                                               href="{% url 'international_online_offer:change-your-answers' %}"
                                               data-location="EYB sub-nav"
                                               data-title="Change your answers">Your details</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a class="govuk-link govuk-link--inverse great-international-nav__section-item "
                                           tabindex="0"
                                           role="link"
                                           onclick="signOut()"
                                           onkeypress="return enterKeyPressed(event)"
                                           href="#"
                                           data-location="EYB sub-nav"
                                           data-title="Sign out">Sign out</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="govuk-link govuk-link--inverse great-international-nav__section-item "
                                           href="{% url 'international_online_offer:login' %}"
                                           data-location="EYB sub-nav"
                                           data-title="Sign in">Sign in</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </li>
                    <li>
                        {% if not hide_primary_nav %}
                            <a class="govuk-link govuk-link--inverse great-international-nav__item {% if '/international/investment/' in request.path and '/sectors/' not in request.path and '/regions/' not in request.path %}active{% endif %}"
                               href="/international/investment/opportunities/"
                               data-title="Investment opportunities"
                               data-location="International header">Investment opportunities</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if not hide_primary_nav %}
                            <a class="govuk-link govuk-link--inverse great-international-nav__item {% if '/international/buy-from-the-uk/' in request.path %}active{% endif %}"
                               href="/international/buy-from-the-uk/"
                               data-title="Buy from the UK"
                               data-location="International header">Buy from the UK</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    {% if '/expand-your-business-in-the-uk' in request.path %}
        <div class="great-international-subnav">
            <div class="great-container">
                <nav class="great-international-subnav" aria-label="Sub-menu">
                    <ul>
                        {% if request.user.is_authenticated %}
                            {% if user_completed_triage %}
                                <li>
                                    <a class="govuk-link govuk-link--inverse great-international-subnav__item {% if '/expand-your-business-in-the-uk/change-your-answers' in request.path %}active{% endif %}"
                                       href="{% url 'international_online_offer:change-your-answers' %}"
                                       data-location="EYB sub-nav"
                                       data-title="Change your answers">Your details</a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="govuk-link govuk-link--inverse great-international-subnav__item"
                                   tabindex="0"
                                   role="link"
                                   onclick="signOut()"
                                   onkeypress="return enterKeyPressed(event)"
                                   href="#"
                                   data-location="EYB sub-nav"
                                   data-title="Sign out">Sign out</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="govuk-link govuk-link--inverse great-international-subnav__item"
                                   href="{% url 'international_online_offer:login' %}"
                                   data-location="EYB sub-nav"
                                   data-title="Sign in">Sign in</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
</header>
<script>
    const signOut = () => {
    return fetch('{% url "sso:business-sso-logout-api" %}', {
        method: 'post',
        headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}',
        'X-Requested-With': 'XMLHttpRequest',
        },
        body: JSON.stringify({})
    }).then(function() {
        window.location = '/international/expand-your-business-in-the-uk/login';
    });
    }
    const enterKeyPressed = (event) => {
        if (event.keyCode == 13) {
            signOut()
            return true;
         } else {
            return false;
         }
    }
</script>
