{% extends './base.html' %}
{% load content_tags %}
{% load static %}
{% block head_title %}International {{ block.super }}{% endblock %}
{% block meta_title %}International {{ block.super }}{% endblock %}
{% block css_layout_class %}
{% endblock css_layout_class %}
{% block content %}
    {% include './components/landing_hero.html' with hero_image=page.hero_image heading=page.hero_text subtitle=page.hero_subtitle %}
    {% if page.dep_cards %}
        <section class="light-blue-background">
            <div class="great-container">
                <div class="govuk-grid-row govuk-!-padding-top-9">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">{{ page.dep_title }}</h2>
                        <p class="govuk-body">{{ page.dep_sub_title }}</p>
                    </div>
                </div>
                <div class="great-ds-card-container govuk-!-padding-bottom-9">
                    {% for cards in page.dep_cards %}
                        {% for card in cards.value %}
                            {% include "_card.html" with thumbnail="true" href=card.value.link_url title=card.value.link_text tag="h2" titleSize="m" id="how-to-expand-your-business" description=card.value.description type="mounted" classes="great-ds-card--2" attributes=eyb_card_attributes %}
                        {% endfor %}
                    {% endfor %}
                </div>
                
            </div>
        </section>
    {% endif %}
    <div class="great-container">
        <div class="govuk-grid-row govuk-!-margin-top-9 govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">UK nations and regions</h2>
                <p class="govuk-body">
                    The economic power and diversity of UK regions offer global businesses one of the best ecosystems in the world to grow innovative companies.
                </p>
                <a href="{{international_header_context.internationalLink.href}}investment/regions/" class="govuk-link">Learn about the UK's nations and regions</a>
            </div>
            <div class="govuk-grid-column-one-third">
                <span class="great-international-home-uk-map"></span>
            </div>
        </div>
    </section>
{% endblock %}
