{% extends './base.html' %}
{% load content_tags %}
{% load static %}
{% block head_title %}International {{ block.super }}{% endblock %}
{% block meta_title %}International {{ block.super }}{% endblock %}
{% block content %}
    {% include './components/landing_hero.html' with hero_image=page.hero_image heading=page.hero_text subtitle=page.hero_subtitle %}
    {% if page.dep_cards %}
        <section class="great-international-why-choose-uk-section">
            <div class="govuk-width-container great-container">
                <div class="govuk-grid-row govuk-!-padding-top-9">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">{{ page.dep_title }}</h2>
                        <p class="govuk-body">{{ page.dep_sub_title }}</p>
                    </div>
                </div>
                <div class="govuk-grid-row great-card-row govuk-!-padding-bottom-9">
                    {% for cards in page.dep_cards %}
                        {% for card in cards.value %}
                            <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-6">
                                {% include 'components/great/card.html' with data_attr_title=card.value.link_text data_attr_location='International homepage' title=card.value.link_text show_title_link=True url=card.value.link_url content=card.value.description image_src=card.value.link_url|get_international_icon_path is_svg_image=True content_class="govuk-body" classes="great-card--homepage great-international-card--cta" %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-margin-top-9 govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">UK nations and regions</h2>
                <p class="govuk-body">
                    The economic power and diversity of UK regions offer global businesses one of the best ecosystems in the world to grow innovative companies.
                </p>
                <a href="/international/investment/regions/" class="govuk-link">Learn about the UK's nations and regions</a>
            </div>
            <div class="govuk-grid-column-one-third">
                <span class="great-international-home-uk-map"></span>
            </div>
        </div>
    </section>
{% endblock %}
