<html>
    <head>
        <script src="../../../node_modules/wct-browser-legacy/browser.js"></script>
        <script type="module" src="button.js"></script>
    </head>
    <body>
        <great-button theme="primary">submit</great-button>
        <script>
            suite('button', function() {
                const button = document.body.querySelector('great-button')

                test('renders', function() {
                    assert.equal(button.getAttribute('theme'), 'primary')
                })
            })
        </script>
    </body>
</html>
