.tabs__nav {
  border-bottom: 2px solid #dfd5c5;
}

.tabs__nav li {
  display: inline-block;
}

.tabs__nav .tabs__tab {
  display: block;
  border: 0;
  border-bottom: 4px solid transparent;
  padding: .5em 1em;
  margin: 0 0 -2px;
  background: transparent;
  color: #666666;
  font-size: 19px;
  font-weight: 700;
  font-family: Overpass, Roboto, arial, helvetica, verdana, sans-serif;
  cursor: pointer;
}

.tabs__nav .tabs__tab[aria-expanded="true"],
.tabs__nav .tabs__tab:hover {
  background: transparent;
  color: #333333;
  border-bottom-color: #333333;
}
