@import '../colors/colors.scss';

.sso-profile-tab-container {
  background-color: $color-background-color;

  ul li.active {
    border-top: 5px solid #D6E0E5;
  }


}

.information-breakout {
  background-color: $color-background-color;
  padding: $x-large-padding;
  margin-bottom: $x-large-padding;
  display: inline-flex;

  p {
    padding: 0;
    margin: 0
  }

  i {
    padding-right: $standard-padding;
  }
}

#logo-container {
  border-color: $color-alternative-background;

  #add-image {
    background-color: $color-alternative-background;
  }
}
.message-box{
  border-color: $color-alternative-background;
}

.alerts-button-container {
  display: flex;
  justify-content: flex-end;
}
