@import '../sizes/sizes.scss';

.dashboard-card{
    p{
        padding-top:$large-padding;
        padding-bottom: $large-padding;
        margin:0;
    }

    img{
        margin: auto;
        padding-top:$large-padding;
        width: 100%;
        height: auto;
    }
}
