.intro-text-container {
    margin-top: 5px;
}

.steps-list-container {
    margin-top: 20px;

    // Display steps on a single line above tablet size
    @media (min-width: $tablet-size) {
        padding-left: 0;
        display: grid;
        grid-auto-flow: column;
    }
}

.steps-list-item {
    counter-increment: li;
    list-style: none;
    margin-bottom: 12px;
    padding: 0 0 0 70px;
    position: relative;
    overflow: hidden;

    &:before {
        content: counter(li);
        font-size: 90px;
        font-weight: bold;
        line-height: 1em;
        left: 0;
        min-width: 70px;
        position: absolute;
        text-align: center;
    }
}

@media (max-width: $tablet-size) {
    .steps-list-item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 8px;
        }

        &:before {
            font-size: 76px;
        }
    }

}

.steps-description {
    width: 85%;
}

.panels-container {
    padding-top: 24px;
}

.filters .filter-section {
    border-bottom: 1px solid $color-main-text;

    div.options {
        max-height: none;
    }

    .multiple-choice {

        label,
        label:before,
        label:after {
            color: $color-main-text;
        }
    }
}

.event-list-card {
    padding: 30px 15px 0px;
}

.event-list-card::after {
    margin-left: 15px;
    border-bottom: solid 4px $color-thematic-break;
    padding-bottom: 30px;
}

.event-metadata-container {
    text-align: center;

    .weekday {
        font-weight: bold;
        padding: 25px 0 0;
        margin: 0;
    }

    .date {
        font-size: 24px;
        font-weight: bold;
        padding: 7px 0;
        margin: 0;
    }

    .time {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 20px;
        margin: 0;
    }

    .event-metadata-block {
        border-bottom: 1px solid #979797;
    }
}

.event-duration-text {
    font-size: 18px;
    color: #646464;
}
