@import '../fonts/main.scss';
@import '../sizes/sizes.scss';

.intro-text-container {
  margin-top: 5px;
}

.steps-list-container {
  margin-top: 20px;
  gap: $large-padding;
  // Display steps on a single line above tablet size
  @media (min-width: $tablet-size) {
    padding-left: 0;
    display: grid;
    grid-auto-flow: column;
  }
}

.steps-list-item {
  list-style: none;
  margin-bottom: 12px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  height: min-content;
  gap: $standard-padding;
  > div:not(.steps-description) {
    font-size: 90px;
    font-family: $header-font;
    line-height: 70px;
  }

  @media (max-width: $tablet-size) {
    > div:not(.steps-description) {
      font-size: 76px;
    }
  }
}

.steps-description {
  width: 85%;
}

.panels-container {
  padding-top: 24px;
}

.filters .filter-section {
  border-bottom: 1px solid $color-main-text;

  div.options {
    max-height: none;
  }

  .multiple-choice {
    label,
    label:before,
    label:after {
      color: $color-main-text;
    }
  }
}

.event-list-card {
  padding: 30px 15px 0px;
}

.event-list-card::after {
  margin-left: 15px;
  border-bottom: solid 4px $color-thematic-break;
  padding-bottom: 30px;
}

.event-list-video-warning {
  color: #505a5f;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.great-vertical-align-super {
  vertical-align: super;
}

.event-tags {
  @media screen and (max-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
  }
}

.event-tag-item {
  @media (max-width: $tablet-size) {
    font-size: 18px;
  }

  @media screen and (max-width: 640px) {
    flex-basis: calc(50% - 8px);
  }

  @media screen and (min-width: 641px) {
    border-top: 1px solid #979797;
  }
}

.ea-signup-panel {
  margin-top: 145px;
  h1 {
    color: #222;
    font-size: $font-size-h3;
    font-style: normal;
    font-weight: $font-weight-semi-bold;
    line-height: $h3-line-height;
  }

  .ea-logo {
    position: absolute;
    width: 210px;
    bottom: 65px;
    right: 30px;

    @media only screen and (max-width: 900px) {
      width: 30%;
    }

    @media only screen and (min-width: 1400px) {
      right: 0;
      left: calc(50% + 200px);
    }
  }

  .standard-ea-sign-in-text {
    > p,
    span,
    a {
      line-height: $h5-line-height;
      font-size: $font-size-h5;
      font-weight: $regular-font-weight;
      font-style: normal;
    }
  }
}
.event-wrapper {
  min-width: fit-content;
}

.event-date-container {
  display: flex;
  flex-direction: column;

  > p {
    font-weight: bold;
    padding: 0;
  }

  @media screen and (min-width: 641px) {
    padding: 10px;
    > p {
      margin: 0;
      &.date {
        font-size: 24px;
      }
      &.time {
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 640px) {
    flex-direction: row;
    justify-content: center;

    > p {
      font-size: 18px;
      margin: 2px 0;

      &.date {
        &:before {
          content: ',\a0';
        }

        &:after {
          content: '\a0';
        }
      }
    }
  }
}

.great-signup-telephone-details {
  details[open] {
    max-height: 240px;
  }
  details:not([open]) {
    max-height: 80px;
  }
  details {
    transition: max-height 0.3s ease;
    overflow-y: hidden;
    > div {
      margin-left: 0px;
    }
  }

  /* disabling pointer events on the text span within summary has no effect,
  disabling on the summary and overriding on the icon enables expansion with only the icon */
  .disable-pointer-events {
    pointer-events: none;
    cursor: default;
  }
  summary {
    .enable-pointer-events {
      pointer-events: auto;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
    &:focus > .border-on-focus {
      padding-top: 4px;
      padding-bottom: 4px;
      outline: 3px solid #ffd000;
    }
    &::marker,
    &::-webkit-details-marker,
    &::before {
      // Remove arrow marker on different browsers/versions
      content: '' !important;
      display: none !important;
    }
  }
  margin-bottom: govuk-spacing(6);
}

.event-title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}

.event-description,
.event-description p {
  @media screen and (max-width: 640px) {
    font-size: 18px;
    margin-top: 10px;
  }
}

.ea-filter-summary::after {
  content: '';
  display: block;
  border-bottom: solid 4px $color-thematic-break;
  padding-bottom: 30px;
}

.ea-filter-summary,
.ea-filters-no-results {
  p,
  a {
    font-size: 20px;
    line-height: 20px;
  }
}

.event-details-header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

  time {
    color: #505a5f;
  }

  .event-details-header-logo {
    width: 132px;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    @media only screen and (max-width: $mobile-size) {
      margin-left: 0;
      margin-right: auto;
      width: 100%;
      img {
        max-width: 132px;
      }
    }
  }
  .event-details-header-info {
    display: flex;
    flex-direction: column;

    ul {
      li {
        display: inline;
        color: #505a5f;
      }

      li + li {
        &::before {
          content: '\2022';
          margin-right: 5px;
        }
      }
    }
    h2.govuk-caption-l {
      font-family: $main-text-font;
      font-weight: 300;
      color: #505a5f;
      &::first-letter {
        text-transform: uppercase;
      }
      @media (max-width: $tablet-size) {
        font-size: 18px;
      }
    }
  }
}

.event-warning-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  span.great-icon {
    font-size: 35px !important;
  }
  > div {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
  }
}

.event-details-main-content {
  .govuk-body {
    font-size: $font-size-p;
  }
  .richtext {
    p:last-child {
      margin-bottom: 0;
    }
    .govuk-list .govuk-list--bullet {
      padding: 0;
    }

    h3 {
      @include h4-mixin();
    }
  }

  .event-details-speakers {
    p.job-title {
      color: #505a5f;
    }
  }

  .event-metadata {
    > div {
      max-width: 400px;
    }
    border-bottom: 1px solid #b1b4b6;
    p {
      margin: 0;
    }

    display: flex;
    flex-direction: column;
    gap: 10px;

    div:not(.event-details-tags) {
      display: flex;
      align-items: center;
      gap: 0px 20px;
      flex-wrap: wrap;
    }

    > div > p:first-of-type {
      font-family: $header-font;
    }
  }
}

.course-tick-marks {
  display: inline-flex;
  gap: 20px 30px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  > li {
    display: inline-flex;

    &:before {
      color: #1d70b8;
      font-size: 30px;
      content: '\f058';
      margin-right: 10px;
      font-family: 'Font Awesome 5 Free';
      display: block;
    }
  }
  p {
    margin: 0;
  }
}

#join-live-events {
  div {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    @media (max-width: $tablet-size) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  li > p {
    margin: 0;
  }
}
.event-listing-summary-info {
  display: flex;
  gap: 20px;
  div {
    display: flex;
    flex-direction: column;
    &.event-warning-wrapper {
      > div {
        flex-direction: row;
      }
    }
    &.event-summary-text {
      gap: 5px;
    }
  }

  .event-date-badge {
    background-color: #1e1348;
    width: 60px;
    min-width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span.great-icon {
      color: white;
      font-size: 18px !important;
    }
    time {
      align-items: center;
      display: flex;
      flex-direction: column;
      span:not(.great-icon) {
        color: white;
        &:first-of-type {
          font-size: 24px;
          line-height: 24px;
          font-family: $header-font;
        }
        &:nth-of-type(2) {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}

.event-location {
  color: #505a5f !important;
}

.presentation-icon {
  height: 100px;
}

.image-container {
  position: relative;

  .ea-logo {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 138px;
  }
}

.courses-container {
  position: relative;

  ul {
    li > img,
    > li > span {
      vertical-align: middle;
    }
  }

  a {
    text-decoration: none;
  }

  &__img {
    @media (min-width: $tablet-size) {
      position: absolute;
      bottom: 0;
      right: 20px;
      max-width: 50%;
    }
    @media (max-width: $tablet-size) {
      vertical-align: bottom;
      width: 100%;
    }
  }

  &__text {
    @media (min-width: $tablet-size) {
      flex-basis: 50%;
      padding: 30px !important;
    }
    @media (max-width: $tablet-size) {
      padding: 20px !important;
    }
  }
}

#past-video-recording {
  line-height: 0;
  @media only screen and (max-width: 1230px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.event-on-demand-video-container {
  width: 100%;
  display: inline-flex;
  gap: 0 30px;

  .video-wrapper {
    line-height: 0;
    position: relative;
    min-width: 810px;
    video,
    #thumbnail {
      width: 810px;
    }
    #thumbnail {
      height: auto;
      width: 810px;
      min-width: 100%;
      min-height: 400px;
    }
    .video-button-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      background: rgba(#000000d9, 0.85);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 1230px) {
    flex-direction: column;
    width: 100%;
    .video-wrapper {
      min-width: initial;
    }
    .video-wrapper video,
    .video-wrapper #thumbnail {
      width: 100%;
      height: auto;
    }
    #next-live-event {
      margin: 0 30px;
    }
  }

  @media only screen and (max-width: $mobile-size) {
    #next-live-event {
      margin: 0 15px;
    }
  }
}

#ask-the-experts {
  justify-content: space-between;
  img {
    height: 54px;
  }
}

#next-live-event {
  max-width: 390px;
  flex: 1;
}

.event-metadata .govuk-summary-list__row {
  @media only screen and (max-width: $mobile-size) {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

#video-on-demand-page {
  details {
    @media only screen and (min-width: 1229px) {
      max-width: 810px;
    }

    @media only screen and (max-width: 1230px) {
      padding: 0 30px;
      margin-bottom: 0 !important;
    }

    @media only screen and (max-width: $mobile-size) {
      padding: 0 15px;
      margin-bottom: 0 !important;
    }
  }
}

// Custom spacing to align with ukea event list 
.ukea-events-pagination {
  padding-left: 5px !important;
  @include govuk-media-query($until: tablet) {
    padding-left: 0px !important;
  }
}
