@import '../colors/colors.scss';
@import '../sizes/sizes.scss';
@import '../sizes/sizes.scss';

$breakpoint-size: 900px;

#learn-root {
  article {
    box-sizing: border-box;
    min-height: 232px;
    padding: $x-large-padding;
    padding-left: 70px;
    padding-right: 40px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;

    > div {
      flex: 1;

      &.progess-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .learn__category-progress-container,
        span.button {
          max-width: 340px;
          width: 100%;
        }

        .learn__category-progress-container {
          margin-top: $standard-padding;
          position: relative;
          top: 0;
        }
      }

      .duration-container {
        color: $color-gov-link;
      }

      > p {
        margin-top: $standard-padding;
        margin-bottom: $large-padding;
      }
    }

    @media only screen and (max-width: $breakpoint-size) {
      padding: $large-padding;
      padding-top: 35px;
      padding-bottom: 35px;

      & > div {
        min-width: $mobile-size * 0.5;

        .progess-container {
          justify-content: center;
        }

        .learn__category-progress {
          width: auto !important;
        }

        .learn__category-progress-container,
        span.button {
          width: 100% !important;
          max-width: $mobile-size !important;
        }

        span.button {
          margin-top: $standard-padding;
        }
      }
    }
  }
}

.learn-back-button{
  position: absolute;
  top:10px;
  left:20px;
  color: $color-gov-link;
}

.lesson-page{
  background-color: $color-main-background;
}
