@import '../fonts/main.scss';
@import '../colors/colors.scss';
@import '../sizes/sizes.scss';

$login-image: url(/static/images/signin-image.png);
$signup-image: url(/static/images/signup-image.png);
$banner: url(/static/images/great-banner-large.png);
$ea-signup-image: url(/static/images/export-academy-lady-light-green.png);




#sign-up,
#login {
  h1 {
    font-family: $header-font;
    font-weight: $font-weight-semi-bold;
  }

  h3 {
    color: $color-main-text;
  }

  .hide-logo-below-1200 {
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  .great-password-info {
    color: #505A5F;
    padding-bottom: govuk-spacing(1);
  
    font-family: $main-text-font;
    font-size: $font-size-p;
    font-style: normal;
    font-weight: $font-weight-standard;
    line-height: $h5-line-height;
  }
  
  .great-confirmation-header {
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(6);
  }

  .signup__form-panel,
  .great-signup__form-panel {
    max-height: 100vh;
    overflow: auto;

    #get-in-touch {
      font-size: $font-size-p;
      color: $color-main-text;
    }

    .great-signup-header,
    .great-signin-header {
      margin-top: govuk-spacing(7);
      margin-bottom: govuk-spacing(6);

      @media only screen and (max-width: 900px) {
        margin-top: govuk-spacing(6);
        margin-bottom: govuk-spacing(6)
      }
    }

    .form-label { //Override govuk form labels for signin/signup
      font-family: $header-font !important;
      font-size: $font-size-p;
      font-style: normal;
      font-weight: $font-weight-semi-bold;
      line-height: $h5-line-height; 
    } 

    .great-border-bottom-black {
      border-bottom: 3px solid #003078;
    }

    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .great-signup__info-panel,
  .signup__info-panel {
    padding: 0;
    background-position: center 100% !important;
    background-repeat: no-repeat !important;
    position: relative;
    overflow-x: hidden;

    @media only screen and (max-width: 900px) {
      display: none;
    }

    .great-logo {
      position: absolute;
      height: 129px;
      width: 382px;
      background: $banner;
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 80px;
      right: -50px;

      @media only screen and (max-width: 1200px) {
        height: 104px;
        width: 308px;
      }
    }

    &.login-panel {
      background: $login-image;
      background-size: auto 55vh !important;

      &.hide_image_below_1200 {
        @media screen and (max-width: 1200px) {
          background: none;
        }
      }
    }

    &.signup-panel {
      background: $signup-image;
      background-size: auto 55vh !important;

      &.hide_image_below_1200 {
        @media screen and (max-width: 1200px) {
          background: none;
        }
      }
    }

    &.ea-login-panel {
      background: $ea-signup-image;
    }

    &.ea-signup-panel {
      background: $ea-signup-image;
      background-size: auto 45%;
      padding-bottom: 300px !important;

      &.hide_image_below_1200 {
        @media screen and (max-width: 1200px) {
          background: none;
        }
      }
    }
  }

  .signup__info-panel__heading {
    color: #222;
    font-style:normal;
    font-size: $font-size-h3;
    line-height: $h3-line-height;
    font-weight: $font-weight-semi-bold;
    text-align: left;
  }

  .signup__info-panel__content {
    padding: 145px 40px 20vh 40px;
    height: 100%;
  }

  .signup__info-panel__subheadings {
    span.great-icon {
      color: #2397d4;
    }

    li {
      font-size: $font-size-h4;
      margin-bottom: $large-padding;
      font-weight: $font-weight-standard;
      line-height: $h5-line-height;
    }
  }
}
