@import '../fonts/main.scss';
@import '../colors/colors.scss';

$login-image: url(/static/images/signin-image.png);
$signup-image: url(/static/images/signup-image.png);
#sign-up,
#login {
  h1 {
    font-family: $main-text-font;
    font-weight: $font-weight-standard;
  }

  h3 {
    color: $color-main-text;
  }

  p {
    font-size: $font-size-p-large;
    color: $color-main-text;
  }
  .signup__info-panel {
    padding: 0;
    background-position: center 100% !important;
    background-size: auto 60% !important;
    background-repeat: no-repeat !important;

    &.login-panel {
      background: $login-image;
    }

    &.signup-panel {
      background: $signup-image;
    }
  }

  .signup__info-panel__content {
    padding: 10% $large-padding;
    height: 100%;
  }
  .signup__info-panel__subheadings {
    i {
      color: #2397d4;
    }
    li {
      font-size: $font-size-h3;
    }
  }
}
