@import '../colors/colors.scss';
@import '../fonts/main.scss';
@import '../sizes/sizes.scss';

.help-pages {
    background-color: $color-main-background;
    padding-bottom: 0;
}

.heading-large,
.heading-xlarge {
    font-family: $main-text-font;

}

.other-pages-container {
    display: flex;
    padding-bottom: 0;
    flex: 1;
    background-color: $color-main-background;

    .inner-container {
        flex:1;
        max-width: 1230px;
        margin:auto;
        padding-left: 1.5 * $standard-padding;
    }
}

@media only screen and (min-width: 420px) and (max-width: 1260px) {
    .other-pages-container .inner-container {
        padding-left:0;
        margin-left:$x-large-padding;
    }
}

@media only screen and (max-width: 420px) {
    .other-pages-container .inner-container {
        max-width: auto;
        margin-left: $large-padding;
        margin-right: $large-padding;
        padding:0
    }
}

.breadcrumb-container{
    background-color: $color-background-color;
}

section#search-results-information{
    background-color: $color-main-background;
    margin-bottom: 0;
}

#report-a-trade-barrier{
    background-color: $color-main-background;
}

#report-a-trade-barrier{
    padding-bottom:0;
    .breadcrumb-container{
    background-color: $color-background-color;
    padding-left:$x-large-padding;
    padding-right: $x-large-padding;
}
a.button{
    margin-bottom: $standard-padding;
}

}

.snapshot {
    background-color:$color-quotes
}

#magna-header-search-form{
    height: 50px;
    display: flex;
    align-items: center;
        button{
        margin-top:0;
        margin-left:-2px;
        height: 43px;
        width: 43px;
    }

    #magna-header-search-box{
        height: 46px;
    }
}
