@import '../colors/colors.scss';
@import '../sizes/sizes.scss';



.classification-tree__line,
.section-list__item {
  border-radius: 0;
}

.back-link {
  color: $color-gov-link;

  i {
    color: $color-gov-link;
    background-color: white;
    border-radius: 10px;
    line-height: 20px;
    ;
  }
}

.learn__category-entities {
  height: 41px;
  color: $color-gov-link;
  border-radius: 0;
  background-color: $color-background-color;
  display: flex;
  align-items: center;
  padding-left: $large-padding;
  padding-right: $large-padding;
  padding-top: 0;
  padding-bottom: 0;

  i {
    padding-right: $standard-padding;
  }
}

.learn__topic-item-read-time {
  color: $color-gov-link;

  i {
    color: $color-gov-link;
  }
}

i.fas.fa-clock {
  color: $color-main-text;
}

#personalisation-bar {
  button {
    height: 45px;
  }
}

.shared-personalisation-bar {
  background-color: #363566;

  button {
    background-color: #363566;
  }
}

blockquote,
.box,
.box:before {
  background-color: $color-background-color;
}


.media-block {
  i:before {
    color: $color-main-text
  }
}

a.link {
  color: $color-gov-link;
  text-decoration: underline;
}

p>a {
  font-size: inherit;
}

.test-knowledge,
.next-steps {
  background-color: $color-footer;

  .mark-lesson-as-complete h2,
  .mark-lesson-as-complete span,
  .test-knowledge-wrapper>h2,
  >h3 {
    color: $color-alternative-text
  }
}

a.link--underline {
  text-decoration: none;
}

.g-panel::before {
  background: $color-main-text;
}


a:focus:active,
button:focus:active {
  background-color: inherit;
}

#interaction-details {
  margin-bottom: 0;
}

.export-plan-wrapper,
.export-plan-dashboard__section,
.form-group-example,
.costs,
.lesson-accordian-content,
.getting-paid,
.export-plan-form,
.export-plan-statistics,
.hero-image-container,
.action-wrapper {
  background-color: $color-background-color;
  border-radius: 0;
}

.section--intro,
.section-complete {
  background-color: $color-footer;

  p,
  h1,
  span,
  h3,
  label {
    color: $color-alternative-text
  }
}

.statistic,
.great-radiogroup__label {
  border-radius: 0;
}

a.link.lesson-learn,
a.section-list__link {
  text-decoration: none;
  border-radius: 0;

  img {
    border-radius: 0;
  }
}

.export-plan-header {
  background-color: $color-main-background;
}

.modal-inner {
  background-color: $color-main-background;
}

.snapshot-wrapper {
  h2 {
    padding-top: $x-large-padding;
  }
}

.prepend {
  border-radius: 0;
  border: 2px solid $color-border;
  border-right-width: 0;
  background-color: $color-background-color;
  color: $color-main-text
}


.export-plan-form {
  hr+button {
    margin-top: $large-padding;
  }
}

.costs__option .form-label {
  padding-top: $standard-padding
}
#compare-markets{
  background-color: $color-background-color;
}


.landing-page-section{
  background-color: $color-main-background;
}

.snackbar-message{
  background-color: $color-footer;
  display: inline-flex;
  align-items: center;
}

.great-footer{
  background-color: $color-footer;
}

.g-card{
  background-color: $color-main-background;
}

.heading-small{
  font-family: $main-text-font;
}

.caption {
  padding-top: $standard-padding;
}
