@import '../colors/colors.scss';
@import '../sizes/sizes.scss';

//just overidde colors
.h-m,
.h-s,
a.learn__category-link,
.body-m,
.body-l,
.h-l,
.body-l-b,
.h-xs,
.link,
.body-l,
.body-s,
div,
label.body-l,
.body-m-b,
.body-s-b,
.multiple-choice label,
.select__button i,
.great-checkbox label,
.great-checkbox label::before,
.learn__lesson-item-link:visited,
.learning-link:visited
 {
  color: $color-main-text;
}

.classification-tree__line,
.section-list__item {
  border-radius: 0;
}

.back-link {
  color: $color-gov-link;

  i {
    color: $color-gov-link;
    background-color: white;
    border-radius: 10px;
    line-height: 20px;
    ;
  }
}

.learn__category-entities {
  height: 41px;
  color: $color-gov-link;
  border-radius: 0;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
  padding-left: $large-padding;
  padding-right: $large-padding;
  padding-top: 0;
  padding-bottom: 0;

  i {
    padding-right: $standard-padding;
  }
}

.learn__topic-item-read-time {
  color: $color-gov-link;

  i {
    color: $color-gov-link;
  }
}

i.fas.fa-clock {
  color: $color-main-text;
}

#personalisation-bar {
  button {
    height: 45px;
  }
}

.shared-personalisation-bar {
  background-color: #363566;

  button {
    background-color: #363566;
  }
}

blockquote,
.box,
.box:before {
  background-color: $color-background-color;
}


.media-block {
  i:before {
    color: $color-main-text
  }
}

a.link {
  color: $color-gov-link;
  text-decoration: underline;
}

p>a {
  font-size: inherit;
}

.test-knowledge,
.next-steps {
  background-color: $color-footer;

  h2.h-m,
  h2.h-s {
    color: $color-alternative-text
  }
}

a.link--underline {
  text-decoration: none;
}

.g-panel::before {
  background: $color-main-text;
}


a:focus:active,
button:focus:active {
  background-color: inherit;
}

#interaction-details {
  margin-bottom: 0;
}

.export-plan-wrapper,
.export-plan-dashboard__section,
.form-group-example,
.costs,
.lesson-accordian-content,
.getting-paid,
.export-plan-form,
.export-plan-statistics,
.hero-image-container,
.action-wrapper {
  background-color: $color-background-color;
  border-radius: 0;
}

.section--intro,
.section-complete {
  background-color: $color-footer;

  p,
  h1,
  span,
  h3 {
    color: $color-alternative-text
  }
}

.statistic {
  border-radius: 0;
}
