{% url 'enrolment-business-type' as default_link_url %}

<div class="message-box padding-15 padding-30-m border-medium background-stone-30 border-stone grey-text margin-right-15 margin-bottom-5" id="business-type-information-box">
    <h2 class="box-heading heading-medium heading-small grey-text margin-bottom-0">Your business type</h2>
    <p id="business-type" class="box-description marargin-top-0">
        {% if is_in_companies_house %}
            I represent a limited company (Ltd), a public limited company (PLC) or a Royal Charter company registered with Companies House
        {% elif is_individual %}
            I live in the UK but do not represent a business
        {% else %}
	    I'm a sole trader or represent another type of UK business not registered with Companies House
        {% endif %}
        <br>
        <a href="{{ link_url|default:default_link_url }}?new_enrollment={{new_enrollment_condition}}" class="link" id="change-business-type">{{ link_text|default:'Change business type' }}</a>
    </p>
</div>
