{% if cards %}
  {% for card in cards %}
  <div class="column-third-xl column-half-l">
    {% include 'components/card.html' with url=card.url page_image=card.hero_image title=card.title %}
  </div>
  {% endfor %}
{% else %}
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/create-an-export-plan/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-ExportPlan_kivvZ4V.f4bcc0cf.fill-640x360.jpg" alt="Advice Hero ExportPlan">
      <div class="card-inner">
        <h3 class="heading-large">Create an export plan</h3>
      </div>
    </a>
  </div>
</div>
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/find-an-export-market/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-ExportMarket_mr49SiO.6770232b.fill-640x360.jpg" alt="Advice-Hero-ExportMarket">
      <div class="card-inner">
        <h3 class="heading-large">Find an export market</h3>
      </div>
    </a>
  </div>
</div>
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/define-route-to-market/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-RouteToMarket_b70cMEb.fba99b30.fill-640x360.jpg" alt="Advice-Hero-RouteToMarket">
      <div class="card-inner">
        <h3 class="heading-large">Choose a route to market</h3>
      </div>
    </a>
  </div>
</div>
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/get-export-finance-and-funding/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-ExportFinance_Toja9Xs.a1ff0a79.fill-640x360.jpg" alt="Advice-Hero-ExportFinance">
      <div class="card-inner">
        <h3 class="heading-large">Get export finance</h3>
      </div>
    </a>
  </div>
</div>
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/manage-payment-for-export-orders/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-ExportOrders_ssOAvzv.0398987e.fill-640x360.jpg" alt="Advice-Hero-ExportOrders">
      <div class="card-inner">
        <h3 class="heading-large">Manage payment for export orders</h3>
      </div>
    </a>
  </div>
</div>
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/prepare-to-do-business-in-a-foreign-country/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-BusinessInAForeignCoun.28781083.fill-640x360.jpg" alt="Advice-Hero-BusinessInAForeignCountry">
      <div class="card-inner">
        <h3 class="heading-large">Prepare to do business in a foreign country</h3>
      </div>
    </a>
  </div>
</div>
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/prepare-for-export-procedures-and-logistics/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-ExportProcedures_9L5eL.fd35732b.fill-640x360.jpg" alt="Advice-Hero-ExportProcedures">
      <div class="card-inner">
        <h3 class="heading-large">Prepare for export procedures and logistics</h3>
      </div>
    </a>
  </div>
</div>
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/sell-services-overseas/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-Services.965a6508.fill-640x360.jpg" alt="Advice-Hero-Services">
      <div class="card-inner">
        <h3 class="heading-large">Sell services overseas</h3>
      </div>
    </a>
  </div>
</div>
<div class="column-third-xl column-half-l">
  <div class="card only-title">
    <a class="card-link" href="/advice/manage-risk-bribery-corruption-and-abuse-human-rights/">
      <img class="card-image" src="https://directory-cms-public.s3.amazonaws.com/images/Advice-Hero-LegalCompliance_1SfEhA.ce2783f9.fill-640x360.jpg" alt="Advice-Hero-LegalCompliance">
      <div class="card-inner">
        <h3 class="heading-large">Manage risk of bribery and corruption</h3>
      </div>
    </a>
  </div>
</div>
{% endif %}
