{% load i18n %}
{% load wagtailcore_tags %}
{% language lang|default:"en-gb" %}
    <div id="header-cookie-notice"
         class="great great-cookie-notice"
         dir="ltr"
         data-ga-section="cookieNotice"
         role="region"
         aria-label="Cookies on Business.gov.uk"
         aria-live="polite">
        <div class="great great-overflow-visible great-container cookie-notice-container">
            <h2 aria-hidden="true" class="govuk-heading-m">{% translate "Cookies on Business.gov.uk" %}</h2>
            <p class="govuk-!-margin-bottom-4">
                You've <span id="cookie-action">accepted</span> additional cookies. You can <a class="link"
    id="cookie-notice-change-preferences"
    href="{% url 'core:cookie-preferences' %}">change your cookie settings</a> at any time.
            </p>
            <button class="govuk-button govuk-!-margin-top-1 cookie-close">{% translate "Hide cookies message" %}</button>
        </div>
    </div>
{% endlanguage %}
