{% load i18n %}
{% load wagtailcore_tags %}
{% language lang|default:"en-gb" %}
    <div id="header-cookie-notice"
         class="great great-overflow-visible great-cookie-notice"
         dir="ltr"
         data-ga-section="cookieNotice"
         role="region"
         aria-label="Cookie confirmation banner">
        <div class="great container cookie-notice-container">
            <h2 class="govuk-heading-s">{% translate "Cookies on great.gov.uk" %}</h2>
            <p>
                {% translate 'You''ve <span id="cookie-action">accepted</span> additional cookies. You can ' %}<a class="link" href="{% url 'core:cookie-preferences' %}">{% translate 'change your cookie settings' %}</a> {% translate 'at any time.' %}
            </p>
            <button class="govuk-button govuk-!-margin-top-1 cookie-close">{% translate "Hide cookies message" %}</button>
        </div>
    </div>
{% endlanguage %}
