{% load i18n %}
{% load wagtailcore_tags %}

<div id="header-cookie-notice" class="cookie-notice" dir="ltr" data-ga-section="cookieNotice">
  <div class="container cookie-notice-container">
    <div class="grid-row">
      <div class="cookie-initial">
        <h2 class="heading-medium margin-top-0 margin-bottom-30 column-full">{% trans 'Accept cookies or set preferences' %}</h2>
        <div class="column-half">
          <p>{% trans 'We use '%}<a class="link" href='{% slugurl "privacy-and-cookies" %}'>{% trans 'cookies to give you a better experience' %}</a> {% trans 'on great.gov.uk. We also use cookies to improve government services.' %}
          </p>
        </div>
        <div class="column-half">
          <a href="#" class="button margin-top-30 margin-top-0-m  margin-right-15-m margin-bottom-30 margin-bottom-15-m button-accept">{% trans 'Accept cookies' %}</a>
          <a href="{% url 'core:cookie-preferences' %}" class="button">{% trans 'Set preferences' %}</a>
        </div>
      </div>
      <div class="cookie-confirmation">
        <div class="column-full">
          <p>{% trans "You've accepted all cookies.  You can "%}<a class="link" href="{% url 'core:cookie-preferences' %}">{% trans 'manage your cookies' %}</a> {% trans 'at any time.' %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
