{% load i18n wagtailimages_tags %}
{% load static %}
{% load content_tags %}
<section class="great great-bg-light-blue govuk-!-padding-top-0 govuk-!-padding-bottom-0">
    <div class="great-container">
        {% if data.dep_title %}
            <h2 class="govuk-heading-l {% if features.FEATURE_GUIDED_JOURNEY_EXTRAS %}govuk-!-margin-top-7{% else %}govuk-!-margin-top-9{% endif %} {% if data.dep_sub_title %}govuk-!-margin-bottom-0{% else %}govuk-!-margin-bottom-6{% endif %}">
                {{ data.dep_title }}
            </h2>
        {% endif %}
        {% if data.dep_sub_title %}
            <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-6">{{ data.dep_sub_title }}</p>
        {% endif %}
        {% if features.FEATURE_HOMEPAGE_REDESIGN_V1 and data.dep_cards %}
            
            {% if features.FEATURE_GUIDED_JOURNEY_EXTRAS %}
            <div class="govuk-!-padding-bottom-7 great-ds-category-panels great-ds-category-panels--homepage">
                {% for cards in data.dep_cards %}
                    {% for card in cards.value %}
                        {% with svg_path=card.value.link_url|get_icon_path %}
                        <a href="{{ card.value.link_url }}" data-ga-digital-entry-point>
                            {% include svg_path %} 
                            <span data-title="{{ card.value.link_text|add:' - Homepage' }}" data-location="Homepage">{{ card.value.link_text  }}</span>
                        </a>
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
            </div>
            {% else %}
            <div class="govuk-grid-row govuk-!-padding-bottom-0 great-card-row">
                {% for cards in data.dep_cards %}
                    {% for card in cards.value %}
                        <div class="govuk-grid-column-one-third great-card--homepage-container">
                            {% include 'components/great/card.html' with title=card.value.link_text url=card.value.link_url show_title_link=True image_src=card.value.link_url|get_icon_path is_svg_image=True classes="great-card--homepage" data_attr="data-ga-digital-entry-point" data_attr_title=card.value.link_text|add:"- Homepage" data_attr_location="Homepage" %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}

            {% if features.FEATURE_GUIDED_JOURNEY_EXTRAS %}
            <div class="govuk-!-padding-6 great-bg-white great-ds-make-or-do great-ds-make-or-do--homepage">
                {% include 'domestic/contact/export-support/includes/make-or-do-form.html' %}
                <img src="{% static 'images/make-or-do.jpg' %}" alt="" />
            </div>
            {% endif %}
        {% else %}
            <div class="govuk-grid-row great-display-flex-desktop great-dep-homepage-row">
                <div class="govuk-grid-column-two-thirds great-dep-card">
                    {% if data.dep_primary_cta_url %}
                        <a href="{{ data.dep_primary_cta_url }}"
                           class="govuk-!-display-block govuk-!-padding-5 great-bg-white great-height-100-desktop great-dep-homepage-title"
                           data-ga-digital-entry-point>
                            <div class="great-display-flex-from-desktop" data-location="homepage">
                                <div class="great-dep-homepage-title__text">
                                    {% if data.dep_primary_cta_title %}
                                        <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2 great-text-blue"
                                            data-title="{{ data.dep_primary_cta_title }}">
                                            {{ data.dep_primary_cta_title }}
                                        </h3>
                                    {% endif %}
                                    {% if data.dep_primary_cta_text %}<p class="govuk-body">{{ data.dep_primary_cta_text }}</p>{% endif %}
                                </div>
                                {% if data.dep_primary_cta_image %}
                                    {% image data.dep_primary_cta_image fill-640x360 as thumbnail %}
                                    <img src="{{ thumbnail.url }}" alt="{{ thumbnail.alt_text }}" />
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-third great-dep-card">
                    {% if data.dep_secondary_cta_url %}
                        <a href="{{ data.dep_secondary_cta_url }}"
                           class="govuk-!-display-block govuk-!-padding-5 great-bg-white great-height-100-desktop"
                           data-ga-digital-entry-point>
                            {% if data.dep_secondary_cta_title %}
                                <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2 great-text-blue"
                                    data-title="{{ data.dep_secondary_cta_title }}">
                                    {{ data.dep_secondary_cta_title }}
                                </h3>
                            {% endif %}
                            {% if data.dep_secondary_cta_text %}
                                <p class="govuk-body" data-location="homepage">{{ data.dep_secondary_cta_text }}</p>
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
