{% comment %}

Optional params

    * image_url:string -  absolute URL for an image (eg from /static/)
    * image:Image - Wagtail image instance, from which we need to make a rendition

If both are available, `image_url` will be used over `image`

{% endcomment %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load event_list_buttons %}
{% load add_govuk_classes from content_tags %}
{% if not image_url %}
    {% image hero.image original as rendition %}
{% endif %}
{% firstof image_url rendition.url as image_url %}
<div class="page-header article-header great-height-auto" id="hero">
    <div class="inner-header">
        <div class="govuk-!-padding-bottom-0">
            {% if useHeaderLevel2 %}
                <h2>{{ hero.title }}</h2>
            {% else %}
                 <h1>{{ hero.title }}</h1>
            {% endif %}
            <p>{{ hero.text| richtext | add_govuk_classes }}</p>
            <p>
                {% is_logged_in as user_is_registered %}
                {% if user_is_registered %}
                    {{ hero.ea_registered_text | richtext | add_govuk_classes }}
                {% elif not request.user.is_anoymous %}
                    {{ hero.logged_in_text | richtext | add_govuk_classes }}
                {% else %}
                    {{ hero.logged_out_text | richtext | add_govuk_classes }}
                {% endif %}
            </p>
        </div>
        <div class="image-container great-height-auto great-min-height-300 {% if hide_image_for_mobile %} great-display-from-tablet{% endif %}"
             style="background: url({{ image_url }})"></div>
    </div>
</div>
