{% comment %}

Optional params

    * image_url:string -  absolute URL for an image (eg from /static/)
    * image:Image - Wagtail image instance, from which we need to make a rendition

If both are available, `image_url` will be used over `image`

{% endcomment %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% if not image_url %}
    {% image image original as rendition %}
{% endif %}
{% firstof image_url rendition.url as image_url %}
<div class="great page-header article-header great-hero-box-shadow-bottom"
     id="hero">
    <div class="inner-header">
        <div>
            {% if hero_subeading %}<h2 class="govuk-caption-l">{{ hero_subeading }}</h2>{% endif %}
            <h1 class="govuk-heading-l govuk-!-static-margin-0 govuk-!-static-margin-bottom-2">{{ hero_title }}</h1>
            <p>{{ hero_text|richtext }}</p>
        </div>
        <div class="image-container full-height-img 
            {% if hide_image_for_mobile %}great-display-from-tablet {% endif %} 
            {% if hide_image_for_tablet %}great-display-from-desktop {% endif %} 
            {% if left_aligned %} left-aligned {% else %} right-aligned {% endif %}"
             style="background: url({{ image_url }})"></div>
    </div>
</div>
