{% comment %}

Optional params

    * image_url:string -  absolute URL for an image (eg from /static/)
    * image:Image - Wagtail image instance, from which we need to make a rendition

If both are available, `image_url` will be used over `image`

{% endcomment %}

{% load wagtailimages_tags %}

{% if not image_url %}
{% image image original as rendition %}
{% endif %}
{% firstof image_url rendition.url as image_url %}

<div class="page-header article-header"
    id="hero"
    {% if image_url %}style="background: url({{ image_url }})"{% endif %}>
     <div class="inner-header">
  <div >
      <h1>{{ hero_title }}</h1>
      <p>{{ hero_text }}</p>
  </div>
  <div class="image-container" style="background: url({{ image_url }})">
  </div>
</div>
</div>
