{% load static %}
<section class="great-hero great-hero--product-market" id="hero">
    <div class="great-container">
        <div class="great-hero__container govuk-grid-row">
            <div class="great-hero__text govuk-grid-column-one-half">
                <h1 class="great-hero__heading">Get exporting and grow your business</h1>
                <p class="great-hero__subtitle">
                    Tell us what you sell and where you want to sell it.
                    <br>
                    We'll help to get you started.
                </p>
            </div>
            <div class="great-hero__search govuk-grid-column-one-half">
                <form id="great-hero-form"
                      class="great-hero__form"
                      action="/product-market"
                      method="post">
                    {% csrf_token %}
                    <label class="great-hero__label" for="product-input">What do you sell?</label>
                    <div class="great-hero__form-inputs">
                        <input class="great-hero__input"
                               type="text"
                               name="product-input"
                               id="product-input"
                               placeholder="For example, Apples" />
                        <button class="great-hero__button primary-button great-primary-button--chevron">
                            <span class="great-hero__button-text">Get started</span>
                        </button>
                    </div>
                </form>
                <a href="/learn/categories/prepare-sell-new-country/selling-services-overseas/prepare-to-sell-services-overseas/"
                   class="great-hero__link">Are you selling a service?</a>
                <div class="great-hero__logo">
                    <img src="/static/images/great-banner-large.png" alt="Great logo">
                </div>
            </div>
        </div>
    </div>
</section>
