{% comment %}

Optional params

    * image_url:string -  absolute URL for an image (eg from /static/)
    * image:Image - Wagtail image instance, from which we need to make a rendition

If both are available, `image_url` will be used over `image`

{% endcomment %}
{% load wagtailimages_tags %}
{% if not image_url %}
    {% image image original as rendition %}
{% endif %}
{% firstof image_url rendition.url as image_url %}
     {% include '_hero.html' with pngImagePath=image_url classes="great-ds-hero--image-only"%}
