{% comment %}
    Args:
        statistics - streamfield of IndividualStatisticBlocks
{% endcomment %}

<div class="statistics-card-grid flex-grid underline-active-blue">
    {% with statistics|length as num_of_statistics %}
        {% for statistics_block in statistics %}
            {% if statistics_block.value.number %}
                {% if num_of_statistics >= 6 %}
                    <figure class="padding-vertical-15 column-half column-third-l column-sixth-xl">
                {% elif num_of_statistics == 5 %}
                    <figure class="padding-vertical-15 column-half column-third-l column-sixth-xl">
                {% elif num_of_statistics == 4 %}
                    <figure class="padding-vertical-15 column-half column-quarter-xl">
                {% elif num_of_statistics == 3 %}
                    <figure class="padding-vertical-15 column-half column-third-l">
                {% else %}
                    <figure class="padding-vertical-15 column-half">
                {% endif %}

                    {% if not number_first %}
                        <p class="statistic-heading font-xsmall">{{ statistics_block.value.heading }}</p>
                    {% endif %}
                        <p class="active-blue-text statistic-number {% if statistics_block.value.number|length > 8 %} bold-medium{% else %} bold-large{% endif %}">
                            {{ statistics_block.value.number }}
                        </p>
                    {% if number_first %}
                        <p class="statistic-heading font-xsmall">{{ statistics_block.value.heading }}</p>
                    {% endif %}
                        <figcaption>
                            <p class="font-xsmall statistic-smallprint">{{ statistics_block.value.smallprint }}</p>
                        </figcaption>

                    </figure>
            {% endif %}
        {% endfor %}
    {% endwith %}
</div>
