{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "warn",
    "import/no-unresolved": "off",
    "quotes": "error"
  },
  "overrides": [
    {
      "files": ["./tests/**/*.test.jsx"],
      "env": {
        "jest": true
      },
      "plugins": ["jest"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    },
    {
      "files": [
        "./src/components/SectorChooser.jsx",
        "./src/components/BrandAndProduct.jsx",
        "./src/components/TargetMarketCountries.jsx",
        "./src/components/ObjectivesList.jsx",
        "./src/components/Objective.jsx",
        ".src/components/ProductFinder.jsx",
      ],
      "rules": {
        "no-underscore-dangle": "off",
        "react/jsx-props-no-spreading": "off",
        "react/destructuring-assignment": "off",
        "react/no-array-index-key": "off",
        "class-methods-use-this": "off",
        "no-param-reassign": "off",
        "camelcase": "off",
      }
    }
  ]
}
