
@import 'helpers/colours';

.great-mvp-wizard-step-heading {
    margin-top: 20px;
    padding-bottom: 30px;
}

.great-mvp-wizard-step-button {
    background: $grey;
    color: $white;
    width: 300px;
}
