@import 'helpers/colours';

.ReactModal__Content.ReactModalCentreScreen {  
    background: white none repeat scroll 0% 0%;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    bottom: auto;
    inset: 50% auto auto 50%;
    left: 50%;
    margin-right: -50%;
    outline: currentcolor none medium;
    overflow: visible;
    position: absolute;
    right: auto;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 570px;
    &.ReactModal__Content--Export {
      width: 720px;

      aside {
        .book-chap-image {
          width: 180px;
        }
      }
      .multiple-choice {
        min-height: 20px;
        padding: 0 0 0 20px;

        [type="radio"] + label::before {
          width: 20px;
          height: 20px;
        }

        [type="radio"] + label::after {
          top: 6px;
          left: 6px;
          border: 6px solid;
        }

        label {
          line-height: 20px;
        }

        input {
          width: 20px;
          height: 20px;
        }
      }
      

    }
    &.ReactModal__Content--Signup {
        width: 840px;
        background: linear-gradient(90deg, $light-grey 50%, $white 50%);

        .great-mvp-terms {
            font-size: 16px;
        }

        .great-mvp-wizard-step-link {
          display: inline-block;
          text-align: center;
          width: 100%;
          text-decoration: underline;
        }


        .great-mvp-image-tourists {
          width: 50%;
          position: absolute;
          bottom: -2px;
          left: 20px;
        }

        aside {
          
          h2 {
            line-height: 1em;
          }

          p {
            border-radius: 8px;
            background: $white;
          }
        }
    }
}

.ReactModal__Overlay.ReactModalCentreScreen {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    inset: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
}

