<script src="https://www.google.com/recaptcha/api.js?render={{ public_key }}"></script>
<script>
  // attach reCapture check on form submit to stop token expiry.
  grecaptcha.ready(function() {
    const form = document.querySelector("main form")
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      grecaptcha.execute('{{ public_key }}', {action: 'form'})
        .then(function(token) {
          var element = document.querySelector('#id_captcha');
          element.value = token;
          form.submit();
        });
    });
  });
</script>
