version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.8
  node: circleci/node@5.0.2

###############################################################################
# Variables
###############################################################################

python: &python
  image: cimg/python:3.9.13

python_node_browsers: &python_node_browsers
  image: cimg/python:3.9.13-browsers

redis: &redis
  image: cimg/redis:7.2.4

postgres: &postgres
  - image: cimg/postgres:16.2
    environment:
      POSTGRES_USER: debug
      POSTGRES_PASSWORD: debug
      POSTGRES_DB: greatcms

postgres_url: &postgres_url
  DATABASE_URL: postgresql://debug:debug@localhost/greatcms

###############################################################################
# Steps
###############################################################################

install_postgresql_client: &install_postgresql_client
  run:
    name: Install PostgreSQL Client
    command: |
      sudo apt-get update
      sudo apt-get install postgresql-client

install_libcairo2: &install_libcairo2
  run:
    name: Install libcairo2-dev
    command: |
      sudo apt-get update
      sudo apt-get install libcairo2-dev

create_virtualenv_and_install_dependencies:
  &create_virtualenv_and_install_dependencies
  run:
    name: Create virtualenv and install dependencies
    command: |
      python3 -m venv venv
      . venv/bin/activate
      pip install --upgrade pip
      make install_requirements

setup_secrets: &setup_secrets
  run:
    name: Setup Secrets
    command: |
      . venv/bin/activate
      make secrets

setup_db: &setup_db
  run:
    name: Database Setup
    command: |
      . venv/bin/activate
      make ARGUMENTS=migrate manage
      make ARGUMENTS=bootstrap_great manage

###############################################################################
# Jobs
###############################################################################

jobs:
  test:
    working_directory: ~/greatcms
    docker:
      - <<: *python_node_browsers
      - <<: *postgres
      - <<: *redis
    environment: *postgres_url
    steps:
      - checkout
      - *install_postgresql_client
      - restore_cache:
          key: v1-deps-{{ checksum "requirements_test.txt" }}
      - *create_virtualenv_and_install_dependencies
      - *setup_secrets
      - save_cache:
          key: v1-deps-{{ checksum "requirements_test.txt" }}
          paths:
            - 'venv'
      - run:
          name: Install Node.js
          command: |
            curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
            sudo apt-get install -y nodejs
      - run:
          name: Install @uktrade/great-design-system
          command: |
            npm install @uktrade/great-design-system
      - restore_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Install node modules
          command: npm ci
      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Run Unit tests
          command: |
            . venv/bin/activate
            make pytest_codecov -- --codecov-token=${CODECOV_TOKEN}
      - store_test_results:
          path: ./results/

  test_browser:
    working_directory: ~/greatcms
    docker:
      - <<: *python_node_browsers
      - <<: *postgres
    environment: *postgres_url
    steps:
      - checkout
      - *install_postgresql_client
      - restore_cache:
          key: v1-deps-{{ checksum "requirements_test.txt" }}
      - run: sudo apt-get update
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Install Allure CLI
          when: always
          command: |
            wget https://github.com/allure-framework/allure2/releases/download/2.13.1/allure-commandline-2.13.1.zip -O allure.zip
            unzip -q allure.zip
            find . -maxdepth 1 -type d -name "allure*" -exec mv {} allure \;
            rm allure.zip
      - *create_virtualenv_and_install_dependencies
      - *setup_secrets
      - save_cache:
          key: v1-deps-{{ checksum "requirements_test.txt" }}
          paths:
            - 'venv'
      - run:
          name: Install Node.js
          command: |
            curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
            sudo apt-get install -y nodejs
      - run:
          name: Install @uktrade/great-design-system
          command: |
            npm install @uktrade/great-design-system@latest
      - restore_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Run Browser tests
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make pytest_browser
      - store_test_results:
          path: ./results/
      - run:
          name: Generate Allure report
          when: always
          command: |
            export JAVA_HOME=$(dirname $(dirname $(readlink -f $(which javac))))
            export PATH=$PATH:$HOME/bin:$PATH:$JAVA_HOME/bin:./allure/bin
            allure generate --clean --output ./allure_report ./allure_results/
      - store_artifacts:
          path: ./allure_report/
          destination: allure_report

  test_load:
    working_directory: ~/greatcms
    docker:
      - <<: *python
      - <<: *postgres
    environment:
      NUM_USERS: 20
      HATCH_RATE: 3
      RUN_TIME: 30s
      <<: *postgres_url
    steps:
      - checkout
      - *install_postgresql_client
      - *install_libcairo2
      - *create_virtualenv_and_install_dependencies
      - *setup_secrets
      - *setup_db
      - run:
          name: Install Node.js
          command: |
            curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
            sudo apt-get install -y nodejs
      - run:
          name: Install @uktrade/great-design-system
          command: |
            npm install @uktrade/great-design-system@latest
      - restore_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Install node modules
          command: npm ci
      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Run tests
          command: |
            python3 -m venv venv
            . venv/bin/activate
            mkdir results
            make test_load
      - store_artifacts:
          path: ./results/
          destination: locust_results

  test_javascript:
    docker:
      - *python_node_browsers
    steps:
      - checkout
      - restore_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Install node modules
          command: npm ci
      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - 'node_modules'
      - run:
          name: Run Javascript tests
          command: npm test -- --maxWorkers=1

  test_lighthouse:
    working_directory: ~/greatcms
    docker:
      - <<: *python_node_browsers
      - <<: *postgres
    steps:
      - checkout
      - browser-tools/install-chrome
      - *install_postgresql_client
      - *install_libcairo2
      - *create_virtualenv_and_install_dependencies
      - *setup_secrets
      - *setup_db
      - node/install:
          node-version: '18.20.3'
      - restore_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Install node modules
          command: npm ci
      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - 'node_modules'
      - run:
          name: Run lighthouse
          command: |
            python3 -m venv venv
            . venv/bin/activate
            npm run build
            npm run lighthouse

  flake8:
    docker:
      - <<: *python
    steps:
      - checkout
      - *install_libcairo2
      - run:
          name: Run flake8
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install --quiet -r requirements_test.txt
            flake8

  black:
    docker:
      - <<: *python
    steps:
      - checkout
      - run:
          name: Run Black in check mode
          command: |
            python3 -m venv .venv
            . .venv/bin/activate
            pip install black==24.1.0
            black ./ --check

workflows:
  version: 2
  test_and_checks:
    jobs:
      - test
      - test_browser
      - test_javascript
      - test_lighthouse
      - test_load
      - black
      - flake8
