{% extends 'apps-tabs.html' %}
{% load static from staticfiles %}
{% block head_title %}Personal details - Account - great.gov.uk{% endblock %}
{% block tab_content %}
    <div class="grid-row" id="tab-content">
        <div class="column-two-thirds">
            <section id="welcome-message">
                <h2 class="heading-large margin-top-60 margin-bottom-30">Edit Personal Details</h2>
                <p class="body-text margin-bottom-0">Email</p>
                <p class="heading-small margin-bottom-30 margin-top-0">{{ request.user.email }}</p>
                <div id="business-details-edit-form">
                    <form method="post" enctype="multipart/form-data" novalidate="novalidate">
                        {% block form %}{{ form }}{% endblock %}
                        {% block form_button %}
                            <button class="button margin-top-30">Save</button>
                        {% endblock %}
                        <div>
                            <br>
                            <br>
                            {% block back_link %}
                                <a class="link" href="{% url 'personal-profile:display' %}">Back</a>
                            {% endblock %}
                        </div>
                     </form>
                </div>
            </section>
        </div>
    </div>
{% endblock tab_content %}



