{% load show_feedback from content_tags %}
{% load get_inline_feedback_visibility from content_tags %}
{% show_feedback request.get_full_path as show_feedback %}
{% if show_feedback %}
    <div class="great-full-width govuk-!-padding-top-6 govuk-!-padding-bottom-6 great-inline-feedback__container great">
        <div class="great-container">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-0"
                 id="inline-feedback">
                {% get_inline_feedback_visibility request.get_full_path as feedback_visibility %}
                <div id="submission-error"
                     aria-live="polite"
                     tabindex="-1"
                     class="great-inline-feedback__submission-error {% if not feedback_visibility.show_submission_error %}great-hidden{% endif %}">
                    <span role="img" class="fa fa-exclamation-circle"></span>
                    <h3 class="govuk-heading-xs">Something went wrong. Please try again.</h3>
                </div>
                <span id="page-useful"
                      class="{% if not feedback_visibility.show_page_useful %}  great-hidden  {% endif %}">
                    <form method="post"
                          class="great-inline-feedback__page_useful_form"
                          id="page-useful-form">
                        <h2 class="govuk-heading-xs">Was this page useful?</h2>
                        {% csrf_token %}
                        <input type="hidden" name="current_url" value="{{ request.path }}">
                        <button type="submit"
                                class="secondary-button small-button"
                                id="page-useful-yes"
                                formaction="{% url 'contact:contact-inline-feedback' %}?page_useful=True">Yes</button>
                        <button type="submit"
                                class="secondary-button small-button"
                                id="page-useful-no"
                                formaction="{% url 'contact:contact-inline-feedback' %}?page_useful=False">No</button>
                    </form>
                </span>
                <span id="positive-feedback"
                      class="{% if not feedback_visibility.show_positive_feedback %}  great-hidden  {% endif %}">
                    {% include 'components/inline_feedback/positive_feedback.html' %}
                </span>
                <span id="negative-feedback"
                      class="{% if not feedback_visibility.show_negative_feedback %}  great-hidden  {% endif %}">
                    {% include 'components/inline_feedback/negative_feedback.html' %}
                </span>
                <div id="detailed-feedback-received"
                     aria-live="polite"
                     tabindex="-1"
                     class="great-inline-feedback__submission-confirmation {% if not feedback_visibility.show_detailed_feedback_received %}great-hidden{% endif %}">
                    <span role="img" class="fa fa-check-circle"></span>
                    <h2 class="govuk-heading-s govuk-!-margin-0">Thanks for your feedback</h2>
                </div>
            </div>
        </div>
    </div>
    {% block body_js %}
        <script>
        const currentPage = window.location.pathname
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value

        const postFeedback = async function (body){
          const submitAPIEndpoint = '/contact/inline-feedback'
          return await fetch(`${submitAPIEndpoint}?js_enabled=True`, {
            method: 'POST',
            headers: {
              'Content-Type': "application/json",
              'X-CSRFToken': csrfToken
            },
            body: JSON.stringify(body)
          })
        }

        const hideFeedbackError = function () {
          document.getElementById('submission-error').classList.add('great-hidden')
        }

        const handleFeedbackError = function() {
          document.getElementById('submission-error').classList.remove('great-hidden')
          document.getElementById('submission-error').focus()
        }

        const handleFeedbackSuccess = function(originalElementID, successElementID, successMessageID) {
          document.getElementById(originalElementID).classList.toggle('great-hidden')
          document.getElementById(successElementID).classList.toggle('great-hidden')
          document.getElementById(successMessageID).focus()
        }

        document.getElementById('page-useful-form').addEventListener('submit', function(event){
          event.preventDefault();
        })

        const pageUsefulButtons = [{'id':'page-useful-yes', 'followUpFormID': 'positive-feedback', 'successMessageID': 'positive-feedback-submision-confirmation'}, {'id':'page-useful-no', 'followUpFormID': 'negative-feedback', 'successMessageID': 'negative-feedback-submision-confirmation'}]

        pageUsefulButtons.forEach((button)=>{
          document.getElementById(button.id).addEventListener('click', async function(event){
            try{
              hideFeedbackError()
              await postFeedback({
                'current_url': currentPage,
                'page_title': document.title,
                'page_useful': `${button.id == 'page-useful-yes'}`,
              })
              handleFeedbackSuccess('page-useful', button.followUpFormID, button.successMessageID)
            } catch (e) {
              handleFeedbackError()
            }
          })
        })

        const detailedFeedbackIDs = [{'containerID': 'positive-feedback', 'formID': 'positive-feedback-form'}, {'containerID': 'negative-feedback', 'formID': 'negative-feedback-form'}]

        detailedFeedbackIDs.forEach((feedbackType)=>{
          document.getElementById(feedbackType.formID).addEventListener('submit', async function(event){
            event.preventDefault();
            const form = event.target
            const formData = new FormData(form)

            const formDataObject = {};
              formData.forEach((value, key)=>{
                if (key != 'csrfmiddlewaretoken') formDataObject[key] = value;
            });

            try {
              hideFeedbackError()
              await postFeedback({
                'current_url': currentPage,
                'page_title': document.title,
                'page_useful': feedbackType.containerID == 'positive-feedback',
                ...formDataObject,
              })
              handleFeedbackSuccess(feedbackType.containerID, 'detailed-feedback-received', 'detailed-feedback-received')
            } catch (e) {
              handleFeedbackError()
            }
          })
        })

        </script>
    {% endblock %}
{% endif %}
