{% load get_inline_feedback_visibility from content_tags %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-6" id="inline-feedback">
    {% get_inline_feedback_visibility request.get_full_path as feedback_visibility %}
    <span id="page_useful"
          class="{% if not feedback_visibility.show_page_useful %}  great-visually-hidden  {% endif %}">
        <form method="post" class="inline-feedback__page_useful_form">
            <h5 class="govuk-heading-xs">Was this page useful?</h5>
            {% csrf_token %}
            <input type="hidden" name="current_url" value="{{ request.path }}">
            <button type="submit"
                    class="secondary-button small-button"
                    id="page_useful_yes"
                    formaction="{% url 'contact:contact-inline-feedback' %}?page_useful=True">Yes</button>
            <button type="submit"
                    class="secondary-button small-button"
                    id="page_useful_no"
                    formaction="{% url 'contact:contact-inline-feedback' %}?page_useful=False">No</button>
        </form>
    </span>
    <span id="positive_feedback"
        class="{% if not feedback_visibility.show_positive_feedback %}  great-visually-hidden  {% endif %}">
        {% include 'components/inline_feedback/positive_feedback.html' %}
    </span>
    <span id="negative_feedback"
        class="{% if not feedback_visibility.show_negative_feedback %}  great-visually-hidden  {% endif %}">
        {% include 'components/inline_feedback/negative_feedback.html' %}
    </span>
    <div id="detailed_feedback_received" class="inline-feedback__submission-confirmation {% if not feedback_visibility.show_detailed_feedback_received %}  great-visually-hidden  {% endif %}">
        <span role="img" class="fa fa-check-circle"></span>
        <h4>Thanks for your feedback</h4>
    </div>
  </div>
