{% extends 'exportplan/section.html' %}
{% load static %}
{% load to_json %}

{% block intro_title %}Adaptation for your target market{%endblock %}
{% block intro_description %}
Different markets will have different rules you have to follow when it comes
to selling your product. It is likely you will have to modify your product to make it fit with regulatory and cultural
requirements.
<br />
<br />
Create a clear strategy for the modifications you will have to make in order to successfully expand your business in
your target market.
{% endblock %}
{% block main_content %}
<div class="g-panel">
  <p>
    Create a high level plan and record all the changes you have to make to your product to sell in your chosen market.
    This will help you stay on top of what needs changing and where.
  </p>
  <p>Some of the things you will want to consider are:</p>
  <ul class="list-bullet">
    <li>regulations and standards</li>
    <li>packaging</li>
    <li>labelling</li>
    <li>cultural requirements</li>
    <li>relevant export certificates</li>
  </ul>
</div>
{% endblock %}

{% block user_input %}
<section class="bg-blue-deep-10 m-t-l p-b-m">
  <div class="container">
    <div class="grid flex-grid">
      <div class="c-1-1 c-2-3-l c-1-2-xl m-h-auto">
        <h2 class="h-xs p-t-l p-b-s">
          Data Snapshot: exporting {{ export_plan.export_commodity_codes.0.commodity_name }} to
          {{ export_plan.export_countries.0.country_name }}
        </h2>
        <div id="stats-for-target-market" class="flex-direction-column">
          <div class="statistic">
            <dl>
              <dt class="statistic__caption">The main languages in your chosen market are:</dt>
              <dd>
                <ul class="h-m p-0 m-0">
                  {% for language in language_data.cia_factbook_data.languages.language %}
                  <li class="inline-block">
                    {{language.name}} {% if language.note == 'official' and language.percent %} (official:
                    {{language.percent}}%) {% elif language.note == 'official' %} (Official) {% elif language.percent %}
                    ({{language.percent}}%) {% endif %} {% if not forloop.last %} , {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container m-b-l">
  <div class="grid">
    <div class="c-1-4-l">&nbsp;</div>
    <div class="c-1-1 c-1-2-l">
      <small class="body-s text-blue-deep-50">Population statistics – <a href="#">United Nations</a>; Access to
        Internet,Consumer Price Index - <a href="#">World Bank</a>; Languages - <a href="#">CIA World
          Factbook</a>;</small>
    </div>
  </div>
</section>
<section class="container m-b-xl">
  <div class="grid flex-grid">
    <div class="c-1-1 c-2-3-l c-1-2-xl m-h-auto">
      <h3 class="h-l">Changing your product to adapt to your target market</h3>
      <p>
        It is likely that you will have to make changes to your product so you can successfully sell it in your tarket
        market. You will have to do your own research to find out what changes need to be made.
      </p>
      <p>Record all these changes in the following table.</p>
      <div class="">
        <form class="width-full" action="" method="post" id="adapt-to-target-market">
          {% csrf_token %}
          {{ form }}
          <input type="submit" class="g-button" value="Save" />
        </form>
      </div>
    </div>
  </div>
</section>

<section class="container m-b-xl">
  <div class="grid flex-grid">
    <div class="c-1-1 c-2-3-l c-1-2-xl m-h-auto">
      <h3 class="h-l">Documents you need to provide to meet the requirements for your target market</h3>
      <p>
        Having the correct paperwork avoids delays and minimises the risk of running into issues.
      </p>
      <p>
        Record all the paperwork you need to export your product to your target market in the following table.
      </p>
      <div class="">
        <form class="width-full" action="" method="post" id="documents-for-target-market">
          {% csrf_token %}
          {{ form }}
          <input type="submit" class="g-button" value="Save" />
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body_js %}
{{ block.super }}
<script type="text/javascript">
  var element = document.getElementById('adapt-to-target-market');
  magna.adaptToTargetMarketForm({
    element: element,
    field: 'adaptation_target_market',
    formData: {{ form_initial|safe }},
    companyexportplan: {{ export_plan.pk }}
  })

  element = document.getElementById('documents-for-target-market');
  magna.documentsForTargetMarketForm({
    element: element,
    field: 'adaptation_target_market',
    formData: {{ form_initial|safe }},
    formDataUserDocs: {{ target_market_documents|to_json }},
    companyexportplan: {{ export_plan.pk }}
  })

  element = document.getElementById('stats-for-target-market');
  magna.statsForYourTargetMarket({
    element: element,
    languages: {{ language_data|safe }},
    infoMomenent: `To find out what product alterations and documents you might need to visit <a href="{{ check_duties_link|safe }}" target="_blank"
                rel="noopener noreferrer">Check how to export goods</a> service and choose the commodity code that best matches your product.`,
  })
</script>
{% endblock %}