{% extends 'exportplan/section.html' %}

{% block intro_content %}
<h1 class="h-xl">Adaptation for international markets</h1>
<p>Your product or service may need to be modified to suit local cultural requirements. Create a clear strategy to help you expand your business.</p>
{% endblock %}

{% block main_content %}
<p>Detail any changes that you’ll need to make your product or service to sell it in the target markets. Include a high-level plan for making the changes.</p>
<p>For example:</p>
<ul class="list-bullet">
  <li>compliance with standards</li>
  <li>packaging</li>
  <li>labelling</li>
  <li>export certificates</li>
</ul>
<p><a href="#">See examples</a></p>
{% endblock %}

{% block user_input %}
{% endblock %}
