{% extends 'exportplan/section.html' %}

{% block intro_content %}
<h1 class="h-xl">Business risk</h1>
<p>There will always be risks when doing business abroad, but being prepared and developing a plan will mean you can mitigate those risks and safeguard your business.</p>
{% endblock %}

{% block main_content %}
<p>Make sure you’ve recorded risks you might encounter when exporting, and how you’ll lessen or avoid them.</p>
<p>The main categories to consider are:</p>
<ul class="list-bullet">
  <li>commercial risk, including protecting your intellectual property</li>
  <li>political risk</li>
  <li>economic risk</li>
  <li>bribery, corruption and human rights violation risks</li>
</ul>
<p><a href="#">See examples</a></p>
{% endblock %}

{% block user_input %}
{% endblock %}
