{% extends 'exportplan/section.html' %}
{% load static %}

{% block intro_title %}Business objectives{% endblock %}
{% block intro_description %} To build a strong Export Plan you need to have goals and milestones. This page helps you to record these so you can meet them later on.<br /> <br />{% endblock %}

{% block user_input %}

<section class="container">
  <div class="grid">
    <div class="c-1-4 p-0 m-t-s">
      <div class="lesson__back">
        {% include 'exportplan/includes/lesson_details.html' with lesson_name='opportunity-right-you' %}
      </div>
    </div>
    <div class="c-1-2 text-blue-deep-80">
      <div id="objectives-reasons">
        {% include 'exportplan/includes/form_field.html' with field=form.rational %}
      </div>
    </div>
    <div class="c-1-4">&nbsp;</div>
  </div>
</section>

<section class="container m-b-m m-t-l">
  <div class="grid">
    <div class="c-1-4 p-0 m-t-s">
      <div class="lesson__back">
        {% include 'exportplan/includes/lesson_details.html' with lesson_name='move-accidental-exporting-strategic-exporting' %}
      </div>
    </div>
    <div class="c-1-2 text-blue-deep-80">
      <h2 class="h-m m-b-s">Create exporting goals</h2>
      <p>Create some key milestones for your exporting journey</p>
      <div class="g-panel m-b-m">
        <p>To increase the prospect of success, ensure what you want to achieve is specific, measurable and realistic:</p>
        <ul class="list-dot">
          <li>specific - your objective is well defined</li>
          <li>measurable - use things like quantity, cost and time frame so you can judge how well you're doing</li>
          <li>realistic - ambition is good but make sure your objective is within reach</li>
        </ul>
      </div>
      <div id="objectives-form--objectives">
        <input type="submit" class="g-button" value="Save">
      </div>
    </div>
    <div class="c-1-4">&nbsp;</div>
  </div>
</section>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript">
    var rationale = document.getElementById('objectives-reasons');
    magna.createObjectivesReasons({
      element: rationale,
      field: 'objectives',
      formData: {{ form_initial|safe }},
      formFields: {{ form_fields|safe }},
    })
    var objectives = document.getElementById('objectives-form--objectives');
    magna.createObjectivesList({
      element: objectives,
      objectives: {{ objectives|safe }},
      exportPlanID: {{ export_plan.pk }}
    })
  </script>
{% endblock %}
