{% extends 'exportplan/section.html' %}
{% load to_json %}

{% block intro_title %}Business risk{%endblock %}
{% block intro_description %}
There will always be risks when doing business abroad. Having a plan before you travel will help you mitigate risks your business faces.
{% endblock %}
{% block main_content %}
<div class="g-panel m-b-s">
  <p>
    Recording the risks you may encouter when exporting will require some careful planning. Some of the things you will need to think about are:
  </p>
  <ul class="list-dot">
    <li>commercial risk including intellectual property</li>
    <li>political risk</li>
    <li>economic risk</li>
    <li>bribery and corruption</li>
    <li>human rights violations</li>
  </ul>
</div>
{% endblock %}

{% block user_input %}
<section class="container m-b-l">
  <div class="grid">
    <div class="c-1-4-l">&nbsp;</div>
    <div class="c-1-1 c-2-3-m c-1-2-xl">
      <div id="business-risks">
        <h2 class="h-m m-b-xs">Risks</h2>
        <p>
          Record any risks you think your business may face in the following
          table.
        </p>
        <p>These should be specific risks your business faces when exporting.</p>
      </div>
    </div>
    <div class="c-1-12-m c-1-4-xl">&nbsp;</div>
  </div>
</section>
{% endblock %}


{% block body_js %}
{% include 'exportplan/includes/section_data/business-risk__data.html' %}
{% endblock %}