{% extends 'exportplan/section.html' %}

{% block intro_content %}
<h1 class="h-xl">Costs and pricing</h1>
<p>Create a detailed plan of the funding that you will need in place in preparation for exporting your goods or service. This will keep you organised and mitigate any unwanted surprises.</p>
{% endblock %}

{% block main_content %}
<p>Calculate and record the funding you’ll need to fulfil orders. List the costs associated with bringing the product to market, and when they need to be paid. When will you be paid for orders? Will there be gaps between costs and payment?</p>
<p>Decide if you need finance to bridge any gaps, and research the type of finance you might need.</p>
<p><a href="#">See examples</a></p>
{% endblock %}

{% block user_input %}
{% endblock %}
