{% extends 'exportplan/section.html' %}

{% block intro_title %}Costs and pricing{% endblock %}

{% block intro_description %}To avoid any unwanted surprises, stay organised by creating a detailed plan of all the costs involved with getting your product to market.{% endblock %}

{% block main_content %}
<div class="g-panel">
  <p>You need to have a good understanding of how your product is priced to make sure you can fulfil orders and make a profit.</p>
  <p>This section will help you to:</p>
  <ul class="list-dot">
    <li>work out the costs of bringing a product to market</li>
    <li>calculate your final cost per unit</li>
    <li>find out the average price per unit for similar products in your chosen market</li>
    <li>decide on a final price for your product</li>
    <li>outline what you will pay in taxes and duties</li>
  </ul>
</div>
{% endblock %}

{% block user_input %}
<div id="cost-and-pricing"></div>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript">
    magna.createCostsAndPricing({
      element: document.getElementById('cost-and-pricing'),
      currency: 'GBP',
    })
  </script>
{% endblock %}


