{% extends 'exportplan/section.html' %}

{% block intro_content %}
<h1 class="h-xl">Finance</h1>
<p>There are many financial products available to raise money to export. The right financial package will depend on your product and the size and stage of your business.</p>
{% endblock %}

{% block main_content %}
<p>Record the additional costs involved in selling into the overseas market. Use this to establish a target price in the overseas market to the end user.</p> 
<p>Take account of:</p>
<ul class="list-bullet">
  <li>freight and carriage charges</li>
  <li>import duties and taxes</li>
  <li>commission to partners</li>
  <li>competitive pricing</li>
  <li>invoice currency</li>
  <li>Incoterms</li>
</ul>
<p><a href="#">See examples</a></p>
{% endblock %}

{% block user_input %}
{% endblock %}
