{% extends 'exportplan/section.html' %}
{% load to_json %}
{% block intro_title %}Getting paid{% endblock %}
{% block intro_description %}How and when you get paid directly affects your business cashflow so it's important to get it right. <br /><br /> This page helps you outline your plans for getting paid from abroad.{% endblock %}

{% block main_content %}
<div class="g-panel">
  <p>To get paid the right amount and get paid on time, you'll need to think about your intended:</p>
  <ul class="list-dot">
    <li>payment terms</li>
    <li>payment methods</li>
    <li>Incoterms® (international commercial terms)</li>
  </ul>
  <p>To make it easier, we've created a list of options for each one.</p>
</div>
{% endblock %}

{% block user_input %}
<div id="getting-paid"></div>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript">
    magna.createGettingPaid({
      element: document.getElementById('getting-paid'),
      field: 'getting_paid',
      formData: {{getting_paid_data|to_json|safe}},
      formFields: [
        {
            field: 'payment_method',
            group: [
              {
                name: 'methods',
                id: 'methods',
                label: 'Payments methods',
                field_type: 'Select',
                options: {{ payment_method_choices|safe }},
                multiSelect: true
              },
              {
                name: 'Add notes',
                label: 'Add notes',
                field_type: 'Textarea',
                placeholder: 'Add note',
                id: 'method_notes'
              },
            ],
          },
        {
          field: 'payment_terms',
            group: [
              {
                name: 'terms',
                id: 'terms',
                label: 'Payments terms',
                field_type: 'Select',
                options: {{ payment_term_choices|safe }},
              },
              {
                name: 'Add notes',
                label: 'Add notes',
                field_type: 'Textarea',
                placeholder: 'Add note',
                id: 'payments_notes'
              },
            ],
          },
          {
            field: 'incoterms',
            group: [
              {
                name: 'transport',
                id: 'transport',
                label: 'Incoterms®',
                field_type: 'Select',
                options: {{ transport_choices|safe}}
              },
              {
                name: 'Add notes',
                label: 'Add notes',
                field_type: 'Textarea',
                placeholder: 'Add note',
                id: 'incoterms_notes'
              },
            ],
          },
        ],
    })
  </script>
{% endblock %}
