{% extends 'exportplan/section.html' %}

{% block intro_content %}
<h1 class="h-xl">Marketing approach</h1>
<p>There are many ways to market your product or service. Learn to assess the different options to ensure you find the best one for maximising your business.</p>
{% endblock %}

{% block main_content %}
<p>For each market and product or service, consider the methods and channels you’ll use to get your goods to the market (for example direct selling or franchising, or through an online marketplace or social media). Record how you’ll get people to know about your offer, and the budget and resource you’ll need to allocate to this.</p>
<p>Again, you might want to record this in a grid to present the facts clearly.</p>
<p><a href="#">See examples</a></p>
{% endblock %}

{% block user_input %}
{% endblock %}
