{% extends 'exportplan/section.html' %}

{% load intcomma from humanize %}
{% block intro_content %}
<h1 class="export-plan-heading h-xl">Marketing approach!</h1>
<p>There are many ways to market your product or service. Learn to assess the different options to ensure you find the best one for maximising your business.</p>
{% endblock %}

{% block main_content %}

<div class="text-inset">
  <p>Ways you can sell your product to customers include:</p>
  <ul class="list-bullet">
    <li>selling direct</li>
    <li>online marketplaces</li>
    <li>licensing or franchising your product</li>
  </ul>
  <p>In this section you’ll be able to set out:</p>
  <ul class="list-bullet">
    <li>the best ways get your product to customers</li>
    <li>how you’ll promote your product</li>
    <li>what help you’ll need with marketing activity</li>
    <li>how much it’s all going to cost</li>
  </ul>
</div>

<h2 class="h-l">Who are the audience for your marketing and communication strategy in the Netherlands?</h2>
<p>TODO</p>

{% endblock %}

{% block additional_content %}
<hr class="m-t-0">
<section class="container">
  <div class="grid">
    <div class="c-1-3">&nbsp;</div>
    <div class="c-1-2">
      <h2 class="h-l">How will you get your product to customers in the Netherlands?</h2>
      <p>Make a list of the ways you’ll get your product to customers. You can choose more than one option.</p>
      <p>TODO</p>
    </div>
  </div>
</section>
<hr class="m-t-0">
<section class="container">
  <div class="grid">
    <div class="c-1-3">&nbsp;</div>
    <div class="c-1-2">
        <h2 class="h-m">What marketing resources do you need?</h2>
        <p>TODO</p>
    </div>
  </div>
</section>
{% endblock %}
