{% extends 'exportplan/section.html' %}
{% load static %}

{% block intro_content %}
<h1 class="h-xl">Objectives</h1>
<pre>{{ export_plan|pprint }}</pre>
<p>Your reasons for wanting to export and what you want to accomplish are the foundations of your export plan. Define your motivations and goals by setting them out here.</p>
{% endblock %}

{% block main_content %}
<h2 class="h-l m-t-m">Why we want to export</h2>
<p>What’s the reason you want to export?<br>Every business will have its own motivations.<br>Common are:</p>
<ul class="list-bullet">
  <li>grow the business by selling overseas</li>
  <li>maintain growth when sales have levelled off in the UK</li>
  <li>Spread risk by selling countries other than the UK</li>
  <li>Take advantage of an increase in customers wanting your kind of product</li>
</ul>
<p class="g-panel">It doesn’t matter if you’re reacting to an export opportunity or proactively planning, spelling them out will help make the most of either situation. </p>
{% endblock %}

{% block user_input %}
<div id="objectives-form">
  <form class="" action="" method="post">
  {% csrf_token %}

    <section class="container m-v-m">
      <div class="grid">
        <div class="c-1-3">&nbsp;</div>
        <div class="c-1-2">

          <div id="objectives-form--rationale">
            {% include 'exportplan/includes/form_field.html' with field=form.rational %}
          </div>

          <div class="export-plan-example bg-stone br-xs p-xs m-b-l">
            <h3 class="bold">For example</h3>
            <p class="m-0">I want to sell gin outside the U.K to grow my businesss</p>
          </div>
        </div>
      </div>
    </section>

    <input type="submit" class="g-button" value="Save">
  </form>
</div>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript">
    var element = document.getElementById('objectives-form--rationale');
    ditMVP.createBusinessRationale({
      element: element,
      formData: {{ form_initial|safe }},
      formFields: {{ form_fields|safe }},
    })
  </script>
  <script type="text/javascript" src="{% static 'js/auto-resize-textarea.js'%}"></script>
{% endblock %}
