{% extends 'exportplan/section.html' %}
{% load static %}

{% block intro_title %}Objectives{% endblock %}
{% block intro_description %}To have a strong export plan, you need to know your reasons for wanting to export and what you want to accomplish. <br /> <br />Have a think about your motivations and exporting goals and record them on this page.{% endblock %}

{% block user_input %}

<section class="container">
  <div class="grid">
    <div class="c-1-4 p-0 m-t-s">
      <div class="lesson__back">
        {% include 'exportplan/includes/lesson_details.html' with lesson_name='opportunity-right-you' %}
      </div>
    </div>
    <div class="c-1-2 text-blue-deep-80">
      <div id="objectives-reasons">
        {% include 'exportplan/includes/form_field.html' with field=form.rational %}
      </div>
    </div>
    <div class="c-1-4">&nbsp;</div>
  </div>
</section>

<section class="container m-b-m m-t-l">
  <div class="grid">
    <div class="c-1-4 p-0 m-t-s">
      <div class="lesson__back">
        {% include 'exportplan/includes/lesson_details.html' with lesson_name='move-accidental-exporting-strategic-exporting' %}
      </div>
    </div>
    <div class="c-1-2 text-blue-deep-80">
      <h2 class="h-l">What you want to achieve</h2>
      <p>What do you want to accomplish and by when?</p>
      <div class="g-panel">
        <p>To increase the prospect of success, ensure what you want to achieve is specific, measurable and realistic:</p>
        <ul class="list-dot">
          <li>specific - your objective is well defined</li>
          <li>measurable - use things like quantity, cost and time frame so you can judge how well you're doing</li>
          <li>realistic - ambition is good but make sure your objective is within reach</li>
        </ul>
      </div>
      <div id="objectives-form--objectives">
        <input type="submit" class="g-button" value="Save">
      </div>
    </div>
    <div class="c-1-4">&nbsp;</div>
  </div>
</section>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript">
    var rationale = document.getElementById('objectives-reasons');
    ditMVP.createObjectivesReasons({
      element: rationale,
      formData: {{ form_initial|safe }},
      formFields: {{ form_fields|safe }},
    })
    var objectives = document.getElementById('objectives-form--objectives');
    ditMVP.createObjectivesList({
      element: objectives,
      objectives: {{ objectives|safe }},
      exportPlanID: {{ export_plan.pk }}
    })
  </script>
  <script type="text/javascript" src="{% static 'js/auto-resize-textarea.js'%}"></script>
{% endblock %}
