{% extends 'exportplan/section.html' %}

{% block intro_content %}
<h1 class="h-xl">Objectives</h1>
<p>So you know you want to export, but have you thought about what you want to achieve? We will help you clarify your goals and put them on paper.</p>
{% endblock %}

{% block main_content %}
<p>What reasons are driving your decision to export? For example:</p>
<ul class="list-bullet">
  <li>your sales aren’t growing in the UK market </li>
  <li>you want improve to improve your capability and competitiveness</li>
  <li>research shows there’s a demand for your product or service overseas</li>
</ul>
<p>Provide some detail from your research to back each reason.</p>
<p><a href="#">See examples</a></p>
{% endblock %}

{% block user_input %}
{% endblock %}
