{% extends 'exportplan/section.html' %}
{% load static %}
{% load to_json %}

{% block intro_title %}Target market research{% endblock %}
{% block intro_description %}In this part of your Export Plan you'll record what you know about the target country and the market it has for your product.{% endblock %}

{% block main_content %}
<p class="g-panel">The Data Snapshot below gives you helpful facts and figures to kickstart your target market research</p>
{% endblock %}

{% block user_input %}
<section class="bg-blue-deep-10 m-t-l m-b-s">
  <div class="container">
    <div class="grid">
      <div class="c-1-4">&nbsp;</div>
      <div class="c-1-1 c-2-3-m c-1-2-xl">
        <h2 class="h-xs p-t-l p-b-0">Data Snapshot: {{ export_plan.export_countries.0.country_name }}</h2>
        <div id="target-age-groups" class="m-b-s">
          {% include "exportplan/includes/insight.html" %}
        </div>
      </div>
      <div class="c-1-12-m c-1-4-xl">&nbsp;</div>
    </div>
  </div>
</section>

<div class="container m-b-s">
  <div class="grid">
    <div class="c-1-4">&nbsp;</div>
    <div class="c-1-1 c-2-3-m c-1-2-xl">
      <p class="m-0 body-s">Population statistics – <a href="https://www.un.org/en/" title="United Nations">United Nations</a>; Access to Internet,Consumer Price Index - <a href="https://www.worldbank.org/" title="World Bank">World Bank</a>;  Languages -  <a href="https://www.cia.gov/library/publications/the-world-factbook/" title="CIA World Factbook">CIA World Factbook</a>;</p>
    </div>
    <div class="c-1-12-m c-1-4-xl">&nbsp;</div>
  </div>
</div>

<section class="container">
  <div class="grid">
    <div class="c-1-4 m-t-s">
      <div class="lesson__back">
        {% include 'exportplan/includes/lesson_details.html' with lesson_name='quantifying-customer-demand-how-much-might-you-sell' %}
      </div>
      <div class="lesson__back">
        {% include 'exportplan/includes/lesson_details.html' with lesson_name='using-what-you-know-to-help-inform-your-positioning-and-competitive-advantage' %}
      </div>
      <div class="lesson__back">
        {% include 'exportplan/includes/lesson_details.html' with lesson_name='understand-market-trends' %}
      </div>
    </div>
    <div class="c-1-1 c-2-3-m c-1-2-xl">
      <form class="" action="" method="post" id="target-markets-research">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="g-button" value="Save">
      </form>
    </div>
    <div class="c-1-12-m c-1-4-xl">&nbsp;</div>
  </div>
</section>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript">
    var element = document.getElementById('target-markets-research');
    magna.createTargetMarketResearchForm({
      element: element,
      field: 'target_markets_research',
      formData: {{ form_initial|safe }},
      formFields: {{ form_fields|safe }},
    })

    element = document.getElementById('target-age-groups');
    magna.createDataSnapShot({
      element,
      groups: {{ target_age_group_choices|safe }},
      country: '{{ export_plan.export_countries.0.country_name }}',
      insight: {{ insight_data|safe }},
      selected: {{ selected_age_groups|safe}},
      currentSection: {{ current_section|to_json}},
    })
  </script>
{% endblock %}
