{% extends 'exportplan/section.html' %}

{% block intro_content %}
<h1 class="h-xl">Travel and business policies</h1>
<p>Creating a travel plan will help you focus on preparing for upcoming trips like applying for visas, booking meetings, flights and hotels.</p>
{% endblock %}

{% block main_content %}
<p>Detail when and how often you’ll need to visit your market or markets.</p>
<p>Related matters you might need to document include:</p>
<ul class="list-bullet">
  <li>updates to staff travel, gifts and expenses policies</li>
  <li>a staff safety policy</li>
  <li>an approach to any language and cultural issues</li>
</ul>
<p><a href="#">See examples</a></p>
{% endblock %}

{% block user_input %}
{% endblock %}
