{% extends 'exportplan/section.html' %}
{% load static %}
{% load to_json %}

{% block intro_title %}Travel plan{%endblock %}
{% block intro_description %}
Create a travel plan that will help you prepare everything you need for your upcoming business trips.
{% endblock %}
{% block main_content %}
<div class="g-panel m-b-s">
  <i class="fas fa-info-circle fa-lg"></i>
  <h3 class="h-s p-t-xs">COVID-19 travel guidance</h3>
  <p>
    View the latest guidance for British people travelling overseas during the coronavirus (COVID-19) pandemic
  </p>
</div>
<div class="g-panel m-b-s">
  <p>
    There are lots of things you will have to think about to make sure you have a successful business trip. This section will help you to record everything you need for your business trips.
  </p>
</div>
{% endblock %}
{% block user_input %}
<section class="bg-blue-deep-10 m-t-l p-b-m">
  <div class="container">
    <div class="grid flex-grid">
      <div class="c-1-1 c-2-3-l c-1-2-xl m-h-auto">
        <h2 class="h-xs p-t-l p-b-s">
          Data Snapshot: exporting {{ export_plan.export_commodity_codes.0.commodity_name }} to
          {{ export_plan.export_countries.0.country_name }}
        </h2>
        <div id="stats-for-target-market" class="flex-direction-column">
          <div class="statistic">
            <dl>
              <dt class="statistic__caption">The main languages in your chosen market are:</dt>
              <dd>
                <ul class="h-m p-0 m-0">
                  {% for language in language_data.cia_factbook_data.languages.language %}
                  <li class="inline-block">
                    {{language.name}} {% if language.note == 'official' and language.percent %} (official:
                    {{language.percent}}%) {% elif language.note == 'official' %} (Official) {% elif language.percent %}
                    ({{language.percent}}%) {% endif %} {% if not forloop.last %} , {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container m-b-l">
  <div class="grid">
    <div class="c-1-4-l">&nbsp;</div>
    <div class="c-1-1 c-1-2-l">
      <small class="body-s text-blue-deep-50">Population statistics – <a href="#">United Nations</a>; Access to
        Internet,Consumer Price Index - <a href="#">World Bank</a>; Languages - <a href="#">CIA World
          Factbook</a>;</small>
    </div>
  </div>
</section>
{% endblock %}

{% block body_js %}
{{ block.super }}
<script type="text/javascript">
  element = document.getElementById('stats-for-target-market');
  magna.travelPlanSnapshot({
    element: element,
    languages: {'cia_factbook_data': {'languages': {'language': [{'name': 'Japanese'}]}}},
    tooltip: {
      heading: "Something",
      description: "Something else"
    }
  })
</script>
{% endblock %}