
.card-heading {
  font-weight: bold;
  color: $grey;
  text-decoration: none;
}


#discover-new-markets-card {
 display: inline-block;
}

#tariffs-and-duties-card {
  th:last-child {
    width: 16%;
  }
  tbody tr {
    border-bottom: 1px solid $light-grey;
  }
}


body {

  hr {
    height: 1px;
  }

  .your-progress-card {
    h3 {
      padding-top: 0;
    }
  }

  .great-dashboard-card {
    flex-flow: row wrap;

    > h3 {
      width: 100%;
    }

    .grid {
      width: 100%;
    }

    progress {
      width: 100%;
    }

    table th, table td {
      border-bottom: 0
    }
  }
}
