@import 'helpers/_colours';
@import 'helpers/_typography-mixins';
@import 'elements/_typography';
@import 'elements/_spacing';


.card-heading {
  font-weight: bold;
  color: $grey;
  text-decoration: none;
}


#discover-new-markets-card {
 display: inline-block;
}

#tariffs-and-duties-card {
  th:last-child {
    width: 16%;
  }
  tbody tr {
    border-bottom: 1px solid $light-grey;
  }
}


body {

  hr {
    height: 1px;
  }

  .gutter-top {
    padding-top: 60px;
  }

  #great-continue-learning-box {
    h4 {
      line-height: 1;
    }
  }

  .great-mvp-success-card {
    h3 {
      @extend .h-l;
      @extend .p-b-xxs;
    }
  }

  .your-progress-card {
    h3 {
      padding-top: 0;
    }
  }

  .great-dashboard-card {
    flex-flow: row wrap;

    > h3 {
      width: 100%;
    }
    
    .grid {
      width: 100%;
    }
    
    progress {
      width: 100%;
    }

    table th, table td {
      border-bottom: 0
    }
  }
}
