@import 'helpers/_colours';

body {
  header {
    background-color: $white;

    div.container {
      display: flex;

      .great-mvp-header-logo {
        height: 75px;
        vertical-align: top;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -75px;
      }

      nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;


        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 0;

          li {
            padding-right: 15px;
            padding-left: 15px;
            margin-top: auto;
            margin-bottom: auto;

            &.name-greet {
              max-width: 200px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            a {
              color: $grey;
              font-size: 16px;
              text-decoration: none;
            }
          }
        }

        ul#services-area,
        ul#user-state-area {
          li:last-child {
            padding-right: 30px;
          }
        }

        ul#user-state-area {
          li {
            padding-right: 5px;
            padding-left: 5px;
          }
          li:first-child {
            padding-left: 30px;
          }
          li:nth-child(2) {
            padding-right: 20px;
          }
          .great-mvp-header-icon {
              height:44px;
            }
          a.great-mvp-header-link {
            text-decoration: underline;
          }
        }
      }
    }
  }
}