@import 'helpers/colours';
@import 'helpers/vars';

.where-to-export__page {
  font-family: $brand-font-body;

  .h1 {
    color: $grey;
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 50px;
  }
}

.where-to-export__header {
  background-color: $white;

  .where-to-export__header-wrapper {
    padding-top: 40px;
    position: relative;

    .where-to-export__header-content {
      margin-bottom: 10px;

      @include tablet {
        margin: 30px 0;
      }

      h1 {
        margin-bottom: 16px;
      }

      p {
        @extend .body-m;
        color: $blue-deep-80;
        margin-top: 15px;

        @include tablet {
          font-size: 20px;
        }
      }
    }

    .where-to-export__header-image {
      max-width: 100%;
      height: auto;
    }
  }
}