@import 'helpers/_colours';


body {
    background-color: $light-grey;

    header {
        background-color: $white;

        div.container {
            display: flex;

            img {
                height: 75px;
                vertical-align: text-top;
            }

            nav {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;

                    li {
                        padding-right: 15px;
                        padding-left: 15px;
                        margin-top: auto;
                        margin-bottom: auto;

                        &.name-greet {
                            max-width: 200px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        a {
                            color: $grey;
                            font-size: 16px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .great-dashboard-card {
        flex-flow: row wrap;

        > h3 {
            width: 100%;
        }

        .grid {
            width: 100%;
        }
    }
}
