@import 'helpers/_colours';

@import '_header';
@import '_dashboard';

$lighter-grey: #EFEFEF;

.text-center {
  text-align: center;
}

.text-12 {
  font-size: 12px;
}

.text-16 {
  font-size: 16px;
}

.great-mvp-right-text {
  text-align: right;
}

body {
  background-color: $lighter-grey;

  #content {
    display: flex;
  }

  #great-hero {
    background-color: $light-grey;
    padding-bottom: 75px;
    margin-bottom: -75px;

    .g-breadcrumbs ol li::after {
      border-color: $grey;
    }
  }

  main {
    > .container {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

}