// !!! Imports only in this file !!!

// Great styles
// ===================================================

// Config
$asset-root: '/static/images/';

@import '../../design-system/_style-params.css';
@import '../../design-system/_fonts.css';
@import '../../design-system/_mixins.scss';

// Base
@import 'elements/reset';

// Elements
@import 'elements/layout';
@import 'elements/grid';
@import 'elements/forms/base';
@import 'elements/link';
@import 'elements/list';
@import 'elements/typography';
@import 'elements/quote';
@import 'elements/colours';
@import 'elements/responsive';
@import 'elements/buttons';
@import 'elements/details';
@import 'elements/tables';
@import 'elements/utils';
@import 'elements/spacing';

// Components
@import 'components/card/base';
@import 'components/header-footer/base';
@import 'components/accordion';
@import 'components/banners';
@import 'components/boxes';
@import 'components/breadcrumbs';
@import 'components/case-study';
@import 'components/content-list';
@import 'components/cookie-notice';
@import 'components/details-list';
@import 'components/error-reporting';
@import 'components/fact-sheet';
@import 'components/hero';
@import 'components/feature-list';
@import 'components/modal';
@import 'components/pagination';
@import 'components/search';
@import 'components/sharing-links';
@import 'components/skip-link';
@import 'components/stats';
@import 'components/tag-list';
@import 'components/panels';

// MVP styles
// ===================================================

@import 'helpers/mixins';
@import 'helpers/utils';

@import 'components/header';
@import 'components/buttons';
@import 'components/forms';
@import 'components/statistics';
@import 'components/progress-wizard';

@import 'base';
@import 'overrides';
@import 'dashboard';

// Pages
@import 'exportplan/dashboard';
@import 'exportplan/sections';
@import 'learn/base';
@import 'exportplan/builder';
