// Config
$asset-root: '/static/images/';
$fonts: '/static/fonts';
$fa-font-path: '/static/fonts';

// Carousel
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/slick-carousel/slick/slick-theme.scss';

// Icons
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';

// Great styles
@import 'styles';

// Magna styles
@import 'helpers/utils';
@import 'helpers/mixins-cms';

@import 'components/forms';
@import 'components/progress-wizard';
@import 'components/insights';
@import 'components/product-finder';
@import 'components/compare-markets';
@import 'components/sign-up';
@import 'components/tour';
@import 'components/modal-cms';
@import 'components/spinner';
@import 'components/classification-tree';

@import 'base';
@import 'overrides';

// Pages
@import 'exportplan/dashboard';
@import 'exportplan/statistics';
@import 'exportplan/sections';
@import 'learn/base';
@import 'exportplan/sidebar';
@import 'exportplan/costs';
@import 'exportplan/adaptation-target-market-form';

// Shared styles
@import 'shared/base';
