// GOVUK styles with Great styles
// All classes are prefixed with either
// .govuk- or .great-
@import 'node_modules/govuk-frontend/govuk/all';

@import 'styles/great/_reset.scss';
@import 'styles/great/_colors.scss';
@import 'styles/great/_utils.scss';
@import 'styles/great/_components.scss';
@import 'styles/great/_overrides.scss';
@import 'styles/great/_typography.scss';

// Config
$asset-root: '/static/images/';
$fonts: '/static/fonts';
$fa-font-path: '/static/fonts';

@import 'core/components/sass/components/skip-link/_base.scss';

// Great styles - todo - we need to be able to remove
@import 'node_modules/great-styles/src/scss/elements/_reset.scss';
@import 'node_modules/great-styles/src/scss/components/header-footer/_header.scss';
@import 'node_modules/great-styles/src/scss/elements/_tags.scss';
@import 'node_modules/great-styles/src/scss/helpers/_mixins.scss';
@import 'node_modules/great-styles/src/scss/elements/forms/_general.scss';
@import 'node_modules/great-styles/src/scss/elements/_list.scss';
@import 'node_modules/great-styles/src/scss/elements/_box.scss';
@import 'node_modules/great-styles/src/scss/elements/_media-block.scss';

@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';

@import 'learn/base';
@import 'shared/base';

@import '../components/sass/components/cookie-notice/base';
