@import 'helpers/_colours';

@import '@src/stylesheets/_WizardStep';


.great-mvp-signup-wizard-step-success {

    .great-mvp-subtitle {
        font-size: 19px;
        margin-top: 10px;
    }

    .great-mvp-synopsis {
        font-size: 19px;
        margin-bottom: 30px;
        margin-bottom: 30px;
        text-align: left;
    }

}
