<a class="great-no-text-decoration great-no-border-focus great-arrow-link"
   href="{{ url }}">
    <div class="great-inline-flex no-wrap great-align-items-center great-width-100">
        <span role="img"
              class="{% if icon_class %}{{ icon_class }}{% else %}fa fa-arrow-right great-text-white great-icon-circular-background govuk-!-margin-right-3"
              {% endif %}></span>
        <span class="govuk-!-margin-0 great-title-link great-inline-block govuk-heading-xs great-font-bold ">{{ title }}</span>
    </div>
</a>
