{% load i18n wagtailimages_tags %}
<div class="great-card{% if classes %} {{ classes }}{% endif %}" {% if data_attr %}{{ data_attr }}{% endif %}>
    {% if url %}<a href="{{ url }}">{% endif %}
        {% if image_src %}
            <img src="{{ image_src }}"
                 alt="{% if image_alt %}{{ image_alt }}{% endif %}" />
        {% endif %}
        <div class="govuk-!-padding-4">
            {% if title %}
                <{{ heading_level|default:'h3' }} class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2
                {% if show_title_link %}great-card__link great-card__link--heading{% endif %}
                ">
                {{ title }}
                </{{ heading_level|default:'h3' }}>
            {% endif %}
            {% if content %}<div>{{ content }}</div>{% endif %}
            {% if link_text %}<span class="great-card__link great-card__link--chevron">{{ link_text }}</span>{% endif %}
        </div>
        {% if url %}</a>{% endif %}
</div>
