{% load i18n wagtailimages_tags %}
{% load add_govuk_classes add_card_govuk_classes tag_text_mapper url_type from content_tags %}
<div class="great-card{% if classes %} {{ classes }}{% endif %}"
     {% if data_attr_title %}data-title="{{ data_attr_title }}"{% endif %}
     {% if data_attr_location %}data-location="{{ data_attr_location }}"{% endif %}>
    {% if url %}
        <a href="{{ url }}" {% if a_classes %} class="{{ a_classes }}" {% endif %}{% if data_attr %}{{ data_attr }}{% endif %} {% if is_external_link %} target="_blank" rel="noopener noreferrer external">
            <span class="great-visually-hidden">(opens in new tab)</span>
        {% else %}
            >
        {% endif %}
    {% endif %}
    {% if image_src %}
        {% if is_svg_image %}
            <div class="govuk-!-padding-top-4 great-card__svg-wrapper">{% include image_src %}</div>
        {% else %}
            <img src="{{ image_src }}"
                 alt="{% if image_alt %}{{ image_alt }}{% endif %}" />
        {% endif %}
    {% endif %}
    <div class=" {% if container_class %} {{ container_class }} {% else %} govuk-!-padding-4 {% endif %}"
         {% if data_attr_title %}data-title="{{ data_attr_title }}"{% endif %}>
        {% if title %}
            {% if show_title_link %}<div class="great-position-relative">{% endif %}
                <{{ heading_level|default:'h3' }} class="
                {% if heading_class %}
                    {{ heading_class }}
                {% else %}
                    govuk-heading-s
                {% endif %}
                govuk-!-margin-top-2 govuk-!-margin-bottom-2
                {% if show_title_link %}great-card__link great-card__link--heading{% endif %}
                {% if show_internal_external_icons %}great-card__link--{{ url|url_type }}{% endif %}
                ">
                <span>{{ title }}</span>
                </{{ heading_level|default:'h3' }}>
                {% if show_title_link %}</div>{% endif %}
        {% endif %}
        {% if content %}
            {% if bypass_class_filter %}
                <div {% if content_class %}class="{{ content_class }}"{% endif %}>{{ content }}</div>
            {% else %}
                {% if tag %}
                    {% filter add_card_govuk_classes %}
                        <{{ content_tag|default:'div' }}
                        {% if content_class %}class="{{ content_class }}"{% endif %}
                        >{{ content }}</{{ content_tag|default:'div' }}>
                    {% endfilter %}
                {% else %}
                    {% filter add_govuk_classes %}
                        <{{ content_tag|default:'div' }}
                        {% if content_class %}class="{{ content_class }}"{% endif %}
                        >{{ content }}</{{ content_tag|default:'div' }}>
                    {% endfilter %}
                {% endif %}
            {% endif %}
        {% elif not exclude_br %}
            <br>
        {% endif %}
        {% if tag and tag_icon %}
            <span class="govuk-caption great-text-dark-grey great-card__tag {% if tag_container_outer_class %}{{ tag_container_outer_class }}{% endif %}">
                <span class="{% if tag_container_inner_class %}{{ tag_container_inner_class }}{% endif %}">
                    <img src="{{ tag_icon }}" alt="" />
                    {{ tag }}
                </span>
            </span>
        {% else %}
            <span class="govuk-caption great-text-dark-grey great-card__tag {% if tag_container_class %}{{ tag_container_class }}{% endif %}">{{ tag }}</span>
        {% endif %}
        {% if link_text %}<span class="great-card__link great-card__link--chevron">{{ link_text }}</span>{% endif %}
    </div>
    {% if url %}</a>{% endif %}
</div>
