<div class="govuk-!-padding-3 great-bg-white">
    <div class="govuk-notification-banner great-notification-banner--error"
         role="region"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title"
                id="govuk-notification-banner-title">Error</h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">We are currently experiencing issues with some of our services.</p>
            <p class="govuk-body">We are working to fix this as soon as possible and apologise for any inconvenience.</p>
        </div>
    </div>
</div>
