{% load bgs_tags %}
{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
{% is_bgs_site current_site.root_url as bgs_site %}

{% if features.FEATURE_GREAT_MIGRATION_BANNER %}    
    <div class="great-width-100 great-min-height-50 great-bg-button-blue govuk-!-padding-top-2 govuk-!-padding-bottom-2">
        <div class="great-container great-display-flex great-flex-row">
                <p class="great-inline great-text-white">We are upgrading this site over the coming weeks, and you may notice some differences to how it looks. All current services will continue to be available during this time.</p>
            </div>
        </div>
    </div>
{% endif %}    

{% if features.FEATURE_GREAT_MIGRATION_BANNER and bgs_site or features.FEATURE_GREAT_MIGRATION_BANNER and request.META.HTTP_HOST|is_bgs_host %}
    <div class="great-width-100 great-min-height-50 great-bg-button-blue govuk-!-padding-top-2 govuk-!-padding-bottom-2">
        <div class="great-container great-display-flex great-flex-row">
            <div 
                 aria-hidden="true"
                 alt=""
                 class="fa fa-exclamation-circle great-text-white govuk-!-padding-right-2 govuk-!-padding-top-1"></div>
            <div>
                <p class="great-inline great-text-white"><span class="govuk-visually-hidden">Warning: </span>You are viewing the site business.gov.uk</p>
            </div>
        </div>
    </div>
{% endif %}
