{% load bgs_tags %}
{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
{% is_bgs_site current_site.root_url as bgs_site %}
{% if features.FEATURE_GREAT_MIGRATION_BANNER %}
    <div class="great-width-100 great-min-height-50 great-bg-button-blue govuk-!-padding-top-3">
        <div class="great-container great-display-flex great-flex-row">
            <p class="great-inline great-text-white homepage-notification-banner">
                Great.gov.uk is changing to Business.gov.uk. We expect the site and its services to be unavailable from 7am to 12pm BST on 9 June 2025.
            </p>
        </div>
    </div>
{% endif %}
