{% if features.FEATURE_GREAT_MIGRATION_BANNER %}
    <div class="great-width-100 great-min-height-50 great-bg-button-blue govuk-!-padding-top-2 govuk-!-padding-bottom-2">
        <div class="great-container great-display-flex great-flex-row">
            <div role="img"
                 alt="alert icon"
                 class="fa fa-exclamation-circle great-text-white govuk-!-padding-right-2 govuk-!-padding-top-1"></div>
            <div>
                <p class="great-inline great-text-white">
                    Great.gov.uk will be unavailable from Monday 3rd February 2025 at 5pm UK time whilst we carry out essential maintenance. You will be able to use the website from Tuesday 4th February 2025 at midday UK time.
                </p>
            </div>
        </div>
    </div>
{% endif %}
