<div class="govuk-input__wrapper govuk-password-input__wrapper"
     data-module="govuk-password-input">
    <input type="password"
           name="password"
           class="govuk-input govuk-password-input__input govuk-js-password-input-input"
           id="password-input"
           {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
           {% include "django/forms/widgets/attrs.html" %}>
    <button type="button"
            class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle"
            data-module="govuk-button"
            aria-controls="password-input"
            aria-label="Show password"
            hidden>Show</button>
</div>
