<div class="govuk-input__wrapper govuk-password-input__wrapper great-display-flex">
    <input type="password"
           name="password"
           id="id_password"
           spellcheck="false"
           autocomplete="current-password"
           autocapitalize="none"
           {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
           {% include "django/forms/widgets/attrs.html" %}>
    <button type="button"
            id="password-show-button"
            class="secondary-button govuk-!-margin-left-2 great-hidden great-min-90-button"
            data-module="govuk-button"
            aria-controls="id_password"
            aria-label="Show password">Show</button>
</div>
