<input class="govuk-radios__input" {% if conditional_reveal_id != None %}aria-controls={{ conditional_reveal_id }}{% endif %} id="{{ widget.attrs.id }}" name="{{ widget.name }}" type="radio" {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %} {% include "django/forms/widgets/attrs.html" %} />
<label {% if widget.attrs.id %}id="{{ widget.attrs.id }}-label" for="{{ widget.attrs.id }}"{% endif %}
       class="govuk-label govuk-radios__label">{{ widget.label }}</label>
