<div class="govuk-radios great-radios" data-module="govuk-radios">
    {% for group, options, index in widget.optgroups %}
        {% for option in options %}
            {% if option.value == 'Other' %}
                <div class="govuk-radios__item govuk-!-margin-bottom-3">
                    <input class="govuk-radios__input"
                           data-module="govuk-radios"
                           aria-controls="conditional-other-source"
                           id="{{ option.attrs.id }}"
                           name="{{ option.name }}"
                           type="radio"
                           {% if option.value != None %}value="{{ option.value|stringformat:'s' }}"{% endif %}
                           {% include "django/forms/widgets/attrs.html" %} />
                    <label {% if option.attrs.id %}id="{{ option.attrs.id }}-label" for="{{ option.attrs.id }}"{% endif %}
                           class="govuk-label govuk-radios__label">{{ option.label }}</label>
                </div>
            {% else %}
                <div class="govuk-radios__item govuk-!-margin-bottom-3">{% include option.template_name with widget=option %}</div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
