<section class="great great-bg-white govuk-!-padding-top-5 govuk-!-padding-bottom-3">
    <div class="great-container">
        {% if title %}<h2 class="govuk-heading-l govuk-!-margin-bottom-5">{{ title }}</h2>{% endif %}
        <div class="govuk-grid-row">
            {% for column_block in columns %}
                <div class="govuk-grid-column-one-third">
                    {% include 'components/great/card.html' with title=column_block.value.title url=column_block.value.url image=column_block.value.image source=column_block.value.source summary=column_block.value.summary %}
                </div>
            {% endfor %}
        </div>
        <hr class="govuk-!-margin-top-6 govuk-!-margin-bottom-0 great-hr-blue" />
    </div>
</section>
