<section class="great great-bg-white govuk-!-padding-top-5 govuk-!-padding-bottom-3">
    <div class="great-container">
        {% if title %}<h2 class="govuk-heading-l govuk-!-margin-bottom-5">{{ title }}</h2>{% endif %}
        <div class="govuk-grid-row">
            <div class="great-ds-card-container">
                {% for column_block in columns %}
                    {% include '_card.html' with type="mounted-blue" href=column_block.value.url imageUrl=column_block.value.image title=column_block.value.title description=column_block.value.content id=page.slug titleSize="m" hideArrow="true" classes="great-ds-card--3" %}
                {% endfor %}
            </div>
        </div>
        <hr class="govuk-!-margin-top-6 govuk-!-margin-bottom-0 great-hr-blue" />
    </div>
</section>
