{% extends './base.html' %}
{% load static %}

{% block head_other %}
  <meta
    name="description"
    content="Find information to help invest within the UK"
  />
{% endblock %}

{% block head_css %}
  {{ block.super }}
{% endblock %}

{% block content %}
{% if submit_contact_details_success %}
<div class="govuk-grid-row" id="completed_contact_form_message">
    <div class="govuk-grid-column-full">
        {% include './includes/govuk/notification_banner.html' with css_class="govuk-notification-banner govuk-notification-banner--success" banner_title="Success" banner_heading=completed_contact_form_message %}
    </div>
</div>
{% else %}
<div class="govuk-grid-row" id="complete_contact_form_message">
    <div class="govuk-grid-column-full">
        {% include './includes/govuk/notification_banner.html' with css_class="govuk-notification-banner" banner_title="Important" banner_heading=complete_contact_form_message banner_link=complete_contact_form_link banner_link_text=complete_contact_form_link_text %}
    </div>
</div>
{% endif %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="atlas-h--xl">Welcome to your expansion guide</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div style="height: 300px; background-color: lightgray; margin-bottom: 30px;"></div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text atlas-body">
            <strong>Dont forget to share your contact details</strong> to keep up to date with our personalised service.
            {% if not high_value_investor %}
                You may be eligible for 1 to 1 support.
            {% endif %}
            {% if banner_link and banner_link_text %}
                <a class="govuk-notification-banner__link" href="{% url banner_link %}">{{ banner_link_text }}</a>.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'javascript/international-online-offer.js' %}"></script>
  <script type="text/javascript">
    hideMessagesToCompleteContactFormIfPreviouslySelected();
    saveIfContactFormSuccess();
  </script>
{% endblock %}
