{% extends './base.html' %}
{% load wagtailimages_tags %}
{% load static %}

{% block head_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}

{% block head_other %}
  <meta
    name="description"
    content="Find information to help invest within the UK"
  />
{% endblock %}

{% block head_css %}
  {{ block.super }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% if not eyb_user %}
        {% if triage_data.is_high_value %}
        <div class="govuk-grid-row" id="complete_contact_form_message">
            <div class="govuk-grid-column-full">
                {% include './includes/govuk/notification_banner.html' with banner_heading=complete_contact_form_message banner_link=complete_contact_form_link banner_link_text=complete_contact_form_link_text %}
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% if eyb_user and request.GET.signup %}
    <div class="govuk-grid-row" id="complete_contact_form_message">
        <div class="govuk-grid-column-full">
            {% include './includes/govuk/notification_banner.html' with css_class="govuk-notification-banner--success" banner_title="Success" banner_heading='Your account has been created. You can now access your personalised guide tailored to your expansion plans.' %}
        </div>
    </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Welcome to your UK expansion guide</h1>
            <p class="govuk-body">
                You’ll find a step by step guide with the most important things to consider when expanding your business in the UK.
            </p>
            {% if not eyb_user %}
            <p class="govuk-body">
                <a class="govuk-link" href="{% url 'international_online_offer:signup' %}">Sign up to our free self-service tool</a> to access a personalised guide that’s tailored to your expansion plans.
            </p>
            {% endif %}
        </div>
    </div>
    {% if eyb_user %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row govuk-!-padding-3 govuk-!-margin-0 govuk-!-margin-bottom-8 guide-edit-panel">
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body">Sector</p>
                    {% if triage_data.sector %}
                    <h2 class="govuk-heading-m">{{ triage_data.get_sector_display }}</h2>
                    {% else %}
                    <p class="govuk-body govuk-!-padding-top-2"><a class="govuk-link" href="{% url 'international_online_offer:sector' %}">Add details</a></p>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body">Headquarters</p>
                    {% if user_data.company_location %}
                    <h2 class="govuk-heading-m">{{ user_data.get_company_location_display }}</h2>
                    {% else %}
                    <p class="govuk-body govuk-!-padding-top-2">
                        {% if not request.user.is_authenticated %}
                            <a class="govuk-link" href="{% url 'international_online_offer:signup' %}">Add details</a>
                        {% else %}
                            <a class="govuk-link" href="{% url 'international_online_offer:profile' %}">Add details</a>
                        {% endif %}
                    </p>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body">Company name</p>
                    {% if user_data.company_name %}
                    <h2 class="govuk-heading-m">{{ user_data.company_name }}</h2>
                    {% else %}
                    <p class="govuk-body govuk-!-padding-top-2">
                        {% if not request.user.is_authenticated %}
                            <a class="govuk-link" href="{% url 'international_online_offer:signup' %}">Add details</a>
                        {% else %}
                            <a class="govuk-link" href="{% url 'international_online_offer:profile' %}">Add details</a>
                        {% endif %}
                    </p>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-body"><a class="govuk-link" href="{% url 'international_online_offer:edit-your-answers' %}">Edit your answers</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Step by step guide</h2>
            <p class="govuk-body">Depending on your business, you may not need to complete every step, or you may need to complete them in a different order.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div data-module="appstepnav" id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
                <ol class="app-step-nav__steps">
                <li class="app-step-nav__step js-step" id="set-up-and-register-your-business">
                    <div class="app-step-nav__header js-toggle-panel" data-position="1">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-set-up-and-register-your-business-1">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text">
                                        Set up and register your business
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-set-up-and-register-your-business-1">
                        <p class="govuk-body">
                            You need to choose how your company will operate before you register it. You could operate as a private limited UK company, an overseas branch of your existing company, or perhaps a joint venture with a UK business.
                        </p>
                        <p class="govuk-body">
                            You must register your company with Companies House, the government organisation responsible for registration of companies in the UK, if you want to set up a place of business in the UK.
                        </p>
                        <ol class="app-step-nav__list" data-length="1">
                            <li class="app-step-nav__list-item js-list-item">
                            <a data-position="1.1" class="govuk-link" href="/international/expand-your-business-in-the-uk/guide/set-up-and-register-your-business">Read our guide on how to set up and register your business</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes: Can be as little as one day
                        </p>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="apply-for-visas">
                    <div class="app-step-nav__header js-toggle-panel" data-position="2">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-apply-for-visas-2">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text">
                                        Apply for visas
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-apply-for-visas-2">
                        <p class="govuk-body">
                            There are many types of work visa you can apply for depending on your circumstances.
                        </p>
                        <p class="govuk-body">
                            You can set up a business with a <a class="govuk-link" href="https://www.gov.uk/start-up-visa" target="_blank">Start-up visa</a> or an <a class="govuk-link" href="https://www.gov.uk/innovator-founder-visa" target="_blank">Innovator Founder visa</a>.
                        </p>
                        <p class="govuk-body">
                            If you’re transferring an employee from overseas to set up a new UK operation, they’ll need a <a class="govuk-link" href="https://www.gov.uk/representative-overseas-business" target="_blank">Representative of an Overseas Business visa</a>.
                        </p>
                        <p class="govuk-body">
                            Check if you need a visa on <a class="govuk-link" href="https://www.gov.uk/check-uk-visa">GOV.UK</a>
                        </p>
                        <ol class="app-step-nav__list" data-length="1">
                            <li class="app-step-nav__list-item js-list-item">
                                <a class="govuk-link" href="/international/expand-your-business-in-the-uk/guide/how-to-apply-for-a-visa">Find out how to apply for a visa in the UK</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes: Timing dependent on visa type
                        </p>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="open-a-business-bank-account">
                    <div class="app-step-nav__header js-toggle-panel" data-position="3">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-open-a-business-bank-account-3">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text js-step-title-text">
                                        Open a business bank account
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-open-a-business-bank-account-3">
                        <p class="govuk-body">
                            To trade in the UK, you'll need a UK bank account. This gives your business credibility and is simpler and cheaper than making overseas bank transfers.
                        </p>
                        <ol class="app-step-nav__list" data-length="1">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="3.1" class="govuk-link" href="/international/expand-your-business-in-the-uk/guide/how-to-choose-and-set-up-a-uk-bank-account">Learn more about how to choose and set up a UK bank account</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes:
                        </p>
                        <ol class="app-step-nav__list" data-length="2">
                            <li class="app-step-nav__list-item js-list-item">
                                <span data-position="3.2" class="govuk-body">Digital account with a fintech bank - as quick as 2 hours</span>
                            </li>
                            <li class="app-step-nav__list-item js-list-item">
                                <span data-position="3.3" class="govuk-body">Full business bank accounts - takes 4 weeks to 3 months for final approval</span>
                            </li>
                        </ol>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="register-for-tax">
                    <div class="app-step-nav__header js-toggle-panel" data-position="4">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-register-for-tax-4">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text">
                                        Register for tax and claim tax allowances
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-register-for-tax-4">
                        <p class="govuk-body">
                            When you expand your business in the UK, you’ll be required to pay Corporation Tax and may have to pay Value Added Tax (VAT).
                        </p>
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Corporation Tax</span>
                        </p>
                        <p class="govuk-body">
                            If your business is based in the UK, you must pay Corporation Tax on all profits from the UK and abroad.
                        </p>
                        <p class="govuk-body">
                            If your business isn’t based in the UK but has an office or branch here, you will only pay Corporation Tax on profits from UK activities.
                        </p>
                        <p class="govuk-body">
                            You’ll need to register to pay tax within 3 months of starting to do business. This includes buying, selling, advertising, renting a property and employing someone.
                        </p>
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Value Added Tax</span>
                        </p>
                        <p class="govuk-body">
                            You must register for Value Added Tax (VAT) with HMRC if your business’ taxable turnover is more than £85,000.
                        </p>
                        <p class="govuk-body">
                            VAT is a tax added to most products and services sold by VAT-registered businesses.
                        </p>
                        <ol class="app-step-nav__list" data-length="1">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="4.2" class="govuk-link" href="/international/expand-your-business-in-the-uk/guide/how-to-register-for-tax-and-claim-tax-allowances">Read our guide on how to register for UK taxes and claim tax allowances</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes: 3 to 4 weeks
                        </p>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="register-for-payroll">
                    <div class="app-step-nav__header js-toggle-panel" data-position="5">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-register-for-payroll-5">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text">
                                        Register for payroll
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-register-for-payroll-5">
                        <p class="govuk-body">
                            As an employer, you usually have to operate Pay As You Earn (PAYE) as part of your payroll. This system collects Income Tax and National Insurance via UK employers.
                        </p>
                        <p class="govuk-body">
                            You must register before your first business payday.
                        </p>
                        <ol class="app-step-nav__list" data-length="1">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="5.1" class="govuk-link" href="https://www.gov.uk/register-employer" target="_blank">Register as an employer with HMRC on GOV.UK</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes: Around 3 weeks
                        </p>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="find-the-right-location-and-premises">
                    <div class="app-step-nav__header js-toggle-panel" data-position="6">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-find-the-right-location-and-premises-6">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text">
                                        Find the right location and premises
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-find-the-right-location-and-premises-6">
                        <p class="govuk-body">
                            A suitable location near to customers, staff and supply chains, is important to your success in the UK.
                        </p>
                        <p class="govuk-body">
                            You can find a range of premises to suit your business including leased offices, co-working spaces and science parks.
                        </p>
                        <ol class="app-step-nav__list" data-length="3">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="6.1" class="govuk-link" href="/international/expand-your-business-in-the-uk/guide/find-the-right-location-and-premises">Learn more about finding a business property</a>
                            </li>
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="6.2" class="govuk-link" href="https://www.great.gov.uk/international/content/investment/regions/" target="_blank">Learn more about the UK’s nations and regions</a>
                            </li>
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="6.3" class="govuk-link" href="https://www.great.gov.uk/international/investment-support-directory" target="_blank">Find professional help to locate in the UK</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes:
                        </p>
                        <ol class="app-step-nav__list" data-length="2">
                            <li class="app-step-nav__list-item js-list-item">
                                <span data-position="6.3" class="govuk-body">Rental can take less than 1 week to sign a lease</span>
                            </li>
                            <li class="app-step-nav__list-item js-list-item">
                                <span data-position="6.4" class="govuk-body">Buying property takes from 1 to 4 months</span>
                            </li>
                        </ol>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="know-uk-employment-regulations">
                    <div class="app-step-nav__header js-toggle-panel" data-position="7">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 7<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-know-uk-employment-regulations-7">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text">
                                        Know UK employment regulations
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-know-uk-employment-regulations-7">
                        <p class="govuk-body">
                            You'll need to be aware of UK employment law, and your duties as a UK employer.
                        </p>
                        <ol class="app-step-nav__list" data-length="2">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="7.1" class="govuk-link" href="/international/expand-your-business-in-the-uk/guide/know-uk-employment-regulations">Read our guide on how to employ people in the UK</a>
                            </li>
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="7.2" class="govuk-link" href="https://www.gov.uk/register-employer" target="_blank">Register as an employer with HMRC on GOV.UK</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            You need a sponsor licence, valid for 4 years, to hire most eligible employees from outside the UK.
                        </p>
                        <ol class="app-step-nav__list" data-length="1">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="7.3" class="govuk-link" href="https://www.gov.uk/apply-sponsor-licence" target="_blank">Apply for a sponsor licence on GOV.UK</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes: Usually 6 to 8 weeks, but may be up to 16 weeks for more senior posts
                        </p>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="recruit-expert-talent">
                    <div class="app-step-nav__header js-toggle-panel" data-position="8">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 8<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-recruit-expert-talent-8">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text">
                                        Recruit expert talent
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-recruit-expert-talent-8">
                        <p class="govuk-body">
                            Once you have decided to employ staff, there are several resources available to help you recruit expert talent.
                        </p>
                        <ol class="app-step-nav__list" data-length="1">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="8.1" class="govuk-link" href="/international/expand-your-business-in-the-uk/guide/find-expert-talent">Find out more about how to recruit expert talent</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes: The recruitment process can take on average between 4 to 12 weeks from advert to onboarding.
                        </p>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="get-business-insurance">
                    <div class="app-step-nav__header js-toggle-panel" data-position="9">
                    <h3 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 9<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                            </span>
                        </span>
                        </span>

                        <span class="js-step-title">
                            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-business-insurance-9">
                                <span class="app-step-nav____title-text-focus">
                                    <span class="app-step-nav__title-text">
                                        Get business insurance
                                    </span>
                                </span>
                            </button>
                        </span>
                    </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-business-insurance-9">
                        <p class="govuk-body">
                            You must get Employers’ Liability (EL) insurance as soon as you become an employer. UK law also requires you to have third party motor insurance if you use a vehicle for business purposes.
                        </p>
                        <p class="govuk-body">
                            Other things which might have to be insured includes assets, income, liabilities and people.
                        </p>
                        <ol class="app-step-nav__list" data-length="2">
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="9.1" class="govuk-link" href="https://www.gov.uk/employers-liability-insurance" target="_blank">Employer’s Liability Insurance on GOV.UK</a>
                            </li>
                            <li class="app-step-nav__list-item js-list-item">
                                <a data-position="9.1" class="govuk-link" href="https://www.great.gov.uk/international/investment-support-directory" target="_blank">Find professional advice on business insurance</a>
                            </li>
                        </ol>
                        <p class="govuk-body">
                            Time it takes: Two weeks to one month
                        </p>
                    </div>

                </li>
                </ol>
            </div>
        </div>
    </div>
    {% if not eyb_user %}
    <div class="govuk-grid-row" id="sign-up-banner">
        <div class="govuk-grid-column-full">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__content">
                    <div class="govuk-grid-row" style="max-width: 100%">
                        <div class="govuk-grid-column-full">
                            <p class="govuk-notification-banner__heading">
                                <h2 class="govuk-heading-l">Access your personalised guide to help you grow in the UK</h2>
                                <p class="govuk-body">
                                    Sign up for:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    {% if triage_data.is_high_value %}
                                        <li>1-to-1 support from specialist UK government advisers</li>
                                    {% endif %}
                                    <li>a personalised guide tailored to your expansion plans</li>
                                    <li>opportunities customised to your sector</li>
                                    <li>access at any time, without entering your details again</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <a href="{% url 'international_online_offer:signup' %}" role="button" draggable="false" class="atlas-button" data-module="button">
                                Sign up
                                <span class="atlas-button__icon">
                                <svg viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill="currentColor" d="M2.893 20l9.834-10L2.893 0 0 2.921 6.976 10 0 17.079z"></path>
                                </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if get_to_know_market_articles %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Your personalised guide to expanding your business</h2>
            <p class="govuk-body">Your personalised guide is based on information you’ve given us about your sector and expansion plans.</p>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        {% if trade_page %}
        <div class="govuk-grid-column-full">
            <div class="article-list-item">
                {% if eyb_user %}
                <a class="article-list-item-a" href="{{ trade_page.url }}">
                {% else %}
                <a class="article-list-item-a" href="{% url 'international_online_offer:signup' %}">
                {% endif %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <div class="image-container" style="background-image: url({% static 'images/ioo_networking.jpg' %});">
                                {% if not eyb_user %}
                                <div class="image-container-lock-overlay">
                                    <div class="article-lock"></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <h3 class="govuk-heading-m article-list-item-title">Trade associations and events</h3>
                            <p class="govuk-body article-list-item-teaser">Explore networking opportunities and find clients and partners in your sector</p>
                            {% if not eyb_user %}
                            <div class="article-lock-text">
                                <strong class="govuk-tag govuk-tag--blue">
                                    SIGN UP TO UNLOCK
                                </strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        <div class="govuk-grid-column-full">
            {% for page in get_to_know_market_articles %}
                {% image page.article_image original as rendition %}
                <div class="article-list-item">
                    {% if eyb_user %}
                    <a class="article-list-item-a" href="{{ page.url }}">
                    {% else %}
                    <a class="article-list-item-a" href="{% url 'international_online_offer:signup' %}">
                    {% endif %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third">
                                <div class="image-container" style="background-image: url({{ rendition.url }});">
                                    {% if not eyb_user %}
                                    <div class="image-container-lock-overlay">
                                        <div class="article-lock"></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="govuk-grid-column-two-thirds">
                                <h3 class="govuk-heading-m article-list-item-title">{{ page.article_title }}</h3>
                                <p class="govuk-body article-list-item-teaser">{{ page.article_teaser }}</p>
                                {% if not eyb_user %}
                                <div class="article-lock-text">
                                    <strong class="govuk-tag govuk-tag--blue">
                                        SIGN UP TO UNLOCK
                                    </strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if support_and_incentives_articles %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Get support and incentives</h2>
            <p class="govuk-body">Find out about the support and incentives available when you expand your business in the UK.</p>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
            {% for page in support_and_incentives_articles %}
                {% image page.article_image original as rendition %}
                <div class="article-list-item">
                    {% if eyb_user %}
                    <a href="{{ page.url }}">
                    {% else %}
                    <a href="{% url 'international_online_offer:signup' %}">
                    {% endif %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third">
                                <div class="image-container" style="background-image: url({{ rendition.url }});">
                                    {% if not eyb_user %}
                                    <div class="image-container-lock-overlay">
                                        <div class="article-lock"></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="govuk-grid-column-two-thirds">
                                <h3 class="govuk-heading-m article-list-item-title">{{ page.article_title }}</h3>
                                <p class="govuk-body article-list-item-teaser">{{ page.article_teaser }}</p>
                                {% if not eyb_user %}
                                <div class="article-lock-text">
                                    <strong class="govuk-tag govuk-tag--blue">
                                        SIGN UP TO UNLOCK
                                    </strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if triage_data.is_high_value %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Opportunities across the UK</h2>
            <p class="govuk-body">Find out about the attractive investment opportunities available when you expand your business.</p>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
            <div class="article-list-item">
                {% if eyb_user %}
                <a class="article-list-item-a" href="{{ '/international/investment/opportunities/' }}">
                {% else %}
                <a class="article-list-item-a" href="{% url 'international_online_offer:signup' %}">
                {% endif %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <div class="image-container" alt="People talking about business opportunities" style="background-image: url({% static 'images/people_talking.png' %});">
                                {% if not eyb_user %}
                                <div class="image-container-lock-overlay">
                                    <div class="article-lock"></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <h3 class="govuk-heading-m article-list-item-title">Investment opportunities</h3>
                            <p class="govuk-body article-list-item-teaser">Search for investment opportunities based on sector and location in the UK.</p>
                            {% if not eyb_user %}
                            <div class="article-lock-text">
                                <strong class="govuk-tag govuk-tag--blue">
                                    SIGN UP TO UNLOCK
                                </strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if not eyb_user %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-inset-text">
                <strong>Dont forget to share your contact details</strong> to keep up to date with our personalised service. You may be eligible for 1 to 1 support.
                {% if complete_contact_form_link and complete_contact_form_link_text %}
                    <a class="govuk-notification-banner__link" href="{% url complete_contact_form_link %}">{{ complete_contact_form_link_text }}</a>.
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'javascript/international-online-offer.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/govuk-step-by-step.js' %}"></script>
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}
