{% extends './base.html' %}
{% load static %}

{% block head_other %}
  <meta
    name="description"
    content="Find information to help invest within the UK"
  />
{% endblock %}

{% block content %}
    <div class="container">
      <br>
      <div class="grid-row">
        <div class="column">
          <h1 class="atlas-h--l">Service Start Page</h1>
        </div>
      </div>
      <div class="grid-row">
        <div class="column">
          <a class="atlas-button">Start now ></a>
        </div>
      </div>
    </div>
{% endblock %}
