{% extends './base.html' %}
{% load static %}

{% block head_other %}
  <meta
    name="description"
    content="Find information to help invest within the UK"
  />
{% endblock %}

{% block content %}
    <div class="container">
      <main>
        <div class="grid-row">
          <div class="column-two-thirds">
            <h1 class="heading-large atlas-h--xl">Expand your business into the UK</h1>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-two-thirds">
            <p class="body atlas-body">
              Whatever your size and type of business, our online self-service tool can help you set up and grow into the UK. You can use it to:
            </p>
            <ul class="list list-bullet list-spaced atlas-body">
              <li>guide you through the practicalities, like setting up a company and  opening a bank account, in an easy checklist format</li>
              <li>find the right location and staff for your business</li>
              <li>connect with clients, partners and the right expert contacts to support your UK expansion </li>
              <li>find funding, grants and incentives </li>
              <li>understand UK regulations on employment, visas and tax </li>
            </ul>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-two-thirds">
            <div class="inset-text atlas-body">
              Tell us a little bit about your company to access guides and contacts matched to your needs. It’s a 2 minute step by step process, free of charge, with immediate results.
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-two-thirds">
            <a href="#" role="button" draggable="false" class="atlas-button" data-module="button">
              Start now
              <svg class="button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-two-thirds">
            <h3 class="heading-medium !-margin-top-9 atlas-h--m">Personal Data</h3>
            <p class="body atlas-body">
              We’ll never share your data with third parties. View our website’s terms and conditions
            </p>
          </div>
        </div>
      </main>
    </div>
{% endblock %}
