{% extends './base.html' %}
{% load static %}

{% block head_other %}
  <meta
    name="description"
    content="Find information to help invest within the UK"
  />
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Create an account</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-body-m">Already have an account? <a href="{% url 'international_online_offer:login' %}" class="govuk-link">Sign in</a></h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div id="error-summary-container" class="govuk-error-summary govuk-!-display-none" data-module="govuk-error-summary">
      <div role="alert">
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list" id="errors-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div id="sign-up-confirm">
        <h3 class="govuk-heading-m">Check your email</h3>
        <p class="govuk-body">We've sent a code to your email address.
          Don't forget to check your spam folder if you can't see it.
          Enter the code below to complete registration:</p>
        <label class="govuk-label" for="code_confirm">Confirmation code</label>
        {% include 'core/includes/form_field.html' with field=form.code_confirm %}
        <button class="atlas-button govuk-!-margin-bottom-3" onclick="onVerifyCode()">Continue</button>
      </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div id="sign-up">
      <label class="govuk-label" for="email">Email</label>
      {% include 'core/includes/form_field.html' with field=form.email %}
      <label class="govuk-label" for="password">Password</label>
      {% include 'core/includes/form_field.html' with field=form.password %}
      <button class="atlas-button govuk-!-margin-bottom-3" onclick="onSubmitSignUp()">Sign up</button>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">By signing up, you agree to our
    <a class="govuk-link" href="/terms-and-conditions/">terms and conditions</a> and
    <a class="govuk-link" href="/privacy-and-cookies/">privacy notice</a>
    </p>
  </div>
</div>

{% endblock %}

{% block body_js %}
  {{ block.super }}
  <script src="{% static 'javascript/international-online-offer.api.js' %}"></script>
  <script type="text/javascript">

    const signUpVerifyCodeContainer = document.getElementById('sign-up-confirm');
    const signUpContainer = document.getElementById('sign-up');

    let uidb64 = '{{request.GET.uidb64}}';
    let token = '{{request.GET.token}}';
    let prepopulated_email = '{{request.GET.email}}'

    if (prepopulated_email) {
      document.getElementById('id_email').value = prepopulated_email;
    }

    const initForm = () => {
      if (hasQueryParamsForValidateCode()) {
        setVerifyCodeMode();
      } else {
        setDefaultMode();
      }
    }

    const hasQueryParamsForValidateCode = () => {
      return (uidb64 && token);
    }

    const setDefaultMode = () => {
      signUpContainer.classList.remove('govuk-!-display-none')
      signUpVerifyCodeContainer.classList.add('govuk-!-display-none')
    }

    const setVerifyCodeMode = () => {
      signUpContainer.classList.add('govuk-!-display-none')
      signUpVerifyCodeContainer.classList.remove('govuk-!-display-none')
    }

    const onSubmitSignUp = () => {
      document.getElementById('error-summary-container').classList.add('govuk-!-display-none');
      const data = {
        email: document.getElementById('id_email').value,
        password: document.getElementById('id_password').value,
        phoneNumber: '',
      };
      createUser(data)
        .then((response) => response.json())
        .then((data) => {
          if (Object.hasOwn(data, 'uidb64')) {
            uidb64 = data['uidb64'];
          }
          if (Object.hasOwn(data, 'token')) {
            token = data['token'];
          }
          setVerifyCodeMode();
        })
        .catch((errors) => {
          handleErrors(errors);
      });
    }

    const onVerifyCode = () => {
      document.getElementById('error-summary-container').classList.add('govuk-!-display-none');
      const data = {
        uidb64: uidb64,
        token: token,
        code: document.getElementById('id_code_confirm').value,
      };
      checkVerificationCode(data)
      .then((response) => response.json())
      .then((data) => {
        location.assign("/international/expand-your-business-in-the-uk/profile/")
      })
      .catch((errors) => {
        handleErrors(errors);
      });
    }

    const handleErrors = (errors) => {
      const errorContainer = document.getElementById('error-summary-container');
      const errorListContainer = document.getElementById('errors-list');
      const errorsClean = [];
      const errorKeys = Object.keys(errors);
      errorKeys.forEach((errorKey, index) => {
        const errorKeyValues = Object.values(errors[errorKey]);
        const errorStrs = [];
        for (let i = 0; i < errorKeyValues.length; i++) {
          errorStrs.push(errorKeyValues[i]);
        }
        let stringOut = '';
        for (let o = 0; o < errorStrs.length; o++) {
          stringOut = stringOut + ' ' + errorStrs[o];
        }
        errorsClean.push(`${errorKey}: ${stringOut}`);
      })
      errorContainer.classList.remove('govuk-!-display-none')
      errorListContainer.innerHTML = '';
      errorsClean.forEach((error) => {
        let li = document.createElement('li');
        li.innerText = error.charAt(0).toUpperCase() + error.substring(1);
        errorListContainer.appendChild(li);
      });
    };


    initForm();
  </script>
{% endblock %}
