{% extends './base.html' %}
{% load static %}

{% block head_other %}
  <meta
    name="description"
    content="Find information to help invest within the UK"
  />
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Create an account</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-body-m">Already have an account? <a href="{% url 'international_online_offer:login' %}" class="govuk-link">Sign in</a></h2>
  </div>
</div>
{% if form.non_field_errors %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div id="error-summary-container" class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list" id="errors-list">
            {{ form.non_field_errors }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if form.code_confirm %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div id="sign-up-confirm">
        <h3 class="govuk-heading-m">Check your email</h3>
        <p class="govuk-body">We've sent a code to your email address.
          Don't forget to check your spam folder if you can't see it.
          Enter the code below to complete registration:</p>
          <form method="post">
            {% csrf_token %}
            <label class="govuk-label" for="code_confirm">Confirmation code</label>
            {% include 'core/includes/form_field.html' with field=form.code_confirm %}
            {% include './includes/submit_button.html' with button_text='Continue'  %}
          </form>
      </div>
  </div>
</div>
{% else %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {% csrf_token %}
      <label class="govuk-label" for="email">Email</label>
      {% include 'core/includes/form_field.html' with field=form.email %}
      <label class="govuk-label" for="password">Password</label>
      {% include 'core/includes/form_field.html' with field=form.password %}
      {% include './includes/submit_button.html' with button_text='Sign up'  %}
    </form>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">By signing up, you agree to our
    <a class="govuk-link" href="/terms-and-conditions/">terms and conditions</a> and
    <a class="govuk-link" href="/privacy-and-cookies/">privacy notice</a>
    </p>
  </div>
</div>
{% endif %}

{% endblock %}

{% block body_js %}
  {{ block.super }}
{% endblock %}
