{% if local_support_data.postcode_data.country %}
    {% with country=local_support_data.postcode_data.country|lower %}
        {% if country == 'england' %}
        <div class="great-ds-border-top-blue-3 govuk-!-padding-top-7 govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Talk to a business adviser for free</h2>
            <div>
                <p class="govuk-body">The Business Support Service can answer your questions on starting, running and growing your business. It’s free and you can contact us by phone, email or webchat.</p>
                <address class="great-ds-address govuk-!-margin-bottom-4">
                    <div class="great-ds-address__row">
                        <strong>Phone</strong> <span>0800 998 1098</span>
                    </div>
                    <div class="great-ds-address__row">
                        <strong>Email</strong> <a href="mailto:enquiries@businesssupportservice.co.uk" class="govuk-link">enquiries@businesssupportservice.co.uk</a>
                    </div>
                </address>

                <div class="govuk-!-margin-bottom-5">
                    {% include "_action-link.html" with linkText="Chat with an adviser (opens in new tab)" linkHref="https://secure.livechatinc.com/licence/10701242/v2/open_chat.cgi?groups=0" attributes="target='_blank'" %}
                </div>

                <p class="govuk-body govuk-!-margin-bottom-2">Available Monday to Friday, 9am to 6pm (except <a href="https://www.gov.uk/bank-holidays" class="govuk-link">bank holidays</a>).</p>
                <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
            </div>
        </div>
        {% elif country == 'scotland' %}
        <div class="great-ds-border-top-blue-3 govuk-!-padding-top-7 govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Talk to a business adviser for free</h2>
            <div>
                <p class="govuk-body">Find Business Support Scotland can answer your questions on starting, running or growing your business. It's free and you can contact us by phone or email.</p>
                <address class="great-ds-address govuk-!-margin-bottom-4">
                    <div class="great-ds-address__row">
                        <strong>Website</strong> <a href="findbusinesssupport.gov.scot" class="govuk-link">findbusinesssupport.gov.scot</a>
                    </div>
                    <div class="great-ds-address__row">
                        <strong>Phone</strong> <span>0300 303 0660</span>
                    </div>
                    <div class="great-ds-address__row">
                        <strong>Textphone</strong> <span>0800 998 1098</span>
                    </div>
                </address>

                <div class="govuk-!-margin-bottom-5">
                    {% include "_action-link.html" with linkText="Chat with an adviser (opens in new tab)" linkHref="https://secure.livechatinc.com/licence/10701242/v2/open_chat.cgi?groups=0" attributes="target='_blank'" %}
                </div>

                <p class="govuk-body govuk-!-margin-bottom-2">Available Monday to Friday, 9am to 6pm (except <a href="https://www.gov.uk/bank-holidays#scotland" class="govuk-link">bank holidays</a>).</p>
                <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
            </div>
        </div>
        {% endif %}
    {% endwith %}
{% endif %}