{% if local_support_data.postcode_data.country %}
    {% with country=local_support_data.postcode_data.country|lower %}
        {% if country == 'england' %}
            <div class="great-ds-border-top-blue-3 govuk-!-padding-top-7 govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Talk to a business adviser for free</h2>
                <div>
                    <p class="govuk-body">
                        The Business Support Service can answer your questions on starting, running and growing your business. It’s free and you can access it by phone, email or live chat.
                    </p>
                    <address class="great-ds-address govuk-!-margin-bottom-4"
                             data-bss-webchat-container>
                        <div class="great-ds-address__row">
                            <strong>Phone</strong> <span>0800 998 1098</span>
                        </div>
                        <div class="great-ds-address__row">
                            <strong>Email</strong> <a href="mailto:enquiries@businesssupportservice.co.uk"
    class="govuk-link">enquiries@businesssupportservice.co.uk</a>
                        </div>
                        <div class="great-ds-address__row">
                            <strong>Live chat</strong> <span data-bss-webchat>Enable JavaScript to use live chat</span>
                        </div>
                    </address>
                    <p class="govuk-body govuk-!-margin-bottom-2">
                        Phone and live chat available Monday to Friday, 9am to 6pm (except <a href="https://www.gov.uk/bank-holidays" class="govuk-link">bank holidays</a>).
                    </p>
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
                    </p>
                    <p class="govuk-body-s great-text-light-grey">
                        You can <a href="https://www.gov.uk/government/publications/business-support-service-privacy-notice/business-support-service-privacy-notice"
    class="govuk-link govuk-link--muted">read the Business Support Service privacy policy</a> to find out how the service collects data under its own policy.
                    </p>
                </div>
            </div>
        {% elif country == 'scotland' %}
            <div class="great-ds-border-top-blue-3 govuk-!-padding-top-7 govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Talk to a business adviser for free</h2>
                <div>
                    <p class="govuk-body">
                        Find Business Support Scotland can answer your questions on starting, running or growing your business. It's free and you can contact us by phone or email.
                    </p>
                    <address class="great-ds-address govuk-!-margin-bottom-4">
                        <div class="great-ds-address__row">
                            <strong>Website</strong> <a href="https://findbusinesssupport.gov.scot/contact-us"
    class="govuk-link">findbusinesssupport.gov.scot</a>
                        </div>
                        <div class="great-ds-address__row">
                            <strong>Phone</strong> <span>0300 303 0660</span>
                        </div>
                        <div class="great-ds-address__row">
                            <strong>Textphone</strong> <span>0800 998 1098</span>
                        </div>
                    </address>
                    <p class="govuk-body govuk-!-margin-bottom-2">
                        Available Monday to Friday, 9am to 5pm (except <a href="https://www.gov.uk/bank-holidays#scotland" class="govuk-link">bank holidays</a>).
                    </p>
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
                    </p>
                    <p class="govuk-body-s great-text-light-grey">
                        You can <a href="https://www.gov.uk/government/publications/business-support-service-privacy-notice/business-support-service-privacy-notice"
    class="govuk-link govuk-link--muted">read the Business Support Service privacy policy</a> to find out how the service collects data under its own policy.
                    </p>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endif %}
