<div class="govuk-!-margin-bottom-4 govuk-!-padding-top-4 great-ds-border-top-blue-3 bgs-email-guide">
    <h3 class="govuk-heading-s">
        Save and share these
        <br />
        pages
    </h3>
    <p class="govuk-body govuk-!-margin-bottom-4">Send these pages grouped in one link to an email address.</p>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <div class="great-ds-form-group govuk-!-margin-bottom-4">{{ email_guide_form }}</div>
            {% include "_button.html" with text="Email link" %}
        </fieldset>
    </form>
</div>
