{% if send_success %}
    <div class="govuk-!-margin-bottom-7 govuk-!-padding-top-5 great-ds-border-top-blue-3">
        <h3 class="govuk-heading-s">Email sent</h3>
        <p class="govuk-body govuk-!-margin-bottom-2">
            A link has been sent to
            <br>
            <strong class='email-address-playback'>{{ send_email_address }}</strong>
        </p>
        <a class="govuk-link--no-visited-state"
           href=".?{% for k,v in request.GET.items %}{{ k }}={{ v }}&{% endfor %}resend_email=True">Email link again</a>
    </div>
{% else %}
    <div class="govuk-!-margin-bottom-4 govuk-!-padding-top-4 great-ds-border-top-blue-3 bgs-email-guide">
        <h3 class="govuk-heading-s">
            Save and share these
            <br />
            pages
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-4">Send these pages grouped in one link to an email address.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            <fieldset>
                <div class="great-ds-form-group govuk-!-margin-bottom-4">{{ email_guide_form }}</div>
                {% include "_button.html" with text="Email link" %}
            </fieldset>
        </form>
    </div>
{% endif %}
