{% load get_url_favicon_and_domain get_is_internal_url from content_tags %}

{% with card_meta_data=content.url|get_url_favicon_and_domain is_internal_url=content.url|get_is_internal_url %}
<div class="great-ds-card great-ds-card--no-border {% if classes %} {{ classes }}{% endif %}{% if type %} great-ds-card--{{ type }}{% endif %} {% if content.show_image %}great-ds-card--image-to-side{% endif %}" {% if href %}role="article"{% endif %}>
    <div class="great-ds-card__inner">
        {% if href %}
            <a href="{{ href }}" class="great-ds-card__link" {% if title %}aria-labelledby="card-title-{{ id }}"{% endif %} {% if attributes %}{% for key, value in attributes.items %}{{ key }}="{{ value }}" {% endfor %}{% endif %}>
        {% endif %}
        {% if content.show_image %}
            <div class="great-ds-card__media" role="img">
                <img src="/static/images/{{ content.content_id }}.png" alt="" aria-hidden="true" class="great-ds-card__image">
            </div>
        {% endif %}

        {% if date and month %}
            <div class="great-ds-card__date">
                <div>
                    <span>{{ date }}</span>
                    <span>{{ month }}</span>
                </div>
            </div>
        {% endif %}

        <div class="great-ds-card__content">
            {% if title %}
                <div class="great-ds-card__title-wrapper">
                    {% if type == "elevated" or completedTag == "true" %}
                        {% include "_title-arrow.html" with text=title size=titleSize id="card-title-"|add:id tag="h4" hideArrow="true"  %}
                    {% else %}
                        {% include "_title-arrow.html" with text=title size=titleSize id="card-title-"|add:id tag="h4" hideArrow=hideArrow  %}
                    {% endif %}
                    {% if completedTag == "true" %}
                        {% include "_tag.html" with text="Completed" type="success"  %}
                    {% endif %}
                </div>
            {% endif %} 

            {% if introText %}
                <div class="great-ds-card__metadata-text govuk-!-margin-bottom-2">{{ introText }}</div>
            {% endif %}

            {% if description %}
                <div class="great-ds-card__description">{{ description|striptags }}</div>
            {% endif %}
    
            {% if not hideMetaText and not is_internal_url %}
            <div class="great-ds-card__metadata">
                <img class="great-ds-card__metadata-icon" src="/static/icons/favicons/{{ card_meta_data.filename }}.png" alt="" aria-hidden="true" onerror="this.src='/static/icons/favicons/icon-favicon-placeholder.png'">
                <span class="great-ds-card__metadata-text">{{ card_meta_data.domain }}</span>
            </div>
            {% endif %}
        </div>
        {% if href %}
            </a>
        {% endif %}
    </div>
</div>
{% endwith %}