{% if content.content_id in dynamic_snippet_ids %}
    {% for snippet_id, snippet_name in dynamic_snippet_names %}
        {% if content.content_id == snippet_id %}
            {% if snippet_name == 'Finance and support for your business' %}
                {% include 'includes/dynamic-snippets/_finance-and-support.html' with content=content region='london' %}
            {% elif snippet_name == 'International Trade Adviser' %}
                {% include "includes/dynamic-snippets/_ita.html" with turnover='>500k' %}
            {% elif snippet_name == 'Find a grant' %}
                {% include 'includes/dynamic-snippets/_find-a-grant.html' with content=content region='3' %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    {% include "_card.html" with classes="great-ds-card--full" type="unmounted" title=content.title href=content.url description=content.description|safe id=content.content_id %}
{% endif %}