<div class="bgs-ita-block govuk-!-margin-top-9 govuk-!-margin-bottom-9">
    <h3 class="govuk-heading-s">
        <img src="/static/icons/chat.svg" alt="" aria-hidden="true" />
        <span>Talk to an international trade adviser</span>
    </h3>
    <p class="govuk-body">Tell us a bit about your business and see how our team of experienced trade advisers can help you realise your exporting ambitions.</p>
    <div class="great-ds-cta-banner__action-link-container govuk-!-margin-0">
        {% include "_action-link.html" with linkText="Start your enquiry" linkHref="/" %}
    </div>
</div>