.example:after {
  content: "";
  display: block;
  clear: both; }

.site-wrapper {
  max-width: 960px;
  width: 960px;
  margin: 0 15px;
  margin: 0 30px;
  margin: 0 auto; }

.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.site-wrapper #content {
  margin: 0; }

.elements-index .heading-medium {
  margin: 1em 0 0 0; }

.elements-index .divider {
  margin-top: 4em; }

main > .heading-xlarge {
  margin-top: 1.25em;
  margin-bottom: 0.625em; }

.heading-contents {
  margin-top: 3em; }

.list-contents li {
  font-family: "Roboto", arial, helvetica, verdana;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  font-size: 16px;
  line-height: 1.25; }

.lead-in {
  margin-bottom: 0; }

.list-bullet {
  margin-bottom: 45px; }

.list-underline {
  border-top: 1px solid #bfc1c3; }

.list-underline li {
  border-bottom: 1px solid #bfc1c3;
  padding: 2px 0 3px 0; }

.list-underline a {
  text-decoration: none; }

.no-top-margin {
  margin-top: 0; }

.notification-summary {
  border: 4px solid #006ccc;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
  border: 5px solid #006ccc;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 15px 15px; }
  .notification-summary p {
    max-width: 38em; }

.example {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 45px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px; }
  .example:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.21053em 0.78947em 0.21053em 0.78947em;
    font-family: "Roboto", arial, helvetica, verdana;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    font-size: 14px;
    line-height: 1.42857;
    background: #bfc1c3;
    color: white; }
  .example .highlight {
    font-style: normal;
    color: #0076c0; }
  .example .list-bullet {
    margin-bottom: 20px; }

.example-grid p {
  width: 100%;
  background-color: #7DADD3;
  background-image: repeating-linear-gradient(180deg, #7DADD3, #7DADD3 15px, #B7CFE1 15px, #B7CFE1 30px);
  margin-bottom: 0;
  height: 30px;
  height: 60px;
  overflow: hidden;
  text-indent: -999em; }

.swatch {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0 auto 15px auto; }

.swatch-purple {
  background-color: #4f0b7b; }

.swatch-mauve {
  background-color: #6f72af; }

.swatch-fuschia {
  background-color: #912b88; }

.swatch-pink {
  background-color: #d53880; }

.swatch-baby-pink {
  background-color: #f499be; }

.swatch-red {
  background-color: #b10e1e; }

.swatch-mellow-red {
  background-color: #df3034; }

.swatch-orange {
  background-color: #f47738; }

.swatch-brown {
  background-color: #b58840; }

.swatch-yellow {
  background-color: #ffbf47; }

.swatch-green {
  background-color: #006435; }

.swatch-grass-green {
  background-color: #85994b; }

.swatch-turquoise {
  background-color: #28a197; }

.swatch-light-blue {
  background-color: #2b8cc4; }

.swatch-govuk-blue {
  background-color: #006ccc; }

.swatch-alpha {
  background-color: #006ccc; }

.swatch-beta {
  background-color: #006ccc; }

.swatch-discovery {
  background-color: #006ccc; }

.swatch-live {
  background-color: #85994b; }

.swatch-error {
  background-color: #b10e1e; }

.swatch-focus {
  background-color: #ffbf47; }

.swatch-button-colour {
  background-color: #006ccc; }

.swatch-black {
  background-color: #000000; }

.swatch-grey-1 {
  background-color: #6f777b; }

.swatch-grey-2 {
  background-color: #bfc1c3; }

.swatch-grey-3 {
  background-color: #dee0e2; }

.swatch-grey-4 {
  background-color: #f8f8f8; }

.swatch-white {
  background-color: #ffffff;
  border: 1px solid #dee0e2; }

.swatch-text-colour {
  background-color: #0b0c0c; }

.swatch-text-secondary {
  background-color: #6f777b; }

.swatch-page-colour {
  background-color: #fff;
  border: 1px solid #dee0e2; }

.swatch-button-colour {
  background-color: #006ccc; }

.swatch-link-colour {
  background-color: #006ccc; }

.swatch-link-colour-visited {
  background-color: #4c2c92; }

.swatch-link-colour-hover {
  background-color: #2b8cc4; }

.swatch-border-colour {
  background-color: #006ccc; }

.swatch-panel-colour {
  background-color: #dee0e2; }

.swatch-highlight-colour {
  background-color: #f8f8f8; }

.swatch-wrapper {
  float: left;
  width: 20%;
  text-align: center; }
  .swatch-wrapper .heading-small {
    margin-bottom: 0.52632em; }
  .swatch-wrapper ul {
    list-style-type: none;
    padding-bottom: 15px; }
  .swatch-wrapper li {
    font-family: "Roboto", arial, helvetica, verdana;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    font-size: 16px;
    line-height: 1.25; }
  .swatch-wrapper b {
    font-weight: bold;
    text-transform: uppercase; }

.example-images img {
  max-width: 100%;
  vertical-align: top; }

.example .data {
  margin-bottom: 0; }

.example-button .heading-small {
  margin-top: 0; }

.example-button .swatch-wrapper {
  width: 100%; }
