<section id="backgrounds" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Backgrounds</h2>
    <div class="govuk-!-margin-bottom-3 great-bg-white">great-bg-white</div>
    <div class="govuk-!-margin-bottom-3 great-bg-lighter-grey">great-bg-lighter-grey</div>
    <div class="govuk-!-margin-bottom-3 great-bg-light-blue">great-bg-light-blue</div>

<pre>
    <code>
    &lt;div class="great-bg-white"&gt;great-bg-white&lt;/div&gt;
    &lt;div class="great-bg-lighter-grey"&gt;great-bg-lighter-grey&lt;/div&gt;
    &lt;div class="great-bg-light-blue"&gt;great-bg-light-blue&lt;/div&gt;
    </code>
</pre>
  </section>
