<section id="buttons" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Buttons</h2>
    <button class="govuk-button">govuk-button</button>
    <button class="govuk-button govuk-button--secondary">govuk-button--secondary</button>
    <button class="govuk-button great-full-width-button">great-full-width-button</button>
    <button class="govuk-button great-min-300-button">great-min-300-button</button>

<pre>
    <code>
    &lt;button class="govuk-button"&gt;govuk-button&lt;/button&gt;
    &lt;button class="govuk-button govuk-button--secondary"&gt;
        govuk-button--secondary
    &lt;/button&gt;
    &lt;button class="govuk-button great-full-width-button"&gt;
        great-full-width-button
    &lt;/button&gt;
    &lt;button class="govuk-button great-min-300-button"&gt;
        great-min-300-button
    &lt;/button&gt;
    </code>
</pre>
  </section>
