<section id="cards" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Cards</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <div class="great-card">
                <a href="/" class="govuk-!-display-block">
                    <img src="https://picsum.photos/id/1/160/90" alt="" />
                    <span class="govuk-caption-m govuk-!-margin-bottom-2">GOVUK</span>
                    <h4 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2 great-text-blue">Card title 1</h4>
                    <div>Card summary text 1</div>
                </a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="great-card">
                <a href="/" class="govuk-!-display-block">
                    <img src="https://picsum.photos/id/2/160/90" alt="" />
                    <span class="govuk-caption-m govuk-!-margin-bottom-2">GOVUK</span>
                    <h4 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2 great-text-blue">Card title 2</h4>
                    <div>Card summary text 2</div>
                </a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="great-card">
                <a href="/" class="govuk-!-display-block">
                    <img src="https://picsum.photos/id/3/160/90" alt="" />
                    <span class="govuk-caption-m govuk-!-margin-bottom-2">GOVUK</span>
                    <h4 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2 great-text-blue">Card title 3</h4>
                    <div>Card summary text 3</div>
                </a>
            </div>
        </div>
    </div>
    <pre>
    <code>
    &#123;% include 'components/great/card.html' %&#125;
    </code>
</pre>
</section>
