<section id="cards" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Cards</h2>
    <div class="govuk-grid-row great-card-row">
        {% with "<ul class='govuk-list govuk-list--bullet'><li>for new exporters</li><li>learn the basics to get started</li><li>build your Export Action Plan</li></ul>"|safe as cardContent %}
        <div class="govuk-grid-column-one-third">
            {% include 'components/great/card.html' with title="Essentials" url="/" content=cardContent link_text="Find your answer" data_attr="data-test" %}
        </div>
        <div class="govuk-grid-column-one-third">
            {% include 'components/great/card.html' with title="Essentials" url="/" content=cardContent show_title_link=True %}
        </div>
        <div class="govuk-grid-column-one-third">
            {% include 'components/great/card.html' with title="Essentials" url="/" content=cardContent show_title_link=True image_src="https://picsum.photos/id/3/160/90" %}
        </div>
    {% endwith %}
</div>
<pre>
    <code>
    &#123;% include 'components/great/card.html' with title='' url='' content='' ... %&#125;
    </code>
</pre>
<table>
    <thead>
        <tr>
            <th>Attr</th>
            <th>Value</th>
            <th>Required</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>title</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>url</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>content</td>
            <td>html</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>link_text</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>show_title_link</td>
            <td>Boolean</td>
            <td>No</td>
        </tr>
        <tr>
            <td>image_src</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>image_alt</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>classes</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>data_attr</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>heading_level</td>
            <td>h2|h3|h4|h5|h6</td>
            <td>No</td>
        </tr>
    </tbody>
</table>
</section>
