{% load content_tags %}
<section id="cards" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Cards</h2>
    <div class="govuk-grid-row great-card-row">
        {% with '<ul class="govuk-list govuk-list--bullet"><li>for new exporters</li><li>learn the basics to get started</li><li>build your Export Action Plan</li></ul>'|safe as cardContent %}
        <div class="govuk-grid-column-one-third">
            {% include 'components/great/card.html' with title="Codes, tariffs and procedures" url="/" show_title_link=True image_src="/support/codes-tariffs-and-procedures"|get_icon_path is_svg_image=True classes="great-card--homepage" %}
        </div>
        <div class="govuk-grid-column-one-third">
            {% include 'components/great/card.html' with title="Duties, taxes and customs" url="/" show_title_link=True image_src="/support/duties-and-taxes"|get_icon_path is_svg_image=True classes="great-card--homepage" %}
        </div>
        <div class="govuk-grid-column-one-third">
            {% include 'components/great/card.html' with title="Funding and finance" url="/" show_title_link=True image_src="/support/funding-and-finance"|get_icon_path is_svg_image=True classes="great-card--homepage" %}
        </div>
    {% endwith %}
</div>
<pre>
    <code>
    &#123;% include 'components/great/card.html' with title='' url='' content='' ... %&#125;
    </code>
</pre>
<table>
    <thead>
        <tr>
            <th>Attr</th>
            <th>Value</th>
            <th>Required</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>title</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>url</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>content</td>
            <td>html</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>link_text</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>show_title_link</td>
            <td>Boolean</td>
            <td>No</td>
        </tr>
        <tr>
            <td>image_src</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>image_alt</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>is_svg_image</td>
            <td>Boolean</td>
            <td>No</td>
        </tr>
        <tr>
            <td>classes</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>data_attr</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>data_attr_title</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>data_attr_location</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>heading_level</td>
            <td>h2|h3|h4|h5|h6</td>
            <td>No</td>
        </tr>
        <tr>
            <td>tag</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>tag_icon</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>heading_class</td>
            <td>String</td>
            <td>No</td>
        </tr>
        <tr>
            <td>content_tag</td>
            <td>p|span</td>
            <td>No</td>
        </tr>
        <tr>
            <td>show_internal_external_icons</td>
            <td>Boolean</td>
            <td>No</td>
        </tr>
        <tr>
            <td>is_external_link</td>
            <td>Boolean</td>
            <td>No</td>
        </tr>
    </tbody>
</table>
{% include 'components/great/card.html' with title="Look up commodity codes for your goods" url="www.bbc.com" show_title_link=True heading_class="govuk-heading-xs" classes="great-card--cta" tag="Service" tag_icon="/static/icons/hand.svg" %}
<pre>
    <code>
    &#123;% include 'components/great/card.html' with title="Look up commodity codes for your goods" url="www.bbc.com" show_title_link=True heading_class="govuk-heading-xs" classes="great-card--cta" tag="Service" tag_icon="/static/icons/hand.svg" %&#125;
    </code>
</pre>
<div class="govuk-!-margin-top-9">
    {% include 'components/great/card.html' with image_src="https://picsum.photos/id/100/900/300" image_alt="example alt text" content="Sign up for online events to learn how to sell confidently to overseas customers" title="Join the UK Export Academy" url="www.great.gov.uk" show_title_link=True heading_class="govuk-heading-xs" classes="great-card--cta" tag="Service" tag_icon="/static/icons/hand.svg" %}
</div>
<pre>
    <code>
    &#123;% include 'components/great/card.html' with image_src="https://picsum.photos/id/100/900/300" image_alt="example alt text" content="Sign up for online events to learn how to sell confidently to overseas customers" title="Join the UK Export Academy" url="www.great.gov.uk" show_title_link=True heading_class="govuk-heading-xs" classes="great-card--cta" tag="Service" tag_icon="/static/icons/hand.svg" %&#125;
    </code>
</pre>
</section>
