{% extends 'domestic/base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% block meta_tags %}<meta name="robots" content="noindex">{% endblock %}
{% block head_title %}Design System{% endblock %}
{% block meta_title %}Design System{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
{% block content %}
    <div class="great great-bg-white">
        <div class="great-container govuk-!-padding-top-4">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">GREAT Design System</h1>
                    <nav class="components-list">
                        <ul>
                            <li>
                                <a class="govuk-link" href="#typography">Typography</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#buttons">Buttons</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#backgrounds">Backgrounds</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#hrs">Horizontal Rules</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#links">Links</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#forms">Forms</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#spacing">Spacing</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#cards">Cards</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#notificationbanner">Notification Banner</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#responsive_images">Responsive Images</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="#share">Share</a>
                            </li>
                        </ul>
                    </nav>
                    {% include 'design-system/typography.html' %}
                    {% include 'design-system/buttons.html' %}
                    {% include 'design-system/backgrounds.html' %}
                    {% include 'design-system/hrs.html' %}
                    {% include 'design-system/links.html' %}
                    {% include 'design-system/forms.html' %}
                    {% include 'design-system/spacing.html' %}
                    {% include 'design-system/cards.html' %}
                    {% include 'design-system/notification-banner.html' %}
                    {% include 'design-system/responsive-images.html' %}
                    {% include 'design-system/share.html' %}
                </div>
            </div>
        </div>
    </div>
    <style>
    .components-list {
        position: absolute;
        left: 30px;

        ul {
            list-style: none;
        }

        a:visited {
            color: #1d70b8;
        }
    }

    pre {
        background-color: #f3f2f1;
    }

    code {
        font-size: 12px;
    }
    </style>
{% endblock %}
