<section id="forms" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Forms</h2>
    <div class="govuk-form-group govuk-!-margin-bottom-7">
        <label class="govuk-label great-font-bold" for="text_input">Text input label</label>
        <input type="text"
               name="text_input"
               class="govuk-input great-text-input"
               id="text_input" />
    </div>
    <div class="govuk-form-group govuk-!-margin-bottom-7 ">
        <label class="govuk-label great-font-bold" for="select">Select label</label>
        <div class="great-text-select--arrow">
            <select name="select" class="govuk-select great-select" id="select">
                <option value="" selected="">Please select</option>
            </select>
        </div>
    </div>
    <div class="govuk-checkboxes__item govuk-!-margin-bottom-3 great-checkbox">
        <input class="govuk-checkboxes__input"
               id="checkbox"
               name="markets"
               type="checkbox"
               value="A" />
        <label id="checkboxlabel"
               for="checkbox"
               class="govuk-label govuk-checkboxes__label">Checkbox label</label>
    </div>
    <div class="govuk-radios great-radios" data-module="govuk-radios">
        <div class="govuk-radios__item govuk-!-margin-bottom-3">
            <input class="govuk-radios__input"
                   id="radio"
                   name="radio"
                   type="radio"
                   value="yes">
            <label id="id_about_your_experience_1-label"
                   for="radio"
                   class="govuk-label govuk-radios__label">Radio label</label>
        </div>
    </div>
    <pre>
<code>
&lt;div class="govuk-form-group govuk-!-margin-bottom-7"&gt;
    &lt;label class="govuk-label great-font-bold" for="text_input"&gt;Text input label&lt;/label&gt;
    &lt;input type="text" name="text_input" class="govuk-input great-text-input" id="text_input" /&gt;
&lt;/div&gt;

&lt;div class="govuk-form-group govuk-!-margin-bottom-7"&gt;
    &lt;label class="govuk-label great-font-bold" for="select"&gt;Select label&lt;/label&gt;
    &lt;div class="great-text-select--arrow"&gt;
    &lt;select name="select" class="govuk-select great-select" id="select"&gt;
        &lt;option value=""&gt;Please select&lt;/option&gt;
    &lt;/select&gt;
    &lt;div&gt;
&lt;/div&gt;

&lt;div class="govuk-checkboxes__item govuk-!-margin-bottom-3 great-checkbox"&gt;
    &lt;input class="govuk-checkboxes__input" id="checkbox" name="markets" type="checkbox" value="A" /&gt;
    &lt;label id="checkboxlabel" for="checkbox" class="govuk-label govuk-checkboxes__label"&gt;Checkbox label&lt;/label&gt;
&lt;/div&gt;

&lt;div class="govuk-radios great-radios" data-module="govuk-radios"&gt;
    &lt;div class="govuk-radios__item govuk-!-margin-bottom-3"&gt;
    &lt;input class="govuk-radios__input" id="radio" name="radio" type="radio" value="yes"&gt;
    &lt;label id="id_about_your_experience_1-label" for="radio" class="govuk-label govuk-radios__label"&gt;
            Radio label
    &lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
</section>
