<section id="notificationbanner" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Notification Banner</h2>

    <div class="govuk-notification-banner great-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-!-padding-top-1 govuk-!-padding-bottom-2">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0 great-text-white" id="govuk-notification-banner-title">Thank you for your feedback</h1>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body-l">Your feedback has been successfully submitted</p>
        </div>
    </div>


<pre>
    <code>
    &#123;% include 'components/great/notification-banner.html' with title='Thank you for your feedback'
    message='Your feedback has been successfully submitted' %&#125;
    </code>
</pre>
  </section>
