<section id="spacing" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Spacing</h2>
    <div class="govuk-!-margin-9">govuk-!-margin-9</div>
    <div class="govuk-!-margin-8">govuk-!-margin-8</div>
    <div class="govuk-!-margin-7">govuk-!-margin-7</div>
    <div class="govuk-!-margin-6">govuk-!-margin-6</div>
    <div class="govuk-!-margin-5">govuk-!-margin-5</div>
    <div class="govuk-!-margin-4">govuk-!-margin-4</div>
    <div class="govuk-!-margin-3">govuk-!-margin-3</div>
    <div class="govuk-!-margin-2">govuk-!-margin-2</div>
    <div class="govuk-!-margin-1">govuk-!-margin-1</div>
    <div class="govuk-!-margin-0">govuk-!-margin-0</div>
    <div class="govuk-!-padding-0">govuk-!-padding-0</div>
    <div class="govuk-!-padding-1">govuk-!-padding-1</div>
    <div class="govuk-!-padding-2">govuk-!-padding-2</div>
    <div class="govuk-!-padding-3">govuk-!-padding-3</div>
    <div class="govuk-!-padding-4">govuk-!-padding-4</div>
    <div class="govuk-!-padding-5">govuk-!-padding-5</div>
    <div class="govuk-!-padding-6">govuk-!-padding-6</div>
    <div class="govuk-!-padding-7">govuk-!-padding-7</div>
    <div class="govuk-!-padding-8">govuk-!-padding-8</div>
    <div class="govuk-!-padding-9">govuk-!-padding-9</div>
    <pre>
    <code>
    &lt;div class="govuk-!-margin-9"&gt;govuk-!-margin-9&lt;/div&gt;
    &lt;div class="govuk-!-margin-8"&gt;govuk-!-margin-8&lt;/div&gt;
    &lt;div class="govuk-!-margin-7"&gt;govuk-!-margin-7&lt;/div&gt;
    &lt;div class="govuk-!-margin-6"&gt;govuk-!-margin-6&lt;/div&gt;
    &lt;div class="govuk-!-margin-5"&gt;govuk-!-margin-5&lt;/div&gt;
    &lt;div class="govuk-!-margin-4"&gt;govuk-!-margin-4&lt;/div&gt;
    &lt;div class="govuk-!-margin-3"&gt;govuk-!-margin-3&lt;/div&gt;
    &lt;div class="govuk-!-margin-2"&gt;govuk-!-margin-2&lt;/div&gt;
    &lt;div class="govuk-!-margin-1"&gt;govuk-!-margin-1&lt;/div&gt;
    &lt;div class="govuk-!-margin-0"&gt;govuk-!-margin-0&lt;/div&gt;
    &lt;div class="govuk-!-padding-0"&gt;govuk-!-padding-0&lt;/div&gt;
    &lt;div class="govuk-!-padding-1"&gt;govuk-!-padding-1&lt;/div&gt;
    &lt;div class="govuk-!-padding-2"&gt;govuk-!-padding-2&lt;/div&gt;
    &lt;div class="govuk-!-padding-3"&gt;govuk-!-padding-3&lt;/div&gt;
    &lt;div class="govuk-!-padding-4"&gt;govuk-!-padding-4&lt;/div&gt;
    &lt;div class="govuk-!-padding-5"&gt;govuk-!-padding-5&lt;/div&gt;
    &lt;div class="govuk-!-padding-6"&gt;govuk-!-padding-6&lt;/div&gt;
    &lt;div class="govuk-!-padding-7"&gt;govuk-!-padding-7&lt;/div&gt;
    &lt;div class="govuk-!-padding-8"&gt;govuk-!-padding-8&lt;/div&gt;
    &lt;div class="govuk-!-padding-9"&gt;govuk-!-padding-9&lt;/div&gt;
    </code>
</pre>
</section>
