
@import '../partials/spacings';
@import '../partials/typography';

// Hero banner
.great-hero-heading {
  @include brand-xlarge;
}

.great-hero-subheading {
  @include brand-large;
}

.great-hero-description {
  margin-bottom: 0;
  font-family: $brand-font;
}

.great-hero {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 200px;
  background-position: 50%;
  background-size: cover;

  & > .container {
    min-height: 200px;
    position: relative;
    overflow: visible;
    padding-top: 45px;
  }
}

.great-hero-no-image {
  background-color: $hero-blue;
}

.great-hero-title {
  color: $white;
  max-width: 700px;
  background-color: $hero-blue;
  border-bottom: $flag-red solid 6px;
  bottom: -6px;
  left: 0;
  padding: 30px;
  position: absolute;
  width: auto;

  h1 > span {
    display: block;
  }
}

@media (max-width: 1100px) {
  .great-hero-title {
    max-width: 400px;
  }
}

@media (min-width: 641px) {
  .great-hero,
  .great-hero > .container {
    min-height: 345px;
  }

  .great-hero-title {
    min-width: 470px;
  }
}

// Hero with CTA

.great-hero-with-cta {
  @extend .great-hero;

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-bottom: $spacing-3;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .great-hero-with-cta {
    .great-hero-text h2 {
      width: 70%;
    }

    .great-hero-brand {
      bottom: 0;
      top: auto;

      img {
        height: 80px;
      }
    }
  }
}

/**************************************************************
********************   MADE IN UK  ****************************
**************************************************************/
// Hero text signedin: (content)
// <em><em>MADE</em>&nbsp<em>in</em>&nbsp<em>the</em>&nbsp<em>UK</em><br><em>SOLD</em>&nbsp<em>to</em>&nbsp<em>the</em>&nbsp<em>world</em></em>

.great-hero {
  max-width: 2000px;
  background-repeat: no-repeat !important;
  image-rendering: auto;

  .great-hero-text {
    h1 {
      font-family: $brand-font-tabloid;
      color: black;
      font-size: 150px;
      word-spacing: -30px;
      margin-bottom: 95px;
      letter-spacing: -3px;

      em {
        font-style: normal;
      }
    }

    h1 {
      font-weight: 500;
      em:nth-child(2), em:nth-child(3) { // in the
        position: relative;
      }

      em:nth-child(4) { // UK
        position: relative;
      }

      em:nth-child(7), em:nth-child(8) { // to the
        position: absolute;
      }

      em:nth-child(9) { // world
        color: #349fd5;
        position: relative;
      }
    }

    a {
      position: relative;
      left: 235px;
    }
  }
}

// MOBILE
@media (max-width: 600px) {
  .great-hero {
    height: 338px;

    .container {
      padding-top: 10px;
    }
    .great-hero-text {
      h1 {
        font-size: 70px;
        line-height: 0.6;
        margin: 0 20px;
        letter-spacing: -1px;

        // center text
        display: flex;
        justify-content: center;
      }

      h1 {

        em:nth-child(2), em:nth-child(3), em:nth-child(7), em:nth-child(8) {
          font-size: 30px;
        }

        em:nth-child(2) { // in
          top: -30px;
          left: 2px;
        }

        em:nth-child(3) { // the
          left: -15px;
        }

        em:nth-child(4) { // UK
          font-size: 80px;
          left: -12px;
          top: 8px;
        }

        em:nth-child(6) { // sold
          font-size: 63px;
          padding-left: 18px;
        }

        em:nth-child(7), em:nth-child(8) { // to the
          top: 115px;
        }

        em:nth-child(7) { // to
          left: 50%;
          transform: translate(calc(-50% - 68px), 0);
          padding: 10px;
        }

        em:nth-child(8) { // the
          left: 50%;
          transform: translate(calc(-50% - 42px), 0);
          padding: 10px;
        }

        em:nth-child(9) { // world
          font-size: 87px;
          top: 28px;
          left: 9px;
        }
      }

      a {
        position: relative;
        top: 243px;
        left: 0;
      }
    }
  }

  .great-hero + section {
    padding-top: 80px;
  }
}

// SMALL MOBILE ONLY POSITIONING THE MAN
@media (max-width: 340px) {
  .great-hero {
    background-position: 150% 90%, 125% 100%, 90% 195% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 190px, 250px !important; // flag -> man -> boat -> circle
  }
}

// SMALL MOBILE ONLY POSITIONING THE MAN
@media (min-width: 341px) and (max-width: 390px) {
  .great-hero {
    background-position: 135% 90%, 140% 100%, 90% 195% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 190px, 250px !important; // flag -> man -> boat -> circle
  }
}

// MOBILE ONLY POSITIONING THE MAN
@media (min-width: 391px) and (max-width: 450px) {
  .great-hero {
    background-position: 130% 90%, -150px 100%, 60% 195% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 190px, 250px !important; // flag -> man -> boat -> circle
  }
}

// MOBILE ONLY POSITIONING THE MAN
@media (min-width: 450px) and (max-width: 490px) {
  .great-hero {
    background-position: 125% 90%, -100px 100%, 60% 195% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 190px, 250px !important; // flag -> man -> boat -> circle
  }
}

// MOBILE ONLY POSITIONING THE MAN
@media (min-width: 491px) and (max-width: 525px) {
  .great-hero {
    background-position: 115% 90%, -115px 100%, 60% 195% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 190px, 250px !important; // flag -> man -> boat -> circle
  }
}

// MOBILE ONLY POSITIONING THE MAN
@media (min-width: 526px) and (max-width: 550px) {
  .great-hero {
    background-position: 110% 90%, -70px 100%, 60% 195% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 190px, 250px !important; // flag -> man -> boat -> circle
  }
}

// MOBILE ONLY POSITIONING THE MAN
@media (min-width: 551px) and (max-width: 600px) {
  .great-hero {
    background-position: 100% 90%, -70px 100%, 60% 195% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 190px, 250px !important; // flag -> man -> boat -> circle
  }
}

// IPAD
@media (min-width: 601px) and (max-width: 900px) {
  .great-hero {
    height: 360px;

    .container {
      padding-top: 20px;
      min-height: 330px;
    }
    .great-hero-text {
      h1 {
        line-height: 41px;
        margin: 0;
        letter-spacing: -2px;
      }

      h1 {

        em:nth-child(1), em:nth-child(6) { // made - sold
          font-size: 97px;
        }

        em:nth-child(2), em:nth-child(3), em:nth-child(7), em:nth-child(8) { // in the - to the
          font-size: 45px;
        }

        em:nth-child(2) { // in
          top: -40px;
          left: 4px;
        }

        em:nth-child(3) { // the
          left: -21px;
        }

        em:nth-child(4) { // UK
          font-size: 112px;
          left: -16px;
          top: 11px;
        }

        em:nth-child(6) { // sold
          font-size: 95px;
          padding-left: 15px;
        }

        em:nth-child(7), em:nth-child(8) { // to the
          padding-top: 80px;
        }

        em:nth-child(7) { // to
          left: 72px;
        }

        em:nth-child(8) { // the
          left: 103px;
        }

        em:nth-child(9) { // world
          font-size: 135px;
          top: 44px;
          left: 11px;
        }
      }

      a {
        position: relative;
        top: 220px;
        left: 0;
        width: 100%;
      }
    }
  }

  .great-hero + section {
    padding-top: 80px;
  }
}

// IPAD ONLY POSITIONING THE MAN
@media (min-width: 601px) and (max-width: 650px){
  .great-hero {
    background-position: 100% 88%, 80% 100%, calc(100% + 168px) 135% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 330px, 450px !important; // flag -> man -> boat -> circle
  }
}

// IPAD ONLY POSITIONING THE MAN
@media (min-width: 651px) and (max-width: 720px){
  .great-hero {
    background-position: 100% 88%, 80% 100%, calc(100% + 95px) 135% !important; // flag -> man -> boat -> circle
    background-size: auto 80px, auto 330px, 450px !important; // flag -> man -> boat -> circle
  }
}

// IPAD ONLY POSITIONING THE MAN
@media (min-width: 721px) and (max-width: 900px){
  .great-hero {
    background-position: 100% 88%, 80% 100%, calc(100% + 58px) 135% !important; // flag -> man -> boat -> circle
    background-size: auto 100px, auto 330px, 450px !important; // flag -> man -> boat -> circle
  }
}

// DESKTOP
@media (min-width: 901px) {
  .great-hero {

    height: 400px;

    .container {
      padding-bottom: 135px;
      padding-top: 35px;
    }
    .great-hero-text {
      h1, p {
        line-height: 62px;
        margin: 0;
      }

      h1 {

        em:nth-child(2), em:nth-child(3), em:nth-child(7), em:nth-child(8) { // in the - to the
          font-size: 55px;
        }

        em:nth-child(1) { // made
          font-size: 126px;
        }

        em:nth-child(2) { // in
          top: -53px;
          left: 5px;
        }

        em:nth-child(3) { // the
          left: -25px;
        }

        em:nth-child(4) { // UK
          font-size: 148px;
          left: -20px;
          top: 19px;
        }

        em:nth-child(6) { // sold
          padding-left: 20px;
          font-size: 118px;
        }

        em:nth-child(7), em:nth-child(8) { // to the
          padding-top: 88px;
        }

        em:nth-child(7) { // to
          left: 93px;
        }

        em:nth-child(8) { // the
          left: 131px;
        }

        em:nth-child(9) { // world
          font-size: 160px;
          top: 52px;
          left: 14px;
        }
      }

      a {
        position: relative;
        left: 200px;
        top: 90px;
      }
    }
  }
}

// SMALL DESKTOP ONLY POSITIONING THE MAN
@media (min-width: 901px) and (max-width: 1024px) {
  .great-hero {
    background-position: 110% 80%, 80% 100%, 125% 135% !important; // flag -> man -> boat -> circle
    background-size: auto 129px, auto 350px, 550px !important; // flag -> man -> boat -> circle
  }
}

// SMALL DESKTOP ONLY POSITIONING THE MAN
@media (min-width: 1025px) and (max-width: 1200px) {
  .great-hero {
    background-position: 100% 80%, 80% 100%, 125% 135% !important; // flag -> man -> boat -> circle
    background-size: auto 129px, auto 350px, 550px !important; // flag -> man -> boat -> circle
  }
}

// DESKTOP ONLY POSITIONING THE MAN
@media (min-width: 1201px) {
  .great-hero {
    background-position: 100% 80%, 45% 100%, 95% 120% !important; // flag -> man -> boat -> circle
    background-size: auto 129px, auto 350px, 620px !important; // flag -> man -> boat -> circle
  }
}

// DESKTOP ONLY CENTER THE CONTAINER
@media (min-width: 1441px) {
  .great-hero {
    margin: auto;
    width: 1200px
  }
}

/**************************************************************
****************** END OF MADE IN UK  *************************
**************************************************************/
