
.export-plan-builder {

  .banner-image {
    width: 100%;
  }

  .sidebar {
    float: left;
    width: 300px;
    background-color: $white;
    border-right: 1px solid $light-grey;
    position: absolute;
    z-index: 1;
  }

  .intro-content {
    padding-left: calc(100% / 12 * 3);
  }

  .sector-selection {
    & > * {
      float: left;
      display: block;
      line-height: 1;
    }

    .sector-list li {
      display: inline-block;
    }

    .plus-button {
      @extend .m-v-s;
    }
  }
}
