
.export-plan-builder {

  .banner-image {
    width: 100%;
  }

  .sidebar {
    float: left;
    width: 300px;
    background-color: $white;
    border-right: 1px solid $light-grey;
    position: absolute;
    z-index: 1;
  }

  .intro-content {
    padding-left: calc(100% / 12 * 3);
  }

  .sector-chooser {
    position: relative;
  }

  .sector-list-tooltip {
    @include body-medium-bold;
    @include shadow;
    padding: 2px $space-xs-m;
    @include desktop {
      padding: 2px $space-xs;
    }
    position: absolute;
    left: -160px;
    background-color: $grey;
    color: $white;

    &:after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-left: 16px solid $grey;
      border-bottom: 17px solid transparent;
      position: absolute;
      right: -16px;
      top: 0;
    }
  }

  .sector-selection {
    & > * {
      line-height: 1;
    }

    .sector-list {
      li {
        display: inline-block;
        margin-bottom: $space-xxs-m;
        @include desktop {
          margin-bottom: $space-xxs;
        }
      }

      .selected {
        @extend .bg-stone;
        @extend .text-grey;
        @extend .border-stone;
        font-weight: $bold;
      }
    }

    .plus-button {
      @extend .m-v-s;
    }
  }
}
