.costs {
  border-radius: 20px 20px 0 0;
  display: block;
  padding: 0 20px;

  td {
    border: 0;
    padding: 15px 5px 20px;
    position: relative;
    width: 50%;

    @include breakpoint(lg_lt) {
      display: block;
      width: 100%;
    }
  }

  tr {
    border-bottom: 2px solid $blue-deep-20;

    &:last-child {
      border: 0;
    }
  }

  .form-group {
    position: absolute;
    right: 0;
    top: 26px;

    @include breakpoint(lg_lt) {
      position: relative;
      right: auto;
      top: auto;
    }

    input {
      text-align: right;
      width: 100%;

      @include tablet {
        width: 140px;
      }
    }
  }

  .form-label {
    @extend .body-l-b;
  }

  &--total {
    border-radius: 0 0 20px 20px;

    .form-label {
      color: $white;
    }

    .total {
      text-align: right;
    }
  }
}
