.costs {
  --keyline: 2px solid #D2D0DA;

  border-radius: 20px;
  display: block;
  padding: 20px;

  &--funding {
    border-radius: 20px 20px 0 0;
  }

  &--total {
    display: flex;
    border-radius: 0 0 20px 20px;

    .total {
      margin-left: auto;
    }
  }

  &--total {
    td {
      padding-top: 20px;
      display: table-cell;
      width: 50%;
    }
  }

  &--currency {
    @include breakpoint(sm_lt) {
      display: block;
      width: 100%;
    }
  }
}

.costs__border {
  border-bottom: var(--keyline);
  padding-bottom: 20px;
}

.costs__option--border:not(:first-child) {
  border-top: var(--keyline);
  padding-top: 20px;
}

.costs__delete {
  padding: 20px 0;
}

.gross-price {
  .select,
  .form-group {
    margin-bottom: 0;
  }
}
