.section-list {
  &__coming {
    border-radius: 12px;
    left: 20px;
    position: absolute;
    top: 120px;
  }

  &__disabled {
    opacity: 0.6;
    position: relative;
  }

  &__item {
    border-radius: 4px;
    overflow: hidden;
  }

  &__item--is-complete {
    .section-list__image-container {
      &:before {
        position: absolute;
        display: block;
        content: attr(data-complete);
        font-size: 14px;
        line-height: 1.9;
        color: white;
        border-radius: 50px;
        background-color: $colour-green-100;
        height: 24px;
        padding: 0 12px;
        margin-left: 15px;
        margin-top: 15px;
      }
    }
  }

  &__image-container {
    display: flex;
    flex-flow: column;
  }

  &__link {
    width: 100%;
  }
}

.section-upload {
  border: {
    color: $colour-blue-deep-20;
    radius: 4px;
    style: dashed;
    width: 1px;
  }
  display: block;
}

.export-plan-dashboard {
  .sub-header-nav {
    margin-left: 0;
  }
}

.export-plan-dashboard__section {
  display: flex;
  flex-direction: row-reverse;
}

.export-plan-dashboard__sidebar {
  display: none;
  @include breakpoint(md) {
    flex: 0 0 330px;
    display: unset;
  }

  .section-upload {
    font-size: 16px;
  }
}

.media {
  display: flex;
  align-items: flex-start;

  &--reverse {
    flex-direction: row-reverse;
  }

  &--top {
    align-items: flex-start;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }
}

.media__figure {
  margin-right: 1em;
}

.media__body {
  flex: 1;
}

.progress-bar {
  &--white-track {
    background-color: white;
  }
}
