.section-list {
  &__item {
    border-radius: 4px;
    overflow: hidden;
  }

  &__disabled {
    opacity: .6;
    position: relative;
  }

  &__coming {
    border-radius: 12px;
    left: 20px;
    position: absolute;
    top: 120px;
  }
}

.section-upload {
  border: {
    color: $colour-blue-deep-20;
    radius: 4px;
    style: dashed;
    width: 1px;
  }
  display: block;
}

.export-plan-dashboard {
  .sub-header-nav {
    margin-left: 0;
  }
}

  .export-plan-dashboard__section {
    display: flex;
    flex-direction: row-reverse;
  }

    .section-list__link {
      width: 100%;
    }

    .section-list__image-container {
      display: flex;
      flex-flow: column;
    }

  .export-plan-dashboard__sidebar {
    display: none;
    @include breakpoint(md) {
      flex: 0 0 300px;
      display: unset;
    }

    .section-upload {
      font-size: 16px;
    }
  }


.media {
  display: flex;
  align-items: flex-start;

  &--reverse {
    flex-direction: row-reverse;
  }
  
  &--top {
    align-items: flex-start;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }
}

.media__figure {
  margin-right: 1em;
}

.media__body {
  flex: 1;
}