.section-list {
  &__item {
    border-radius: 4px;
    overflow: hidden;

    img {
      height: 172px;
    }
  }

  &__disabled {
    opacity: .6;
    position: relative;
  }

  &__coming {
    border-radius: 12px;
    left: 20px;
    position: absolute;
    top: 120px;
  }
}

.section-upload {
  border: {
    color: $colour-blue-deep-20;
    radius: 4px;
    style: dashed;
    width: 1px;
  }
  display: block;
}

.export-plan-dashboard {

  .sub-header-nav {
    margin-left: 0;
  }

}

.completion-status {
  height: 100%;
  position: absolute;
  width: 330px;

  .section-upload {
    font-size: 16px;
  }
}
