
.objectives-list {

  .objective {
    position: relative;

    .button--delete {
      @include brand-small;
      @extend .p-h-xs;
      @extend .p-v-xxs;
      @extend .bg-stone-90;
      @extend .m-r-s;
      @extend .m-t-s;
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        @extend .bg-stone;
      }
    }
  }

  .footer {
    display: flex;
    @extend .m-v-s;

    > * {
      margin-right: auto;
      margin-left: auto;
    }
  }


}

#objectives-reasons {
  .form-label {
    @extend .h-m;
  }
}
