.brand-and-product-content,
.objectives-content {
  label {
    @extend .h-m;
  }

  textarea {
    width: 100%;
    resize: none;
    background: transparent;
    border: 0;
    padding: 0;
  }
}

.export-plan-heading {
  @include ExportPlanHeading;
}

.marketing-approach-content p {
  @include ExportPlanBodyText;
}

.text-inset {
  @include textInset;
}
