.section {
  &--intro {
    margin-bottom: 100px;
  }

  &--back-to {
    position: absolute;
    top: 40px;
    @include breakpoint(lg) {
      left: 110px;
    }
  }

  &--intro-image {
    bottom: -30px;
    position: relative;
    width: 100%;

    @include breakpoint(lg) {
      width: 679px;
    }
  }
}

.lesson__back {
  margin-top: 30px;

  @include breakpoint(lg) {
    float: right;
    width: 245px;

    &--bottom {
      margin-top: 315px;
    }
  }
}

.great-checkbox--section-complete {
  label {
    font-size: var(--font-size-title-2);
    @include breakpoint(sm) {
      font-size: var(--font-size-title-3);
    }
  }
}

.hide-show-content,
.hide-show-trigger {
  display: none;
}
.hide-show-trigger:checked ~ div > .hide-show-content {
  display: block;
}
.hide-show-trigger ~ div > div > label > i {
  padding: 0;
}
.hide-show-trigger:checked ~ div > div > label > i {
  transform: rotate(180deg);
}

.g-card.min-height-0 {
  min-height: 0;
}
