.section {
  &--intro {
    margin-bottom: 100px;
  }

  &--intro-image {
    margin-bottom: -30px;
    width: 679px;
  }
}

.lesson__back {
  float: right;
  width: 245px;

  &--bottom {
    margin-top: 770px;
  }
}
