.statistic {
  @extend .bg-white;
  @extend .radius;
  display: block;
  padding: 10px 20px;
  width: 100%;

  @include breakpoint(sm) {
    margin-bottom: 30px;
  }

  .educational-moment--tooltip-container {
    margin-right: -8px;
    float: right;
  }

  &-label {
    border-radius: 13px;
    margin-right: 10px;
    padding: 5px 10px;
  }

  dl {
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;

    @include breakpoint(sm) {
      border-bottom: unset;
      padding-bottom: unset;
    }
  }

  &__caption {
    font-size: $font-size-small-mobile;
    margin: 0;

    @include tablet {
      font-size: $font-size-small-desktop;
    }
  }

  &__figure {
    margin: 0;
    padding: 0;
    text-align: right;

    @include breakpoint(sm) {
      text-align: left;
    }
  }
}

.statistic__group {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.statistic__percentage {
  height: 4px;
  position: absolute;
  top: 54px;
  width: 100%;

  span {
    display: block;
    height: 4px;
    transition: width 1s;
  }
}

// Container fix for new design for mobile without refactoring the react components.
.stat-group {
  @extend .bg-white;

  &:first-of-type {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

    // Last grid col dl
    div[class^='c-']:last-of-type dl {
      border-bottom: none;
    }

    margin-bottom: 20px;

    @include breakpoint(sm) {
      margin-bottom: unset;
    }
  }

  @include breakpoint(sm) {
    background-color: unset;
    border-radius: unset;
  }

  .grid,
  div[class^='c-'] {
    display: flex;
  }

  .grid {
    flex-flow: column;
    @include breakpoint(sm) {
      flex-direction: row;
    }
  }
}
