.statistic {
  // Vars
  --line-rule: 1px solid #e0e0e0;

  @extend .bg-white;
  display: block;
  padding: 20px;
  width: 100%;

  &:after {
    content: '';
    display: block;
    position: relative;
    top: 20px;
    width: 100%;
    border-bottom: var(--line-rule);
  }

  @include breakpoint(sm) {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;

    &:after {
      display: none;
    }
  }

  div:first-child > & {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

  div:last-child > &:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

    &:after {
      display: none;
    }
  }

  .educational-moment--tooltip-container {
    margin-right: -8px;
    float: right;
  }

  &-label {
    border-radius: 13px;
    margin-right: 10px;
    padding: 5px 10px;
  }

  dl {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    @include breakpoint(sm) {
      flex-direction: column;
      width: unset;
      border-bottom: unset;
      padding-bottom: unset;
    }
  }

  &__caption {
    font-size: $font-size-small-mobile;
    margin: 0;

    @include tablet {
      font-size: $font-size-small-desktop;
    }
  }

  &__figure {
    margin: 0;
    padding: 0;
    text-align: right;

    @include breakpoint(sm) {
      text-align: left;
    }
  }

  &--mobile-full {
    @include breakpoint(sm_lt) {
      dl {
        display: block;
      }
      .statistic__figure {
        text-align: left;
      }
    }
  }
}

.statistic__group {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-flow: wrap;

  & dl:last-of-type {
    text-align: right;
  }
}

.statistic__percentage {
  height: 4px;
  width: 100%;

  span {
    display: block;
    height: 4px;
    transition: width 1s;
  }
}

.stat-group {
  & > .grid,
  & > .grid > div {
    display: flex;
  }

  .grid {
    flex-flow: column;

    @include breakpoint(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.stat-group--cols {
  .statistic__group {
    flex-flow: row wrap;
  }

  dl {
    max-width: 49%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.stat-group--percentage {
  dl {
    & + dl {
      align-items: flex-end;
    }
  }
}

.selected-groups {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  &__button {
    margin-right: 10px;
  }
  &__items {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
  }
  &__item {
    @extend .body-m;
    background-color: $blue-deep-20;
    border-radius: 100px;
    padding: 6px 15px 3px;
    line-height: 1.2;
    margin: 5px;
  }
}
