.heading {
  font-size: 24px;
  margin: 0;
}

.synopsis {
  font-size: 19px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
}

.greatButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: normal;
}

:global .ReactModal__Overlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5)!important;
}

:global .ReactModal__Content {
  background: #ffffff;
  margin: 0;
  padding: 30px!important;
  bottom: auto !important;
  right: auto !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 30px);
  width: calc(100vw - 30px);
}

.buttonContainer {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: baseline;
}

@media (max-width: 500px) {
  .buttonContainer {
    justify-content: center;
  }
}

@media (min-width: 500px) {
  :global .ReactModal__Content {
    padding: 52px!important;
  }

  .greatButton {
    width: auto;
    margin-right: 20px;
  }

  .synopsis {
    margin-top: 25px;
    margin-bottom: 45px;
  }
}
