.international-header {
    background: #eb0000;
    border-bottom: 10px solid #eb0000;

    @media (min-width: 48.0625em) {
        .govuk-header__logo {
            width: 25%;
        }
    }

    @media (min-width: 48.0625em) {
        .govuk-header__content {
            width: 75%;
        } 
    }

    .govuk-header__container {
        border-bottom: 0px;
        margin-top: 0px;
    }
    
    .govuk-header__service-name {
        margin-top: 25px;
    }

    .govuk-header__navigation {
        margin-top: 20px;
    }

    .govuk-header__navigation-item {
        border-bottom-color: #FFFFFF;
    }

    .international-header-navigation-item-active {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 0.1em;
    }

    .govuk-header__logo {
        margin-bottom: 0px;
        a {
            display: inline-block;
        } 
        a:focus {
            .great-logo {
                background-image: url('/static/images/great-logo-condensed-black.svg');
            }
        }
    }

    .great-logo {
        background-image: url('/static/images/great-logo-condensed.svg');
        width: 144px;
        height: 80px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

}


.international-sub-header {
    background: #04043F;
    min-height: 50px;

    .govuk-header__container {
        border-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }

    .govuk-header__navigation-item a {
        font-weight: 400;
    }

    .govuk-header__link:hover {
        text-decoration-thickness: 1px;
    }

    .international-sub-navigation-logo {
        height: 30px;
    }

    .international-header-navigation-item-active {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.1em;
    }
}


@media (min-width: 768px) {
    .great-navigation-list {
        float: right;
    
        .govuk-header__navigation-item:last-child {
            margin-right: 0;
            border-bottom: 0;
        }

        .govuk-header__navigation-item:first-child {
            margin-right: 15px;
            border-bottom: 5px;
        }
    }
}