@import 'helpers/colours';

.great-mvp-suggested-countries {
    .great-mvp-pill-button {
        background: $mid-grey;
        cursor: pointer;
    }


    .great-mvp-section-title {
      color: #3C3C3C;
      font-size: 16px;
    }
}

