{% extends 'apps-tabs.html' %}
{% block head_title %}Account - great.gov.uk{% endblock %}
{% load static from staticfiles %}
{% block tab_content %}
	<div class="grid-row" id="tab-content">
		<div class="column-two-thirds">
			<section id="welcome-message">
				<h2 class="heading-large">Welcome to your great.gov.uk account</h2>
				<p class="body-text">From now on, every time you sign in you’ll be able to quickly access all of our exporting tools in one place. The tools are here to help your business succeed internationally.</p>
				<p class="body-text information-breakout">You can start using any of our exporting tools by clicking on the tabs on your account.</p>
				<h3 class="heading-medium">Export opportunities</h3>
				<p class="body-text">Find thousands of exporting opportunities, search and apply within your industry or a specific country, and sign up for email alerts so you’re the first to know of new opportunities.</p>
				<h3 class="heading-medium">Business profile</h3>
				<p class="body-text">Promote your business overseas with your own business profile, add case studies of your company’s best work, and let overseas companies contact you directly.</p>
				<h3 class="heading-medium">Selling online overseas</h3>
				<p class="body-text">Join major online marketplaces in other countries and access special offers negotiated by the Department for International Trade.</p>
		</section>
		</div>
	</div>
{% endblock tab_content %}
