<figure>
    <blockquote>
        {{value.quote|linebreaks}}  {# each line is in a <p> #}
    </blockquote>

    {% if value.attribution or value.role or value.organisation %}
    <figcaption>
        {% if value.attribution %}
            <span>{{value.attribution}}</span>
        {% endif %}

        {% if value.role %}
            <span>{{value.role}}</span>
        {% endif %}

        {% if value.organisation %}
            {% if value.organisation_link %}
                <a target='_blank' href='{{value.organisation_link}}'>
                    {{value.organisation}}
                </a>
            {% else %}
                <span>{{value.organisation}}</span>
            {% endif %}
        {% endif %}
    </figcaption>
    {% endif %}
</figure>
