@import '../../../../styles//colors/colors.scss';

#content .alerts-container {
  a,
  a:active,
  a:focus,
  a:hover,
  a:link:focus {
    color: #b00d23;
    border: 2px solid #b00d23;
  }
  .alerts-button-container {
    text-align: right;
  }
}

#hero {
  position: relative;
}

.right-column {
  text-align: right;
}

#user-mode-container {
  margin-top: 25px;
  hr {
    height: 2px;
  }
  .pill {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
  }
  .divider {
    content: '|';
    display: inline-block;
    height: 36px;
    width: 2px;
    vertical-align: middle;
  }
}

#logo-container {
  max-height: 300px;
  max-width: 300px;
  background-color: white;
  position: relative;
  img {
    width: 100%;
    vertical-align: middle;
  }
  display: table;
  #add-image {
    display: table-cell;
    vertical-align: middle;
    height: 300px;
    width: 300px;
  }
  #edit-image {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background: $active-blue;
    padding: 10px;
    &:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      margin: 10px;
      height: 17px;
      width: 17px;
      background-repeat: no-repeat;
    }
  }
}

#add-image {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F5F2EC;
  text-align: center;
}

#data-column {
  margin-top: 45px;
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 1em;
  }
  & > div {
    width: 80%;
  }
  hr {
    background-color: #999;
  }
  li a {
    height: 36px;
    display: inline-block;
    vertical-align: bottom;
  }
}


#main-content {
  .pencil-link {
    display: inline-block;
    padding-right: 10px;
    &:before {
      content: ' ';
      display: inline-block;
      margin: 10px;
      vertical-align: middle;
      height: 17px;
      width: 17px;
      background-repeat: no-repeat;
    }
  }
  .message-box {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 20px;
    position: relative;
    border-width: 2px;
    h3 {
      margin-bottom: 0;
    }
  }

  .message-box.primary-action-required {
    border-left-width: 30px;
    &:before {
      content: '!';
      color: white;
      position: absolute;
      left: -20px;
      font-weight: bold;
      font-size: 25px;
      top: 0;
      line-height: 5em;
    }
  }
  .message-box.action-required {
    border-color: #999;
  }
}

#content .error-reporting {
  padding-bottom: 0;
}

#case-studies {
  li {
    display: table;
    margin-bottom: 10px;
    width: 100%;

    span {
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px;
      font-weight: bold;
    }
    a {
      margin-left: 40px;
      vertical-align: super;
    }
  }
}

#content {
  form {
    &:not(.no-default-margin) {
      margin-top: 45px;
      margin-bottom: 45px;
      .button {
        margin-top: 45px;
      }
    }
  }
  input, textarea, select {
    width: 100%;
  }
}

.publish-box {
  padding-left: 20px;
  h2 {
    margin-bottom: 20px;
  }
  margin-bottom: 20px;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#online-profiles {
  h3 {
    margin-top: 0;
  }
  li {
    a {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      img {
        margin-right: 16px;
      }
      span {
        vertical-align: middle;
      }
    }
  }
}

#company-name {
  display: flex;
  align-items: center;
  a {
    line-height: 40px;
    margin-left: 15px;
  }
}


#about-company-container {
  margin-top: 2em;
  h3 {
    margin-top: 0
  }
}

#business-details-form {
  #id_number-container,
  #id_sic-container,
  #id_date_of_creation-container,
  #id_address-container {
    padding-bottom: 10px;
    margin-bottom: 0;
    border-left: 5px solid $active-blue;
    input {
      background: transparent;
      border: 0;
      padding: 0;
    }
    textarea:focus {
      overflow: hidden;
      resize: none;
    }
  }
  #id_address-container {
    margin-bottom: 20px;
  }
  textarea:focus,
  textarea:focus:active {
    outline: 3px solid $focus-yellow;
    outline-offset: 0;
  }
}

#associated-accounts-container {
  overflow: hidden;
}

.previous-step {
  margin-top: 30px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  font-size: 18px;
  display: block;
  margin-right: 20px;
}

#selected-values-container {
  padding: 30px;
  background-color: $color-info-box;

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  button {
    text-align: left;
    color: $color-alternative-text;
    background-color: $color-gov-link;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px 10px;
    margin-right: 15px;
    display: inline-block;
    font-size: 19px;
    border: 0;
    cursor: pointer;
    &:focus {
      box-shadow: 0 0 0 2pt $focus-yellow;
    }
    i{
      color: $color-alternative-text;
    }
  }
}

#selected-expertise-container {
  h2 {
    margin-top: 0;
  }
  div {
    background-color: $stone-40;
    margin-bottom: 15px;
    padding: 15px;
  }
  p {
    margin: 0;
    a {
      margin-top: 15px;
      display: inline-block;
    }
  }
}

#profile-expertise-container,
#profile-products-services-container {
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#content form input.autocomplete__input {
  z-index: auto;
}

#content {
  .autocomplete__input {
    border: 2px solid #000000;
  }
  .autocomplete__option {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
  }
}

.success-message-box {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  position: relative;
  border-width: 3px;
  border-left-width: 80px;
  border-style: solid;
  &:before {
    content: '✔';
    color: white;
    position: absolute;
    left: -50px;
    font-weight: bold;
    font-size: 36px;
  }
}

#content {
  #view-profile-js {
    width: 110px;
    background: none;
    border: none;
    font-size: 16px;
    option {
      color: initial;
    }
    option[disabled] {
      display: none;
    }
  }
  #view-profile-no-js {
    display: inline;
  }
}

@media (min-width: 641px) {
  #company-name-mobile {
    display: none;
  }
}

@media (max-width: 641px) {
  #logo-container {
    margin-left: auto;
    margin-right: auto;
  }
  #user-mode-container hr,
  #data-column hr {
    margin-left: -20px;
    margin-right: -20px;
  }
  #company-name-mobile {
    display: flex;
    align-items: center;
    a {
      top: 0;
      width: 60px;
    }
  }
  #company-name {
    display: none;
  }
  .success-message-box {
    h2 {
      margin-left: 15px;
    }
  }
  #data-column {
    & > div {
      width: 100%;
    }
  }
  #user-mode-container {
    .divider {
      display: none;
    }
    .pill {
      float: right;
    }
    .right-column {
      text-align: left;
      margin-top: 30px;
    }
  }

  .pencil-link {
    position: relative;
    top: -2em;
  }
}

.background-denim-blue {
  background-color: $denim;
}

.selected-link {
    border-left: 5px solid $active-blue;
    margin-left: -15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

form button.link {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: inherit;
}
