@import 'partials/colours';

.sso-profile-tab-container {

  ul {
    display: flex;
    flex-flow: wrap;
    li {
      a {
        font-weight: bold;
        color: $grey;
        text-decoration: none;
      }
    }
  }
}

.sso-profile-toolbar-labels-container {
  margin-top: 10px;
}

.sso-profile-toolbar-buttons-container {
  margin-top: 30px;
  text-align: right;
}

.sso-profile-toolbar-buttons-container .button,
.sso-profile-toolbar-buttons-container .link {
  font-size: 16px;
}

.sso-profile-toolbar-buttons-container .link {
  margin-left: 20px;
}

#tab-content {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
