/* Tablet
**********************/

@media (min-width: 767px) {
  #sso-profile-eig-container {
    margin-top: 50px;
  }

  .sso-profile-fab-logo-container img {
    max-width: 200px;
  }

  .sso-profile-tab-container ul {
    margin: 0;
    li {
      display: inline-block;
      &.active {
        background-color: white;
      }
      a {
        display: block;
        padding: 20px;
      }
    }
  }
}

/* Mobile
**********************/
@media (max-width: 767px) {

  /* mobile hidden elements */
  .soo-startpage-image {
    display: none;
  }

  /* mobile alternatives */
  .button-primary {
    font-size: 18px;
  }

  .h1 {
    font-size: 30px;
  }

  .sso-profile-tab-container {
    background: none;
    li {
      width: 50%;
      &.active {
        border-top: none;
        a {
          border-bottom: 5px solid #E41F13;
        }
      }
      &:nth-child(odd) a {
        margin-right: 5px;
      }
      a {
        background-color: #F0F3F2;
        border-bottom: 5px solid #F0F3F2;
        text-align: center;
        min-height: 60px;
        margin-bottom: 5px;
        padding-top: 5px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;
      }
    }
  }

  .sso-profile-toolbar-buttons-container {
    text-align: left;
  }

  .sso-profile-toolbar-labels-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  #tab-content section {
    padding: 0 20px;
  }

  .sso-profile-fab-container,
  #sso-profile-eig-container {
    margin-top: 5px;
    padding: 10px;
  }

  #sso-profile-eig-buttons {
    margin-bottom: 10px;
  }

  .sso-profile-fab-logo-container {
    margin-top: 20px;
  }

  #tab-content h2 {
    font-size: 24px;
  }
}
