
/*********
Utilities
*********/

.sso-profile-external-links-seperator {
  display: inline-block;
  font-size: 20px;
  color: #999999;
  margin-left: 13px;
  margin-right: 13px;
}

.sso-profile-fab-logo-container img {
  width: 100%;
}
