{% load static from staticfiles %}
{% block head_title %}Export Plan - great.gov.uk{% endblock %}
{% block tab_content %}
    <div class="grid-row" id="tab-content">
        <div class="column-two-thirds">
            <section id="welcome-message">
                <h2 class="heading-large margin-top-60 margin-bottom-30">Your Export Plan</h2>
                <div id="business-details-edit-form">

                </div>
            </section>
        </div>
        {% if rules_regulation %}
                <table border="1">
                     <thead>
                      <tr>
                          {% for key,value in rules_regulation.items %}
                            <th class="border-light-grey padding-top-15 padding-bottom-15" scope="col">{{ key }}</th>
                          {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                         {% for key,value in rules_regulation.items %}
                        <td class="border-white padding-top-15 padding-bottom-10">{{ value }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                </form>
        {% endif %}
    </div>
    <div>
        Country: {{ export_marketdata.corruption_perceptions_index.country_name }}<br>
        Corruption Perception Index: {{ export_marketdata.corruption_perceptions_index.cpi_score_2019 }} <br>
        Rank: {{ export_marketdata.corruption_perceptions_index.rank }}
    </div>
    <div>
        <br><br>
        Ease of doing business: {{ export_marketdata.easeofdoingbusiness.year_2019 }} of {{ export_marketdata.easeofdoingbusiness.total }} <br>
    </div>
    <div>
        <br><br>
        TimeZone: {{ export_marketdata.timezone }} <br>
        {% load tz %}
        Local time: {{ datenow|timezone:export_marketdata.timezone|date:'H:i' }} <br>
        GMT:  {{  utz_offset }}

    </div>
    <div>
        <br>
        <br>
        {% if lastyear_import_data %}
            Import into: {{ lastyear_import_data.last_year_data.import_value.country_name }} <br>
            Import Value: {{ lastyear_import_data.last_year_data.import_value.trade_value }} <br>
            Import Value: {{ lastyear_import_data.last_year_data.import_value.year_on_year_change }} <br>
            Source: Comtrade
        {% endif %}
    </div>

    <div>
        <br>
        <br>
        {% if historical_import_data.historical_import_data %}
            Historical import values UK to {{ rules_regulation.Country }}
            {% for key,value in historical_import_data.historical_import_data.historical_trade_value_partner.items %}
                <br>
                Year: {{ key }}
                Value: {{ value }}
            {% endfor %}
            <br>
            Source: Comtrade
        {% endif %}
    </div>

   <div>
        <br>
        <br>
        {% if historical_import_data.historical_import_data.historical_trade_value_all %}
            Historical import values World to {{ rules_regulation.Country }}
            {% for key,value in historical_import_data.historical_import_data.historical_trade_value_all.items %}
                <br>
                Year: {{ key }}
                Value: {{ value }}
            {% endfor %}
            <br>
            Source: Comtrade
        {% endif %}
    </div>
<br><br><br><br>
{% endblock tab_content %}
