{% extends "core/base.html" %}

{% load great_components %}

{% block css_layout_class %}export-plan-dashboard{% endblock %}

{% block content %}

{% include "exportplan/includes/sticky-header.html" %}

<section class="bg-stone-30 p-v-m">
  <div class="container">
    <div class="grid">

      <aside class="completion-status c-1-4">
       {% if not request.user.company.logo %}
            <a id="add-image" href="{% url 'exportplan:add-logo' %}" class="link">
              <img src="https://via.placeholder.com/200/dfd5c5?text=Company logo" alt="Add a business logo" class="w-full">
            </a>
        {% else %}
            <img alt="{{ request.user.company.name }}" src="{{ request.user.company.logo }}" class="w-full"/>
            <a id="edit-image"  href="{% url 'exportplan:add-logo' %}" class="link pencil-link">Edit</a>
        {% endif %}
        <h2 class="h-s">Export plan</h2>
        <p class="text-mid-grey" id="exportplan-completion-progress-indicator">20% completed</p>
        <h2 class="h-s m-b-s" id="exportplan-continue-leaning-title">Continue learning</h2>
        {% card title='Calculate consumer demand' subheading='Market research' url='#' %}
      </aside>

      <div class="section-list c-3-4" id="section-list">
        <div class="flex-grid">
          {% for section in sections %}
          <div class="c-1-3">
            <div class="bg-white m-b-s exportplan-section-item">
              <a class="w-full" href="{% url 'exportplan:section' slug=section.title|slugify %}" id="{{ section.title|slugify }}">
                <img class="w-full" src="https://via.placeholder.com/160x90/dfd5c5?text=Preview image" alt="">
                <div class="p-h-s p-b-s">
                  <h3 class="h-s">{{ section }}</h3>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
