{% extends 'core/base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="bg-blue-deep-80 hero-image-container">
  <div class="container">
    <div class="grid ">
      <div class="c-1-2 p-v-xl lh">
        <h1 class="h-l text-white">
          My export plans
        </h1>
        <a href="{% url 'exportplan:start' %}" class="button button--large button--tertiary buttton-icon"><i class="fas fa-plus-square m-r-xs"></i>Create a new plan</a>
      </div>
      <div class="c-1-2 rh p-t-m">
        <img src="{% static 'images/ep-index.png' %}" alt="">
      </div>
    </div>
  </div>
</div>
<input id="details-reveal" type="checkbox" class="button hide-show-trigger" />
<div>
  <div class="p-v-l bg-white {% if exportplan_list %}hide-show-content{% endif %} watermark-container">
    <div class="container">
      <div class="grid">
        <div class="c-1-2-m">
          <h2 class="h-m">What is an export plan?</h2>
          <p>An export plan is a business plan for selling internationally. It should detail the decisions you’ve made
            based on your market research, your objectives and how you plan to achieve them.</p>
          <p>Your export plan is a great tool to show banks, investors or partners that you’re serious and have
            realistic
            and achievable goals.</p>
          <h2 class="h-m">Why do you need one?</h2>
          <p>A well structured plan will help you:</p>
          <ul class="list-dot ">
            <li class="m-b-0">maximise your product's export potential</li>
            <li>identify risks and minimise them</li>
            <li>set out a pricing strategy</li>
            <li>present clear evidence for funding and finance</li>
            <li>make choices and set targets using data from sources like the World Bank</li>
          </ul>
        </div>
        <div class="c-1-2-m">
          <div class="g-card bg-blue-deep-10">
            <h2 class="h-s">Take your first steps towards exporting success</h2>
            <p>Put an export plan in place for your business</p>
            <a href="{% url 'exportplan:start' %}" class="button button--large button--primary buttton-icon"><i class="fas fa-plus-square m-r-xs"></i>{% if request.user.is_authenticated %}Create a  new plan{% else %}Create a free plan {% endif %}</a>
          </div>
          <div class="g-card bg-blue-deep-10 min-height-0">
            <a href="#" class="link">
              <i class="fas fa-arrow-circle-down m-r-xs"></i>See what a good export plan looks like
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if exportplan_list %}
  <div class="container m-t-m">
    <label for="details-reveal" class="button button--small button--tertiary button--teritary button--icon"> <i class="fas fa-chevron-down m-r-xxs" /></i>
      How it works</label>
  </div>
  {% endif %}
</div>
<div class="container">
  {% if exportplan_list %}
  <div class="bg-blue-deep-10">
    <div class="container p-v-s">
      <nav>
        <ul>
          {% for plan in exportplan_list %}
          {% include 'exportplan/includes/list_card.html' %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
