{% extends 'core/base.html' %}
{% load static %}
{% load render_export_plan_hero from component_tags %}
{% block head_other %}
    <meta name="description"
          content="Write your own export plan with our online tool to help you kick start your export journey" />
{% endblock %}
{% block content %}
    {% render_export_plan_hero '/static/images/export-plan-header.png' "My export plans" "Your unique business plan to launch your exports." "Create a new plan" "exportplan:start" %}
    <input id="details-reveal" type="checkbox" class="button hide-show-trigger">
    {% if exportplan_list %}
        <div class="container m-t-s">
            <label id="hide-show-button"
                   for="details-reveal"
                   class="button button--small secondary-button button--icon">
                <span role="img" class="fas fa-chevron-right govuk-!-margin-right-2" /></span>
                <span>How it works</span>
            </label>
        </div>
    {% endif %}
    <div>
        <div class="p-v-l {% if exportplan_list %}hide-show-content{% endif %} watermark-container">
            <div class="container">
                <div class="grid">
                    <div class="c-1-2-m">
                        <h2 class="h-m">What is an export plan?</h2>
                        <p>
                            An export plan is a business plan for selling internationally. It should detail the decisions you’ve made
                            based on your market research, your objectives and how you plan to achieve them.
                        </p>
                        <p>
                            Your export plan is a great tool to show banks, investors or partners that you’re serious and have
                            realistic
                            and achievable goals.
                        </p>
                        <h2 class="h-m">Why do you need one?</h2>
                        <p>A well structured plan will help you:</p>
                        <ul class="list-dot ">
                            <li class="m-b-0">maximise your product's export potential</li>
                            <li>identify risks and minimise them</li>
                            <li>set out a pricing strategy</li>
                            <li>present clear evidence for funding and finance</li>
                            <li>make choices and set targets using data from sources like the World Bank</li>
                        </ul>
                    </div>
                    <div class="c-1-2-m">
                        <div class="g-card action-wrapper">
                            <h2 class="h-s p-t-0">Take your first steps towards exporting success</h2>
                            <p>Put an export plan in place for your business</p>
                        <a href="{% url 'exportplan:start' %}"
                           class="button primary-button buttton-icon"><span role="img" class="fas fa-plus m-r-xs"></span>
                        {% if request.user.is_authenticated %}
                            Create a  new plan
                        {% else %}
                            Create a free plan
                        {% endif %}
                    </a>
                </div>
                <div class="g-card action-wrapper min-height-0">
                    <a href="{% static 'pdfs/sample_export_plan_document.pdf' %}"
                       class="link">
                        <span role="img" class="fa fa-file-pdf m-r-xs"></span>Download what a good export plan looks like
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    {% if exportplan_list %}
        <div class="export-plan-wrapper">
            <div>
                <nav>
                    <ul>
                        {% for plan in exportplan_list %}
                            <li class="m-b-s">{% include 'exportplan/includes/list_card.html' %}</li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
