{% extends "core/base.html" %}

{% load pageurl from wagtailcore_tags %}

{% block content %}
  <section>
    <div class="container">
    </div>
  </section>
    <div class="container">
       <div class="grid-row">
            <div class="column-one-half">
                {% block form_contents %}
                    <form method="post" enctype="multipart/form-data">
                        {% block form %}
                        {% csrf_token %}
                          {{ form }}
                        {% endblock %}
                        {% block form_button %}
                            <br>
                            <button class="button">Save and continue</button>
                        {% endblock %}
                        <div>
                            <br>
                            <br>
                            {% block back_link %}
                                <a class="link" href="/export-plan/dashboard/">Back</a>
                            {% endblock %}
                        </div>
                     </form>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
