{% load static %}
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style>
{% include 'exportplan/pdf_download.css' %}
</style>
</head>

<body>

<!-- Content for static frame 'footer_frame' -->
<div id="footer_content" class="text-align-right page-footer">
  <p class="body-gamma">
    Created at great.gov.uk
    &nbsp;&nbsp;&nbsp;&mdash;&nbsp;&nbsp;&nbsp;
    {% now "h:i a" %} {% now "jS F Y" %}
    &nbsp;&nbsp;&nbsp;&mdash;&nbsp;&nbsp;&nbsp;
    Page <pdf:pagenumber> of <pdf:pagecount>
  </p>
</div>

<!-- HTML Content -->

<!-- P9 cost and pricing -->
<table class="layout page-header">
  <tr>
    <td>
      <p class="body-gamma pad-t-0"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span> to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
</table>

<table class="layout">
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Cost and pricing</h1>
    </td>
  </tr>
  <tr>
    <td class="col-10-7 align-top">
      <!-- Nested table -->
      <table>
        <tr class="pad-b-2">
          <td class="col-10-10">
            <h2 class="pad-y-0">Direct cost</h2>
          </td>
        </tr>
        <tr class="pad-b-3">
          <td>
            <!-- Nested table -->
            <table class="layout">
              <tr class="pad-b-0 border-t-1-blue-deep-20">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Product costs</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.direct_costs.product_costs|default:"NA" }} per unit</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Labour per unit</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.direct_costs.labour_costs|default:"NA" }} per unit</strong></td>
              </tr>
              <tr class="pad-b-0 border-y-1-blue-deep-20 bg-colour-blue-deep-10">
                <td class="col-10-6 pad-t-05">Direct costs total</td>
                <td class="col-10-1 pad-t-05"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 text-align-right"><strong>{{ export_plan.total_direct_costs }} per unit</strong></td>
              </tr>
            </table>
            <!-- ./Nested table -->
          </td>
        </tr>

        <tr class="pad-b-2">
          <td class="col-10-10">
            <h2 class="pad-y-0">Overhead cost</h2>
          </td>
        </tr>
        <tr class="pad-b-3">
          <td>
            <!-- Nested table -->
            <table class="layout ">
              <tr class="pad-b-0 border-t-1-blue-deep-20">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Product adaptation</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.overhead_costs.product_adaption|default:"NA" }}</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Packaging and labelling</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.overhead_costs.uproduct_adaption|default:"NA" }}</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Freight and logistics</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.overhead_costs.freight_logistics|default:"NA" }}</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Agent and distributor fees</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.overhead_costs.agent_distributor_fees|default:"NA" }}</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Marketing</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.overhead_costs.marketing|default:"NA" }}</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Insurance</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.overhead_costs.insurance|default:"NA" }}</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-6 pad-t-05 border-b-1-blue-deep-20">Other overhead costs</td>
                <td class="col-10-1 pad-t-05 border-b-1-blue-deep-20"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 border-b-1-blue-deep-20 text-align-right"><strong>{{ export_plan.overhead_costs.other_overhead_costs|default:"NA" }}</strong></td>
              </tr>
              <tr class="pad-b-0 border-y-1-blue-deep-20 bg-colour-blue-deep-10">
                <td class="col-10-6 pad-t-05">Direct costs total</td>
                <td class="col-10-1 pad-t-05"><strong>GBP</strong></td>
                <td class="col-10-3 pad-t-05 text-align-right"><strong>{{ export_plan.total_overhead_costs|default:"NA" }}</strong></td>
              </tr>
            </table>
            <!-- ./Nested table -->
          </td>
        </tr>
        <tr class="pad-b-2">
          <td class="col-10-10">
            <h2 class="pad-y-0">Number of units we want to export</h2>
          </td>
        </tr>
        <tr class="pad-b-3">
          <td>
            <!-- Nested table -->
            <table class="layout">
              <tr class="pad-b-0 text-align-centre border-y-1-blue-deep-20">
                <td class="col-12-4 pad-t-05 bg-colour-blue-deep-10"><strong> units</strong></td>
                <td class="col-12-4 pad-t-05">over the next</td>
                <td class="col-12-4 pad-t-05 bg-colour-blue-deep-10"><strong> period</strong></td>
              </tr>
            </table>
            <!-- ./Nested table -->
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->
    </td>
    <td class="col-10-3 align-top">
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P1 header -->
<table class="layout layout--three-col">
  <tr>
    <td class="col-10-3">
      <h2>Export Plan</h2>
    </td>
    <td class="col-10-4 text-align-centre">
      <p class="body-alpha">{% now "h:i a" %}</p>
    </td>
    <td class="col-10-5">
     <p class="body-alpha text-align-right">{% now "jS F Y" %}</p>
    </td>
  </tr>
</table>

<!-- P1 overview -->
<table class="layout">
  <tr class="text-align-centre">
    <td class="pad-y-3">
      {% if not user.company.logo %}
      {% comment %} <img class="logo logo--cover" src="https://via.placeholder.com/600/dfd5c5?text=Company-logo"> {% endcomment %}
      <img class="logo logo--cover" src="{{host_url}}{% static 'pdf/pdf_download_logo.jpg' %}">
      {% else %}
      <img class="logo logo--cover" alt="{{ user.company.name }}" src="{{ user.company.logo }}"/>
      {% endif %}
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
  <tr>
    <td class="col-10-10">
      <h1 class="pad-t-5">{{ user.company.name|default:"British Maple Ltd" }}</h1>
      <p class="body-alpha"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span>
      <br />
      to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr>
    <td class="col-10-10">
      <p class="body-alpha pad-t-2">Owner <strong>{{ user.get_full_name|default:user.get_username }}</strong></p>
    </td>
  </tr>
  <tr class="text-align-right">
    <td class="pad-t-4">
      <img class="logo logo--great" src="http://greatcms.trade.great:8020/static/images/pdf_download_great-logo.jpg" alt="NA" />
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P2 sections -->
<table class="layout layout--two-col">
  <tr class="hr hr--red-150"><td></td></tr>
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Sections</h1>
    </td>
  </tr>
  {% for section in sections %}
  <tr class="pad-b-1">
    <td class="col-10-7">
      <p class="body-alpha">{{ section }}</p>
    </td>
    <td class="col-10-3">
      <p class="body-alpha"><strong>{{ forloop.counter|add:3}}</strong></p>
    </td>
  </tr>
  {% endfor %}
</table>

<pdf:nextpage>

<!-- P3 summary -->
<table class="layout layout--two-col">
  <tr class="hr hr--red-150"><td></td></tr>
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Summary</h1>
    </td>
  </tr>
  <tr class="pad-b-1">
    <td class="col-10-5">
      <h6>Company</h6>
      <h2>{{ user.company.name|default:"British Maple Ltd" }}</h2>
    </td>
    <td class="col-10-5">
      <h6>Product</h6>
      <h2>{{ export_plan.export_commodity_codes.0.commodity_name }}</h2>
    </td>
  </tr>
  <tr class="pad-b-1">
    <td class="col-10-5">
      <h6>Owner</h6>
      <h2>{{ user.get_full_name|default:user.get_username }}</h2>
    </td>
    <td class="col-10-5">
      <h6>HS Code</h6>
      <h2>{{ export_plan.export_commodity_codes.0.commodity_code }}</h2>
    </td>
  </tr>
  <tr class="pad-b-1">
    <td class="col-10-5">
      <h6>Contact</h6>
      <h2>{{ user.email|truncatechars:24 }}</h2>
    </td>
    <td class="col-10-5">
      <h6>Exporting to</h6>
      <h2>{{ export_plan.export_countries.0.country_name }}</h2>
    </td>
  </tr>
  <tr class="hr hr--blue-deep-100"><td></td></tr>
</table>

<table class="layout layout--two-col pad-t-3">
  <tr>
    <td class="col-10-7 align-top pad-r-2">
      <!-- Nested table -->
      <table>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h2 class="pad-t-0">Who we are</h2>
            <p class="pad-t-0">Prepopulated text from About your business section on the questions 'How you started?' and 'How you make your products'. Simon came across a book of gin recipes on a visit to The Gin Museum of London.</p>
          </td>
        </tr>
        <tr class="hr hr--blue-deep-20"><td></td></tr>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h2 class="pad-t-0">Why we want to export</h2>
            <p class="pad-t-0">Prepopulated text from Business section on the questions 'Why do you want to export'. This inspired him to recreate gin distilled in the midlands 200 hundred years ago, with a modern twist.</p>
          </td>
        </tr>
        <tr class="hr hr--blue-deep-20"><td></td></tr>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h2 class="pad-t-0">Where are we based</h2>
            <p class="pad-t-0">Prepopulated text from About your business section on the ques- tions 'Where are you based?'.</p>
          </td>
        </tr>
        <tr class="hr hr--blue-deep-20"><td></td></tr>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h2 class="pad-t-0">What is the demand for our product?</h2>
            <p class="pad-t-0">Prepopulated text from Target Market Research section on the questions 'Describe the consumer demand for your product.'</p>
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->
    </td>
    <td class="col-10-3 align-top">
      <h3 class="pad-b-1">Funding</h3>
      <h6 class="body-gamma pad-y-0">Total cost</h6>
      <p class="pad-t-0">GBP {{ export_plan.funding_and_credit.funding_amount_required }}</p>
      <h6 class="body-gamma pad-y-0">Total funding needed</h6>
      <p class="pad-t-0">GBP {{ total_funding.calculated_total_funding }}</p>

      <h3 class="pad-b-1">Cost and pricing</h3>
      <h6 class="body-gamma pad-y-0">Direct costs total</h6>
      <p class="pad-t-0">GBP {{ calculated_pricing.calculated_cost_pricing.total_direct_costs }}</p>
      <h6 class="body-gamma pad-y-0">Overhead costs total</h6>
      <p class="pad-t-0">GBP {{ calculated_pricing.calculated_cost_pricing.total_overhead_costs }}</p>

      <h3 class="pad-b-1">Getting paid</h3>
      <h6 class="body-gamma pad-y-0">Payment method</h6>
      <p class="pad-t-0"><strong>{{ getting_paid_payment_method_labe|default:"NA" }}</strong></p>
      <h6 class="body-gamma pad-y-0">Incoterms</h6>
      <p class="pad-t-0"><strong>{{ getting_paid_incoterms_transport_labe|default:"NA" }}</strong></p>
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P4 about the business -->
<table class="layout page-header">
  <tr>
    <td>
      <p class="body-gamma pad-t-0"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span> to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
</table>

<table class="layout">
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">About the business</h1>
    </td>
  </tr>
  <tr>
    <td class="col-10-7 align-top pad-r-2">
      <!-- Nested table -->
      <table>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">How we started</h3>
            <p class="pad-t-0">{{ export_plan.about_your_business.story }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Where we are based</h3>
            <p class="pad-t-0">{{ export_plan.about_your_business.location }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">How we make our product</h3>
            <p class="pad-t-0">{{ export_plan.about_your_business.processes }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Our packaging</h3>
            <p class="pad-t-0">{{ export_plan.about_your_business.packaging }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Business performance</h3>
            <p class="pad-t-0">GBP {{ export_plan.about_your_business.performance }}</p>
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->
    </td>
    <td class="col-10-3 align-top">
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P5 business objectives -->
<table class="layout page-header">
  <tr>
    <td>
      <p class="body-gamma pad-t-0"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span> to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
</table>

<table class="layout">
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Business objectives</h1>
    </td>
  </tr>
  <tr>
    <td class="col-10-7 align-top">
      <!-- Nested table -->
      <table>
        <tr class="pad-b-2">
          <td class="col-10-10">
            <h3 class="pad-y-0">Why we want to export</h3>
            <p class="pad-t-0">Dove Gin was founded in 2012 when Simon Dove started to dis- till gin in his garage in Shrewsbury. Simon came across a book of gin recipes on a visit to The Gin Museum of London. This inspired him to recreate gin distilled in the midlands 200 hundred years ago, with a modern twist.</p>
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->

      {% for objective in export_plan.company_objectives %}
      <!-- Nested table -->
      <table>
        <tr class="pad-b-2">
          <td class="col-10-10">
            <h2 class="pad-y-0">Objective {{ forloop.counter }}</h2>
            <p class="pad-t-0">{{ objective.description }}</p>
          </td>
        </tr>
        <tr class="pad-b-3">
          <td>
            <!-- Nested table -->
            <table class="layout">
              <tr class="pad-b-0">
                <td class="col-10-4">Start date:</td>
                <td class="col-10-6"><strong>{{ objective.start_date }}</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-4">End date:</td>
                <td class="col-10-6"><strong>{{ objective.end_date }}</strong></td>
              </tr>
              <tr class="pad-b-0">
                <td class="col-10-4">Owner:</td>
                <td class="col-10-6"><strong>{{ objective.owner }}</strong></td>
              </tr>
            </table>
            <!-- ./Nested table -->
          </td>
        </tr>
        <tr class="pad-b-2">
          <td class="col-10-10">
            <h3 class="pad-y-0">Planned reviews</h3>
            <p class="pad-t-0">{{ objective.planned_reviews }}</p>
          </td>
        </tr>
      </table>
      {% endfor %}
      <!-- ./Nested table -->
    </td>
    <td class="col-10-3 align-top">
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P6 target market researc -->
<table class="layout page-header">
  <tr>
    <td>
      <p class="body-gamma pad-t-0"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span> to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
</table>

<table class="layout">
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Target market research</h1>
    </td>
  </tr>
  <tr>
    <td class="col-10-7 align-top pad-r-2">
      <!-- Nested table -->
      <table>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Consumer demand for our product in {{ export_plan.export_countries.0.country_name }}</h3>
            <p class="pad-t-0">{{ export_plan.target_markets_research.demand }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Competitors in the {{ export_plan.export_countries.0.country_name }}</h3>
            <p class="pad-t-0">{{ export_plan.target_markets_research.competitors }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Local product trends</h3>
            <p class="pad-t-0">{{ export_plan.target_markets_research.trend }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Average price of our product in {{ export_plan.export_countries.0.country_name }}?</h3>
            <p class="pad-t-0">GBP {{ export_plan.target_markets_research.average_price }}</p>
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->
    </td>
   <td class="col-10-3 align-top">
      <h3 class="pad-b-1 colour-red-150">Data snapshot</h3>
      <h6 class="body-gamma pad-y-0">Total product import value in 2018 (USD)</h6>
      <p class="pad-t-0"><strong></strong></p>

      <h6 class="body-gamma pad-y-0">Total product import value from the in 2018 (USD)</h6>
      <p class="pad-t-0"><strong></strong></p>

      <h6 class="body-gamma pad-y-0">Year-to-change product import value change</h6>
      <p class="pad-t-0"><strong>&percnt;</strong></p>

      <h6 class="body-gamma pad-y-0">GDP per capita (USD)</h6>
      <p class="pad-t-0"><strong></strong></p>

      <h6 class="body-gamma pad-y-0">Average Income (USD)</h6>
      <p class="pad-t-0"><strong></strong></p>

      <h3 class="pad-y-1">Target age group</h3>
      <h6 class="body-gamma pad-y-0">Total population</h6>
      <p class="pad-t-0"><strong>million</strong></p>
      <h6 class="body-gamma pad-y-0">Total page population</h6>
      <p class="pad-t-0"><strong></strong></p>
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P7a adaptating your product -->
<table class="layout page-header">
  <tr>
    <td>
      <p class="body-gamma pad-t-0"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span> to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
</table>

<table class="layout">
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Adaptating your product</h1>
    </td>
  </tr>
  <tr>
    <td class="col-10-7 align-top pad-r-2">
      <!-- Nested table -->
      <table>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Consumer demand for our product in {{ export_plan.export_countries.0.country_name }}</h3>
            <p class="pad-t-0">{{ export_plan.target_markets_research.demand }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">
              <img class="icon icon--title" src="{{host_url}}{% static 'pdf/pdf-icon_tag.jpg' %}">
              &nbsp;
              &nbsp;
              Labeling
            </h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.labelling }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">
              <img class="icon icon--title" src="{{host_url}}{% static 'pdf/pdf-icon_dolly.jpg' %}">
              &nbsp;
              &nbsp;
              Packaging
            </h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.packaging }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">
              <img class="icon icon--title" src="{{host_url}}{% static 'pdf/pdf-icon_weight.jpg' %}">
              &nbsp;
              &nbsp;
              Size
            </h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.size }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">
              <img class="icon icon--title" src="{{host_url}}{% static 'pdf/pdf-icon_barcode.jpg' %}">
              &nbsp;
              &nbsp;
              Product changes to comply with standards
            </h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.standards }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">
              <img class="icon icon--title" src="{{host_url}}{% static 'pdf/pdf-icon_feather-alt.jpg' %}">
              &nbsp;
              &nbsp;
              Translations
            </h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.translations }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">
              <img class="icon icon--title" src="{{host_url}}{% static 'pdf/pdf-icon_money-check.jpg' %}">
              &nbsp;
              &nbsp;
              Other changes
            </h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.other_changes }}</p>
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->
    </td>
    <td class="col-10-3 align-top">
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P7b adaptating your product -->
<table class="layout page-header">
  <tr>
    <td>
      <p class="body-gamma pad-t-0"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span> to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
</table>

<table class="layout">
  <tr>
    <td class="col-10-7 align-top pad-r-2">
      <!-- Nested table -->
      <table>
        <tr class="pad-b-2 pad-t-3">
          <td class="col-10-10">
            <h2 class="pad-b-0">Documents we need to provide</h2>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Certificate of origin</h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.certificate_of_origin }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Insurance certificate</h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.insurance_certificate }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">Commercial invoice</h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.commercial_invoice }}</p>
          </td>
        </tr>

        <tr class="pad-b-1">
          <td class="col-10-10">
            <h3 class="pad-t-0">UK customs declaration</h3>
            <p class="pad-t-0">{{ export_plan.adaptation_target_market.uk_customs_declaration }}</p>
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->
    </td>
    <td class="col-10-3 align-top">
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P8 marketing approach -->
<table class="layout page-header">
  <tr>
    <td>
      <p class="body-gamma pad-t-0"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span> to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
</table>

<table class="layout">
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Marketing approach</h1>
    </td>
  </tr>
  <tr>
    <td class="col-10-7 align-top">
      {% for route in export_plan.route_to_markets %}
      <!-- Nested table -->
      <table>
        <tr class="pad-b-2">
          <td class="col-10-10">
            <h3 class="pad-y-0">Route to market {{ forloop.counter }}</h3>
            <p class="pad-t-0">{{ route.route }}</p>
          </td>
        </tr>

        <tr class="pad-b-2">
          <td class="col-10-10">
            <h3 class="pad-y-0">How do we promote our product?</h3>
            <p class="pad-t-0">{{ route.promote }}</p>
          </td>
        </tr>

        <tr class="pad-b-2">
          <td class="col-10-10">
            <h3 class="pad-y-0">What marketing resources we need?</h3>
            <p class="pad-t-0">{{ route.market_promotional_channel }}</p>
          </td>
        </tr>
      </table>
      {% endfor %}

      <table>
        <tr class="pad-b-2">
          <td class="col-10-10 align-top">
            <h3 class="pad-y-0">What marketing resources do we need?</h3>
            <p class="pad-t-0">{{ marketing_approach.resources }}</p>
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->
    </td>
    <td class="col-10-3 align-top">
      <h3 class="pad-b-1 colour-red-150">Data snapshot</h3>

      <h6 class="body-gamma pad-y-0">Total population</h6>
      <p class="pad-t-0"><strong></strong></p>
      <h6 class="body-gamma pad-y-0">Access to internet</h6>
      <p class="pad-t-0"><strong></strong></p>
      <h6 class="body-gamma pad-y-0">Consumer pice index</h6>
      <p class="pad-t-0"><strong></strong></p>
      <h6 class="body-gamma pad-y-0">The main languages in your chosen market are</h6>
      <p class="pad-t-0"><strong></strong></p>
      <h6 class="body-gamma pad-y-0">GDP per capita (USD)</h6>
      <p class="pad-t-0"><strong></strong></p>

      <h3 class="pad-y-1">Target age group</h3>

      <h6 class="body-gamma pad-y-0">Target age population</h6>
      <p class="pad-t-0"><strong>million</strong></p>
      <h6 class="body-gamma pad-y-0">Female in target group</h6>
      <p class="pad-t-0"><strong>million</strong></p>
      <h6 class="body-gamma pad-y-0">Male in target group</h6>
      <p class="pad-t-0"><strong>million</strong></p>
      <h6 class="body-gamma pad-y-0">Livng in uban areas</h6>
      <p class="pad-t-0"><strong>&percnt;</strong></p>
      <h6 class="body-gamma pad-y-0">FLivng in rural areas</h6>
      <p class="pad-t-0"><strong>&percnt;</strong></p>
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- Reference -->
<div class="page">
  <p>Export Plan {% now "jS F Y" %} {% now "h:i a" %}</p>
  <p>Company: {{ user.company.name }}</p>
  <p>Company: <span class="colour-red-1">Versuvius Gin</span></p>
  <p>Owner: {{ user.get_full_name|default:user.get_username }}</p>
  <p>Email: {{ user.email}}</p>
  <p>Product: {{ export_plan.export_commodity_codes.0.commodity_name }}</p>
  <p>HS Code: {{ export_plan.export_commodity_codes.0.commodity_code }}</p>
  <p>Exporting to: {{ export_plan.export_countries.0.country_name }}</p>

  <h2>Funding</h2>
  <p>Total Costs: GDP {{ export_plan.funding_and_credit.funding_amount_required }}</p>
  <p>Total Funding: GDP {{ total_funding.calculated_total_funding }}</p>

  <h2>Cost and Pricing</h2>
  <p>Direct Costs Total: GDP {{ calculated_pricing.calculated_cost_pricing.total_direct_costs }}</p>
  <p>Overhead Costs Total: GDP {{ calculated_pricing.calculated_cost_pricing.total_overhead_costs }}</p>
</div>

  <h2>Business Objectives</h2>
  {% for objective in export_plan.company_objectives %}
  <p>Objective {{ forloop.counter }}</p>
  <p>Description: {{ objective.description }}</p>
  <p>Start date: {{ objective.start_date }}</p>
  <p>End date: {{ objective.end_date }}</p>
  <p>Owner: {{ objective.owner }}</p>
  <p>Reviews: {{ objective.planned_reviews }}</p>
  {% endfor %}
</div>


</body>
</html>
