{% load static %}
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style>
{% include 'exportplan/pdf_download.css' %}
</style>
</head>

<body>

<!-- Content for static frame 'footer_frame' -->
<div id="footer_content" class="text-align-right page-footer">
  Page <pdf:pagenumber> of <pdf:pagecount>
</div>

<!-- HTML Content -->

<!-- P1 header -->
<table class="layout layout--three-col">
  <tr>
    <td class="col-10-3">
      <h2>Export Plan</h2>
    </td>
    <td class="col-10-4 text-align-centre">
      <p class="body-alpha">{% now "h:i a" %}</p>
    </td>
    <td class="col-10-5">
     <p class="body-alpha text-align-right">{% now "jS F Y" %}</p>
    </td>
  </tr>
</table>

<!-- P1 overview -->
<table class="layout">
  <tr class="text-align-centre">
    <td class="pad-y-1">
      <img class="logo logo--cover" src="{{host_url}}{% static 'pdf/pdf_download_logo.jpg' %}"/>
    </td>
  </tr>
  <tr class="hr hr--red-150"><td></td></tr>
  <tr>
    <td class="col-10-10">
      <h1 class="pad-t-5">{{ user.company.name|default:"British Maple Ltd" }}</h1>
      <p class="body-alpha"><strong>Exporting <span class="colour-red-150">{{ export_plan.export_commodity_codes.0.commodity_name }}</span>
      <br />
      to <span class="colour-red-150">{{ export_plan.export_countries.0.country_name }}</span></strong></p>
    </td>
  </tr>
  <tr>
    <td class="col-10-10">
      <p class="body-alpha pad-t-2">Owner <strong>{{ user.get_full_name|default:user.get_username }}</strong></p>
    </td>
  </tr>
  <tr class="text-align-right">
    <td class="pad-t-4">
      <img class="logo logo--great" src="{{host_url}}{% static 'pdf/pdf_download_great-logo.jpg' %}" alt="NA" />
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- P2 sections -->
<table class="layout layout--two-col">
  <tr class="hr hr--red-150"><td></td></tr>
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Sections</h1>
    </td>
  </tr>
  {% for section in sections %}
  <tr class="pad-b-1">
    <td class="col-10-7">
      <p class="body-alpha">{{ section }}</p>
    </td>
    <td class="col-10-3">
      <p class="body-alpha"><strong>{{ forloop.counter|add:2}}</strong></p>
    </td>
  </tr>
  {% endfor %}
</table>

<pdf:nextpage>

<!-- P3 summary -->
<table class="layout layout--two-col">
  <tr class="hr hr--red-150"><td></td></tr>
  <tr>
    <td>
      <h1 class="pad-t-3 pad-b-2">Summary</h1>
    </td>
  </tr>
  <tr class="pad-b-1">
    <td class="col-10-5">
      <h6>Company</h6>
      <h2>{{ user.company.name|default:"British Maple Ltd" }}</h2>
    </td>
    <td class="col-10-5">
      <h6>Product</h6>
      <h2>{{ export_plan.export_commodity_codes.0.commodity_name }}</h2>
    </td>
  </tr>
  <tr class="pad-b-1">
    <td class="col-10-5">
      <h6>Owner</h6>
      <h2>{{ user.get_full_name|default:user.get_username }}</h2>
    </td>
    <td class="col-10-5">
      <h6>HS Code</h6>
      <h2>{{ export_plan.export_commodity_codes.0.commodity_code }}</h2>
    </td>
  </tr>
  <tr class="pad-b-1">
    <td class="col-10-5">
      <h6>Contact</h6>
      <h2>{{ user.email|truncatechars:24 }}</h2>
    </td>
    <td class="col-10-5">
      <h6>Exporting to</h6>
      <h2>{{ export_plan.export_countries.0.country_name }}</h2>
    </td>
  </tr>
  <tr class="hr hr--blue-deep-100"><td></td></tr>
</table>

<table class="layout layout--two-col pad-t-3">
  <tr>
    <td class="col-10-7 align-top pad-r-2">
      <!-- Nested table -->
      <table>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h2 class="pad-t-0">Who we are</h2>
            <p class="pad-t-0">Prepopulated text from About your business section on the questions 'How you started?' and 'How you make your products'. Simon came across a book of gin recipes on a visit to The Gin Museum of London.</p>
          </td>
        </tr>
        <tr class="hr hr--blue-deep-20"><td></td></tr>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h2 class="pad-t-0">Why we want to export</h2>
            <p class="pad-t-0">Prepopulated text from Business section on the questions 'Why do you want to export'. This inspired him to recreate gin distilled in the midlands 200 hundred years ago, with a modern twist.</p>
          </td>
        </tr>
        <tr class="hr hr--blue-deep-20"><td></td></tr>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h2 class="pad-t-0">Where are we based</h2>
            <p class="pad-t-0">Prepopulated text from About your business section on the ques- tions 'Where are you based?'.</p>
          </td>
        </tr>
        <tr class="hr hr--blue-deep-20"><td></td></tr>
        <tr class="pad-b-1">
          <td class="col-10-10">
            <h2 class="pad-t-0">What is the demand for our product?</h2>
            <p class="pad-t-0">Prepopulated text from Target Market Research section on the questions 'Describe the consumer demand for your product.'</p>
          </td>
        </tr>
      </table>
      <!-- ./Nested table -->
    </td>
    <td class="col-10-3 align-top">
      <h3 class="pad-b-1">Funding</h3>
      <h6 class="body-gamma pad-y-0">Total cost</h6>
      <p class="pad-t-0">GBP {{ export_plan.funding_and_credit.funding_amount_required }}</p>
      <h6 class="body-gamma pad-y-0">Total funding needed</h6>
      <p class="pad-t-0">GBP {{ total_funding.calculated_total_funding }}</p>

      <h3 class="pad-b-1">Cost and pricing</h3>
      <h6 class="body-gamma pad-y-0">Direct costs total</h6>
      <p class="pad-t-0">GBP {{ calculated_pricing.calculated_cost_pricing.total_direct_costs }}</p>
      <h6 class="body-gamma pad-y-0">Overhead costs total</h6>
      <p class="pad-t-0">GBP {{ calculated_pricing.calculated_cost_pricing.total_overhead_costs }}</p>

      <h3 class="pad-b-1">Getting paid</h3>
      <h6 class="body-gamma pad-y-0">Payment method</h6>
      <p class="pad-t-0"><strong>{{ getting_paid_payment_method_labe|default:"NA" }}</strong></p>
      <h6 class="body-gamma pad-y-0">Incoterms</h6>
      <p class="pad-t-0"><strong>{{ getting_paid_incoterms_transport_labe|default:"NA" }}</strong></p>
    </td>
  </tr>
</table>

<pdf:nextpage>

<!-- Reference -->
<div class="page">
  <p>Export Plan {% now "jS F Y" %} {% now "h:i a" %}</p>
  <p>Company: {{ user.company.name }}</p>
  <p>Company: <span class="colour-red-1">Versuvius Gin</span></p>
  <p>Owner: {{ user.get_full_name|default:user.get_username }}</p>
  <p>Email: {{ user.email}}</p>
  <p>Product: {{ export_plan.export_commodity_codes.0.commodity_name }}</p>
  <p>HS Code: {{ export_plan.export_commodity_codes.0.commodity_code }}</p>
  <p>Exporting to: {{ export_plan.export_countries.0.country_name }}</p>

  <h2>Funding</h2>
  <p>Total Costs: GDP {{ export_plan.funding_and_credit.funding_amount_required }}</p>
  <p>Total Funding: GDP {{ total_funding.calculated_total_funding }}</p>

  <h2>Cost and Pricing</h2>
  <p>Direct Costs Total: GDP {{ calculated_pricing.calculated_cost_pricing.total_direct_costs }}</p>
  <p>Overhead Costs Total: GDP {{ calculated_pricing.calculated_cost_pricing.total_overhead_costs }}</p>

  <h2>Getting Paid</h2>
  <p>Payment Method: {{  getting_paid_payment_method_label }}</p>
  <p>Incoterms: {{  getting_paid_incoterms_transport_label }}</p>

  <h2>Business Objectives</h2>
  {% for objective in export_plan.company_objectives %}
  <p>Objective {{ forloop.counter }}</p>
  <p>Description: {{ objective.description }}</p>
  <p>Start date: {{ objective.start_date }}</p>
  <p>End date: {{ objective.end_date }}</p>
  <p>Owner: {{ objective.owner }}</p>
  <p>Reviews: {{ objective.planned_reviews }}</p>
  {% endfor %}
</div>
</body>
</html>
