{% load static %}
{% load humanize %}
{% load tz %}
{% load object_tags %}
{% load content_tags %}
<html lang="en-gb">
    <head>
        <title>{% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %} - pdf download</title>
        <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <style>{% include 'exportplan/includes/pdf/pdf_download.css' %}</style>
    </head>
    <body>
        <pdf:nexttemplate name="title_page" />
        <!-- Content for static frame 'footer_frame' -->
        <div id="footer_content" class="text-align-right page-footer">
            <p class="body-s">
                Created at {% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %}
                &nbsp;&nbsp;&nbsp;–&nbsp;&nbsp;&nbsp;
                {% timezone "Europe/London" %}
                {% now "h:i A" %} {% now "jS F Y" %}
                &nbsp;&nbsp;&nbsp;–&nbsp;&nbsp;&nbsp;
            {% endtimezone %}
            Page <pdf:pagenumber> of <pdf:pagecount>
        </p>
    </div>
    <div id="header_content">
        <p class="body-s pad-t-0">
            <strong class="colour-red-150">{{ export_plan.data.name }}</strong>
        </p>
        <div class="hr hr--red-150">&nbsp;</div>
    </div>
    <!-- HTML Content -->
    <!-- P1 header -->
    <table class="layout">
        <tr>
            <td class="col-10-3">&nbsp;</td>
            <td class="col-10-4 text-align-centre">
                <p class="body-l pad-l-5">
                    {% timezone "Europe/London" %}
                    {% now "h:i A" %}
                {% endtimezone %}
            </p>
        </td>
        <td class="col-10-5">
            <p class="body-l text-align-right">{% now "jS F Y" %}</p>
        </td>
    </tr>
</table>
<!-- P1 overview -->
<table class="layout">
    <tr class="text-align-centre">
        <td class="pad-y-3">
            {% if user.company.logo %}
                <img class="logo logo--cover"
                     alt="{{ user.company.name }}"
                     src="{{ user.company.logo }}" />
            {% endif %}
        </td>
    </tr>
    <tr class="hr hr--red-150">
        <td></td>
    </tr>
    <tr>
        <td class="col-10-10">
            <h1 class="pad-t-5 pad-b-3">Export Plan</h1>
            <p class="body-l">
                <strong class="colour-red-150">{{ export_plan.data.name }}</strong>
            </p>
        </td>
    </tr>
    <tr class="text-align-right">
        <td class="pad-t-4">
            <img class="logo logo--great"
                 src="{{ pdf_statics_url }}pdf/logo_dbt_red.png"
                 alt="NA" />
        </td>
    </tr>
</table>
<pdf:nextpage>
<!-- TOC -->
<div>
    <div class="hr hr--red-150">&nbsp;</div>
    <h1 class="pad-t-3 pad-b-2 no-toc">Sections</h1>
    <pdf:toc />
</div>
<pdf:nexttemplate name="summary_page" />
<pdf:nextpage>
<pdf:nexttemplate name="section_page" />
<!-- P3 summary -->
<div class="hr hr--red-150">&nbsp;</div>
<h1 class="m-t-s">Summary</h1>
<table class="layout">
    <tr class="pad-b-1">
        <td class="col-10-5">
            <h6>Product</h6>
            {% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.export_commodity_codes.0.commodity_name tag="h2" lines=1 %}
        </td>
        <td class="col-10-5">
            <h6>Exporting to</h6>
            {% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.export_country_name tag="h2" lines=1 %}
        </td>
    </tr>
</table>
<div class="hr hr--blue-deep-100">&nbsp;</div>
<pdf:nextframe>
<h3 class="pad-b-1">Funding</h3>
<h6 class="body-s pad-y-0">Total cost</h6>
<p class="pad-t-0">
    GBP {{ export_plan.data.funding_and_credit.override_estimated_total_cost|floatformat:0|intcomma|default:"___________________" }}
</p>
<h6 class="body-s pad-y-0">Total funding needed</h6>
<p class="pad-t-0">
    GBP {{ export_plan.data.funding_and_credit.funding_amount_required|floatformat:0|intcomma|default:"___________________" }}
</p>
<h3 class="pad-b-1">Cost and pricing</h3>
<h6 class="body-s pad-y-0">Direct costs total</h6>
<p class="pad-t-0">
    GBP {{ calculated_pricing.calculated_cost_pricing.total_direct_costs|floatformat:2|intcomma|default:"___________________" }} per unit
</p>
<h6 class="body-s pad-y-0">Overhead costs total</h6>
<p class="pad-t-0">
    GBP {{ calculated_pricing.calculated_cost_pricing.total_overhead_costs|floatformat:2|intcomma|default:"___________________" }}
</p>
<h3 class="pad-b-1">Getting paid</h3>
<h6 class="body-s pad-y-0">Payment method</h6>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.getting_paid.payment_method.payment_method_label lines=3 tag_class="pad-t-0" rule_class="pad-y-2" tag_wrap_data="strong" %}
<h6 class="body-s pad-y-0">Incoterms</h6>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.getting_paid.incoterms.incoterms_transport_label lines=3 tag_class="pad-t-0" rule_class="pad-y-2" tag_wrap_data="strong" %}
<pdf:nextframe>
<h2>Who we are</h2>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.about_your_business.story lines=4 tag_class="pad-t-0" %}
{% if export_plan.data.about_your_business.story %}<div class="hr hr--blue-deep-20 m-t-s">&nbsp;</div>{% endif %}
<h3>Where we are based</h3>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.about_your_business.location lines=4 tag_class="pad-t-0" %}
{% if export_plan.data.about_your_business.location %}<div class="hr hr--blue-deep-20 m-t-s">&nbsp;</div>{% endif %}
<h2>Why we want to export</h2>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.objectives.rationale lines=4 tag_class="pad-t-0" %}
{% if export_plan.data.objectives.rationale %}<div class="hr hr--blue-deep-20 m-t-s">&nbsp;</div>{% endif %}
<h2 class="pad-t-0">What is the demand for our product?</h2>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.target_markets_research.demand lines=4 tag_class="pad-t-0" %}
<pdf:nexttemplate name="section_page" />
<pdf:nextpage>
<h1>About the business</h1>
<h3>How we started</h3>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.about_your_business.story lines=4 tag_class="pad-t-0" %}
<h3>Where we are based</h3>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.about_your_business.location lines=4 tag_class="pad-t-0" %}
<h3>How we make our product</h3>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.about_your_business.processes lines=4 tag_class="pad-t-0" %}
<h3>Our packaging</h3>
{% include "exportplan/includes/pdf/pdf_blank.html" with data=export_plan.data.about_your_business.packaging lines=4 tag_class="pad-t-0" %}
<h3>Business performance</h3>
{% if export_plan.data.about_your_business.performance %}
    <p>Annual turnover: GBP {{ export_plan.data.about_your_business.performance }}</p>
{% else %}
    {% include "exportplan/includes/pdf/pdf_blank.html" with lines=1 %}
{% endif %}
{% include 'exportplan/includes/pdf/pdf_section_business_objectives.html' %}
{% include 'exportplan/includes/pdf/pdf_section_target_market_research.html' %}
{% include 'exportplan/includes/pdf/pdf_section_adapting_your_product.html' %}
{% include 'exportplan/includes/pdf/pdf_section_marketing_approach.html' %}
{% include 'exportplan/includes/pdf/pdf_section_cost_and_pricing.html' %}
{% include 'exportplan/includes/pdf/pdf_section_funding_and_credit.html' %}
{% include 'exportplan/includes/pdf/pdf_section_travel_plan.html' %}
{% include 'exportplan/includes/pdf/pdf_section_business_risks.html' %}
</body>
</html>
