@media print {
  @page {
    size: a4 portrait;
    @frame header_frame {
      /* Static Frame */
      -pdf-frame-border: 1;
      -pdf-frame-content: header_content;
      left: 40pt;
      width: 512pt;
      top: 50pt;
      height: 40pt;
    }
    @frame content_frame {
      /* Content Frame */
      -pdf-frame-border: 1;
      left: 40pt;
      width: 512pt;
      top: 90pt;
      height: 632pt;
    }
    @frame footer_frame {
      /* Another static Frame */
      -pdf-frame-border: 1;
      -pdf-frame-content: footer_content;
      left: 40pt;
      width: 512pt;
      top: 772pt;
      height: 20pt;
    }
  }

  h1 {
    color: red;
  }
  pdftoc.pdftoclevel0 {
    font-weight: bold;
    margin-top: 0.5em;
  }
  pdftoc.pdftoclevel1 {
    margin-left: 1em;
  }
  pdftoc.pdftoclevel2 {
    margin-left: 2em;
    font-style: italic;
  }
}
