{% extends "core/base.html" %}
{% load static %}

{% block css_layout_class %}export-plan-builder{% endblock %}

{% block content %}

{% include "exportplan/includes/sidebar.html" %}
{% include "core/includes/personalisation_bar.html" with profile=request.user.company %}

<section class="main-section bg-stone-50 {{ view.slug }}-content" id="{{ view.slug }}-content">

  <section class="container">
    <div class="grid">
      <div class="c-1-3">&nbsp;</div>
      <div class="c-1-2 p-t-xl p-b-s">
        {% block intro_content %}{% endblock %}
      </div>
    </div>
  </section>

  {% block banner_image %}
    <img src="https://via.placeholder.com/1600x200/dfd5c5?text=Banner image" alt="" class="width-full banner-image">
  {% endblock %}

  <section class="container">

    <div class="grid">
      <div class="c-1-3">&nbsp;</div>
      <div class="c-2-3">
        {% block main_content %}{% endblock %}
      </div>
    </div>
  </section>

  {% block user_input %}{% endblock %}

  {% block additional_content %}{% endblock %}

  <hr class="m-t-0">

  <section class="p-b-xl">
    <div class="container">
      <div class="grid bottom-nav">
        <div class="c-1-4">&nbsp;</div>
        <div class="c-1-3">
          {% if next_section %}
            <p class="m-b-0">Next</p>
            <a class="h-l" href="{{ next_section.url }}">{{ next_section.title }}</a>
          {% endif %}
          <div class="m-t-s m-b-s"><a href="/export-plan">Back to Export Plan</a></div>
        </div>
        <div class="c-1-3">
          <img src="{% static 'images/export-plan-bottom-nav.png' %}" alt="" />
        </div>
      </div>
    </div>
  </section>

</section>

{% endblock %}
