{% extends './base.html' %}
{% load static %}
{% load company_filters %}
{% load pagination from component_tags %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    Investment support directory find a specialist search
    {{ block.super }}
{% endblock %}
{% block meta_title %}Investment support directory find a specialist search {{ block.super }}{% endblock %}
{% block content %}
    <section class="light-blue-background govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Find a UK specialist</h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half-from-desktop">
                    {% include 'international/includes/company/search_form.html' with label='Search for the skills or services you need' %}
                </div>
            </div>
        </div>
    </section>
    <section id="results-section"
             class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter-from-desktop">
                    {% include 'international/includes/company/filters.html' with form=form %}
                </div>
                <div class="govuk-grid-column-three-quarters-from-desktop">
                    {% if results %}
                        {% include 'international/includes/company/results_header.html' %}
                        <div class="govuk-!-margin-bottom-4">
                            {% for company in results %}
                                {% url 'international_investment_support_directory:specialist-profile' company_number=company.number as profile_link %}
                                {% append_search_back_url profile_link request.get_full_path as profile_link %}
                                {% include 'international/includes/company/list_item.html' with logo=company.logo title=company.name link_url=profile_link company=company %}
                            {% endfor %}
                        </div>
                        {% if page_obj.has_other_pages %}
                        {% pagination page_obj=page_obj elided_page_range=elided_page_range %}
                        {% endif %}
                    {% else %}
                        <h3 class="govuk-heading-m">No UK businesses match your search</h3>
                        <p class="govuk-body">Try different filters or a new search term.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
