.target-age-group-insights {
  figcaption {
    position: relative;
  }

  .educational-moment--tooltip-container {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  &__select-button {
    font-size: 24px;
    font-weight: 600;
  }

  &__source {
    color: #888;
    font-size: 12px;
    margin-top: 16px;
  }
}
