.guide-edit-panel {
    border: 1px solid $great-light-grey;
}

.bci-map__subregion {
    width: 76px;
}

.bci-map__region {
    width: 197px;
}

.bci-table-header{
    width: 33.33%;
}

.bci-table-header__region{
    @media (min-width: 641px) {
        width: 50%;
    }
}

.bci-table-header__stat{
    @media (min-width: 641px) {
        width: 25%;
    }
}
