.salary-rent-component {
    background-color: #f4f4f4;
  
    .govuk-tabs__list-item {
        background-color: white;
    }
  
    .govuk-tabs__panel {
        background-color: white;
    }
  
    .govuk-form-group {
        margin-bottom: 10px;
    }
  
    .salary-rent-component-body {
        background-color: white;
    
        .source-text {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
}