<html>
    <head>
        <script src="../../../node_modules/wct-browser-legacy/browser.js"></script>
        <script type="module" src="logo.js"></script>
    </head>
    <body>
        <great-logo size="sm"></great-logo>
        <script>
            suite('logo', function() {
                const logo = document.body.querySelector('great-logo')

                test('renders', function() {
                    assert.equal(logo.getAttribute('size'), 'sm')
                })
            })
        </script>
    </body>
</html>
