.great-mvp-signup-modal {
}

// the close button opens inside the modal. in the DOM the modal is not a child element of the react component
.great-mvp-close {
    width: 100%;
    fontSize: 19px;
    display: inline-block;
    text-align: right;
}
