.great-mvp-signup-wizard-step-3 {
    .great-mvp-button {
        background: #333;
        color: #ffffff;
        width: 300px;
    }

    h2 {
        margin-bottom: 0;
        margin-top: 25px;
        margin-bottom: 35px;
    }

    .great-mvp-subtitle {
        font-size: 19px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .great-mvp-synopsis {
        font-size: 19px;
        margin-bottom: 30px;
        margin-bottom: 30px;
        padding-top: 45px;
        text-align: left;
    }

    .great-mvp-terms {
        fontSize: 19px;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    .great-mvp-submit {
        margin-bottom: 15px;
        height: 41px;
        font-size: 19px;
        cursor: pointer;
    }
  
}
