{% load wagtailimages_tags %}
{% load static %}
<style>
    .great-hero-no-image {
        background-image: url({% static 'images/international-buy-from-the-uk-hero.jpg' %});
    }
</style>
<section class="great-hero {% if not hero_image %}great-hero-no-image{% endif %}"
         id="hero">
    <div class="great-container">
        <div class="great-hero__container govuk-grid-row">
            <div class="great-hero__text govuk-grid-column-one-half-from-desktop">
                <div class="buy-from-the-uk-home-strapline-container govuk-!-padding-5">
                    <h1 class="govuk-heading-l great-hero-heading">Buy from the UK</h1>
                    <p class="govuk-body-m great-hero-subheading">
                        Find UK suppliers with products and services that are valued worldwide for their quality, creativity and reliability.
                    </p>
                </div>
            </div>
            <div class="govuk-grid-column-one-half-from-desktop"></div>
        </div>
    </div>
</section>
