@import 'helpers/colours';
@import '@src/stylesheets/_WizardStep';

.great-mvp-signup-wizard-step-credentials {
  .great-mvp-wizard-step-button,
  input {
    width: 100%;
  }
  .great-mvp-vertical-separator {
      margin-top: 20px;
      margin-bottom: 20px;

      span {
        display: inline-block;
        font-size: 19px;
        width: 20%;
        text-align: center;
        margin: 0;
      }

      hr {
        vertical-align: middle;
        width: 40%;
        display: inline-block;
        background: $mid-grey;
        margin: 0;
      }
  }

  .great-mvp-field-input {
      margin-bottom: 20px;
  }
}
