{% load static %}

<aside class="gutter-top">
    <nav>
        <ul>
            <li><a href="#" class="card-heading text-12">Dashboard</a></li>
            <li><a href="#" class="card-heading text-12 inactive-link">Learn</a></li>
            <li><a href="#" class="card-heading text-12 inactive-link">Export plan</a></li>
            <li><a href="#" class="card-heading text-12 inactive-link">Inbox</a></li>
            <li><a href="#" class="card-heading text-12 inactive-link">Business profile</a></li>
            <li><a href="#" class="card-heading text-12 inactive-link">Export opportunities</a></li>
            <li><a href="#" class="card-heading text-12 inactive-link">Help</a></li>
        </ul>
    </nav>
</aside>
