{% extends 'directory_components/base.html' %}
{% load static %}
{% load static_absolute from directory_components %}

{% block head_title %}Welcome to great.gov.uk{% endblock %}

{% block head_css %}
    <link href="{% static 'ditMVP.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'ditMVP.js' %}"></script> 
{% endblock %}

{% block body_header %}
    {% include 'core/header.html' %}
{% endblock %}

{% block body_js %}
    {{ block.super }}
    {% if not request.user.is_authenticated %}
    <script type="text/javascript">
        var element = document.getElementById("header-sign-up-link")
        if (element) {
            ditMVP.setConfig({
                loginUrl: '{% url "sso:business-sso-login-api" %}',
                signupUrl: '{% url "sso:business-sso-create-user-api" %}',
                verifyCodeUrl: '{% url "sso:business-sso-verify-code-api" %}',
                csrfToken: '{{ csrf_token }}',
                linkedInUrl: '{{ signup_modal.linkedin_url }}',
                googleUrl: '{{ signup_modal.google_url }}',
                termsUrl: '{{ signup_modal.terms_url }}'
            })

            {% if 'verify' in request.GET %}
                var step = ditMVP.STEP_VERIFICATION_CODE;
                var isOpen = true;
                var username = request.GET.verify;
            {% else %}
                var step = ditMVP.STEP_CREDENTIALS;
                var isOpen = false;
                var username = ''
            {% endif %}

            ditMVP.SignupModal({
                element: element.parentElement,
                currentStep: step,
                isOpen: isOpen,
                username: username
            })
        }
    </script>
    {% endif %}
{% endblock %}


{% block body_footer %}
{% endblock %}
