{% extends 'great_components/base.html' %}
{% load static %}
{% load static_absolute from great_components %}

{% block head_title %}Welcome to great.gov.uk{% endblock %}

{% block head_css %}
    <link href="{% static 'ditMVP.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block head_js %}
  {{ block.super }}
    <script type="text/javascript" src="{% static 'ditMVP.js' %}"></script>
{% endblock %}

{% block body_header %}
	{% include 'core/header.html' %}
{% endblock %}


{% block body_content_container %}
  <main id="content" class="{% block css_layout_class %}{% endblock %}">
      {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block cookie_notice %}{% endblock %}

{% block body_footer %}
  <div class="bg-stone p-v-l">
    &nbsp;
  </div>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script type="text/javascript">
        {% if tour %}
            var element = document.createElement('div');
            document.body.appendChild(element);
            ditMVP.Tour({
                element: element,
                isOpenModal: true,
                steps: {{ tour.steps|safe }},
                title: '{{ tour.title }}',
                body: '{{ tour.body }}',
                buttonText: '{{ tour.button_text }}',
                disableTourCookieName: 'disable-tour-{{ page.content_type }}'
            })
        {% endif %}
    </script>
{% endblock %}
