{% extends 'great_components/base.html' %}
{% load static %}
{% load static_absolute from great_components %}
{% load url_map %}
{% load to_json %}

{% block head_title %}
  {% if page.title %}
    {{ page.title }} | great.gov.uk
  {% else %}
    Welcome to great.gov.uk
  {% endif %}
{% endblock %}

{% block head_css %}
    <link href="{% static 'styles.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block head_js %}
  {{ block.super }}
    <script type="text/javascript" src="{% static 'magna.js' %}"></script>

    <script type="text/javascript">
      var product = '{{ request.user.export_plan.data.export_commodity_codes.0.commodity_code }}';
      var country = '{{ request.user.export_plan.data.export_countries.0.country_name }}';
      var dataLayer = window.dataLayer || []
      dataLayer.push({
        'productAdded': product || "False",
        'marketAdded': country || "False",
      });
       // static values that will not be updated by user interacting with react components
      magna.setConfig({
          apiLoginUrl: '{% url "sso:business-sso-login-api" %}',
          apiLogoutUrl: '{% url "sso:business-sso-logout-api" %}',
          apiLookupProductUrl: '{% url "core:api-lookup-product" %}',
          apiLookupProductScheduleUrl: '{% url "core:api-lookup-product-schedule" %}',
          apiCountriesUrl: '{% url "core:api-countries" %}',
          apiSuggestedCountriesUrl: '{% url "core:api-suggested-countries" %}',
          apiSignupUrl: '{% url "sso:business-sso-create-user-api" %}',
          apiUpdateCompanyUrl:  '{% url "core:api-update-company" %}',
          apiUpdateExportPlanUrl: '{% url "exportplan:api-update-export-plan" %}',
          apiObjectivesUpdateUrl: '{% url "exportplan:api-objectives-update" %}',
          apiObjectivesCreateUrl: '{% url "exportplan:api-objectives-create" %}',
          apiObjectivesDeleteUrl: '{% url "exportplan:api-objectives-delete" %}',
          apiRouteToMarketCreateUrl: '{% url "exportplan:api-route-to-markets-create" %}',
          apiRouteToMarketUpdateUrl: '{% url "exportplan:api-route-to-markets-update" %}',
          apiRouteToMarketDeleteUrl: '{% url "exportplan:api-route-to-markets-delete" %}',
          apiTargetMarketDocumentsCreateUrl: '{% url "exportplan:api-target-markets-documents-create" %}',
          apiTargetMarketDocumentsUpdateUrl: '{% url "exportplan:api-target-markets-documents-update" %}',
          apiTargetMarketDocumentsDeleteUrl: '{% url "exportplan:api-target-markets-documents-delete" %}',
          apiFundingCreditOptionsCreateUrl: '{% url "exportplan:api-funding-credit-options-create" %}',
          apiFundingCreditOptionsUpdateUrl: '{% url "exportplan:api-funding-credit-options-update" %}',
          apiFundingCreditOptionsDeleteUrl: '{% url "exportplan:api-funding-credit-options-delete" %}',
          apiModelObjectManageUrl: '{% url "exportplan:api-model-object-manage" %}',
          countriesBySectorsDataUrl: '{% url "exportplan:ajax-recommended-countries-data" %}',
          apiComTradeDataUrl: '{% url "core:api-comtrade-data" %}',
          apiCountryDataUrl: '{% url "core:api-country-data" %}',
          removeSectorUrl: '{% url "exportplan:api-remove-sector" %}',
          countryAgeGroupDataUrl: '{% url "exportplan:api-target-age-country-population-data" %}',
          populationByCountryUrl: '{% url "exportplan:api-population-data-by-country" %}',
          updateCalculateCostAndPricing: '{% url "exportplan:api-calculate-cost-and-pricing" %}',
          societyByCountryUrl: '{% url "exportplan:api-society-data-by-country" %}',
          countryOptions: {{ javascript_components.country_choices|safe }},
          csrfToken: '{{ csrf_token }}',
          dashboardUrl: '{% url_map "dashboard" %}',
          googleUrl: '{{ javascript_components.google_url }}',
          industryOptions: {{ javascript_components.industry_options|safe }},
          linkedInUrl: '{{ javascript_components.linkedin_url }}',
          loginUrl: '{% url "core:login" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}',
          signupUrl: '{% url "core:signup" %}',
          passwordResetUrl: '{{ javascript_components.password_reset_url }}',
          removeCountryDataUrl: '{% url "exportplan:api-remove-country-data" %}',
          termsUrl: '{{ javascript_components.terms_url }}',
          user: {
            id: '{{ request.user.id }}',
            name: '{{ request.user.get_username }}',
            isAuthenticated: {{ request.user.is_authenticated|yesno:"true,false" }},
          },
          verifyCodeUrl: '{% url "sso:business-sso-verify-code-api" %}',
          refreshOnMarketChange: {% if no_refresh_on_market_change %}false{%else%}true{% endif %},
          urlCostsAndPricing: '{% url "exportplan:costs-and-pricing"%}'
      });
    </script>
{% endblock %}

{% block body_header %}
  {% include 'core/header.html' %}
  {% if request.user.is_authenticated %}
    {% include "core/includes/personalisation_bar.html" with profile=request.user.company %}
  {% elif FEATURE_ENABLE_PRODUCT_SEARCH_WHEN_NO_USER %}
    {% include "core/includes/personalisation_bar.html" %}
  {% endif %}
{% endblock %}

{% block body_content_container %}
  <main id="content" class="{% block css_layout_class %}{% endblock %}">
      {% block content_header %}{% endblock %}
      {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block cookie_notice %}{% endblock %}

{% block body_footer %}
  {% include 'core/footer.html' %}
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script type="text/javascript">
      // dynamic value that can be updated by user interacting with react components
      magna.setInitialState({
        // prevents modals from opening on page load if user dismissed the modal already
        performSkipFeatureCookieCheck: true,
        nextUrl: '{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url_map "dashboard" %}{% endif %}',
        modalIsOpen: {
          products: false,
          countries: false,
          industries: false,
          login: false,
          signup: false,
        },
        exportPlan:{
          products: {{request.user.export_plan.data.export_commodity_codes|to_json}},
          markets: {{request.user.export_plan.data.export_countries|to_json }}
        },
      })

      {% if tour %}
        var element = document.createElement('div');
        document.body.appendChild(element);
        magna.Tour({
          element: element,
          isOpenModal: true,
          steps: {{ tour.steps|safe }},
          title: '{{ tour.title }}',
          body: "{% autoescape off %}{{ tour.body }}{% endautoescape %}",
          buttonText: '{{ tour.button_text }}',
          disableTourCookieName: 'disable-tour-{{ page.content_type }}'
        })
    {% endif %}
  </script>
{% endblock %}
