
{% load wagtailcore_tags %}

{% if case_study %}
<div id="case_study">
    <div class="case-study p-t-m p-b-s">
        <div class="case-study__content media-block">
            <i class="fas fa-quote-left"></i>
            <div>
                <h3 class="cast-study__lead_title h-m m-b-xs p-0">{{case_study.lead_title}}</h3>
                <p class="case-study__company h-xs p-0">{{case_study.summary_context}}</p>
                <div class="case-study__media case-study__body">
                    {% comment %} Body is a streamfield {% endcomment %}
                    {% for block in case_study.body %}
                        {% include_block block %}
                    {% endfor %}
                </div>
                <div class="case-study__mobile-content">
                    <div class="case-study__mobile-content--media">
                        {% for block in case_study.body %}
                            {% if block.block_type == 'media' %}
                                {% include_block block %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="case-study__mobile-content--text">
                            {% for block in case_study.body %}
                            {% if block.block_type == 'text' %}
                                {% include_block block %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block body_js %}
    {% comment %} {{ block.super }} {% endcomment %}
    <script>
        let caseStudy = document.querySelector('#case_study')
        magna.createCaseStudy({
            element: caseStudy,
            content: {
                heading: caseStudy.querySelector('h3').innerText,
                company: caseStudy.querySelector('.case-study__company').innerText,
                body: caseStudy.querySelector(".case-study__mobile-content--text").innerHTML,
                carouselItems: caseStudy.querySelector(".case-study__mobile-content--media").innerHTML

            }
        })
    </script>
{% endblock %}
{% endif %}
