{% load wagtailcore_tags %}

{% if case_study %}
<div class="box box-no-pointer">

    CASE STUDY: {{case_study}}

    <p>Company name: {{case_study.company_name}}</p>
    <p>Summary: {{case_study.summary}}</p>

    <p>BODY: {{case_study.body}}</p>

    {% comment %} Body is a streamfield {% endcomment %}
    {% for block in case_study.body %}
        {{block.company_name}}
        {{block.summary}}
        {{block.media}}

        {% comment %} {% for subblock in block.media %}
            --> {{subblock.value}}
        {% endfor %} {% endcomment %}
        {% comment %} {% include_block block %} {% endcomment %}
    {% endfor %}
</div>
{% endif %}
