{% load wagtailcore_tags %}
{% load set %}
{% if case_study %}
<div id="case_study"></div>
{% block body_js %}
<script>
const caseStudy = document.querySelector('#case_study')
const blocks = []

{% for block in case_study.body %}
blocks.push({
  type: '{{ block.block_type }}',
  content: `{{ block }}`,
}) {% endfor %}

magna.createCaseStudy({
  element: caseStudy,
  content: {
    heading: '{{ case_study.lead_title }}',
    company: '{{ case_study.summary_context }}',
    blocks: blocks,
  }
})

</script>
{% endblock %}
{% endif %}
{% if feature_show_case_study_list %}
<div class="m-t-s h-s">Case study scorings</div>
<table>
  <tbody>
    {% for cs in case_study_list %}
    {% if not cs.above_threshold and not threshold_shown %}
    <tr class="bg-red-20">
      <td></td>
      <td colspan="2" class="p-v-0">Threshold</td>
    </tr>
    {% set 'threshold_shown' True %}
    {% endif %}
    <tr>
      <td>{{ cs.pk }}
      <td>{{ cs.title }}</td>
      <td>{{ cs.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
