{% extends "core/base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block head_other %}
  <meta name="description" content="Find information to help choose the right export market for your product. Compare data for up to 10 markets, using dynamic feeds from some of the world’s most trusted sources" />
{% endblock %}

{% block content %}
  <div id="where-to-export">
      <section class="bg-white">
           <div class="page-header where-to-export-header">
             <div class="inner-header">
              <div>
                  <h1>{{ page.title }}</h1>
                   <p>Find information to help choose the right export market for your product. Compare data for up to 10 markets, using dynamic feeds from some of the world’s most trusted sources.</p>
                   <button class="primary-button">
                    <i class="fa fa-plus"></i>
                    Add Market
                   </button>
              </div>
              <div class="image-container">
              </div>
            </div>
           </div>
      </section>
  </div>
  {% if data_tabs_enabled %}
    <div class="hidden" id="next-steps">
      {% for component in dashboard_components %}
          {% if component.value.route_type == 'learn' or component.value.route_type == 'plan' %}
              <article class="dashboard__routing-block c-1-2 wide">
                  {% include_block component with wide=True %}
              </article>
          {% endif %}
      {% endfor %}
    </div>

    <div id="compare-markets"
      data-tabs="{{ data_tabs_enabled }}"
      data-max-places-allowed="{{ max_compare_places_allowed }}"
      role="region"
      tabindex="-1"
    ></div>
    <script>
      magna.CompareMarkets({
        element: document.querySelector("#compare-markets"),
        cta_container: document.querySelector("#cta-container"),
      })
    </script>
  {% else %}
    <div class="g-panel">
      <p>This section isn’t available yet</p>
      <p>This Beta version is limited</p>
    </div>
    <div class="m-v-xl">
        <button class="button button--tertiary" disabled>Coming soon</button>
    </div>
  {% endif %}
{% endblock %}
