{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load url_map %}

{% block body_attributes %}class="body-background-white"{% endblock %}
{% block content %}
<section class="container m-b-l">
  {% block breadcrumbs %}{% endblock %}
  <div class="grid flex-grid">
    <div class="grid-row m-t-l">
      <div class="c-3-4 c-1-2-xl m-h-auto">
        <form action="{% url 'core:contact-us-help' %}?{{ request.GET.urlencode }}" method="post"
          enctype="multipart/form-data" novalidate="novalidate">
          {% csrf_token %}
          <h2 class="h-m">Tell us how we can help</h2>
          <div class="" id="form-container">
            {{ form }}
            <h3 class="h-xs p-b-0">How we use your information</h3>
            <p class="body-l m-t-xs">The Department for International Trade will use information provided in this form to respond to your enquiry.</p>
            <p class="body-l">You can read about how we protect your date in our <a href="{% url_map 'privacy' %}">privacy notice</a>.</p>
            <button type="submit" class="button button--large">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
