{% load wagtailcore_tags %}
{% load format_timedelta from content_tags %}
{% load format_timedelta from content_tags %}
{% load render_completed_tag from content_tags %}
{% comment %} `completed_lessons` only features lessons FOR THIS PARTIAL'S TOPIC {% endcomment %}
<div class="great great-overflow-visible govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-6 govuk-!-padding-0"
     id="{{ topic.id }}">
    <h2 id="{{ topic.slug }}"
        class="learn__topic-item-title govuk-heading-m govuk-!-padding-0 govuk-!-margin-0">{{ topic.title }}</h2>
    <div class="great-ds-card-container">
        {% for page in topic.get_lesson_pages %}
            {% render_completed_tag page completed_lessons as completedTag %}
            {% include '_card.html' with type="unmounted" href=page.url title=page.title id=page.slug classes="great-ds-card--full" completedTag=completedTag %}
        {% endfor %}
    </div>
</div>
