{% load wagtailcore_tags %}
{% load format_timedelta from content_tags %}
{% load get_lesson_progress_for_topic is_lesson_page is_placeholder_page from content_tags %}

{% comment %} `completed_lessons` only features lessons FOR THIS PARTIAL'S TOPIC {% endcomment %}

<div class="grid" id="{{topic.id}}">

    <div class="learn__topic-item-details c-1-3-l">
        <h2 class="learn__topic-item-title h-m p-b-xxs p-t-0">{{ topic.title }}</h2>
        {% get_lesson_progress_for_topic completed_lessons topic.id as topic_progress_data %}
        {% if topic_progress_data %}
        <p class="learn__topic-item-count body-m-b m-t-xxs m-b-0">
            {{topic_progress_data.lessons_completed}} / {{topic_progress_data.lessons_available}} lesson{% if topic_progress_data.lessons_available > 1 %}s{% endif %} completed
        </p>
        {% endif %}
    </div>
    <ul class="learn__lessons-list c-2-3-l">
        {% for page in topic.get_children.live %}
            {% if page|is_lesson_page %}
            <li class="learn__lesson-item">
                <a class="learn__lesson-item-link h-xs" href="{% pageurl page %}" title="{{ page.title }}">
                    <span class="learn__lesson-item-link-text">{{ page.title }}</span>
                    {% if page.id in completed_lessons %}
                    <span class="button button--quaternary button--small learn__lesson-item-link--completed">
                        Completed
                    </span>
                    {% else %}
                    <div class="learn__topic-item-read-time body-l-b">
                        <span class="h-s p-t-0 m-r-xs"><i class="fas fa-clock"></i></span>
                        <span class="f-r">{{ page.specific.estimated_read_duration|format_timedelta }}</span>
                    </div>
                    {% endif %}
                </a>
            </li>
            {% elif page|is_placeholder_page %}
                {% include "learn/_lesson_placeholder.html" %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
