{% extends "core/base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% include "core/includes/personalisation_bar.html" with profile=request.user.company %}

<section class="main-section bg-stone-50 {{ view.slug }}-content" id="{{ view.slug }}-content">

  <div class="grid m-b-s" id="great-continue-learning-box">
    <div class="c-1-2">
        <div class="bg-white p-xs great-dashboard-card">
            <h3 class="card-heading text-16 m-b-xs">Market research</h3>
            <h4 class="h-l p-b-0">Choosing a country</h4>
        </div>
    </div>
  </div>

  <section class="container">
    <div class="grid">
      <div class="c-1-3">&nbsp;</div>
      <div class="c-1-2 p-t-xl p-b-s">
        <h1 class="h-xl">{{ page.title }}</h1>
        <p>{{ page.description | richtext }}</p>
      </div>
    </div>
  </section>

  <img src="https://via.placeholder.com/1600x200/dfd5c5?text=Banner image" alt="" class="width-full banner-image">

  <section class="container">
    <div class="grid">
      <div class="c-1-3">&nbsp;</div>
      <div class="c-2-3">
        <h2 class="h-l m-t-m">Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </section>
</section>
