{% load static %}
{% load wagtailcore_tags %}
{% load url_map %}
<footer class="magna-footer" id="footer">
  <nav class="magna-footer__nav bg-blue-deep-90 text-white">
    <ul class="magna-footer__links footer-links">
      <li>
        <a href="{% url_map 'privacy' %}">Privacy notice</a>
      </li>
      <li>
        <a href="{% url_map 'terms' %}">Terms and conditions</a>
      </li>
      <li>
        <a href="{% url 'core:contact-us-help' %}">Contact us</a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/organisations/department-for-international-trade" target="_blank"
          rel="noopener">Department for International Trade on GOV.UK</a>
      </li>
    </ul>
    <div class="magna-footer__great-logo">
      <a href="/">
        <img class="footer-logo m-t-s" src="{% static 'images/logo.svg' %}" alt="Exporting is Great" />
      </a>
    </div>
  </nav>
  <div class="magna-footer__copyright bg-blue-white">
    <div class="magna-footer__dit-logo">
      <img class="footer-logo" src="{% static 'images/dit-crest-and-text-landscape.svg' %}"
        alt="Department for International Trade" />
    </div>
    <div class="magna-footer__copy">
      <p class="text-black-100 body-m m-0">
        &copy; Crown copyright {% now "Y" %}. All rights reserved.
      </p>
    </div>
  </div>
</footer>