{% load static %}
{% load wagtailcore_tags %}
{% load url_map %}
<footer class="magna-footer shared-footer" id="footer">
  <nav class="magna-footer__nav bg-blue-deep-90 text-white">
    <ul class="magna-footer__links footer-links">
      <li>
        <a href="{% url 'core:contact-us-help' %}" title="Contact us">Contact us</a>
      </li>
      <li>
        <a href="{% slugurl 'privacy-and-cookies' %}" title="Privacy and cookies">Privacy and cookies</a>
      </li>
      <li>
        <a href="{% slugurl 'terms-and-conditions' %}" title="Terms and conditions">Terms and conditions</a>
      </li>
      <li>
        <a href="{% slugurl 'accessibility-statement' %}" title="Accessibility">Accessibility</a>
      </li>
      <li>
        <a href="{% slugurl 'performance-dashboard' %}" title="Performance">Performance</a>
      </li>
      <li>
        <a href="https://{{ dit_on_govuk }}" target="_blank"
          rel="noopener" title="Department for International Trade on GOV.UK">Department for International Trade on GOV.UK</a>
      </li>
      {% if FEATURE_SHOW_INTERNATIONAL_FOOTER_LINK %}
      <li>
        <a href="#" title="International business">Go to the page for international business</a>
      </li>
      {% endif %}
    </ul>
    <div class="magna-footer__great-logo">
      <a href="/">
        <img class="footer-logo m-t-s" src="{% static 'images/logo.svg' %}" alt="Exporting is Great" />
      </a>
    </div>
  </nav>
  <div class="magna-footer__copyright bg-blue-white">
    <div class="magna-footer__dit-logo">
      <img class="footer-logo" src="{% static 'images/dit-crest-and-text-landscape.svg' %}"
        alt="Department for International Trade" />
    </div>
    <div class="magna-footer__copy">
      <p class="text-black-100 body-m m-0">
        &copy; Crown copyright {% now "Y" %}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
