{% extends "core/base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}

{% include "core/includes/personalisation_bar.html" with profile=request.user.company %}
<section class="main-section bg-black-10 {{ view.slug }}-content" id="{{ view.slug }}-content">
  <section class="container">
    <div class="grid">
      <div class="c-1-3">&nbsp;</div>
      <div class="c-1-2 p-t-xl p-b-s">
        <h1 class="h-xl">{{ page.title }}</h1>
        <p>{{ page.description | richtext }}</p>
        {% include_block page.button %}
      </div>
    </div>
  </section>
  {% if page.image %}
    <div class="c-full">
      {% image page.image max-1600x600 class="m-f-auto m-r-auto" %}
    </div>
  {% endif %}
  <section class="container">
    {{ page.body}}
  </section>
</section>
{{ page.components }}

{% endblock %}
