{% load static %}
{% load wagtailcore_tags %}
{% load url_map %}
<header class="great-mvp-header" id="header" dir="ltr" data-ga-section="header">
  <nav>
    <a id="header-logo-link" href="/">
      <img class="great-mvp-header-logo" src="{% static 'images/exporting-is-great-logo.png' %}" alt="Exporting is Great" id="header-logo-exporting-is-great">
    </a>
    <div class="great-mvp-header-links">
      <ul id="services-area" class="services-area">
        <li><a id="header-link-learning" href="/learn/categories/">Learning</a></li>
        <li><a id="header-link-exporting-plan" href="/export-plan/dashboard/">Export plan</a></li>
        <li><a id="header-link-markets" href="{% url 'core:markets' %}">Markets</a></li>
        <li><a id="header-link-services" href="#">Services</a></li>
      </ul>
      <ul class="user-state-area p-r-m" id="user-state-area">
        {% if request.user.is_authenticated %}
        <li id="header-link-user-profile">
          <img class="great-mvp-header-icon" src="{{ request.user.profile_image }}" />
        </li>
        <script type="text/javascript">
        ditMVP.ModalMenu({
          element: document.querySelector("#header-link-user-profile"),
          avatar: '{{ request.user.profile_image|default:"/static/images/country/australia.png" }}',
          user_name: '{{request.user.first_name}}'
        })

        </script>
        {% else %}
        <li><a id="header-sign-up-link" href="#" class="great-mvp-link-disabled">Sign up</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
