{% load static %}
{% load wagtailcore_tags %}
{% load url_map %}
{% load get_digital_entry_point_enabled from content_tags %}
<header class="great-header" id="header" dir="ltr" data-ga-section="header">
    {% if not request.user.is_authenticated %}
        {% include 'components/header_footer/global_header.html' with header_class="domestic" %}
    {% endif %}
    <div class="great-bg-dark-blue">
        <div class="great-container great-header__container">
            <a id="header-logo-link"
               class="govuk-!-margin-top-7 govuk-!-margin-bottom-4 great-header-logo"
               href="/">
                <img src="{% static 'images/DBT_White.svg' %}"
                     alt="Department for Business and Trade"
                     id="header-logo-exporting-is-great" />
            </a>
            {% path_match "^\/export-plan\/" as in_exportplan %}
            <nav>
                <ul id="services-area"
                    class="great-header-services govuk-!-margin-bottom-4">
                    {% if features.FEATURE_DEA_V2 %}
                        {% path_match "^\/learn\/" as in_learning %}
                        <li>
                            <a id="header-link-learning"
                               class="govuk-!-padding-3 {% if in_learning %}active{% endif %}"
                               href="/learn/categories/">Learn to export</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        {% path_match "^\/where-to-export\/" as in_targetmarkets %}
                        {% if not features.FEATURE_DEA_V2 %}
                            {% path_match "^\/learn\/" as in_learning %}
                            <li>
                                <a id="header-link-learning"
                                   class="govuk-!-padding-3 {% if in_learning %}active{% endif %}"
                                   href="/learn/categories/">Learn to export</a>
                            </li>
                        {% endif %}
                        <li>
                            <a id="header-link-markets"
                               class="govuk-!-padding-3 {% if in_targetmarkets %}active{% endif %}"
                               href="{% url 'core:compare-countries' %}">Where to export</a>
                        </li>
                        <li>
                            <a id="header-link-exporting-plan"
                               class="govuk-!-padding-3 {% if in_exportplan %}active{% endif %}"
                               href="/export-plan/">Make an export plan</a>
                        </li>
                    {% else %}
                        {% if not features.FEATURE_DEA_V2 %}
                            <li>
                                <a id="header-link-advice" href="/advice/" class="govuk-!-padding-3">Advice</a>
                            </li>
                        {% endif %}
                        {% if features.FEATURE_PRODUCT_EXPERIMENT_HEADER %}
                            <li class="great-header-dropdown-item">
                                <button type="button"
                                        class="govuk-!-padding-3"
                                        data-reveal-button
                                        data-reveal-modal
                                        aria-controls="guides-menu">
                                    Guides <span role="img"
       class="fas fa-chevron-down govuk-!-static-margin-left-2"
       aria-hidden="true"></span>
                                </button>
                                <div id="guides-menu">
                                    <ul>
                                        <li>
                                            <a href="/markets/"
                                               class="govuk-!-padding-top-3 govuk-!-padding-bottom-3">Markets</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'core:compare-countries' %}"
                                               class="govuk-!-padding-top-3 govuk-!-padding-bottom-3">Products</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li>
                                <a id="header-link-markets-lo"
                                   href="/markets/"
                                   class="govuk-!-padding-3">Markets</a>
                            </li>
                        {% endif %}
                        <li>
                            <a id="header-link-services" href="/services/" class="govuk-!-padding-3">Services</a>
                        </li>
                    {% endif %}
                </ul>
                <form id="magna-header-search-form"
                      class="magna-header__search govuk-!-margin-bottom-4"
                      action="{% url 'search:search' %}"
                      method="get">
                    <label for="magna-header-search-box" class="great-visually-hidden">Search</label>
                    <input id="magna-header-search-box"
                           type="text"
                           name="q"
                           placeholder="Search">
                    <button>
                        <span class="great-visually-hidden">Search</span>
                    </button>
                </form>
                <button type="button"
                        id="great-header-menu-button"
                        class="great-header-menu-button govuk-!-margin-left-6 govuk-!-margin-bottom-4"
                        data-reveal-button
                        data-reveal-modal
                        aria-controls="main-menu">
                    Menu
                    <span class="magna-header__dropdown-button__icon"></span>
                </button>
                <div id="main-menu"
                     class="great-header-menu-dropdown magna-header__dropdown">
                    {% if request.user.is_authenticated %}
                        <div class="magna-header__greeting">Hi {{ request.user.first_name }}</div>
                    {% endif %}
                    <ul class="great-header-menu-items magna-header__menu-items">
                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% slugurl 'dashboard' %}">Dashboard</a>
                            </li>
                            {% if not features.FEATURE_DEA_V2 %}
                                <li>
                                    <a id="menu-lte" href="/learn/categories/">Learn to export</a>
                                </li>
                            {% endif %}
                            <li>
                                <a id="menu-wte" href="{% url "core:compare-countries" %}">Where to export</a>
                            </li>
                            <li>
                                <a id="menu-export-plan" href="/export-plan/">Make an export plan</a>
                            </li>
                            <li>
                                <a id="view-account" href="/profile/">Account</a>
                            </li>
                        {% endif %}
                        {% if features.FEATURE_DEA_V2 %}
                            <li>
                                <a id="menu-lte" href="/learn/categories/">Learn to export</a>
                            </li>
                        {% else %}
                            <li>
                                <a id="menu-advice" href="/advice/">Advice</a>
                            </li>
                        {% endif %}
                        {% if features.FEATURE_PRODUCT_EXPERIMENT_HEADER %}
                            <li>
                                <a id="menu-markets" href="/markets/">Markets</a>
                            </li>
                            <li>
                                <a id="menu-products" href="{% url 'core:compare-countries' %}">Products</a>
                            </li>
                        {% else %}
                            <li>
                                <a id="menu-markets" href="/markets/">Markets</a>
                            </li>
                        {% endif %}
                        <li>
                            <a id="menu-services" href="/services/">Services</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li>
                                {% url 'sso:business-sso-logout-api' as sign_out_endpoint %}
                                <script>
                    function signOut() {
                        return fetch('{{ sign_out_endpoint }}', {
                        method: 'post',
                        headers: {
                            Accept: 'application/json',
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                        body: JSON.stringify({})
                        }).then(function() {
                        window.location = '/';
                        });
                    }
                                </script>
                                <button id="sign-out" type="button" onclick="signOut()">Sign out</button>
                            </li>
                        {% else %}
                            <li class="great">
                                <a id="sign-in"
                                   class="govuk-button govuk-!-margin-top-3 govuk-!-margin-bottom-3"
                                   href="{% url 'core:login' %}">Sign in</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="magna-header__overlay"></div>
                <ul class="great-header-actions govuk-!-margin-bottom-4 govuk-!-margin-top-0">
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% slugurl 'dashboard' %}"class="govuk-!-padding-3">Dashboard</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'core:login' %}"class="govuk-!-padding-3">Sign in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
</header>
