{% extends 'core/page_blank.html' %}
{% load get_intended_destination from url_tags %}
{% load static %}

{% block sharing_description %}
<meta name="description"
        content="Enter your username and password to access great.gov.uk tools and services" />
{% endblock %}
{% block inner_content %}<div id="login"></div>{% endblock %}
{% block body_js %}
    {{ block.super }}
    {% get_intended_destination request as onward_destination %}
    <script type="text/javascript">
        var element = document.getElementById('login');
        var email = '{{ request.GET.email }}';
        var errorMsg = 'This email address is already registered. \
                       Use the social account you signed up with or reset your password.'
        var error = `{% if request.GET.email %}${errorMsg}{% endif %}`;
        magna.createLogin({
            element: element,
            isOpen: true,
            nextUrl: '{{onward_destination}}',
            email: email,
            errors: (error) ? {'__all__': [error]} : {}
        })
    </script>
{% endblock %}
{% block body_inline_feedback %}
{% endblock %}

