{% extends 'core/page_no_navigation.html' %}
{% load breadcrumbs from great_components %}
{% load url_map %}
{% load static %}

{% block inner_content %}
    <div id="login"></div>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script type="text/javascript">
        var element = document.getElementById('login');
        var email = '{{ request.GET.email }}';
        var errorMsg = 'This email address is already registered. \
                       Use the social account you signed up with or reset your password.'
        var error = `{% if request.GET.email %}${errorMsg}{% endif %}`;
        ditMVP.createLogin({
            element: element,
            isOpen: true,
            nextUrl: '{% url_map "dashboard" %}',
            email: email,
            errors: (error) ? {'__all__': [error]} : {}
        })
    </script>
{% endblock %}
{% block body_footer %}
{% endblock %}