{% extends 'core/base.html' %}
{% load breadcrumbs from great_components %}

{% block content %}
    <div id="great-hero" class="container p-b-s p-h-s p-t-0">
        {% breadcrumbs 'Markets' %}
	      <a href="{% url 'core:dashboard' %}">Home</a>
	    {% endbreadcrumbs %}
    </div>

  	<div class="container">
        <div class="grid m-b-s">
            <div class="c-full">
                <form class="bg-white p-s great-mvp-success-card" method="post">
            		{% csrf_token %}
                    <h2 class="h-l pb-xxs w-1-2">{{ page_title|default_if_none:'Markets'}}</h2>
                    {% if request.user.company.expertise_industries_label and most_popular_countries %}
                        <p class="m-b-0 ">{% lorem 1 p %}</p>
                        <h3 class="h-m pb-xxs w-1-2">Most popular export destinations for {{ request.user.company.expertise_industries_label }} </h3>

                        <table class="w-1-3">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>British exporter count</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for name, count in most_popular_countries %}
                                    <tr>
                                        <td>{{ name }}</td>
                                        <td>{{ count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if request.user.company.expertise_countries_label %}
                            <h3 class="h-m pb-xxs w-1-2">{{ request.user.company.expertise_countries_label }} </h3>
                        {% endif %}
                    {% endif %}
                    <p class="m-b-0 ">{% lorem 15 p %}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
