{% load  wagtailcore_tags %}
{% load add_govuk_classes from content_tags %}
<div class="objectives">
    <h2 class="govuk-heading-medium">What you’ll learn</h2>
    {% filter add_govuk_classes %}
        {% for block in page.objective %}
            {{ block.value|richtext }}
        {% endfor %}
    {% endfilter %}
    <ul class="govuk-list govuk-list--bullet">
        {% for block in page.objective %}
            {% if block.block_type == 'ListItem' %}<li>{{ block.value.item }}</li>{% endif %}
        {% endfor %}
    </ul>
    <hr class="hr hr--dark govuk-!-margin-bottom-6 govuk-!-margin-yop-6" />
</div>
