{% extends 'core/base.html' %}
{% load domestic_canonical_url_tags %}
{% load static %}
{% block body_js %}{{ block.super }}{% endblock %}
{% block head_other %}
    {% block sharing_description %}
        <meta name="description"
              content="{% block meta_description %}{% firstof self.seo_description page.search_description content_snippet.search_description page.teaser page.featured_description page.seo_title page.title content_snippet.search_description %}{% endblock %}">
    {% endblock %}
    {% firstof page.seo_title page.title as seo_title %}
    {% block sharing_title %}
        <meta name="title"
              content="{% block meta_title %}{% if seo_title %}{{ seo_title }}{% else %}Welcome to great.gov.uk{% endif %} - great.gov.uk{% endblock %}">
    {% endblock %}
    {% get_canonical_url as canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% get_hreflang_tags as hreflang_tags %}
    {{ hreflang_tags|linebreaksbr }}
    <title>
        {% block head_title %}
            {% if seo_title %}
                {{ seo_title }}
            {% else %}
                Welcome to great.gov.uk
            {% endif %}
            - great.gov.uk
        {% endblock %}
    </title>
    {% block meta_tags %}{% endblock %}
    {% with is_wagtail_page=page %}
        {% if is_wagtail_page %}
            {% include "core/includes/seo_meta.html" %}
        {% endif %}
    {% endwith %}
{% endblock %}
{% block content_header %}
    {% block inner_content %}{% endblock %}
{% endblock %}
{% block body_header %}{% endblock %}
{% block breadcrumbs_block %}{% endblock %}
{% block body_footer %}{% endblock %}
