{% load include_block from wagtailcore_tags %}
{% load add_anchors_to_all_headings add_export_elements_classes from great_tags %}
{% load add_govuk_classes from content_tags %}
{% for block in page.body %}
    <div>
        {% comment %} {% filter add_anchors_to_all_headings %} {% endcomment %}
        {% if block.block_type != 'ITA_Quote' or block.block_type != 'Step' %}
            {% include_block block %}
        {% else %}
            {% filter add_govuk_classes %}
                {% include_block block %}
            {% endfilter %}
        {% endif %}
        {% comment %} {% endfilter %} {% endcomment %}
    </div>
{% endfor %}
