{% extends 'domestic/base.html' %}
{% load static %}
{% block content %}
    <div class="great great-bg-light-blue">
        <div class="great-container govuk-!-padding-top-7">
            <div class="govuk-grid-row great-promo">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">Accelerate your learning</h2>
                    <p class="govuk-body">Sign up to Great.gov.uk and you'll be able to:</p>
                    <ul class="great-list-blue-tick govuk-!-margin-bottom-5">
                        <li>track your learning progress and read case studies</li>
                        <li>join live events from the UK Export Academy</li>
                        <li>compare markets using live export data</li>
                    </ul>
                    {% include "components/great/link-button-chevron.html" with href="/signup" text="Sign up to get started " %}
                    <p class="govuk-body govuk-!-margin-bottom-9">
                        Already signed up? <a href="{% url 'core:login' %}"
    class="govuk-link govuk-link--no-visited-state">Sign in</a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-half">
                    {% with '/static/images/lte-signup-promo-landscape.png' as landscapeImage and '/static/images/lte-signup-promo-portrait.png' as portraitImage %}
                        {% include 'components/great/responsive-image.html' with image_src=landscapeImage xs_image_src=landscapeImage s_image_src=landscapeImage m_image_src=portraitImage l_image_src=portraitImage xl_image_src=landscapeImage %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
