{% extends 'domestic/base.html' %}
{% load static %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
{% block content %}
    <div class="great great-product-market">
        {% if is_market_lookup_state %}
            <div class="great-container govuk-!-padding-top-4 govuk-!-padding-bottom-4">
                <span class="great-product-market__product-label">You sell {{ product }}</span>
            </div>
            <div class="great-container govuk-!-padding-bottom-4">
                <h1 class="govuk-heading-xl" id="product-market-title">Where do you want to sell your {{ product }}?</h1>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <form id="great-product-market-form"
                        class="great-product-market__form"
                        action="/product-market/"
                        method="post">
                            {% csrf_token %}
                            <label for="market-input" class="great-visually-hidden">Where do you want to sell your {{ product }}?</label>
                            <div class="great-product-market__form-inputs">
                                <input type="hidden" id="product" name="product" value="{{ product }}" />
                                <div id="market-input-container"></div>
                                <div class="great-product-market__button-container">
                                    <button class="great-product-market__button primary-button">Continue</button>
                                    <a href="/markets" class="link great-product-market__market-link">I don't have a market in mind</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% elif is_results_state %}
            <h1 class="govuk-heading-l">Selling {{ product }} to {{ country.display_name }}</h1>
        {% endif %}
    </div>

    <div class="great great-bg-light-blue">
        <div class="great-container govuk-!-padding-top-7">
            <div class="govuk-grid-row great-promo">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">Accelerate your learning</h2>
                    <p class="govuk-body">Sign up to Great.gov.uk and you'll be able to:</p>
                    <ul class="great-list-blue-tick govuk-!-margin-bottom-5">
                        <li>track your learning progress and read case studies</li>
                        <li>join live events from the UK Export Academy</li>
                        <li>compare markets using live export data</li>
                    </ul>
                    {% include "components/great/link-button-chevron.html" with href="/signup" text="Sign up to get started " %}
                    <p class="govuk-body govuk-!-margin-bottom-9">
                        Already signed up? <a href="{% url 'core:login' %}"
    class="govuk-link govuk-link--no-visited-state">Sign in</a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-half">
                    {% with '/static/images/lte-signup-promo-landscape.png' as landscapeImage and '/static/images/lte-signup-promo-portrait.png' as portraitImage %}
                        {% include 'components/great/responsive-image.html' with image_src=landscapeImage xs_image_src=landscapeImage s_image_src=landscapeImage m_image_src=portraitImage l_image_src=portraitImage xl_image_src=landscapeImage %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'javascript/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript">
    const countries = {{ countries | safe}}
    accessibleAutocomplete({
      element: document.getElementById('market-input-container'),
      id: 'market-input',
      name: 'market-input',
      source: countries,
      autoselect: false,
      minLength: 2,
      displayMenu: 'overlay',
      placeholder: 'Search international markets',
      inputClasses: 'great-product-market__input'
    });
    
    </script>
{% endblock %}