{% load static %}
{% load wagtailcore_tags %}
{% load url_map %}

<header class="shared-header">
    <div class="container">
        <a class="great-header-logo" data-ga-value="logo" href="https://www.great.gov.uk" id="great-header-logo">
            <img alt="Exporting is Great" src="{% static 'images/eig-logo-stacked.svg' %}" width="150">
        </a>
        <p>Shared header</p>

        {% path_match "^\/advice\/" as in_bau %}
        {% if in_bau %}
        <p>Logged out(BAU)</p>
        {% else %}
        <p>Logged in(Magna)</p>
        {% endif %}

        <button>Menu</button>
        <ul class="menu">
            <li>Home</li>
            <li>Learn to export</li>
            <li>Where to export</li>
            <li>Make an export plan</li>
            <li>Advice</li>
            <li>Markets</li>
            <li>Services</li>
            <li>Account</li>
            <li>Sign out</li>
        </ul>
    </div>
</header>
<script type="text/javascript">
    DIT_SHARED.header.init();
</script>
