{% extends 'core/signup-wizard-step-base.html' %}
{% load url_map %}
{% block above_form %}
    <h2 class="h-l p-b-xs">Sign up to {% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %}</h2>
    <div class="grid">
        <div class="c-2-3">
            <div id="signup-app-root">
                <a href="{% url 'core:login' %}{% if next_url %}?next={{ next_url }}{% endif %}">I already have a {% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %} account<a />
                </div>
            </div>
        </div>
    {% endblock %}
    {% block button_submit_label %}
        {% block button_next_label %}I'd like tailored content{% endblock %}
    {% endblock %}
    {% block body_js %}
        {{ block.super }}
        <script type="text/javascript">
        magna.setInitialState({
            nextUrl: '{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url_map "DASHBOARD_URL" %}{% endif %}?product={{ product_search_data.products }}&remember-expertise-products-services=true'
        })
        magna.Signup({
            element: document.getElementById('signup-app-root'),
            name: 'product-search-products',
            showTitle: false
        })
        </script>
    {% endblock %}
    {% block submit_button %}{% endblock %}
    {% block generic_content_button %}{% endblock %}
