{% extends 'core/page_no_navigation.html' %}
{% load breadcrumbs from great_components %}
{% load get_intended_destination from url_tags %}
{% load static %}

{% block inner_content %}
	<div id="sign-up"></div>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    {% get_intended_destination request as onward_destination %}

    <script type="text/javascript">
		var element = document.getElementById('sign-up');
		var currentStep = '{% if request.GET.verify %}verification-code{% else %}credentials{% endif %}';
		var email = '{{ request.GET.verify }}';
		magna.SignupModal({
			element: element,
			currentStep: currentStep,
			email: email,
			nextUrl: '{{onward_destination}}',
		})
    </script>
{% endblock %}
{% block body_footer %}
{% endblock %}
