{% extends 'core/page_blank.html' %}
{% load get_intended_destination from url_tags %}
{% load static %}
{% block inner_content %}<div id="sign-up"></div>{% endblock %}
{% block sharing_description %}
    <meta name="description"
          content="Sign up to great.gov.uk to learn how to export, see live market data for your product and create an export plan" />
{% endblock %}
{% block body_js %}
    {{ block.super }}
    {% get_intended_destination request as onward_destination %}
    <script type="text/javascript">
		var element = document.getElementById('sign-up');
		var uidb64 = '{{ request.GET.uidb64 }}';
		var token = '{{ request.GET.token }}';
		var currentStep = (uidb64 && token) ? 'verification-code' : 'credentials';
		magna.SignupModal({
			element: element,
			uidb64: uidb64,
			token: token,
			currentStep: currentStep,
			nextUrl: '{{onward_destination}}',
		})
    </script>
{% endblock %}
