<ul class="step-by-step">
    <li class="media-block m-b-m">
        <img src="https://dummyimage.com/70x70/a00/fff" alt="" />
        <div>
            <h3 class="h-l text-blue-deep-80">1. Understand and be prepared</h3>
            <p class="text-blue-deep-80">
            An exchange rate is the value of a country's currency in terms of the
            currency of another country or economic zone.
            </p>
            <ul class="list-dot text-blue-deep-80">
            <li>Typically, these rates of foreign exchange</li>
            <li>If you haven't fixed your exchange rate</li>
            </ul>
            <hr class="hr--thick" />
            <p class="text-blue-deep-80">
            An exchange rate is the value of a country's currency in terms of the
            currency of another country or economic zone.
            </p>
            <ul class="list-dot text-blue-deep-80">
            <li>Typically, these rates of foreign exchange</li>
            <li>If you haven't fixed your exchange rate</li>
            </ul>
        </div>
    </li>
    <li class="media-block m-b-m">
        <img src="https://dummyimage.com/70x70/0a0/fff" alt="" />
        <div>
            <h3 class="h-l text-blue-deep-80">2. Consider your invoicing currency</h3>
            <p class="text-blue-deep-80">Think about whether you'll charge for your goods in pounds or the currency of your export market.</p>
        </div>
    </li>
</ul>