{% extends 'exportplan/section.html' %}
{% load static %}
{% load set %}
{% block banner_image %}
  {% static 'images/ep-placeholder.svg' %}
{% endblock %}

{% block intro_title %}Find your target market{% endblock %}
{% block intro_description %}Finding the right market is crucial to successful exporting. We’ll help you explore the pros and cons of different countries and choose the best market for your business.{% endblock %}

{% block sidebar %}{% endblock %}

{% block main_content %}
  {% set 'page_disabled' True %}
  <div class="g-panel">

    {% if page_disabled %}
      <p>This section isn’t available yet</p>
      <p>This Beta version is limited</p>
    {% else %}
      <p>Where’s the biggest demand for your product?</p>
      <p>It’s time to do your homework.</p>
      <p>For each country you’ll find data and insights relevant to your sector. Use this data to back up your own research and understand:</p>
      <ul class="list-dot">
        <li>the appetite for your product in different countries</li>
        <li>economic and cultural factors</li>
        <li>any challenges you could encounter</li>
      </ul>
      <p>You can then start making an informed decision about where to expand your business.</p>
    {% endif %}

  </div>

  {% if page_disabled %}
    <div class="m-v-xl"><button class="button button--tertiary" disabled>Coming soon</button></div>
  {% else %}
    {% if not export_plan.export_commodity_codes.0 %}
      <div id="open-product-finder" class="m-v-xl"></div>
      <script>
        magna.CompareMarkets({
        element: document.querySelector("#open-product-finder")
        })
      </script>
    {% else %}
      <div id="open-market-chooser" class="m-v-xl">
        <button type="button" class="button button--primary button--icon">
          <i class="fa fa-plus-square"></i>
          Add market 1 of 3
        </button>
      </div>
    {% endif %}
  {% endif %}
  <div class="p-v-l"></div>
{% endblock %}

{% block back_button %}{% endblock %}