{% extends 'exportplan/section.html' %}
{% load static %}
{% load set %}
{% load wagtailcore_tags %}

{% block banner_image %}
    {% static 'images/ep-placeholder.svg' %}
{% endblock %}

{% block intro_title %}Find your target market{% endblock %}
{% block intro_description %}Finding the right market is crucial to successful exporting. We’ll help you explore the
    pros and cons of different countries and choose the best market for your business.{% endblock %}

{% block sidebar %}{% endblock %}

{% block mainclasses %}text-blue-deep-80 {% endblock %}

{% block main_content %}
    {% if not data_tabs_enabled %}
        <div class="g-panel">
            <p>This section isn’t available yet</p>
            <p>This Beta version is limited</p>
        </div>
        <div class="m-v-xl">
            <button class="button button--tertiary" disabled>Coming soon</button>
        </div>
    {% else %}
        <div class="g-panel">
            <p>Where’s the biggest demand for your product?</p>
            <p>It’s time to do your homework.</p>
            <p>For each country you’ll find data and insights relevant to your sector. Use this data to back up your own
                research and understand:</p>
            <ul class="list-dot">
                <li>the appetite for your product in different countries</li>
                <li>economic and cultural factors</li>
                <li>any challenges you could encounter</li>
            </ul>
            <p>You can then start making an informed decision about where to expand your business.</p>
        </div>
    {% endif %}

{% endblock %}

{% block additional_content %}
    <div class="hidden" id="next-steps">
        {% for component in dashboard_components %}
            {% if component.value.route_type == 'learn' or component.value.route_type == 'plan' %}
                <article class="dashboard__routing-block c-1-2 wide">
                    {% include_block component with wide=True %}
                </article>
            {% endif %}
        {% endfor %}
    </div>
    {% if data_tabs_enabled %}
        <style>
            .tab-list {
            {#border-bottom: 1px solid #ccc;#} padding-left: 50px;
            }

            .tab-list-item {
                display: inline-block;
                padding: 0.5rem 1rem;
                cursor: pointer;
                font-size: 80%;
            }

            .tab-list-active {
                border-radius: 25px 25px 25px 25px;
                background-color: white;
                border: solid #ccc;
                border-width: 1px 1px 1px 1px;
                margin: 20px;

            }
        </style>
        <div id="open-product-finder" class="m-v-l"
             data-productname="{{ export_plan.export_commodity_codes.0.commodity_name }}"
             data-productcode="{{ export_plan.export_commodity_codes.0.commodity_code }}"
             data-tabs="{{ data_tabs_enabled }}">

        </div>

        <div id="comparison-market-selector" class="p-v-l m-v-l" />

        <script>
          magna.CompareMarkets({
            element: document.querySelector("#open-product-finder")
          })
          magna.SelectComparisonMarket({
            element: document.querySelector("#comparison-market-selector")
          })
        </script>
    {% endif %}
{% endblock %}

{% block next_section %}{% endblock %}
{% block back_button %}{% endblock %}
