{% load add_export_elements_classes from directory_components %}

<div class="great-key-facts-content {% if columns == 3 %}column-third{% elif columns == 2 %}column-half{% else %}column-two-thirds-xl column-half-l{% endif %}">
  {% if item.icon %}
    <img class="great-key-facts-icon" src="{{ item.icon.url }}" alt="{{ item.image_alt }}">
  {% endif %}
  <div class="great-key-facts-text">
    {% if item.subheading %}
      <p class="subheading">{{ item.subheading }}</p>
    {% endif %}
    <h3 class="heading-medium">{{ item.heading }}</h3>
    {{ item.content|add_export_elements_classes }}
  </div>
</div>
