{% extends 'business_profile/base-form.html' %}

{% load breadcrumbs from directory_components %}
{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'css/company-profile.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block form_contents %}
    {% breadcrumbs 'Company website' %}
        <a href="{% url 'about' %}">Home</a>
        <a href="{% url 'business-profile' %}">Business profile</a>
    {% endbreadcrumbs %}
    <h1 class="heading-large margin-top-0">Company website</h1>
    {{ block.super }}
{% endblock %}
