{% if ellipsis_before %}
    <li class="button primary-button active-blue-text margin-right-0 margin-top-15 margin-15-m">
        <span>...</span>
    </li>
{% endif %}
<li>
    <a href="{{ url }}page={{ number }}"
       class="{% if pagination.number == number %}button primary-button{% else %}button secondary-button{% endif %}"><span class="govuk-visually-hidden">Go to page {{ number }}</span>{{ number }}</a>
</li>
{% if ellipsis_after %}
    <li class="active-blue-text margin-right-0 margin-top-15 margin-15-m">
        <span>...</span>
    </li>
{% endif %}
