@import 'partials/base.scss';

#content {

    section {
        clear: both;
        overflow: hidden;
        padding: 60px 0 45px 0;
    }

    h1 {
        font-family: "Roboto",arial,helvetica,verdana,sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.15em;
        margin: 0 0 1em 0;
    }

    ul {
        margin: 0 0 1em 0;
        list-style: none;

        li {
            font: inherit;
            padding: 0 0 0 30px;
            position: relative;

            &::before {
                background-color: #dfd5c5;
                border-radius: 4px;
                content: "";
                display: inline-block;
                height: 8px;
                left: 0;
                position: absolute;
                top: 0.65em;
                width: 8px;
            }
        }
    }
}
