// GOVUK styles with Great styles
// All classes are prefixed with either
// .govuk- or .great-
@import 'styles/great/main.scss';

// MAIN
@import 'partials/profile_base';
@import 'partials/profile_general';
@import 'partials/tabs';
@import 'partials/tab-fab';
@import 'partials/tab-eig';
@import 'partials/responsive';
@import 'partials/colours';
@import 'partials/company-profile';
@import 'enrolment';
