
// SEARCH COMPONENT
// =================

@import '../../partials/colours';
@import '../../partials/typography';
@import '../../partials/mixins';

.great-header-search-wrapper {
  width: 100%;
  background: transparent;

  @media (max-width: 768px) {
    &.hidden {
      display: none;
    }
  }

  form {
    width: 240px;
    float: right;
    margin-left: 15px;
    margin-top: -58px;
    padding: 8px 0;

    & > * {
      float: left;
    }

    input {
      height: 40px;
      width: 200px;
      font-family: $brand-font-alternative;
      padding: 0 15px;
      border: 0;
    }

    button {
      @include button-reset;
      color: $white;
      border: 0;
      font-size: 0; // hide button text visually but not for screenreaders
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-color: $active-blue;
      background-image: url('/static/directory_components/images/search.svg');
      background-size: 20px;
      padding: 0;

      &:focus,
      &:focus:active {
        @include focus;
      }

      &:active {
        background-color: $focus-yellow;
      }

    }
  }
}

.great-header-search-container {
  @include float-clear;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .great-header {
    .great-header-search-wrapper form {
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      padding-top: 20px;
      padding-bottom: 20px;

      input {
        width: calc(100% - 40px);
      }
    }
  }

  .js-enabled {
    .great-header {
      .great-header-search-wrapper form {
        padding-top: 0;
      }
    }
  }
}

@media (max-width: 420px) {
  .great-header-search-container {
    margin: 0 20px;
  }
}

