@import "../../index.scss";

:host {
    display: inline-block;
}

button {
    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: 'FSLucas', 'Open Sans Condensed', 'Georgia', -apple-system, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 28px;
    justify-content: center;
    line-height: 22px;
    outline: none;
    padding: 2px 10px;

    &:active:not(:disabled) {
    }

    &:disabled {
        cursor: not-allowed;
    }

    :disabled svg {
    }

    &:hover:active {
    }

    &:active:not(:disabled).with-icon {
    }

}

.primary {
    background-color: $colour-red-80;
    color: $colour-white-100;

    &:hover {
        background-color: $colour-red-100;
    }

    &:active {
        background-color: $colour-red-50;
    }

    &:disabled {
        background-color: #e0e0e0;
    }
}

.secondary {
    background-color: $colour-blue-deep-80;
    color: $colour-white-100;

    &:hover {
        background-color: $colour-blue-deep-100;
    }

    &:active {
        background-color: $colour-blue-deep-50;
    }

    &:disabled {
        background-color: #e0e0e0;
    }
}
