<html>
    <head>
        <script src="../../../node_modules/wct-browser-legacy/browser.js"></script>
        <script type="module" src="tag.js"></script>
    </head>
    <body>
        <great-tag theme="primary"></great-tag>
        <script>
            suite('tag', function() {
                const tag = document.body.querySelector('great-tag')

                test('renders', function() {
                    assert.equal(tag.getAttribute('theme'), 'primary')
                })
            })
        </script>
    </body>
</html>
