@import "../../index.css";

:host {
    display: inline-block;
}

button {
    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: 'FSLucas', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    height: 28px;
    justify-content: center;
    line-height: 22px;
    outline: none;
    padding: 4px 12px;

    &:active:not(:disabled) {
    }

    &:disabled {
        cursor: not-allowed;
    }

    :disabled svg {
    }

    &:hover:active {
    }

    &:active:not(:disabled).with-icon {
    }

}

.primary {
    background-color: var(--colour-red-80);
    color: var(--colour-white-100);

    &:hover {
        background-color: var(--colour-red-100);
    }

    &:active {
        background-color: var(--colour-red-50);
    }

    &:disabled {
        background-color: var(--colour-black-10);
    }
}

.secondary {
    background-color: var(--colour-blue-deep-80);
    color: var(--colour-white-100);

    &:hover {
        background-color: var(--colour-blue-deep-100);
    }

    &:active {
        background-color: var(--colour-blue-deep-50);
    }

    &:disabled {
        background-color: var(--colour-black-10);
    }
}
