@import '../colors/colors.scss';
@import '../sizes/sizes.scss';

.microsite-header {
  display: flex;
  align-items: center;
  padding: $standard-padding 0;
  @include width-container();

  p {
    margin: 0 0 0 auto;
    font-size: 16px;
    font-weight: 600;
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
  a {
    color: $color-gov-link;
  }
  img {
    height: 30px;
  }
}
