@import '../great/main.scss';

.microsite {
  .block-text {
    h2 {
      @extend %govuk-heading-m;
    }

    h3 {
      @extend %govuk-heading-s;
    }

    h4 {
      @extend %govuk-body-m;
    }

    p {
      @extend %govuk-body-m;
    }

    i {
      font-size: inherit;
    }

    ol, ul {
      @extend %govuk-list;
    }

    ol {
      @extend %govuk-list--number;
    }

    ul {
      @extend %govuk-list--bullet;

      li {
        position: static;
        list-style: disc;
        padding: 0;
      }
    }

    h1, h2, h3, h4, h5, h6, p, ol, ul {
      font-family: $great-font;
    }
  }
}
