@import '../sizes/sizes.scss';
@import '../colors/colors.scss';
@import '../fonts/main.scss';

$color-inactive-nav-item: #dde5ed;
$menu-border: 5px solid $color-alternative-text;
.microsite {
  .microsite-nav-container {
    padding: 0;
    align-items: center;
    position: relative;

    > div:first-of-type {
      display: flex;
      @include width-container();
      padding: govuk-spacing(4) 0;
      @media only screen and (max-width: $mobile-size) {
        padding: $mobile-container-padding 0;
      }

      > div {
        display: inline-flex;
        width: 100%;

        .nav-content {
          display: flex;
          gap: 20px 50px;
          flex-wrap: wrap;
          flex: 1;
          align-items: center;
          @media only screen and (max-width: $mobile-size) {
            gap: $large-padding;
            flex-direction: column;
            align-items: flex-start;
          }
          img {
            height: 83px;
            //img has some white space to the left and bottom
            margin-left: -25px;
            @media only screen and (max-width: $mobile-size) {
              height: 63px;
              margin-left: -18px;
            }
          }
        }

        @media only screen and (max-width: $mobile-size) {
          h3 {
            padding-top: 0;
            font-size: $font-size-h3;
          }
        }
      }

      div + h3 {
        @media only screen and (min-width: $mobile-size) {
          padding-left: 35px;
        }
      }
    }

    > div:nth-of-type(2) {
      display: flex;
      border-top: 1px solid #615b7c;
    }
    background-color: $color-footer;

    h3 {
      color: $color-alternative-text;
      &::first-letter {
        text-transform: capitalize;
      }
    }

    .magna-header__menu {
      padding-left: 0;
      display: none;
      &.language_menu {
        display: block;
        @media only screen and (min-width: $mobile-size) and (max-width: $tablet-size){
          position: absolute;
          right: 20px;
          top: 20px;
        }
        @media only screen and (min-width: $tablet-size) {
          margin: auto;
        }
      }
      @media only screen and (max-width: $mobile-size) {
        display: grid;
        padding-left: 0;
        position: initial;
      }

      button {
        margin-left: auto;
      }

      .magna-header__menu-items {
        padding: 0px;
        li {
          list-style: none;
          & button {
            font-family: $main-text-font !important;
            font-size: $font-size-button !important;
          }
          a {
            font-size: $font-size-button;
            text-transform: capitalize;
            padding-left: govuk-spacing(4);
            &.rtl {
              padding-right: 10px;
              &:not(.rtl_page) {
                display: flex;
                justify-content: flex-end;
              }
            }
            &.rtl_page:not(.rtl) {
              display: flex;
              justify-content: flex-end;
            }
            @media only screen and (max-width: $mobile-size) {
              padding-left: govuk-spacing(2);
            }

            &::first-letter {
              text-transform: capitalize;
            }
            color: $color-inactive-nav-item;
            border-left: 5px solid transparent;
            text-decoration: none;

            &.rtl {
              border-right: 5px solid transparent;
            }

            &.active,
            &:active,
            &:hover {
              color: $color-alternative-text;
              border-left: $menu-border;
              &.rtl {
                border-left: none;
                border-right: $menu-border;
              }
            }
          }
        }

        .button:visited {
          background-color: $color-gov-link;
        }
      }
    }

    nav:not([aria-label="Langugages"]) {
      width: 100%;

      @include width-container();
      padding: 0 0 3px 0;
      @media only screen and (max-width: $mobile-size) {
        display: none;
      }

      ul {
        padding: govuk-spacing(2) 0 govuk-spacing(1) 0;
        gap: 45px;
        margin: 0;
        display: inline-flex;
      }
      li {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        &.rtl {
          line-height: 2.35;
        }
        &::first-letter {
          text-transform: capitalize;
        }
        font-weight: 400;
        border-bottom: 5px solid transparent;
        padding-bottom: 4px;
        color: $color-inactive-nav-item;

        &.active,
        &:hover {
          color: $color-alternative-text;
          font-weight: 600;
          border-bottom: $menu-border;
        }
      }
    }

    .magna-header__dropdown-button[aria-expanded='true'],
    .magna-header__dropdown-button,
    .magna-header__dropdown {
      background: $color-footer;
    }
    .magna-header__dropdown {
      top: 50px;

      &.rtl-page {
        left: 0px;
        right: initial;
      }

      @media only screen and (max-width: $mobile-size) {
        top: 64px;
        width: 100vw;
        left: 0px;
        margin: 0;
      }
    }
  }

  .desktop-language-selector,
  .mobile-single-language-toggle {
    margin: 0;
    margin-left: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: $standard-padding;
    li {
      list-style: none;
      a {
        color: $color-alternative-text;
        text-decoration: none;
      }
      &.active {
        a {
          text-decoration: underline;
          text-underline-offset: 5px;
          text-decoration-thickness: 3px;
        }
      }
    }
    li + li::before {
      content: '|';
      color: $color-alternative-text;
    }
  }

  .desktop-language-selector {
    display: inline-flex;
    min-width: fit-content;
    ul{
      display: inline-flex;
      li:not(:last-of-type){
        margin-right: 5px;
        &.rtl {
            margin-left: 5px
          }
      }
    }
    @media only screen and (max-width: $mobile-size) {
      display: none;
    }
  }

  .mobile-single-language-toggle {
    display: none;
    li {
      position: absolute;
      right: $standard-padding;
      bottom: $standard-padding;
    }
    @media only screen and (max-width: $mobile-size) {
      display: inline-flex;
    }
  }

  .mobile-nav-buttons {
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: $standard-padding;
    float: right;
    @media only screen and (max-width: $mobile-size) {
      display: inline-flex;
    }
  }

  .mobile-nav-buttons--force-show {
    display: inline-flex;
    margin-top: 15px;
    margin-left: 15px;
    .magna-header__menu {
      display: grid;
    }
    .desktop-language-selector ul {
      margin-top: 8px;
      margin-right: 9px;
    }
  }

  .language_button {
    padding: 6px 13px;
    &:not(:active):not(:hover):not(:focus):not([aria-expanded='true']) {
      border: 2px solid transparent;
    }
    a.active {
      font-family: $header-font;
    }
    img {
      margin: 0;
      height: 20px;
      pointer-events: none;
    }
  }

  .magna-header__overlay {
    z-index: 2;
    @media only screen and (max-width: $mobile-size) {
      background-color: rgba($color: white, $alpha: 0.8);
    }
  }

  .magna-header__dropdown-button[aria-expanded='false'] {
    z-index: 1;
  }
  .magna-header__dropdown-button {
    margin-top: 0;
  }
}
