@import '../sizes/sizes.scss';

.social-media-items-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 25px 40px;

  > a {
    display: inline-flex;
    align-items: center;
    gap: $standard-padding;
    text-decoration: none;
    p {
      margin: 0;
    }
  }
}

.social-media-container {
  margin: 50px 0;
  @media only screen and (max-width: $mobile-size) {
    margin: 30px 0 50px 0;
  }
}
