@import '../sizes/sizes.scss';
@import '../fonts/main.scss';
@import '../colors/colors.scss';

.microsite-video-wrapper {
  h4 + p,
  h4 + details.govuk-details {
    margin-top: $large-padding;
  }

  p + details.govuk-details {
    margin-top: 0;
  }

  span.govuk-details__summary-text {
    color: $color-gov-link;
    font-size: $font-size-p;
  }
}
