{% if module_completion_data.completion_count and module_completion_data.total_pages %}
<div class="learn__category-progress-container">
    <div class="learn__category-progress"><span style="width: {{module_completion_data.completion_percentage}}%"></span></div>
    <p class="body-m-b m-t-xxs m-b-0">
    {{module_completion_data.completion_count}}
    /
    {{module_completion_data.total_pages}}
    lesson{% if topic_progress_data.lessons_available > 1 %}s{% endif %} completed</p>
</div>
{% endif %}
