{% extends "core/base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load get_item from object_tags %}
{% load pluralize from content_tags %}
{% load add_govuk_classes from content_tags %}
{% load url_map %}
{% load add_govuk_classes from content_tags %}
{% load get_page_url from content_tags %}
{% load render_signup_cta from content_tags %}
{% load content_tags %}
{% block meta_description %}
    Learn how to successfully export your products to new markets with our comprehensive lessons and case studies
{% endblock %}
{% block content %}
    <div class="page-header learn-header great">
        <div class="inner-header">
            <div>
                <h1>{{ page.title }}</h1>
                <p>{{ page.description | richtext | add_govuk_classes }}</p>
            </div>
            <div class="image-container"></div>
        </div>
    </div>
    <section id="learn-root" class="great great-container govuk-!-margin-top-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <div class="great-ds-card-container">
                    {% for learning_module in page.get_children.specific.live %}
                        {% with high_level_completion_progress|get_item:learning_module.id as module_completion_data %}
                            {% get_page_url learning_module as learning_module_url %}
                            {% include '_card.html' with href=learning_module_url title=learning_module.title description=learning_module.heading|striptags id=page.slug titleSize="m" classes="great-ds-card--full" progressCompletionPercentage=module_completion_data.completion_percentage progressCompletionCount=module_completion_data.completion_count progressTotalPages=module_completion_data.total_pages %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <aside class="govuk-grid-column-one-third-from-desktop">
                {% include 'learn/includes/aside_links.html' with items=page.popular_links %}
                {% include 'learn/includes/ukea_cta.html' with details=page.ukea_cta %}
            </aside>
        </div>
    </section>
    {% if not request.user.is_authenticated %}
        {% render_signup_cta %}
    {% endif %}
{% endblock %}
