{% extends "core/base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load get_item from object_tags %}
{% load pluralize from content_tags %}
{% load url_map %}


{% block head_other %}
  <meta name="description" content="Learn how to successfully export your products to new markets with our comprehensive lessons and case studies" />
{% endblock %}

{% block content %}

    <section id="learn-root" class="learn__page learn__categories-page container">
        <section class="learn__categories-content container m-t-l">
        <div class="p-b-s">
          <img class="f-r learn__export-academy-logo learn__categories-logo" alt="UK Export Academy" src="/static/images/export-academy.svg">
          <h1 class="page-title">Learn to export</h1>
        </div>
        {% for learning_module in page.get_children.specific.live %}
        {% with high_level_completion_progress|get_item:learning_module.id as module_completion_data %}
          <article class="learn__category m-b-s">
            <a href="{% pageurl learning_module %}" class="learn__category-link"><span class="visually-hidden">{{ learning_module.title }}</span></a>
            <div class="c-1-2-l">
                <div class="learn__category-content {% if module_completion_data.completion_count %}learn__category-content--progress-bar{% endif %}">
                    <h2 class="learn__category-title p-b-0">{{ learning_module.title }}</h2>
                    <div class="learn__category-details body-l">{{ learning_module.heading | richtext }}</div>

                {% if not module_completion_data.completion_count %}
                    <span class="button primary-button" title="{{ page.button_label }}">{{ page.button_label }}</span>
                {% else %}
                    {% include "learn/_high_level_progress.html" with module_completion_data=module_completion_data only %}
                {% endif %}

                </div>

                <div class="learn__category-entities button--round-corner bg-aqua">
                    <span class="learn__category-topics">{{ learning_module.count_topics }} topic{% pluralize learning_module.count_topics %}, </span>
                    <span class="learn__category-lessons">{{ learning_module.count_detail_pages }} lesson{% pluralize learning_module.count_detail_pages %}</span>
                </div>
            </div>
            {% image learning_module.image width-600 class="learn__category-image" %}
          </article>
        {% endwith %}
        {% endfor %}
        </section>
    </section>
{% endblock %}
