{% extends "core/base.html" %}
{% load static %}
{% load breadcrumbs from great_components %}

{% block content %}
    <div id="learn-root" class="learn__page learn__category-page">
        <section class="learn__single-category-header">
            <div class="container">
                {% breadcrumbs 'Market research' %}
                <a href="{% url 'core:dashboard' %}" id="breadcrumbs-home">Home</a>
                {% endbreadcrumbs %}
            </div>
            <div class="learn__single-category-header-wrapper container">
                <div class="grid">
                    <div class="learn__single-category-header-content c-1-2-l"> 
                        <h1 class="learn__single-category-title h1">Market research</h1>
                        <div class="learn__category-entities">
                            <span class="learn__category-topics">6 topics, <span>
                            <span class="learn__category-lessons">34 lessons</span>
                        </div>
                        <p class="learn__single-category-header-details">Gain knowledge by researching and understanding your target market and potential customers.</p>
                    </div>
                    <img alt="Market research image" class="learn__single-category-header c-1-2-l" src="{% static 'images/market-research-category.png' %}">
                </div>
            </div>
        </section>
        <section class="learn__category-lists container">
            <ol class="learn__topics-list">
                <li class="learn__topic-item">
                    <div class="grid">
                        <div class="learn__topic-item-details c-1-3-l">
                            <h2 class="learn__topic-item-title">Evaluating Opportunities</h2>
                            <time class="learn__topic-duration" datatime="5M">5 mins</time>
                        </div>
                        <ul class="learn__lessons-list c-2-3-l">
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/evaluating-opportunities/">Evaluating opportunities intro</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/checking-out-your-potential-partners/">Checking out your potential partners</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/moving-accidental-exporting-strategic-exporting/">Moving from accidental exporting to strategic exporting</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="learn__topic-item">
                    <div class="grid">
                        <div class="learn__topic-item-details c-1-3-l">
                            <h2 class="learn__topic-item-title">Market research approaches</h2>
                            <time class="learn__topic-duration" datatime="10M 30S">10:30 mins</time>
                        </div>
                        <ul class="learn__lessons-list c-2-3-l">
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/online-research/">Online research</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/paid-research-qual-and-quant/">Paid for Research: Quality and Quantity</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/market-research/">In Market Research</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="learn__topic-item">
                    <div class="grid">
                        <div class="learn__topic-item-details c-1-3-l">
                            <h2 class="learn__topic-item-title">Research countries and choose destination markets</h2>
                            <time class="learn__topic-duration" datatime="7M 10S">7:10 mins</time>
                        </div>
                        <ul class="learn__lessons-list c-2-3-l">
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/what-information-you-need-choose-country/">What information you need to choose a country</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/ease-entry-including-ease-doing-business/">Ease of entry</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/market-potential-and-demand-your-product-or-service/">Market potential and demand for your product or service</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/known-market-barriers/">Known market barriers</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/local-infrastructure/">Local infrastructure</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/culture-of-customers/">Language and culture</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/known-requirements-product-adaptation-meet-int-standards/">Known requirements for product adaptation to meet standards</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/make-shortlist-and-choose-countrys/">Make a shortlist and choose country(s)</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="learn__topic-item">
                    <div class="grid">
                        <div class="learn__topic-item-details c-1-3-l">
                            <h2 class="learn__topic-item-title">Finding customers and marketing: events</h2>
                            <time class="learn__topic-duration" datatime="5M 30S">5:30 mins</time>
                        </div>
                        <ul class="learn__lessons-list c-2-3-l">
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/how-prepare-trade-show-attendee-including-set-action-plan/">How to prepare for a trade show as an attendee</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/how-prepare-trade-show-exhibitor-including-set-action-plan/">How to prepare for a trade show as an exhibitor</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/how-prepare-trade-mission-including-set-and-action-plan/">How to prepare for a trade mission</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="learn__topic-item">
                    <div class="grid">
                        <div class="learn__topic-item-details c-1-3-l">
                            <h2 class="learn__topic-item-title">Finding customers and marketing: online</h2>
                            <time class="learn__topic-duration" datatime="3M 55S">3:55 mins</time>
                        </div>
                        <ul class="learn__lessons-list c-2-3-l">
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/overview-marketing-essentials-and-options/">Overview of marketing essentials and options</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/setting-marketing-budget-and-resource/">Setting marketing budget and resource</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/designing-campaign/">Designing a campaign</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/digital-marketing/">Digital marketing</a>
                            </li>
                            <li class="learn__lesson-item">
                                <a class="learn__lesson-item-link" href="/learn-module-pages/how-adapt-your-website-international-audience/">How to adapt your website for an international audience</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ol>
        </section>
    </div>
{% endblock %}
