{% load  wagtailcore_tags %}
{% load add_govuk_classes from content_tags %}
<div class="choose-dont-choose">
    <div class="media-block media-block--round-image govuk-!-margin-bottom-7">
        <i class="fas fa-check"></i>
        <div class="g-panel g-panel--horizontal-mobile">
            <h3 class="govuk-heading-m">{{ value.choose_title }}</h3>
            {% filter add_govuk_classes %}
                <div>{{ value.choose_body|richtext }}</div>
            {% endfilter %}
        </div>
    </div>
    <div class="media-block media-block--round-image govuk-!-margin-bottom-7">
        <i class="fas fa-ban"></i>
        <div class="g-panel g-panel--horizontal-mobile">
            <h3 class="govuk-heading-m">{{ value.do_not_choose_title }}</h3>
            {% filter add_govuk_classes %}
                <div>{{ value.do_not_choose_body|richtext }}</div>
            {% endfilter %}    
        </div>
    </div>
</div>
