{% extends "core/base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load pluralize from content_tags %}
{% load get_item from object_tags %}
{% load get_css_class_from_string from content_tags %}
{% load render_signup_cta from content_tags %}
{% load get_hero_image_path_from_class from component_tags %}
{% block body_attributes %}class="great-bg-white"{% endblock %}
{% block content %}
    {% with page.title|get_css_class_from_string|get_hero_image_path_from_class as image_url %}
        {% include '_hero.html' with pngImagePath=image_url heading=page.title aboveCtaHtml=page.heading classes="great-ds-hero--large-image-cropping great-ds-hero--box-shadow great-ds-hero--bg-white"%}
    {% endwith %}
    <div class="great govuk-grid great-bg-white ">
        <section class="great-container" id="topic-lesson-list">
            <ol class="learn__topics-list">
                {% for topic in page.get_topics %}
                    {% with module_completion_progress.completed_lesson_pages|get_item:topic.id as lesson_completion_data_for_topic %}
                        <li id="lesson-{{ topic.slug }}">
                            {% include 'core/curated_topic.html' with topic=topic completed_lessons=lesson_completion_data_for_topic %}
                        </li>
                    {% endwith %}
                {% endfor %}
            </ol>
        </section>
    </div>
    {% if not request.user.is_authenticated %}
        {% render_signup_cta 'green' 'black' %}
    {% endif %}
</div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script>
        document.querySelectorAll('[data-placeholder-title]').forEach(element => {
            magna.createComingSoonModal({
                element,
                title: element.getAttribute('data-placeholder-title'),
                backUrl: "{{self.url}}"
            })
        })
    </script>
{% endblock %}
