{% extends "core/base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load pluralize from content_tags %}
{% load get_item from object_tags %}

{% block content %}
<div id="learn-root" class="learn__page learn__category-page">
    <a href="{{parent_page_url}}" class="learn__back-link h-m">
        <i class="fas fa-arrow-left"></i>
        <span class="visually-hidden">Back</span>
    </a>
    <section class="learn__single-category-header">
        <div class="learn__single-category-header-wrapper container">
            <div class="grid">
                <div class="c-1-2-l">
                    <div class="learn__single-category-header-content">
                        <h1 class="learn__single-category-title h-l p-b-0" id="topic-title">{{ page.title }}</h1>
                        <div class="learn__single-category-header-details">{{ page.heading | richtext }}</div>
                        <div class="learn__category-progress"><span style="width: 25%"></span></div>
                        <p class="body-m-b m-t-xxs m-b-0">5 / 20 lessons complete</p>
                    </div>
                    <div class="learn__category-entities button--round-corner bg-aqua">
                        <span class="learn__category-topics">{{ page.count_topics }} topic{% pluralize page.count_topics %}, </span>
                        <span class="learn__category-lessons">{{ page.count_detail_pages }} lesson{% pluralize page.count_detail_pages %}</span>
                    </div>
                </div>

                <div class="c-1-2-l">
                    {% image page.image width-600 class="learn__single-category-image m-t-m" %}
                </div>
            </div>
        </div>
    </section>
    <section class="learn__category-lists container" id="topic-lesson-list">
        <ol class="learn__topics-list">
            {% for topic in page.topics %}
                {% with module_completion_progress.completed_lesson_pages|get_item:topic.id as completion_data_for_topic %}
                <li class="learn__topic-item"  id="lesson-{{ topic.slug }}">
                    {% include_block topic with topic_id=topic.id lesson_completion_data=completion_data_for_topic %}
                </li>
                {% endwith %}
            {% endfor %}
        </ol>
    </section>
</div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script>
        document.querySelectorAll('[data-placeholder-title]').forEach(element => {
            ditMVP.createComingSoonModal({
                element,
                title: element.getAttribute('data-placeholder-title'),
                backUrl: "{{self.url}}"
            })
        })
    </script>
{% endblock %}
