{% extends 'core/base.html' %}
{% load wagtailimages_tags %}
{% load routablepageurl from wagtailroutablepage_tags %}
{% load url_map %}
{% load content_tags %}

{% block content %}
    <div class="container bg-white" id="lesson-page">
        <div class="grid">
            <!-- <aside class="c-1-6 p-t-xxs p-h-xs">
                <a href="{% url_map 'dashboard' %}">Back</a>
                <ul class="m-v-0">
                    {% for topic in topics %}
                        {% if topic.pk != page.get_parent.pk %}
                        <li class="great-mvp-list-arrow">
                            <h3><a href="{{ topic.get_children.first.get_url }}?{{ request.GET.urlencode }}" class="topic-link">{{ topic.title }}</a></h3>
                        </li>
                        {% else %}
                            <li>
                                <details>
                                    <summary>
                                        <h3 class="h-s">{{ topic.title }}</h3>
                                    </summary>
                                    <ul class="m-v-0">
                                        {% for sibling in page.get_siblings %}
                                            <li><a class="link {% if sibling.pk == page.pk %} bold{% endif %}" href="{{ sibling.get_url }}?{{ request.GET.urlencode }}">{{ sibling.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </details>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </aside> -->
            {% include "core/includes/personalisation_bar.html" with profile=request.user.company %}
            <div class="grid p-t-l p-f-l">
                <div class="c-1-4">
                    <h4 class="h-s">&nbsp;</h4>
                </div>
                <div class="c-1-2">
                    <h1 class="h-xl text-blue-deep-80" id="lesson-title">{{ self.title }}</h1>
                    <p class="estimated-time text-blue-deep-80">
                        <i class="fa fa-clock-o m-r-xxs" aria-hidden="true"></i>
                        <strong>{{page.estimated_read_duration|format_timedelta}} read</strong>
                    </p>

                    {% include 'core/objectives.html' %}
                    {% include 'core/personalised_body.html' %}
                    {% with page.get_next_siblings.live.first as next_page %}
                        {% if next_page %}
                            <div class="lesson-next-area p-t-xxl p-b-s">
                                <h5>Next</h5>
                                <a class="lesson-next-link" href="{{ next_page.get_url }}?{{ request.GET.urlencode }}">{{ next_page.title }}</a>
                                <a class="lesson-back-to-learning m-t-l" href="{{ next_page.get_parent.get_url }}">Back to learning</a>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="c-1-4">
                    <h4 class="h-s">&nbsp;</h4>
                </div>
            </div>

            <hr class="hr--thick" />

            <div class="grid p-t-l p-f-l">
                <div class="c-1-4">
                    <h4 class="h-s">&nbsp;</h4>
                </div>
                <div class="c-1-2">
                    {% include 'learn/step_by_step.html' %}
                    <ul class="step-by-step">
                        <li class="media-block m-b-m">
                            <img src="https://dummyimage.com/70x70/a00/fff" alt="" />
                            <div>
                              <h3 class="h-l text-blue-deep-80">1. Understand and be prepared</h3>
                              <p class="text-blue-deep-80">
                                An exchange rate is the value of a country's currency in terms of the
                                currency of another country or economic zone.
                              </p>
                              <ul class="list-dot text-blue-deep-80">
                                <li>Typically, these rates of foreign exchange</li>
                                <li>If you haven't fixed your exchange rate</li>
                              </ul>
                              <hr class="hr--thick" />
                              <p class="text-blue-deep-80">
                                An exchange rate is the value of a country's currency in terms of the
                                currency of another country or economic zone.
                              </p>
                              <ul class="list-dot text-blue-deep-80">
                                <li>Typically, these rates of foreign exchange</li>
                                <li>If you haven't fixed your exchange rate</li>
                              </ul>
                            </div>
                        </li>
                        <li class="media-block m-b-m">
                            <img src="https://dummyimage.com/70x70/0a0/fff" alt="" />
                            <div>
                                <h3 class="h-l text-blue-deep-80">2. Consider your invoicing currency</h3>
                                <p class="text-blue-deep-80">Think about whether you'll charge for your goods in pounds or the currency of your export market.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="c-1-4">
                    <h4 class="h-s">&nbsp;</h4>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

    <script>
      ditMVP.createMarkLessonAsComplete({
        element: document.querySelector("#mark_as_complete"),
        endpoint: '{% url "sso:lesson-completed" lesson=page.id %}'
      })
    </script>

