{% extends 'core/base.html' %}
{% load wagtailimages_tags %}
{% load routablepageurl from wagtailroutablepage_tags %}
{% load url_map %}
{% load content_tags %}

{% block content %}
<div class="lesson-page">
    <div class="bg-white">
        <div class="container">
            <div class="grid">
                {% include "core/includes/personalisation_bar.html" with profile=request.user.company %}
                <div class="grid p-t-l">
                    <div class="c-1-4">
                        <h4 class="h-s">&nbsp;</h4>
                    </div>
                    <div class="c-1-2">
                        <h1 class="h-xl text-blue-deep-80" id="lesson-title">{{ self.title }}</h1>
                        <p class="estimated-time text-blue-deep-80 m-t-xs">
                            <i class="fa fa-clock-o m-r-xxs" aria-hidden="true"></i>
                            <strong>{{page.estimated_read_duration|format_timedelta}} read</strong>
                        </p>
                        <div class="lesson-hero m-t-m m-b-m">
                            {% include 'learn/hero_media_item.html' %}
                        </div>
                        {% include 'core/objectives.html' %}
                    </div>
                    <div class="c-1-4">
                        <h4 class="h-s">&nbsp;</h4>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr--thick m-0" />
    </div>
    <div class="bg-white">
        <div class="container">
            <div class="grid">
                <div class="grid p-t-l">
                    <div class="c-1-4">
                        <h4 class="h-s">&nbsp;</h4>
                    </div>
                    <div class="c-1-2">
                        {% include 'core/personalised_body.html' %}
                        {% include 'learn/step_by_step.html' %}
                    </div>
                    <div class="c-1-4">
                        <h4 class="h-s">&nbsp;</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-blue-deep-80">
        <div class="container">
            <div class="grid">
                <div class="grid p-t-l p-b-l">
                    <div class="c-1-4">
                        <h4 class="h-s">&nbsp;</h4>
                    </div>
                    <div class="c-1-2">
                        <div id="mark_as_complete" class="bg-blue-deep-80"></div>
                        {% with page.get_next_siblings.live.first as next_page %}
                            {% if next_page %}
                                <div class="lesson-next-area p-t-xxl p-b-s">
                                    <h5>Next</h5>
                                    <a class="lesson-next-link" href="{{ next_page.get_url }}?{{ request.GET.urlencode }}">{{ next_page.title }}</a>
                                    <a class="lesson-back-to-learning m-t-l" href="{{ next_page.get_parent.get_url }}">Back to learning</a>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="c-1-4">
                        <h4 class="h-s">&nbsp;</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script>
      {% if request.user.is_authenticated %}
      ditMVP.createMarkLessonAsComplete({
        element: document.querySelector("#mark_as_complete"),
        endpoint: '{% url "sso:lesson-completed" lesson=page.id %}'
      })
      {% endif %}
    </script>

{% endblock %}
