{% extends "core/base.html" %}

{% block content %}
    <section id="learn-root">
        <div class="learn__wrapper">
            <div class="learn__carousel">
                <p class="learn__carousel--paragraph">We’ve created simple, bite sized lessons to make it easier for you to learn about the world of exporting.</p>
                <nav class="learn__carousel-nav">
                    <ul class="learn__carousel-ul">
                        <li class="learn__nav-circle--active learn__nav-circle"><a href="/learn/how-to-export-first-step">Go to slide 1</a></li>
                        <li class="learn__nav-circle"><a href="/learn/how-to-export-second-step">Go to slide 2</a></li>
                        <li class="learn__nav-circle"><a href="/learn/how-to-export-third-step">Go to slide 3</a></li>
                    </ul>
                    <a class="button" href="/learn/how-to-export-second-step">Continue</a>
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
