{% load static %}

<div class="ita-quote media-block m-b-m">
    <img src="{% static 'images/quote.png' %}" alt="" />
    <div>
        <figure class="quote">
            <blockquote class="m-t-0">
                At that one show, I picked up orders from customers in seven countries
                on the other side of the atlantic... the potential rewards for smaller
                businesses can be amazing if you’re prepared to put in the effort to
                start with
            </blockquote>
            <figcaption>
                Aidan Bruce
                <br />
                Managing Director of Genesis Tilemates.
            </figcaption>
        </figure>
    </div>
</div>