{% extends "core/base.html" %}
{% load static %}
{% load breadcrumbs from great_components %}

{% block content %}
    <section class="learn__page learn__home-page container" id="learn-root">
        <div class="grid">
            <div class="c-1-2-l">
                <h1 class="h1">Get ready to export</h1>
                <p class="learn__wrapper--paragraph">Start your exporting journey today, and in no time, you’ll have your realistic business plan for selling overseas. </p>
                <a class="button" href="/learn/introduction">Learn how to export</a>
                {% include 'core/personalised_body.html' %}
            </div>
            <img alt="Abstract illustration" class="c-1-2-l" src="{% static 'images/learn-homepage-illustration.png' %}"/>
        </div>
    </section>
{% endblock %}
