{% extends 'core/base.html' %}
{% load wagtailimages_tags %}
{% load include_block from wagtailcore_tags %}
{% load routablepageurl from wagtailroutablepage_tags %}
{% load add_anchors_to_all_headings add_export_elements_classes from great_components %}

{% block content %}
    <div class="container" id="lesson-page">
        <div class="grid">
            <aside class="c-1-6 p-t-xxs p-h-xs">
                <a href="{% url 'core:dashboard' %}">Back</a>
                <ul class="m-v-0">
                    {% for topic in topics %}
                        <li><h3 class="h-s {% if topic.pk == page.get_parent.pk %} bold{% endif %}"><a href="{{ topic.get_children.first.get_url }}?{{ request.GET.urlencode }}" class="topic-link">{{ topic.title }}</a></h3></li>
                        {% if topic.pk == page.get_parent.pk %}
                            <ul class="m-v-0">
                                {% for sibling in page.get_siblings %}
                                    <li><a class="link {% if sibling.pk == page.pk %} bold{% endif %}" href="{{ sibling.get_url }}?{{ request.GET.urlencode }}">{{ sibling.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}

                </ul>
            </aside>
            <div class="c-5-6">
                <nav class="p-t-xs p-h-xs great-mvp-full-width-background">
                    <span class="m-f-xs">Exporting </span>
                    {% if request.GET.products_label %} for
                        {% for name, values in request.GET.lists %}
                            {% if name == 'products_label' %}
                                {% for label in values %}
                                    <span class="great-mvp-pill-button set-product-button">{{ label }}</span>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    to
                    {% if request.user.company.expertise_countries_labels %}
                        {% for label in request.user.company.expertise_countries_labels %}
                            <span class="great-mvp-pill-button set-country-button">{{ label }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="great-mvp-pill-button set-country-button">add country</span>
                    {% endif %}
                </nav>

                <div class="grid p-t-l p-f-l">
                    <div class="c-2-3">
                        <h1 class="h-l" id="lesson-title">{{ self.title }}</h1>
                        {% for block in page.generic_content %}
                            <div>
                            {% filter add_anchors_to_all_headings %}
                                {% filter add_export_elements_classes %}
                                    {% include_block block %}
                                {% endfilter %}
                            {% endfilter %}
                            </div>
                        {% endfor %}

                        <div id="countries-chooser" class="great-mvp-full-width-background"></div>

                        {% with page.get_next_siblings.live.first as next_page %}
                            {% if next_page %}
                                <div class="lesson-next-area p-t-xxl p-b-s">
                                    <h5>Next</h5>
                                    <a class="lesson-next-link" href="{{ next_page.get_url }}?{{ request.GET.urlencode }}">{{ next_page.title }}</a>
                                    <a class="lesson-back-to-learning m-t-l" href="{{ next_page.get_parent.get_url }}">Back to learning</a>
                                </div>
                            {% endif %}
                        {% endwith %}

                    </div>
                    <div class="c-1-3">
                        <h4 class="h-s">&nbsp;</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body_js %} 
    <script type="text/javascript">
        var element = document.createElement('div');
        document.body.appendChild(element);
        ditMVP.setConfig({
            apiLookupProductUrl: '{% url "core:api-lookup-product" %}',
            apiSignupUrl: '{% url "sso:business-sso-create-user-api" %}',
            apiUpdateCompanyUrl:  '{% url "core:api-update-company" %}',
            csrfToken: '{{ csrf_token }}',
            dashboardUrl: '{% url "core:dashboard" %}',
            googleUrl: '{{ signup_modal.google_url }}',
            linkedInUrl: '{{ signup_modal.linkedin_url }}',
            loginUrl: '{% url "core:login" %}',
            termsUrl: '{{ signup_modal.terms_url }}',
            verifyCodeUrl: '{% url "sso:business-sso-verify-code-api" %}',
            userIsAuthenticated: {{ request.user.is_authenticated|yesno:"true,false" }}
        });

        function onComplete(userHasSignupIntent, nextUrl, products) {
            if (userHasSignupIntent) {
                var element = document.createElement('div');
                document.body.appendChild(element);
                ditMVP.SignupModal({ 
                    element: element,
                    isOpen: true,
                    companySettings: {
                        expertise_products_services: {
                            'other': products
                        },
                    },
                    mode: 'centre',
                    nextUrl: nextUrl
                });
            } else {
                window.location.assign(nextUrl)
            }
        }

        {% if not request.GET.products %}
            ditMVP.ExportModal({
                element: element,
                isOpen: true,
                onComplete: onComplete
            });
         {% else %}
            var element = document.createElement('div');
            document.body.appendChild(element);
            var buttons = document.getElementsByClassName('set-product-button')
            for (var i = 0; i < buttons.length; i++) {
                var button = buttons.item(i)
                button.addEventListener('click', function() {
                    ditMVP.ExportModal({
                        element: element,
                        isOpen: true,
                        onComplete: onComplete
                    });
                })
            }

    {% endif %}
    </script>
    <script type="text/javascript">
        var buttons = document.getElementsByClassName('set-country-button')

        for (var i = 0; i < buttons.length; i++) {
            var button = buttons.item(i)
            button.addEventListener('click', function() {
                var element = document.createElement('div');
                document.body.appendChild(element);
                ditMVP.setConfig({
                    csrfToken: '{{ csrf_token }}',
                    countryOptions: {{ country_choices|safe }},
                    apiUpdateCompanyUrl:  '{% url "core:api-update-company" %}',
                    {% if user.company %}
                    userCountries: {{ user.company.expertise_countries_value_label_pairs|safe }},
                    userIndustries: {{ user.company.expertise_industries_value_label_pairs|safe }}
                    {% else %}
                    userCountries: [],
                    userIndustries: [],
                    {% endif %}
                });
                ditMVP.CountriesModal({
                    element: element,
                    isOpen: true,
                });
            })
        }
    </script>
    <script type="text/javascript">
       ditMVP.setConfig({
            csrfToken: '{{ csrf_token }}',
            countryOptions: {{ country_choices|safe }},
            {% if user.company %}
            userCountries: {{ user.company.expertise_countries_value_label_pairs|safe }},
            userIndustries: {{ user.company.expertise_industries_value_label_pairs|safe }},
            {% else %}
            userCountries: [],
            userIndustries: [],
            {% endif %}
            apiUpdateCompanyUrl:  '{% url "core:api-update-company" %}'
        });
        var element = document.getElementById('countries-chooser')
        ditMVP.Countries({
            element: element,
            suggestedCountries: [{value: 'AU', label: 'Australia'}]
        })
    </script>
{% endblock %}