<div class="grid p-t-l d-flex-t">
    <div class="c-1-6">
        <h4 class="h-s">&nbsp;</h4>
    </div>
    <div class="c-1-3 m-b-s">
        <div class="box box--no-pointer pros-and-cons h-100">
            <h3 class="h-l text-blue-deep-80 p-b-xs">Pros</h3>
            <ul class="list-arrow">
                {% for pro in block.value.pros %}
                <li>
                <i class="fas fa-angle-right"></i>
                <span>{{ pro.value.item }}</span>
                </li>
                {% endfor %}
            </ul>
            </div>
    </div>
    <div class="c-1-3 m-b-s">
        <div class="box box--no-pointer pros-and-cons h-100">
            <h3 class="h-l text-blue-deep-80 p-b-xs">Cons</h3>
            <ul class="list-arrow">
                {% for con in block.value.cons %}
                <li>
                <i class="fas fa-angle-right"></i>
                <span>{{ con.value.item }}</span>
                </li>
                {% endfor %}
            </ul>
            </div>
    </div>
    <div class="c-1-6">
        <h4 class="h-s">&nbsp;</h4>
    </div>
</div>