<div class="grid p-t-l d-flex-t">
    <div class="c-1-6">
        <h4 class="h-s">&nbsp;</h4>
    </div>
    <div class="c-1-3 m-b-s">
        <div class="box box--no-pointer pros-and-cons h-100">
            <h3 class="h-l text-blue-deep-80 p-b-xs">Pros</h3>
            <ul class="list-arrow">
                <li>
                <i class="fas fa-angle-right"></i>
                <span>Your own bank may be more familiar with your business</span>
                </li>
                <li>
                <i class="fas fa-angle-right"></i>
                <span>Bank loans let you keep full control of your company</span>
                </li>
            </ul>
            </div>
    </div>
    <div class="c-1-3 m-b-s">
        <div class="box box--no-pointer pros-and-cons h-100">
            <h3 class="h-l text-blue-deep-80 p-b-xs">Cons</h3>
            <ul class="list-arrow">
                <li>
                <i class="fas fa-angle-right"></i>
                <span>Your own bank may be more familiar with your business</span>
                </li>
            </ul>
            </div>
    </div>
    <div class="c-1-6">
        <h4 class="h-s">&nbsp;</h4>
    </div>
</div>