<div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-9 d-flex-t pros-and-cons__container">
    <div class="govuk-grid-column-one-half govuk-!-margin-top-2">
        <div class="box box--no-pointer pros-and-cons pros-and-cons__pros h-100">
            <h3 class="govuk-heading-small text-blue-deep-80 p-b-xs govuk-!-padding-top-0">Pros</h3>
            <ul class="govuk-list govuk-list--bullet body-l govuk-!-margin-bottom-0">
                {% for pro in block.value.pros %}
                    <li>
                        <span>{{ pro.value.item }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-margin-top-2">
        <div class="box box--no-pointer pros-and-cons pros-and-cons__cons h-100">
            <h3 class="govuk-heading-small p-b-xs govuk-!-padding-top-0">Cons</h3>
            <ul class="govuk-list govuk-list--bullet body-l govuk-!-margin-bottom-0">
                {% for con in block.value.cons %}
                    <li>
                        <span>{{ con.value.item }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
