{% load get_cta_attributes from helpers %}
<div class="related-links-cta-container govuk-!-margin-bottom-6 govuk-!-margin-top-6">
    <div class="great-ds-card-container">
        {% for cta in block.value %}
            {% get_cta_attributes cta as cta_attrs %}
            {% include '_card.html' with type="mounted-blue" href=cta_attrs.link title=cta.link_text metadataText=cta_attrs.tag_description metadataIconType=cta_attrs.tag_description metaDataIconPath="/static/icons" id=page.slug titleSize="s" classes="great-ds-card--3" %}
        {% endfor %}
    </div>
</div>
