@import '../colors/colors.scss';
@import '../sizes/sizes.scss';
@import './typography.scss';
@import './icons.scss';
@import '../sizes/sizes.scss';

.page-title {
  padding: $x-large-padding 0 $large-padding 0;
}

.link {
  color: $color-gov-link;
}

.learning-link:visited,
.link:hover,
.link:active,
.link:focus:active {
  color: $color-visited;
}

article > h5 {
  padding-top: $standard-padding;
}

article > p {
  margin: 0;
  padding-bottom: $standard-padding;
}

.bold,
.results.title,
#search-results-information p,
.heading-small {
  font-family: $header-font;
}

#great-footer-copyright {
  font-size: $font-size-p-small;
  line-height: $p-line-height;
}

.font-xsmall,
.subheading,
.heading-small {
  font-family: $main-text-font;
}

//just overidde colors
.h-m,
.h-s,
a.learn__category-link,
.body-m,
.body-l,
.h-l,
.body-l-b,
.h-xs,
.body-l,
.body-s,
div,
label.body-l,
.body-m-b,
.body-s-b,
.heading-large,
.heading-xlarge,
.heading-small,
.heading-medium,
.multiple-choice label,
.select__button i,
.great-checkbox label,
.great-checkbox label::before,
.learn__lesson-item-link:visited,
.learning-link:visited,
p.lede {
  color: $color-main-text;
}

.big-number-list li:before {
  font-family: $header-font !important;
  color: $color-main-text !important;
}

.font-xsmall,
p.lede {
  font-family: $main-text-font;
}

//just overidde colors
.h-m,
.h-s,
a.learn__category-link,
.body-m,
.body-l,
.h-l,
.body-l-b,
.h-xs,
.body-l,
.body-s,
div,
label.body-l,
.body-m-b,
.body-s-b,
.heading-large,
.heading-xlarge,
.heading-small,
.heading-medium,
.multiple-choice label,
.select__button i,
.great-checkbox label,
.great-checkbox label::before,
.learn__lesson-item-link:visited,
.learning-link:visited {
  color: $color-main-text;
}

#great-footer-copyright {
  font-size: $font-size-p-small;
  line-height: $p-line-height;
}

.font-xsmall {
  font-family: $main-text-font;
}

//just overidde colors
.h-m,
.h-s,
a.learn__category-link,
.body-m,
.body-l,
.h-l,
.body-l-b,
.h-xs,
.body-l,
.body-s,
div,
label.body-l,
.body-m-b,
.body-s-b,
.heading-large,
.heading-xlarge,
.heading-small,
.heading-medium,
.multiple-choice label,
.select__button i,
.great-checkbox label,
.great-checkbox label::before,
.learn__lesson-item-link:visited,
.learning-link:visited {
  color: $color-main-text;
}

//override font-family
.h-m,
.h-s,
.h-l,
.h-xs,
.heading-large,
.heading-xlarge,
.heading-small,
.heading-medium,
.body-l-b {
  font-family: $header-font;
  font-weight: $regular-font-weight;
}

.link,
.form-control,
.body-m,
.body-s,
.body-l,
.great-checkbox label,
.multiple-choice label {
  font-family: $main-text-font !important;
  font-weight: $regular-font-weight;
}

.body-l-b {
  font-size: $font-size-p;
}

.magna-header__menu-items button,
.magna-header__search input,
select.form-control,
.breadcrumbs li {
  font-size: $font-size-button;
  font-family: $main-text-font;
}
