{% extends "form-wrapper.html" %}
{% load static %}
{% load breadcrumbs from component_tags %}
{% block head_title %}Verify your company address - Business profile - GREAT.gov.uk{% endblock %}
{% block form_title %}Your company address{% endblock %}
{% block button_next_label %}Next{% endblock %}
{% block button_finish_label %}Send request{% endblock %}
{% block head_css %}
    <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'fab_styles.css' %}" rel="stylesheet" type="text/css" />
    {{ block.super }}
{% endblock %}

{% block content %}
{% breadcrumbs breadcrumbs-container %}
    <a href="{% url 'find_a_buyer:verify-company-hub' %}">Back</a>
{% endbreadcrumbs %}
{{ block.super}}
{% endblock %}
{% block formarea %}
    <div id="ed-company-edit-address-tickbox-container">{{ block.super }}</div>
{% endblock formarea %}
{% block form_subtitle %}
    <h2 class="govuk-caption-l govuk-!-margin-bottom-2">Confirm your identity by post</h2>
    <h1 class="govuk-heading-xl">Enter your details</h1>
    <div class="govuk-form-group govuk-!-margin-bottom-7 {% if form.postal_full_name.errors %}govuk-form-group--error{% endif %} govuk-!-margin-bottom-2">
        <fieldset class="govuk-fieldset">
            {% include 'domestic/contact/includes/govuk-form-field.html' with label_classes="govuk-!-margin-bottom-2" inputWrapperClass="govuk-!-width-three-quarters" field=form.postal_full_name %}
        </fieldset>
    </div>
    <div class="inset-text-gray-thickest-border govuk-!-margin-bottom-6">
        <li>
            <div>
                <p class="govuk-heading-s">{{ company_name }}</p>
                <p>
                    Company number: <strong>{{ company_number }}</strong>
                </p>
                <p>Address: {{ company_address }}</p>
            </div>
        </li>
    </div>
{% endblock %}
