{% extends "form-wrapper.html" %}
{% block head_title %}Verify your company - great.gov.uk{% endblock %}
{% block form_title %}Verify your company{% endblock %}
{% block button_next_label %}Next{% endblock %}
{% block button_finish_label %}Continue{% endblock %}
{% block form_subtitle %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Confirm your identity</h1>
    <p class="govuk-!-margin-bottom-6">
        Enter the 12 digit code from the letter that was sent to {{ company.address_line_1 }}.
    </p>
{% endblock form_subtitle %}
{% block formarea %}
    {{ block.super }}
    <p>or</p>
    <div>
        <h2 class="heading-medium">Sign in with Companies House</h2>
        <p>
            Alternatively you can sign in to Companies House to verify. You will need your Companies House authentication code and the email and password you use to sign in.
        </p>
        <br />
        <br />
        <a href="{% url 'find_a_buyer:verify-companies-house' %}"
           class="button button-blue"
           target="_self">Sign in to Companies House</a>
    </div>
    <br />
    <br />
    <a href="{% url 'sso_profile:business-profile' %}" class="link">Cancel</a>
{% endblock %}
