{% extends 'enrolment-base.html' %}
{% block head_title %}Company verified - {% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %}
{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block formarea %}
	<div class="outer-container">
		<h1 class="heading-xlarge">Your identity has been confirmed</h1>
		<p>
			You can now <a class="link" href="{% url 'sso_profile:business-profile' %}">edit and publish your business profile</a>
		</p>
	</div>
{%endblock formarea %}