{% extends 'enrolment-base.html' %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}

{% block content %}
<div class="outer-container ed-enrolment">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Successfully unsubscribed</h1>
			<p>You have successfully unsubscribed from marketing emails from the business profile service.</p>
			<p>You may still receive emails about your account, for example, if our terms of use change or there are specific changes to the service(s) offered.</p>
		</div>
	</div>
</div>
{% endblock %}
