{% extends "enrolment-base.html" %}
{% load i18n %}
{% block head %}{{ wizard.form.media }}{% endblock %}
{% block hero_title %}Create your company’s profile{% endblock %}
{% block hero_text %}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block content %}
{{ block.super }}{% endblock %}
{% block formarea %}
    <form action="" method="post" enctype="multipart/form-data" class="govuk-!-margin-bottom-3 govuk-!-margin-top-0">
        <div class="{% block container_class %}connections-platform-form{% endblock %}">
            {% block form_subtitle %}
            {% endblock form_subtitle %}
            {% csrf_token %}
            <div>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}{{ form }}{% endfor %}
                {% else %}
                    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="govuk-form-group govuk-!-margin-bottom-2 {% if field.errors %}govuk-form-group--error{% endif %} ">
                            <fieldset class="govuk-fieldset">
                                {% include 'domestic/contact/includes/govuk-form-field.html' with inputWrapperClass="govuk-!-width-three-quarters" field=field %}
                            </fieldset>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% block extra_form_footer %}
            {% endblock extra_form_footer %}
            <div>
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" class="govuk-button govuk-!-margin-top-0">
                        type="submit"
                        value="{{ wizard.steps.prev }}">
                        < Back to previous step
                    </button>
                {% endif %}
                {% if wizard.steps.step1 != wizard.steps.count %}
                    <button class="govuk-button govuk-!-margin-top-0">
                        {% block button_next_label %}Next{% endblock %}
                    </button>
                {% else %}
                    <button class="govuk-button govuk-!-margin-top-0">
                        {% block button_finish_label %}Register{% endblock %}
                    </button>
                {% endif %}
                {% block extra_buttons %}{% endblock %}
            </div>
        </div>
        <div class="cf"></div>
    </form>
{% endblock %}
