<html>
    <head>
        <script src="../../../node_modules/wct-browser-legacy/browser.js"></script>
        <script type="module" src="icon.js"></script>
    </head>
    <body>
        <great-icon size="sm"></great-icon>
        <script>
            suite('header', function() {
                const icon = document.body.querySelector('great-icon')

                test('renders', function() {
                    assert.equal(icon.getAttribute('size'), 'sm')
                })
            })
        </script>
    </body>
</html>
