@import "../../index.css";

:root {
    --size-sm: 16px;
    --size-lg: 40px;
    --size-xl: 80px;
    --size-xxl: 120px;
}

:host {
    display: inline-block;
}

.sm svg{
    height: var(--size-sm);
    width: var(--size-sm);
}

.lg svg{
    height: var(--size-lg);
    width: var(--size-lg);
}

.xl svg{
    height: var(--size-xl);
    width: var(--size-xl);
}

.xxl svg{
    height: var(--size-xxl);
    width: var(--size-xxl);
}

.primary svg {
    fill: var(--colour-white-100);
}

.secondary svg {
    fill: var(--colour-white-100);
}

.tertiary {
    svg {
        fill: var(--colour-blue-deep-80);
    }

    &:not(.disabled) svg:hover {
        fill: var(--colour-blue-deep-100);
    }

    &.disabled svg {
        fill: var(--colour-black-20);
    }
}
