@import '../sizes/sizes.scss';
@import '../colors/colors.scss';
@import '../fonts/main.scss';

footer {
  background-color: $color-main-background;

  .copyright-container {
    background-color: $color-main-background;
    display: flex;
    justify-content: center;
    div {
      width: 100%;
      align-items: center;
      display: inline-flex;
      flex-direction: row;
      max-width: $content-max-width;
      padding: $large-padding $x-large-padding;
      gap: $large-padding;
      @media only screen and (max-width: $mobile-size) {
        padding: $large-padding;
        flex-direction: column;
        align-items: flex-start;
      }
      @media only screen and (min-width: (1290px + ($x-large-padding * 2) )) {
         padding: 40px 0 $large-padding 0;

      }

      p.copy-right {
        font-size: 18px;
        padding-top: 3px;
        margin: 0;
        margin-left: auto;
        @media only screen and (max-width: $mobile-size) {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
  nav.footer {
    background-color: $color-footer;
    display: flex;
    justify-content: center;

    ul {
      margin: 80px $x-large-padding $x-large-padding;
      max-width: 1230px;
      display: inline-flex;
      gap: $large-padding;
      flex-wrap: wrap;

      @media only screen and (max-width: $mobile-size) {
        flex-direction: column;
        margin: 115px $large-padding 52px $large-padding;
      }

      > li {
        font-family: $main-text-font;
        font-size: 30px;
        color: $color-alternative-text;
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
        cursor: pointer;
      }
    }
  }
}
