a#great-global-header-domestic-link:after {
    background-color: #b00d23;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: block;
}
