@import '../../styles/colors/colors.scss';

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number], textarea, textarea.form-control {
    border-radius: 0px;
    border: 2px solid #000000
}
input[type=checkbox].markascomplete_checkbox{
    background-color: $color-completed;
}

label{
    color: $color-main-text;
}
