@import '../fonts/typography.scss';
nav>ul>li>a {
    font-family:$main-text-font!important ;
    border-bottom: 0;
    text-decoration: none;
    font-size: 20px!important;
    color: white!important;
    padding-right: 4px;
    border:none!important
}