@import '../fonts/main.scss';
@import '../colors/colors.scss';
@import '../sizes/sizes.scss';

$breakpoint: 1250px;

nav.main-nav ul a {
  font-family: $main-text-font !important ;
  font-size: $font-size-p;
  border-bottom: 0;
  text-decoration: none;
  color: $color-alternative-text !important;
  padding-right: 4px;
  border: none !important;
}

// to override great styles
nav a {
  &:focus:active {
    color: $color-alternative-text;
  }
}

nav.breadcrumbs {
  padding: 0.75em $x-large-padding;
  max-width: $content-max-width;
  background-color: $color-background-color;
  @media only screen and (min-width: calc( $content-max-width + (2* $x-large-padding))) {
    margin: 0 auto;
    padding: 0.75em 0;
  }

  @media only screen and (max-width: calc( $content-max-width + (2* $x-large-padding))) {
    padding: 0.75em $x-large-padding;
  }

  a,
  span {
    font-size: 16px;
  }

  li {
    margin-bottom: 0;
  }
}

nav {
  .magna-header__nav {
    @media only screen and (max-width: $breakpoint) {
      display: none;
    }
  }
}

.magna-header__dropdown {
  right: 0;
  margin-top: 10px;
  background-color: $color-footer !important;
  @media only screen and (max-width: $mobile-size) {
    margin-top: 9px;
  }
}

nav.breadcrumbs {
  padding-top: calc(0.75em - (0.5 * $standard-padding)) !important;
  padding-bottom: calc(0.75em - (0.5 * $standard-padding)) !important;
  background-color: $color-background-color;

  background-color: $color-background-color;
  @media only screen and (max-width: $mobile-size) {
    padding: calc(0.75em - (0.5 * $standard-padding)) 15px !important;
  }

  li {
    padding: 0.5 * $standard-padding 0;
    margin-left: 0;
  }
  li::after {
    margin-right: $standard-padding;
  }
}

nav {
  .magna-header__nav {
    @media only screen and (max-width: $breakpoint) {
      display: none;
    }
  }
}

.magna-header__dropdown-button {
  font-family: $main-text-font !important;
  font-size: $font-size-p !important;
  z-index: 3;
}

div.mirosite-nav-container {
  background-color: $color-footer;
  height: 140px;
  position: relative;

  h3 {
    color: $color-alternative-text;
  }

  nav {
    display: inline-flex;
    gap: $x-large-padding;
    height: 100%;
    display: flex;
    align-items: end;
    div {

      > a {
        font-size: 18px;
        color: $color-alternative-text;
        text-decoration: none;
        border-bottom: 5px solid transparent;
      }

      .subnav {
        display: none;
        position: absolute;
        left: 0;
        background-color: red;
        width: 100%;
        z-index: 1;

        a {
          float: left;
          color: $color-alternative-text;
          text-decoration: none;
        }
      }
      &.active {
       >a{ border-bottom: 5px solid white;}
        .subnav {
          display: block;
        }
      }
    }
  }
}
