@import '../colors/colors.scss';
@import '../fonts/typography.scss';
@import '../sizes/sizes.scss';

$where-to-export-image: url(/static/images/where-to-export-header.png);
$export-plan-image: url(/static/images/export-plan-header.png);
$learn-to-export-image: url(/static/images/learn-to-export-header.png);
$account-image: url(/static/images/accounts-header.png);
$get-started-header: url(/static/images/learn-to-export-topic1-header.png);
$identify-opportunities-header: url(/static/images/learn-to-export-topic2-header.png);
$prepare-to-sell-header: url(/static/images/learn-to-export-topic3-header.png);
$regulations-licensing-header: url(/static/images/learn-to-export-topic4-header.png);
$funding-financing-header: url(/static/images/learn-to-export-topic5-header.png);

.page-header {
  position: relative;
  background-color: $color-main-background !important;
  width: 100%;
  height: 355px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;

  &.get-started .image-container {
    background: $get-started-header;
  }

  &.identify-opportunities-and-research-the-market .image-container {
    background: $identify-opportunities-header;
  }

  &.prepare-to-sell-into-a-new-country .image-container {
    background: $prepare-to-sell-header;
  }

  &.regulations-licensing-and-logistics .image-container {
    background: $regulations-licensing-header;
  }

  &.funding-financing-and-getting-paid {
    background: $funding-financing-header;
  }

  &.where-to-export-header .image-container {
    background: $where-to-export-image;
  }

  &.export-plan-header .image-container {
    background: $export-plan-image;
  }

  &.account-header .image-container {
    background: $account-image;
  }

  &.market-header .image-container {
    background: url(/static/images/export-plan-header.png);
  }

  &.learn-header .image-container {
    background: $learn-to-export-image;
  }

  @media only screen and (min-width: 1290px) {
    margin-left: auto;
  }

  @media only screen and (min-width: 2030px) {
    margin: auto;
    padding-left: 380px;
  }
  @media only screen and (min-width: $max-header-width) and (max-width: 2030px) {
    margin: auto;
    padding-left: calc((100vw - $max-header-width) / 2 + 170px);
  }

  .inner-header {
    max-width: $max-header-width;
    width: 100%;
    height: 100%;
    margin-left: 48px;
    display: inline-flex;
    @media only screen and (min-width: $mobile-size) and (max-width: 980px) {
      margin-left: $large-padding;
    }
    @media only screen and (min-width: (1290px + $x-large-padding)) and (max-width: $max-header-width) {
      margin-left: calc((100vw - 1290px) / 2 + $large-padding);
    }
    @media only screen and (min-width: $max-header-width) {
      margin-left: 0;
    }

    > div:first-child {
      padding-top: 60px;
      padding-bottom: 60px;
      flex: 1;
      min-width: 420px;

      box-sizing: border-box;

      h1 {
        @media only screen and (min-width: $mobile-size) and (max-width: 980px) {
          font-size: $font-size-h2;
        }
      }

      button {
        min-width: initial;
      }

      p {
        margin-top: $standard-padding;
        margin-bottom: $large-padding;
      }

      p.sub-header {
        color: #e94f3d;
        margin-bottom: $standard-padding;
      }

      .lesson-summary {
        display: inline-flex;
        align-items: center;
        span,
        i {
          color: $color-gov-link;
        }
        i {
          padding-bottom: 3px;
        }
        .learn__category-topics {
          padding-left: $standard-padding;
        }
        .learn__category-lessons {
          padding-left: $standard-padding * 0.5;
        }
      }
    }
  }

  i.fa .fa-clock {
    color: $color-gov-link;
  }

  .image-container {
    display: none;
  }

  @media only screen and (min-width: $mobile-size) and (max-width: 1172px) {
    background-size: 70% auto !important;
  }

  @media only screen and (max-width: $mobile-size) {
    background: $color-main-background !important;
    height: auto;
    background-size: 0% auto;
    padding-bottom: 0;
    margin:0;



    .inner-header{
       width: 100%;
      margin:0;
      padding: 0 1.5 *$standard-padding;

       > div:first-child {
      height: auto;
      flex: 1;
      width: 100%;
      margin:0;
      // min-width: $mobile-size * 0.5;

      button {
        width: 100%;
        min-width: auto;
      }
    }
  }

    .image-container {
      width: 100%;
      height: 100%;
      flex: 2;
      background-repeat: no-repeat !important;
      background-size: auto 100% !important;

      @media only screen and (min-width: $mobile-size) and (max-width: 980px) {
        margin-left: -8%;
      }
      @media only screen and (min-width: 980px) {
        background-size: auto 125% !important;
        background-position-y: 50% !important;
      }
    }
  }

  i.fa .fa-clock {
    color: $color-gov-link;
  }

  @media only screen and (max-width: $mobile-size) {
    background: $color-main-background !important;
    height: auto;
    background-size: 0% auto;
    padding-top: $x-large-padding;
    padding-bottom: 0;
    margin: 0;
    gap: $standard-padding;

    button {
      width: 100%;
    }
    p.sub-header {
      padding-bottom: $standard-padding * 0.5;
    }

    .inner-header {
      width: 100%;
      margin: 0;
      padding: 0 1.5 * $standard-padding;
      flex-direction: column;
      gap: $standard-padding;

      > div:first-child {
        height: auto;
        min-width: fit-content;
        flex: 1;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }

    .image-container {
      display: flex;
      flex: 1;
      height: 0;
      padding-top: 45%;
      width: 100%;
      background-repeat: no-repeat !important;
      background-size: 100% auto !important;
      background-position-y: bottom !important;
      background-position-x: 5vw !important;
    }
  }
}

.market-details-header {
  height: 345px;
  background-position: 50% !important;
  background-size: cover !important;

  @media only screen and (max-width: $mobile-size) {
    height: 200px;
  }
}
