@import '../colors/colors.scss';
@import '../fonts/typography.scss';
@import '../sizes/sizes.scss';

$where-to-export-image: url(/static/images/where-to-export-header.png);
$export-plan-image: url(/static/images/export-plan-header.png);
$learn-to-export-image: url(/static/images/learn-to-export-header.png);
$account-image: url(/static/images/accounts-header.png);

.page-header {
    background-color: $color-main-background !important;
    width: 100%;
    height: 355px;
    background-position-x: right !important;
    background-position-y: bottom !important;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: 50% auto !important;
    background-repeat: no-repeat !important;



    >div:first-child {
        width: 50%;
        padding-top: 60px;
        padding-left: 145px;
        padding-bottom: 60px;
        box-sizing: border-box;


        p {
            margin-top: $x-large-padding;
            margin-bottom: 1.5 * $standard-padding;
        }
    }

    .image-container {
        display: none;
    }



    @media only screen and (min-width:$mobile-size) and (max-width:$tablet-size) {
        >div:first-child {
            padding: 30px;
            padding-left: 60px;
            width: 60%;
        }
        background-size: 40% auto !important;
    }

    @media only screen and (max-width: $mobile-size) {
        height: auto;
        max-width: $mobile-size;
        background-size: 0% auto!important;

        >div:first-child {
            height: auto;
            flex: 1;
            width: 100%;
            padding: $standard-padding * 1.5;
            min-width: $mobile-size * 0.5;

            button {
                width: 100%;
            }

        }

        .image-container {
            display: flex;
            flex: 1;
            height: 0;
            padding-top: 56.25%;
            width: 100%;
            background-repeat: no-repeat!important;
            background-size: contain!important;
            background-position-y: bottom !important;
            min-width: $mobile-size * 0.5;
        }

          &.where-to-export-header .image-container {
                background: $where-to-export-image;
            }

            &.export-plan-header  .image-container {
                background: $export-plan-image;
            }

            &.account-header .image-container {
                background: $account-image;
            }

            &.market-header .image-container {
                background: url(/static/images/export-plan-header.png);
            }

            &.learn-header .image-container {
                background: $learn-to-export-image;
            }


    }


    &.where-to-export-header {
        background: $where-to-export-image;
    }

    &.export-plan-header {
        background: $export-plan-image;
    }

    &.account-header {
        background: $account-image;
    }

    &.market-header {
        background: url(/static/images/export-plan-header.png);
    }

    &.learn-header {
        background: $learn-to-export-image;
    }

}
