.shared-personalisation-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-top: 1px solid #ddd;

  @media (min-width: 641px) { 
    justify-content: flex-end;
    margin-right: -10px;
    border-top: none;
  }
}

.shared-personalisation-bar-nav {
  position: relative;
  width: 100%;
  @media (min-width: 641px) { 
    width: auto;
  }
}

.personalization-menu {
  position: absolute;
  background-color: #eef2f6;
  z-index: 2;
  bottom: -80px;
  background: #eef2f6;
  padding: 15px;
  left: 0;
  width: 100%;
  @media (min-width: 641px) { 
    width: 350px;
    left: -199px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #bcbcbc;
      }

      a {
        font-weight: 700;
      }
    }
  }

  .remove-product {
    color: #1d70b8;
    text-decoration: underline;
    padding: 0;

    &:focus {
      background-color: #fd0;
      outline: none;
      border-bottom: 3px solid #222;
      color: #222;
    }
  }
}

.personalization-menu-button {
  padding: 15px 10px 13px 10px;
  border-bottom: 3px solid transparent;

  &:hover, &:focus:active, &.open {
    background-color: #eef2f6 !important;
    border-color: #eef2f6 !important;

    .menu-link, .fa-chevron-down, .fa-chevron-up {
      color: #222;
    }
  }
}

.personalization-menu-button {
  .menu-link, .fa-chevron-down, .fa-chevron-up {
    color: #1d70b8;
    font-weight: 700;
  }
}

button.personalization-menu-button:focus,
button.personalization-menu-button:active {
  background-color: #fd0;
  outline: none;
  border-bottom: 3px solid #222;
  color: #222;

  .menu-link, .fa-chevron-down, .fa-chevron-up {
    color: #222;
  }
}

#set-product-button {
  margin-right: 10px;
}

#set-country-button {
  .personalization-menu {
    right: 0;
    left: 0;

    @media (min-width: 641px) {   
      left: auto;
    }
  }
}
