div.progress-bar, div.learn__category-progress {
  border-radius: 0!important;
  height: 5px;
  background: #CCE2D8;
  span {
    border-radius: 0!important;
    background: govuk-colour("green");
  }
}
