.investment-sectors-section {
    background-image: url('/static/images/international-sectors.png');
    height: 345px;
}

.investment-section-overlap {
    margin-top: -85px;
    position: relative;
}
