{% extends 'domestic/base.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load breadcrumbs from component_tags %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'styles/get-finance.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}UK Export Finance - Trade Finance{% endblock %}

{% block css_layout_class %}get-finance{% endblock %}

{% block content %}
{% image content_snippet.hero_image original as hero_image_rendition %}
<section id="get-finance-hero" class="get-finance-hero white-text padding-top-0 padding-bottom-30" style="background-image: url({{ hero_image_rendition.url }})">
  <div class="container">

    {% breadcrumbs content_snippet.breadcrumbs_label %}
      <a href="/">great.gov.uk</a>
      {% comment "TODO: REINSTATE ME as {% url 'get-finance' %} when it's ported to Magna" %}{% endcomment %}
      <a href="/get-finance/">UKEF</a>
    {% endbreadcrumbs %}

    <img src="{% static 'images/UKEF-logo.png' %}" alt="UK Export Finance" class="ukef-logo float-right" width="148">

    <div class="grid-row">
      <div class="column-two-thirds wrap-tight margin-top-30 padding-bottom-30 rich-text">
        {{ content_snippet.hero_text|richtext }}
      </div>
    </div>
  </div>
</section>

<section id="contact-section" class="contact-section padding-vertical-30">
  {% include 'domestic/finance/includes/get_finance_cta.html' %}
</section>

<section id="advantages-section" class="advantages-section">
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h2 class="heading-large margin-top-30 margin-bottom-45">{{ content_snippet.advantages_title }}</h2>
            </div>
        </div>
        <div class="flex-grid advantages-list-container">
            {% for advantage_block in content_snippet.advantages %}
            <div class="column-half-l column-third-xl service-card padding-bottom-30">
              <div class="image-container">
                {% image advantage_block.value.icon original as advantage_icon_rendition %}
                <img src="{{ advantage_icon_rendition.url}}" width="40" class="float-left" />
              </div>
                <div class="advantages-content float-right wrap-tight rich-text">
                    {{ advantage_block.value.content|richtext }}
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</section>

<section id="get-finance-video" class="get-finance-video padding-vertical-60 background-stone-30">
  <div class="container">
    <div class="flex-grid reverse-columns-s">
      <div class="column-half-l wrap-tight evidence-section rich-text">
        {{ content_snippet.evidence|richtext }}
      </div>
      <div class="column-half-l video-container">
        <video controls controlsList="nodownload">
          <source src="{{ content_snippet.evidence_video.url }}" type="video/{{ content_snippet.evidence_video.file_extension|default:'mp4' }}">
        </video>
      </div>
    </div>
  </div>
</section>

<section id="contact-section-bottom" class="contact-section-bottom padding-top-30 padding-bottom-0">
  {% include 'domestic/finance/includes/get_finance_cta.html' %}
</section>

{% endblock %}
