{% extends 'domestic/base.html' %}

{% load wagtailcore_tags %}
{% load static %}

{% block css_layout_class %}article-list-page{% endblock css_layout_class %}

{% block content %}

{% block hero %}
  {% include 'components/hero.html' with image=page.hero_image hero_text=page.title %}
{% endblock %}

<section id="{% block page_id %}article-list-page{% endblock %}">
  <div class="container">
    {% block breadcrumbs %}
      {% include 'components/breadcrumbs_cms.html' %}
    {% endblock %}
  </div>

  <div class="container">
    {% if page.list_teaser %}
    <div class="grid-row">
      <div class="column-two-thirds-l column-full">
        <div class="lede rich-text article-detail">
          {{ page.list_teaser|richtext }}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="grid-row">
      <div class="column-two-thirds-l column-full article-list">
        <ul class="content-list">
          {% block content_list %}
            {% for article in page.specific.get_articles %}
              <li class="article">
                <a href="{{ article.url }}" class="heading-medium link" id="{{ article.meta.slug }}-link">{{ article.article_title }}</a>
                <p class="subheading">Last updated {{ article.last_published_at|date:'j F Y' }}</p>
              </li>
            {% endfor %}
          {% endblock %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% block list_footer %}
{% endblock %}

{% endblock %}
