{% load parse_date from article_tags %}
{% load add_export_elements_classes add_href_target breadcrumbs from directory_components %}

<div class="container">
  {% include 'core/breadcrumbs_cms.html' %}
</div>
<article class="article-main {{ view.slug }}-article">
  <div class="container">

    <header>
      <div class="grid-row">
        <div class="column-sixth">
          {% include 'directory_components/social_share_links.html' %}
        </div>
        <div class="column-seven-twelfths">
          {% if page.type_of_article %}
            <p class="subheading">{{ page.type_of_article }}</p>
          {% endif %}
          <h1 class="heading-xlarge">{{ page.article_title }}</h1>
          {% if page.article_subheading %}
            <h2 class="heading-medium">{{ page.article_subheading }}</h2>
          {% endif %}
          {% if page.article_teaser %}
            <div class="text">
              <p>
                {{ page.article_teaser }}
              </p>
            </div>
          {% endif %}
          <p class="subheading">Last updated {{ page.last_published_at|parse_date }}</p>
        </div>
        {% block article_tags %}
          {% if features.PROTOTYPE_PAGES_ON and page.tags %}
            <div class="column-quarter">
              <div class="panel-vertical-narrow">
                <h2 class="heading-small">Tags</h2>
                <ul class="tag-list">
                  {% for tag in page.tags %}
                  <li>
                    <a href="{% url 'tag-list' tag.slug %}" class="link">{{ tag.name }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endblock %}

      </div>
    </header>
    <div class="grid-row">
      <div class="column-three-quarters">
        {% if page.article_video %}
        <div class="video-container">
          <video controls class="width-full" id="article-video">
              <source src="{{ page.article_video.url }}" type="video/{{ page.article_video.file_extension }}">
              <p>Your browser doesn't support HTML5 video. Here is a <a class="link" href="{{ page.article_video.url }}">link to the video</a> instead.</p>
          </video>
        </div>
        {% if page.article_video_transcript %}
        <details closed class="margin-bottom-0">
          <summary>View video transcript</summary>
            {{  page.article_video_transcript|add_export_elements_classes }}
        </details>
        {% endif %}
        {% endif %}
        {% if page.article_image and not page.article_video %}
          <img src="{{ page.article_image.url }}" alt="{{ page.article_image.alt }}" class="width-full">
        {% endif %}

        <section class="grid-row padding-bottom-0">
          <div class="article-content">
            {{ page.article_body_text|add_export_elements_classes|add_href_target:request|safe  }}
          </div>
        </section>
      </div>
      {% block related_content %}
        {% include 'article_related_content_list.html' %}
      {% endblock %}

    </div>

    {% block article_footer %}
    {% endblock %}

  </div>
</article>
