{% extends 'domestic/base.html' %}
{% load static %}
{% load directory_components %}

{% block css_layout_class %}country-guide-page{% endblock %}

{% block head_js %}
  {{ block.super }}
    <script src="{% static 'js/country-guide.js' %}"></script>
{% endblock %}

{% block head_title %}
  {{ page.title }} market guide - great.gov.uk
{% endblock %}

{% block content %}

{% hero image=page.hero_image.url hero_text=page.heading hero_subheading=page.sub_heading %}

<section class="container">
  {% include 'core/breadcrumbs_cms.html' %}
</section>
{% if page.heading_teaser %}
<section id="country-guide-teaser-section" class="teaser-section padding-vertical-30">
  <div class="container">

    <div class="grid-row">
      <div class="column-three-quarters-l teaser">
        <p class="font-medium margin-bottom-60">{{ page.heading_teaser }}</p>
      </div>
      {% if page.intro_ctas %}
      <div class="column-quarter-l links">
        <div class="panel-vertical-narrow content-list padding-top-30">
          <ul id="country-guide-intro-ctas">
            {% for cta in page.intro_ctas %}
            <li>
              {% if cta.title and cta.link %}
                <a class="heading-small link intro-cta-link" href="{{ cta.link }}">{{ cta.title }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section id="country-guide-section-one" class="section-one padding-vertical-60">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-half-l section-one-body">
        {{ page.section_one_body|convert_headings_to:'h2'|add_export_elements_classes|override_elements_css_class:'h2,heading-medium'|safe|add_href_target:request|safe }}
      </div>
      <div class="column-full column-half-l">
        {% image_with_caption image_url=page.section_one_image.url main_caption=page.section_one_image_caption sub_caption=page.section_one_image_caption_company %}
      </div>
    </div>
  </div>
</section>

<section id="country-guide-statistics-section" class="statistics padding-vertical-30">
  <div class="container">
    {% statistics_card_grid statistics=page.statistics num_of_statistics=view.num_of_statistics %}
    </div>
  </div>
</section>

{% if page.section_two_heading %}
  <section id="country-guide-section-two" class="section-two padding-vertical-60">
    <div class="container">
      <div class="grid-row">
        <div class="column-full column-two-thirds-m column-half-l">
          <h2 class="heading-large margin-top-0">{{ page.section_two_heading }}</h2>
          <p>{{ page.section_two_teaser|add_href_target:request|safe }}</p>
        </div>
      </div>
    </div>
  </section>

  {% if page.accordions %}
    <section id="country-guide-accordions" class="accordions padding-vertical-0">
      <ul>
        {% include 'content/components/accordions.html' with accordions=page.accordions %}
      </ul>
    </section>
  {% endif %}
{% endif %}

{% if page.fact_sheet.fact_sheet_title %}
<section id="country-guide-section-three" class="section-three background-stone-30 padding-top-90 padding-bottom-60">
  <div class="container">
    <div class="grid-row margin-bottom-60">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">{{ page.fact_sheet.fact_sheet_title }}</h2>
        <p>{{ page.fact_sheet.fact_sheet_teaser }}</p>
      </div>
    </div>
    <div class="grid-row">
      {% for column in page.fact_sheet.columns %}
        {% if column.title %}
          {% if page.fact_sheet.num_of_columns == 1 %}
          <div class="column-full margin-bottom-30">
          {% else %}
          <div class="column-full column-half-xl margin-bottom-30">
          {% endif %}
            <div class="fact-sheet">
              <h3 class="highlight heading-medium background-grey white-text">{{ column.title }}</h3>
              <div class="fact-sheet-content background-white padding-45 wrap-tight font-xsmall">
                {% if column.teaser %}
                <p class="font-small">{{ column.teaser }}</p>
                <hr>
                {% endif %}
                {{ column.body|convert_headings_to:'h4'|add_export_elements_classes|override_elements_css_class:'h4,heading-small'|safe|add_href_target:request|safe }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section id="country-guide-need-help-section" class="need-help padding-vertical-60">
  <div class="container">
    <div class="grid-row margin-bottom-45">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large margin-top-0">Next steps</h2>
        <p>DIT can advise you on doing business abroad, and help put you in touch with other people who can help such as lawyers and distributors.</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full column-half-l column-third-xl margin-bottom-30 margin-bottom-0-xl">
        {% static 'images/country-guide-advice.png' as need_help_image_url %}
        {% url 'advice' as advice_url %}
        {% cta_card with_arrow=True image_url=need_help_image_url text="Read more advice about doing business abroad" url=advice_url %}
      </div>
      {% if page.duties_and_custom_procedures_cta_link %}
        <div class="column-full column-half-l column-third-xl margin-bottom-30 margin-bottom-0-xl">
          {% static 'images/country-guide-gov-uk.png' as market_guide_image_url %}
          {% cta_card with_arrow=True image_url=market_guide_image_url text='Check duties and customs procedures for exporting goods' url=page.duties_and_custom_procedures_cta_link external_link=True %}
        </div>
      {% endif %}
      <div class="column-full column-half-l column-third-xl margin-bottom-0">
        {% static 'images/country-guide-contact.png' as contact_us_image_url %}
        {% cta_card with_arrow=True image_url=contact_us_image_url text="Get in touch with one of our trade advisers" url=services_urls.office_finder %}
      </div>
    </div>
  </div>
</section>

{% if page.related_pages %}
<section id="country-guide-news-events-section" class="news-events background-stone-30 padding-vertical-60">
  <div class="container">
    <h2 class="heading-large margin-top-0 margin-bottom-45">News and events</h2>
    <div class="flex-grid">
      {% for related_page in page.related_pages %}
        <div class="column-full column-half-l column-third-xl">
          {% if related_page.page_type == 'InternationalArticlePage' %}
            {% card card_id=related_page.meta.slug url=related_page.full_path img_src=related_page.thumbnail.url sub_heading='Article' title=related_page.title description=related_page.teaser %}
          {% else %}
            {% card card_id=related_page.meta.slug url=related_page.full_path img_src=related_page.thumbnail.url sub_heading='Campaign' title=related_page.title description=related_page.teaser %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
