{% extends "domestic/base.html" %}
{% load static %}
{% block head_title %}Find your local trade office{% endblock %}
{% block meta_title %}Find your local trade office{% endblock %}
{% block meta_description %}
    Use our postcode search to find the nearest trade offices to you and get in touch with an international trade adviser
{% endblock %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/office-finder.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block content %}
<div class="container">
    <section class="width-half" id="search-section">
        <form method="get" enctype="multipart/form-data" autocomplete="on">
            <h1 class="heading-large">Find your local trade office</h1>
            <p>
                We have local trade offices based around the UK, within each office you can contact an international trade advisor.
            </p>
            {{ form }}
            <button type="submit" class="primary-button"">Search
            </button>
        </form>
    </section>
    {% if not office_details and other_offices %}
        <p>We couldn’t find an exact match for your postcode. You can contact a DBT office near you.</p>
    {% endif %}
    {% if office_details %}
        {% for office in office_details %}
            {% if not office.override_office_details %}
                {% if forloop.first %}
                    <section class="width-half" id="results">
                        <h2 class="heading-medium">
                            Your local Trade office
                            {% if office_details|length > 1 %}s{% endif %}
                            for {{ form.cleaned_data.postcode }} is
                        </h2>
                        <hr>
                    </section>
                {% endif %}
                <section class="width-half" id="results">
                    <h3 class="heading-medium" id="office-name">{{ office.name }}</h3>
                    {{ office.address|linebreaks }}
                    <h3 class="heading-medium">Telephone</h3>
                    <p>
                        <a class="link" href="tel:{{ office.phone }}">{{ office.phone }}</a>
                    </p>
                    {% if office_details.phone_other %}
                        <h3 class="heading-medium">{{ office.phone_other_comment }}</h3>
                        <p>
                            <a class="link" href="tel:{{ office.phone_other }}">{{ office.phone_other }}</a>
                        </p>
                    {% endif %}
                    <br>
                    {% include 'domestic/contact/includes/office-contact-cta.html' with office=office link_class="button primary-button" %}
                </section>
            {% else %}
                <section class="width-half" id="results">
                    <h2 class="heading-medium">Your local Trade office for {{ form.cleaned_data.postcode }} is</h2>
                    <hr>
                    <h3 class="heading-medium" id="office-name">{{ office.name }}</h3>
                    {{ office.override_office_details|safe }}
                    <hr>
                </section>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endif %}
</div>
<section class="container" id="other-results">
    {% if other_offices and not office_details.override_office_details %}
        <div class="width-half">
            <h2 class="heading-medium">Department for Business and Trade regional offices</h2>
        </div>
        {% for office in other_offices %}
            {% if not office.override_office_details %}
                <div class="grid-row">
                    <h3 class="heading-small" id="office-name">{{ office.name }}</h3>
                    <div class="column-one-quarter">{{ office.address|linebreaks }}</div>
                    <div class="column-one-third">
                        <h3 class="heading-small">Telephone</h3>
                        <p>
                            <a class="link" href="tel:{{ office.phone }}">{{ office.phone }}</a>
                        </p>
                        {% if office.phone_other %}
                            <h3 class="heading-smal">{{ office.phone_other_comment }}</h3>
                            <p>
                                <a class="link" href="tel:{{ office.phone_other }}">{{ office.phone_other }}</a>
                            </p>
                        {% endif %}
                        {% include 'domestic/contact/includes/office-contact-cta.html' with office=office link_class="button primary-button" %}
                    </div>
                </div>
                <hr class="width-two-thirds">
            {% else %}
                <div class="grid-row">
                    <h3 class="heading-small" id="office-name">{{ office.name }}</h3>
                    <div class="width-two-thirds">{{ office.override_office_details|safe }}</div>
                </div>
                <hr class="width-two-thirds">
            {% endif %}
        {% endfor %}
    {% endif %}
</section>
{% if office_details %}
    <section class="container">
        <a href="{% url 'contact:office-finder' %}" class="previous-step">Back</a>
    </section>
{% endif %}
{% endblock %}
