{% extends 'domestic/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/ukef-lead-generation-success.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block head_title %}E-commerce advice{{ block.super }}{% endblock %}
{% block meta_title %}E-commerce advice{{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div id="success-message-container">
                <h1 class="heading-medium">Thank you for contacting us</h1>
            </div>
            <h2 class="heading-medium">What happens next</h2>
            <p>We will be in touch with you shortly to respond to your enquiry.</p>
            <p>In the meantime, you can:</p>
            <p>
                <a class="link"
                   href="https://www.facebook.com/groups/252347388759344/"
                   title="Join the Exporting is GREAT Facebook community">Join the Exporting is GREAT Facebook community</a>
            </p>
            <p>
                <a class="link"
                   href="{% slugurl 'export-academy' %}"
                   title="Learn about the Export Academy">Learn about the Export Academy</a>
            </p>
            <div>
                <br />
                <a href="/">Continue to great.gov.uk</a>
            </div>
            <br />
        </div>
    </div>
</div>
{% endblock %}
