{% load message_box from component_tags %}
<section>
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div id="success-message-container">
                    {% message_box heading=content_snippet.heading description=content_snippet.body_text heading_level='h1' %}
                </div>
            </div>
        </div>
    </div>
</section>
<section id="next-container" class="padding-top-15-m">
    <div class="container">
        <h2 class="heading-large">{{ content_snippet.next_title }}</h2>
        <p class="body-text">{{ content_snippet.next_body_text }}</p>
        <a class="link" href="{{ next_url }}">{{ next_url_text|default:"Continue to great.gov.uk" }}</a>
    </div>
</section>
