{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}
{% load add_govuk_classes from content_tags %}
{% load persist_language from component_tags %}
{% load get_template_translation_enabled from content_tags %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}

<div class="govuk-grid-row">
{% for item in value %}
<div class="govuk-grid-column-one-{% if value|length == 3 %}third{% else %}half{% endif %}">
    {%if item.value.image%}
        <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6 great-scaled-full-img">
            {% image item.value.image width-700 %}
        </div>
    {%endif%}
    {% filter add_govuk_classes %}
        {{ item.value.text }}
    {% endfilter %}
    {%if item.value.button_url%}
        <a href="{{ item.value.button_url }}" class="govuk-button">
            {% comment %} I'm assuming this will change but including for completeness {% endcomment %}
            {% if TRANSLATE_TEXT %}
                {% translate item.value.button_label %}
            {% else %}
                {{item.value.button_label}}
            {% endif %}
        </a>
    {%endif%}
</div>
{% endfor %}
</div>
