{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load add_govuk_classes from content_tags %}

<div class="govuk-grid-row">
{% for item in value %}
<div class="govuk-grid-column-one-{% if value|length == 3 %}third{% else %}half{% endif %}">
    <div class="govuk-!-margin-bottom-6 great-ratio-16-9">
        {% image item.value.image width-700 %}
    </div>
    <h3 class="govuk-heading-m great-font-size-28">{{ item.value.title }}</h3>
    {% filter add_govuk_classes %}
        {{ item.value.description }}
    {% endfilter %}
    <a href="{{ item.value.link }}" class="govuk-button">Button Label</a>
</div>
{% endfor %}
</div>
