{% load wagtailcore_tags %}
<div class="govuk-grid-row margin-bottom-30 margin-top-30">
    <div class="govuk-grid-column-full">
        <section class="govuk-!-padding-6 great-bg-light-blue">
            <h3 class="govuk-heading-m great-font-size-28">{{ title }}</h3>
            <p class="govuk-body">{{ teaser }}</p>
            <div>
                <a href="{{ value.link }}" class="govuk-button govuk-!-margin-bottom-0">{{ link_label }}</a>
            </div>
        </section>
    </div>
</div>
