{% load wagtailcore_tags %}
{% load i18n %}
{% load get_template_translation_enabled from content_tags %}
{% load add_govuk_classes from content_tags %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}
<div class="govuk-grid-row microsite-video-wrapper">
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-!-margin-bottom-2">
            {% filter add_govuk_classes %}
                {{ value.embed_link }}
            {% endfilter %}
        </div>
        {% if value.transcript %}
            {% include '_details.html' with summaryText="View video transcript" detailsHtml=value.transcript|richtext %}
        {% endif %}
    </div>
</div>
