{% load wagtailcore_tags %}
{% load i18n %}
{% load get_template_translation_enabled from content_tags %}
{% load add_govuk_classes from content_tags %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}
<div class="govuk-grid-row microsite-video-wrapper">
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-!-margin-bottom-2">
            {% filter add_govuk_classes %}
                {{ value.embed_link }}
            {% endfilter %}
        </div>
        {% if value.transcript %}
            <details closed class="govuk-details govuk-!-margin-bottom-5">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        {% translate "View video transcript" %}
                    </span>
                </summary>
                <div class="govuk-details__text">{{ value.transcript|richtext }}</div>
            </details>
        {% endif %}
    </div>
</div>
