{% load add_govuk_classes from content_tags %}
{% load persist_language from component_tags %}
{% load is_email from content_tags %}
{% load extract_domain from content_tags %}
{% load handle_external_links from content_tags %}
{% for item in value %}
    {% if not forloop.counter|divisibleby:"2" or value|length == 1 %}
        <div class="govuk-grid-row great-display-flex-desktop">
        {% endif %}
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
            <div class="govuk-!-padding-4 great-height-100-desktop great-bg-white">
                <h3 class="govuk-heading-m great-font-size-28">{{ item.value.title }}</h3>
                {% filter add_govuk_classes %}
                    {% filter handle_external_links:request%}
                        {{ item.value.description }}
                    {% endfilter %}    
                {% endfilter %}
                {% if item.value.link_url and item.value.link_url|is_email %}
                    <a href="mailto:{{ item.value.link_url }}"
                       class="govuk-button govuk-!-margin-bottom-0">{{ item.value.link_text }}</a>
                {% else %}
                    <a href="{{ item.value.link_url|persist_language:request.GET }}"
                       {% if item.value.link_url|extract_domain != current_domain %}target="_blank"{% endif %}
                       class="govuk-button govuk-!-margin-bottom-0">{{ item.value.link_text }}</a>
                {% endif %}
            </div>
        </div>
        {% if forloop.counter|divisibleby:"2" or value|length == 1 or forloop.last %}</div>{% endif %}
{% endfor %}
