{% load static from static %}
{% load i18n %}
{% load get_template_translation_enabled from content_tags %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}

{%if twitter or email or facebook or linkedin%}
    <div class="social-media-container">
        <h3 class="govuk-!-margin-bottom-4">
            {% if TRANSLATE_TEXT %}
                {% translate "Follow us" %}
            {% else %}
                Follow us
            {% endif %}
        </h3>
        <div class="social-media-items-wrapper">
            {% if twitter %}
                <a href="{{ twitter }}">
                    <img alt="with Twitter"
                        height="36px"
                        src="{% static 'great_components/icons/twitter.svg' %}"
                        width="36px">
                    <p>
                        {% if TRANSLATE_TEXT %}
                            {% translate "Twitter" %}
                        {% else %}
                            Twitter
                        {% endif %}
                    </p>
                </a>
            {% endif %}
            {% if facebook %}
                <a href="{{ facebook }}">
                    <img alt="with Facebook"
                        height="36px"
                        src="{% static 'great_components/icons/facebook.svg' %}"
                        width="36px">
                    <p>
                        {% if TRANSLATE_TEXT %}
                            {% translate "Facebook" %}
                        {% else %}
                            Facebook
                        {% endif %}
                    </p>
                </a>
            {% endif %}
            {% if linkedin %}
                <a href="{{ linkedin }}">
                    <img alt="with LinkedIn"
                        height="36px"
                        src="{% static 'great_components/icons/linkedin.svg' %}"
                        width="36px">
                    <p>
                        {% if TRANSLATE_TEXT %}
                            {% translate "LinkedIn" %}
                        {% else %}
                            LinkedIn
                        {% endif %}
                    </p>
                </a>
            {% endif %}
            {% if email %}
                <a href="mailto:{{ email }}">
                    <img alt="with Email"
                        height="36px"
                        src="{% static 'great_components/icons/email.svg' %}"
                        width="36px">
                    <p>
                        {% if TRANSLATE_TEXT %}
                            {% translate "Email" %}
                        {% else %}
                            Email
                        {% endif %}
                    </p>
                </a>
            {% endif %}
        </div>
    </div>
{%endif%}
