{% load static from static %}
<div class="social-media-container">
    <h3>Share this page</h3>
    <p>Sharing will open the page in a new tab.</p>
    <div class="social-media-items-wrapper">
        {% if twitter %}
            <a href="{{ twitter }}">
                <img alt="with Twitter"
                     height="36px"
                     src="{% static 'great_components/icons/twitter.svg' %}"
                     width="36px">
                <p>Twitter</p>
            </a>
        {% endif %}
        {% if facebook %}
            <a href="{{ facebook }}">
                <img alt="with Twitter"
                     height="36px"
                     src="{% static 'great_components/icons/facebook.svg' %}"
                     width="36px">
                <p>Facebook</p>
            </a>
        {% endif %}
        {% if linkedin %}
            <a href="{{ linkedin }}">
                <img alt="with Twitter"
                     height="36px"
                     src="{% static 'great_components/icons/linkedin.svg' %}"
                     width="36px">
                <p>Facebook</p>
            </a>
        {% endif %}
        {% if email %}
            <a href="mailto:{{ email }}">
                <img alt="with Twitter"
                     height="36px"
                     src="{% static 'great_components/icons/email.svg' %}"
                     width="36px">
                <p>Email</p>
            </a>
        {% endif %}
    </div>
</div>
