{% load i18n %}
{% load add_govuk_classes from content_tags %}
{% load replace_emphasis_tags from content_tags %}
{% load wagtailcore_tags %}
{% for block in streamfield_content %}
    {% if block.block_type == 'form' %}
        {% filter add_govuk_classes %}
            {% if form %}
                <div class="form-container {{ form_class }} govuk-!-static-padding-0 govuk-!-margin-bottom-6">
                    {% if form_success %}
                        <div class="success-message-container">
                            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
                                  rel="stylesheet">
                            <span role="img" class="fa fa-check"></span>
                            {% trans "Information has been submitted successfully" as success_message_text %}
                            <p>{{ success_message_text }}</p>
                        </div>
                    {% else %}
                        <form action="" method="post" autocomplete="off">
                            {% csrf_token %}
                            {{ form }}
                            {% trans "Submit" as submit_button_text %}
                            <button type="submit" class="button primary-button">{{ submit_button_text }}</button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        {% endfilter %}
    {% elif block.block_type == 'pull_quote' %}
        <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">{% include_block block %}</div>
    {% else %}
        {% filter replace_emphasis_tags %}
            {% include_block block %}
        {% endfilter %}
    {% endif %}
{% endfor %}
{% block body_js %}
    <script type="text/javascript">
      const elements = document.getElementsByClassName("success-message-container");
      if(elements.length){
         const yOffset = -100;
         const y = elements[0].getBoundingClientRect().top + window.pageYOffset + yOffset;
         window.scrollTo({top: y, behavior: 'smooth'});
      }

      const error_list = document.getElementsByClassName("form-group-error ")
      if(error_list.length){
         const yOffset = -100;
         const y = error_list[0].getBoundingClientRect().top + window.pageYOffset + yOffset;
         window.scrollTo({top: y, behavior: 'smooth'});
      }

    const govuk_error_list = document.getElementsByClassName("govuk-form-group-error ")
      if(govuk_error_list.length){
         const yOffset = -100;
         const y = govuk_error_list[0].getBoundingClientRect().top + window.pageYOffset + yOffset;
         window.scrollTo({top: y, behavior: 'smooth'});
      }
    </script>
{% endblock body_js %}
