{% load wagtailcore_tags %}
{% load i18n %}
{% load get_template_translation_enabled from content_tags %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}
<div class="govuk-grid-row microsite-video-wrapper">
    <div class="govuk-grid-column-three-quarters">
        {% if value.video %}
            <div class=" great-ratio-16-9">
                <video controls class="govuk-!-width-full govuk-!-margin-bottom-2">
                    <source src="{{ value.video.url }}"
                            type="video/{{ value.video.file_extension }}">
                    {% blocktranslate with video_url=value.video.url%}
                    <p>Your browser doesn't support HTML5 video. Here is a <a class="link" href="{{ video_url }}">link to the video</a> instead.</p>
                  {% endblocktranslate %}
                </video>
            </div>
            {% if value.video.title %}<h4 class="govuk-!-margin-top-4">{{ value.video.title }}</h4>{% endif %}
            {% if value.video.description %}<p>{{ value.video.description }}</p>{% endif %}
            {% if value.video.transcript %}
                {% include '_details.html' with summaryText="View video transcript" detailsHtml=value.video.transcript classes="govuk-!-margin-bottom-5" %}
            {% endif %}
        {% endif %}
    </div>
</div>
