/* Error: Can't find stylesheet to import.
 *    ,
 * 14 | @import "govuk-frontend/dist/govuk/base";
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   node_modules/@uktrade/great-design-system/dist/scss/main.scss 14:9  @import
 *   styles/great/main.scss 1:9                                          @import
 *   domestic/sass/main.scss 4:9                                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 14 \2502  @import \"govuk-frontend/dist/govuk/base\";\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   node_modules/@uktrade/great-design-system/dist/scss/main.scss 14:9  @import\a   styles/great/main.scss 1:9                                          @import\a   domestic/sass/main.scss 4:9                                         root stylesheet";
}
