/* Error: Can't find stylesheet to import.
 *   ,
 * 8 | @import 'node_modules/great-styles/src/scss/helpers/vars';
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   domestic/sass/overrides/_magna.scss 8:9  @import
 *   domestic/sass/main.scss 16:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 8 \2502  @import 'node_modules/great-styles/src/scss/helpers/vars';\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   domestic/sass/overrides/_magna.scss 8:9  @import\a   domestic/sass/main.scss 16:9             root stylesheet";
}
