{% extends 'domestic/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load breadcrumbs from component_tags %}
{% load event_list_buttons %}
{% block head_title %}{{ heading }} confirmed – Events – UK Export Academy{% endblock %}
{% block meta_title %}{{ heading }} confirmed – Events – UK Export Academy{% endblock %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/ukef-contact-page-success.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block css_layout_class %}uk-export-contact-form-success{% endblock %}
{% block content %}
    {% block hero %}
        {% with content_snippet as hero %}
            <div class="ea-listing-page">
                {% include 'components/hero.html' with image=hero.image hero_title=hero.title hero_text=hero.text hide_image_for_mobile=True %}
            </div>
        {% endwith %}
    {% endblock %}
    {% breadcrumbs %}
    <a href="/">Home</a>
    <a href="{% pageurl landing_page %}">UK Export Academy</a>
{% endbreadcrumbs %}
<div class="great">
    <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-3 background-white clearfix">
        <div class="container">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-top-7"
                     role="alert"
                     aria-labelledby="govuk-notification-banner-title"
                     data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="great-text-white">{{ heading }} confirmed</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        {% if editing_registration %}
                            <p class="great-font-size-desktop-24 padding-top-30-l padding-bottom-30-l">
                                Your registration details have been successfully updated.
                            </p>
                        {% else %}
                            <p class="great-font-size-desktop-24">Event details:</p>
                            <div class="informative-banner govuk-!-margin-bottom-4">
                                <p class="great-font-size-desktop-24 govuk-!-font-weight-bold">{{ event.name }}</p>
                                <br>
                                <p class="great-font-size-desktop-24">
                                    On {{ event.start_date|date:"D, j M" }} at {{ event.start_date|date:"g:iA"|lower }}
                                </p>
                            </div>
                            <span class="great-break-word">
                                <p class="great-font-size-mobile-18 govuk-!-margin-right-7">
                                    We've emailed a
                                    {% if booking.status == 'Confirmed' %}
                                        booking
                                    {% else %}
                                        cancellation
                                    {% endif %}
                                    confirmation to {{ booking.registration.email }}
                                </p>
                            </span>
                            {% if booking.status == 'Confirmed' %}
                                {% event_list_buttons event %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if just_registered %}
                    <h4 class="govuk-!-margin-bottom-3">What happens next</h4>
                    <p class="great-font-size-mobile-18">
                        You are now able to book a place on any of our Export Academy events,
                        watch recordings of past events you’ve booked and cancel any events you can no longer attend.
                    </p>
                {% endif %}
                <a href="{{ return_url }}"
                   class="link block margin-top-30 margin-bottom-60">{{ return_msg }}</a>
            </div>
        </div>
    </section>
    <div class="great-border-thin-top-lighter-blue">
        <section class="govuk-!-padding-bottom-9 background-white clearfix">
            <div class="container">
                {% include './includes/csat_user_feedback.html' with form=form  %}
            </div>
        </section>
    </div>
</div>
{% endblock content %}
{% block feedback_reporter %}
{% endblock feedback_reporter %}
{% block body_js %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('csat-form');
            const stepOne = document.getElementById('csat-step-1');
            const stepTwo = document.getElementById('csat-step-2');
            const stepOneSuccessMessage = document.getElementById('csat-step-1-submission-confirmation');
            const stepTwoSuccessMessage = document.getElementById('csat-step-2-submission-confirmation');
            const errorSummary = document.getElementById('error-summary');
            const errorSummaryTitle = errorSummary.querySelector('.govuk-error-summary__title');
            const errorList = errorSummary.querySelector('.govuk-error-summary__list');
            const submitButton = form.querySelector('button[type="submit"]');
            let currentStep = 1;
    
            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                const formData = new FormData(form);
    
                try {
                    const response = await simulateFetch('/some-endpoint/', { //simulateFetch - change to fetch when endpoint ready and update url
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                            'Accept': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                        body: formData,
                    });
    
                    const data = await response.json();
                    handleStepTransition(data);
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                    showErrorSummary();
                }
            });


            function handleStepTransition(data) {
                if (data.success) {
                    if (currentStep === 1) {
                        stepTransition(stepOne, stepTwo, stepOneSuccessMessage, 'Submit feedback');
                        currentStep = 2;
                    } else {
                        stepTransition(stepTwo, null, stepTwoSuccessMessage, '');
                        form.classList.add('great-hidden');
                        stepOneSuccessMessage.classList.add('great-hidden');
                    }
                } else if (data.errors) {
                    showErrorSummary(data.errors);
                }
            }

            function stepTransition(hideStep, showStep, showMessage, buttonLabel) {
                hideStep.classList.add('great-hidden');
                if (showStep) {
                    showStep.classList.remove('great-hidden');
                }
                showMessage.classList.remove('great-hidden');
                showMessage.focus();
                errorSummary.classList.add('great-hidden');
                if (buttonLabel) {
                    submitButton.textContent = buttonLabel;
                }
            }

            function showErrorSummary(errors) {
                if (!errors) {
                    errorSummaryTitle.textContent = 'There is a problem with the network. Please try again.';
                } else {
                    errorList.innerHTML = ''; 
                    Object.keys(errors).forEach(field => {
                        errors[field].forEach(error => {
                            const listItem = document.createElement('li');
                            listItem.innerHTML = `<a href="#id_${field}">${error}</a>`;
                            errorList.appendChild(listItem);
                        });
                    });
                }
                errorSummary.classList.remove('great-hidden');
                errorSummary.focus();
            }


            //////////////////////////////////////////////////////////////
            // Simulate fetch for testing - ***to be removed***
            //////////////////////////////////////////////////////////////

            async function simulateFetch(url, options) {
                await new Promise(resolve => setTimeout(resolve, 1000));
                if (!options.body.get('satisfaction') && currentStep === 1) {
                    return new Response(JSON.stringify({
                        errors: {
                            satisfaction: ['Select a satisfaction rating']
                        }
                    }), {
                        status: 400,
                        headers: { 'Content-type': 'application/json' }
                    });
                } else if (currentStep === 2 && (!options.body.get('experience') || !options.body.get('likelihood_of_return'))) {
                    if (!options.body.get('experience') && options.body.get('likelihood_of_return')) {
                        return new Response(JSON.stringify({
                            errors: {
                                experience: ['Select one or more issues']
                            }
                        }), {
                            status: 400,
                            headers: { 'Content-type': 'application/json' }
                        });
                    } else if (!options.body.get('likelihood_of_return') && options.body.get('experience')) {
                        return new Response(JSON.stringify({
                            errors: {
                                likelihood_of_return: ['Select one likelihood of returning option']
                            }
                        }), {
                            status: 400,
                            headers: { 'Content-type': 'application/json' }
                        });
                    } else {
                        return new Response(JSON.stringify({
                            errors: {
                                experience: ['Select one or more issues'],
                                likelihood_of_return: ['Select one likelihood of returning option']
                            }
                        }), {
                            status: 400,
                            headers: { 'Content-type': 'application/json' }
                        });
                    }
                } else {
                    return new Response(JSON.stringify({ success: true }), {
                        status: 200,
                        headers: { 'Content-type': 'application/json' }
                    });
                }
            }
        });
    </script>
    
    <script src="{% static 'javascript/govuk.js' %}"></script>
    <script>window.GOVUKFrontend.initAll()</script>   
{% endblock %}

