{% extends 'domestic/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load humanize %}
{% load component_tags wagtailcore_tags wagtailimages_tags content_tags %}
{% load add_govuk_classes from content_tags %}
{% block head_title %}{{ page.title }} – UK Export Academy – great.gov.uk{% endblock %}
{% block meta_title %}{{ page.title }} – UK Export Academy – great.gov.uk{% endblock %}
{% block body_js %}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <script src="{% static 'javascript/govuk.js' %}"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
{% block content %}
    {% block hero %}
        {% with content_snippet as hero %}
            <div class="great" id="ea-course-page-header">
                {% image page.hero_image max-800x600 as hero_image %}
                {% include 'components/course_page_hero.html' with image_url=hero_image.url hero_title=page.page_heading hero_subeading='Series' hero_text=page.summary signed_in=signed_in slug=slug %}
            </div>
        {% endwith %}
    {% endblock %}
    <div class="great">
        <section class="great-container govuk-!-static-padding-top-6 govuk-!-static-padding-bottom-6">
            <h2 class="govuk-heading-m">{{ page.is_course_right_for_you_heading }}</h2>
            <ul class="course-tick-marks">
                {% for item in page.is_course_right_for_you_list %}<li class="fas">{{ item.value.description }}</li>{% endfor %}
            </ul>
        </section>
        <div class="great-bg-white">
            <div class="great-container">
                <section class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-0 govuk-!-padding-top-7 govuk-!-margin-bottom-7 great-grey-bottom-border">
                    <div>
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            {% for block in page.metadata %}
                                <div class="govuk-summary-list__row govuk-!-margin-bottom-0">
                                    <dt class="govuk-summary-list__key govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">
                                        {{ block.value.label }}
                                    </dt>
                                    <dd class="govuk-summary-list__value govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">
                                        {{ block.value.value }}
                                    </dd>
                                </div>
                            {% endfor %}
                        </dl>
                    </div>
                </section>
                <section id="join-live-events"
                         class="govuk-!-padding-0 govuk-!-padding-bottom-8">
                    <h2 class="govuk-heading-m">{{ page.benefits_heading }}</h2>
                    <div>
                        <img class="presentation-icon"
                             src="{% static 'images/icon-presentation.svg' %}"
                             alt="" />
                        <ul class="govuk-list govuk-list--bullet govuk-!-static-margin-bottom-0">
                            {% for item in page.benefits_list %}<li>{{ item.value.description }}</li>{% endfor %}
                        </ul>
                    </div>
                </section>
                <section class="govuk-grid-column-two-thirds-from-desktop great-no-float govuk-!-padding-0 govuk-!-static-padding-bottom-6">
                    <h2 class="govuk-heading-m">{{ page.course_content_heading }}</h2>
                    <p class="govuk-body">{{ page.course_content_desc }}</p>
                    {% include '_accordion.html' %}
                </section>
            </div>
        </div>
        {% if page.speakers|length > 0 %}
            <div class="great-bg-white">
                <div class="great-container">
                    <section class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-0 govuk-!-padding-bottom-6 great-no-float">
                        <h2 class="govuk-heading-m">Speakers</h2>
                        {% filter add_govuk_classes %}
                            {{ page.speakers|richtext }}
                        {% endfilter %}
                    </section>
                </div>
            </div>
        {% endif %}
        {% if page.reviews|length > 0 %}
            {% include './includes/review_block.html' with reviews=page.reviews %}
        {% endif %}
        {% if not signed_in %}
            <div class="container">
                <section class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-0 govuk-!-static-padding-bottom-8 govuk-!-static-padding-top-8 great-no-float">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Unlock your export potential</h2>
                    <p class="govuk-body govuk-!-margin-bottom-4">
                        Join the UK Export Academy for instant access to live events with Q&A, and event recordings available on demand.
                    </p>
                    <div>
                        <a role="button"
                           class="button  primary-button great-primary-button--chevron govuk-!-margin-bottom-4"
                           href="{% url 'export_academy:signup' %}?next={% url 'export_academy:course' slug=slug %}">Sign up to get started</a>
                        <div>
                            <p class="govuk-body great-inline govuk-!-static-margin-bottom-0 govuk-!-static-margin-top-0 govuk-!-static-margin-right-2">
                                Already joined the UK Export Academy?
                            </p>
                            <a class="govuk-link govuk-!-margin-bottom-4 govuk-link--no-visited-state ukea-signin-link"
                               href="{% url 'export_academy:signin' %}?next={% url 'export_academy:course' slug=slug %}">Sign in</a>
                        </div>
                    </div>
                </section>
            </div>
        {% endif %}
    {% endblock %}
