{% extends 'domestic/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load breadcrumbs from component_tags %}
{% load add_govuk_classes from content_tags %}
{% block head_title %}{{ 'course page title'}}{% endblock %}
{% block breadcrumbs-block %}
    <div id="breadcrumbs" class="great-bg-light-blue">
        {% breadcrumbs page.page_heading %}
        <a href="/">great.gov.uk</a>
        <a href="../../">UK Export Academy</a>
    {% endbreadcrumbs %}
</div>
{% endblock %}
{% block content %}
    {% block hero %}
        {% with content_snippet as hero %}
            <div class="ea-listing-page">
                {% include 'components/hero.html' with image=hero.image hero_title=page.page_heading hero_text=hero.text hide_image_for_mobile=True %}
            </div>
        {% endwith %}
    {% endblock %}
    <div>
    <section class="great-container govuk-!-static-padding-top-6 govuk-!-static-padding-bottom-6">
        <h2 class="govuk-heading-m">{{page.is_course_right_for_you_heading}}</h2>
        <div class="course-tick-marks">
            {%for item in page.is_course_right_for_you_list%}
                <div>
                    <span class="fa fa-check-circle"></span>
                    <p class="govuk-body">{{item.value.description}}</p>
                </div>
            {%endfor%}
        </div>
    </section>
    <div class="great-bg-white">
        <div class="great-container">
            <section class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-0 govuk-!-margin-top-7 govuk-!-margin-bottom-7 great-grey-bottom-border">
                <div>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row govuk-!-margin-bottom-0">
                            <dt class="govuk-summary-list__key govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">Length</dt>
                            <dd class="govuk-summary-list__value govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">
                                10
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row govuk-!-margin-bottom-0">
                            <dt class="govuk-summary-list__key govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">Total duration</dt>
                            <dd class="govuk-summary-list__value govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">
                                10hrs
                            </dd>
                        </div>
                    </dl>
                </div>
            </section>
            <section id='join-live-events'
                     class="govuk-!-padding-0 govuk-!-padding-bottom-8">
                <h2 class="govuk-heading-m">{{page.benefits_heading}}</h2>
                <div>
                    <img class="presentation-icon"
                         src="/static/images/icon-presentation.svg"
                         alt="presentation" />
                    <ul class="govuk-list govuk-list--bullet govuk-!-static-margin-bottom-0">
                        {%for item in page.benefits_list%}
                        <li>{{item.value.description}}</li>
                        {%endfor%}
                    </ul>
                </div>
            </section>
            <section class="govuk-grid-column-two-thirds-from-desktop great-no-float govuk-!-padding-0 govuk-!-static-padding-bottom-6">
                <h2 class="govuk-heading-m">{{page.course_content_heading}}</h2>
                <p class="govuk-body">{{page.course_content_desc}}</p>
                <p class="govuk-body">{{page.get_events}}</p>
                {% include './includes/module_list.html' with signed_in=signed_in %}
            </section>
        </div>
    </div>
    <div class="great-bg-white">
        <div class="great-container">
            <section class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-0 govuk-!-static-padding-bottom-8 great-no-float">
                <h2 class="govuk-heading-m">Speakers</h2>
                <p>
                    Our UK Export Academy advisors have many years of experience in exporting goods and services across the globe. They can offer specific guidance and advise on the many topics required to start exporting as a business.
                </p>
            </section>
        </div>
    </div>
{% endblock %}
