{% extends 'domestic/base.html' %}
{% load static %}
{% load event_list_buttons %}
{% load wagtailcore_tags %}
{% load pagination from component_tags %}
{% load replace_underscores from component_tags %}
{% load append_past_year_seperator render_event_details_hero from component_tags %}
{% load add_govuk_classes from content_tags %}
{% block head_title %}Events – {{ event.name }}{% endblock %}
{% block meta_title %}Events – {{ event.name }}{% endblock %}
{% block css_layout_class %}great-bg-white{% endblock %}
{% block content %}
    {% static 'images/uk-export-academy-logo.svg' as image %}
    {% with event.format|replace_underscores as event_type %}
    {% render_event_details_hero image event_type event.name event.start_date %}
    {% if event.format == event.ONLINE %}
        {% include './includes/event_details_banner.html' %}
    {% endif %}
    {% endwith %}
    {% include './includes/event_details_main_content.html' %}
{% endblock %}
