{% extends 'core/base.html' %}
{% load static %}

{% block head_title %}Upcoming events{% endblock %}

{% block content %}
<section id="upcoming-events">
    <div class="container">
        <h1 class="heading-xlarge">Upcoming events</h1>
        {% regroup object_list|dictsort:"start_date" by start_date|date:"l d/m/Y" as events_by_date %}
        <ul>
            {% for event_by_date in events_by_date %}
            <li>
                <h4>{{ event_by_date.grouper }}</h4>
                <ul>
                    {% for event in event_by_date.list %}
                    <li>
                        {{ event.start_date|date:"P" }} - {{ event.end_date|date:"P" }} {{ event.name }}
                        <form action="{% url 'export_academy:booking' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            {% if event.id in bookings %}
                            <input type="hidden" name="status" value="Cancelled">
                            <button type="submit" class="link">Cancel</button>
                            {% else %}
                            <input type="hidden" name="status" value="Confirmed">
                            <button type="submit" class="link">Book</button>
                            {% endif %}
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
