{% extends 'domestic/base.html' %}
{% load static %}
{% load event_list_buttons %}
{% load breadcrumbs from component_tags %}

{% block head_title %}Upcoming events{% endblock %}

{% block content %}
    {% block hero %}
        {% with content_snippet as hero %}
            {% include 'components/hero.html' with image=hero.image hero_title=hero.title hero_text=hero.text %}
        {% endwith %}
    {% endblock %}
    {% breadcrumbs 'Events' %}
        <a href="/">great.gov.uk</a>
        <a href="{% pageurl landing_page %}">Export Academy</a>
    {% endbreadcrumbs %}
{% endblock %}
