{% extends 'domestic/base.html' %}
{% load static %}
{% load component_tags %}
{% load video_tags %}
{% block head_title %}{{ object.name }}{% endblock %}
{% block meta_title %}{{ object.name }}{% endblock %}
{% block css_layout_class %}great-bg-white{% endblock %}
{% block content %}
<div class="container great">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters govuk-!-margin-top-9 govuk-!-margin-bottom-6">
            {% if event_video %}
                <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-6 great-media-container">
                    {% render_video event_video event.name %}
                </div>
            {% else %}
                <div class="govuk-warning-text great-max-width-75 govuk-!-margin-top-4 govuk-!-padding-0">
                    <span class="great-warning-text__icon govuk-!-margin-top-1"
                          aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text great-padding-left-35">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This video is no longer available. Event recordings are only available for 4 weeks after the event.
                    </strong>
                </div>
            {% endif %}
            <h1 class="govuk-heading-l govuk-!-margin-bottom-6" data-ga-event-title={{ event.name }}>{{ event.name }}
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-6 great-time-and-duration">
                <time class="great-text-darker-grey">
                    {{ event.start_date|date:"D" }} {{ event.start_date|date:"j M" }} at {{ event.start_date|date:"g:iA"|lower }}
                </time>
                {% if event_video %}<span class="great-text-darker-grey">Duration: {{ video_duration }}</span>{% endif %}
            </p>
            <p class="govuk-body govuk-!-margin-bottom-7">{{ event.description }}</p>
            {% if event_document_url %}
                <a href="{{ event_document_url }}"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="govuk-link great-link--download ukea-ga-tracking">Download event presentation (PDF {{ event_document_size }})</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
