{% extends 'domestic/base.html' %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
{% block css_layout_class %}article-list-page{% endblock css_layout_class %}
{% load wagtailimages_tags %}

{% block content %}


    {% if not image_url %}
    {% image page.hero_image original as rendition %}
    {% endif %}
    {% firstof image_url rendition.url as image_url %}

    <div class="page-header article-header" id="hero">
        <div class="inner-header">
            <div >
                <p>{{ page.hero_text | richtext }}</p>
                {% include_block page.hero_cta %}
            </div>
            <div class="image-container" style="background: url({{ image_url }})">
            </div>
        </div>
    </div>


    {% block breadcrumbs %}
      {% include 'components/breadcrumbs_cms.html' %}
    {% endblock %}

    {% block easteps %}
        <section id="ea_steps" class="topic-list-section">
            <div class="container">
                <p>{{ page.steps_description | richtext }}</p>
                <div class="flex-grid">
                    {% for steps in page.steps %}
                    <div class="column-third-xl column-half-l">
                        <p class="large">{{ forloop.counter }}</p>
                        {% include 'components/card.html' with description=steps.value.description only %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}

    {% block child_pages %}
        <section id="{{ page.slug }}-list-section" class="topic-list-section">
            <div class="container">
                <div class="flex-grid">
                    {% for panel in page.panels %}
                    <div class="column-third-xl column-half-l">
                        {% include 'components/card.html' with url=panel.value.link title=panel.value.title card_image=panel.value.image description=panel.value.description only %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}

    <div class="margin-90-m">
        {% include_block page.next_cta %}
    </div>

    {% block footer_section %}{% endblock %}

{% endblock %}
