{% extends 'domestic/base.html' %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load event_list_buttons %}
{% load add_govuk_classes from content_tags %}
{% load h3_if from content_tags %}

{% block content %}
    <div class="great great-hero-box-shadow-bottom">
        {% image page.hero_image original as rendition %}
        <section class="background-white govuk-!-padding-bottom-0">
            <div class="container">
                <div class="page-header article-header stack-at-tablet-width ea-landing-page govuk-!-padding-left-0"
                     id="hero">
                    <div class="inner-header govuk-!-margin-left-0 govuk-!-static-padding-0">
                        <div>
                            <h1>{{ page.title }}</h1>
                            <p>{{ page.hero_text | richtext | add_govuk_classes }}</p>
                            {% if user.is_anonymous %}
                                {% include_block page.hero_cta %}
                                <p>{{ page.hero_text_below_cta_logged_out | richtext | add_govuk_classes }}</p>
                            {% else %}
                                {% include_block page.hero_cta_logged_in %}
                            {% endif %}
                        </div>
                        <div class="image-container image-full-width great-display-from-tablet ea-landing-image-container"
                             style="background: url({{ rendition.url }})">
                            <img class="ea-logo"
                                 src="{% static 'images/uk-export-academy-logo.svg' %}"
                                 alt="UK Export Academy logo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if page.banner_label %}
        <div class="govuk-!-static-padding-top-6 govuk-!-static-padding-bottom-6">
            {% include 'components/informative_banner.html' with banner_label=page.banner_label banner_content=page.banner_content %}
        </div>
    {% endif %}
    <section class="great great-bg-white govuk-!-static-padding-bottom-3 govuk-!-static-padding-top-6">
        <div class="great-container ">
            <div class="govuk-grid-row {% if page.banner_label %} intro-text-container {% else %} govuk-!-static-margin-bottom-6 {% endif %}">
                <div class="govuk-grid-column-three-quarters">
                    {{ page.intro_text | richtext }}
                    <div class="govuk-!-static-padding-top-3">{{ page.steps_heading | richtext }}</div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <ol class="steps-list-container govuk-!-margin-right-4">
                    {% for step in page.steps %}
                        <li class="steps-list-item">
                            <div>{{ forloop.counter }}</div>
                            <div class="steps-description">{{ step.value.description }}</div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>
    <section class="great great-bg-light-blue panels-container govuk-!-padding-bottom-0">
        {% for contentSection in page.events_and_series %}
            {% if contentSection.block_type == 'Panels_Section' %}
                <div class="great-container">
                    {% if contentSection.value.panel_section_title %}
                        <div class="govuk-grid-row govuk-!-static-padding-top-0">
                            <div class="govuk-grid-column-three-quarters">
                                <h2 class="govuk-heading-l govuk-!-static-margin-bottom-2">{{ contentSection.value.panel_section_title }}</h2>
                                <p>{{ contentSection.value.panel_section_description }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="govuk-grid-row great-card-row">
                        {% for panel in contentSection.value.panels %}
                            <div class="govuk-grid-column-one-third govuk-!-padding-bottom-6">
                                {% image panel.value.image fill-640x360 as thumbnail %}
                                {% include 'components/great/card.html' with heading_level=contentSection.value.panel_section_title|h3_if:'h2' url=panel.value.link title=panel.value.title show_title_link=True image_src=thumbnail.url image_alt=panel.value.image.alt_text content=panel.value.description %}
                            </div>  
                        {% endfor %}
                    </div>
                </div>
                {% if contentSection.value.next_cta %}
                    <div class="great-container govuk-!-padding-bottom-7">{% include_block contentSection.value.next_cta %}</div>
                {% endif %}
            {% elif contentSection.block_type == 'Series_Section' %}
                {% if features.FEATURE_COURSES_LANDING_PAGE %}
                    <div class="great-container  govuk-!-padding-bottom-0">
                        {% if contentSection.value.series_section_title %}
                            <h2 class="govuk-heading-l govuk-!-static-margin-bottom-2">{{ contentSection.value.series_section_title }}</h2>
                            <p>{{contentSection.value.series_section_description }}</p>
                        {% endif %}
                        <div class="govuk-grid-row great-flex-grid great-bg-light-blue">
                            {% for series in contentSection.value.series_list %}
                                <div class="govuk-grid-column-full courses-container govuk-!-margin-bottom-8">
                                    <a href="{{ series.value.course_cta_url }}"
                                       class="govuk-!-display-block">
                                        <div class="great-bg-white great-display-flex-from-desktop">
                                            <div class="courses-container__text great-dep-homepage-title__text">
                                                <{{ contentSection.value.series_section_title|h3_if:'h2' }} class="govuk-heading-m govuk-!-static-margin-bottom-4">
                                                    {{ series.value.course_name }}
                                                </{{ contentSection.value.series_section_title|h3_if:'h2' }}>
                                                <p class="govuk-!-static-margin-bottom-3">{{ series.value.course_description }}</p>
                                                <ul>
                                                    <li class="govuk-!-static-margin-top-3">
                                                        <img class="great-blue-tick govuk-!-static-margin-right-1"
                                                             src="{% static 'icons/blue-tick.svg' %}"
                                                             height="30"
                                                             aria-hidden="true"
                                                             alt="" />
                                                        <span class="great-vertical-align-middle">{{ series.value.course_feature_one }}</span>
                                                    </li>
                                                    <li class="govuk-!-static-margin-top-3">
                                                        <img class="great-blue-tick govuk-!-static-margin-right-1"
                                                             src="{% static 'icons/blue-tick.svg' %}"
                                                             height="30"
                                                             aria-hidden="true"
                                                             alt="" />
                                                        <span>{{ series.value.course_feature_two }}</span>
                                                    </li>
                                                    <li class="govuk-!-static-margin-top-3">
                                                        <img class="great-blue-tick govuk-!-static-margin-right-1"
                                                             src="{% static 'icons/blue-tick.svg' %}"
                                                             height="30"
                                                             aria-hidden="true"
                                                             alt="" />
                                                        <span>{{ series.value.course_feature_three }}</span>
                                                    </li>
                                                </ul>
                                                <div class="govuk-!-static-margin-top-3">
                                                    <span class="govuk-link great-text-blue great-link--internal">{{ series.value.course_cta_text }}</span>
                                                </div>
                                            </div>
                                            {% image series.value.course_image original as course_rendition %}
                                            <img class="courses-container__img"
                                                 src="{{ course_rendition.url }}"
                                                 alt="">
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>
</div>
{% endblock %}
