{% extends 'domestic/base.html' %}
{% load breadcrumbs from component_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'javascript/dit.components.toggleOther.js' %}"></script>
  <script type="text/javascript">
    var likeToDiscussInputYes = document.getElementById('id_like_to_discuss_1');
    var likeToDiscussOther = document.getElementById('id_like_to_discuss_other-container');
    GOVUK.utils.toggleRadioOtherOnClick(likeToDiscussInputYes, likeToDiscussOther);
  </script>

{% endblock %}

{% block content %}
  {% block hero %}
    {% with content_snippet as hero %}
        {% include 'components/hero.html' with image=hero.image hero_title=hero.title hero_text=hero.text %}
    {% endwith %}
  {% endblock %}

  {% breadcrumbs 'Registration' %}
        <a href="/">great.gov.uk</a>
        <a href="{% pageurl landing_page %}">Export Academy</a>
        <a href="{% url 'export_academy:upcoming-events' %}">Events</a>
  {% endbreadcrumbs %}

  <section class="background-white">
    <div class="container">
      <p class="padding-bottom-30 padding-top-30">{{step_text}}</p>
      <h2 class="heading govuk-padding-top-20 margin-bottom-30">{{ title }}</h2>
      {% if email %}
      <p class="govuk-padding-top-30 margin-bottom-30">Your registered email is <span class='bold'>{{ email }}</span></p>
      {% endif %}
      <div class="question">
        <form action="" method="post" autocomplete="off">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="button primary-button margin-top-30">{{button_text}}</button>
        </form>
      </div>
      <div class="padding-top-30">
        <a class="govuk-link" href="{% url back_url %}">Back</a>
      </div>
    </div>
  </section>
{% endblock %}
