{% extends 'export_academy/registration_base.html' %}
{% load breadcrumbs from component_tags %}
{% load wagtailcore_tags %}
{% load static %}
{% block head_title %}
    Check your answers before
    {% if is_editing %}
        updating
    {% else %}
        submitting
    {% endif %}
    your registration –
    {% if is_editing %}
        Edit your details
    {% else %}
        Booking your first event
    {% endif %}
    – UK Export Academy
{% endblock %}
{% block meta_title %}
    Check your answers before
    {% if is_editing %}
        updating
    {% else %}
        submitting
    {% endif %}
    your registration –
    {% if is_editing %}
        Edit your details
    {% else %}
        Booking your first event
    {% endif %}
    – UK Export Academy
{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
{% block content %}
    {% block content_top %}{{ block.super }}{% endblock %}
    <div class="great great-bg-white">
        <div class="great-container govuk-!-padding-top-4">
            <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-padding-right-3">
                <div class="govuk-grid-column-two-thirds"></div>
                <h2 class="govuk-heading-l govuk-!-margin-bottom-6">{{ heading_text }}</h2>
                <h1 class="govuk-heading-m">Check your answers before submitting your registration</h1>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">About you</h2>
                        </dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            <a class="govuk-link govuk-float-left"
                               href="{% url 'export_academy:registration-details-edit' %}">Change
                                <span class="govuk-visually-hidden">About you</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">First Name</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.first_name }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Last Name</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.last_name }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Telephone number</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.phone_number }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key width-quarter">Email address</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ email }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key width-quarter">Job title</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.job_title }}
                        </dd>
                    </div>
                </dl>
                <hr class="hr" />
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">About your export experience</h2>
                        </dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            <a class="govuk-link govuk-float-left"
                               href="{% url 'export_academy:registration-experience-edit' %}">
                                Change<span class="govuk-visually-hidden">About your export experience</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Your export experience</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.export_experience }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">What is your sector?</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ sectors }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Exporting goods or services</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.export_product }}
                        </dd>
                    </div>
                </dl>
                <hr class="hr" />
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">About your business</h2>
                        </dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            <a class="govuk-link"
                               href="{% url 'export_academy:registration-business-edit' %}">
                                Change<span class="govuk-visually-hidden">About your business</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Business name</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.business_name }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Business address line 1</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.business_address_line_1 }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Postcode</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.business_postcode }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Annual turnover</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.annual_turnover }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Number of employees</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {{ form_data.employee_count }}
                        </dd>
                    </div>
                </dl>
                <hr class="hr" />
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">How did you hear about the UK Export Academy?</h2>
                        </dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            <a class="govuk-link"
                               href="{% url 'export_academy:registration-marketing-edit' %}">
                                Change<span class="govuk-visually-hidden">How did you hear about the UK Export Academy?</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">How you heard of us</dt>
                        <dd class="govuk-summary-list__value width-quarter">
                            {% if form_data.marketing_sources == "Other" %}
                                {{ form_data.marketing_sources_other }}
                            {% else %}
                                {{ form_data.marketing_sources }}
                            {% endif %}
                        </dd>
                    </div>
                </dl>
                <hr class="hr" />
                <div class="question govuk-!-padding-top-7">
                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="govuk-button great-min-width-250-desktop">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
