{% extends 'core/base.html' %}
{% load static %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/ukef-contact-page-success.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block css_layout_class %}uk-export-contact-form-success{% endblock %}
{% block content %}
    <section id="thank-you-section" class="thank-you-section padding-bottom-45">
        <div class="great great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% with "We've received your registration form and have sent an email to "|add:request.user.email as success_message %}
                        {% include 'components/message_box.html' with heading="Thank you" description=success_message %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>
    <section id="thank-you-section" class="thank-you-section padding-bottom-45">
        <div class="great great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% with "Booking confirmation page" as success_message %}
                        {% include 'components/message_box.html' with heading="Thank you" description=success_message %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>
    <div class="great great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="heading-large margin-top-0">What happens next</h1>
                <ul class="list list-bullet">
                    <li>Why not book another event now</li>
                    <li>You can do this from upcoming events page</li>
                </ul>
            </div>
        </div>
        <a href="/export-academy/events"
           class="govuk-link block govuk-!-margin-top-30 govuk-!-margin-bottom-60">Continue to upcoming events</a>
    </div>
{% endblock content %}
