{% extends 'domestic/base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load is_logged_in from event_list_buttons %}
{% block head_title %}
    {{ title }} –
    {% if is_editing %}
        Edit your details
    {% else %}
        Booking your first event
    {% endif %}
    – UK Export Academy
{% endblock %}
{% block meta_title %}
    {{ title }} –
    {% if is_editing %}
        Edit your details
    {% else %}
        Booking your first event
    {% endif %}
    – UK Export Academy
{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
{% block content %}
    {% block content_top %}
        {% block hero %}
            {% with content_snippet as hero %}
            {% if not image_url %}
                {% image hero.image original as rendition %}
            {% endif %}
            {% firstof image_url rendition.url as image_url %}
            {% is_logged_in as user_is_registered %}
                {% if user_is_registered %}
                    {% include '_hero.html' with pngImagePath=image_url headingLevel=2 heading=hero.title aboveCtaHtml=hero.text belowCtaHtml=hero.ea_registered_text classes="great-ds-hero--bg-white great-ds-hero--large-image-cropping"%}
                {% elif not request.user.is_anoymous %}
                    {% include '_hero.html' with pngImagePath=image_url headingLevel=2 heading=hero.title aboveCtaHtml=hero.text belowCtaHtml=hero.logged_in_text classes="great-ds-hero--bg-white great-ds-hero--large-image-cropping"%}
                {% else %}
                    {% include '_hero.html' with pngImagePath=image_url headingLevel=2 heading=hero.title aboveCtaHtml=hero.text belowCtaHtml=hero.logged_out_text classes="great-ds-hero--bg-white great-ds-hero--large-image-cropping"%}
                {% endif %}
            {% endwith %}
        {% endblock %}
{% endblock %}
<div class="great great-bg-white govuk-!-margin-top-4">
    <div class="great-container govuk-!-padding-top-4">
        <div class="govuk-grid-row  govuk-!-padding-left-3 govuk-!-padding-right-3">
            <div class="great-grid-column-seven-twelfths">
                <p class="govuk-body govuk-!-margin-top-4">{{ step_text }}</p>
                {% if not hide_title %}<h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ title }}</h1>{% endif %}
                {% if email %}
                    <p class="govuk-padding-top-30 govuk-!-margin-bottom-30">
                        Your registered email is <span class="bold">{{ email }}</span>
                    </p>
                {% endif %}
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    {% block form_fields %}{% endblock %}
                    <button type="submit" class="govuk-button great-min-width-250-desktop">{{ button_text }}</button>
                </form>
                <div class="govuk-padding-top-30">
                    <a href="{% url back_url %}" class="govuk-link great-back-link">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
