{% load static from staticfiles %}
{% block head_title %}Export Plan - great.gov.uk{% endblock %}
{% block tab_content %}
    <div class="grid-row" id="tab-content">
        <div class="column-two-thirds">
            <section id="welcome-message">
                <h2 class="heading-large margin-top-60 margin-bottom-30">Your Export Plan</h2>
                <p class="body-text margin-bottom-0">Product/Country</p>
                <div id="business-details-edit-form">
                    <form method="get" enctype="multipart/form-data">
                        {% block form %}
                        {{ form }}
                        {% endblock %}
                        {% block form_button %}
                            <button class="button margin-top-30">Get Rules & Regs</button>
                        {% endblock %}
                        <div>
                            <br>
                            <br>
                        </div>
                     </form>
                </div>
                {% if rules_regs %}
                <table border="1">
                     <thead>
                      <tr>
                          {% for key,value in rules_regs.items %}
                            <th class="border-light-grey padding-top-15 padding-bottom-15" scope="col">{{ key }}</th>
                          {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                         {% for key,value in rules_regs.items %}
                        <td class="border-white padding-top-15 padding-bottom-10">{{ value }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit">Create Export Plan</button>
                </form>
                {% endif %}
            </section>

        </div>
    </div>
{% endblock tab_content %}
