<div class="grid-row">
    <div class="column-two-thirds">
      <br/>
      <details class="details" data-module="govuk-details">
        <summary class="details__summary">
          <span class="atlas-body--s" style="color: #1D70B8">
            <div class="atlas-caret">
              <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path fill="currentColor" d="M2.893 20l9.834-10L2.893 0 0 2.921 6.976 10 0 17.079z"></path>
              </svg>
            </div>
            &nbsp;Why we ask this question
          </span>
        </summary>
        <div class="inset-text atlas-body--s">
          {{ why_we_ask_this_question_text }}
        </div>
      </details>
    </div>
  </div>
