{% extends 'domestic/base.html' %}
{% load static %}
{% load humanize %}
{% load component_tags %}
{% load search %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/pages/search-results.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block head_title %}Search{% endblock %}
{% block meta_title %}Search{% endblock %}
{% block css_layout_class %}
    search-results-page
{% endblock css_layout_class %}
{% block content %}
    <section id="search-results-information">
        {% if submitted %}
            <div class="container">
                {% include 'components/message_box_with_icon.html' with icon="✓" heading="Your feedback has been sent" %}
            </div>
        {% endif %}
        <div class="container">
            <h1 class="heading-xlarge">
                {% if search_query %}
                    Search results for <span class="great-highlighted-text">{{ search_query }}</span>
                {% else %}
                    Search
                {% endif %}
            </h1>
            <!-- Search Input -->
            <div class="actions">
                {% if search_query %}
                    {% if search_results %}
                        <p>
                            <a href="#search-results-list" class="bland">
                                {{ page_obj.paginator.count|intcomma }} result{{ page_obj.paginator.count|pluralize }} found<span class="verbose">for {{ search_query }}</span>                            </a>
                        </p>
                    {% else %}
                        <p class="added-margin-bottom">No results found. Please try again.</p>
                    {% endif %}
                {% else %}
                    <p>
                        <p class="added-margin-bottom">Search for articles and resources</p>
                    </p>
                {% endif %}
                <a href="{% url 'search:feedback' %}?page={{ page_obj.number }}&q={{ search_query }}"
                   class="font-xsmall link">Did you find what you were looking for?</a>
                <form id="search-form"
                      action="{% url 'search:search' %}"
                      class="search"
                      method="get"
                      aria-label="Search form">
                    <label class="verbose" id="search-again-label" for="search-again-input">Search again</label>
                    <input autocomplete="off"
                           class="text form-control"
                           name="q"
                           placeholder=""
                           type="search"
                           value="{{ search_query }}"
                           id="search-again-input">
                    <input class="submit search-button" type="submit" value="Go">
                </form>
            </div>
        </div>
    </section>
    {% if search_results %}
        <section id="search-results-list" class="search-results-list">
            <div class="container">
                <h2 class="verbose">Results found</h2>
                <p class="information verbose">
                    Displaying items <b>{{ page_obj|pagination_obj_range_lower_limit }}&nbsp;-&nbsp;{{ page_obj|pagination_obj_range_upper_limit }}</b> of <b>{{ page_obj.paginator.count|intcomma }}</b> in total
                </p>
                <!-- Search Results -->
                <ul class="results govuk-!-margin-bottom-0" aria-label="Search results">
                    {% for result in page_obj %}
                        <li>
                            <span class="type">{{ result.content_type|map_search_result_type }}</span>
                                <a class="title link" href="{{ result.url }}">
                                    {% if result.seo_title %}
                                        {{ result.seo_title }}
                                    {% else %}
                                        {{ result.title }}
                                    {% endif %}        
                                </a>
                            <p class="description">
                                {% if result.search_description %}
                                   {{ result.search_description }}
                                {% else %} 
                                    {% firstof result.specific.seo_description result.specific.search_description result.specific.featured_description result.specific.heading_teaser result.specific.teaser result.specific.page_teaser result.specific.page_subheading 'No description available' %}   
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Pagination -->
                {% if page_obj.has_other_pages %}
                {% pagination page_obj=page_obj elided_page_range=elided_page_range %}
                {% endif %}
            </div>
        </section>
    {% endif %}
{% endblock %}
