{% extends 'domestic/base.html' %}
{% block head_title %}Thank you for your feedback{% endblock %}
{% block content %}
<div class="great">
    <section class="great-container">
        <div class="govuk-!-margin-top-7 govuk-grid-column-two-thirds govuk-!-padding-bottom-6 govuk-!-padding-left-0">
            {% include 'components/great/notification-banner.html' with title='Thank you for your feedback' message="Your feedback has been successfully submitted." %}
            <a class="button primary-button" href="{{ request.GET.next}}">Continue</a>
        </div>
    </section>
</div>
{% endblock %}
