{% extends 'domestic/base.html' %}
{% load static %}
{% load humanize %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/default.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% static 'styles/pages/search-results.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block head_title %}Search{% endblock %}
{% block meta_title %}Search{% endblock %}
{% block css_layout_class %}
    search-results-page
{% endblock css_layout_class %}
{% block content %}
    <section id="search-results-information">
        {% if submitted %}
            <div class="container">
                {% include 'components/message_box_with_icon.html' with icon="✓" heading="Your feedback has been sent" %}
            </div>
        {% endif %}
    </div>
    <div class="container">
        <h1 class="heading-xlarge">
            Search results for <span class="great-highlighted-text">{{ query }}</span>
        </h1>
        <div class="actions">
            {% if results %}
                <p>
                    <a href="#search-results-list" class="bland">
                        {{ total_results|intcomma }} result{{ total_results|pluralize }} found<span class="verbose">for {{ query }}</span>
                    </a>
                </p>
            {% else %}
                <p class="added-margin-bottom">No results found. Please try again.</p>
            {% endif %}
            <a href="{% url 'search:feedback' %}?page={{ current_page }}&q={{ query }}"
               class="font-xsmall link">Did you find what you were looking for?</a>
            <form id="search-form"
                  action="{% url 'search:search' %}"
                  class="search"
                  method="get"
                  aria-label="Search form">
                <label class="verbose" id="search-again-label" for="search-again-input">Search again</label>
                <input autocomplete="off"
                       class="text form-control"
                       name="q"
                       placeholder=""
                       type="search"
                       value="{{ query }}"
                       id="search-again-input">
                <input class="submit search-button" type="submit" value="Go">
            </form>
        </div>
    </div>
</section>
{% if results %}
    <section id="search-results-list" class="search-results-list">
        <div class="container">
            <h2 class="verbose">Results found</h2>
            <p class="information verbose">
                Displaying items <b>{{ first_item_number }}&nbsp;-&nbsp;{{ last_item_number }}</b> of <b>{{ total_results }}</b> in total
            </p>
            <ul class="results" aria-label="Search results">
                {% for result in results %}
                    <li>
                        <span class="type">{{ result.type }}</span>
                        <a class="title link" href="{{ result.url }}">{{ result.name }}</a>
                        <p class="description">{{ result.content }}</p>
                    </li>
                {% endfor %}
            </ul>
            {% if total_pages > 1 %}
                <div class="pagination">
                    <p class="verbose">Displaying page {{ current_page }} of total {{ total_pages }}</p>
                    {% if current_page != 1 %}
                        <a class="button primary-button"
                           rel="prev"
                           href="{% url 'search:search' %}?page={{ previous_page }}&q={{ query }}">Previous</a>
                    {% endif %}
                    <ol class="navigation" role="navigation" aria-label="Page navigation">
                        {% if show_first_page %}
                            <li>
                                <a href="{% url 'search:search' %}?page=1&q={{ query }}"><span class="verbose">Page</span>1</a>
                            </li>
                            <li class="active-blue-text margin-right-0 margin-top-15 margin-15-m">
                                <span class="verbose">Page links truncated</span>
                                <span>...</span>
                            </li>
                        {% endif %}
                        {% for page in prev_pages %}
                            <li>
                                <a rel="prev"
                                   href="{% url 'search:search' %}?page={{ page }}&q={{ query }}"><span class="verbose">Page</span>{{ page }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <span class="verbose">Page</span>
                            <span class="active current">{{ current_page }}</span>
                            <span class="verbose">(current)</span>
                        </li>
                        {% for page in next_pages %}
                            <li>
                                <a rel="next"
                                   href="{% url 'search:search' %}?page={{ page }}&q={{ query }}"><span class="verbose">Page</span>{{ page }}</a>
                            </li>
                        {% endfor %}
                        {% if show_last_page %}
                            <li class="active-blue-text margin-right-0 margin-top-15 margin-15-m">
                                <span class="verbose">Page links truncated</span>
                                <span>...</span>
                            </li>
                            <li>
                                <a href="{% url 'search:search' %}?page={{ total_pages }}&q={{ query }}"><span class="verbose">Page</span>{{ total_pages }}</a>
                            </li>
                        {% endif %}
                    </ol>
                    {% if current_page != total_pages %}
                        <a class="button secondary-button pagination-next"
                           rel="next"
                           href="{% url 'search:search' %}?page={{ next_page }}&q={{ query }}">Next</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
{% else %}
{% endif %}
{% endblock %}
