{% extends 'domestic/base.html' %}
{% load static %}
{% load humanize %}
{% load component_tags %}
{% load search %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/pages/search-results.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block head_title %}Search{% endblock %}
{% block meta_title %}Search{% endblock %}
{% block css_layout_class %}
    search-results-page
{% endblock css_layout_class %}
{% block content %}
    <section id="search-results-information">
        {% if submitted %}
            <div class="container">
                {% include 'components/message_box_with_icon.html' with icon="✓" heading="Your feedback has been sent" %}
            </div>
        {% endif %}
        <div class="container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="heading-xlarge">
                        {% if search_query %}
                            Search results for: {{ search_query }}
                        {% else %}
                            Search
                        {% endif %}
                    </h1>
                    <!-- Search Input -->
                    <div class="actions">
                        <form id="search-form"
                            action="{% url 'search:search' %}"
                            class="search search-results-form"
                            method="get"
                            aria-label="Search form">
                            
                            {% include '_input.html' with classes='great-ds-text-input--search' formGroupClasses='search-results-form-group govuk-!-margin-right-1' label='Search again' id='search-again-input' name='q' placeholder='' value=search_query %}
                            {% include '_button.html' with text='Search' type='submit' html=search_icon attributes='aria-label="Search"' classes='great-ds-button--icon great-ds-button--search' %}
                        </form>
                        {% if search_query %}
                            {% if search_results %}
                                <p class="govuk-body govuk-!-font-weight-bold">
                                    {{ page_obj.paginator.count|intcomma }} result{{ page_obj.paginator.count|pluralize }}<span class="govuk-visually-hidden"> for {{ search_query }}</span>
                                </p>
                            {% else %}
                                <p class="govuk-body govuk-!-font-weight-bold">No results found. Please try again.</p>
                            {% endif %}
                        {% else %}
                                <p class="govuk-body govuk-!-font-weight-bold">Search for articles and resources</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if search_results %}
        <section id="search-results-list" class="search-results-list">
            <div class="container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="verbose">Results found</h2>
                        <p class="information verbose">
                            Displaying items <b>{{ page_obj|pagination_obj_range_lower_limit }}&nbsp;-&nbsp;{{ page_obj|pagination_obj_range_upper_limit }}</b> of <b>{{ page_obj.paginator.count|intcomma }}</b> in total
                        </p>
                        <!-- Search Results -->
                        {% with formatted_results=page_obj|format_for_results_list %}
                            {% include '_results-list.html' with listItems=formatted_results %}
                        {% endwith %}
                        <!-- Pagination -->
                        {% if page_obj.has_other_pages %}
                        {% pagination page_obj=page_obj elided_page_range=elided_page_range hover_classes='great-ds-pagination__hover--white' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
