{% extends 'directory_components/base.html' %}
{% load static %}
{% load static_absolute from directory_components %}

{% block head_title %}Welcome to great.gov.uk{% endblock %}

{% block head_js %}
  <script type="text/javascript">
    // Safari saves a snapshot of a page as it was when the user left, so upon going "back" it doesn’t have to reload and instead it loads the saved snapshot state. That has an unwanted side effect that cookie modal is shown when clicking "go back to the page you came from".
    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    }
  </script>
  {{ block.super }}
  <script src="{% static 'js/dit.js' %}"></script>
  <script src="{% static 'directory_components/js/dit.components.cookie-notice.js' %}"></script>

{% endblock %}

{% block head_other %}
    {% include 'core/browser-checks.html' %}
{% endblock %}

{% block head_sharing_metadata %}

{% if request %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endif %}

{% block sharing_image %}
  {% if page.hero_image or page.hero_medium or page.hero_image_thumbnail or page.article_image_thumbnail %}
    <meta property="og:image" content="{% firstof page.hero_image_thumbnail.url page.article_image_thumbnail.url page.hero_medium.url page.hero_image.url %}">
  {% else %}
    {% if request %}
      <meta property="og:image" content="{% block og_image %}{% static_absolute 'directory_components/images/opengraph-image.png' %}{% endblock %}">
    {% endif %}
  {% endif %}
{% endblock %}

{% block sharing_description %}
  <meta name="description" content="{% block meta_description %}{% firstof page.search_description page.teaser page.featured_description page.seo_title page.title %}{% endblock %}">
{% endblock %}

{% endblock %}


{% block body_js %}
  {% if request.resolver_match.url_name != 'privacy-and-cookies' %}
    {{ block.super }}
  {% endif %}
{% endblock %}
