.govuk-heading-l {
    color: $atlas-dark-blue;
}

.govuk-heading-m {
    color: $atlas-dark-blue;
}

.govuk-label {
    color: $atlas-dark-blue;
}

.govuk-back-link {
    color: $atlas-dark-blue;
}
<<<<<<< HEAD

.govuk-error-summary__list {
    li {
        color: #d4351c;
    }
}
=======
>>>>>>> 8569f1312 (Feature/ioo 437 articles (#2045))
