.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-label, .govuk-back-link {
    color: $atlas-dark-blue;
}

.govuk-body, .govuk-list, .govuk-inset-text, .govuk-back-link:visited {
    color: $atlas-grey-darkest;
}

.govuk-inset-text {
    border-left-color: $atlas-electric-blue;
}
