.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-label, .govuk-back-link {
    color: $atlas-dark-blue;
}

.govuk-body, .govuk-list, .govuk-inset-text, .govuk-back-link:visited {
    color: $atlas-grey-darkest;
}

.govuk-error-summary__list {
    li {
        color: #d4351c;
    }
}
