@import "govuk-token-overrides";
@import 'atlas/main.scss';
@import "node_modules/govuk-frontend/govuk/all";
@import "govuk-class-overrides";
@import 'core-class-overrides';
@import 'article-list-item.scss';
@import 'govuk-step-by-step.scss';

.guide-edit-panel {
    border: 1px solid #C7C7C7;
}

.salary-component {
    background-color: #F4F4F4;

    .govuk-tabs__list-item {
        background-color: white;
    }


    .govuk-tabs__panel {
        background-color: white;
        // border: 2px solid black;
    }

    .salary-location-form {
        display: inline-flex;
        flex-wrap: wrap;

        .form-label {
            @extend %govuk-body-l;
            margin-bottom: 0px;
        }

        .atlas-button {
            height: 49px;
            margin-top: 36px;
            margin-left: 10px;

        }

        .form-control {
            min-width: 280px;
            width: 286px;
        }

        @media (max-width: 640px) {
            .atlas-button {
                margin-left: 0px;
                margin-top: 0px;
                max-width: 286px;
            }

        }

    }

    .salary-component-body {
        background-color: white;

        .salary-text {
            display: inline;
        }

        .body-text {
            color: $atlas-grey-dark;
        }

        .source-text {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }

}
