@import "govuk-token-overrides";
@import "node_modules/govuk-frontend/govuk/all";
@import 'header-footer';

main {
    margin-top: 12px !important;
}

.govuk-phase-banner {
    margin-top: 12px;
}

.error-reporting {
    font-family: 'Euclid Flex B' !important;

    .container {
        margin: 0px !important;
    }
}

.autocomplete__input--default {
    background-image: url('/static/images/search-black.svg');
    background-repeat: no-repeat;
    padding-right: 20px;
    background-position: right center;
    font-family: 'Euclid Flex B';
    background-origin: content-box;
    width: 50% !important;

    @media (max-width: 640px) {
        width: 100% !important;
    }
}

.autocomplete__menu {
    width: 50% !important;

    @media (max-width: 640px) {
        width: 100% !important;
    }
}

.autocomplete__option {
    font-family: 'Euclid Flex B';
}

.form-label {
    font-family: 'Euclid Flex B';
}

.ioo-custom-full-width-input {
    width: 100%;
}

.form-hint {
    color: $atlas-grey-dark;
}

.form-label {
    color: $atlas-dark-blue;
}

.atlas-label {
    color: $atlas-dark-blue;
    font-weight: 600;
}

.details-title {
    color: $atlas-electric-blue;
}
