ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

@import "govuk-token-overrides";
@import 'atlas/main.scss';
@import "node_modules/govuk-frontend/govuk/all";
@import "govuk-class-overrides";
@import 'core-class-overrides';
@import 'article-list-item.scss';
@import 'govuk-step-by-step.scss';

body {
    margin: 0;
}

.home-image {
    width: 100%;
}

.guide-edit-panel {
    border: 1px solid #C7C7C7;
}

.salary-location-form {
    .atlas-button {
        height: 40px;
    }
}

.salary-component {
    background-color: #F4F4F4;

    .govuk-tabs__list-item {
        background-color: white;
    }


    .govuk-tabs__panel {
        background-color: white;
        // border: 2px solid black;
    }

    .govuk-form-group {
        margin-bottom: 10px;
    }

    .salary-component-body {
        background-color: white;

        .salary-text {
            display: inline;
        }

        .body-text {
            color: $atlas-grey-dark;
        }

        .source-text {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }

}
