{% extends 'directory_components/base.html' %}

{% load static from staticfiles %}
{% load code from demo_tags %}

{% block body_header %}
    {% include 'demo/includes/header.html' %}
{% endblock %}

{% block head_js %}
  {{ block.super }}
  <script src="{% static 'directory_components/js/dit.components.dismissible-banner.js' %}"></script>
{% endblock %}

{% block head_css %}
    <link href="{% static 'directory_components/export_elements/stylesheets/govuk-elements-styles.min.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'directory_components/export_elements/stylesheets/elements-components.min.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'css/demo.css' %}" media="all" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_pygments/css/pygments_default.css' %}" />
{% endblock %}

{% block feedback_reporter %}
  <div class="container padding-top-30">
    <a href="{% url 'index' %}" class="link-back link">Go back</a>
  </div>
  {{ block.super }}
{% endblock %}

{% block head_title %}directory-components{% endblock %}

{% block body_footer %}
    {% include 'demo/includes/footer.html' %}
{% endblock %}
