{% extends 'demo/base.html' %}
{% load static %}
{% load breadcrumbs pagination from directory_components %}
{% load code from demo_tags %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'directory_components/vendor/flag-icons/css/flag-icon.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
  {% breadcrumbs 'Pagination' %}<a href="/">Home</a>{% endbreadcrumbs %}
</div>
<section class="padding-top-30">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Pagination</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
          <p class="font-medium">Pagination requires your page's view to create it's own Pagination object and pass this into the component. The view should include something like:</p>

          {% code 'python' %}
            objects_being_displayed = []
            page_size = 5

            @property
            def pagination(self):
                paginator = Paginator(
                    self.objects_being_displayed,
                    self.page_size
                )
                return paginator.page(current_page_num or 1)
          {% endcode %}

          <h2 class="heading-large">Few results</h2>
          {% code 'django' %}
            {% pagination pagination_page=pagination_page %}
          {% endcode %}

          {% for pagination in pagination_page_few_pages %}
            {% pagination pagination_page=pagination %}
          {% endfor %}

          <h2 class="heading-large">Some results</h2>
          {% code 'django' %}
            {% pagination pagination_page=pagination_page %}
          {% endcode %}


          {% for pagination in pagination_page_some_pages %}
            {% pagination pagination_page=pagination %}
          {% endfor %}

          <h2 class="heading-large">Many results</h2>
          {% code 'django' %}
            {% pagination pagination_page=pagination_page %}
          {% endcode %}


          {% for pagination in pagination_page_many_pages %}
            {% pagination pagination_page=pagination %}
          {% endfor %}

      </div>
    </div>
  </div>
</section>
{% endblock %}
