{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load directory_components %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block content %}

<div class="container">
  {% breadcrumbs 'React components' %}<a href="/">Home</a>{% endbreadcrumbs %}
</div>

<section class="padding-top-30 background-great-blue white-text">
  <div class="container">
    <h2 class="heading-large">Cookie notice</h2>
      <a href="#" id="open-modal-button" class="button-large button">Open Modal</a>
      <div id="cookie-notice-root"></div>
  </div>
</section>
{% endblock %}

{% block body_js %}
  <script type="text/javascript">
    document.getElementById('open-modal-button').addEventListener('click', function() {
      reactComponents.CookiesModal({
        element: document.getElementById("cookie-notice-root"),
        privacyCookiesUrl: 'https://www.great.gov.uk/privacy-and-cookies/',
        preferencesUrl: 'https://www.great.gov.uk/cookies/',
        isOpen: true,
      })
    })
  </script>
{% endblock %}
