{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load directory_components %}
{% load code from demo_tags %}

{% block head_title %}directory-components{% endblock %}

{% block content %}

<div class="container">
  {% breadcrumbs 'Statistics' %}<a href="/">Home</a>{% endbreadcrumbs %}
</div>

<section class="underline-black">
  <div class="container">
    <h1 class="heading-xlarge">Statistics</h1>
    <p>A grid of statistics:</p>
    {% statistics_card_grid statistics=view.statistics num_of_statistics=view.num_of_statistics %}

    {% code 'django' %}
      {% statistics_card_grid statistics=view.statistics num_of_statistics=view.num_of_statistics %}
    {% endcode %}


    <div class="margin-top-60">
      <p>You can also put the number first:</p>
      {% statistics_card_grid statistics=view.statistics num_of_statistics=view.num_of_statistics number_first=True %}
    </div>

    {% code 'django' %}
      {% statistics_card_grid statistics=view.statistics num_of_statistics=view.num_of_statistics number_first=True %}
    {% endcode %}


    <h2 class="heading-large">HTML markup</h2>
    {% code 'html' %}
      <div class="statistics-card-grid flex-grid underline-active-blue">

        <figure class="padding-vertical-15 column-half column-third-l column-sixth-xl">
          <p class="active-blue-text statistic-number  bold-large">Statistic</p>
          <figcaption>
            <p class="statistic-heading font-xsmall">Heading</p>
          </figcaption>
          <figcaption>
            <p class="font-xsmall statistic-smallprint">Caption</p>
          </figcaption>
        </figure>
            ... etc
      </div>
    {% endcode %}
  </div>
</section>

{% endblock content %}
