    // Component font-size on the Frontend (used for calculations)
    $font-size: 16;

    // Size of chevron (excluding border)
    $chevron-size: 10px;

    // Size of chevron border
    $chevron-border-min-width: 1px;
    $chevron-border-width: 4px;

    // Colour of chevron
    $chevron-border-colour: black;

    .link-back-new {

      display: inline-block;
      position: relative;
      color: black;
      text-decoration: none;

      margin-top: 2px;
      margin-bottom: 2px;

      // Allow space for the arrow
      padding-left: 18px
    }

    // Prepend left pointing chevron
    .link-back-new:before {
      content: "";
      display: block;

      // Vertically align with the parent element
      position: absolute;
      left: 3px;
      top: 7px;
      width: $chevron-size;
      height: $chevron-size;

      margin: auto 0;

      -webkit-transform: rotate(225deg);

          -ms-transform: rotate(225deg);

              transform: rotate(225deg);

      border: solid;
      border-width: $chevron-border-min-width $chevron-border-min-width 0 0;
      border-color: $chevron-border-colour;

      @supports (border-width: unquote("max(0px)")) {
        border-width: unquote("max(#{$chevron-border-min-width}, #{$chevron-border-width}) max(#{$chevron-border-min-width}, #{$chevron-border-width})") 0 0;

        // Ensure that the chevron never gets smaller than 16px
        font-size: unquote("max(#{$font-size * 1px}, 1em)");
      }

    }

    .link-back-new:focus:before {
      border-color: darkgray;
    }

    .link-back-new:after {
      content: "";
      position: absolute;
      top: -14px;
      right: 0;
      bottom: -14px;
      left: 0;
    }
