
    .details {
      display: block;
    }

    .details__summary {
      // Make the focus outline shrink-wrap the text content of the summary
      display: inline-block;

      // Absolutely position the marker against this element
      position: relative;

      margin-bottom: 1px;

      // Allow for absolutely positioned marker and align with disclosed text
      padding-left: 5px;

      // Style the summary to look like a link...
      cursor: pointer;

    }

    // Remove the underline when focussed to avoid duplicate borders
    .details__summary:focus .details__summary-text {
      text-decoration: none;
    }

    // Remove the default details marker so we can style our own consistently and
    // ensure it displays in Firefox (see implementation.md for details)
    .details__summary::-webkit-details-marker {
      display: none;
    }

    // Append our own open / closed marker using a pseudo-element
    .details__summary:before {
      content: "";
      position: absolute;

      top: -1px;
      bottom: 0;
      left: 0;

      margin: auto;

      .details[open] > & {

      }
    }

    .details__text {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 4px;
      border-left: 1px solid grey;
    }

    .details__text p {
      margin-top: 0;
      margin-bottom: 4px;
    }

    .details__text > :last-child {
      margin-bottom: 0;
    }
