@import '../../sass/tokens';

.govuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $atlas-grey-mid;
  margin-bottom: 15px;
}

.govuk-phase-banner__content {
  font-size: 16px;
  display: table;
  margin: 0;
}

.govuk-phase-banner__content__tag {
  margin-right: 2px;
}

.govuk-phase-banner__text {
  display: table-cell;
  vertical-align: middle;
}

.govuk-tag {
  display: inline-block;

  // When a user customises their colours often the background is removed,
  // by adding a outline we ensure that the tag component still keeps it's meaning.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  outline: 2px solid transparent;
  outline-offset: -2px;

  color: white;
  background-color: $atlas-electric-blue;
  letter-spacing: 1px;

  text-decoration: none;
  text-transform: uppercase;

  padding: 0px 10px;
  margin-right: 10px;
}
