@import '!elements/elements-typography';

@import '../../sass/partials/typography';
@import '../../sass/partials/colours';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Overpass:700');

// @import '../../../../../styles/fonts/main.scss';

.quote {
  @include quote-large;

  @include media(tablet) {
    margin-top: em(5);
    margin-bottom: em(20);
  }

  margin-top: em(5, 16);
  margin-bottom: em(20, 16);
}

// Update spacings to match our designs
.heading-xlarge {
  margin-bottom: em(45, 48);
}

.heading-large {
  font-family: 'FSLucas-SemiBold';
  margin-bottom: em(30, 36);
}

.heading-medium {
  margin-bottom: em(15, 24);
}

.subheading {
  @extend .font-xsmall;
  color: $mid-grey;
  line-height: $line-height;
  margin: 0;
}
