{% extends './base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load content_tags %}
{% block head_title %}{{ page.article_title }} article {{ block.super }}{% endblock %}
{% block meta_title %}{{ page.article_title }} article {{ block.super }}{% endblock %}
{% block head_css %}{{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{ page.article_title }}</h1>
            </div>
        </div>
        {% if page.article_image %}
            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-two-thirds">
                    {% image page.article_image original as rendition %}
                    <div class="image-container"
                         style="background-image: url({{ rendition.url }})"></div>
                </div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ page.article_subheading }}
                <hr>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">{{ page.article_body }}</div>
        </div>
    </div>
    {% if 'find-expert-talent' in request.path or show_salary_component %}
        {% feature_pre_election as feature_pre_election %}
        {% if feature_pre_election %}
            {% include './includes/salary_v2.html' with salary_location_form=location_form entry_salary=entry_salary mid_salary=mid_salary executive_salary=executive_salary professions_by_sector=professions_by_sector %}
        {% else %}
            {% include './includes/salary.html' with salary_location_form=location_form entry_salary=entry_salary mid_salary=mid_salary executive_salary=executive_salary professions_by_sector=professions_by_sector %}
        {% endif %}
    {% endif %}
    {% if 'find-the-right-location-and-premises' in request.path or show_rent_component %}
        {% include './includes/rent.html' with rent_location_form=location_form large_warehouse_rent=large_warehouse_rent small_warehouse_rent=small_warehouse_rent shopping_centre=shopping_centre high_street_retail=high_street_retail work_office=work_office %}
    {% endif %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-margin-top-3">
            <div class="govuk-grid-column-two-thirds">{% include './includes/csat_rating.html' with user_journey='ARTICLE' %}</div>
        </div>
    </div>
{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
