{% extends 'international/base.html' %}
{% load static %}
{% block head_css %}
    <link rel="stylesheet"
          href="{% static 'expand_your_business_styles.css' %}">
{% endblock %}
{% block body_content_container %}
    {% comment %} <div class="govuk-!-padding-bottom-3 {% if request.path == '/international/expand-your-business-in-the-uk/' %}eyb-light-blue-background{% endif %}"> {% endcomment %}
    {% include './includes/govuk/phase_banner.html' %}
    {% include './includes/breadcrumbs.html' with breadcrumbs=breadcrumbs %}
</div>
{{ block.super }}
{% endblock %}
