{% extends './base.html' %}
{% load static %}
{% block page_title %}CSAT Feedback {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if request.GET.id %}
                    <a href="{{ request.GET.url }}"
                       class="govuk-back-link govuk-!-margin-bottom-4">Back</a>
                {% else %}
                    <a href="/international/expand-your-business-in-the-uk/guide"
                       class="govuk-back-link govuk-!-margin-bottom-4">Back</a>
                {% endif %}
            </div>
        </div>
        {% if request.GET.success %}
            <div class="govuk-grid-row" id="complete_contact_form_message">
                <div class="govuk-grid-column-full">{% include './includes/feedback_success.html' %}</div>
            </div>
        {% else %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-xl">Give feedback on Expand your business in the UK</h1>
                </div>
                {% if request.GET.id %}
                    <div class="govuk-grid-column-three-quarters">
                        <p class="govuk-body govuk-!-margin-bottom-6">
                            Thank you for rating the service. Please help us improve the service further by answer the following questions.
                        </p>
                    </div>
                {% endif %}
            </div>
            {% if form.errors and not form.non_field_errors %}
                <div class="govuk-error-summary restrict-width"
                     aria-labelledby="error-summary-title"
                     role="alert"
                     tabindex="-1"
                     data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for field in form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li>
                                            <a href="#{{ field.auto_id }}">{{ error }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <form method="post" novalidate action="{{ request.build_absolute_uri }}">
                {% csrf_token %}
                {% if not form.satisfaction.value %}
                    <div class="govuk-grid-row">
                    {% else %}
                        <div class="govuk-grid-row great-hidden">
                        {% endif %}
                        <div class="govuk-grid-column-three-quarters">
                            <div class="govuk-form-group{% if form.satisfaction.errors %} govuk-form-group--error{% endif %}">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading" id="{{ form.satisfaction.auto_id }}">{{ form.satisfaction.label }}</h2>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--small"
                                         data-module="govuk-radios"
                                         id="satisfaction">
                                        {% for satisfaction_level in form.satisfaction %}
                                            <div class="govuk-radios__item">
                                                {{ satisfaction_level.tag }}
                                                <label class="govuk-label govuk-radios__label"
                                                       for="{{ satisfaction_level.id_for_label }}">
                                                    {{ satisfaction_level.choice_label }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters">
                            <div class="govuk-form-group{% if form.experience.errors %} govuk-form-group--error{% endif %}">
                                <fieldset class="govuk-fieldset" aria-describedby="experience-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading" id="{{ form.experience.auto_id }}">{{ form.experience.label }}</h2>
                                    </legend>
                                    <div id="experience-hint" class="govuk-hint">Select all that apply.</div>
                                    <div class="govuk-checkboxes govuk-checkboxes--small"
                                         data-module="govuk-checkboxes"
                                         id="experience">
                                        {% for action in form.experience %}
                                            <div class="govuk-checkboxes__item">
                                                <input {% if action.data.value in form.experience.value %}checked{% endif %}
                                                       {% if action.data.value == 'OTHER' %}data-aria-controls="conditional-experience-{{ forloop.counter0 }}"{% endif %}
                                                       type="checkbox"
                                                       name="experience"
                                                       value="{{ action.data.value }}"
                                                       class="govuk-checkboxes__input"
                                                       id="{{ action.id_for_label }}">
                                                <label class="govuk-label govuk-checkboxes__label"
                                                       for="{{ action.id_for_label }}">
                                                    {{ action.choice_label }}
                                                </label>
                                            </div>
                                            {% if action.data.value == 'OTHER' %}
                                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                                     id="conditional-experience-{{ forloop.counter0 }}">
                                                    <div class="govuk-form-group">
                                                        {% include 'international/includes/form_field.html' with field=form.experience_other %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters">
                            <div class="govuk-form-group{% if form.likelihood_of_return.errors %} govuk-form-group--error{% endif %}">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading"
                                            id="{{ form.likelihood_of_return.auto_id }}">
                                            {{ form.likelihood_of_return.label }}
                                        </h2>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--small"
                                         data-module="govuk-radios"
                                         id="likelihood_of_return">
                                        {% for likelihood_of_return_level in form.likelihood_of_return %}
                                            <div class="govuk-radios__item">
                                                {{ likelihood_of_return_level.tag }}
                                                <label class="govuk-label govuk-radios__label"
                                                       for="{{ likelihood_of_return_level.id_for_label }}">
                                                    {{ likelihood_of_return_level.choice_label }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters">
                            <div class="govuk-form-group{% if form.site_intentions.errors %} govuk-form-group--error{% endif %}">
                                <fieldset class="govuk-fieldset" aria-describedby="site_intentions-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading"
                                            id="{{ form.site_intentions.auto_id }}">
                                            {{ form.site_intentions.label }}
                                        </h2>
                                    </legend>
                                    <div id="site_intentions-hint" class="govuk-hint">Select all that apply.</div>
                                    <div class="govuk-checkboxes govuk-checkboxes--small"
                                         data-module="govuk-checkboxes"
                                         id="site_intentions">
                                        {% for action in form.site_intentions %}
                                            <div class="govuk-checkboxes__item">
                                                <input {% if action.data.value in form.site_intentions.value %}checked{% endif %}
                                                       {% if action.data.value == 'OTHER' %}data-aria-controls="conditional-site_intentions-{{ forloop.counter0 }}"{% endif %}
                                                       type="checkbox"
                                                       name="site_intentions"
                                                       value="{{ action.data.value }}"
                                                       class="govuk-checkboxes__input"
                                                       id="{{ action.id_for_label }}">
                                                <label class="govuk-label govuk-checkboxes__label"
                                                       for="{{ action.id_for_label }}">
                                                    {{ action.choice_label }}
                                                </label>
                                            </div>
                                            {% if action.data.value == 'OTHER' %}
                                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                                     id="conditional-site_intentions-{{ forloop.counter0 }}">
                                                    <div class="govuk-form-group">
                                                        {% include 'international/includes/form_field.html' with field=form.site_intentions_other %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters">
                            <div class="govuk-form-group{% if form.feedback_text.errors %} govuk-form-group--error{% endif %}">
                                <h1 class="govuk-label-wrapper">
                                    <label class="govuk-label govuk-label--m"
                                           for="{{ form.feedback_text.id_for_label }}">
                                        {{ form.feedback_text.label }}
                                    </label>
                                </h1>
                                <div id="more-detail-hint" class="govuk-hint">{{ form.feedback_text.help_text }}</div>
                                {{ form.feedback_text }}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
                            {% include './includes/submit_button.html' with button_text='Submit feedback' %}
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    {% endblock content %}
