{% extends './base.html' %}
{% load static %}
{% load humanize %}
{% load sector_filters %}
{% load location_select_filters %}
{% block head_title %}Change your answers {{ block.super }}{% endblock %}
{% block meta_title %}Change your answers {{ block.super }}{% endblock %}
{% block content %}
    <div class="great-container">
        {% if request.GET.details_updated %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                    <div class="govuk-notification-banner govuk-notification-banner--success"
                         role="alert"
                         aria-labelledby="govuk-notification-banner-title"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title"
                                id="govuk-notification-banner-title">Success</h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <h3 class="govuk-notification-banner__heading">Your details have been updated</h3>
                            <p class="govuk-body">
                                <a class="govuk-notification-banner__link"
                                   href="/international/expand-your-business-in-the-uk/guide/">Return to guide</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-l">Your details</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Business details</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">Location of company headquarters</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {{ user_data.company_location | get_company_location_display }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:business-headquarters' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">location of company headquarters</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">Company name</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {{ user_data.company_name | default:'-' }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if duns_matched or not user_data.address_line_1 %}
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:find-your-company' %}?next={% url 'international_online_offer:change-your-answers' %}&back={% url 'international_online_offer:change-your-answers' %}">
                                            Change<span class="govuk-visually-hidden">company name</span>
                                        </a>
                                    {% else %}
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:company-details' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                            Change<span class="govuk-visually-hidden">company name</span>
                                        </a>
                                    {% endif %}
                                </dd>
                            </div>
                            {% if not duns_matched and user_data.address_line_1 %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key govuk-body">Address of headquarters</dt>
                                    <dd class="govuk-summary-list__value govuk-body">
                                        {{ user_data.address_line_1|default:'-' }}
                                        <br>
                                        {% if user_data.address_line_2|length > 0 %}
                                            {{ user_data.address_line_2 }}
                                            <br>
                                        {% endif %}
                                        {{ user_data.town }}
                                        <br>
                                        {% if user_data.county|length > 0 %}
                                            {{ user_data.county }}
                                            <br>
                                        {% endif %}
                                        {% if user_data.postcode|length > 0 %}
                                            {{ user_data.postcode }}
                                            <br>
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:company-details' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                            Change<span class="govuk-visually-hidden">address headquarters</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key govuk-body">Company website address</dt>
                                    <dd class="govuk-summary-list__value govuk-body">
                                        {{ user_data.company_website | default:"-" }}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:company-details' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                            Change<span class="govuk-visually-hidden">company website address</span>
                                        </a>
                                    </dd>
                                </div>
                            {% endif %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">Sector or industry</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {% if triage_data.sector_sub %}
                                        {{ sub_and_sub_sub_sector|get_sector_display| default:'-' }}
                                        <br />
                                        (in our <strong>{{ triage_data.sector|get_sector_display | default:'-' }}</strong> sector)
                                    {% else %}
                                        {{ triage_data.sector|get_sector_display | default:'-' }}
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:business-sector' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">your sector or industry?</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Expansion plans</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">Do you know where you want to set up in the UK?</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {% if triage_data.location_none %}
                                        No, I'd like guidance on locations
                                    {% else %}
                                        Yes
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:know-setup-location' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">do you know where you want to set up in the UK?</span>
                                    </a>
                                </dd>
                            </div>
                            {% if not triage_data.location_none %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key govuk-body">Where do you want to set up?</dt>
                                    <dd class="govuk-summary-list__value govuk-body">
                                        {% if triage_data.get_location_city_display %}
                                            {{ triage_data.get_location_city_display }} ({{ triage_data.get_location_display }})
                                        {% else %}
                                            {{ triage_data.get_location_display }}
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:location' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                            Change<span class="govuk-visually-hidden">where do you want to set up?</span>
                                        </a>
                                    </dd>
                                </div>
                            {% endif %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">When do you want to set up?</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {{ user_data.get_landing_timeframe_display|default:"-" }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:when-want-setup' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">when do you want to set up</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">How do you plan to expand your business in the UK?</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {% if triage_data.get_intent_display %}
                                        <ol class="govuk-list govuk-list--bullet">
                                            {% for intent in triage_data.get_intent_display %}
                                                <li>
                                                    {{ intent }}
                                                    {% if intent == 'Other' %}
                                                        <ol class="govuk-list govuk-list--bullet">
                                                            <li>{{ triage_data.intent_other }}</li>
                                                        </ol>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    {% else %}
                                        -
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:intent' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">how do you plan to expand your business</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">
                                    How many people do you want to hire in the UK in the first three years?
                                </dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {{ triage_data.get_hiring_display|default:"-" }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:hiring' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">How many people do you want to hire in the UK in the first three years</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">
                                    How much do you want to spend on setting up in the first three years?
                                </dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {{ spend }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:spend' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">hiring estimate (within first 3 years)</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Contact details</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">Full name</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {{ user_data.full_name | default:'-' }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:contact-details' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">full name</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">Job title</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {{ user_data.role | default:'-' }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:contact-details' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">job title</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-body">Phone number</dt>
                                <dd class="govuk-summary-list__value govuk-body">
                                    {{ user_data.telephone_number | default:'-' }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:contact-details' %}?next={% url 'international_online_offer:change-your-answers' %}">
                                        Change<span class="govuk-visually-hidden">phone number</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
