{% extends './base.html' %}
{% load static %}
{% block page_title %}Feedback {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        {% if request.GET.success %}
            <div class="govuk-grid-row" id="complete_contact_form_message">
                <div class="govuk-grid-column-full">{% include './includes/feedback_success.html' %}</div>
            </div>
        {% else %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Give feedback on Expand your business in the UK</h1>
                </div>
            </div>
            {% if form.errors and not form.non_field_errors %}
                <div class="govuk-error-summary restrict-width"
                     aria-labelledby="error-summary-title"
                     role="alert"
                     tabindex="-1"
                     data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for field in form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li>
                                            <a href="#{{ field.auto_id }}">{{ error }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <form method="post" novalidate action="{{ request.build_absolute_uri }}">
                {% csrf_token %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-character-count"
                             data-module="govuk-character-count"
                             data-maxlength="1000">
                            <div class="govuk-form-group{% if form.feedback_text.errors %} govuk-form-group--error{% endif %}">
                                <h1 class="govuk-label-wrapper">
                                    <label class="govuk-label govuk-label--m"
                                           for="{{ form.feedback_text.id_for_label }}">
                                        {{ form.feedback_text.label }}
                                    </label>
                                </h1>
                                <div id="more-detail-hint" class="govuk-hint">{{ form.feedback_text.help_text }}</div>
                                {% for error in form.feedback_text.errors %}
                                    <p class="govuk-error-message" role="alert">
                                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                    </p>
                                {% endfor %}
                                {{ form.feedback_text }}
                            </div>
                            <div id="id_feedback_text-info"
                                 class="govuk-hint govuk-character-count__message">
                                You can enter up to 1000 characters
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
                        {% include './includes/submit_button.html' with button_text='Send feedback' %}
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}
