{% extends './base.html' %}
{% load wagtailimages_tags %}
{% load static %}
{% load humanize %}
{% load sector_filters %}
{% load location_select_filters %}
{% block head_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}
{% block meta_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}
{% block breadcrumb_region %}
    <div class="great-breadcrumb-region light-blue-background">{{ block.super }}</div>
{% endblock %}
{% block content %}
    <div class="dynamic-guide">
        <div class="dynamic-guide__hero-image"></div>
        <div class="dynamic-guide__grid">
            <div class="dynamic-guide__panel-top">
                <div class="dynamic-guide__hero">
                    <h2 class="govuk-caption-xl">{{ company_name }}</h2>
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Expand your business and set up in the UK</h1>
                    <p class="govuk-body">
                        This guide is based on the details and plans you provided about your business, in our <strong>{{ sector_name }}</strong> sector.
                    </p>
                    {% comment %}
                    TODO: Use a fontawesome icon.
                    Note that the icon must be inlined so that it can adapt its color when the link is in :focus
                    {% endcomment %}
                    <a class="govuk-link dynamic-guide__edit-link" href="#">
                        {% include './includes/icons/icon-edit.svg' %}
                    Change your details and plans</a>
                </div>
                <div class="dynamic-guide__region-map"></div>
            </div>
            <div class="dynamic-guide__panel-left">
                <div class="dynamic-guide__section essential-topics">
                    <h2 class="govuk-heading-l">Essential topics for all businesses</h2>
                    <ul class="essential-topics__list essential-topics">
                        {% for topic in essential_topics %}
                            <li class="essential-topics__item">
                                <img class="dynamic-guide__icon" alt="" src="{% static topic.icon_path %}" />
                                <a href="{{ topic.url }}">{{ topic.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% include './includes/dynamic-guide/section_left_start.html' with caption=triage_data.sector|get_sector_display heading='Market data' %}
                {% include './includes/dynamic-guide/market_data.html' with market_data_location_select_form=market_data_location_select_form market_data=bci_data %}
                {% include '_action-link.html' with linkText='Compare data across UK nations and regions' linkHref='#' %}
                {% include './includes/dynamic-guide/section_left_end.html' %}
                {% include './includes/dynamic-guide/section_left_start.html' with caption=sector_name heading='Locations of investment opportunities' description='South Wales is pioneering the way forward in designing, developing, and commercialising the compound semiconductors needed for a net zero economy.' %}
                {% for location in locations %}
                    {% include './includes/dynamic-guide/rich_link.html' with image_path=location.image link_url=location.url link_text=location.title location=location.location body=location.description %}
                {% endfor %}
                <div>
                    {% include '_action-link.html' with linkText='View more opportunities in this sector' linkHref=more_locations_link %}
                </div>
                {% include './includes/dynamic-guide/section_left_end.html' %}
                {% include './includes/dynamic-guide/section_left_start.html' with caption=sector_name heading='UK events' description='Attending conferences, fairs or trade shows can help you make industry connections in the UK and get the latest insights from your sector.' %}
                {% for event in events %}
                    {% include './includes/dynamic-guide/rich_link.html' with link_external=True icon_path=event.icon link_url=event.url link_text=event.title location=event.location body=event.description website=event.website %}
                {% endfor %}
                <div>{% include '_action-link.html' with linkText='View more events for this sector' linkHref=more_events_link %}</div>
                {% include './includes/dynamic-guide/section_left_end.html' %}
                {% include './includes/dynamic-guide/section_left_start.html' with caption=sector_name heading='UK associations' description='Joining industry-based associations, forums or networks can be a useful way to find new clients and form partnerships.' %}
                {% for association in associations %}
                    {% include './includes/dynamic-guide/rich_link.html' with link_external=True link_url=association.url link_text=association.title body=association.description %}
                {% endfor %}
                <div>
                    {% include '_action-link.html' with linkText='View more associations for this sector' linkHref=more_associations_link %}
                </div>
                {% include './includes/dynamic-guide/section_left_end.html' %}
                {% include './includes/dynamic-guide/section_left_start.html' with caption=sector_name heading='Setting up a base in the UK' %}
                {% for base in bases %}
                    {% include './includes/dynamic-guide/rich_link.html' with icon_path=base.icon link_url=base.url link_text=base.title location=base.location body=base.description website=base.website %}
                {% endfor %}
                <div class="rent-data">
                    {% include './includes/dynamic-guide/select.html' with label=rent_data.select.label items=rent_data.select.items %}
                    {% include '_tabs.html' with title="Wtf" items=rent_data.tabs %}
                </div>
                {% include './includes/dynamic-guide/section_left_end.html' %}
                {% include './includes/dynamic-guide/section_left_start.html' with caption=sector_name heading='Recruiting and employing people in the UK' %}
                {% for item in recruit_and_employ %}
                    {% include './includes/dynamic-guide/rich_link.html' with icon_path=item.icon link_url=item.url link_text=item.title location=item.location body=item.description website=item.website %}
                {% endfor %}
                {% include './includes/dynamic-guide/figures.html' with options=salary_data only %}
                {% include './includes/dynamic-guide/section_left_end.html' %}
            </div>
            <div class="dynamic-guide__panel-right">
                <div class="dynamic-guide__section section section--right section--find-a-consultant">
                    <div class="section__header">
                        <h2 class="govuk-heading-m section__heading">Find a consultant</h2>
                        <img class="dynamic-guide__icon"
                             alt="Business structure icon"
                             src="{% static 'svg/icon-planning.svg' %}" />
                    </div>
                    <p class="govuk-body">
                        You will need to be aware of UK regulations and legislation framework in the {{ sector_name }} sector.
                    </p>
                    {% include '_action-link.html' with linkText='Search our business directory' linkHref='#' %}
                </div>
                {% for section in right_panel_sections %}
                    <div class="dynamic-guide__section section section--right">
                        <div class="section__header">
                            <h2 class="govuk-heading-m section__heading">{{ section.title }}</h2>
                            <img class="dynamic-guide__icon"
                                 alt=""
                                 src="{% static section.icon_path %}" />
                        </div>
                        <ul class="link-list">
                            {% for item in section.items %}
                                <li class="link-list__item">
                                    {% include './includes/dynamic-guide/internal-link.html' with url=item.url text=item.title %}
                                    <p class="govuk-body">{{ item.text }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {% block feedback_reporter %}
        {% if not csat_complete %}
            <section id="hcsat_section"
                     class="great-bg-white clearfix govuk-!-margin-top-0 govuk-!-padding-bottom-6 great-inline-feedback__container">
                <div class="container">
                    <div class="great-container ">
                        <!-- djlint:off T027-->
                        {% include 'core/includes/hcsat.html' with hcsat_form=hcsat_form hcsat_stage=hcsat_form_stage leading_text="To help us improve our service, we'd like to know more about your experience today. It will only take a minute to complete." %}
                        <!-- djlint:on -->
                    </div>
                </div>
            </section>
        {% endif %}
        {{ block.super }}
    {% endblock %}
