{% extends './base.html' %}
{% load wagtailimages_tags %}
{% load static %}
{% load humanize %}
{% load sector_filters %}
{% load location_select_filters %}
{% load eyb_tags %}
{% block head_css %}
    {{ block.super }}
    <style type="text/css">
        .region-map {
            background-image: url({{region_map_image_url}});  
        }
    </style>
{% endblock %}
{% block head_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}
{% block meta_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}
{% block breadcrumb_region %}
    <div class="{% if request.path == '/international/expand-your-business-in-the-uk/guide/' %}light-blue-background{% endif %}">
        {% include './includes/govuk/phase_banner.html' with hide_border=True %}
    </div>
    {% include 'international/includes/breadcrumbs.html' with breadcrumbs=breadcrumbs %}
{% endblock %}
{% block css_layout_class %}light-blue-background{% endblock %}
{% block content %}
    {% include '_hero.html' with classes='great-ds-hero--image-only' pngImagePath=hero_image_url %}
    <div class="great-ds-container">
        <div class="govuk-grid-row hero-tile-container">
            <div class="govuk-grid-column-full">
                {% capture tile_content %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-caption-xl">{{ user_data.company_name }}</h2>
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Expand your business and set up in the UK</h1>
                        <p class="govuk-body">
                            This guide is based on the details and plans you provided about your business, in our <strong>{{ triage_data.sector }}</strong> sector.
                        </p>
                        <a class="govuk-link" href="{% url 'international_online_offer:change-your-answers' %}">
                            {% include './includes/icons/icon-edit.svg' %}
                            Change your details and plans
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="region-map"></div>
                        <div class="map-location">
                            {% if triage_data.location %}<i class="fa fa-map-marker-alt govuk-!-margin-right-1" aria-hidden="true"></i> {{triage_data.get_location_display}}{% endif %}
                        </div>
                    </div>
                </div>
                {% endcapture %}
                {% include '_tile.html' with content=tile_content %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% capture tile_content %}
                <ul class="essential-topics__list essential-topics">
                    {% for topic in essential_topics %}
                        <li class="essential-topics__item">
                            <img class="icon" alt="" src="{% static topic.icon_path %}" />
                            <a class="great-ds-action-link" href="{{ topic.url }}">
                                <span class="great-ds-action-link__text">{{ topic.text }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% endcapture %}
                {% include '_tile.html' with title="Essential topics for all businesses" size="l" isSimple="true" content=tile_content %}

                {% capture tile_content %}
                {% include './includes/dynamic-guide/market_data.html' with market_data_location_select_form=market_data_location_select_form market_data=bci_data %}
                {% endcapture %}
                {% include '_tile.html' with caption=triage_data.sector title="Market data" size="l" content=tile_content actionLinkText='Compare data across UK nations and regions' actionLinkHref='/international/expand-your-business-in-the-uk/business-cluster-information/?area=K03000001' %}
            
                {% if locations|length > 0 %}
                {% capture tile_content %}
                {% for location in locations|slice:':2' %}
                    {% include './includes/dynamic-guide/rich_link.html' with image_path=location.image link_url=location.url link_text=location.title location=location.location body=location.description %}
                {% endfor %}
                {% endcapture %}
                {% include '_tile.html' with caption=triage_data.sector title="Locations of investment opportunities" size="l" description="Find out which UK nations and regions are home to attractive opportunities for your sector." content=tile_content actionLinkText='View more opportunities in this sector' actionLinkHref=more_locations_link %}
                {% endif %}

                {% if events|length > 0 %}
                {% capture tile_content %}
                {% for event in events|slice:':2' %}
                    {% include './includes/dynamic-guide/rich_link.html' with link_external=True icon_path=event.icon link_url=event.url link_text=event.title location=event.location body=event.description website=event.website %}
                {% endfor %}
                {% endcapture %}
                {% include '_tile.html' with caption=triage_data.sector title="UK events" content=tile_content size="l" description="Attending conferences, fairs or trade shows can help you make industry connections in the UK and get the latest insights from your sector." actionLinkText="View more events for this sector" actionLinkHref=more_events_link %}
                {% endif %}

                {% if associations|length > 0 %}
                {% capture tile_content %}
                {% for association in associations|slice:':2' %}
                    {% include './includes/dynamic-guide/rich_link.html' with link_external=True link_url=association.url link_text=association.title body=association.description %}
                {% endfor %}
                {% endcapture %}
                {% include '_tile.html' with caption=triage_data.sector title="UK associations" content=tile_content size="l" description="Joining industry-based associations, forums or networks can be a useful way to find new clients and form partnerships." actionLinkHref=more_associations_link %}
                {% endif %}

                
                {% capture tile_content %}
                {% for base in bases %}
                    {% include './includes/dynamic-guide/rich_link.html' with icon_path=base.icon link_url=base.url link_text=base.title location=base.location body=base.description website=base.website %}
                {% endfor %}
                <form method="get"
                    id="rent-data-location-select-form"
                    action="#rent-data-location-select-form">
                    {% csrf_token %}
                    {% include 'international/includes/form_field.html' with field=rent_data_location_select_form.rent_data_location %}
                    <div class="govuk-grid-column-one-quarter">
                        <button type="submit"
                                id="change-rent-data-location"
                                class="govuk-button govuk-button--secondary govuk-!-margin-top-6"
                                data-module="govuk-button">Change</button>
                    </div>
                </form>
                <div class="govuk-!-margin-bottom-6"></div>
                {% for rent_data_content in rent_data.tabs %}
                <div class="tab-content">
                    <img class="icon tab-content__icon"
                         alt="Business structure icon"
                         src="{% static rent_data_content.icon %}" />
                    <h3 class="govuk-heading-s tab-content__title">{{ rent_data_content.title }}</h3>
                    <div class="tab-content__figure">
                        <div class="tab-content__value--tablet govuk-heading-m govuk-!-margin-bottom-0">
                            £{{ rent_data_content.value|floatformat:-3|intcomma }}
                        </div>
                        <div class="tab-content__value--mobile govuk-heading-l govuk-!-margin-bottom-0">
                            £{{ rent_data_content.value|floatformat:-3|intcomma }} 
                        </div>
                        <div class="tab-content__description">per calendar month</div>
                    </div>
                    <div class="tab-content__explanation">{{ rent_data_content.explanation }}</div>
                </div>
                {% endfor %}
                {% endcapture %}
                {% include '_tile.html' with caption=triage_data.sector title="Setting up a base in the UK" size="l" content=tile_content %}

                {% capture tile_content %}
                {% for item in recruit_and_employ %}
                    {% include './includes/dynamic-guide/rich_link.html' with icon_path=item.icon link_url=item.url link_text=item.title location=item.location body=item.description website=item.website %}
                {% endfor %}
                {% include './includes/dynamic-guide/salary_data.html' with salary_data_location_select_form=salary_data_location_select_form entry_salary=entry_salary mid_salary=mid_salary executive_salary=executive_salary professions_by_sector=professions_by_sector %}
                {% endcapture %}
                {% include '_tile.html' with caption=triage_data.sector title="Recruiting and employing people in the UK" size="l" content=tile_content %}
                
            </div>
            <div class="govuk-grid-column-one-third">
                {% include '_tile.html' with title="Find a consultant" description="Hire UK experts in finance, law, tax and other specialist areas." size="m" icon="/static/svg/icon-consultant.svg" actionLinkText="Search our business directory" actionLinkHref="/international/investment-support-directory/" isSimple="true" %}
                
                {% for section in right_panel_sections %}
                {% capture tile_content %}
                <ul class="link-list">
                    {% for item in section.items %}
                        <li class="link-list__item">
                            {% include './includes/dynamic-guide/internal-link.html' with url=item.url text=item.title %}
                            <p class="govuk-body">{{ item.text }}</p>
                        </li>
                    {% endfor %}
                </ul>
                {% endcapture %}
                {% include '_tile.html' with title=section.title size="m" icon=section.icon_path content=tile_content %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block feedback_reporter %}
    {% if not csat_complete %}
        <section id="hcsat_section"
                 class="great-bg-white clearfix govuk-!-margin-top-0 govuk-!-padding-bottom-6 great-inline-feedback__container">
            <div class="container">
                <div class="great-container ">
                    <!-- djlint:off T027-->
                    {% include 'core/includes/hcsat.html' with hcsat_form=hcsat_form hcsat_stage=hcsat_form_stage leading_text="To help us improve our service, we'd like to know more about your experience today. It will only take a minute to complete." %}
                    <!-- djlint:on -->
                </div>
            </div>
        </section>
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Function to focus on the element based on the hash
            function focusElementBasedOnHash() {
                const hash = window.location.hash;
        
                // Use the appropriate ID based on the hash
                if (hash.includes('#market-data')) {
                    focusElement('id_market_data_location');
                } else if (hash.includes('#rent-data-location-select-form')) {
                    focusElement('id_rent_data_location');
                } else if (hash.includes('#salary-data')) {
                    focusElement('id_salary_data_location');
                }
            }
        
            // Focus element if it exists
            function focusElement(elementId) {
                const element = document.getElementById(elementId);
                if (element) {
                    element.focus();
                }
            }
        
            // Check for the element initially and on every hash change
            focusElementBasedOnHash(); // Initial check
        
            window.addEventListener('hashchange', () => {
                focusElementBasedOnHash();
            });
        
            // Fallback using setInterval to ensure the element is available before trying to focus
            const checkInterval = setInterval(() => {
                const hash = window.location.hash;
                if (hash.includes('#market-data') && document.getElementById('id_market_data_location')) {
                    focusElement('id_market_data_location');
                    clearInterval(checkInterval); // Stop checking after success
                } else if (hash.includes('#rent-data-location-select-form') && document.getElementById('id_rent_data_location')) {
                    focusElement('id_rent_data_location');
                    clearInterval(checkInterval); // Stop checking after success
                } else if (hash.includes('#salary-data') && document.getElementById('id_salary_data_location')) {
                    focusElement('id_salary_data_location');
                    clearInterval(checkInterval); // Stop checking after success
                }
            }, 500); // Check every 500ms
        
        });
    </script>
    <script>
        document.getElementById("change-rent-data-location").style.display = "none";
        function refreshRentDataSelectedRegion() {
            document.getElementById('rent-data-location-select-form').submit();
        }
    </script>
{% endblock %}
