{% extends './base.html' %}
{% load wagtailimages_tags %}
{% load static %}
{% load humanize %}
{% block head_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}
{% block meta_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}
{% block head_css %}{{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        {% if not eyb_user %}
            {% if triage_data.is_high_value %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {% include './includes/govuk/notification_banner.html' with banner_heading='Your business may qualify for 1 to 1 support. One of our specialist advisers will contact you to discuss your expansion plans. Sign up to access this support and your personalised online guide.' banner_link=complete_contact_form_link banner_link_text=complete_contact_form_link_text %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if eyb_user and request.GET.signup %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include './includes/govuk/notification_banner.html' with css_class="govuk-notification-banner--success" banner_title="Success" banner_heading='Your account has been created. You can now access your personalised guide tailored to your expansion plans.' %}
                </div>
            </div>
        {% endif %}
        {% if not is_triage_complete %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include './includes/govuk/notification_banner.html' with banner_title="Important" banner_heading='Complete a 2-minute step by step process to ensure this guide is tailored to your specific needs.' banner_link='international_online_offer:sector' banner_link_text='Start now' %}
                </div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Welcome to your UK expansion guide</h1>
                <p class="govuk-body govuk-!-margin-bottom-6">
                    Whether you've decided on the UK or you're still exploring your options, your free guide will take you through what you need to know.
                </p>
                <p class="govuk-body govuk-!-margin-bottom-6">
                    You'll find a checklist of things you'll need to consider when you're setting up, and a personalised guide tailored for your sector.
                </p>
                {% if not eyb_user %}
                    {% if not triage_data.is_high_value %}
                        <p class="govuk-body govuk-!-margin-bottom-6">
                            <a class="govuk-link"
                               href="{% url 'international_online_offer:signup' %}">Sign up to our free self-service tool</a> to access a personalised guide that's tailored to your expansion plans.
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if eyb_user %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-grid-row govuk-!-padding-3 govuk-!-margin-0 govuk-!-margin-bottom-8 guide-edit-panel">
                        <div class="govuk-grid-column-one-quarter">
                            <p class="govuk-body">Sector</p>
                            {% if triage_data.sector %}
                                <h2 class="govuk-heading-m">{{ triage_data.get_sector_display }}</h2>
                            {% else %}
                                <p class="govuk-body govuk-!-padding-top-2">
                                    <a class="govuk-link"
                                       href="{% url 'international_online_offer:sector' %}">Add details</a>
                                </p>
                            {% endif %}
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <p class="govuk-body">Headquarters</p>
                            {% if user_data.company_location %}
                                <h2 class="govuk-heading-m">{{ user_data.get_company_location_display }}</h2>
                            {% else %}
                                <p class="govuk-body govuk-!-padding-top-2">
                                    {% if not request.user.is_authenticated %}
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:signup' %}">Add details</a>
                                    {% else %}
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:profile' %}">Add details</a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <p class="govuk-body">Company name</p>
                            {% if user_data.company_name %}
                                <h2 class="govuk-heading-m">{{ user_data.company_name }}</h2>
                            {% else %}
                                <p class="govuk-body govuk-!-padding-top-2">
                                    {% if not request.user.is_authenticated %}
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:signup' %}">Add details</a>
                                    {% else %}
                                        <a class="govuk-link"
                                           href="{% url 'international_online_offer:profile' %}">Add details</a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <p class="govuk-body">
                                <a class="govuk-link"
                                   href="{% url 'international_online_offer:change-your-answers' %}">Change your answers</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">Contents</h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#step-by-step-guide">Checklist for UK expansion</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#personalised-guide">Personalised guide</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="step-by-step-guide">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l">Checklist for UK expansion</h2>
                        <p class="govuk-body">Topics you may need to know more about and tasks you may need to complete.</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">{% include './includes/step_guide.html' %}</div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-body-m">
                            <a class="govuk-link" href="#personalised-guide">View your personalised guide</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden"
                 id="personalised-guide">
                {% if not eyb_user %}
                    <div class="govuk-grid-row" id="sign-up-banner">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-notification-banner"
                                 role="region"
                                 data-module="govuk-notification-banner">
                                <div class="govuk-notification-banner__content">
                                    <div class="govuk-grid-row great-max-width-100">
                                        <div class="govuk-grid-column-full">
                                            <h2 class="govuk-heading-l">Access your free personalised guide to help you grow in the UK</h2>
                                            <p class="govuk-body">Sign up for:</p>
                                            <ul class="govuk-list govuk-list--bullet">
                                                {% if triage_data.is_high_value %}<li>1-to-1 support from specialist UK government advisers</li>{% endif %}
                                                <li>a personalised guide tailored to your expansion plans</li>
                                                <li>opportunities customised to your sector</li>
                                                <li>access at any time, without entering your details again</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <a href="{% url 'international_online_offer:signup' %}"
                                               role="button"
                                               class="govuk-link"
                                               draggable="false"
                                               data-module="button">Sign up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if get_to_know_market_articles or trade_shows_page and triage_data.sector %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h2 class="govuk-heading-l">Your personalised guide to expanding your business</h2>
                            <p class="govuk-body">
                                Your personalised guide is based on information you've given us about your sector and expansion plans.
                            </p>
                        </div>
                    </div>
                    {% if bci_data %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h2 class="govuk-heading-m">
                                    Market data for the {{ bci_data.dbt_sector_name|default:""|lower }} sector in the UK, {{ bci_data.business_count_release_year|default:"" }}
                                </h2>
                            </div>
                        </div>
                        <div class="govuk-grid-column-full guide-bci-container">
                            <div class="govuk-grid-row govuk-!-padding-2">
                                <div class="govuk-grid-column-one-quarter">
                                    <h2 class="govuk-heading-xl govuk-!-padding-0  govuk-!-margin-bottom-1">
                                        {{ bci_data.total_business_count|default:"N/A"|intcomma }}
                                    </h2>
                                    <p class="govuk-body">businesses</p>
                                </div>
                                <div class="govuk-grid-column-one-quarter">
                                    <h2 class="govuk-heading-xl govuk-!-padding-0 govuk-!-margin-bottom-1">
                                        {{ bci_data.total_employee_count|default:"N/A"|intcomma }}
                                    </h2>
                                    <p class="govuk-body">employees</p>
                                </div>
                            </div>
                            <div class="govuk-grid-row govuk-!-padding-1">
                                <div class="govuk-grid-column-full">
                                    <button class="secondary-button button--international"
                                            type="button"
                                            onclick="window.location.href='{% url 'international_online_offer:bci' %}?area=K03000001'">
                                        By location
                                    </button>
                                </div>
                            </div>
                            <div class="govuk-grid-row govuk-!-padding-top-3">
                                <div class="govuk-grid-column-full">
                                    <p class="govuk-body-s">
                                        Source:
                                        <a href="https://www.ons.gov.uk/aboutus/whatwedo/paidservices/interdepartmentalbusinessregisteridbr">
                                            Inter-Departmental Business Register, Office for National Statistics
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="govuk-grid-row govuk-!-margin-bottom-6">
                        {% if trade_shows_page and triage_data.sector %}
                            <div class="govuk-grid-column-full">
                                <div class="article-list-item">
                                    {% if eyb_user %}
                                        <a class="article-list-item-a" href="{{ trade_shows_page.url }}">
                                        {% else %}
                                            <a class="article-list-item-a"
                                               href="{% url 'international_online_offer:signup' %}">
                                            {% endif %}
                                            <div class="govuk-grid-row">
                                                <div class="govuk-grid-column-one-third">
                                                    <div class="image-container"
                                                         alt="Buinsess people talking at networking event"
                                                         style="background-image: url({% static 'images/trade_events.png' %})">
                                                        {% if not eyb_user %}
                                                            <div class="image-container-lock-overlay">
                                                                <div class="article-lock"></div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="govuk-grid-column-two-thirds">
                                                    <h3 class="govuk-heading-m article-list-item-title">Trade events</h3>
                                                    <p class="govuk-body article-list-item-teaser">
                                                        Attending a UK trade event can help you develop networks and get the latest insights from your sector.
                                                    </p>
                                                    {% if not eyb_user %}
                                                        <div class="article-lock-text">
                                                            <strong class="govuk-tag govuk-tag--blue">SIGN UP TO UNLOCK</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="govuk-grid-column-full">
                                    <div class="article-list-item">
                                        {% if eyb_user %}
                                            <a class="article-list-item-a"
                                               href="{% url 'international_online_offer:trade-associations' %}">
                                            {% else %}
                                                <a class="article-list-item-a"
                                                   href="{% url 'international_online_offer:signup' %}">
                                                {% endif %}
                                                <div class="govuk-grid-row">
                                                    <div class="govuk-grid-column-one-third">
                                                        <div class="image-container"
                                                             alt="Buinsess people talking about how trade associations can help a business grow"
                                                             style="background-image: url({% static 'images/trade_associations.png' %})">
                                                            {% if not eyb_user %}
                                                                <div class="image-container-lock-overlay">
                                                                    <div class="article-lock"></div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="govuk-grid-column-two-thirds">
                                                        <h3 class="govuk-heading-m article-list-item-title">Trade associations</h3>
                                                        <p class="govuk-body article-list-item-teaser">
                                                            Joining a UK trade association can be a useful way to find new clients and form partnerships.
                                                        </p>
                                                        {% if not eyb_user %}
                                                            <div class="article-lock-text">
                                                                <strong class="govuk-tag govuk-tag--blue">SIGN UP TO UNLOCK</strong>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="govuk-grid-column-full">
                                    {% for page in get_to_know_market_articles %}
                                        {% image page.article_image original as rendition %}
                                        <div class="article-list-item">
                                            {% if eyb_user %}
                                                <a href="{{ page.url }}?back=true">
                                                {% else %}
                                                    <a href="{% url 'international_online_offer:signup' %}">
                                                    {% endif %}
                                                    <div class="govuk-grid-row">
                                                        <div class="govuk-grid-column-one-third">
                                                            <div class="image-container"
                                                                 style="background-image: url({{ rendition.url }})">
                                                                {% if not eyb_user %}
                                                                    <div class="image-container-lock-overlay">
                                                                        <div class="article-lock"></div>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="govuk-grid-column-two-thirds">
                                                            <h3 class="govuk-heading-m article-list-item-title">{{ page.article_title }}</h3>
                                                            <p class="govuk-body article-list-item-teaser">{{ page.article_teaser }}</p>
                                                            {% if not eyb_user %}
                                                                <div class="article-lock-text">
                                                                    <strong class="govuk-tag govuk-tag--blue">SIGN UP TO UNLOCK</strong>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if finance_and_support_articles %}
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full">
                                        <h2 class="govuk-heading-l">Finance and support</h2>
                                        <p class="govuk-body">
                                            Find out about getting access to finance, plus the financial incentives and support available when you set up your business in the UK.
                                        </p>
                                    </div>
                                </div>
                                <div class="govuk-grid-row govuk-!-margin-bottom-6">
                                    <div class="govuk-grid-column-full">
                                        {% for page in finance_and_support_articles %}
                                            {% image page.article_image original as rendition %}
                                            <div class="article-list-item">
                                                {% if eyb_user %}
                                                    <a href="{{ page.url }}?back=true">
                                                    {% else %}
                                                        <a href="{% url 'international_online_offer:signup' %}">
                                                        {% endif %}
                                                        <div class="govuk-grid-row">
                                                            <div class="govuk-grid-column-one-third">
                                                                <div class="image-container"
                                                                     style="background-image: url({{ rendition.url }})">
                                                                    {% if not eyb_user %}
                                                                        <div class="image-container-lock-overlay">
                                                                            <div class="article-lock"></div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="govuk-grid-column-two-thirds">
                                                                <h3 class="govuk-heading-m article-list-item-title">{{ page.article_title }}</h3>
                                                                <p class="govuk-body article-list-item-teaser">{{ page.article_teaser }}</p>
                                                                {% if not eyb_user %}
                                                                    <div class="article-lock-text">
                                                                        <strong class="govuk-tag govuk-tag--blue">SIGN UP TO UNLOCK</strong>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if not eyb_user %}
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <div class="govuk-inset-text">
                                                <strong>Don't forget to share your contact details</strong> to keep up to date with our personalised service. You may be eligible for 1 to 1 support.
                                                {% if complete_contact_form_link and complete_contact_form_link_text %}
                                                    <a class="govuk-notification-banner__link"
                                                       href="{% url complete_contact_form_link %}">{{ complete_contact_form_link_text }}</a>.
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">{% include './includes/csat_rating.html' with user_journey='DASHBOARD' %}</div>
                        </div>
                    </div>
                {% endblock %}
                {% block body_js %}
                    {{ block.super }}
                    <script type="text/javascript"
                            src="{% static 'javascript/expand-your-business.js' %}"></script>
                {% endblock %}
