{% extends './base.html' %}
{% load wagtailimages_tags %}
{% load static %}
{% load humanize %}
{% load sector_filters %}
{% load location_select_filters %}
{% block head_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}
{% block meta_title %}Welcome to your UK expansion guide {{ block.super }}{% endblock %}
{% block head_css %}
    <link rel="stylesheet"
          href="{% static 'expand_your_business_styles.css' %}">
    {{ block.super }}
{% endblock %}
{% block breadcrumb_region %}
    <div class="great-breadcrumb-region light-blue-background">{{ block.super }}</div>
{% endblock %}
{% block content %}
    <div class="dynamic-guide__hero"></div>
    <div class="great-container">
        <div class="dynamic-guide__layout">
            <div class="dynamic-guide__top dynamic-guide__panel">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit, velit at lacinia feugiat, est lorem sollicitudin tortor, sit amet luctus nulla velit vel tortor. Cras placerat nec eros a vestibulum. Duis vitae elit eu ipsum iaculis pretium. Integer non aliquam arcu, quis scelerisque libero. Nulla interdum lacinia feugiat. Curabitur at quam urna. Nullam luctus lacus sit amet eros eleifend, a molestie tortor egestas. Integer fermentum rutrum volutpat. Fusce sodales tincidunt nibh. Morbi mollis aliquam ante, ut vehicula ante congue eget.
            </div>
            <div class="dynamic-guide__bottom">
                <div class="dynamic-guide__left">
                    <div class="dynamic-guide__panel">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit, velit at lacinia feugiat, est lorem sollicitudin tortor, sit amet luctus nulla velit vel tortor. Cras placerat nec eros a vestibulum. Duis vitae elit eu ipsum iaculis pretium. Integer non aliquam arcu, quis scelerisque libero. Nulla interdum lacinia feugiat. Curabitur at quam urna. Nullam luctus lacus sit amet eros eleifend, a molestie tortor egestas. Integer fermentum rutrum volutpat. Fusce sodales tincidunt nibh. Morbi mollis aliquam ante, ut vehicula ante congue eget.
                    </div>
                    <div class="dynamic-guide__panel">
                        Curabitur varius mi magna, sed sollicitudin ligula tincidunt quis. Vestibulum odio magna, eleifend sit amet aliquam at, ultricies ut turpis. Donec mattis tristique sapien, porta ornare massa. Donec pretium vestibulum massa, vitae luctus elit varius id. Aliquam in vehicula lorem, eget ultricies ligula. Morbi quis diam faucibus, dapibus tortor id, luctus leo. Sed non lacinia nunc, et sagittis purus. Sed faucibus nec nisl ut laoreet. In placerat est ex, vel tempor nulla semper eu. Praesent id sodales mi. Nunc et molestie risus, vel consectetur nisi. Nullam mattis augue eget sapien feugiat iaculis. Curabitur gravida nisl a neque placerat, non fringilla ante consectetur. Morbi imperdiet lacus efficitur dictum volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut ultrices leo felis, vel commodo sapien faucibus eget.
                    </div>
                    <div class="dynamic-guide__panel">
                        Sed porttitor euismod tellus in fringilla. Praesent et magna malesuada dolor feugiat accumsan. Fusce bibendum tortor ac nisi aliquet gravida. Cras eu nibh eget turpis malesuada malesuada id at arcu. Proin ac sapien ante. Quisque gravida ipsum non orci finibus, eget dignissim erat vestibulum. Pellentesque ut molestie elit. Aliquam imperdiet vitae mi at egestas. Phasellus commodo ac leo eu egestas. Nam gravida vehicula arcu, nec tempus urna dapibus sit amet.
                    </div>
                    <div class="dynamic-guide__panel">
                        Cras sit amet sem nibh. Quisque pulvinar orci nec nulla pretium fermentum. Aliquam at justo sapien. Donec et mauris nec urna congue commodo eget sed magna. Curabitur et dui eget nisl posuere laoreet sed at metus. Sed sit amet felis luctus enim condimentum maximus et sagittis libero. Sed a lacinia diam. Proin eget tortor ultrices, dictum risus at, bibendum dui. Duis tincidunt vel quam a dapibus. Nullam dolor mauris, tempus sit amet lacus vitae, congue hendrerit dui. Aliquam suscipit leo mi, vel mattis nisl sodales vitae. Donec tempus volutpat facilisis. Pellentesque magna nulla, hendrerit eu semper sed, posuere id quam. Suspendisse cursus, nisi id tempor interdum, purus arcu posuere quam, in pharetra turpis arcu id metus. Mauris vitae nibh ex. Phasellus molestie suscipit neque, quis blandit libero placerat ac.
                    </div>
                    <div class="dynamic-guide__panel">
                        Suspendisse hendrerit feugiat massa, vitae blandit justo euismod a. Nunc non nulla et tellus efficitur maximus. Morbi quis arcu nunc. Sed dictum ipsum porta, lobortis lorem sit amet, viverra eros. Nam porta diam risus, et pharetra quam sagittis mattis. Phasellus sodales felis in leo iaculis ultrices. Morbi egestas, lacus quis volutpat varius, massa nisl tempor erat, eu venenatis nulla lorem sit amet mauris. Integer id quam luctus libero bibendum vestibulum nec ac elit. Duis id velit non nulla maximus euismod. Morbi mollis urna turpis. Ut consectetur pulvinar porttitor. Nunc et nisl maximus, sodales nulla ut, euismod orci. Aliquam condimentum, elit id condimentum tincidunt, ante augue ornare massa, eget accumsan leo ipsum vel metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </div>
                </div>
                <div class="dynamic-guide__right">
                    <div class="dynamic-guide__panel">
                        Sed porttitor euismod tellus in fringilla. Praesent et magna malesuada dolor feugiat accumsan. Fusce bibendum tortor ac nisi aliquet gravida. Cras eu nibh eget turpis malesuada malesuada id at arcu.
                    </div>
                    <div class="dynamic-guide__panel">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit, velit at lacinia feugiat, est lorem sollicitudin tortor, sit amet luctus nulla velit vel tortor. Cras placerat nec eros a vestibulum. Duis vitae elit eu ipsum iaculis pretium. Integer non aliquam arcu, quis scelerisque libero. Nulla interdum lacinia feugiat. Curabitur at quam urna. Nullam luctus lacus sit amet eros eleifend, a molestie tortor egestas. Integer fermentum rutrum volutpat. Fusce sodales tincidunt nibh. Morbi mollis aliquam ante, ut vehicula ante congue eget.
                    </div>
                    <div class="dynamic-guide__panel">
                        Suspendisse hendrerit feugiat massa, vitae blandit justo euismod a. Nunc non nulla et tellus efficitur maximus.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block feedback_reporter %}
    {% if not csat_complete %}
        <section id="hcsat_section"
                 class="great-bg-white clearfix govuk-!-margin-top-0 govuk-!-padding-bottom-6 great-inline-feedback__container">
            <div class="container">
                <div class="great-container ">
                    <!-- djlint:off T027-->
                    {% include 'core/includes/hcsat.html' with hcsat_form=hcsat_form hcsat_stage=hcsat_form_stage leading_text="To help us improve our service, we'd like to know more about your experience today. It will only take a minute to complete." %}
                    <!-- djlint:on -->
                </div>
            </div>
        </section>
    {% endif %}
    {{ block.super }}
{% endblock %}
