{% extends './base.html' %}
{% load static %}
{% block head_title %}Expand your business in the UK {{ block.super }}{% endblock %}
{% block meta_title %}Expand your business in the UK {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Expand your business in the UK</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <img src="{% static 'images/expand-your-business-puzzle.png' %}"
                     alt="Puzzle piece showing UK flag"
                     class="home-image">
                <h2 class="govuk-heading-m govuk-!-margin-top-3">Your free, personalised guide</h2>
                <p class="govuk-body ">
                    Whatever your size and type of business, our free online guide can help you set up and grow in the UK.
                </p>
                <p class="govuk-body">It's a 2-minute step by step process to get your guide.</p>
                <h3 class="govuk-heading-s">What's in the guide</h3>
                <p class="govuk-body">
                    The guide takes you through the practical steps of setting up a business like opening a bank account and applying for a visa, in an easy checklist format.
                </p>
                <p class="govuk-body">It also covers:</p>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>UK funding, grants and incentives</li>
                    <li>UK events and networks relevant to your sector</li>
                    <li>finding the right location and staff for your business</li>
                    <li>how to connect with experts to support your UK expansion</li>
                    <li>exporting from the UK using government export support and free trade agreements</li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-inset-text">Tell us a little bit about your business to tailor your guide.</div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if not eyb_user %}
                    <a href="{% url 'international_online_offer:signup' %}"
                       role="button"
                       draggable="false"
                       class="govuk-button govuk-button--start"
                       data-module="govuk-button">
                        Sign up
                        <svg class="govuk-button__start-icon"
                             xmlns="http://www.w3.org/2000/svg"
                             width="17.5"
                             height="19"
                             viewBox="0 0 33 40"
                             aria-hidden="true"
                             focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg>
                    </a>
                    <p class="govuk-body-m">
                        Already have an account? <a href="{% url 'international_online_offer:login' %}"
    class="govuk-link">Sign in</a>
                    </p>
                {% else %}
                    <a href="{% if user_completed_triage %}{{ '/international/expand-your-business-in-the-uk/guide' }}{% else %}{% url 'international_online_offer:business-details' %}{% endif %}"
                       role="button"
                       draggable="false"
                       class="govuk-button govuk-button--start"
                       data-module="govuk-button">
                        Continue
                        <svg class="govuk-button__start-icon"
                             xmlns="http://www.w3.org/2000/svg"
                             width="17.5"
                             height="19"
                             viewBox="0 0 33 40"
                             aria-hidden="true"
                             focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Personal data</h3>
                <p class="govuk-body">
                    The Department for Business and Trade is committed to protecting the privacy and security of your information. <a class="govuk-link"
    id="terms-and-conditions"
    href="{{ header_footer_urls.terms_and_conditions }}">View our website's Terms and conditions</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
