{% extends './base.html' %}
{% load static %}
{% block head_title %}Expand your business in the UK {{ block.super }}{% endblock %}
{% block meta_title %}Expand your business in the UK {{ block.super }}{% endblock %}
{% block content %}
    <section class="eyb-home-section">
        <div class="great-container">
            <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-6">
                <div class="govuk-grid-column-one-half-from-desktop govuk-!-padding-bottom-4">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">How to successfully expand your business and set up in the UK</h1>
                    <p class="govuk-body-l">
                        Tell us about your business and we'll give you the official information and data you need, in one place
                    </p>
                    <a href="{% url 'international_online_offer:signup' %}"
                       role="button"
                       draggable="false"
                       class="great-ds-button great-ds-button--cta"
                       data-module="great-ds-button">
                        Get started
                        {% if not request.user.is_authenticated %}by signing up{% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="19"
                             height="19"
                             viewBox="0 0 17 17"
                             fill="currentColor"
                             class="great-ds-icon--svg">
                            <path d="M7.15792 2.6001L7.85005 1.90746C8.14311 1.61418 8.617 1.61418 8.90694 1.90746L14.9677 7.9696C15.2608 8.26288 15.2608 8.73712 14.9677 9.02728L8.90694 15.0925C8.61388 15.3858 8.13999 15.3858 7.85005 15.0925L7.15792 14.3999C6.86175 14.1035 6.86798 13.6199 7.17039 13.3297L10.9272 9.748H1.96699C1.55234 9.748 1.21875 9.41416 1.21875 8.9992V8.0008C1.21875 7.58584 1.55234 7.252 1.96699 7.252H10.9272L7.17039 3.67025C6.86486 3.38009 6.85863 2.8965 7.15792 2.6001Z" />
                        </svg>
                    </a>
                    {% if not request.user.is_authenticated %}
                        <p class="govuk-body">
                            Already started? <a href="{% url 'international_online_offer:login' %}"
    class="govuk-link govuk-link--no-visited-state">Sign in</a>
                        </p>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-half great-display-from-desktop">
                    <div class="eyb-preview-image"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="eyb-guidance-section">
        <div class="great-container">
            <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">
                        {% if request.user.is_authenticated %}
                            Practical online guidance
                        {% else %}
                            Sign up for practical online guidance
                        {% endif %}
                    </h2>
                    <p class="govuk-body">Helping you make the right decisions about your expansion</p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half-from-desktop">
                            <div class="govuk-grid-row">
                                <ul class="govuk-list govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                                    <li class="govuk-grid-column-one-third-from-desktop great-display-flex great-flex-column-from-desktop great-gap-5-15 great-align-items-center">
                                        <div class="eyb-guidance-image eyb-planning-image"
                                             alt="Company structure icon"></div>
                                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-text-align-centre">Company structure in the UK</p>
                                    </li>
                                    <li class="govuk-grid-column-one-third-from-desktop great-display-flex great-flex-column-from-desktop great-gap-5-15 great-align-items-center">
                                        <div class="eyb-guidance-image eyb-funding-image" alt="Funding icon"></div>
                                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-text-align-centre">Funding and incentives</p>
                                    </li>
                                    <li class="govuk-grid-column-one-third-from-desktop great-display-flex great-flex-column-from-desktop great-gap-5-15 great-align-items-center">
                                        <div class="eyb-guidance-image eyb-visa-image" alt="UK visas icon"></div>
                                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-text-align-centre">Visas</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-half-from-desktop">
                            <div class="govuk-grid-row">
                                <ul class="govuk-list govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                                    <li class="govuk-grid-column-one-third-from-desktop great-display-flex great-flex-column-from-desktop great-gap-5-15 great-align-items-center">
                                        <div class="eyb-guidance-image eyb-banking-image" alt="Banking icon"></div>
                                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-text-align-centre">Bank accounts</p>
                                    </li>
                                    <li class="govuk-grid-column-one-third-from-desktop great-display-flex great-flex-column-from-desktop great-gap-5-15 great-align-items-center">
                                        <div class="eyb-guidance-image eyb-tax-image" alt="Tax icon"></div>
                                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-text-align-centre">Tax</p>
                                    </li>
                                    <li class="govuk-grid-column-one-third-from-desktop great-display-flex great-flex-column-from-desktop great-gap-5-15 great-align-items-center">
                                        <div class="eyb-guidance-image eyb-hiring-image" alt="Hiring icon"></div>
                                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-text-align-centre">Hiring people</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="eyb-insights-section">
        <div class="great-container eyb-map-image-background">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half-from-desktop govuk-!-padding-top-8 govuk-!-padding-bottom-4">
                    <h2 class="govuk-heading-l">
                        {% if request.user.is_authenticated %}
                            Insights and data
                        {% else %}
                            Sign up to get insights and data
                        {% endif %}
                    </h2>
                    <ul class="govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                        <li class="great-display-flex great-align-items-center great-gap govuk-!-margin-bottom-4">
                            <div class="eyb-insights-image eyb-salary-image" alt="Salary icon"></div>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-3">
                                Assess the cost of hiring staff for your industry, across the UK
                            </p>
                        </li>
                        <li class="great-display-flex great-align-items-center great-gap govuk-!-margin-bottom-4">
                            <div class="eyb-insights-image eyb-shop-image" alt="Shop icon"></div>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-3">
                                Compare prices for renting shops, offices or warehouses, by region
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="eyb-connections-section">
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-6">
                    <h2 class="govuk-heading-l">
                        {% if request.user.is_authenticated %}
                            Make connections
                        {% else %}
                            Sign up to make connections
                        {% endif %}
                    </h2>
                    <ul class="govuk-list">
                        <li class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
                            <div class="eyb-connection-image eyb-networking-image"
                                 alt="Image of a person or potential connection"></div>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-text-align-centre govuk-!-margin-bottom-0">
                                Browse our lists of UK trade associations and get networking
                            </p>
                        </li>
                        <li class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
                            <div class="eyb-connection-image eyb-trade-image"
                                 alt="Image of a person or potential connection"></div>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-text-align-centre govuk-!-margin-bottom-0">
                                Add hand-picked trade events to your calendar
                            </p>
                        </li>
                        <li class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
                            <div class="eyb-connection-image eyb-expert-image"
                                 alt="Image of a person or potential connection"></div>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-text-align-centre govuk-!-margin-bottom-0">
                                Find UK experts in finance, law, and tax in our business directory
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="eyb-how-it-works-section">
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-6">
                    <h2 class="govuk-heading-l">How it works</h2>
                    <ol class="govuk-list govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                        <li class="govuk-grid-column-one-third govuk-!-padding-0 govuk-!-margin-bottom-4">
                            <div class="govuk-grid-column-full great-display-flex great-gap great-align-items-top govuk-!-padding-0">
                                <div class="govuk-body eyb-huge-green-text eyb-number-forced-width">1</div>
                                <div>
                                    <h3 class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-3">Sign up</h3>
                                    <p class="govuk-body govuk-!-margin-bottom-0">Enter an email address to save your progress</p>
                                </div>
                            </div>
                        </li>
                        <li class="govuk-grid-column-one-third govuk-!-padding-0 govuk-!-margin-bottom-4">
                            <div class="govuk-grid-column-full great-display-flex great-gap great-align-items-top govuk-!-padding-0">
                                <div class="govuk-body eyb-huge-green-text">2</div>
                                <div>
                                    <h3 class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-3">Tell us a bit about your business</h3>
                                    <p class="govuk-body govuk-!-margin-bottom-0">Include your sector and basic contact details</p>
                                </div>
                            </div>
                        </li>
                        <li class="govuk-grid-column-one-third govuk-!-padding-0 govuk-!-margin-bottom-4">
                            <div class="govuk-grid-column-full great-display-flex great-gap great-align-items-top govuk-!-padding-0">
                                <div class="govuk-body eyb-huge-green-text">3</div>
                                <div>
                                    <h3 class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-3">View your guidance and data</h3>
                                    <p class="govuk-body govuk-!-margin-bottom-0">
                                        It's based on what you've told us, and you can refer to and shape it as your plans evolve
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="light-blue-background">
        <div class="great-container">
            <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-bottom-6">
                <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-4">
                    <h2 class="govuk-heading-l">Instantly access the official information and data you need, in one place</h2>
                    <a href="{% url 'international_online_offer:signup' %}"
                       role="button"
                       draggable="false"
                       class="great-ds-button great-ds-button--cta"
                       data-module="great-ds-button">
                        Get started
                        {% if not request.user.is_authenticated %}by signing up{% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="19"
                             height="19"
                             viewBox="0 0 17 17"
                             fill="currentColor"
                             class="great-ds-icon--svg">
                            <path d="M7.15792 2.6001L7.85005 1.90746C8.14311 1.61418 8.617 1.61418 8.90694 1.90746L14.9677 7.9696C15.2608 8.26288 15.2608 8.73712 14.9677 9.02728L8.90694 15.0925C8.61388 15.3858 8.13999 15.3858 7.85005 15.0925L7.15792 14.3999C6.86175 14.1035 6.86798 13.6199 7.17039 13.3297L10.9272 9.748H1.96699C1.55234 9.748 1.21875 9.41416 1.21875 8.9992V8.0008C1.21875 7.58584 1.55234 7.252 1.96699 7.252H10.9272L7.17039 3.67025C6.86486 3.38009 6.85863 2.8965 7.15792 2.6001Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
