{% extends './base.html' %}
{% load static %}
{% block head_title %}Sign in {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sign in</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-body-m">
                    Don't have an account? <a href="{% url 'international_online_offer:signup' %}"
    class="govuk-link">Sign up</a>
                </h2>
            </div>
          </div>
          {% endfor %}
          <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-top-1" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="showHidePassword" name="showHidePassword" type="checkbox" value="1" onclick="document.getElementById('id_password').type == 'password'? document.getElementById('id_password').type = 'text': document.getElementById('id_password').type = 'password'">
              <label class="govuk-label govuk-checkboxes__label" for="showHidePassword">
                Show password
              </label>
            </div>
          </div>
          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-full">
              <p><a class="govuk-link" href="{{ javascript_components.password_reset_url }}">Forgotten password?</a></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
