{% extends './base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load sector_filters %}
{% load static %}
{% block head_title %}Trade associations {{ block.super }}{% endblock %}
{% block meta_title %}Trade associations {{ block.super }}{% endblock %}
{% block head_css %}{{ block.super }}{% endblock %}
{% block content %}
    <div class="great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Trade associations</h1>
                <p class="govuk-body">Joining a UK trade association can be a useful way to find new clients and form partnerships.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">UK trade associations for the {{ triage_data.sector|get_sector_display|lower }} sector</h2>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            {% if all_trade_associations %}
                <div class="govuk-grid-column-full">
                    {% for ass in all_trade_associations %}
                        <div class="article-list-item">
                            {% if request.user.is_authenticated %}
                                <a class="article-list-item-a"
                                   rel="noopener noreferrer"
                                   target="_blank"
                                   rel="noopener noreferrer"
                                   href="{{ ass.website_link }}">
                                {% else %}
                                    <a class="article-list-item-a"
                                       href="{% url 'international_online_offer:signup' %}">
                                    {% endif %}
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h3 class="govuk-heading-m article-list-item-title trade-show-link">{{ ass.association_name }}</h3>
                                            <p class="govuk-body article-list-item-teaser">{{ ass.brief_description }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <nav class="govuk-pagination" role="navigation" aria-label="results">
                            {% if all_trade_associations.has_previous %}
                                <div class="govuk-pagination__prev">
                                    <a class="govuk-link govuk-pagination__link"
                                       href="?page={{ all_trade_associations.previous_page_number }}"
                                       rel="prev">
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev"
                                             xmlns="http://www.w3.org/2000/svg"
                                             height="13"
                                             width="15"
                                             aria-hidden="true"
                                             focusable="false"
                                             viewBox="0 0 15 13">
                                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                                            </path>
                                        </svg>
                                        <span class="govuk-pagination__link-title">Previous</span></a>
                                </div>
                            {% endif %}
                            <ul class="govuk-pagination__list">
                                {% for i in all_trade_associations.paginator.page_range %}
                                    {% if all_trade_associations.number == i %}
                                        <li class="govuk-pagination__item govuk-pagination__item--current">
                                            <a class="govuk-link govuk-pagination__link"
                                               href="?page={{ i }}"
                                               aria-label="Page {{ i }}"
                                               aria-current="page">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li class="govuk-pagination__item">
                                            <a class="govuk-link govuk-pagination__link"
                                               href="?page={{ i }}"
                                               aria-label="Page {{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% if all_trade_associations.has_next %}
                                <div class="govuk-pagination__next">
                                <a class="govuk-link govuk-pagination__link"
                                   href="?page={{ all_trade_associations.next_page_number }}"
                                   rel="next"> <span class="govuk-pagination__link-title">Next</span>
                                <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                                     xmlns="http://www.w3.org/2000/svg"
                                     height="13"
                                     width="15"
                                     aria-hidden="true"
                                     focusable="false"
                                     viewBox="0 0 15 13">
                                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    {% endif %}
                </nav>
            </div>
        {% else %}
            <div class="govuk-grid-column-full">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        There are currently no related trade associations
                    </strong>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
