@import 'helpers/colours';
@import '@src/stylesheets/_WizardStep';


.great-signup-wizard-step-1 {

    .great-synopsis {
        font-size: 19px;
        margin-bottom: 30px;
    }

    .great-terms {
        fontSize: 19px;
        margin-top: 10px;
    }
}

.great-field-input {
    margin-bottom: 20px;
}
