{% load wagtailimages_tags %}
{% load static %}
{% image hero_image original as rendition %}
{% image page.hero_mobile_image original as mobile_image %}
<style>
  .great-hero {
    background-image: url({{ mobile_image.url }});
  }

  @media (min-width: 641px) {
    .great-hero {
      background-image: url({{ rendition.url }});
    }
  }
</style>
<section class="great-hero {% if not hero_image %}great-hero-no-image{% endif %}"
         id="hero">
    <div class="govuk-width-container great-container">
        <div class="great-hero__container govuk-grid-row">
            <div class="great-hero__text govuk-grid-column-one-half">
                <h1 class="govuk-heading-l great-hero-heading">{{ heading }}</h1>
                <p class="govuk-body-m great-hero-subheading">{{ subtitle }}</p>
            </div>
            <div class="govuk-grid-column-one-half"></div>
        </div>
    </div>
</section>
<section class="great-hero-cards govuk-!-padding-bottom-6">
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row great-card-row">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with content="We can guide you every step of the way, to set up and grow your business in the UK" title="How to expand your business" url="/international/expand-your-business-in-the-uk/" show_title_link=True heading_class="govuk-heading-m" content_class="govuk-body" classes="international-card--cta" %}
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with content="Explore a range of property development and infrastructure projects to suit your investment" title="Find investment opportunities" url="/international/investment/" show_title_link=True heading_class="govuk-heading-m" content_class="govuk-body" classes="international-card--cta" %}
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with content="Get introduced to UK businesses who can partner with your business to achieve success" title="Buy UK products and services" url="/international/content/trade/how-we-help-you-buy/" show_title_link=True heading_class="govuk-heading-m" content_class="govuk-body" classes="international-card--cta" %}
            </div>
        </div>
    </div>
</section>
