{% load wagtailimages_tags %}
{% load static %}
{% image hero_image original as rendition %}
{% image page.hero_mobile_image original as mobile_image %}
<style>
    .great-hero {
        background-image: url({{ mobile_image.url }});
    }

    @media (min-width: 641px) {
        .great-hero {
            background-image: url({{ rendition.url }});
        }
    }

    .great-hero-no-image {
        background-image: url({% static 'images/international-hero-1920x420.jpeg' %});
    }
</style>
<section class="great-hero {% if not hero_image %}great-hero-no-image{% endif %}"
         id="hero">
    <div class="great-container">
        <div class="great-hero__container govuk-grid-row">
            <div class="great-hero__text govuk-grid-column-one-half">
                <h1 class="govuk-heading-l great-hero-heading">{{ heading }}</h1>
                <p class="govuk-body-m great-hero-subheading">{{ subtitle }}</p>
            </div>
            <div class="govuk-grid-column-one-half"></div>
        </div>
    </div>
</section>
<section class="great-hero-cards govuk-!-padding-bottom-6">
    <div class="great-container">
        <div class="govuk-grid-row great-card-row">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with content="Get the guidance and insights to help you set up and grow your business in the UK" data_attr_title='How to expand your business' data_attr_location='International homepage' title='How to expand your business' url="/international/expand-your-business-in-the-uk/" show_title_link=True heading_class="govuk-heading-m" content_class="govuk-body" classes="great-international-card--cta" heading_level="h2" %}
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with content="Explore a range of foreign direct investment projects to suit your needs, by sector and location" data_attr_title='Find investment opportunities' data_attr_location='International homepage' title='Find investment opportunities' url="/international/investment/" show_title_link=True heading_class="govuk-heading-m" content_class="govuk-body" classes="great-international-card--cta" heading_level="h2" %}
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-6">
                {% include 'components/great/card.html' with content="Find UK suppliers that can partner with your business to achieve success" data_attr_title='Buy UK products and services' data_attr_location='International homepage' title='Buy UK products and services' url="/international/buy-from-the-uk/" show_title_link=True heading_class="govuk-heading-m" content_class="govuk-body" classes="great-international-card--cta" heading_level="h2" %}
            </div>
        </div>
    </div>
</section>
