{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment support directory {{ block.super }}{% endblock %}
{% block meta_title %}Investment support directory {{ block.super }}{% endblock %}
{% block content %}
    {% include './includes/landing_hero.html' %}
    <section class="light-blue-background govuk-!-padding-top-6 govuk-!-padding-bottom-3">
        <div class="great-container">
            <form action="{% url 'international_investment_support_directory:find-a-specialist' %}"
                  method="get">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        <label for="q" class="govuk-label govuk-label--s">Search for the skills or services you need</label>
                        <input type="search" class="govuk-input" name="q" id="q">
                    </input>
                </div>
                <div class="govuk-grid-column-one-third-from-desktop">
                    <input class="govuk-visually-hidden"
                           type="hidden"
                           name="page"
                           id="page"
                           value="1">
                </input>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <button type="submit"
                        class="govuk-button govuk-!-margin-top-4"
                        data-module="govuk-button">Find specialists</button>
            </div>
        </div>
    </form>
</div>
</section>
<section class="investment-support-directory-home-info-section">
    <div class="great-container">
        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-7">
            <div class="govuk-grid-column-one-half-from-desktop">
                <h2 class="govuk-heading-l">UK Investment Support Directory</h2>
                <h3 class="govuk-heading-m">Search for experienced advice</h3>
                <p class="govuk-body">
                    The UK Investment Support Directory is a collection of companies that have skills and experience in helping overseas businesses set up or expand in the UK.
                </p>
                <p class="govuk-body">
                    Membership of the Directory does not represent an association with The Department for Business and Trade (DBT) and being listed in the Directory does not create legal relations between the member and DBT.
                </p>
                <h3 class="govuk-heading-m">Find the right help</h3>
                <p class="govuk-body">
                    To find a specialist, search the directory by entering the skill or service you are looking for in the search bar. You can also filter your search results by expertise in specific services, industry or by regional expertise.
                </p>
                <h3 class="govuk-heading-m">Get in touch</h3>
                <p class="govuk-body govuk-!-margin-bottom-5">
                    Contact your chosen specialist by clicking on 'Contact company' on their profile page. You will get your first hour of consultation for free and will also be connected to DBT for further support.
                </p>
            </div>
            <div class="govuk-grid-column-one-half-from-desktop">
                <div class="investment-support-directory-preview-image"></div>
            </div>
        </div>
    </div>
</section>
<section class="light-blue-background">
    <div class="great-container govuk-!-padding-bottom-8">
        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-6">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">How UK businesses can help</h2>
                <p class="govuk-body" id="create-business-profile-label-bottom">
                    Search for products and services that can help your business set up or expand in the UK.
                </p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Financial</h3>
                <ul>
                    {% for choice in CHOICES_FINANCIAL %}
                        <li>
                            <a class="govuk-link"
                               href="{% url 'international_investment_support_directory:find-a-specialist' %}?q=&expertise_products_services_financial={{ choice.split|join:'+' }}&page=1">{{ choice }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Management consulting</h3>
                <ul>
                    {% for choice in CHOICES_MANAGEMENT_CONSULTING %}
                        <li>
                            <a class="govuk-link"
                               href="{% url 'international_investment_support_directory:find-a-specialist' %}?q=&expertise_products_services_management={{ choice.split|join:'+' }}&page=1">{{ choice }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Human resources and recruitment</h3>
                <ul>
                    {% for choice in CHOICES_HUMAN_RESOURCES %}
                        <li>
                            <a class="govuk-link"
                               href="{% url 'international_investment_support_directory:find-a-specialist' %}?q=&expertise_products_services_human_resources={{ choice.split|join:'-' }}&page=1">{{ choice }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-8">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Legal</h3>
                <ul>
                    {% for choice in CHOICES_LEGAL %}
                        <li>
                            <a class="govuk-link"
                               href="{% url 'international_investment_support_directory:find-a-specialist' %}?q=&expertise_products_services_legal={{ choice.split|join:'+' }}&page=1">{{ choice }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Publicity and communications</h3>
                <ul>
                    {% for choice in CHOICES_PUBLICITY %}
                        <li>
                            <a class="govuk-link"
                               href="{% url 'international_investment_support_directory:find-a-specialist' %}?q=&expertise_products_services_publicity={{ choice.split|join:'+' }}&page=1">{{ choice }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Business support</h3>
                <ul>
                    {% for choice in CHOICES_BUSINESS_SUPPORT %}
                        <li>
                            <a class="govuk-link"
                               href="{% url 'international_investment_support_directory:find-a-specialist' %}?q=&expertise_products_services_business_support={{ choice.split|join:'+' }}&page=1">{{ choice }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
