$great-white: #fff;
$great-blue: #006ccc;
$great-light-blue: #EEF2F6;
$great-darker-grey: #646464;
$great-grey: #666;
$great-light-grey: #7C7C7C;
$great-lighter-grey: #eee;
$great-dark-grey: #212427;
$great-yellow: #ffbf47;
$great-light-yellow: #f1f77a;
$great-hr-blue: #d6e0e5;
$great-green: #0D8D98;
