.great-full-width-header-image {
    height: 200px;
    background-position: 50%;
    background-size: cover;

    @include govuk-media-query($from: tablet) {
        height: 345px;
    }
}

.great-floating-right-column {
    @include govuk-media-query($from: tablet) {
        position: relative;
    }

    > div:last-of-type {
        @include govuk-media-query($from: tablet) {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.great-filters {
    &.filters {
        > p {
            @include govuk-media-query($from: tablet) {
                margin-bottom: 10px;
            }
        }

        &.mobile-filters {
            > p {
                @include govuk-media-query($until: tablet) {
                    margin-bottom: 10px;
                }

                display: block;
            }

            p, label {
                font-size: 24px;
            }

            .multiple-choice {
                margin-bottom: 12px;

                label {
                    @include govuk-media-query($until: tablet) {
                        font-size: 20px;
                        padding-left: 10px;
                    }
                }

                [type=radio] + label {
                    &:before {
                        width: 30px;
                        height: 30px;
                    }

                    &:after {
                        top: 7px;
                        left: 7px;
                    }
                }
            }

            .update {
                font-size: 16px;
            }
        }

        .mobile-filter-toggle {
            @include govuk-media-query($until: tablet) {
                font-size: 16px;
            }
        }

        .filter-section {
            > input {
                &:checked {
                    ~ label {
                        &.arrows-left {
                            &:before {
                                transform: rotate(225deg);
                                margin: 7px 10px 0 0;
                            }
                        }
                    }
                }
            }

            > label {
                margin-bottom: 0;
                padding: 8px 5px 8px 2px;

                &.arrows-left {
                    &:before {
                        transform: rotate(225deg);
                        margin: 0 10px 0 0;
                    }
                }
            }

            .options {
                overflow-y: auto;
            }

            &:last-child {
                border-bottom: 1px solid $great-dark-grey;
            }
        }

        .filter-section-toggle {
            &:focus {
                ~ label {
                    outline: 3px solid $great-yellow;
                    outline-offset: 0;
                }
            }
        }

        &.event-filters {
            min-width: 150px;
        }
    }
}

.great-card {
    a {
        text-decoration: none;
    }

    img {
        margin: 0;
        width: 100%;
        height: auto;
    }

    h4 {
        font-size: 28px;
    }

    span {
        display: block;
        font-size: 16px;

        @include govuk-media-query($from: tablet) {
            min-height: 22px;
        }
    }
}

.great-hr-blue {
    background: $great-hr-blue;
    border: 0;
    display: block;
    height: 4px;
    width: 100%;
}

.great-badge {
    background: $great-green;
    color: $great-white;
    display: inline-block;
    font-size: 18px;
    font-family: $great-font-bold;
    padding: 5px 20px 4px 15px;
    line-height: 20px;

    i {
        font-size: inherit;
        display: inline-block;
        margin-right: 7px;
        position: relative;
        top: 1px;
    }
}

.great-info-text {
    @include govuk-media-query($until: tablet) {
        display: flex;
    }

    i {
        @include govuk-media-query($until: tablet) {
            margin-top: 2px;
        }

        position: relative;
        bottom: -3px;
        margin-right: 10px;
    }

    span {
        @include govuk-media-query($until: tablet) {
            line-height: 1;
        }
    }
}

.great-time-and-duration {
    @include govuk-media-query($from: tablet) {
        display: flex;
    }

    span {
        display: block;

        @include govuk-media-query($from: tablet) {
            display: list-item;
            margin-left: 25px;
        }
    }
}

.great-text-input {
    height: 40px;
    padding-left: 15px;

    &::placeholder {
        color: $great-dark-grey;
    }

    @include govuk-media-query($from: tablet) {
        height: 50px;
    }
}

.great-text-input--search,
.great-text-select--arrow {
    &::after {
        display: inline-block;
        content: "";
        background-repeat: no-repeat;
        background-position: 50%;
        background-color: initial;
        border: 0;
        position: absolute;
        pointer-events: none;
    }
}

.great-text-input--search {
    position: relative;

    &::after {
        height: 35px;
        width: 51px;
        background-image: url(/static/images/search-black.svg);
        background-size: 20px;
        top: 2px;
        right: 2px;

        @include govuk-media-query($from: tablet) {
            background-size: 24px;
            height: 45px;
            width: 60px;
        }
    }
}

.great-text-select--arrow {
    position: relative;

    &::after {
        height: 39px;
        width: 31px;
        background-image: url(/static/icons/arrow-black.svg);
        background-size: 15px;
        top: 2px;
        right: 17px;
        transform: rotate(90deg);

        @include govuk-media-query($from: tablet) {
            top: 7px;
        }
    }
}

.great {
    select.great-select {
        background: none;
        font-size: 16px;
        height: 40px;
        padding-left: 15px;
        width: 100%;

        &::placeholder {
            color: $great-dark-grey;
        }

        @include govuk-media-query($until: tablet) {
            padding-top: 8px;
        }

        @include govuk-media-query($from: tablet) {
            font-size: 18px;
            height: 50px;
        }
    }
}

.great-back-link {
    color: $govuk-brand-colour;
    padding-left: 20px;
    position: relative;

    &:visited {
        color: $govuk-brand-colour;
    }

    &::before {
        background-image: url(/static/icons/arrow.svg);
        background-size: 11px;
        background-repeat: no-repeat;
        background-position: 50%;
        position: absolute;
        display: inline-block;
        content: "";
        pointer-events: none;
        height: 20px;
        width: 12px;
        top: 3px;
        left: 0;
        transform: rotate(180deg);
    }
}
