@import '../fonts/typography.scss';

figure.great-blockquote {
  padding: 0;
  margin: 0;

  blockquote {
    display: flex;
    gap: 10px;
    margin: 0;
    position: relative;
    background-color: transparent;

    &:before {
      content: open-quote;
      font-size: 70px;
      $font-family: $header-font;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: close-quote;
      font-size: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    p {
      font-size: 24px;
      margin: 0;
      display: inline;
      margin-left: 30px;
    }
  }
}

.great-full-width-header-image {
  height: 200px;
  background-position: 50%;
  background-size: cover;

  @include govuk-media-query($from: tablet) {
    height: 345px;
  }
}

.great-floating-right-column {
  @include govuk-media-query($from: tablet) {
    position: relative;
  }

  > div:last-of-type {
    @include govuk-media-query($from: tablet) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.great-filters {
  &.filters {
    > p {
      @include govuk-media-query($from: tablet) {
        margin-bottom: 10px;
      }
    }

    label {
      font-size: 20px;
      line-height: 20px;

      &.filter-section-headings {
        font-size: 24px;
        line-height: 30px;
      }
    }

    &.mobile-filters {
      > p {
        @include govuk-media-query($until: tablet) {
          margin-bottom: 10px;
        }

        display: block;
      }

      p,
      label {
        font-size: 24px;
      }

      .multiple-choice {
        margin-bottom: 12px;

        label {
          @include govuk-media-query($until: tablet) {
            font-size: 20px;
            padding-left: 10px;
          }
        }

        [type='radio'] + label {
          &:before {
            width: 30px;
            height: 30px;
          }

          &:after {
            top: 7px;
            left: 7px;
          }
        }
      }

      .update {
        font-size: 16px;
      }
    }

    .mobile-filter-toggle {
      @include govuk-media-query($until: tablet) {
        font-size: 16px;
      }
    }

    .filter-section {
      > input {
        &:checked {
          ~ label {
            &.arrows-left {
              &:before {
                transform: rotate(225deg);
                margin: 10px 10px 0 0;
              }
            }
          }
        }
      }

      > label {
        margin-bottom: 0;
        padding: 9px 5px 8px 2px;

        &.arrows-left {
          &:before {
            transform: rotate(225deg);
            margin: 3px 10px 0 0;
          }
        }
      }

      .options {
        overflow-y: auto;
      }

      &:last-child {
        border-bottom: 1px solid $great-dark-grey;
      }
    }

    .filter-section-toggle {
      &:focus {
        ~ label {
          outline: 3px solid $great-yellow;
          outline-offset: 0;
        }
      }
    }

    &.event-filters {
      min-width: 150px;
    }
  }
}

.great-card {
  a {
    text-decoration: none;
  }

  img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  h4 {
    font-size: 28px;
  }

  span {
    display: block;
    font-size: 16px;

    @include govuk-media-query($from: tablet) {
      min-height: 22px;
    }
  }
}

.great-hr-blue {
  background: $great-hr-blue;
  border: 0;
  display: block;
  height: 4px;
  width: 100%;
}

.great-hr-blue--thin {
  height: 2px;
}

.great-badge {
  background: $govuk-success-colour;
  color: $great-white;
  display: inline-block;
  font-size: 18px;
  font-family: $great-font-bold;
  padding: 5px 20px 4px 15px;
  line-height: 20px;

  i {
    font-size: inherit;
    display: inline-block;
    margin-right: 7px;
    position: relative;
    top: 1px;
  }
}

.great-info-text {
  @include govuk-media-query($until: tablet) {
    display: flex;
  }

  i {
    @include govuk-media-query($until: tablet) {
      margin-top: 2px;
    }

    position: relative;
    bottom: -3px;
    margin-right: 10px;
  }

  span {
    @include govuk-media-query($until: tablet) {
      line-height: 1;
    }
  }
}

.great-time-and-duration {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }

  span {
    display: block;

    @include govuk-media-query($from: tablet) {
      display: list-item;
      margin-left: 25px;
    }
  }
}

.great-text-input {
  height: 44px;
  padding-left: 15px;

  &::placeholder {
    color: $great-dark-grey;
  }

  @include govuk-media-query($from: tablet) {
    height: 50px;
  }
}

.great-text-input--search,
.great-text-select--arrow {
  &::after {
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: initial;
    border: 0;
    position: absolute;
    pointer-events: none;
  }
}

.great-text-input--search {
  position: relative;

  &::after {
    height: 35px;
    width: 51px;
    background-image: url(/static/images/search-black.svg);
    background-size: 20px;
    top: 4px;
    right: 2px;

    @include govuk-media-query($from: tablet) {
      background-size: 24px;
      height: 45px;
      width: 60px;
      top: 2px;
    }
  }
}

.great-text-select--arrow {
  position: relative;

  &::after {
    height: 39px;
    width: 31px;
    background-image: url(/static/icons/arrow-black.svg);
    background-size: 12px;
    top: 2px;
    right: 10px;
    transform: rotate(90deg);

    @include govuk-media-query($from: tablet) {
      background-size: 15px;
      top: 7px;
      right: 17px;
    }
  }
}

.great-checkbox {
  .govuk-checkboxes__label:before {
    border-radius: 5px;
  }
}

.great-radios {
  .govuk-radios__label:before {
    background-color: $great-white;
  }
}

.great {
  select.great-select {
    appearance: none;
    background: $great-white;
    font-size: 16px;
    height: 44px;
    padding-left: 15px;
    width: 100%;

    &::placeholder {
      color: $great-dark-grey;
    }

    @include govuk-media-query($until: tablet) {
      padding-top: 8px;
    }

    @include govuk-media-query($from: tablet) {
      font-size: 18px;
      height: 50px;
    }
  }
}

.great-back-link {
  color: $govuk-brand-colour;
  padding-left: 20px;
  position: relative;

  &:visited {
    color: $govuk-brand-colour;
  }

  &::before {
    background-image: url(/static/icons/arrow.svg);
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    display: inline-block;
    content: '';
    pointer-events: none;
    height: 20px;
    width: 12px;
    top: 2px;
    left: 0;
    transform: rotate(180deg);
  }
}

.great-chevron-link {
  color: $govuk-brand-colour;
  padding-right: 20px;
  position: relative;

  &:visited {
    color: $govuk-brand-colour;
  }

  &::after {
    background-image: url(/static/icons/arrow.svg);
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    display: inline-block;
    content: '';
    pointer-events: none;
    height: 20px;
    width: 12px;
    top: 2px;
    right: 0;
  }
}

.great-link--internal,
.great-link--external {
  position: relative;
  padding-right: 25px;

  &::after {
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    display: inline-block;
    content: '';
    pointer-events: none;
  }
}

.great-link--internal {
  &::after {
    background-image: url(/static/icons/internal-link.svg);
    background-size: 8px;
    height: 20px;
    width: 26px;
    top: 3px;
    right: 0;
  }
}

.great-link--external {
  &::after {
    background-image: url(/static/icons/external-link.svg);
    background-size: 14px;
    height: 21px;
    width: 16px;
    top: 2px;
    right: 0;
  }
}

.great-link--download {
  position: relative;
  padding-left: 25px;

  &::before {
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    display: inline-block;
    content: '';
    pointer-events: none;
    background-image: url(/static/icons/download.svg);
    background-size: 15px;
    height: 20px;
    width: 26px;
    top: 3px;
    left: 0;
  }

  &:focus {
    &::before {
      background-image: url(/static/icons/download-black-background.svg);
    }
  }
}

.great-checkboxes-wrapper {
  max-height: 463px;
  overflow: auto;
  border-bottom: 2px solid $great-lighter-grey;
  margin-bottom: 40px;
  padding: 3px 0 0 3px;
}

.great-highlighted-text {
  background: $great-light-yellow;
  border-bottom: 3px solid black;
  display: inline-block;
  padding: 3px;
  margin: 0 5px 5px 0;
}

.great-details {
  .govuk-details__text {
    border-left-color: $great-blue;
    margin-top: 15px;
  }
}

.great-summary-list {
  position: relative;

  .govuk-summary-list__row {
    border-bottom: none;
  }

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    @include govuk-media-query($until: tablet) {
      margin-bottom: 0;
    }
  }

  .govuk-link {
    position: absolute;
    top: 6px;
    right: 0;
  }

  h2 {
    @include govuk-media-query($until: tablet) {
      font-size: 20px;
      margin-bottom: 30px;
      max-width: 80%;
    }
  }
}

.great-icon-tick-in-circle {
  position: relative;
  background: #75c67c;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  @include govuk-media-query($from: tablet) {
    width: 60px;
    height: 60px;
  }

  &::after {
    content: '';
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 12px;
    top: 21px;
    height: 19px;
    width: 7px;
    border-bottom: 5px solid $great-white;
    border-right: 5px solid $great-white;

    @include govuk-media-query($from: tablet) {
      left: 18px;
      top: 28px;
      height: 22px;
      width: 9px;
      border-bottom: 6px solid $great-white;
      border-right: 6px solid $great-white;
    }
  }
}

.great-notification-banner {
  border-color: $great-green;
  background-color: $great-green;
  margin-bottom: 20px;

  @include govuk-media-query($from: tablet) {
    margin-bottom: 30px;
  }

  .govuk-notification-banner__content {
    @include govuk-media-query($from: tablet) {
      padding: 40px 30px;
    }
  }
}

.great-header {
  > div {
    justify-content: space-between;
    align-items: end;

    @include govuk-media-query($from: tablet) {
      display: flex;
    }
  }

  nav {
    display: flex;
    align-items: end;
    position: relative;

    @include govuk-media-query($from: tablet) {
      height: 110px;
    }

    li {
      display: inherit;
    }

    a {
      color: $great-white;
      text-decoration: none;

      &:link,
      &:visited,
      &:focus,
      &:hover,
      &:focus:active {
        color: $great-white;
      }

      &:focus,
      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline-offset: -4px;
      }
    }
  }

  form {
    @include govuk-media-query($from: tablet) {
      margin-left: 20px;
    }
  }

  .great-header-menu-dropdown {
    top: 70px;
    margin-top: 0;

    @include govuk-media-query($from: tablet) {
      top: 90px;
    }
  }

  #magna-header-search-form {
    height: 50px;
  }

  .great-header-menu-items {
    li a {
      font-family: $great-font;
    }
  }
}

.great-header-logo {
  display: inline-block;
  width: 170px;

  img {
    width: 100%;
  }
}

.great-header-search {
  height: 60px;
}

.great-header-menu-button {
  background: none;
  border: 2px solid $great-white;
  color: $great-white;
  position: absolute;
  top: -50px;
  right: 0;

  @include govuk-media-query($from: tablet) {
    position: static;
  }

  span {
    top: 3px;
  }
}

.great-header-dropdown-item {
  position: relative;

  > button {
    background: none;
    border: none;
    color: $great-white;
    min-height: 60px;
    min-width: 120px;
    z-index: 1;

    i {
      padding-left: 5px;
      pointer-events: none;
    }

    &[aria-expanded='true'] {
      background: white;
      color: $great-dark-blue;

      i {
        transform: rotate(180deg);
        padding-left: 0;
        padding-right: 5px;
      }
    }
  }

  > div {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 10px 0px;
    position: absolute;
    top: 80px;
    left: 0;

    &[aria-hidden='true'] {
      display: none;
    }

    &[aria-hidden='false'] {
      background: $great-white;

      &::after {
        content: '';
        background: $great-white;
        width: 120px;
        height: 26px;
        display: block;
        position: absolute;
        top: -26px;
      }
    }

    ul {
      width: 160px;
      padding: 0 15px;

      li,
      a {
        color: $great-dark-blue;
        display: block;
      }

      li:first-of-type {
        border-bottom: 2px solid $great-light-blue;
      }

      a:link,
      a:visited,
      a:focus:active {
        color: $great-dark-blue;
      }

      a:focus,
      a:focus:active {
        padding: 0 15px;
        position: relative;
        width: calc(100% + 30px);
        left: -15px;
      }
    }
  }
}

.great-header-services {
  display: none;

  @media screen and (min-width: 1251px) {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.great-header-actions {
  position: absolute;
  top: -90px;
  right: -15px;

  @include govuk-media-query($from: tablet) {
    top: -5px;
  }
}

.great-tag {
  border-radius: 9999px;
  display: block;
  font-family: $great-font;
  max-width: 100px;
  text-align: center;
  background: $great-medium-blue;
  color: $great-white;
}

.great-tag--govuk {
  background: $great-darker-grey;
}

.great-tag--howTo {
  background: $great-purple;
}

.great-tag--tool {
  background: $great-red;
}

.great-tag--service {
  background: $great-dbt-green;
}

.great-topic-card {
  display: block;
  background: $great-white;
  text-decoration: none;
  width: calc(100%);

  @include govuk-media-query($from: tablet) {
    flex-basis: calc(33.333% - 30px);
  }

  &:focus:active {
    background: $great-white;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.great-topic-card--quarter-width {
  flex-basis: calc(25% - 30px);
  height: auto;
}

.great-topic-card--half-width {
  flex-basis: calc(50% - 30px);
  height: fit-content;

  @include govuk-media-query($from: desktop) {
    min-height: 270px;
  }
}

.great-topic-card--full-width {
  display: flex;
  position: relative;
  flex-basis: calc(100% - 30px);
  flex-direction: column;

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
    min-height: 280px;
  }

  > div {
    flex-basis: 50%;
  }

  img {
    @include govuk-media-query($from: desktop) {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: calc(50% - 30px);
    }
  }
}

.great-card-wrapper {
  flex-wrap: wrap;

  @include govuk-media-query($from: desktop) {
    margin-right: -30px;
  }
}

.great-related-items {
  flex-wrap: wrap;
}

.great-related-item {
  flex-basis: calc(33.333% - 20px);

  @include govuk-media-query($from: desktop) {
    margin-right: 30px;
  }

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.great-dep-triage-hero {
  position: relative;
  overflow: hidden;

  @include govuk-media-query($from: desktop) {
    min-height: 367px;
  }

  img {
    display: none;
    bottom: 0;
    position: absolute;
    right: 0;

    @include govuk-media-query($from: tablet) {
      display: block;
      max-width: 450px;
    }

    @media screen and (min-width: 851px) {
      max-width: 550px;
    }

    @media screen and (min-width: 1251px) {
      max-width: 642px;
    }
  }
}

.great-dep-tools-and-services {
  h2 {
    @include govuk-media-query($until: tablet) {
      border: none;
    }
  }
}
