$great-design-system-white: #fff;
$great-design-system-grey-border: #7d8e96;
$great-design-system-hover-primary-button: #003078;
$great-design-system-interface-mono-50: #7d8e96;
$great-design-system-govuk-light-grey: #f3f2f1;
$great-design-system-border-grey: #d9d9d9;
$great-design-system-purple: #a24a94;
$great-design-system-border-thin: #b4c7d9;
$great-design-system-govuk-yellow-highlight: #fd0;
$great-design-system-govuk-off-black: #0b0c0c;
$great-design-system-govuk-blue: #1d70b8;

.great-ds-border-bottom-grey {
  border-bottom: 1px solid $great-design-system-grey-border;
}

.great-ds-heading-link {
  &::after {
    top: 0.12rem;
  }
}

.great-ds-sign-up-promo {
  @include govuk-media-query($until: tablet) {
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
  }

  ul > li {
    display: flex;
  }
}

.great-ds-contact-us-promo {
  display: flex;

  @include govuk-media-query($until: tablet) {
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
    flex-direction: column;
    margin: -30px 0 -40px;
  }

  > * {
    flex-basis: fit-content;
  }
}

.great-ds-button-primary {
  border-bottom: 3px solid $great-design-system-hover-primary-button;

  > span {
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 5px;
  }

  &:hover,
  &:focus {
    path {
      fill: $great-design-system-govuk-blue;
    }
  }
}

.great-ds-text-grey {
  color: $great-design-system-interface-mono-50;
}

.great-ds-details {
  position: relative;

  summary {
    &::-webkit-details-marker {
      display: none;
    }

    display: block;
    margin-bottom: 0;

    &:hover {
      background-color: $great-design-system-govuk-light-grey;

      .govuk-accordion-nav__chevron {
        color: $great-design-system-govuk-off-black;
        background: $great-design-system-govuk-off-black;

        &::after {
          color: $great-design-system-govuk-light-grey;
        }
      }

      .govuk-accordion__section-toggle-text {
        color: $great-design-system-govuk-off-black;
      }
    }

    &:focus {
      outline: 0;

      .great-ds-details__status {
        outline: 3px solid rgba(0, 0, 0, 0);
        color: #212427;
        background-color: $great-design-system-govuk-yellow-highlight;
        box-shadow: 0 -2px $great-design-system-govuk-yellow-highlight,
          0 4px $great-design-system-govuk-off-black;
        text-decoration: none;
      }

      .govuk-accordion-nav__chevron {
        color: $great-design-system-govuk-off-black;
        background: $great-design-system-govuk-off-black;

        &::after {
          color: $great-design-system-govuk-light-grey;
        }
      }

      .govuk-accordion__section-toggle-text {
        color: $great-design-system-govuk-off-black;
      }
    }
  }

  .great-ds-details__status {
    display: inline-block;
    font-weight: 600;
  }

  .great-ds-details__status-text--open {
    display: none;
  }

  &[open] {
    summary {
      @include govuk-media-query($from: tablet) {
        margin-bottom: -10px;
      }

      ~ p {
        background: $great-design-system-white;
        position: relative;
      }
    }

    .great-ds-details__status-text--open {
      display: inline-block;
    }

    .great-ds-details__status-text--closed {
      display: none;
    }

    .govuk-accordion-nav__chevron {
      transform: rotate(0deg);
    }
  }
}

.great-ds-details--guided-journey {
  &[open] {
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}

.great-ds-link {
  display: inline-flex;
  text-decoration: none;

  i {
    font-size: 1.5rem;
    margin-right: 10px;

    @include govuk-media-query($from: tablet) {
      font-size: 2rem;
    }
  }

  span {
    font-weight: 600;
    text-decoration: underline;
  }

  &:focus {
    span {
      text-decoration: none;
    }
  }
}

.great-ds-hr {
  background: $great-design-system-border-grey;
  border: 0;
  display: block;
  height: 4px;
  width: 100%;
}

.great-ds-box-shadow {
  box-shadow: 0px 4px 10px 0px rgba(4, 4, 63, 0.1);
}

.great-ds-autocomplete-input {
  width: 200px;

  @include govuk-media-query($from: mobile) {
    width: 250px;
  }

  @include govuk-media-query($from: tablet) {
    width: 350px;
  }

  @include govuk-media-query($from: desktop) {
    width: 500px;
  }

  &::placeholder {
    color: $great-design-system-interface-mono-50;
  }
}

.great-ds-autocomplete-input__wrapper {
  position: relative;

  &::before {
    @include govuk-media-query($from: tablet) {
      content: '';
      display: inline-block;
      height: 18px;
      width: 18px;
      background-color: $great-design-system-white;
      background-image: url(/static/images/search-black.svg);
      background-size: 18px;
      top: 15px;
      left: 320px;
      position: absolute;
    }

    @include govuk-media-query($from: desktop) {
      left: 470px;
    }
  }
}

.great-ds-widget-container {
  position: relative;

  .great-ds-edit-control {
    background: $great-design-system-white;
    position: absolute;
    top: 30px;
    right: 30px;
    text-decoration: none;

    span {
      margin-right: 10px;
      text-decoration: underline;
    }
  }

  .great-ds-skip-control {
    span {
      line-height: 50px;
    }

    @include govuk-media-query($from: tablet) {
      margin-left: 30px;
    }
  }

  .great-checkbox .govuk-checkboxes__label:before {
    border-radius: 0;
  }
}

.great-ds-purple-text {
  color: $great-design-system-purple !important;
}

.great-ds-card-meta-label {
  color: $great-design-system-purple !important;
  display: flex;
  gap: 10px;
  font-size: 16px;

  @include govuk-media-query($from: desktop) {
    position: absolute;
    top: 15px;
    right: 0;
  }
}

.great-ds-market-and-flag {
  display: inline-flex;
  gap: 20px;

  img {
    width: 40px;
  }
}

.great-ds-market-widget {
  @include govuk-media-query($from: desktop) {
    display: flex;
  }

  .great-ds-market-widget__col {
    &:first-of-type {
      @include govuk-media-query($from: desktop) {
        flex-basis: 66.666%;
        padding-right: 60px;
      }
    }

    &:last-of-type {
      @include govuk-media-query($from: desktop) {
        flex-basis: 33.333%;
      }
    }
  }
}

.great-ds-category-panels {
  display: flex;
  flex-direction: column;

  @include govuk-media-query($from: tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  & > a {
    background: $great-design-system-white;
    border: 2px solid $great-design-system-border-thin;
    box-shadow: 0px 4px 10px 0px rgba(4, 4, 63, 0.1);
    color: $great-design-system-govuk-blue;
    font-weight: 600;
    flex-basis: calc(100% - 10px);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active:hover,
    &:focus:hover {
      background: $great-design-system-white;
      text-decoration: none;

      span {
        text-decoration: none;
      }
    }

    &:focus {
      outline: 0;

      span {
        outline: 3px solid rgba(0, 0, 0, 0);
        color: #212427 !important;
        background-color: govuk-colour('yellow');
        box-shadow: 0 -2px govuk-colour('yellow'), 0 4px #0b0c0c;
        text-decoration: none;
      }
    }

    > span {
      flex-basis: inherit;
    }

    @include govuk-media-query($from: tablet) {
      flex-basis: calc(50% - 10px);
      margin-bottom: 0;
    }
  }
}

.great-ds-category-panels--landing {
  gap: 20px;
  margin: 0;

  @include govuk-media-query($from: tablet) {
    gap: 30px;
  }

  > a {
    gap: 10px;
    margin-bottom: 0;

    @include govuk-media-query($from: tablet) {
      flex-basis: calc(50% - 20px);
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }

    @include govuk-media-query($from: desktop) {
      flex-basis: calc(33.333% - 20px);
    }
  }
}

.great-ds-card-panels {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;

  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }

  > .great-ds-card-panels__item {
    flex-basis: calc(50% - 10px);

    &:only-child {
      flex-basis: 100%;
    }
  }
}

.great-ds-card-panels--restricted {
  gap: 5px;

  > .great-ds-card-panels__item {
    flex-basis: calc(50% - 2.5px);
  }
}

.great-ds-side-note {
  @media only screen and (min-width: 961px) {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35%;
  }
}

.great-ds-info-pane {
  display: flex;
  gap: 20px;
  flex-direction: column;

  i {
    color: $great-design-system-govuk-blue;
    font-size: 36px;
  }

  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }
}

.great-ds-make-or-do {
  position: relative;
  overflow: hidden;

  img {
    display: none;

    @media only screen and (min-width: 1300px) {
      display: block;
      position: absolute;
      bottom: 0;
      right: -35%;
      height: 100%;
    }
  }
}

.great-ds-make-or-do--homepage {
  img {
    @media only screen and (min-width: 1300px) {
      right: 0;
    }
  }
}
