@import './colors.scss';
@import './typography.scss';

%great-text-grey {
  color: $great-grey !important;
}

%great-text-light-grey {
  color: $great-light-grey !important;
}

%great-text-white {
  color: $great-white !important;
}

.great {
  overflow-x: hidden;

  h1,
  h2:not(.govuk-caption-l):not(.govuk-caption-xl),
  h3,
  h4,
  h5,
  h6,
  .govuk-warning-text__text {
    font-family: $great-font-bold;
    -webkit-font-smoothing: auto;
    &:not(.great-title-link, .great-card__link, .great-heading-link__heading, .govuk-notification-banner__title) {
      color: $great-dark-grey;
    }
  }

  h2:not(.govuk-notification-banner__title, .govuk-heading-xs, .govuk-heading-s, .govuk-body-s, .govuk-fieldset__heading  ) {
    @include govuk-media-query($until: tablet) {
      font-size: 28px;
    }
  }

  h3 {
    @include govuk-media-query($until: tablet) {
      font-size: 24px;
    }
  }

  p:not(.govuk-error-message, .govuk-hint),
  span:not(.great-badge, .great-text-darker-grey, .govuk-details__summary-text, .great-warning-text__icon, .great-tag, .govuk-warning-text__icon, .govuk-accordion__section-heading-text-focus, .govuk-accordion-nav__chevron, .govuk-accordion-nav__chevron--down, .govuk-accordion-nav__chevron--down::after, .govuk-accordion-nav__chevron--up::after, .govuk-accordion-nav__chevron--up),
  ol,
  ul,
  a {
    font-family: $great-font;
    color: $great-dark-grey;
  }
  .govuk-notification-banner__heading,
  .govuk-accordion__section-heading-text-focus {
    font-family: $header-font;
  }

  .govuk-label {
    font-family: $great-font-bold;
    font-size: 18px;
  }

  .govuk-caption-xl {
    font-size: 20px;
    line-height: 30px;
    font-family: $main-text-font;

    @include govuk-media-query($from: tablet) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  .govuk-hint,
  .govuk-error-message,
  .govuk-radios__label,
  .govuk-details,
  .govuk-link:not(.great-title-link),
  .govuk-caption-m,
  .govuk-caption-s,
  .govuk-caption-lm,
  .govuk-list {
    font-family: $great-font;
  }


  .govuk-form-group--error {
    input[type='text'] {
      border-color: govuk-colour('red');

      &:focus {
        border-color: govuk-colour('black');
      }
    }
  }

  .govuk-button {
    background-color: $govuk-brand-colour;
    box-shadow: none;
    box-shadow: none;
    font-family: $great-font-bold;
    padding: 8px 20px;
    font-size: 20px;
    min-height: 50px;
    line-height: 34px;
    -webkit-font-smoothing: auto;

    &:hover,
    &:focus {
      background-color: $great-white;
      border-color: $govuk-brand-colour;
      color: $govuk-brand-colour;
    }

    &:focus:not(:active):not(:hover) {
      background-color: $great-white;
      border-color: $govuk-brand-colour;
      box-shadow: none;
      color: $govuk-brand-colour;
    }

    &:focus {
      outline: 3px solid $great-yellow;
      outline-offset: 0;
    }

    i {
      font-size: inherit;
      margin-right: 8px;
    }
  }

  .govuk-button--secondary {
    background-color: $great-white;
    border-color: $govuk-brand-colour;
    color: $govuk-brand-colour;

    &:hover,
    &:focus {
      background-color: $govuk-brand-colour;
      border-color: $govuk-brand-colour;
      color: $great-white;
    }
  }

  .great-text-grey {
    @extend %great-text-grey;
  }

  .great-text-light-grey {
    @extend %great-text-light-grey;
  }

  .great-text-white {
    @extend %great-text-white;
  }

  // govuk elements overides
  .form-control:focus {
    border-width: 2px;
    margin: 0;
  }

  .great-font-bold {
    font-family: $great-font-bold !important;
  }
  .great-font-weight-semi-bold {
    font-weight: $font-weight-semi-bold !important;
  }

  .govuk-heading-xl {
    font-size: 36px;
    letter-spacing: -0.03rem;
    line-height: 50px;

    @include govuk-media-query($from: tablet) {
      font-size: 44px;
      line-height: 60px;
    }
  }

  .govuk-heading-l {
    font-size: 28px;
    line-height: 40px;

    @include govuk-media-query($from: tablet) {
      font-size: 36px;
      line-height: 50px;
    }
  }

  .govuk-heading-m {
    font-size: 24px;
    line-height: 34px;

    @include govuk-media-query($from: tablet) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .govuk-heading-s {
    font-size: 20px;
    line-height: 30px;

    @include govuk-media-query($from: tablet) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  .govuk-heading-xs {
    font-size: 16px;
    line-height: 20px;

    @include govuk-media-query($from: tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .govuk-body-l {
    font-size: 20px;
    line-height: 30px;

    @include govuk-media-query($from: tablet) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .govuk-body,
  .govuk-label,
  .govuk-hint,
  .govuk-input,
  .govuk-list,
  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-link:not(.govuk-heading-m, .govuk-heading-s),
  .govuk-warning-text__text,
  .govuk-error-message {
    font-size: 16px;
    line-height: 24px;

    @include govuk-media-query($from: tablet) {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .govuk-body,
  .govuk-label,
  .govuk-input,
  .govuk-body-s,
  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-warning-text__text,
  .govuk-list--bullet {
    color: $color-main-text;
  }

  .govuk-body-s {
    font-size: 14px;
    line-height: 20px;

    @include govuk-media-query($from: tablet) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .govuk-label {
    font-family: $great-font-bold;
  }

  .govuk-list {
    -webkit-font-smoothing: auto;
  }

  .govuk-hint,
  .govuk-error-message,
  .govuk-radios__label,
  .govuk-checkboxes__label,
  .govuk-details,
  .govuk-link:not(.great-title-link) {
    font-family: $great-font;
  }

  .govuk-radios__label,
  .govuk-checkboxes__label {
    @include govuk-media-query($from: tablet) {
      padding-top: 5px;
    }
  }

  .govuk-form-group--error {
    input[type='text'] {
      border-color: govuk-colour('red');

      &:focus {
        border-color: govuk-colour('black');
      }
    }
  }

  .govuk-button {
    background-color: $govuk-brand-colour;
    box-shadow: none;
    box-shadow: none;
    font-family: $great-font-bold;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    min-height: 44px;
    -webkit-font-smoothing: auto;

    &:hover,
    &:focus {
      background-color: $great-white;
      border-color: $govuk-brand-colour;
      color: $govuk-brand-colour;
    }

    &:focus:not(:active):not(:hover) {
      background-color: $great-white;
      border-color: $govuk-brand-colour;
      box-shadow: none;
      color: $govuk-brand-colour;
    }

    &:focus {
      outline: 3px solid $great-yellow;
      outline-offset: 0;
    }

    i {
      font-size: inherit;
      margin-right: 8px;
    }

    @include govuk-media-query($from: tablet) {
      font-size: 20px;
      min-height: 50px;
      line-height: 34px;
    }
  }

  .govuk-button--secondary {
    background-color: $great-white;
    border-color: $govuk-brand-colour;
    color: $govuk-brand-colour;

    &:hover,
    &:focus {
      background-color: $govuk-brand-colour;
      border-color: $govuk-brand-colour;
      color: $great-white;
    }
  }

  .great-text-grey {
    @extend %great-text-grey;
  }

  .great-text-light-grey {
    @extend %great-text-light-grey;
  }

  .great-text-white {
    @extend %great-text-white;
  }

  // govuk elements overides
  .form-control:focus {
    border-width: 2px;
    margin: 0;
  }

  .govuk-\!-padding-top-9 {
    @include govuk-media-query($until: tablet) {
      padding-top: 30px !important;
    }
  }

  .govuk-link--no-visited-state {
    @include govuk-link-style-no-visited-state;
  }

  .govuk-fieldset__heading {
    line-height: inherit;
  }

  .govuk-label--l {
    font-size: 1.25rem;
    line-height: 1.1111111111;
  }
}

.govuk-skip-link {
  font-family: $great-font;
}

.govuk-skip-link {
  font-family: $great-font;
}


.great-container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;

  @media (min-width: 1025px) {
    padding: 0 30px;
  }

  @media (min-width: 1280px) {
    padding: 0;
  }
}

.great-border-top-blue {
  border-top: 6px solid $great-blue;
}

.great-border-thin-top-light-blue {
  border-top: 3px solid #1d70b8;
}

.great-border-thin-top-lighter-blue {
  border-top: 2px solid $great-light-blue;
}

.great-border-bottom-blue {
  border-bottom: 6px solid $great-blue;
}

.great-border-left-blue {
  border-left: 6px solid $great-blue;
}

.great-border-radius-10 {
  border-radius: 10px;
}

.great-bg-white {
  background-color: $great-white !important;
  background: $great-white;
}

.great-bg-lighter-grey {
  background-color: $great-lighter-grey;
}

.great-bg-light-blue {
  background-color: $great-light-blue !important;
}

.great-bg-dark-blue {
  background-color: $great-dark-blue;
}

.great-text-dark-grey {
  color: $great-text-dark-grey !important;
}

.great-dark-grey {
  color: $great-dark-grey !important;
}

.great-text-grey {
  @extend %great-text-grey;
}

.great-text-light-grey {
  @extend %great-text-light-grey;
}

.great-text-white {
  @extend %great-text-white;
}

.great-text-blue {
  color: $govuk-brand-colour !important;
}

.great-max-width-100 {
  max-width: 100%;
}

.great-max-width-75 {
  max-width: 75%;
}

.great-max-width-80 {
  max-width: 80%;
}

.great-min-width-200-desktop {
  @include govuk-media-query($from: tablet) {
    min-width: 200px;
  }
}

.great-min-width-250-desktop {
  @include govuk-media-query($from: tablet) {
    min-width: 250px;
  }
}

.great-height-100-desktop {
  @include govuk-media-query($from: tablet) {
    height: 100% !important;
  }
}

.great-height-100-minus-30-desktop {
  @include govuk-media-query($from: tablet) {
    height: calc(100% - 30px) !important;
  }
}

.great-font-size-18 {
  font-size: 18px !important;
}

.great-font-main {
  font-family: $main-text-font !important;
  a {
    font-family: $main-text-font !important;
  }
}

.great-line-height-20 {
  line-height: 20px !important;
}

.great-line-height-30 {
  line-height: 30px !important;
}

.great-font-size-mobile-18 {
  @media (max-width: 640px) {
    font-size: 18px !important;
  }
}

.great-font-size-desktop-24 {
  @media (min-width: 641px) {
    font-size: 24px;
  }
}

.great-font-size-28 {
  font-size: 28px;
}

.great-text-align-right {
  text-align: right;
}

.great-vertical-align-middle {
  vertical-align: middle;
}

.great-ratio-16-9 {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  overflow: hidden;

  > * {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.great-video-embed-16-9 {
  aspect-ratio: 16/9;
  width: 100%;

  > iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

.great-scaled-full-img {
  display: block;
  > img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.great-full-width-bar {
  margin: 0 -9999rem;
  padding: 0 9999rem;
  overflow: auto;
}

.great-display-block {
  display: block;
}

.great-display-flex {
  display: flex;
}

.great-align-items-flex-end {
  align-items: flex-end;
}

.great-display-flex-desktop {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.great-display-flex-from-desktop {
  @include govuk-media-query($from: desktop) {
    display: flex;
  }
}

.great-flex-wrap {
  flex-wrap: wrap;
}

.great-justify-content-end {
  justify-content: end;
}

.great-align-items-center {
  align-items: center;
}

.great-flex-basis-25 {
  flex-basis: 25%;
}

.great-flex-basis-50 {
  flex-basis: 50%;
}

.great-flex-grid {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.great-flex-grid > * {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.great-background-light-blue {
  background-color: $great-light-blue;
}

.great-display-from-tablet {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.great-display-until-tablet {
  display: block;

  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.great-display-until-desktop {
  display: block;

  @include govuk-media-query($from: 901px) {
    display: none;
  }
}

.great-actions-group {
  display: flex;
  gap: 10px 20px;
  flex-wrap: wrap;
  align-items: center;
  > * {
    @include govuk-media-query($from: tablet) {
      display: inline-block;
    }
    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }

  .govuk-button {
    min-width: 150px;
  }
}

.great-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.great-break-word {
  word-wrap: break-word;
}

.great-padding-top-35 {
  padding-top: 30px !important;

  @include govuk-media-query($from: tablet) {
    padding-top: 35px !important;
  }
}

.great-padding-left-35 {
  padding-left: 30px !important;

  @include govuk-media-query($from: tablet) {
    padding-left: 35px !important;
  }
}

.great-margin-bottom-30 {
  margin-bottom: 30px !important;
}
.great-margin-top-2 {
  margin-top: 2px !important;
}

.great-media-container {
  > * {
    display: block;
    width: 100%;
  }
}

.great-grid-column-seven-twelfths {
  @include govuk-media-query($from: desktop) {
    width: calc(58.333% + 30px);
  }
}

.great-full-width-button,
.great-full-width {
  width: 100%;
}

.great-min-300-button {
  @include govuk-media-query($from: tablet) {
    min-width: 300px;
  }
}

.great-min-90-button {
  min-width: 90px !important;
}

.great-width-auto {
  min-width: auto !important;
  width: auto !important;
}

.great-warning-text__icon {
  position: absolute;
  left: 0;
  border: 3px solid #0b0c0c;
  border-radius: 50%;
  color: #fff;
  background: #0b0c0c;
  font-size: 18px;
  font-family: $great-font-bold;
  line-height: 18px;
  width: 24px;
  height: 24px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  forced-color-adjust: none;
}

img.richtext-image {
  height: auto;
  max-width: 100%;
  &.full-width {
    width: 100%;
  }
}

.great-height-360-desktop {
  @include govuk-media-query($from: desktop) {
    height: 360px;
  }
}

.great-min-height-300-desktop {
  @include govuk-media-query($from: desktop) {
    min-height: 300px;
  }
}

.great-min-height-300 {
  min-height: 300px;
}

.great-overflow-hidden {
  overflow: hidden;
}

.great-hidden {
  display: none !important;
}

.great-box-shadow {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.great-hero-box-shadow-bottom {
  box-shadow: 0px 25px 25px -25px var(--colour-Great-background-light-blue, #eef2f6);
  position: relative;
}

.great-feedback-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  z-index: 2;
}

@mixin great-title-link-mixin {
  @extend %govuk-link;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-family: $great-font-bold;
  text-decoration: underline;
  text-underline-position: under;
  color: $color-gov-link;

  &.no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover:not(:focus) {
    color: #003078;
    text-decoration-thickness: 3px;
    text-decoration-color: #003078;
  }
}

.great-grey-border {
  border: 1px solid $great-border-grey;
}

.great-grey-bottom-border {
  border-bottom: 1px solid $great-border-grey;
}

.great-no-float {
  float: none !important;
}

.great-white-overlay-link {
  color: white;
  font-family: $header-font;
  &:hover {
    text-decoration-thickness: 3px;
  }
  &:focus:not(:hover) {
    color: #0b0c0c !important;
  }
}

.great-inline {
  display: inline-block;
}

.great-circle-image {
  height: 80px;
  width: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.great-inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
  &.no-wrap {
    flex-wrap: nowrap;
  }
  &.great-mobile-flex-column {
    @media only screen and (max-width: $mobile-size) {
      flex-direction: column;
    }
  }
}

.great-no-wrap {
  flex-wrap: nowrap;
}

.great-flex-1 {
  flex: 1;
}

.great-flex-2 {
  flex: 2;
}

.great-quote {
  &:before {
    content: open-quote;
    font-size: 54px;
    $font-family: $header-font;
    position: absolute;
    top: -25px;
    left: 0;
  }

  &::after {
    content: close-quote;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  display: inline;
  background: none;
  background-color: none;
  position: relative;
  display: flex;

  > * {
    font-family: $header-font;
    font-size: 24px;
    margin: 0;
    display: inline;
    margin-left: 30px;
  }
}

great-icon {
  font-size: 24px !important;
}

.great-icon-small {
  font-size: 18px !important;
}

.great-red-text {
  color: govuk-colour('red') !important;
}

.great-gap {
  gap: 20px 30px;
}

.great-gap-10-30 {
  gap: 10px 30px;
}

.great-min-column-width {
  min-width: 390px;
  @media only screen and (max-width: $mobile-size) {
    width: 100%;
    min-width: auto;
  }
}

.great-max-width-half-desktop {
  @include govuk-media-query($from: desktop) {
    max-width: 615px;
  }
}

.great-icon-box-container {
  @include govuk-media-query($from: desktop) {
    padding-left: 30px;
  }
}

.great-title-link {
  @include great-title-link-mixin();
}

.great-anchor-link {
  @include great-title-link-mixin();
  font-family: inherit !important;
  font-size: inherit !important;
}

.float-right {
  float: right;
}

.great-flex-column-until-desktop {
  @include govuk-media-query($until: desktop) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.great-align-items-center {
  align-items: center;
  &.great-flex-column-until-desktop {
    @include govuk-media-query($until: desktop) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.great-justify-space-between {
  justify-content: space-between;
}

.great-overflow-visible {
  overflow: visible;
}

//override styles in the core base html
.govuk-list--bullet {
  > li {
    list-style-type: disc;
  }
}

.step-list {
  p{
    @extend .govuk-body;
  }

  ul {
    @extend .govuk-list--bullet;
    margin-bottom: 20px;
  }

  ol {
    @extend .govuk-list--number;
    margin-bottom: 20px;
  }
  .step-list-h2::marker {
    @extend .govuk-heading-l;
    font-family: $great-font-bold;
  }
  .step-list-h3::marker {
    @extend .govuk-heading-m;
    font-family: $great-font-bold;
  }
  .step-list-h4::marker {
    @extend .govuk-heading-s;
    font-family: $great-font-bold;
  }
}

.great-display-flex-from-desktop {
  @include govuk-media-query($from: desktop) {
    display: flex;
  }
}

.great-flex-row {
  flex-direction: row !important;
}

.great-gap-10-30 {
  gap: 10px 30px;
}

.great-position-relative {
  position: relative;
}

.great-text-decoration-none {
  text-decoration: none;
}

.great-cursor-pointer {
  cursor: pointer;
}

.great-border-top-orange {
  border-top: 3px solid #e94f3d;
}

.great-icon-circular-background {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: #04043f;
}

.great-blue-hr {
  height: 3px;
  background: #04043f;
}

.great-no-text-decoration {
  text-decoration: none !important;
}

.great-no-box-shadow {
  box-shadow: none !important;
}

.great-no-border-focus {
  outline: none !important;
}

.great-no-border {
  border: 0 !important;
}

.great-hr-light {
  height: 1px;
  background: #b1b4b6;
}

.great-border-top-thick {
  border-top: 3px solid #04043f;
  &.great-border-purple {
    border-color: #964f99;
  }
}

.great-width-100 {
  width: 100%;
}

.great-no-box-shadow {
  box-shadow: none !important;
}

.great-no-border {
  border: none !important;
}

.great-no-border-focus {
  outline: none !important;
}

.great-height-min-content {
  height: min-content;
}

.great-hr-grey {
  background: $govuk-border-colour;
}
