@import './colors.scss';
@import './typography.scss';

%great-text-grey {
    color: $great-grey;
}

.great {
    overflow-x: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $great-font-bold;
        color: $great-dark-grey;
    }

    h2 {
        @include govuk-media-query($until: tablet) {
            font-size: 28px;
        }
    }

    h3 {
        @include govuk-media-query($until: tablet) {
            font-size: 24px;
        }
    }

    p, span, ol, ul, a {
        font-family: $great-font;
        color: $great-dark-grey;
    }

    .govuk-button {
        background-color: $govuk-brand-colour;
        box-shadow: none;
        box-shadow: none;
        font-family: $great-font-bold;
        padding: 8px 20px;
        font-size: 20px;
        min-height: 50px;
        line-height: 34px;

        &:hover,
        &:focus {
            background-color: $great-white;
            border-color: $govuk-brand-colour;
            color: $govuk-brand-colour;
        }

        &:focus:not(:active):not(:hover) {
            background-color: $great-white;
            border-color: $govuk-brand-colour;
            box-shadow: none;
            color: $govuk-brand-colour;
        }

        &:focus {
            outline: 3px solid $great-yellow;
            outline-offset: 0;
        }
    }

    .great-text-grey {
        @extend %great-text-grey;
    }
}

.great-container {
    max-width: 1230px;
}

.great-border-top-blue {
    border-top: 6px solid $great-blue;
}

.great-bg-white {
    background-color: $great-white;
}

.great-bg-lighter-grey {
    background-color: $great-lighter-grey;
}

.great-bg-light-blue {
    background-color: $great-light-blue;
}

.great-text-grey {
    @extend %great-text-grey;
}

.great-text-light-grey {
    color: $great-light-grey;
}

.great-text-blue {
    color: $govuk-brand-colour;
}

.great-max-width-75 {
    max-width: 75%;
}

.great-max-width-80 {
    max-width: 80%;
}

.great-height-100-desktop {
    @include govuk-media-query($from: tablet) {
        height: 100%;
    }
}

.great-font-size-18 {
    font-size: 18px;
}

.great-font-size-28 {
    font-size: 28px;
}

.great-ratio-16-9 {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    overflow: hidden;

    > * {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.great-full-width-bar {
    margin: 0 -9999rem;
    padding: 0 9999rem;
    overflow: auto;
}

.great-display-flex-desktop {
    @include govuk-media-query($from: tablet) {
        display: flex;
    }
}
