@import './colors.scss';
@import './typography.scss';

%great-text-grey {
    color: $great-grey;
}

%great-text-light-grey {
    color: $great-light-grey;
}

%great-text-white {
    color: white;
}

.great {
    overflow-x: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $great-font-bold;
        color: $great-dark-grey;
        -webkit-font-smoothing: auto;
    }

    h2 {
        @include govuk-media-query($until: tablet) {
            font-size: 28px;
        }
    }

    h3 {
        @include govuk-media-query($until: tablet) {
            font-size: 24px;
        }
    }

    p,
    span:not(.great-badge, .great-text-darker-grey),
    ol,
    ul,
    a {
        font-family: $great-font;
        color: $great-dark-grey;
    }

    .govuk-body {
        font-size: 20px;
        -webkit-font-smoothing: auto;
    }

    .govuk-button {
        background-color: $govuk-brand-colour;
        box-shadow: none;
        box-shadow: none;
        font-family: $great-font-bold;
        padding: 8px 20px;
        font-size: 20px;
        min-height: 50px;
        line-height: 34px;
        -webkit-font-smoothing: auto;

        &:hover,
        &:focus {
            background-color: $great-white;
            border-color: $govuk-brand-colour;
            color: $govuk-brand-colour;
        }

        &:focus:not(:active):not(:hover) {
            background-color: $great-white;
            border-color: $govuk-brand-colour;
            box-shadow: none;
            color: $govuk-brand-colour;
        }

        &:focus {
            outline: 3px solid $great-yellow;
            outline-offset: 0;
        }

        i {
            font-size: inherit;
            margin-right: 8px;
        }
    }

    .govuk-button--secondary {
        background-color: $great-white;
        border-color: $govuk-brand-colour;
        color: $govuk-brand-colour;

        &:hover,
        &:focus {
            background-color: $govuk-brand-colour;
            border-color: $govuk-brand-colour;
            color: $great-white;
        }
    }

    .great-text-grey {
        @extend %great-text-grey;
    }

    .great-text-light-grey {
        @extend %great-text-light-grey;
    }

    .great-text-white {
        @extend %great-text-white;
    }
}

.great-container {
    max-width: 1230px;
}

.great-border-top-blue {
    border-top: 6px solid $great-blue;
}

.great-bg-white {
    background-color: $great-white;
}

.great-bg-lighter-grey {
    background-color: $great-lighter-grey;
}

.great-bg-light-blue {
    background-color: $great-light-blue;
}

.great-text-darker-grey {
    color: $great-darker-grey;
}

.great-text-grey {
    @extend %great-text-grey;
}

.great-text-light-grey {
    @extend %great-text-light-grey;
}

.great-text-white {
    @extend %great-text-white;
}

.great-text-blue {
    color: $govuk-brand-colour;
}

.great-max-width-100 {
    max-width: 100%;
}

.great-max-width-75 {
    max-width: 75%;
}

.great-max-width-80 {
    max-width: 80%;
}

.great-height-100-desktop {
    @include govuk-media-query($from: tablet) {
        height: 100%;
    }
}

.great-font-size-18 {
    font-size: 18px;
}

.great-font-size-mobile-18 {
    @media (max-width: 640px) {
        font-size: 18px;
    }
}

.great-font-size-desktop-24 {
    @media (min-width: 641px) {
        font-size: 24px;
    }
}

.great-font-size-28 {
    font-size: 28px;
}

.great-ratio-16-9 {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    overflow: hidden;

    >* {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.great-video-embed-16-9 {
    aspect-ratio: 16/9;
    width: 100%;

    > iframe {
        width: 100% !important;
        height: 100% !important;
    }
}

.great-full-width-bar {
    margin: 0 -9999rem;
    padding: 0 9999rem;
    overflow: auto;
}

.great-display-flex-desktop {
    @include govuk-media-query($from: tablet) {
        display: flex;
    }
}

.great-background-light-blue {
    background-color: $great-light-blue;
}

.great-display-from-tablet {
    display: none;

    @include govuk-media-query($from: tablet) {
        display: block;
    }
}

.great-display-until-tablet {
    display: block;

    @include govuk-media-query($from: tablet) {
        display: none;
    }
}

.great-actions-group {
    >* {
        @include govuk-media-query($from: tablet) {
            display: inline-block;
            margin-right: 20px;
        }
    }

    .govuk-button {
        min-width: 150px;
    }
}

.great-visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.great-break-word {
    word-wrap: break-word;
}

.great-padding-top-35 {
    padding-top: 30px !important;

    @include govuk-media-query($from: tablet) {
        padding-top: 35px !important;
    }
}

.great-margin-bottom-30 {
    margin-bottom: 30px !important;
}

.great-media-container {
    > * {
        display: block;
        width: 100%;
    }
}
