@import 'node_modules/govuk-frontend/govuk/all';

@import 'reset';
@import 'colors';
@import 'utils';
@import 'components';
@import 'overrides';
@import 'sign-up';
@import 'language-specific';

@import 'great-design-system-temp';
