{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<section class="great govuk-!-padding-bottom-6 govuk-!-padding-top-9">
    <div class="great-container event-details-header-container">
        <div class="event-details-header-info govuk-grid-column-two-thirds-from-desktop govuk-!-static-padding-0">
            <h2 class="govuk-caption-l">{{ caption }}</h2>
            <h1 class="govuk-heading-l govuk-!-static-margin-0 govuk-!-static-margin-bottom-2">{{ title }}</h1>
            {% block custom-content %}{% endblock %}
        </div>
        <div class="event-details-header-logo">
            <img class="ea-logo"
                 src="/static/images/uk-export-academy-logo.svg"
                 alt="UK Export Academy logo" />
        </div>
    </div>
</section>
