
{% if action_buttons.form_event_booking_buttons %}
    <form action="{% url 'export_academy:booking' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ event.id }}">

        {% for button in action_buttons.form_event_booking_buttons %}
            <input type="hidden" name="status" value="{{ button.value }}">
            {% include 'export_academy/includes/form_button.html' %}
            {% if button.disable_text %} <a style="color:red">{{ button.disable_text }}</a>{% endif %}
        {% endfor %}
    </form>
{% endif %}

{% if action_buttons.event_action_buttons %}
    <ul class="actions">
        {% for button in action_buttons.event_action_buttons %}
            <li>{% include 'export_academy/includes/link_button.html' %}</li>
        {% endfor %}
    </ul>
{% endif %}


{% if action_buttons.calendar_button %}
    <form action="{% url 'export_academy:calendar' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="event_id" value="{{ event.id }}">
        {% include 'export_academy/includes/form_button.html' with button=action_buttons.calendar_button %}

    </form>
{% endif %}

{% if action_buttons.register %}
    <a href="https://www.events.great.gov.uk/ereg/newreg.php?eventid=200236512&language=eng" class="button secondary-button">Register</a>
{% endif %}
