{% load event_list_buttons %}
{% user_is_booked_on_event request.user event as event_is_booked %}
{% if event_is_booked %}
    {% if event.video_recording %}
        <p class="event-list-video-warning">
            Event recordings are only available for 4 weeks after the event.
        </p>
        <div>
            <span role="img" class="fa fa-2x fa-play-circle great-text-blue govuk-!-margin-right-2"></span>
            <a class="govuk-link great-vertical-align-super"
                href="{% url 'export_academy:event-video' event.id %}">Watch event recording</a>
        </div>
    {% endif %}
{% endif %}
