{% load static %}
{% load wagtailcore_tags %}
{% load replace_underscores from component_tags %}
{% load add_govuk_classes from content_tags %}
{% if event %}
    <section class="great great-bg-white govuk-!-static-padding-0 govuk-!-static-margin-top-4 event-details-main-content">
        <div class="great-container">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-static-padding-0">
                <div class="event-metadata govuk-!-static-padding-top-2">
                    <div>
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row govuk-!-margin-bottom-0">
                                <dt class="govuk-summary-list__key govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">Duration</dt>
                                <dd class="govuk-summary-list__value govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">
                                    {% if duration %}
                                        {{ duration }}
                                    {% else %}
                                        {{ event.start_date|timesince:event.end_date }}
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row govuk-!-margin-bottom-0">
                                <dt class="govuk-summary-list__key govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">Content</dt>
                                <dd class="govuk-summary-list__value govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">
                                    {% for type in event_types %}
                                        <a class="govuk-link govuk-link--no-visited-state  {% if not forloop.last %}govuk-!-static-padding-right-1{% endif %}"
                                           href='/export-academy/events/?type={{ type|slugify }}'>{{ type }}</a>
                                    {% endfor %}
                                </dd>
                            </div>
                            {% if series %}
                                <div class="govuk-summary-list__row govuk-!-margin-bottom-0">
                                    <dt class="govuk-summary-list__key govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">Part of</dt>
                                    <dd class="govuk-summary-list__value govuk-!-margin-0 govuk-!-padding-bottom-1 govuk-!-padding-top-1">
                                        <a class="govuk-link govuk-link--no-visited-state {% if not forloop.last %}govuk-!-static-padding-right-1{% endif %}"
                                           href='/export-academy/{{ series.value }}'>{{ series.label }}</a>
                                    </dd>
                                </div>
                            {% endif %}
                        </dl>
                    </div>
                </div>
                {% if event.description %}
                    <div class="event-details-summary govuk-!-static-margin-top-6 govuk-!-static-margin-bottom-6">
                        <p class="govuk-body govuk-!-static-margin-0">{{ event.description }}</p>
                    </div>
                {% endif %}
                {% if event.outcomes %}
                    <div class="event-details-what-you-will-learn govuk-!-static-margin-bottom-6">
                        <h2 class="govuk-heading-m">What you’ll learn</h2>
                        <div class="richtext">
                            {% filter add_govuk_classes %}
                                {{ event.outcomes|richtext }}
                            {% endfilter %}
                        </div>
                    </div>
                {% endif %}
                {% if event.description_long %}
                    <div class="event-details-description govuk-!-static-padding-bottom-6">
                        <h2 class="govuk-heading-m">Description</h2>
                        <div class="richtext">
                            {% filter add_govuk_classes %}
                                {{ event.description_long|richtext }}
                            {% endfilter %}
                        </div>
                    </div>
                {% endif %}
                {% if speakers %}
                    <div class="event-details-speakers govuk-!-static-padding-bottom-6">
                        <h2 class="govuk-heading-m govuk-!-static-margin-0 govuk-!-static-margin-bottom-4">Speakers</h2>
                        {% for speaker in speakers %}
                            <div class="{% if not forloop.last %}govuk-!-static-margin-bottom-6{% endif %}">
                                <h3 class="govuk-heading-s govuk-!-static-margin-bottom-2 govuk-!-static-margin-0">{{ speaker.name }}</h3>
                                <p class="job-title govuk-!-static-margin-0 govuk-!-static-padding-bottom-2">
                                    {{ speaker.role }}, {{ speaker.organisation }}
                                </p>
                                <div class="richtext">
                                    {% filter add_govuk_classes %}
                                        {{ speaker.description|richtext }}
                                    {% endfilter %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-static-padding-0">
                {% if request.user.is_authenticated and ended and has_video and booked %}
                    <!-- Don't show the past event recording -->
                {% elif show_past_events and event.past_event_video_recording %}
                    <div class="great-icon-box-container">
                        <div class="govuk-!-static-padding-top-2 great-border-thin-top-light-blue">
                            <h2 class="govuk-heading-s">Watch a past event recording</h2>
                            <div class="event-listing-summary-info">
                                <div>
                                    <div class="event-date-badge">
                                        <span role="img" class="great-icon fa fa-play" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="event-summary-text">
                                    <a href="/export-academy/event-recordings/{{ event.get_past_event_recording_slug }}"
                                       class="govuk-link">{{ event.name }}</a>
                                    <p class="govuk-body-s govuk-!-margin-0 great-text-grey event-summary-text">Event recording</p>
                                    <p class="govuk-body-s govuk-!-margin-0 event-summary-text">
                                        Recorded: {{ event.past_event_recorded_date|date:'j F Y' }} • {{ event.get_past_event_recording_duration }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}
