{% load static %}
{% load wagtailcore_tags %}
{% load replace_underscores from component_tags %}
{% load remove_string from component_tags %}
<section class="govuk-!-static-padding-bottom-0">
    <div class="govuk-accordion"
         data-module="govuk-accordion"
         id="accordion-default">
        {% for module, event in events.items %}
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h3 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button"
                              id="accordion-default-heading-{{ forloop.counter }}">{{ forloop.counter }}. {{ module.title }}</span>
                    </h3>
                </div>
                <div id="accordion-default-content-{{ forloop.counter }}"
                     class="govuk-accordion__section-content govuk-!-padding-top-0"
                     aria-labelledby="accordion-default-heading-{{ forloop.counter }}">
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ module.summary }}</p>
                    <h4 class="govuk-heading-xs great-font-size-18 govuk-!-margin-bottom-3 govuk-!-padding-top-5">
                        Join next live event
                        {% if not signed_in %}(sign in required){% endif %}
                    </h4>
                    <div class="great-bg-light-blue govuk-!-padding-3">{% include './event_item_badge.html' with event=event %}</div>
                    {% if event.past_event_video_recording %}
                        <h4 class="govuk-heading-xs great-font-size-18 govuk-!-margin-bottom-3 govuk-!-padding-top-5">
                            Watch a past event recording
                            {% if not signed_in %}(sign in required){% endif %}
                        </h4>
                        <div class="great-bg-light-blue govuk-!-padding-3">
                            {% include './event_item_badge.html' with event=event display_past_recording=True %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
