{% extends 'domestic/base.html' %}
{% load i18n wagtailimages_tags %}
{% load wagtailimages_tags %}
{% block css_layout_class %}
    article-list-page
{% endblock css_layout_class %}
{% block content %}
    {% block hero %}
        {% image page.hero_image original as rendition %}
        {% include '_hero.html' with pngImagePath=rendition.url heading=page.title aboveCtaText="Complete short step-by-step lessons to accelerate your exporting ability." classes="great-ds-hero--large-image-cropping great-ds-hero--bg-white" %}
    {% endblock %}
    {% block intro_section %}{% endblock %}
    {% block child_pages %}
        <section id="{{ page.slug }}-list-section" class="topic-list-section">
            <div class="container">
                <div class="great-ds-card-container">
                    {% for page in page.child_pages %}
                        {% image page.article_image fill-640x360 as thumbnail %}
                        {% include '_card.html' with href=page.url imageUrl=thumbnail.url title=page.title id=page.slug hideArrow="true" classes="great-ds-card--3" titleSize="m" %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}
    {% block footer_section %}{% endblock %}
{% endblock %}