{% extends 'domestic/base.html' %}

{% block css_layout_class %}article-list-page{% endblock css_layout_class %}

{% block content %}

{% block hero %}
  {% include 'components/hero.html' with image=page.hero_image hero_text=page.title %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  {% include 'components/breadcrumbs_cms.html' %}
</div>
{% endblock %}

{% if page.slug|lower == "article" %}
{% url "core:signup" as link_url %}
  <div class="container">
    {% include 'components/learning_banner.html' with tag_text="New" heading="Turn advice into action" sub_heading="Get exporting lessons from trade experts" cta_text="Upskill now" cta_url=link_url cta_alt_text="Upskill now" %}
  </div>
{% endif %}

{% block intro_section %}{% endblock %}

{% block child_pages %}
<section id="{{ page.meta.slug }}-list-section" class="topic-list-section background-stone-30 padding-top-60">
  <div class="container">
    <div class="flex-grid">
      {% include 'components/card_grid.html' with cards=page.child_pages %}
    </div>
  </div>
</section>
{% endblock %}
{% block footer_section %}{% endblock %}

{% endblock %}
