{% extends 'domestic/base.html' %}
{% load wagtailimages_tags %}
{% block css_layout_class %}
    article-list-page
{% endblock css_layout_class %}
{% block content %}
    {% block hero %}
        {% include 'components/hero.html' with image=page.hero_image hero_title=page.title hero_text=page.teaser %}
    {% endblock %}
    {% block intro_section %}{% endblock %}
    {% block child_pages %}
        <section id="{{ page.slug }}-list-section"
                 class="topic-list-section govuk-!-margin-top-6">
            <div class="container">
                <div class="great-ds-card-container">
                    {% for panel in page.panels %}
                        {% image panel.value.image fill-640x360 as thumbnail %}
                        {% include '_card.html' with href=panel.value.link_url imageUrl=thumbnail.url imageAlt=panel.value.image.alt_text title=panel.value.link_text description=panel.value.description id=page.slug hideArrow="true" classes="great-ds-card--3" titleSize="m" %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}
    {% block footer_section %}{% endblock %}
{% endblock %}
