{% extends 'domestic/base.html' %}
{% load wagtailimages_tags %}
{% block css_layout_class %}
    article-list-page
{% endblock css_layout_class %}
{% block content %}
    {% block hero %}
        {% image page.hero_image original as rendition %}
        {% if current_website_name and current_website_name == 'business.gov.uk' %}
            {% include '_hero.html' with pngImagePath=rendition.url heading="Resources" classes="great-ds-hero--large-image-cropping great-ds-hero--bg-white"%}
        {% else %}
            {% include '_hero.html' with pngImagePath=rendition.url heading="Services" classes="great-ds-hero--large-image-cropping great-ds-hero--bg-white"%}
        {% endif %}
    {% endblock %}
    {% block intro_section %}{% endblock %}
    {% block child_pages %}
        <section id="{{ page.slug }}-list-section"
                 class="topic-list-section govuk-!-margin-top-6">
            <div class="container">
                <div class="flex-grid">
                    {% for panel in page.panels %}
                        <div class="column-third-xl column-half-l">
                            {% include 'components/card.html' with url=panel.value.link_url title=panel.value.link_text card_image=panel.value.image description=panel.value.description only %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}
    {% block footer_section %}{% endblock %}
{% endblock %}
