{% extends 'domestic/base.html' %}
{% load pagination render_markets_cta from component_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% block head_title %}Markets{% endblock %}
{% block meta_title %}Markets{% endblock %}
{% block css_layout_class %}
    article-list-page
{% endblock css_layout_class %}
{% block content %}
    {% block hero %}
        {% include 'components/hero.html' with image=page.hero_image hero_title="Market Guides" hero_text="Find the answers you need on your target export market, including doing business, tax rates and import regulations. Filter by sector to see the markets best suited to your product or service." %}
    {% endblock %}
    {% comment %} {% if page.teaser %}
<section id="markets-banner-section" class="topic-list-section padding-bottom-60-m padding-top-15-m">
    <div class="container">
      <div class="grid-row margin-top-30 margin-top-45-m">
        <div class="column-full column-two-thirds-l">
          {{ page.teaser }}
        </div>
      </div>
    </div>
</section>
    {% endif %}  {% endcomment %}
    {% block child_pages %}
        <section id="{{ page.slug }}-list-section"
                 class="topic-list-section markets-landing govuk-!-margin-top-6 govuk-!-padding-bottom-0">
            <div class="container">
                <form id="sectors-form" action="" method="get">
                    <div class="grid-row">
                        <div class="column-third column-quarter-xl govuk-!-padding-left-2">
                            <div class="filters">
                                <a id="skip-link"
                                   class="accessibility-skip-to-section"
                                   href="#markets-results">Skip filters and go to the market results.</a>
                                <h4 class="margin-top-0 margin-bottom-30 margin-bottom-15-m margin-top-15 govuk-!-padding-left-1"
                                    id="filters-heading">Filter market guides</h4>
                                <span class="verbose">Selecting a filter with Javascript enabled will refresh the page.</span>
                                <ul>
                                    <li class="filter-section govuk-!-padding-top-0">
                                        <input type="checkbox" id="sectors" checked />
                                        <label for="sectors" role="button">Sector</label>
                                        <div class="options checkbox-small">
                                            <ul>
                                                {% for sector in sector_list %}
                                                    <li class="multiple-choice margin-bottom-0">
                                                        <input type="checkbox"
                                                               value="{{ sector.name }}"
                                                               id="sector_{{ sector.id }}"
                                                               name="sector"
                                                               {% if sector.name in selected_sectors %}checked{% endif %} />
                                                        <label class="market-filters-label"for="sector_{{ sector.id }}">{{ sector.name }}</label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="filter-section">
                                        <input type="checkbox" id="regions" checked />
                                        <label for="regions" role="button">Region</label>
                                        <div class="options checkbox-small full-height">
                                            <ul>
                                                {% for region in region_list %}
                                                    <li class="multiple-choice margin-bottom-0">
                                                        <input type="checkbox"
                                                               value="{{ region.name }}"
                                                               id="region_{{ region.id }}"
                                                               name="region"
                                                               {% if region.name in selected_regions %}checked{% endif %} />
                                                        <label class="market-filters-label" for="region_{{ region.id }}">{{ region.name|title }}</label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="filter-section">
                                        <input type="checkbox" id="trading_blocs" checked />
                                        <label for="trading_blocs" role="button">Trading bloc</label>
                                        <div class="options checkbox-small full-height">
                                            <ul>
                                                {% for trading_bloc in trading_bloc_list %}
                                                    <li class="multiple-choice margin-bottom-0">
                                                        <input type="checkbox"
                                                               value="{{ trading_bloc.name }}"
                                                               id="trading_bloc_{{ trading_bloc.id }}"
                                                               name="trading_bloc"
                                                               {% if trading_bloc.name in selected_trading_blocs %}checked{% endif %} />
                                                        <label class="market-filters-label" for="trading_bloc_{{ trading_bloc.id }}">{{ trading_bloc.name|title }}</label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <div class="filters-sticky-footer" id="filters-sticky-footer">
                                    <a href="#" class="cancel link">Cancel</a>
                                    <a href="#" class="button primary-button update" role="button">Update<span class="verbose">With Javascript enabled, click this button to filter the results.</span></a>
                                </div>
                            </div>
                        </div>
                        <div id="markets-results column-three-quarters-xl">
                            <div>
                                {% if number_of_results == 0 %}
                                    {% if selected_sectors or selected_regions %}
                                        <p>
                                            Currently, we don't have any market guides with information&nbsp;
                                            {% for sector in selected_sectors %}
                                                {% if forloop.first %}about{% endif %}
                                                <span class="bold">{{ sector }}</span>
                                                {% if not forloop.last %}or{% endif %}
                                                {% if forloop.last and not selected_regions %}.{% endif %}
                                            {% endfor %}
                                            {% if selected_regions %}
                                                in
                                                {% for region in selected_regions %}
                                                    <span class="bold">{{ region }}</span>
                                                    {% if not forloop.last %}or{% endif %}
                                                    {% if forloop.last %}.  Try searching in another region.{% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <p>There are other ways the Department for Business and Trade can help you sell your product in an overseas market.</p>
                                            <p>
                                                <a href="{{ services_urls.exopps }}" class="link">Browse our export opportunities service to find opportunities to sell your product in overseas markets</a>
                                            </p>
                                            <p>
                                                <a href="/support/export-support/" class="govuk-link">Access our expert guidance, tools and services 24/7 using our online export support</a>
                                            </p>
                                        {% endif %}
                                    {% elif selected_sectors and not selected_regions and not selected_trading_blocs %}
                                        <h3 class="margin-bottom-15">
                                            These markets are looking to work with UK businesses from the
                                            {% for sector in selected_sectors %}
                                                {% if forloop.last and not forloop.first %}and{% endif %}
                                                {# djlint:off #}
                                                <span class="bold">{{ sector }}{% if forloop.revcounter0 > 1 %},{% endif %}</span>
                                                {# djlint:on #}
                                                {% if forloop.last %}sector{{ number_of_sectors|pluralize:",s" }}.{% endif %}
                                            {% endfor %}
                                        </h3>
                                    {% elif not selected_sectors and selected_regions and not selected_trading_blocs %}
                                        <h3 class="margin-bottom-15">
                                            There {{ number_of_results|pluralize:"is,are" }} {{ number_of_results }} market guide{{ number_of_results|pluralize:",s" }} in the
                                            {% for region in selected_regions %}
                                                <span class="bold">{{ region }}</span>
                                                {% if not forloop.last %}or{% endif %}
                                                {% if forloop.last %}region{{ number_of_regions|pluralize:",s" }}.{% endif %}
                                            {% endfor %}
                                        </h3>
                                    {% elif not selected_sectors and not selected_regions and selected_trading_blocs %}
                                        <h3 class="margin-bottom-15">
                                            There {{ number_of_results|pluralize:"is,are" }} {{ number_of_results }} market guide{{ number_of_results|pluralize:",s" }} in the
                                            {% for trading_bloc in selected_trading_blocs %}
                                                <span class="bold">{{ trading_bloc }}</span>
                                                {% if not forloop.last %}or{% endif %}
                                                {% if forloop.last %}trading bloc{{ number_of_trading_blocs|pluralize:",s" }}.{% endif %}
                                            {% endfor %}
                                        </h3>
                                    {% else %}
                                        {% if selected_sectors or selected_regions or selected_trading_blocs %}
                                            <h3 class="margin-bottom-15">
                                                There {{ number_of_results|pluralize:"is,are" }} {{ number_of_results }} market{{ number_of_results|pluralize:",s" }}
                                                {% if selected_sectors %}
                                                    with high potential for UK businesses in
                                                    {% for sector in selected_sectors %}
                                                        <span class="bold">{{ sector }}</span>
                                                        {% if not forloop.last %}or{% endif %}
                                                        {% if forloop.last and not selected_regions %}.{% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if selected_regions %}
                                                    in the
                                                    {% for region in selected_regions %}
                                                        <span class="bold">{{ region }}</span>
                                                        {% if not forloop.last %}or{% endif %}
                                                        {% if forloop.last %}
                                                            {% if not selected_trading_blocs %}
                                                                region{{ number_of_regions|pluralize:",s" }}.
                                                            {% else %}
                                                                region{{ number_of_regions|pluralize:",s" }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if selected_trading_blocs %}
                                                    {% if selected_regions %}
                                                        and the
                                                    {% else %}
                                                        in the
                                                    {% endif %}
                                                    {% for trading_bloc in selected_trading_blocs %}
                                                        <span class="bold">{{ trading_bloc }}</span>
                                                        {% if not forloop.last %}or{% endif %}
                                                        {% if forloop.last %}trading bloc{{ number_of_trading_blocs|pluralize:",s" }}.{% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </h3>
                                        {% endif %}
                                    {% endif %}
                                    {% if selected_sectors or selected_regions or selected_trading_blocs %}
                                        <p class="margin-bottom-45-m">
                                            <a href="{{ request.path }}"
                                               class="view-markets link bold margin-top-15">Clear all filters</a>
                                        </p>
                                    {% endif %}
                                    <div class="controls margin-bottom-45-m">
                                        <a href="#"
                                           class="button mobile-filter-toggle"
                                           id="mobile-filter-toggle">Filter</a>
                                        {% if number_of_results %}
                                            <label for="sortby" class="margin-right-15 margin-left-15">Sort by</label>
                                            <span class="verbose">Selecting a sort option, with Javascript enabled, will refresh the page.</span>
                                            <select name="sortby" class="sort-control form-control" id="sortby">
                                                {% for option in sortby_options %}
                                                    <option value="{{ option.value }}"
                                                            {% if sortby == option.value %}selected{% endif %}>
                                                        {{ option.label }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            {% if features.FEATURE_PRODUCT_EXPERIMENT_LINKS %}
                                                <a href="{% url 'core:compare-countries' %}"
                                                   class="govuk-link govuk-!-margin-left-6">Find information about your product</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="great-ds-card-container">
                                {% for page in paginated_results %}
                                    {% image page.hero_image fill-640x360 as thumbnail %}
                                    {% include '_card.html' with href=page.url imageUrl=thumbnail.url title=page.landing_page_title|default:page.title id=page.slug hideArrow="true" classes="great-ds-card--3" titleSize="m" %}
                                {% endfor %}
                            </div>
                            <div class="markets-pagination column-two-thirds column-three-quarters-xl">
                                {% pagination pagination_page=paginated_results %}
                            </div>
                        </div>
                    </div>
                    <input class="button" type="submit" value="Submit form" />
                </form>
            </div>
            <div class="margin-top-30">{% render_markets_cta %}</div>
        </section>
    {% endblock %}
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script src="{% static 'javascript/marketFilters.js' %}"></script>
    <script>
  $(function() {
    marketFilters.init();
  });
    </script>
{% endblock %}
