{% extends 'domestic/base.html' %}
{% load wagtailimages_tags %}
{% load pagination render_markets_cta from component_tags %}
{% load static %}
{% block head_title %}Markets{% endblock %}
{% block meta_title %}Markets{% endblock %}
{% block css_layout_class %}
    article-list-page
{% endblock css_layout_class %}
{% block content %}
    {% block hero %}
        {% image page.hero_image original as rendition %}
        {% include '_hero.html' with pngImagePath=rendition.url heading="Market Guides" aboveCtaText="Find the answers you need on your target export market, including doing business, tax rates and import regulations. Filter by sector to see the markets best suited to your product or service." classes="great-ds-hero--bg-white"%}
    {% endblock %}
    {% block child_pages %}
        <section id="{{ page.slug }}-list-section"
                 class="topic-list-section markets-landing govuk-!-margin-top-6 govuk-!-padding-bottom-0">
            <div class="container">
                <form novalidate id="sectors-form" action="" method="get">
                    <div class="grid-row">
                        <div class="column-third column-quarter-xl govuk-!-padding-left-2">
                            <div class="filters">
                                <a id="skip-link"
                                   class="accessibility-skip-to-section"
                                   href="#markets-results">Skip filters and go to the market results.</a>
                                <h4 class="margin-top-0 margin-bottom-30 margin-bottom-15-m margin-top-15 govuk-!-padding-left-1"
                                    id="filters-heading">Filter market guides</h4>
                                <span class="verbose">Selecting a filter with Javascript enabled will refresh the page.</span>
                                
                                <ul>
                                    {% for field in markets_filters_form.visible_fields %}
                                    <li class="filter-section {% if forloop.first %}govuk-!-padding-top-0{% endif %}">
                                        {% include '_field.html' with field=field error=field.errors %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="filters-sticky-footer" id="filters-sticky-footer">
                                    {% include '_button.html' with classes='cancel link' href='#' text='Cancel' %}
                                    {% include '_button.html' with classes='update' href='#' text='Update' %}
                                </div>
                            </div>
                        </div>
                        <div id="markets-results column-three-quarters-xl">
                            <div>
                                {% if number_of_results == 0 %}
                                    {% if selected_sectors or selected_regions %}
                                        <p>
                                            Currently, we don't have any market guides with information&nbsp;
                                            {% for sector in selected_sectors %}
                                                {% if forloop.first %}about{% endif %}
                                                <span class="bold">{{ sector }}</span>
                                                {% if not forloop.last %}or{% endif %}
                                                {% if forloop.last and not selected_regions %}.{% endif %}
                                            {% endfor %}
                                            {% if selected_regions %}
                                                in
                                                {% for region in selected_regions %}
                                                    <span class="bold">{{ region }}</span>
                                                    {% if not forloop.last %}or{% endif %}
                                                    {% if forloop.last %}.  Try searching in another region.{% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <p>There are other ways the Department for Business and Trade can help you sell your product in an overseas market.</p>
                                            <p>
                                                <a href="{{ services_urls.exopps }}" class="link">Browse our export opportunities service to find opportunities to sell your product in overseas markets</a>
                                            </p>
                                            <p>
                                                <a href="/support/export-support/" class="govuk-link">Access our expert guidance, tools and services 24/7 using our online export support</a>
                                            </p>
                                        {% endif %}
                                    {% elif selected_sectors and not selected_regions and not selected_trading_blocs %}
                                        <h3 class="margin-bottom-15">
                                            These markets are looking to work with UK businesses from the
                                            {% for sector in selected_sectors %}
                                                {% if forloop.last and not forloop.first %}and{% endif %}
                                                {# djlint:off #}
                                                <span class="bold">{{ sector }}{% if forloop.revcounter0 > 1 %},{% endif %}</span>
                                                {# djlint:on #}
                                                {% if forloop.last %}sector{{ number_of_sectors|pluralize:",s" }}.{% endif %}
                                            {% endfor %}
                                        </h3>
                                    {% elif not selected_sectors and selected_regions and not selected_trading_blocs %}
                                        <h3 class="margin-bottom-15">
                                            There {{ number_of_results|pluralize:"is,are" }} {{ number_of_results }} market guide{{ number_of_results|pluralize:",s" }} in the
                                            {% for region in selected_regions %}
                                                <span class="bold">{{ region }}</span>
                                                {% if not forloop.last %}or{% endif %}
                                                {% if forloop.last %}region{{ number_of_regions|pluralize:",s" }}.{% endif %}
                                            {% endfor %}
                                        </h3>
                                    {% elif not selected_sectors and not selected_regions and selected_trading_blocs %}
                                        <h3 class="margin-bottom-15">
                                            There {{ number_of_results|pluralize:"is,are" }} {{ number_of_results }} market guide{{ number_of_results|pluralize:",s" }} in the
                                            {% for trading_bloc in selected_trading_blocs %}
                                                <span class="bold">{{ trading_bloc }}</span>
                                                {% if not forloop.last %}or{% endif %}
                                                {% if forloop.last %}trading bloc{{ number_of_trading_blocs|pluralize:",s" }}.{% endif %}
                                            {% endfor %}
                                        </h3>
                                    {% else %}
                                        {% if selected_sectors or selected_regions or selected_trading_blocs %}
                                            <h3 class="margin-bottom-15">
                                                There {{ number_of_results|pluralize:"is,are" }} {{ number_of_results }} market{{ number_of_results|pluralize:",s" }}
                                                {% if selected_sectors %}
                                                    with high potential for UK businesses in
                                                    {% for sector in selected_sectors %}
                                                        <span class="bold">{{ sector }}</span>
                                                        {% if not forloop.last %}or{% endif %}
                                                        {% if forloop.last and not selected_regions %}.{% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if selected_regions %}
                                                    in the
                                                    {% for region in selected_regions %}
                                                        <span class="bold">{{ region }}</span>
                                                        {% if not forloop.last %}or{% endif %}
                                                        {% if forloop.last %}
                                                            {% if not selected_trading_blocs %}
                                                                region{{ number_of_regions|pluralize:",s" }}.
                                                            {% else %}
                                                                region{{ number_of_regions|pluralize:",s" }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if selected_trading_blocs %}
                                                    {% if selected_regions %}
                                                        and the
                                                    {% else %}
                                                        in the
                                                    {% endif %}
                                                    {% for trading_bloc in selected_trading_blocs %}
                                                        <span class="bold">{{ trading_bloc }}</span>
                                                        {% if not forloop.last %}or{% endif %}
                                                        {% if forloop.last %}trading bloc{{ number_of_trading_blocs|pluralize:",s" }}.{% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </h3>
                                        {% endif %}
                                    {% endif %}
                                    {% if selected_sectors or selected_regions or selected_trading_blocs %}
                                        <p class="margin-bottom-45-m">
                                            <a href="{{ request.path }}"
                                               class="view-markets link bold margin-top-15">Clear all filters</a>
                                        </p>
                                    {% endif %}
                                    <div class="controls margin-bottom-45-m">
                                        {% include '_button.html' with id='mobile-filter-toggle' classes='mobile-filter-toggle' href='#' text='Filter' %}
                                        {% if number_of_results %}
                                            {% if features.FEATURE_PRODUCT_EXPERIMENT_LINKS %}
                                                <a href="{% url 'core:compare-countries' %}"
                                                   class="govuk-link govuk-!-margin-left-6">Find information about your product</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grid markets-grid">
                                {% include 'components/card_grid.html' with cards=paginated_results href='' %}
                            </div>
                            <div class="markets-pagination column-two-thirds column-three-quarters-xl">
                                {% pagination pagination_page=paginated_results %}
                            </div>
                        </div>
                    </div>
                    {% include '_button.html' with input=True text='Submit form' type='submit' %}
                </form>
            </div>
            <div class="margin-top-30">{% render_markets_cta %}</div>
        </section>
    {% endblock %}
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script src="{% static 'javascript/marketFilters.js' %}"></script>
    <script>
  $(function() {
    marketFilters.init();
  });
    </script>
{% endblock %}
