{% include 'microsites/includes/microsite_header.html' %}
{% load wagtailcore_tags %}
<section class="microsite-nav-container">
    <div>
        <div>
               {% include 'microsites/includes/microsite_menu_button.html' with menu_items=page.get_menu_items active_url=active_url %}
            <div>
                <img src="/static/images/great-logo.svg"/>

            </div>
            <h3>{{ title }}</h3>
        </div>
    </div>
    <div>
        {% if menu_items|length > 1 %}
            <nav>
                <ul>
                    {% for item in menu_items %}
                        <li>
                            <a class="{% if active_url == item.url %} active{% endif %}"
                            href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
</section>
