{% include 'microsites/includes/microsite_header.html' with use_domestic_logo=use_domestic_logo %}
{% load wagtailcore_tags %}
{% load persist_language from component_tags %}
{% load i18n %}
{% load static %}
{% get_current_language as current_language %}
{% get_current_language_bidi as language_bidi %}
{% get_language_info for current_language as lang_info %}
<div class="microsite-nav-container">
    <div>
        <div>
            <div class="nav-content">
                <img alt="Great Britain and Northern Ireland"
                     src="{% static 'images/great-logo.svg' %}" />
                <h3>{{ title }}</h3>
                {% if available_languages|length == 2 %}
                    <nav aria-label="Langugages" class="mobile-single-language-toggle">
                        <ul>
                            {% for language in available_languages %}
                                {% if current_language != language.language_code %}
                                    <li>
                                        <a href="?lang={{ language.language_code }}"
                                           aria-current="false"
                                           lang="{{ language.language_code }}">{{ language.display_name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <div class="mobile-nav-buttons{% if menu_items|length > 1 and menu_items|length > 5 %} mobile-nav-buttons--force-show{% endif %}">
                {% if available_languages|length > 2 %}
                    {% include 'microsites/includes/microsite_language_mobile_menu.html' with current_language=current_language available_languages=available_languages rtl_language=lang_info.bidi %}
                {% endif %}
                {% if available_languages|length == 2 and menu_items|length > 5 %}
                    <nav aria-label="Langugages" class="desktop-language-selector">
                        <ul>
                            {% for language in available_languages %}
                                <li class="{% if lang_info.bidi %}rtl{% endif %} {% if current_language == language.language_code %}active{% endif %}">
                                    <a href="?lang={{ language.language_code }}"
                                    aria-current="{% if current_language == language.language_code %}true{% else %}false{% endif %}"
                                    lang="{{ language.language_code }}">{{ language.display_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
                {% include 'microsites/includes/microsite_menu_button.html' with menu_items=page.get_menu_items active_url=active_url rtl_language=lang_info.bidi %}
            </div>
        </div>
        {% if available_languages|length == 2 and menu_items|length < 6 %}
            <nav aria-label="Langugages" class="desktop-language-selector">
                <ul>
                    {% for language in available_languages %}
                        <li class="{% if lang_info.bidi %}rtl{% endif %} {% if current_language == language.language_code %}active{% endif %}">
                            <a href="?lang={{ language.language_code }}"
                               aria-current="{% if current_language == language.language_code %}true{% else %}false{% endif %}"
                               lang="{{ language.language_code }}">{{ language.display_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
    <div>
        {% if menu_items|length > 1 and menu_items|length < 6 %}
            <nav>
                <ul>
                    {% for item in menu_items %}
                        <li>
                            <a class="{% if active_url == item.url %} active{% endif %}{% if language_bidi %} rtl{% endif %}"
                               href="{{ item.url|persist_language:request.GET }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>
