{% load content_tags %}
{% load component_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="microsite-main {{ view.slug }}-microsite">
  <div class="container govuk-!-padding-top-7">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {% if page.page_title %}
          <h1 class="govuk-heading-l">{{ page.page_title }}</h1>
        {% endif %}

        {% if page.page_subheading %}
          <p class="govuk-heading-m great-max-width-75">{{ page.page_subheading }}</p>
        {% endif %}

        {% if page.last_published_at %}
          <p class="govuk-caption-m">
            Last updated: <time datetime="{{page.last_published_at|date:'c'}}">{{page.last_published_at|date:"j F Y"}}</time>
          </p>
        {% endif %}
      </div>
      <div class="govuk-grid-column-one-quarter">
        {% block related_content %}
          {% include 'microsites/includes/microsite_related_content_list.html' %}
        {% endblock %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div>
          {{ page.page_body }} {# StreamField content #}
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter"></div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% block related_ctas %}
          {% if page.cta_title or page.cta_teaser or page.cta_link_label and page.cta_link %}
            {% include 'microsites/includes/microsite_related_content_footer.html' %}
          {% endif %}
        {% endblock %}
      </div>
    </div>

    {% block microsite_footer %}{% endblock %}
  </div>
</div>
