{% load i18n %}
{% load get_template_translation_enabled from content_tags %}
{% load static %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}
{% if available_languages|length > 2 %}
    <div class="magna-header__menu language_menu">
        <button type="button"
                class="magna-header__dropdown-button language_button"
                data-reveal-button
                data-reveal-modal
                aria-controls="language-button">
            <img src="{% static 'images/icon-globe.svg' %}" alt="Open language menu">
        </button>
        <nav id="language-button"
             class="magna-header__dropdown {% if rtl_language %}rtl-page{% endif %}"
             aria-label="Languages">
            <ul class="magna-header__menu-items">
                {% for item in available_languages %}
                    <li>
                        <a class="{% if current_language == item.language_code %}active {% endif %}{% if item.is_rtl_language %}rtl {% endif %}{% if rtl_language %}rtl_page{% endif %}"
                           href="?lang={{ item.language_code }}"
                           lang="{{ item.language_code }}"
                           aria-current="{% if current_language == item.language_code %}true{% else %}false{% endif %}">{{ item.display_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="magna-header__overlay"></div>
    </div>
{% endif %}
