{% load i18n %}
{% load get_template_translation_enabled from content_tags %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}

{%if menu_items|length > 1%}
    <div class="magna-header__menu">
        <button type="button"
                class="magna-header__dropdown-button"
                data-reveal-button
                data-reveal-modal
                aria-controls="main-menu">
                {% if TRANSLATE_TEXT %}
                    {% translate "Menu" %}
                {% else %}
                    Menu
                {% endif %}
            <span class="magna-header__dropdown-button__icon"></span>
        </button>
        <div id="main-menu" class="magna-header__dropdown">
            <ul class="magna-header__menu-items">
                {% for item in menu_items %}
                    <li>
                        <a class="{% if active_url == item.url %}active {% endif %} "
                        href="{{ item.url }}?lang={{request.LANGUAGE_CODE}}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="magna-header__overlay"></div>
    </div>
{%endif%}
