{% load component_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="container">
  {% include 'components/breadcrumbs_cms.html' %}
</div>
<microsite class="microsite-main {{ view.slug }}-microsite">
  <div class="container">
    <header>
      <div class="grid-row">
        <div class="column-sixth">
          {% include 'components/social_share_links.html' %}
        </div>
        <div class="column-seven-twelfths">
          {% if page.type_of_microsite %}
            <p class="subheading">{{ page.type_of_microsite }}</p>
          {% endif %}
          <h1 class="heading-xlarge">{{ page.page_title }}</h1>
          {% if page.page_subheading %}
            <h2 class="heading-medium">{{ page.page_subheading }}</h2>
          {% endif %}
          {% if page.page_teaser %}
            <div class="text">
              <p>
                {{ page.page_teaser }}
              </p>
            </div>
          {% endif %}
        </div>
      </div>
    </header>
    <div class="grid-row">
      <div class="column-three-quarters">
        {% if page.hero_video %}
        <div class="video-container">
          <video controls class="width-full" id="hero-video">
              <source src="{{ page.hero_video.url }}" type="video/{{ page.hero_video.file_extension }}">
              <p>Your browser doesn't support HTML5 video. Here is a <a class="link" href="{{ page.hero_video.url }}">link to the video</a> instead.</p>
          </video>
        </div>

        {% if page.hero_video_transcript %}
        <details closed class="margin-bottom-0 rich-text">
          <summary>View video transcript</summary>
          {{ page.hero_video_transcript|richtext }}
        </details>
        {% endif %}
        {% endif %}
        {% if page.hero_image and not page.hero_video %}

            {% image page.hero_image original as hero_image_rendition %}
            <img src="{{ hero_image_rendition.url }}" alt="{{ page.hero_image.alt }}" class="width-full">
        {% endif %}

        <section class="grid-row padding-bottom-60">
          <div class="article-content">
            {{ page.page_body }} {# StreamField content #}
          </div>
        </section>
      </div>
      {% if page.type_of_microsite|lower == 'advice' %}
        <section class="grid-row">
          <div class="column-full-m">
            <div class="learn-more-container padding-top-45">
              <h2 class="learn-more-heading">Want to know more?</h2>
              <p>Learn how to start exporting with our easy-to-follow online course.</p>
            </div>
            <a href="/signup/" class="button primary-button learn-more-button margin-bottom-60">Sign up for free</a>
          </div>
        </section>
      {% endif %}
      {% block related_content %}
        {% include 'microsites/includes/microsite_related_content_list.html' %}
      {% endblock %}

    </div>

    {% block microsite_footer %}
    {% endblock %}

  </div>
</microsite>
