{% load i18n %}
{% load get_template_translation_enabled from content_tags %}
{% load persist_language from component_tags %}
{% get_template_translation_enabled as TRANSLATE_TEXT %}

{% if page.related_links %}
  <div>
    <h2 class="govuk-heading-m">
      {% if TRANSLATE_TEXT %}
        {% translate "Related content" %}
      {% else %}
          Related content
      {% endif %}
    </h2>
    <ul class="govuk-list govuk-!-padding-top-6 great-border-top-blue">
      {% for link in page.related_links %}
        <li>
          <a href="{% persist_language link.value.full_url request.GET.lang %}" class="govuk-link govuk-heading-s govuk-!-margin-bottom-3">{{ link.value.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
