{% extends 'base.html' %}
{% load static %}
{% load success_box from component_tags %}
{% block head_title %}Business Profile - Admin{% endblock %}
{% block meta_title %}Business Profile - Admin{% endblock %}
{% block content %}
    <div class="padding-bottom-45 margin-bottom-45">
        <div class="container">
            <h1 class="heading-xlarge margin-top-45">Profile settings</h1>
        </div>
    </div>
    <div class="container">
        {% if messages %}
            <div>
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        {% success_box heading="Completed" description=message box_class='width-full background-white margin-top-30' %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="grid-row grey-text">
            <div class="column-one-quarter">
                <section class="margin-bottom-30">
                    <h6 class="bold-small margin-bottom-15">Collaborator management</h6>
                    <ul>
                        {% with name='sso_profile:business-profile-admin-invite-collaborator' %}
                            <li class="margin-bottom-15{% if request.resolver_match.url_name == name %} bold-small selected-link{% endif %}">
                                <a href="{% url name %}" class="link">Invite collaborators</a>
                            </li>
                        {% endwith %}
                        {% with name='sso_profile:business-profile-admin-tools' %}
                            <li class="{% if request.resolver_match.url_name == name %}bold-small selected-link{% endif %}">
                                <a href="{% url name %}" class="link">Collaborators</a>
                            </li>
                        {% endwith %}
                    </ul>
                </section>
                {% if request.user.company.is_publishable %}
                    <section class="margin-bottom-60">
                        <h6 class="bold-small margin-bottom-15">Business profile management</h6>
                        <ul>
                            {% with name='sso_profile:business-profile-publish' %}
                                <li class="{% if request.resolver_match.url_name == name %}bold-small selected-link{% endif %} margin-bottom-15">
                                    <a href="{% url name %}" class="link">Publish settings</a>
                                </li>
                            {% endwith %}
                        </ul>
                    </section>
                {% endif %}
                <a href="{% url 'sso_profile:business-profile' %}">Back</a>
            </div>
            <div class="column-three-quarters">
                {% block inner_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
