{% extends 'business_profile/admin-base.html' %}
{% block inner_content %}
    <form method="post" enctype="multipart/form-data" novalidate="novalidate">
        {% csrf_token %}
        <h2 class="heading-large margin-top-0">Edit collaborator</h2>
        <table>
            <thead>
                <tr>
                    <th class="border-light-grey padding-top-15 padding-bottom-15"
                        scope="col">People</th>
                    <th class="border-light-grey padding-top-15 padding-bottom-15"
                        scope="col">Role</th>
                    <th class="border-light-grey padding-top-15 padding-bottom-15 numeric"
                        scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="border-white padding-top-15 padding-bottom-10" scope="row">
                        {{ collaborator.name|default:collaborator.company_email }}
                    </th>
                    <td class="border-white padding-top-15 padding-bottom-10">{{ collaborator.role|title }}</td>
                    <td class="border-white padding-top-15 padding-bottom-10 numeric"
                        width="250">{{ form.action }}</td>
                </tr>
            </tbody>
        </table>
        <button class="button primary-button">Apply</button>
    </form>
    <a class="link"
       href="{% url 'sso_profile:business-profile-admin-tools' %}">Cancel</a>
{% endblock %}
