{% extends 'base.html' %}
{% load static %}
{% block head_title %}Business profile - Account - {% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %}{% endblock %}
{% block meta_title %}Business profile - Account - {% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %}{% endblock %}
{% block head_css %}
    {{ block.super }}
    <style type="text/css">
        {% comment 'paths to background images set in css files do not get tranformed during post-processing, so the images 404 in dev, stage and prod' %}{% endcomment %}
        #selected-values-container button::after {
          content: "x";
          margin-left: 15px;
          display: inline-block;
          vertical-align: middle;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="grid-row">
            <div class="column-one-half">
                {% block form_contents %}
                    <form method="post" enctype="multipart/form-data" novalidate="novalidate">
                        {% csrf_token %}
                        {% block form %}{{ form }}{% endblock %}
                        {% block form_button %}<button class="primary-button button">Save and continue</button>{% endblock %}
                        <div>
                            <br>
                            <br>
                            {% block back_link %}
                                <a class="link" href="{% url 'sso_profile:business-profile' %}">Back</a>
                            {% endblock %}
                        </div>
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
