{% extends 'business_profile/admin-base.html' %}
{% load static %}
{% block head_css %}
    <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'fab_styles.css' %}" rel="stylesheet" type="text/css" />
    {{ block.super }}
{% endblock %}
{% block inner_content %}
    <form method="post"
          enctype="multipart/form-data"
          class="no-default-margin margin-bottom-45"
          novalidate="novalidate">
        {% csrf_token %}
        <h1 class="heading-large margin-top-0">Publishing your profile on great.gov.uk</h1>
        {% if company.is_uk_isd_company %}
            <p>
                You can publish your profile on 2 great.gov.uk platforms – great.gov.uk/trade/ and great.gov.uk UK Investment Support Directory.
            </p>
            <p>You can publish on either or both of these.</p>
            <p>Choose where you want to publish below.</p>
        {% endif %}
        {{ block.super }}
        {% if company.is_uk_isd_company %}
            {% with company.is_published_investment_support_directory as is_published %}
                <div class="publish-box border-medium {{ is_published|yesno:'border-teal,border-stone-60' }}">
                    <h2 class="heading-small">
                        {{ is_published|yesno:"Already published on great.gov.uk UK Investment Support Directory,Publish on great.gov.uk UK Investment Support Directory" }}
                    </h2>
                    <p>This business profile is ready to be published on UK Investment Support Directory on great.gov.uk.</p>
                    {% include 'gds_tooling/form_widgets/form_field.html' with field=form.is_published_investment_support_directory %}
                </div>
            {% endwith %}
        {% endif %}
        {% with company.is_published_find_a_supplier as is_published %}
            <div class="publish-box border-medium {{ is_published|yesno:'border-teal,border-stone-60' }}">
                <h2 class="heading-small">
                    {{ is_published|yesno:"Already published on great.gov.uk/trade/,Publish on great.gov.uk/trade/" }}
                </h2>
                <p>
                    This business profile can be published now on <a class="link" target="_blank" href="https://www.great.gov.uk/trade/">great.gov.uk/trade/</a>.
                </p>
                {% include 'gds_tooling/form_widgets/form_field.html' with field=form.is_published_find_a_supplier %}
            </div>
        {% endwith %}
        <div>
            <br>
            <p>By publishing, you're confirming that you're responsible for the accuracy of the content you publish.</p>
        </div>
        <button class="button primary-button">Save</button>
    </form>
    <a class="link"
       href="{% url 'sso_profile:business-profile-admin-tools' %}">Cancel</a>
{% endblock %}
