{% extends 'business_profile/base-form.html' %}
{% load static %}
{% block form_contents %}
<div id="selected-values-container" class="js-enabled-only">
    <h2 class="heading-small">International expertise selected</h2>
    <div id="selected-values"></div>
</div>
<h1 class="heading-medium">Add international expertise</h1>
<div id="business-details-form">{{ block.super }}</div>
{% endblock %}
{% block body_js %}
    <link href="{% static 'javascript/vendor/accessible-autocomplete.min.css' %}"
          media="all"
          rel="stylesheet" />
    <script type="text/javascript"
            src="{% static 'javascript/vendor/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/expertise.js' %}"></script>
    <script type="text/javascript">
      dit.components.expertise({
        multiselectElement: document.getElementById('id_expertise_countries'),
        selectedValuesElement: document.getElementById('selected-values'),
        noResultsLabel: 'No countries selected.',
      })
    </script>
{% endblock %}
