{% extends 'business_profile/base-form.html' %}
{% load static %}
{% block form_contents %}
<div id="selected-values-container" class="js-enabled-only">
    <h2 class="heading-large">Products and services</h2>
    <div id="selected-values"></div>
</div>
<h1 class="heading-large margin-top-30">Add {{ category }} services</h1>
{{ block.super }}
{% endblock %}
{% block back_link %}
    <a class="link"
       href="{% url 'sso_profile:business-profile-expertise-products-services-routing' %}">Back</a>
{% endblock %}
{% block body_js %}
    <link href="{% static 'javascript/vendor/accessible-autocomplete.min.css' %}"
          media="all"
          rel="stylesheet" />
    <script type="text/javascript"
            src="{% static 'javascript/vendor/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'javascript/products-services.js' %}"></script>
    <script type="text/javascript">
    var keywordsElement = document.getElementById('id_expertise_products_services');
    var choices = keywordsElement.getAttribute('data-choices');
    dit.components.productsServicesTypeahead({
      multiselectElement: keywordsElement,
      selectedValuesElement: document.getElementById('selected-values'),
      noResultsLabel: 'No products and services selected.',
      choices: choices ? choices.split('|') : [],
      showAllValues: true,
      placeholder: keywordsElement.getAttribute('placeholder'),
    });
    </script>
{% endblock %}
