{% extends 'includes/base_triage.html' %}
{% block form %}
    <form method="post" autocomplete="off" data-target-market-form>
        {% csrf_token %}
        <div class="govuk-form-group">
            <h2 class="govuk-caption-l">
                <span class="govuk-visually-hidden">This section is</span>Tell us about your business
            </h2>
            <h1 class="govuk-label-wrapper govuk-!-margin-bottom-4">
                <label class="govuk-heading-l">Do you currently export your products or services overseas?</label>
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-4">
                We’ll show technical support if you’re exporting and introductory information for exporting if you’re not.
            </p>
            <div class="govuk-!-margin-bottom-2">{{ form }}</div>
        </div>
        {% include 'domestic/contact/export-support/includes/continue-save-button.html' with button_text='Get support and information' %}
    </form>
{% endblock %}
