{% extends 'includes/base_triage.html' %}
{% load static %}
{% block form %}
    <form method="post"
          autocomplete="off"
          data-target-market-form
          onsubmit="return onSubmitBusinessDetails()">
        {% csrf_token %}
        <div class="govuk-form-group{% if form.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" aria-describedby="sector-hint">
                    <h1 class="govuk-fieldset__heading">What is your sector or industry?</h1>
                </legend>
                <div id="sector-hint" class="govuk-hint">
                    Enter your sector or industry and choose the closest match to get relevant information and support.
                </div>
                <div class="govuk-!-margin-bottom-2">
                    {% include 'international/includes/form_field.html' with field=form.sector help_class='govuk-label great-font-bold js-enabled-only' inputWrapperClass='prepend-search-icon' %}
                </div>
                <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-margin-left-2">or</p>
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        {{ form.cant_find_sector }}
                        <label class="govuk-label govuk-checkboxes__label" for="id_cant_find_sector">{{ form.cant_find_sector.label }}</label>
                    </div>
                </div>
            </fieldset>
        </div>
        {% include '_button.html' with text='Continue' %}
    </form>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'javascript/accessible-autocomplete.v3.01.min.js' %}"></script>
    <script type="text/javascript">
        const onSubmitBusinessDetails = () => {
            if (!document.getElementById('js-sector-select').value) {
                document.getElementById('js-sector-select-select').value = '';
            }
        }
    </script>
    <script type="text/javascript"
            src="{% static 'javascript/sector-lookup.js' %}"></script>
    <script>
        const allSectors = JSON.parse("{{autocomplete_sector_data | escapejs}}");
        GreatFrontend.SectorLookup.init(sectorData=allSectors)
    </script>
    <script type="text/javascript">autocompleteFocusOnESC('#js-sector-select', '#js-sector-select__listbox')</script>
{% endblock %}
