{% extends 'includes/base_triage.html' %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    Set-up - existing business - Business.gov.uk
{% endblock %}
{% block form %}
    <form method="post" autocomplete="off" data-target-market-form>
        {% csrf_token %}
        {{ form }}
        {% include '_button.html' with text='Continue' %}
    </form>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript">
        const errorGroup = document.querySelector('.govuk-error-message');
        if (errorGroup) {
            errorGroup.setAttribute('role', 'alert');
            errorGroup.setAttribute('tabindex', '-1');
            errorGroup.focus();
        }
    </script>
{% endblock %}
