@import 'helpers/colours';
@import '@src/stylesheets/_WizardStep';

.great-mvp-pill-button {
    &:last-of-type {
        margin-right: 0px;
    }
    margin-right: 5px;
    word-wrap: break-word;
    display: inline-block;
    border-radius: 17px;
    background-color: $mid-grey;
    color: $white;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    padding: 2px 10px;
    margin-bottom: 5px;
}
