{% load intcomma from humanize %}
{% load timezone from tz %}

<section class="container section--with-sidebar" id="export-market-data">
    <h2 class="h-l p-b-0">{{ export_marketdata.corruption_perceptions_index.country_name }}  </h2>
    <a id="remove-country" class="m-b-s inline-block" href="#">Remove <span class="visually-hidden">{{ export_marketdata.corruption_perceptions_index.country_name }}</span></a>

    <div class="flex-grid">
        <div class="c-1-3" id="export-market-data-ease-of-doing-business-rank">
            <figure class="statistic">
                <figcaption>
                    <p class="statistic__caption educational-moment__paragraph">Ease of doing business rank</p>
                    <div class="educational-moment educational-moment--tooltip">
                        <div class="js-hidden educational-moment__tooltip" id="ease-of-doing-business-tooltip">
                            <h3 class="tooltip__heading h-m">What is Ease of Doing Business Rank?</h3>
                            <p class="tooltip__paragraph">Ease of doing business ranks economies from 1 to 190, with first place being the best. A high ranking (a low numerical rank) means that the regulatory environment is conducive to business operation</p>
                        </div>
                    </div>
                </figcaption>
                <p class="statistic__figure">
                    {{ export_marketdata.easeofdoingbusiness.year_2019 }} 
                    <span class="statistic__details">out of {{ export_marketdata.easeofdoingbusiness.total }}</span>
                </p>
            </figure>
        </div>
        <div class="c-1-3" id="export-market-data-corruption-perception-index">
            <figure class="statistic">
                <figcaption>
                    <p class="statistic__caption educational-moment__paragraph">Corruption Perception Index</p>
                    <!-- This tooltip will be a dialog box in the future -->
                    <div class="educational-moment educational-moment--tooltip">
                        <div class="js-hidden educational-moment__tooltip" id="corruption-perception-index-tooltip">
                            <h3 class="tooltip__heading h-m">What is the Corruption Perception Index?</h3>
                            <p class="tooltip__paragraph">The Corruption Perception Index (CPI) is an index published annually by Transparency International since 1995 which ranks countries "by their perceived levels of public sector corruption, as determined by expert assessments and options surveys."</p>
                        </div>
                    </div>
                </figcaption>
                <p class="statistic__figure">{{ export_marketdata.corruption_perceptions_index.rank }}</p>
            </figure>
        </div>
        <div class="c-1-3" id="export-market-data-local-time">
            <figure class="statistic">
                <figcaption>
                    <p class="statistic__caption">Local time</p>
                </figcaption>
                <p class="statistic__figure">
                
                    <time>{{ datenow|timezone:export_marketdata.timezone|date:'H:i' }}</time>
                    <span class="statistic__details">GMT {{  utz_offset }} {{ export_marketdata.timezone }}</span>
                </p>
            </figure>
        </div>
    </div>
    <div class="flex-grid">
        <div class="c-1-3" id="export-market-data-duty">
            <figure class="statistic">
                <figcaption>
                    <p class="statistic__caption">Duty</p>
                </figcaption>
                <p class="statistic__figure">
                    {% widthratio rules_regulation.export_duty 1 100  %}%
                </p>
            </figure>
        </div>
        <div class="c-1-3" id="export-market-data-import-value">
            {% if lastyear_import_data %}
                <figure class="statistic">
                    <figcaption>
                        <p class="statistic__caption">
                            <span class="text-flag-red">{{ rules_regulation.commodity_name }}</span>
                            import value in {{ lastyear_import_data.last_year_data.import_value.year}}
                        </p>
                    </figcaption>
                    <p class="statistic__figure">
                        {{ lastyear_import_data.last_year_data.import_value.trade_value|intcomma }} USD
                        <span class="statistic__details">Source: Comtrade</span>
                    </p>
                </figure>
            {% endif %}
        </div>
        <div class="c-1-3" id="export-market-data-year-to-year-change">
        {% if lastyear_import_data %}
            <figure class="statistic">
                <figcaption>
                    <p class="statistic__caption">Year-to-year change</p>
                </figcaption>
                <p class="statistic__figure">
                    +{% widthratio lastyear_import_data.last_year_data.import_value.year_on_year_change 1 100  %}%
                </p>
            </figure>
        {% endif %}
        </div>
    </div>

    <button id="show-more-stats" type="button" class="button--ghost">Show more stats</button>
</section>