{% comment %}
Partial which renders out 1...n quote blocks, which is modelled in
a StreamField consisting on 1...10 rich text fields with quotes and
one author and author's role text fields.
{% endcomment %}
<div class="quote br-xs m-t-xs p-t-xs p-b-xs p-r-xs">
    <div class="great-quote">
        <div>
            {% for quote in value.quotes %}
                <blockquote>
                    {{ quote }}
                </blockquote>
            {% endfor %}
        </div>
    </div>
</div>
<div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
    <span class="great-text-dark-grey">
        {% if value.attribution %}{{ value.attribution }},{% endif %}
        {% if value.role %}{{ value.role }}{% endif %}
    </span>
</div>
