{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="p-xs bg-white g-card">
	<div class="grid">
		<div class="m-b-s {% if wide %}c-1-2{% else %}c-full{% endif %}">
			<div class="m-b-s">
			    <h3 class="h-m">{{value.title|default:'Learn'}}</h3>
			    <p class="">{{value.body|linebreaksbr}}</p>
			</div>
		    <a class="button button--secondary --button-large" icon="" theme="secondary" href="{{value.button.link.url}}">
		      {{value.button.label}}
		    </a>
		</div>
		<div class="{% if routes_wide %}c-1-2{% else %}c-full{% endif %}">
			<div class="g-card-image">
				{% image value.image max-700x300 %}
			</div>
		</div>
	</div>
</div>
