<div class='contact-consent rich-text'>
	<h3>How we use your information</h3>
	<p>The Department for International Trade will use the information provided in this form to respond to your enquiry.</p>
	<p>You can read about how we protect your data in our <a href="{{ privacy_url }}" target="_blank">privacy notice</a>.</p>

	<h3>Additional information</h3>
	<p>If you would like to receive additional information about export you can opt in below. You can opt out of these updates at any time.</p>
</div>
