<div id="hcsat"
     class="great great-overflow-visible great-container govuk-!-padding-top-6  govuk-!-padding-left-0  govuk-!-padding-right-0">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div id="csat-step-1-submission-confirmation"
                 class="csat-submission-confirmation{% if hcsat_stage != 1 or hcsat_form.errors %} great-hidden{% endif %}"
                 aria-live="polite"
                 tabindex="-1">
                <div class="csat-submission-confirmation__heading">
                    <span role="img" class="fa fa-check-circle"></span>
                    <h2 class="govuk-fieldset__legend govuk-!-margin-bottom-0">Thank you for submitting your rating</h2>
                </div>
            </div>
            <div id="csat-step-2-submission-confirmation"
                 class="csat-submission-confirmation{% if hcsat_stage != 2 or hcsat_form.errors %} great-hidden{% endif %}"
                 aria-live="polite"
                 tabindex="-1">
                <div class="csat-submission-confirmation__heading">
                    <span role="img" class="fa fa-check-circle"></span>
                    <h2 class="govuk-fieldset__legend govuk-!-margin-bottom-0">Thank you for helping us to improve this service</h2>
                </div>
            </div>
        </div>
        <div id="info-message"
             class="govuk-grid-column-two-thirds {% if hcsat_stage != 1 %}great-hidden{% endif %}">
            <p class="govuk-fieldset__legend great-font-bold govuk-!-margin-bottom-6 govuk-!-margin-top-0">
                <br>
                {% if leading_text %}
                    {{ leading_text }}
                {% else %}
                    To help us improve our service, we'd like to know more about your booking experience today. It will only take a minute to complete.
                {% endif %}
            </p>
        </div>
    </div>
    <form method="post"
          novalidate
          action="{{ request.build_absolute_uri }}#hcsat"
          id="csat-form"
          class="govuk-!-margin-top-0">
        {% csrf_token %}
        {{hcsat_form}}
        <div class="govuk-grid-row govuk-!-margin-bottom-4">
            <div class="govuk-grid-column-one-half-from-desktop great-actions-group{% if hcsat_stage == 2 %} great-hidden{% endif %}">
                {% if hcsat_stage == 0 %}
                    {% include '_button.html' with input=True text='Submit and continue' type='submit' %}
                {% else %}
                    {% include '_button.html' with input=True text='Submit feedback' type='submit' %}
                {% endif %}
                {% if hcsat_stage != 1 %}
                    {% include '_button.html' with input=True text='Cancel' type='submit' name='cancelButton' classes='govuk-button--secondary great-hidden' %}
                {% else %}
                    {% include '_button.html' with input=True text='Cancel' type='submit' name='cancelButton' classes='govuk-button--secondary' %}
                {% endif %}
            </div>
        </div>
    </form>
</div>
