{% load wagtailimages_tags %}
{% load routablepageurl from wagtailroutablepage_tags %}
<div class="shared-personalisation-bar">
    <nav class="shared-personalisation-bar-nav"
         id="personalisation-bar">
        <span id="set-product-button">My products</span>
        <span id="set-country-button">My markets</span>
    </nav>
</div>
<script type="text/javascript">
  magna.ProductFinderButton({
    element: document.querySelector('#set-product-button'),
  })
  magna.CountryFinderButton({
    element: document.querySelector('#set-country-button'),
  })
</script>
