
{% load wagtailimages_tags %}
{% load routablepageurl from wagtailroutablepage_tags %}
{% with product=export_plan.export_commodity_codes.0 market=export_plan.export_countries.0 %}
  <nav class="p-v-xs p-h-xs bg-blue-deep-80 c-full-width text-white" id="personalisation-bar">
      <span class="m-f-xs m-r-xxs">I want to export</span>
      <span id="set-product-button" data-text="{{product.commodity_name}}">
        <button class="tag {% if not product %}tag--tertiary{% endif %} tag--icon">{{product.commodity_name|default:'add product'}}<i class="fas {% if product %}fa-chevron-edit{% else %}fa-chevron-plus{% endif %}"></i></button>
      </span>
      <span class="m-f-xxs m-r-xxs">to</span>
      <span id="set-country-button" data-text="{{market.country_name}}" data-commodity-code="{{product.commodity_code}}">
        <button class="tag {% if not market %}tag--tertiary{% endif %} tag--icon">{{market.country_name|default:'add country'}}<i class="fas {% if market.country_name %}fa-chevron-edit{% else %}fa-chevron-plus{% endif %}"></i></button>
      </span>
  </nav>
{% endwith %}

<script type="text/javascript">
  ditMVP.ProductFinder({
    element: document.querySelector("#set-product-button")
  })
  ditMVP.CountryFinder({
    element: document.querySelector("#set-country-button")
  })
</script>
