
{% load wagtailimages_tags %}
{% load routablepageurl from wagtailroutablepage_tags %}

<nav class="p-t-xxs p-h-xs p-b-xxs bg-white w-full-viewport" id="personalisation-bar">
    <span class="m-f-xs m-r-xxs">I am interested in exporting</span>
    <span id="set-product-button">
        {% if profile.expertise_products_services %}
            {% for label in profile.expertise_products_services %}
                <button class="button button--primary button--round-corner">{{ label }}</button>
            {% endfor %}
        {% else %}
            <button class="button button--primary button--round-corner">add products</button>
        {% endif %}
    </span>
    <span class="m-f-xxs m-r-xxs">to</span>
    <span id="set-country-button">
        {% if profile.expertise_countries_labels %}
            {% for label in profile.expertise_countries_labels %}
                <button class="button button--primary button--round-corner">{{ label }}</button>
            {% endfor %}
        {% else %}
            <button class="button button--primary button--round-corner">add countries</button>
        {% endif %}
    </span>
</nav>

<script type="text/javascript">
    var countriesModalElement = document.createElement('div');
    document.body.appendChild(countriesModalElement);        
    ditMVP.CountriesModal({element: countriesModalElement});

    {% if request.user.is_authenticated %}
      ditMVP.ProductFinder({
        element: document.querySelector("#set-product-button")
      })
    {% endif %}
</script>
