
{% load wagtailcore_tags %}
{% load set %}

{% comment %}
****************
A horizontal bar consisting of routing sections - each with a title, body, image and button.
As seen at the top of the domestic dashboard.
**************
{% endcomment %}


{# Build a list of valid routing blocks #}
{% if routes %}
  {% set 'routeList' None %}
  {% for key, component in routes.items %}
      {% if component.value.enabled %}
        {% push 'routeList' component %}
      {% endif %}
  {% endfor %}
  {% if store.routeList|length < 3 %}
    {% set 'routes_wide' True %}
  {% endif %}
  <div class="grid" id="pre-journey-routing-component">
      {% for component in store.routeList  %}
          <article class="dashboard__routing-block c-1-{{store.routeList|length}}-l {% if routes_wide %}wide{% endif %}">
            {% include_block component with wide=routes_wide %}
          </article>
      {% endfor %}
  </div>
  <script>
    (() => {
      const blockList = document.body.querySelectorAll('#pre-journey-routing-component .dashboard__routing-block .g-card')
      const fixHeights = () => {
        let height = 0;
        blockList.forEach((block) => {
          block.style.height = 'auto';
          height = Math.max(height,block.offsetHeight);
        })
        blockList.forEach((block) => {
          block.style.height = height+'px';
        })
      }

      window.addEventListener('resize', fixHeights)
      fixHeights();
    })()
  </script>
{% endif %}
