@font-face {
    font-family: 'FS Lucas';
    src: url('FSLucas-Regular.woff2') format('woff2'),
        url('FSLucas-Regular.woff') format('woff'),
        url('FSLucas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
