@import 'helpers/_colours';

@import '@src/stylesheets/_WizardStep';


.great-mvp-signup-wizard-step-2 {

    .great-mvp-synopsis {
        margin-top: 0;
        font-size: 19px;
        margin-bottom: 30px;
    } 

}
