@import '../../index.css';

:root {
    --small-spinner: 26px;
    --large-spinner: 48px;
}

.spinner {
    animation: rotation 3s ease-in-out infinite;
    position: relative;
    margin: 0 auto;

    div {
        animation: rotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.15em;
        box-sizing: border-box;
        display: block;
        height: 100%;
        position: absolute;
        transform: rotate(45deg);
        width: 100%;

        &:nth-child(2) {
            animation-delay: -0.3s;
            transform: rotate(225deg);
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
            transform: rotate(315deg);
        }

        &:nth-child(4) {
            animation-delay: -0.07s;
            transform: rotate(225deg);
        }
    }

    &.dark {
        div {
            border-color: var(--colour-black-70) transparent transparent;

            &:nth-child(1) {
                border-color: color(var(--colour-black-100) alpha(-90%));
            }
        }
    }

    &.light {
        div {
            border-color: var(--colour-white-100) transparent transparent;

            &:nth-child(1) {
                border-color: color(var(--colour-white-100) alpha(-90%));
            }
        }
    }

    &.sm {
        display: inline-block;
        height: var(--small-spinner);
        width: var(--small-spinner);
        top: -1px;

        div {
            border-width: 0.15em;
        }
    }

    &.lg {
        height: var(--large-spinner);
        width: var(--large-spinner);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
