// PAGE: CONTACT
// ------------------------------------------------

@import './partials/base';

section {
  background-color: #F6F4F0;
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  h1.heading-xlarge {
    font-size: 20px;
  }
}

#further-help-link {
	margin-top: 50px;
	margin-bottom: 50px;
}
