// PAGE: CONTACT
// ------------------------------------------------

@import './partials/base';
@import '../../styles/colors/colors.scss';

section {
  background-color: $color-main-background;
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  h1.heading-xlarge {
    font-size: 20px;
  }
}

#further-help-link {
	margin-top: 50px;
	margin-bottom: 50px;
}

.guidance-content{
    ol {
        padding: 0 0 0 20px;
        list-style-position: outside;
        list-style-type: decimal;
        margin-top: 5px;
        margin-bottom: 20px;

        li {
            margin-bottom: 5px;
        }
    }
}
