@import 'partials/colours';
@import 'partials/utils';

.get-finance {

  .service-card {
    flex-direction: row;

    .advantages-content {
      padding-left: 30px;
      width: calc(100% - 40px);
    }
  }

  .get-finance-video {
    background-color: $stone-30;

    video {
      width: 100%;
    }
  }

}

@media (min-width: 641px) {
  .ukef-contact-section-cta-box {
    .button-container {
      .button.primary-button {
        width: auto;
      }

    }
  }
}

@media (min-width: 961px) {
  .ukef-contact-section-cta-box {
    .button-container {
      text-align: right;
      .button.primary-button {
        width: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .evidence-section {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .get-finance {
    .contact-section,
    .contact-section-bottom {
      padding-bottom: 30px;
      padding-top: 30px;

      & > .container {
        margin: 0;

      }
      .button-large {
        font-size: 20px;
        padding: 15px;

      }
    }

    .ukef-logo {
      display: none;
    }

    .video-container {
      margin-bottom: 30px;
    }
  }
}
