.uk-export-country-cover{
  .country-cover-link{
    display: inline-block;
    border-left: 6px solid #d8d8d8;
    padding: 12px 24px;
  }

  .hero-title-compact{
    max-width: 645px;
    .heading-hero-generic-compact{
      font-size: 52px;
    }
  }
}
