@import 'partials/utils';
@import 'partials/typography';
@import 'partials/colours';

.uk-export-finance-landing {

  .hero-title-compact{
    width: 100%;
  }

  .teaser-text{
    line-height: 1.58;
  }

  .more-about-section{
    .heading-small{
      margin-top: 0.5em;
    }
  }

  .why-we-offer-section{
    .offer-section-image{
      width: 100%;
    }

  }

  .hero-title{
    font-size: 52px;
  }

  .about-us-and-our-services{
    .description{
      font-size: 16px;
    }
  }

  .heading-hero-generic-compact{
    text-transform:none;
  }

  .card {
    min-height: 185px;
    height: auto;
  }

  .your-next-step-section{
    .text{
      font-size: 19px;
    }
  }

}
