{% load static %}

<header class="demo-header">
  <div class="header-main">
    <div class="container">
      <div class="grid-row">
        <img class="header-footer-logo" src="{% static 'directory_components/images/dfit-logo-white.png' %}" height="70" alt="Department for International Trade">
        <div class="home-link-container">
          <a href="{% url 'index' %}" class="link home-link heading-medium">directory-components</a>
        </div>
      </div>
    </div>
  </div>
  <div class="red-border container"></div>
</header>
