{% load static %}

<header id="great-domestic-header" class="g-header g-domestic-header" dir="ltr" data-ga-section="header">
  {% include 'great_components/header_footer/global_header.html' with header_class="domestic" %}

  <div class="menu">
    <div class="container">
      {% block header_logo %}
        {% static 'great_components/images/eig-logo-stacked.svg' as logo_image_url %}
        {% include 'great_components/header_footer/header_logo.html' with url=services_urls.exred image_source=logo_image_url image_alt_text='Exporting is Great' %}
      {% endblock %}

      {% block login_state %}
      <ul class="extra-links">
        {% include 'great_components/header_footer/sso_login.html' %}
      </ul>
      {% endblock %}

      {% include 'great_components/header_footer/mobile_menu_button.html' %}

      {% include 'great_components/header_footer/domestic_header_nav.html' with device_type='desktop' js_tag=false %}
      {% include 'great_components/header_footer/search.html' %}
    </div>

    {% include 'great_components/header_footer/domestic_header_nav.html' with id='great-header-mobile-nav' device_type='mobile' js_tag=True %}

  </div>
</header>
