@import '!colours/palette';
@import '../../sass/partials/colours';

$govuk-blue: $active-blue;
$button-colour: $active-blue;
$link-colour: $active-blue;
$discovery-colour: $active-blue;
$alpha-colour: $active-blue;
$beta-colour: $active-blue;
$mainstream-brand: $active-blue;
$border-colour: $active-blue;
$focus-colour: $focus-yellow;
