{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment {{ block.super }}{% endblock %}
{% block meta_title %}Investment {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block content %}
    {% include './includes/landing_hero.html' %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Why the UK?</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half-from-desktop">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-heading-xl investment-home-why-the-uk-green-heading">1st</p>
                        <p class="govuk-body">in Europe for total value and number of investment projects</p>
                        <p class="govuk-body investment-home-why-the-uk-source">EY Attractiveness Survey 2023</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-heading-xl investment-home-why-the-uk-green-heading">3rd</p>
                        <p class="govuk-body">most active and capital-intensive venture capital market in the worlds</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-heading-xl investment-home-why-the-uk-green-heading">£600bn</p>
                        <p class="govuk-body">commitment from the UK government towards investment opportunities</p>
                        <p class="govuk-body investment-home-why-the-uk-source">Build Back Better.GOV.UK</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-heading-xl investment-home-why-the-uk-green-heading">78%</p>
                        <p class="govuk-body">drop in emissions by 2035 – most ambitious climate target of any major economy in the world</p>
                        <p class="govuk-body investment-home-why-the-uk-source">Slashing emissions by 78%.GOV.UK</p>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half-from-desktop">
                <div class="investment-home-map"></div>
            </div>
        </div>
    </div>
{% endblock %}
