{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment {{ block.super }}{% endblock %}
{% block meta_title %}Investment {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block content %}
    {% include './includes/landing_hero.html' %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Why the UK?</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half-from-desktop">
                <div class="govuk-grid-row govuk-!-margin-bottom-4">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-heading-xl govuk-!-margin-bottom-2 investment-home-why-the-uk-green-heading">1st</p>
                        <p class="govuk-body investment-home-why-the-uk-sub-text">
                            in Europe for total value and number of investment projects
                        </p>
                        <a class="govuk-link"
                           target="_blank"
                           rel="noopener noreferrer"
                           href="https://www.ey.com/en_uk/attractiveness">EY Attractiveness Survey 2023</a>
                    </div>
                </div>
                <div class="govuk-grid-row govuk-!-margin-bottom-4">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-heading-xl govuk-!-margin-bottom-2 investment-home-why-the-uk-green-heading">3rd</p>
                        <p class="govuk-body investment-home-why-the-uk-sub-text">
                            most active and capital-intensive venture capital market in the worlds
                        </p>
                    </div>
                </div>
                <div class="govuk-grid-row govuk-!-margin-bottom-4">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-heading-xl govuk-!-margin-bottom-2 investment-home-why-the-uk-green-heading">£600bn</p>
                        <p class="govuk-body investment-home-why-the-uk-sub-text">
                            commitment from the UK government towards investment opportunities
                        </p>
                        <a class="govuk-link"
                           target="_blank"
                           rel="noopener noreferrer"
                           href="https://www.gov.uk/government/publications/build-back-better-our-plan-for-growth">Build Back Better publication, GOV.UK</a>
                    </div>
                </div>
                <div class="govuk-grid-row govuk-!-margin-bottom-4">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-heading-xl govuk-!-margin-bottom-2 investment-home-why-the-uk-green-heading">78%</p>
                        <p class="govuk-body investment-home-why-the-uk-sub-text">
                            drop in emissions by 2035 – most ambitious climate target of any major economy in the world
                        </p>
                        <a class="govuk-link"
                           href="https://www.gov.uk/government/news/uk-enshrines-new-target-in-law-to-slash-emissions-by-78-by-2035"
                           target="_blank"
                           rel="noopener noreferrer">Slashing emissions by 78%, GOV.UK</a>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half-from-desktop">
                <div class="investment-home-map"></div>
            </div>
        </div>
    </div>
{% endblock %}
