{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment {{ block.super }}{% endblock %}
{% block meta_title %}Investment {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Investment opportunities</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half-from-desktop">
                <p>Test entry point page</p>
            </div>
            <div class="govuk-grid-column-one-half-from-desktop">
                <div class="investment-home-map"></div>
            </div>
        </div>
    </div>
{% endblock %}
