{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment contact details {{ block.super }}{% endblock %}
{% block meta_title %}Investment fcontact details {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-padding-3">
            <div class="govuk-grid-column-two-thirds">
                <a href="{{ back_url }}"
                   class="govuk-back-link govuk-!-font-size-19 govuk-grid-row">Back</a>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-l">Your contact details</h3>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">{% include 'international/includes/error_summary.html' %}</div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="govuk-grid-row govuk-!-margin-bottom-6">
                            <div class="govuk-grid-column-full">
                                <div class="{% if field.errors %} govuk-form-group--error{% endif %}">
                                    {% include 'international/includes/form_field.html' with field=field %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="govuk-grid-row govuk-!-margin-bottom-5">
                        <div class="govuk-grid-column-full">
                            {% include 'international/includes/submit_button.html' with button_text='Submit' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
