{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment type {{ block.super }}{% endblock %}
{% block meta_title %}Investment type {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-padding-3">
            <div class="govuk-grid-column-two-thirds">
                <a href="{{ back_url }}"
                   class="govuk-back-link govuk-!-font-size-19 govuk-grid-row">Back</a>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-l">What are you interested in investing in?</h3>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">{% include 'international/includes/error_summary.html' %}</div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post">
                    {% csrf_token %}
                    <div class="govuk-form-group{% if form.investment_type.errors or form.investment_type_other.errors %} govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading govuk-hint govuk-!-margin-bottom-0"
                                    id="{{ form.investment_type.auto_id }}">{{ form.investment_type.help_text }}</h2>
                            </legend>
                            {% for error in form.investment_type.errors %}
                                <p class="govuk-error-message" role="alert">
                                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                                </p>
                            {% endfor %}
                            <div class="govuk-checkboxes"
                                 data-module="govuk-checkboxes"
                                 id="investment_type">
                                {% for action in form.investment_type %}
                                    <div class="govuk-checkboxes__item">
                                        <input {% if action.data.value in form.investment_type.value %}checked{% endif %}
                                               {% if action.data.value == 'OTHER' %}data-aria-controls="conditional-investment-type-{{ forloop.counter0 }}"{% endif %}
                                               type="checkbox"
                                               name="investment_type"
                                               value="{{ action.data.value }}"
                                               class="govuk-checkboxes__input"
                                               id="{{ action.id_for_label }}">
                                        <label class="govuk-label govuk-checkboxes__label"
                                               for="{{ action.id_for_label }}">{{ action.choice_label }}</label>
                                    </div>
                                    {% if action.data.value == 'OTHER' %}
                                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                             id="conditional-investment-type-{{ forloop.counter0 }}">
                                            <div class="govuk-form-group">
                                                {% include 'international/includes/form_field.html' with field=form.investment_type_other %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-5">
                        <div class="govuk-grid-column-full">
                            {% include 'international/includes/submit_button.html' with button_text='Save and continue' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
