{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment fund submission success {{ block.super }}{% endblock %}
{% block meta_title %}Investment fund submission success {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-padding-top-3">
            <div class="govuk-grid-column-two-thirds">
                {% include 'eyb/includes/govuk/panel.html' with title_text="Success" %}
                <h2 class="govuk-heading-m govuk-!-margin-top-5">Your details have been sent to the investment team</h2>
                <h3 class="govuk-heading-s govuk-!-margin-top-7">What happens next?</h3>
                <p class="govuk-body">
                    If you are eligible for one-to-one support, an adviser will get in touch with you soon to discuss investment  opportunities.
                </p>
                {% url 'international_investment:index' as investment_index_url %}
                {% include 'international/includes/start_button.html' with href=investment_index_url button_text='Return to home' %}
            </div>
        </div>
    </div>
{% endblock %}
