{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment fund {{ block.super }}{% endblock %}
{% block meta_title %}Investment fund {{ block.super }}{% endblock %}
{% block head_css %}
    {{ block.super }}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row govuk-!-padding-3">
            <div class="govuk-grid-column-two-thirds">
                <a href="{{ back_url }}"
                   class="govuk-back-link govuk-!-font-size-19 govuk-grid-row">Back</a>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-l">Tell us about your investment fund</h3>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">{% include 'international/includes/error_summary.html' %}</div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" onsubmit="return onSubmitInvestmentFund()">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="govuk-grid-row govuk-!-margin-bottom-6">
                            <div class="govuk-grid-column-full">
                                <div class="{% if field.errors %} govuk-form-group--error{% endif %}">
                                    {% include 'international/includes/form_field.html' with field=field %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="govuk-grid-row govuk-!-margin-bottom-5">
                        <div class="govuk-grid-column-full">
                            {% include 'international/includes/submit_button.html' with button_text='Save and continue' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static 'javascript/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/countries.js' %}"></script>
    <script type="text/javascript">
    function onSubmitInvestmentFund() {
        if (!document.getElementById('js-location-select').value)
            document.getElementById('js-location-select-select').value = '';
    }
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.getElementById('js-location-select'),
      source: countries,
      autoselect: false,
      minLength: 2,
    });
    </script>
{% endblock %}
