{% extends './base.html' %}
{% load static %}
{% block head_title %}Investment fund {{ block.super }}{% endblock %}
{% block meta_title %}Investment fund {{ block.super }}{% endblock %}
{% block head_other %}
    <meta name="description"
          content="Find information to help invest within the UK" />
{% endblock %}
{% block content %}
    <div class="govuk-width-container great-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Investment Fund Triage Step</h1>
            </div>
        </div>
    </div>
{% endblock %}
