{% extends './base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load content_tags %}
{% block head_title %}{{ page.article_title }} article {{ block.super }}{% endblock %}
{% block meta_title %}{{ page.article_title }} article {{ block.super }}{% endblock %}
{% block head_css %}{{ block.super }}{% endblock %}
{% block content %}
    <section>
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-caption-xl">Investment opportunity</p>
                    <h1 class="govuk-heading-xl">{{ page.article_title }}</h1>
                </div>
            </div>
            {% if page.article_image %}
                <div class="govuk-grid-row govuk-!-margin-bottom-4">
                    <div class="govuk-grid-column-two-thirds">
                        {% image page.article_image original as rendition %}
                        <div class="image-container"
                             style="background-image: url({{ rendition.url }})"></div>
                    </div>
                </div>
            {% endif %}
            {% if page.article_subheading %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">{{ page.article_subheading }}</h2>
                    </div>
                </div>
            {% endif %}
            {% if page.article_teaser %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body-l">{{ page.article_teaser }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-body">
                                <strong>Location</strong>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-body">
                                <i class="fa fa-map-marker-alt govuk-!-margin-right-1"
                                   aria-hidden="true"></i> {{ page.location }}, {{ page.region }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-body">
                                <strong>Investment type</strong>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-body">
                                {{ page.investment_type }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-body">
                                <strong>Sector</strong>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-body">
                                {{ page.sector }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    {% if page.investment_type == 'Foreign direct investment' or page.investment_type == 'Freeports' %}
        <section class="light-green-background govuk-!-padding-top-6">
            <div class="great-container">
                {% include 'investment/includes/opportunity_contact.html' with button_preamble="Take advantage of this opportunity to expand your business in the UK" %}
            </div>
        </section>
    {% endif %}
    <section class="govuk-!-padding-top-6">
        <div class="great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">{% include_block page.article_body %}</div>
            </div>
        </div>
    </section>
    {% if page.data_points %}
        <section class="light-green-background govuk-!-padding-top-7">
            <div class="great-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        {% for points in page.data_points %}
                            {% for data_point in points.value %}
                                {% cycle 'one' 'two' 'three' as parity silent %}
                                {% if parity == 'one' %}<div class="govuk-grid-row great-card-row">{% endif %}
                                    <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop govuk-!-padding-bottom-6">
                                        <p class="govuk-body">
                                            <span class="govuk-heading-l govuk-!-margin-bottom-0">{{ data_point.value.title }}</span>
                                            {{ data_point.value.description }}
                                        </p>
                                    </div>
                                    {% if parity == 'three' %}</div>{% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if page.article_case_studies %}
        <section class="light-blue-background govuk-!-padding-top-7 govuk-!-padding-bottom-7">
            <div class="great-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                        {% include_block page.article_case_studies %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if page.investment_type == 'Foreign direct investment' or page.investment_type == 'Freeports' %}
        <section class="light-green-background govuk-!-padding-top-7 govuk-!-padding-bottom-4">
            <div class="great-container">
                {% include 'investment/includes/opportunity_contact.html' with button_preamble="Take advantage of this opportunity to expand your business in the UK" %}
            </div>
        </section>
    {% endif %}
{% endblock %}
