{% extends './base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block head_title %}Investment regions {{ block.super }}{% endblock %}
{% block meta_title %}Investment regions {{ block.super }}{% endblock %}
{% block content %}
    {% include './includes/hero_no_text.html' with css_classes='investment-regions-section' %}
    <section class="investment-section-overlap">
        <div class="govuk-width-container great-container investment-white-background govuk-!-padding-6">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">UK nations and regions</h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <p class="govuk-body-l">
                        Discover the economic power of UK nations and regions with their mix of industries that invites business, trade and investment from around the world.
                    </p>
                </div>
            </div>
            <div class="govuk-grid-row great-card-row">
                {% for region in self.get_children.specific %}
                    {% image region.article_image original as rendition %}
                    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                        {% include 'components/great/card.html' with heading_class="govuk-heading-m" heading_level="h2" classes="great-card--cta great-international-card--cta" content_class="govuk-body govuk-!-margin-bottom-7" tag_container_outer_class="govuk-!-margin-bottom-0" show_title_link=True image_src=rendition.url image_alt=region.title title=region.title content=region.article_teaser url=region.url %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
