{% extends './base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block head_title %}Investment sectors {{ block.super }}{% endblock %}
{% block meta_title %}Investment sectors {{ block.super }}{% endblock %}
{% block css_layout_class %}
{% endblock css_layout_class %}
{% block content %}
    {% include './includes/hero_no_text.html' with css_classes='investment-sectors-section' %}
    <section class="investment-section-overlap">
        <div class="great-container white-background govuk-!-padding-6">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Sectors</h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <p class="govuk-body-l">
                        The UK's cutting-edge technology and revolutionary research is leading the race to a net zero carbon economy. Join the green revolution by investing and trading with UK industries.
                    </p>
                </div>
            </div>
            <div class="great-ds-card-container">
                {% for sector in self.get_children.specific %}
                    {% image sector.article_image original as rendition %}
                    {% include '_card.html' with type="mounted-blue" href=region.url imageUrl=rendition.url title=sector.title description=sector.article_teaser id=page.slug classes="great-ds-card--3" titleSize="m" %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
