<template>
    <header>
        <great-link href="/">
            <great-logo size="sm"></great-logo>
        </great-link>
        <nav>
            <ul>
                <slot name="navigation">
                    <li>
                        <great-link href="/">Menu item 1</great-link>
                    </li>
                    <li>
                        <great-link href="/">Menu item 2</great-link>
                    </li>
                </slot>
            </ul>
        </nav>
        <div class="logged-in-wrapper">
            <slot name="avatar"><great-avatar></great-avatar></slot>
            <p>Hello <slot name="name">Unknown Name</slot></p>
            <great-link href="/" size="sm" theme="secondary">Dashboard</great-link>
            <great-icon name="menu" size="lg"></great-icon>
        </div>
    </header>
</template>