@import '../../index.css';

/* 
--mobile: 640px;
--tablet: 768px;
--desktop: 1024px;
*/

:host {
    display: block;
}

header {
    background-color: var(--colour-white-100);
    display: flex;
    flex-wrap: nowrap;
    height: 80px;
    justify-content: space-between;
    position: relative;

    & > great-link {
        flex-grow: 0;
        margin: 12px 0 12px 20px;
    }
}

nav {
    flex-grow: 1;
    padding-left: 32px;
    display: none;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    white-space: nowrap;

    ::slotted(li),
    li {
        display: inline-block;
        margin: 32px 32px 32px 0;
    }
}

.logged-in-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-wrap: nowrap;
    margin-left: 24px;
    padding: 0 24px;

    p {
        color: var(--colour-white-100);
        display: none;
        font-family: 'FS Lucas', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        padding: 0 24px 0 12px;
    }

    & > great-link {
        display: none;
    }

    great-icon[name='menu'] {
        display: block;
        margin-left: 24px;
        cursor: pointer;
    }
}

.mobile-menu-wrapper {
    align-items: flex-end;
    animation-timing-function: 1s ease-in;
    background: var(--colour-white-100);
    bottom: 0;
    box-shadow: 0 0 10px var(--colour-black-40);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 250px;
    padding: 0;
    position: fixed;
    right: -250px;
    top: 0;
    transition: all 0.3s;

    .mobile-menu {
        list-style: none;
        margin: 0;
        padding: 0 0 0 0;
        width: 100%;
    }

    li {
        border-top: 1px solid var(--colour-black-10);
        padding: 32px;
    }

    .details {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        padding: 32px 32px 16px 24px;
        width: 100%;
    }

    p {
        flex-grow: 1;
        font-family: 'FS Lucas', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        max-width: 140px;
        overflow: hidden;
        padding: 0 0 0 12px;
    }

    great-avatar {
        flex-grow: 0;
    }

    great-icon[name='close'] {
        flex-grow: 0;
        cursor: pointer;
        margin: 32px 32px 0;
    }
}

@media (width > 768px) {
    header {
        justify-content: flex-start;
    }

    nav {
        display: block;
    }

    .logged-in-wrapper {
        background-color: #4b426d; /* TODO: change to var colour */
        margin-left: 0px;

        p {
            display: block;
        }

        great-link {
            display: block;
        }

        great-icon[name='menu'] {
            display: none;
        }
    }
}
