<html>
    <head>
        <script src="../../../node_modules/wct-browser-legacy/browser.js"></script>
        <script type="module" src="header.js"></script>
    </head>
    <body>
        <great-header theme="primary"></great-header>
        <script>
            suite('header', function() {
                const header = document.body.querySelector('great-header')

                test('renders', function() {
                    assert.equal(header.getAttribute('theme'), 'primary')
                })
            })
        </script>
    </body>
</html>
