{% extends 'core/page_blank.html' %}
{% load static %}
{% block head_title %}UK Export Academy{% endblock %}
{% block meta_title %}UK Export Academy{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
{% block content %}
    <div id="sign-up" class="great">
        <div class="great-signup">
            <div class="great-signup__form-panel">
                <a href="/" class="inline-block">
                    <img class="great-signup__logo"
                         src="{% static 'images/dbt_logo_335x160.png' %}"
                         alt="Department for Business and Trade"
                         width="335"
                         height="160" />
                </a>
                <h2 class="govuk-heading-m great-display-until-desktop govuk-!-text-align-left govuk-!-padding-top-4">
                    {% block small_screen_heading %}{% endblock %}
                </h2>
                <form class="great-signup__form govuk-!-margin-top-6"
                      action=""
                      method="post"
                      autocomplete="off"
                      novalidate="novalidate">
                    {% block form %}{% endblock %}
                </form>
            </div>
            <div class="great-signup__info-panel ea-signup-panel hide_image_below_1200">
                <div class="great-signup__info-panel__content">
                    <h2 class="govuk-!-text-align-left govuk-heading-m">
                        {% block right_panel_heading %}{% endblock %}
                    </h2>
                    <div class="govuk-!-margin-top-6">
                        {% block right_panel_content %}{% endblock %}
                        <img class="ea-logo hide-logo-below-1200"
                             src="{% static 'images/uk-export-academy-logo.svg' %}"
                             alt="UK Export Academy" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
