{% extends 'export_academy/accounts/base.html' %}
{% load static %}
{% block form %}
    <h1 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-6 ukea-signin-link">Sign in</h1>
    {% if existing_ea_user %}
        {% include 'export_academy/accounts/includes/existing_user_form_fields.html' %}
    {% else %}
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="govuk-form-group {% if field.errors %}govuk-form-group--error govuk-!-margin-top-6{% endif %}">
                {% include 'domestic/contact/includes/govuk-form-field.html' with field=field label_classes='great-signup-form-label great-font-weight-semi-bold great-font-size-18 great-line-height-30' %}
            </div>
        {% endfor %}
    {% endif %}
    <p class="govuk-!-margin-bottom-2">
        <a class="govuk-link"
           href="{{ javascript_components.password_reset_url }}">Forgotten password?</a>
    </p>
    <button type="submit"
            class="govuk-button govuk-!-margin-top-4 ukea-signin-link great-width-auto">Sign in</button>
    <p class="govuk-body govuk-!-margin-bottom-6">
        Don't have an account? <a class="govuk-link"
    href="{% url 'export_academy:signup' %}{% if next %}?next={{ next }}{% endif %}">Sign up</a>
    {% endblock %}
    {% block small_screen_heading %}{{ heading }}{% endblock %}
    {% block right_panel_heading %}{{ heading }}{% endblock %}
    {% block right_panel_content %}
        {% if existing_ea_user %}
            {% include 'export_academy/accounts/includes/existing_user_body_text.html' with is_signin=True %}
        {% else %}
            {% include 'export_academy/accounts/includes/new_user_body_text.html' with is_signin=True %}
        {% endif %}
    {% endblock %}
    {% block body_js %}
        {{ block.super }}
        <script src="{% static 'javascript/govuk.js' %}"></script>
        <script>window.GOVUKFrontend.initAll()</script>
        <script src="{% static 'javascript/great.password-reveal.js' %}"></script>
        <script type="text/javascript">GreatFrontend.PasswordInput.init()</script>
    {% endblock %}
