{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set bodyClasses="great" %}

{% block pageTitle %}
  Great design system
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    GREAT Design System
  </h1>
  <nav class="components-list">
    <ul>
      <li><a class="govuk-link" href="#typography">Typography</a></li>
      <li><a class="govuk-link" href="#buttons">Buttons</a></li>
      <li><a class="govuk-link" href="#backgrounds">Backgrounds</a></li>
      <li><a class="govuk-link" href="#hrs">Horizontal Rules</a></li>
      <li><a class="govuk-link" href="#links">Links</a></li>
      <li><a class="govuk-link" href="#forms">Forms</a></li>
      <li><a class="govuk-link" href="#spacing">Spacing</a></li>
      <li><a class="govuk-link" href="#cards">Cards</a></li>
    </ul>
  </nav>
  <section id="typography">
    <h2 class="govuk-heading-l">Typography</h2>
    <div class="govuk-!-padding-5 great-bg-lighter-grey">
      <h1 class="govuk-heading-xl">govuk-heading-xl</h1>
      <h2 class="govuk-heading-l">govuk-heading-l</h2>
      <h3 class="govuk-heading-m">govuk-heading-m</h3>
      <h4 class="govuk-heading-s">govuk-heading-s</h4>
      <h5 class="govuk-heading-xs">govuk-heading-xs</h5>
      <p class="govuk-body-l">govuk-body-l</p>
      <p class="govuk-body">govuk-body</p>
      <p class="govuk-body-s">govuk-body-s</p>
      <p class="govuk-body great-font-bold">great-font-bold</p>
      <p class="govuk-body great-text-grey">great-text-grey</p>
      <p class="govuk-body great-text-light-grey">great-text-light-grey</p>
      <p class="govuk-body great-text-white">great-text-white</p>
      <p class="govuk-body great-text-blue">great-text-blue</p>
    </div>

    <pre>
      <code>
        &lt;h1 class="govuk-heading-xl"&gt;govuk-heading-xl&lt;/h1&gt;
        &lt;h2 class="govuk-heading-l"&gt;govuk-heading-l&lt;/h2&gt;
        &lt;h3 class="govuk-heading-m"&gt;govuk-heading-m&lt;/h3&gt;
        &lt;h4 class="govuk-heading-s"&gt;govuk-heading-s&lt;/h4&gt;
        &lt;h5 class="govuk-heading-xs"&gt;govuk-heading-xl&lt;/h5&gt;
        &lt;p class="govuk-body-l"&gt;govuk-body-l&lt;/p&gt;
        &lt;p class="govuk-body"&gt;govuk-body&lt;/p&gt;
        &lt;p class="govuk-body-s"&gt;govuk-body-s&lt;/p&gt;
        &lt;p class="govuk-body great-font-bold"&gt;great-font-bold&lt;/p&gt;
        &lt;p class="govuk-body great-text-grey"&gt;great-text-grey&lt;/p&gt;
        &lt;p class="govuk-body great-text-light-grey"&gt;great-text-light-grey&lt;/p&gt;
        &lt;p class="govuk-body great-text-white"&gt;great-text-white&lt;/p&gt;
        &lt;p class="govuk-body great-text-blue"&gt;great-text-blue&lt;/p&gt;
      </code>
    </pre>
  </section>

  <section id="buttons" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Buttons</h2>
    <button class="govuk-button">govuk-button</button>
    <button class="govuk-button govuk-button--secondary">govuk-button--secondary</button>
    <button class="govuk-button great-full-width-button">great-full-width-button</button>

    <pre>
      <code>
        &lt;button class="govuk-button"&gt;govuk-button&lt;/button&gt;
        &lt;button class="govuk-button govuk-button--secondary"&gt;
          govuk-button--secondary
        &lt;/button&gt;
        &lt;button class="govuk-button great-full-width-button"&gt;
          great-full-width-button
        &lt;/button&gt;
      </code>
    </pre>
  </section>

  <section id="backgrounds" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Backgrounds</h2>
    <div class="govuk-!-margin-bottom-3 great-bg-white">great-bg-white</div>
    <div class="govuk-!-margin-bottom-3 great-bg-lighter-grey">great-bg-lighter-grey</div>
    <div class="govuk-!-margin-bottom-3 great-bg-light-blue">great-bg-light-blue</div>

    <pre>
      <code>
        &lt;div class="great-bg-white"&gt;great-bg-white&lt;/div&gt;
        &lt;div class="great-bg-lighter-grey"&gt;great-bg-lighter-grey&lt;/div&gt;
        &lt;div class="great-bg-light-blue"&gt;great-bg-light-blue&lt;/div&gt;
      </code>
    </pre>
  </section>

  <section id="hrs" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Horizontal Rules</h2>
    <hr class="great-hr-blue" />
    <hr class="great-hr-blue great-hr-blue--thin" />
    <pre>
      <code>
        &lt;hr class="great-hr-blue" /&gt;
        &lt;hr class="great-hr-blue great-hr-blue--thin" /&gt;
      </code>
    </pre>
  </section>

  <section id="links" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Links</h2>
    <a href="" class="govuk-link">govuk-link</a><br />
    <a href="" class="govuk-link great-back-link">great-back-link</a>

    <pre>
      <code>
        &lt;a href="" class="govuk-link"&gt;govuk-link&lt;/a&gt;
        &lt;a href="" class="govuk-link great-back-link"&gt;great-back-link&lt;/a&gt;
      </code>
    </pre>
  </section>

  <section id="forms" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Forms</h2>

    <div class="govuk-form-group govuk-!-margin-bottom-7">
      <label class="govuk-label great-font-bold" for="text_input">
          Text input label
      </label>
      <input type="text" name="text_input" class="govuk-input great-text-input" id="text_input" />
    </div>

    <div class="govuk-form-group govuk-!-margin-bottom-7 ">
      <label class="govuk-label great-font-bold" for="select">
          Select label
      </label>
      <div class="great-text-select--arrow">
        <select name="select" class="govuk-select great-select" id="select">
          <option value="" selected="">Please select</option>
        </select>
      </div>
    </div>

    <div class="govuk-checkboxes__item govuk-!-margin-bottom-3 great-checkbox">
      <input class="govuk-checkboxes__input" id="checkbox" name="markets" type="checkbox" value="A" />
      <label id="checkboxlabel" for="checkbox" class="govuk-label govuk-checkboxes__label">
        Checkbox label
      </label>
    </div>

    <div class="govuk-radios great-radios" data-module="govuk-radios">
      <div class="govuk-radios__item govuk-!-margin-bottom-3">
          <input class="govuk-radios__input" id="radio" name="radio" type="radio" value="yes">
          <label id="id_about_your_experience_1-label" for="radio" class="govuk-label govuk-radios__label">
            Radio label
          </label>
      </div>
    </div>

    <pre>
      <code>
        &lt;div class="govuk-form-group govuk-!-margin-bottom-7"&gt;
          &lt;label class="govuk-label great-font-bold" for="text_input"&gt;Text input label&lt;/label&gt;
          &lt;input type="text" name="text_input" class="govuk-input great-text-input" id="text_input" /&gt;
        &lt;/div&gt;

        &lt;div class="govuk-form-group govuk-!-margin-bottom-7"&gt;
          &lt;label class="govuk-label great-font-bold" for="select"&gt;Select label&lt;/label&gt;
          &lt;div class="great-text-select--arrow"&gt;
            &lt;select name="select" class="govuk-select great-select" id="select"&gt;
              &lt;option value=""&gt;Please select&lt;/option&gt;
            &lt;/select&gt;
          &lt;div&gt;
        &lt;/div&gt;

        &lt;div class="govuk-checkboxes__item govuk-!-margin-bottom-3 great-checkbox"&gt;
          &lt;input class="govuk-checkboxes__input" id="checkbox" name="markets" type="checkbox" value="A" /&gt;
          &lt;label id="checkboxlabel" for="checkbox" class="govuk-label govuk-checkboxes__label"&gt;Checkbox label&lt;/label&gt;
        &lt;/div&gt;

        &lt;div class="govuk-radios great-radios" data-module="govuk-radios"&gt;
          &lt;div class="govuk-radios__item govuk-!-margin-bottom-3"&gt;
            &lt;input class="govuk-radios__input" id="radio" name="radio" type="radio" value="yes"&gt;
            &lt;label id="id_about_your_experience_1-label" for="radio" class="govuk-label govuk-radios__label"&gt;
                    Radio label
            &lt;/label&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      </code>
    </pre>
  </section>

  <section id="spacing" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Spacing</h2>
    <div class="govuk-!-margin-9">govuk-!-margin-9</div>
    <div class="govuk-!-margin-8">govuk-!-margin-8</div>
    <div class="govuk-!-margin-7">govuk-!-margin-7</div>
    <div class="govuk-!-margin-6">govuk-!-margin-6</div>
    <div class="govuk-!-margin-5">govuk-!-margin-5</div>
    <div class="govuk-!-margin-4">govuk-!-margin-4</div>
    <div class="govuk-!-margin-3">govuk-!-margin-3</div>
    <div class="govuk-!-margin-2">govuk-!-margin-2</div>
    <div class="govuk-!-margin-1">govuk-!-margin-1</div>
    <div class="govuk-!-margin-0">govuk-!-margin-0</div>
    <div class="govuk-!-padding-0">govuk-!-padding-0</div>
    <div class="govuk-!-padding-1">govuk-!-padding-1</div>
    <div class="govuk-!-padding-2">govuk-!-padding-2</div>
    <div class="govuk-!-padding-3">govuk-!-padding-3</div>
    <div class="govuk-!-padding-4">govuk-!-padding-4</div>
    <div class="govuk-!-padding-5">govuk-!-padding-5</div>
    <div class="govuk-!-padding-6">govuk-!-padding-6</div>
    <div class="govuk-!-padding-7">govuk-!-padding-7</div>
    <div class="govuk-!-padding-8">govuk-!-padding-8</div>
    <div class="govuk-!-padding-9">govuk-!-padding-9</div>

    <pre>
      <code>
        &lt;div class="govuk-!-margin-9"&gt;govuk-!-margin-9&lt;/div&gt;
        &lt;div class="govuk-!-margin-8"&gt;govuk-!-margin-8&lt;/div&gt;
        &lt;div class="govuk-!-margin-7"&gt;govuk-!-margin-7&lt;/div&gt;
        &lt;div class="govuk-!-margin-6"&gt;govuk-!-margin-6&lt;/div&gt;
        &lt;div class="govuk-!-margin-5"&gt;govuk-!-margin-5&lt;/div&gt;
        &lt;div class="govuk-!-margin-4"&gt;govuk-!-margin-4&lt;/div&gt;
        &lt;div class="govuk-!-margin-3"&gt;govuk-!-margin-3&lt;/div&gt;
        &lt;div class="govuk-!-margin-2"&gt;govuk-!-margin-2&lt;/div&gt;
        &lt;div class="govuk-!-margin-1"&gt;govuk-!-margin-1&lt;/div&gt;
        &lt;div class="govuk-!-margin-0"&gt;govuk-!-margin-0&lt;/div&gt;
        &lt;div class="govuk-!-padding-0"&gt;govuk-!-padding-0&lt;/div&gt;
        &lt;div class="govuk-!-padding-1"&gt;govuk-!-padding-1&lt;/div&gt;
        &lt;div class="govuk-!-padding-2"&gt;govuk-!-padding-2&lt;/div&gt;
        &lt;div class="govuk-!-padding-3"&gt;govuk-!-padding-3&lt;/div&gt;
        &lt;div class="govuk-!-padding-4"&gt;govuk-!-padding-4&lt;/div&gt;
        &lt;div class="govuk-!-padding-5"&gt;govuk-!-padding-5&lt;/div&gt;
        &lt;div class="govuk-!-padding-6"&gt;govuk-!-padding-6&lt;/div&gt;
        &lt;div class="govuk-!-padding-7"&gt;govuk-!-padding-7&lt;/div&gt;
        &lt;div class="govuk-!-padding-8"&gt;govuk-!-padding-8&lt;/div&gt;
        &lt;div class="govuk-!-padding-9"&gt;govuk-!-padding-9&lt;/div&gt;
      </code>
    </pre>
  </section>

  <section id="cards" class="govuk-!-margin-top-9">
    <h2 class="govuk-heading-l">Cards</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="great-card">
          <a href="/" class="govuk-!-display-block">
              <img src="https://picsum.photos/id/1/160/90" alt="" />
              <span class="govuk-caption-m govuk-!-margin-bottom-2">GOVUK</span>
              <h4 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2 great-text-blue">Card title 1</h4>
              <div>Card summary text 1</div>
          </a>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="great-card">
          <a href="/" class="govuk-!-display-block">
              <img src="https://picsum.photos/id/2/160/90" alt="" />
              <span class="govuk-caption-m govuk-!-margin-bottom-2">GOVUK</span>
              <h4 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2 great-text-blue">Card title 2</h4>
              <div>Card summary text 2</div>
          </a>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="great-card">
          <a href="/" class="govuk-!-display-block">
              <img src="https://picsum.photos/id/3/160/90" alt="" />
              <span class="govuk-caption-m govuk-!-margin-bottom-2">GOVUK</span>
              <h4 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2 great-text-blue">Card title 3</h4>
              <div>Card summary text 3</div>
          </a>
        </div>
      </div>
    </div>

    <pre>
      <code>
        &#123;% include 'components/great/card.html' %&#125;
      </code>
    </pre>
  </section>

{% endblock %}
