{% load static %}
<div class="article-list-item">
    <div class="govuk-grid-row">
        {% if leading_image_path %}
            <div class="govuk-grid-column-one-third">
                <div class="image-container"
                     alt="{{ leading_image_alt_text }}"
                     style="background-image: url({{ leading_image_path }})"></div>
            </div>
            <div class="govuk-grid-column-two-thirds">
            {% else %}
                <div class="govuk-grid-column-full">
                {% endif %}
                <h3 class="govuk-!-margin-0">
                    <a class="govuk-heading-m govuk-link"
                       href="{{ url }}"
                       {% if rel %}rel="{{ rel }}"{% endif %}
                       {% if target %}target="{{ target }}"{% endif %}>{{ link_title }}</a>
                </h3>
                <p class="govuk-body">{{ link_description }}</p>
            </div>
        </div>
    </div>
