{% load humanize %}
{% load static %}
<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-half">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if bci_region.geo_code in hyperlinked_geo_codes %}
                    <a class="govuk-link govuk-heading-l govuk-!-margin-bottom-0"
                       href="{% url 'international_online_offer:bci' %}?area={{ bci_region.geo_code }}">{{ bci_region.geo_description }}</a>
                {% else %}
                    <h3 class="govuk-heading-l govuk-!-margin-bottom-0">{{ bci_region.geo_description }}</h3>
                {% endif %}
            </div>
            <div class="govuk-grid-column-one-third">
                <img src="{% static 'svg' %}/uk-regions-{{ bci_region.geo_code }}.svg"
                     alt="{{ bci_region.geo_description }} map"
                     class="bci-map__subregion" />
            </div>
        </div>
    </td>
    <td class="govuk-table__cell govuk-!-width-one-quarter">
        <p class="govuk-heading-l govuk-!-text-align-centre">
            <strong class="govuk-!-padding-0">{{ bci_region.total_business_count|default:"-"|intcomma }}</strong>
        </p>
        <p class="govuk-body only-mobile">businesses</p>
    </td>
    <td class="govuk-table__cell govuk-!-width-one-quarter">
        <p class="govuk-heading-l govuk-!-text-align-centre">
            <strong class="govuk-!-padding-0">{{ bci_region.total_employee_count|default:"-"|intcomma }}</strong>
        </p>
        <p class="govuk-body only-mobile">employees</p>
    </td>
</tr>
