{% if breadcrumbs %}
    <div class="govuk-width-container great-container">
        <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile {% if dark_mode %}govuk-breadcrumbs--inverse{% endif %}">
            <ol class="govuk-breadcrumbs__list">
                {% for breadcrumb in breadcrumbs %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link govuk-!-font-size-19"
                           href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endif %}
