{% if not request.session.csat_complete %}
    <div class="govuk-!-padding-left-3 govuk-!-padding-right-3 govuk-!-padding-top-4 govuk-!-margin-bottom-3 great-grey-border">
        <form method="post"
              novalidate
              action="{% url 'international_online_offer:csat-widget-submit' %}?next={{ request.build_absolute_uri }}">
            {% csrf_token %}
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Overall, how would you rate your experience with the Expand Your Business in the UK service today?
            </h2>
            <input type="hidden" name="user_journey" value="{{ user_journey }}" />
            <div class="csat-rating">
                <div class="rating-box-new govuk-heading-xl">
                    <input type="radio"
                           name="satisfaction"
                           id="zero"
                           value=""
                           display="hidden"
                           checked />
                    <input type="radio" name="satisfaction" id="one" value="VERY_DISSATISFIED" />
                    <label for="one" class="rating-star-item"></label>
                    <input type="radio" name="satisfaction" id="two" value="DISSATISFIED" />
                    <label for="two" class="rating-star-item"></label>
                    <input type="radio" name="satisfaction" id="three" value="NEITHER" />
                    <label for="three" class="rating-star-item"></label>
                    <input type="radio" name="satisfaction" id="four" value="SATISFIED" />
                    <label for="four" class="rating-star-item"></label>
                    <input type="radio" name="satisfaction" id="five" value="VERY_SATISFIED" />
                    <label for="five" class="rating-star-item"></label>
                    <div class="flex-break"></div>
                    <div id="rating1" class="govuk-body">Very dissatisfied</div>
                    <div id="rating2" class="govuk-body">Dissatisfied</div>
                    <div id="rating3" class="govuk-body">Neither satisfied or dissatisfied</div>
                    <div id="rating4" class="govuk-body">Satisfied</div>
                    <div id="rating5" class="govuk-body">Very satisfied</div>
                </div>
                {% include 'international/includes/submit_button.html' with button_text='Submit and continue' button_classes='csat-button' %}
            </div>
        </form>
    </div>
{% endif %}
