{% if form.errors %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>
                                {% if field.id_for_label %}
                                    <a href="#{{ field.id_for_label }}">{{ error }}</a>
                                {% else %}
                                    <a href="#{{ field.auto_id }}">{{ error }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
