{% include './govuk/panel.html' with title_text="Feedback submitted successfully" %}
<h2 class="govuk-heading-m govuk-!-margin-top-5">Thanks for your feedback, it has been successfully submitted.</h2>
<h3 class="govuk-heading-s govuk-!-margin-top-7">What happens next?</h3>
<p class="govuk-body govuk-!-margin-bottom-5">
    We've sent your responses to the Expand Your Business team.
    The team will store this data and use it to improve the customer experience of the service.
</p>
{% include '_action-link.html' with linkText='Return to guide' linkHref=expend_your_business_in_the_uk_guide_url %}
