{% load wagtailcore_tags %}
{% load location_select_filters %}
{% load add_govuk_classes from content_tags %}
{% load eyb_tags %}
{% load humanize %}
<div class="govuk-grid-row" id="location-component">
    <div class="govuk-grid-column-full govuk-!-padding-6 salary-rent-component">
        <div class="govuk-width-container great-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Average rent data at a glance</h2>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <form class="salary-location-form"
                          action="{{ request.build_absolute_uri }}#location-component"
                          method="get">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
                                {% include '../includes/form_field.html' with field=rent_location_form.location %}
                                <button type="submit"
                                        class="govuk-button govuk-!-margin-bottom-0"
                                        id="rent-location-submit">Change</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-margin-top-3">
                    {% if large_warehouse_rent or small_warehouse_rent or shopping_centre or high_street_retail or work_office %}
                        <div class="govuk-tabs" data-module="govuk-tabs">
                            <h2 class="govuk-tabs__title">Premises</h2>
                            <ul class="govuk-tabs__list">
                                {% if large_warehouse_rent %}
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                        <a class="govuk-tabs__tab" href="#large-warehouse">Large warehouse</a>
                                    </li>
                                {% endif %}
                                {% if small_warehouse_rent %}
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#small-warehouse">Small warehouse</a>
                                    </li>
                                {% endif %}
                                {% if shopping_centre %}
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#shopping-centre">Shopping centre</a>
                                    </li>
                                {% endif %}
                                {% if high_street_retail %}
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#high-street-retail">High street retail</a>
                                    </li>
                                {% endif %}
                                {% if work_office %}
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#work-office">Work office</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% feature_pre_election as pre_election %}
                            {% if large_warehouse_rent %}
                                <div class="govuk-tabs__panel" id="large-warehouse">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h3 class="govuk-heading-m">
                                                Large warehouse, average rent for {{ rent_location_form.location.value|get_location_display }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body-m">
                                                {% if pre_election %}
                                                    <strong class="govuk-!-font-weight-bold">£{{ large_warehouse_rent|rent_to_int|default:'-'|intcomma }}</strong>
                                                {% else %}
                                                    <strong class="govuk-!-font-weight-bold">£{{ large_warehouse_rent|default:'-'|intcomma }}</strong>
                                                {% endif %}
                                                <br>
                                                per calendar month for 2023
                                            </p>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body">
                                                A large warehouse is an industrial unit that is <strong class="govuk-!-font-weight-bold">340,000 sq foot</strong> on average in the UK.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if small_warehouse_rent %}
                                <div class="govuk-tabs__panel govuk-tabs__panel--hidden"
                                     id="small-warehouse">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h3 class="govuk-heading-m">
                                                Small warehouse, average rent for {{ rent_location_form.location.value|get_location_display }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body-m">
                                                {% if pre_election %}
                                                    <strong class="govuk-!-font-weight-bold">£{{ small_warehouse_rent|rent_to_int|default:'-'|intcomma }}</strong>
                                                {% else %}
                                                    <strong class="govuk-!-font-weight-bold">£{{ small_warehouse_rent|default:'-'|intcomma }}</strong>
                                                {% endif %}
                                                <br>
                                                per calendar month for 2023
                                            </p>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body">
                                                A small warehouse is an industrial unit. Calculation based on a small warehouse being <strong class="govuk-!-font-weight-bold">5000 sq foot</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if shopping_centre %}
                                <div class="govuk-tabs__panel govuk-tabs__panel--hidden"
                                     id="shopping-centre">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h3 class="govuk-heading-m">
                                                Shopping centre, average rent for {{ rent_location_form.location.value|get_location_display }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body-m">
                                                {% if pre_election %}
                                                    <strong class="govuk-!-font-weight-bold">£{{ shopping_centre|rent_to_int|default:'-'|intcomma }}</strong>
                                                {% else %}
                                                    <strong class="govuk-!-font-weight-bold">£{{ shopping_centre|default:'-'|intcomma }}</strong>
                                                {% endif %}
                                                <br>
                                                per calendar month for 2023
                                            </p>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body">
                                                A shopping centre unit is near a group of shops, sometimes under one roof. Calculation based on average UK unit being <strong class="govuk-!-font-weight-bold">204 sq foot</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if high_street_retail %}
                                <div class="govuk-tabs__panel govuk-tabs__panel--hidden"
                                     id="high-street-retail">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h3 class="govuk-heading-m">
                                                High street retail, average rent for {{ rent_location_form.location.value|get_location_display }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body-m">
                                                {% if pre_election %}
                                                    <strong class="govuk-!-font-weight-bold">£{{ high_street_retail|rent_to_int|default:'-'|intcomma }}</strong>
                                                {% else %}
                                                    <strong class="govuk-!-font-weight-bold">£{{ high_street_retail|default:'-'|intcomma }}</strong>
                                                {% endif %}
                                                <br>
                                                per calendar month for 2023
                                            </p>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body">
                                                High street retail is a concentration of shops in either urban or urban-like areas. Calculation based on average UK unit being <strong class="govuk-!-font-weight-bold">2195 sq foot</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="work-office">
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full">
                                        <h3 class="govuk-heading-m">
                                            Work office, average rent for {{ rent_location_form.location.value|get_location_display }}
                                        </h3>
                                    </div>
                                </div>
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-half">
                                        <p class="govuk-body-m">
                                            {% if pre_election %}
                                                <strong class="govuk-!-font-weight-bold">£{{ work_office|rent_to_int|default:'-'|intcomma }}</strong>
                                            {% else %}
                                                <strong class="govuk-!-font-weight-bold">£{{ work_office|default:'-'|intcomma }}</strong>
                                            {% endif %}
                                            <br>
                                            per calendar month for 2023
                                        </p>
                                    </div>
                                    <div class="govuk-grid-column-one-half">
                                        <p class="govuk-body">
                                            A work office is a room or set of rooms in which business, professional duties, clerical work, etc, are carried out. Calculation based on average UK work office being <strong class="govuk-!-font-weight-bold">16,671 sq foot</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p class="govuk-body">There currently is no data available for the selected criteria.</p>
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <p class="govuk-body">
                        Figures reflect 2023 data.
                        <br>
                        Source: Statista
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
