{% comment %}
    Post election rename this file to salary.html and delete existing salary.html
{% endcomment %}
{% load wagtailcore_tags %}
{% load humanize %}
{% load eyb_tags %}
{% load sector_filters %}
{% load add_govuk_classes from content_tags %}
{% if triage_data.sector %}
    <div class="govuk-grid-row" id="location-component">
        <div class="govuk-grid-column-full govuk-!-padding-6 salary-rent-component">
            <div class="govuk-width-container great-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l">Average annual salary data at a glance</h2>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-body-m">
                            For your selected sector: <span class="govuk-!-font-weight-bold">{{ triage_data.sector|get_sector_display }}</span>
                        </p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <form class="salary-location-form"
                              action="{{ request.build_absolute_uri }}#location-component"
                              method="get">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
                                    {% include '../includes/form_field.html' with field=salary_location_form.location %}
                                    <button type="submit"
                                            class="govuk-button govuk-!-margin-bottom-0"
                                            id="salary-location-submit">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    {% if entry_salary or mid_salary or executive_salary %}
                        {% get_salary_display_classes as salary_display_classes %}
                        <div class="{{ salary_display_classes.parent_column_class }} govuk-!-margin-3 govuk-!-padding-8 salary-rent-component-body">
                            <div class="govuk-grid-row">
                                {% if entry_salary %}
                                    <div class="{{ salary_display_classes.salary_card_class }}">
                                        <p class="govuk-body-m govuk-!-font-weight-bold">Entry level</p>
                                        <p class="govuk-heading-m">£{{ entry_salary|default_if_none:'-'|intcomma }}</p>
                                        <p class="govuk-body body-text">For professions like {{ professions_by_sector.entry_level|default:'-' }}</p>
                                    </div>
                                {% endif %}
                                {% if mid_salary %}
                                    <div class="{{ salary_display_classes.salary_card_class }}">
                                        <p class="govuk-body-m govuk-!-font-weight-bold">Mid level</p>
                                        <p class="govuk-heading-m">£{{ mid_salary|default:'-'|intcomma }}</p>
                                        <p class="govuk-body body-text">For professions like {{ professions_by_sector.mid_level|default:'-' }}</p>
                                    </div>
                                {% endif %}
                                {% if executive_salary %}
                                    <div class="{{ salary_display_classes.salary_card_class }}">
                                        <p class="govuk-body-m govuk-!-font-weight-bold">Executive level</p>
                                        <p class="govuk-heading-m">£{{ executive_salary|default:'-'|intcomma }}</p>
                                        <p class="govuk-body body-text">For professions like {{ professions_by_sector.executive_level|default:'-' }}</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <span class="govuk-body body-text source-text">
                                        Figures reflect 2023 median gross salaries.
                                        <br>
                                        Source: Statista
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="govuk-grid-row govuk-!-margin-3">
                            <div class="govuk-grid-column-full govuk-!-padding-4 great-align-items-center salary-rent-component-body">
                                <span class="govuk-body body-text source-text">{{ salary_error_msg }}</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
