{% load wagtailcore_tags %}
{% load humanize %}
{% load sector_filters %}
{% load add_govuk_classes from content_tags %}
{% if triage_data.sector %}
    <div class="govuk-grid-row" id="location-component">
        <div class="govuk-grid-column-full govuk-!-padding-6 salary-rent-component">
            <div class="govuk-width-container great-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l">Average annual salary data at a glance</h2>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-body-m">
                            For your selected sector: <span class="govuk-!-font-weight-bold">{{ triage_data.sector|get_sector_display }}</span>
                        </p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <form class="salary-location-form"
                              action="{{ request.build_absolute_uri }}#location-component"
                              method="get">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
                                    {% include '../includes/form_field.html' with field=salary_location_form.location %}
                                    <button type="submit"
                                            class="govuk-button govuk-!-margin-bottom-0"
                                            id="salary-location-submit">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-!-margin-3 govuk-!-padding-8 salary-rent-component-body">
                        {% if entry_level or mid_salary or executive_salary %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-third">
                                    <p class="govuk-body-m govuk-!-font-weight-bold">Entry level</p>
                                    <p class="govuk-heading-m">£{{ entry_salary|default_if_none:'-'|intcomma }}</p>
                                    <p class="govuk-body body-text">For professions like {{ professions_by_sector.entry_level|default:'-' }}</p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <p class="govuk-body-m govuk-!-font-weight-bold">Mid level</p>
                                    <p class="govuk-heading-m">£{{ mid_salary|default:'-'|intcomma }}</p>
                                    <p class="govuk-body body-text">For professions like {{ professions_by_sector.mid_level|default:'-' }}</p>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <p class="govuk-body-m govuk-!-font-weight-bold">Executive level</p>
                                    <p class="govuk-heading-m">£{{ executive_salary|default:'-'|intcomma }}</p>
                                    <p class="govuk-body body-text">For professions like {{ professions_by_sector.executive_level|default:'-' }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <p class="govuk-body">{{ salary_error_msg }}</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <span class="govuk-body body-text source-text">
                                    Figures reflect 2023 median gross salaries.
                                    <br>
                                    Source: Statista
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
