<div class="govuk-accordion"
     data-module="govuk-accordion"
     id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="set-up-and-reigster-your-business-heading">Set up and register your business</span>
            </h3>
        </div>
        <div id="set-up-and-reigster-your-business-content"
             class="govuk-accordion__section-content"
             aria-labelledby="set-up-and-reigster-your-business-heading">
            <p class="govuk-body">
                You need to choose how your company will operate before you register it. You could operate as a private limited UK company, an overseas branch of your existing company, or perhaps a joint venture with a UK business.
            </p>
            <p class="govuk-body">
                You must register your company with Companies House, the government organisation responsible for registration of companies in the UK, if you want to set up a place of business in the UK.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/set-up-and-register-your-business">Read our guide on how to set up and register your business</a>
            </p>
            <p class="govuk-body">Time it takes: Can be as little as one day</p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="apply-for-visas-heading">Apply for visas</span>
            </h3>
        </div>
        <div id="apply-for-visas-content"
             class="govuk-accordion__section-content"
             aria-labelledby="apply-for-visas-heading">
            <p class="govuk-body">There are many types of work visa you can apply for depending on your circumstances.</p>
            <p class="govuk-body">
                You can set up a business with an <a class="govuk-link"
    href="https://www.gov.uk/innovator-founder-visa"
    target="_blank">Innovator Founder visa</a>.
            </p>
            <p class="govuk-body">
                If you're a representative of an overseas business planning to set up its first UK branch, you should apply for a UK Expansion Worker visa.
            </p>
            <p class="govuk-body">
                Check if you need a visa on <a class="govuk-link" href="https://www.gov.uk/check-uk-visa">GOV.UK</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/how-to-apply-for-a-visa">Find out how to apply for a visa in the UK</a>
            </p>
            <p class="govuk-body">Time it takes: Timing dependent on visa type</p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="open-a-business-bank-account-heading">Open a business bank account</span>
            </h3>
        </div>
        <div id="open-a-business-bank-account-content"
             class="govuk-accordion__section-content"
             aria-labelledby="open-a-business-bank-account-heading">
            <p class="govuk-body">
                To trade in the UK, you'll need a UK bank account. This gives your business credibility and is simpler and cheaper than making overseas bank transfers.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/how-to-choose-and-set-up-a-uk-bank-account">Learn more about how to choose and set up a UK bank account</a>
            </p>
            <p class="govuk-body">Time it takes:</p>
            <p class="govuk-body">Digital account with a fintech bank - as quick as 2 hours</p>
            <p class="govuk-body">Full business bank accounts - takes 4 weeks to 3 months for final approval</p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="register-for-tax-and-claim-tex-allowances-heading">
                    Register for tax and claim tax allowances
                </span>
            </h3>
        </div>
        <div id="register-for-tax-and-claim-tex-allowances-content"
             class="govuk-accordion__section-content"
             aria-labelledby="register-for-tax-and-claim-tex-allowances--heading">
            <p class="govuk-body">
                When you expand your business in the UK, you'll be required to pay Corporation Tax and may have to pay Value Added Tax (VAT).
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold">Corporation Tax</span>
            </p>
            <p class="govuk-body">
                If your business is based in the UK, you must pay Corporation Tax on all profits from the UK and abroad.
            </p>
            <p class="govuk-body">
                If your business isn't based in the UK but has an office or branch here, you will only pay Corporation Tax on profits from UK activities.
            </p>
            <p class="govuk-body">
                You'll need to register to pay tax within 3 months of starting to do business. This includes buying, selling, advertising, renting a property and employing someone.
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold">Value Added Tax</span>
            </p>
            <p class="govuk-body">
                You must register for Value Added Tax (VAT) with HMRC if your business' taxable turnover is more than £85,000.
            </p>
            <p class="govuk-body">VAT is a tax added to most products and services sold by VAT-registered businesses.</p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/how-to-register-for-tax-and-claim-tax-allowances">Read our guide on how to register for UK taxes and claim tax allowances</a>
            </p>
            <p class="govuk-body">Time it takes: 3 to 4 weeks</p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="register-for-payroll-heading">Register for payroll</span>
            </h3>
        </div>
        <div id="register-for-payroll-content"
             class="govuk-accordion__section-content"
             aria-labelledby="register-for-payroll-heading">
            <p class="govuk-body">
                As an employer, you usually have to operate Pay As You Earn (PAYE) as part of your payroll. This system collects Income Tax and National Insurance via UK employers.
            </p>
            <p class="govuk-body">You must register before your first business payday.</p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.gov.uk/register-employer"
                   target="_blank">Register as an employer with HMRC on GOV.UK</a>
            </p>
            <p class="govuk-body">Time it takes: Around 3 weeks</p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="find-the-right-location-and-premises-heading">Find the right location and premises</span>
            </h3>
        </div>
        <div id="find-the-right-location-and-premises-content"
             class="govuk-accordion__section-content"
             aria-labelledby="find-the-right-location-and-premises-heading">
            <p class="govuk-body">
                A suitable location near to customers, staff and supply chains, is important to your success in the UK.
            </p>
            <p class="govuk-body">
                You can find a range of premises to suit your business including leased offices, co-working spaces and science parks.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/find-the-right-location-and-premises">Read our guide on how to find the right business property.</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.great.gov.uk/international/content/investment/regions/"
                   target="_blank">Learn more about the UK's nations and regions</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.great.gov.uk/international/investment-support-directory"
                   target="_blank">Find professional help to locate in the UK</a>
            </p>
            <p class="govuk-body">Time it takes:</p>
            <p class="govuk-body">Rental can take less than 1 week to sign a lease</p>
            <p class="govuk-body">Buying property takes from 1 to 4 months</p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="know-uk-employment-regulations-heading">Know UK employment regulations</span>
            </h3>
        </div>
        <div id="know-uk-employment-regulations-content"
             class="govuk-accordion__section-content"
             aria-labelledby="know-uk-employment-regulations-heading">
            <p class="govuk-body">You'll need to be aware of UK employment law, and your duties as a UK employer.</p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/know-uk-employment-regulations">Read our guide on how to employ people in the UK</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.gov.uk/register-employer"
                   target="_blank">Register as an employer with HMRC on GOV.UK</a>
            </p>
            <p class="govuk-body">
                You need a sponsor licence, valid for 4 years, to hire most eligible employees from outside the UK.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.gov.uk/apply-sponsor-licence"
                   target="_blank">Apply for a sponsor licence on GOV.UK</a>
            </p>
            <p class="govuk-body">Time it takes: Usually 6 to 8 weeks, but may be up to 16 weeks for more senior posts</p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="recruit-expert-talent-heading">Recruit expert talent</span>
            </h3>
        </div>
        <div id="recruit-expert-talent-content"
             class="govuk-accordion__section-content"
             aria-labelledby="recruit-expert-talent-heading">
            <p class="govuk-body">
                Once you have decided to employ staff, there are several resources available to help you recruit expert talent.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/find-expert-talent">Find out more about how to recruit expert talent</a>
            </p>
            <p class="govuk-body">
                Time it takes: The recruitment process can take on average between 4 to 12 weeks from advert to onboarding.
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="accordion-default-heading-4">Get business insurance</span>
            </h3>
        </div>
        <div id="accordion-default-content-4"
             class="govuk-accordion__section-content"
             aria-labelledby="accordion-default-heading-4">
            <p class="govuk-body">
                You must get Employers' Liability (EL) insurance as soon as you become an employer. UK law also requires you to have third party motor insurance if you use a vehicle for business purposes.
            </p>
            <p class="govuk-body">Other things which might have to be insured includes assets, income, liabilities and people.</p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.gov.uk/employers-liability-insurance"
                   target="_blank">Employer's Liability Insurance on GOV.UK</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.great.gov.uk/international/investment-support-directory"
                   target="_blank">Find professional advice on business insurance</a>
            </p>
            <p class="govuk-body">Time it takes: 2 weeks to 1 month</p>
        </div>
    </div>
</div>
