<div class="govuk-accordion"
     data-module="govuk-accordion"
     id="accordion-default">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="set-up-and-reigster-your-business-heading">Set up your business</span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="set-up-and-reigster-your-business-summary">
                Choose how you'll operate, and register your company in as little as a day.
            </div>
        </div>
        <div id="set-up-and-reigster-your-business-content"
             class="govuk-accordion__section-content">
            <p class="govuk-body">
                You could operate as a private limited UK company, an overseas branch of your existing company, or perhaps a joint venture with a UK business. You'll need to choose before registering.
            </p>
            <p class="govuk-body">
                You must register your company with Companies House, the government organisation responsible for registration of companies in the UK, if you want to set up a place of business in the UK.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/set-up-and-register-your-business">Read our guide on how to set up and register your business
                </a>
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="apply-for-visas-heading">Apply for visas</span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="apply-for-visas-summary">
                There are a range of business-related visas available, and a decision can take from 3 to 11 weeks.
            </div>
        </div>
        <div id="apply-for-visas-content" class="govuk-accordion__section-content">
            <p class="govuk-body">
                A visa application decision takes 3 weeks on average, if it does not involve endorsement or sponsorship.
            </p>
            <p class="govuk-body">
                If an endorsement is needed, the process can take up to 7 weeks in total. If sponsorship is needed, this process plus the visa application can take around 11 weeks in total.
            </p>
            <p class="govuk-body">
                You may or may not need to apply for a visa, depending on your circumstances and planned business activities.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/how-to-apply-for-a-visa">Read our guide on visa types</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk/check-uk-visa">Check if you need a visa on GOV.UK</a>
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="open-a-business-bank-account-heading">Open a business bank account</span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="open-a-business-bank-account-summary">
                You can get a digital account in a matter of hours, or a full business account in 1 to 3 months.
            </div>
        </div>
        <div id="open-a-business-bank-account-content"
             class="govuk-accordion__section-content">
            <p class="govuk-body">
                A UK bank account gives your business credibility and is simpler and cheaper than making overseas bank transfers. Apply for a digital account with a fintech bank, or a full business account from a traditional bank (allow 4 weeks to 3 months for final approval).
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/how-to-choose-and-set-up-a-uk-bank-account">Learn more about how to choose and set up a UK bank account</a>
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="register-for-tax-and-claim-tex-allowances-heading">
                    Register for tax and claim tax allowances
                </span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="register-for-tax-and-claim-tex-allowances-summary">
                You'll need to set up to pay Corporation Tax and check for other tax obligations.
            </div>
        </div>
        <div id="register-for-tax-and-claim-tex-allowances-content"
             class="govuk-accordion__section-content">
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold">Corporation Tax</span>
            </p>
            <p class="govuk-body">
                If your business is based in the UK, you must pay Corporation Tax on all profits from the UK and abroad.
            </p>
            <p class="govuk-body">
                If your business isn't based in the UK but has an office or branch here, you will only pay Corporation Tax on profits from UK activities.
            </p>
            <p class="govuk-body">
                You'll need to register to pay tax within 3 months of starting to do business. This includes buying, selling, advertising, renting a property and employing someone.
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold">Value Added Tax</span>
            </p>
            <p class="govuk-body">
                You must register for Value Added Tax (VAT) with HMRC if your business' taxable turnover is more than £85,000. You'll need to do this within 30 days of the end of the month when you went over this amount.
            </p>
            <p class="govuk-body">VAT is a tax added to most products and services sold by VAT-registered businesses.</p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/how-to-register-for-tax-and-claim-tax-allowances">Read our guide on how to register for UK taxes and claim tax allowances</a>
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="know-uk-employment-regulations-heading">Know UK employment regulations</span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="know-uk-employment-regulations-summary">
                You'll need to be aware of UK employment law and your duties as a UK employer.
            </div>
        </div>
        <div id="know-uk-employment-regulations-content"
             class="govuk-accordion__section-content">
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/detailed-guides/know-uk-employment-regulations">Read our guide on how to employ people in the UK</a>
            </p>
            <p class="govuk-body">
                You need a sponsor licence, valid for 4 years, to hire most eligible employees from outside the UK.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.gov.uk/apply-sponsor-licence"
                   target="_blank">Apply for a sponsor licence on GOV.UK</a>
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="register-for-payroll-heading">Register as an employer</span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="register-for-payroll-summary">
                Setting up a payroll with HM Revenue and Customs can take up to 3 weeks.
            </div>
        </div>
        <div id="register-for-payroll-content"
             class="govuk-accordion__section-content">
            <p class="govuk-body">
                This is the amount of time it can take to receive an employer Pay As You Earn (PAYE) reference number.
            </p>
            <p class="govuk-body">
                As an employer, you usually have to set up PAYE as part of your payroll. This system collects Income Tax and National Insurance via UK employers.
            </p>
            <p class="govuk-body">You must register before your first business payday.</p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.gov.uk/register-employer"
                   target="_blank">Register as an employer with HM Revenue and Customs on GOV.UK</a>
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="recruit-expert-talent-heading">Recruit expert talent</span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="recruit-expert-talent-summary">
                There's a range of resources available to help you recruit the right people.
            </div>
        </div>
        <div id="recruit-expert-talent-content"
             class="govuk-accordion__section-content">
            <p class="govuk-body">
                From government schemes to where to advertise, <a class="govuk-link"
    href="/international/expand-your-business-in-the-uk/guide/detailed-guides/find-expert-talent">find out more about how to recruit expert talent</a>.
            </p>
            <p class="govuk-body">The recruitment process can take on 4 to 12 weeks on average, from advertising to onboarding.</p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="find-the-right-location-and-premises-heading">Find the right location and premises</span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="find-the-right-location-and-premises-summary">
                Once you've found a property, it can take as little as 1 week to lease or 1 to 4 months to buy one.
            </div>
        </div>
        <div id="find-the-right-location-and-premises-content"
             class="govuk-accordion__section-content">
            <p class="govuk-body">
                A suitable location near to customers, staff and supply chains, is important to your success in the UK.
            </p>
            <p class="govuk-body">
                You can find a range of premises to suit your business including leased offices, co-working spaces and science parks.
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="/international/expand-your-business-in-the-uk/guide/find-the-right-location-and-premises">Read our guide on how to find the right business property</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.great.gov.uk/international/content/investment/regions/"
                   target="_blank">Learn more about the UK's nations and regions</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.great.gov.uk/international/investment-support-directory"
                   target="_blank">Find professional help to locate in the UK</a>
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button"
                      id="get-business-insurance-heading">Get business insurance</span>
            </h3>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="get-business-insurance-summary">
                You'll need to obtain cover for various parts of your business.
            </div>
        </div>
        <div id="get-business-insurance-content"
             class="govuk-accordion__section-content">
            <p class="govuk-body">
                You must get Employers' Liability insurance as soon as you become an employer. UK law also requires you to have third party motor insurance if you use a vehicle for business purposes.
            </p>
            <p class="govuk-body">Other things which might have to be insured includes assets, income, liabilities and people.</p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.gov.uk/employers-liability-insurance"
                   target="_blank">Employers' Liability Insurance on GOV.UK</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://www.great.gov.uk/international/investment-support-directory"
                   target="_blank">Find professional advice on business insurance</a>
            </p>
            <p class="govuk-body">It can take around 2 weeks to 1 month to arrange business insurance.</p>
        </div>
    </div>
</div>
