<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="{{ back_url }}" class="govuk-back-link govuk-!-font-size-19">Back</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-top-2">{{ step_text }}</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">{% include '../includes/error_summary.html' %}</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ question_text }}</h1>
    </div>
</div>
