.educational-moment__button-image {
    width: 25px;
    height: auto;
}

.educational-moment__paragraph {
    display: inline;
}

.educational-moment {
    display: inline-block;
    vertical-align: middle;
}