@import 'helpers/colours';
@import 'helpers/vars';

// Breakpoints
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;

.breadcrumb {
  font-size: 12px;
}

.learn__page {
  font-family: $brand-font-body;

  .h1 {
    color: $grey;
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .button {
    background-color: $grey;
    border-radius: 4px;
    color: $white;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    height: 50px;
    line-height: 34px;
    padding: 8px 40px;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      background-color: darken($grey, 5);
      color: $white;
    }
  }
}

.learn__home-page {
  padding-top: 120px;
  margin-bottom: 120px;

  .learn__wrapper--paragraph {
    margin-bottom: 110px;
  }
}

.learn__wrapper--paragraph {
  color: $grey;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 40px 0;
}

.learn__carousel {
  margin: 0 25%;
  text-align: center;
}

.learn__introduction-page {
  margin-bottom: 120px;
  padding-top: 80px;
}

.learn__carousel--paragraph {
  font-size: 19px;
  font-weight: normal;
  line-height: 29px;
}

.learn__introduction {
  margin: 0 percentage(1 / 4) 60px;
}

.learn__category-header {
  padding-top: 80px;
  margin-bottom: 80px;
}

.learn__step-block {
  background: url('/static/img/circle-check-icon.png') no-repeat calc(50% + 15px) 0;
  padding-top: 88px;
  text-align: center;
}

.learn__step-title {
  color: $grey;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px;
}

.learn__category {
  background-color: $white;
  border-radius: 10px;
  margin-bottom: 40px;
  min-height: 360px;
  position: relative;
}

.learn__category-content {
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 25px;
}

.learn__category-title {
  @include moduleLandingHeading;
  margin-top: 13px;
}

.learn__category-details {
  margin: 0 0 40px;

  p {
    @include moduleLandingIntro;
    margin-top: 16px;
  }
}

.learn__category-link {
  @include moduleLink;
}

.learn__category-entities {
  @include countBox;
  position: absolute;
  top: 35px;
  right: 0;
}

.learn__category-image {
  bottom: 0;
  position: absolute;
  right: 0;
  max-width: 50%;
}

.learn__single-category-header-wrapper {
  padding-top: 40px;
  position: relative;
}

.learn__single-category-header-content {
  margin: 38px 0 0 70px;
}

.learn__single-category-title.h1 {
  margin-bottom: 16px;
}

.learn__single-category-header {
  background-color: $white;
}

.learn__single-category-image {
  margin: 77px 0 52px 10px;
}

.learn__single-category-header-details {
  p {
    @include moduleLandingIntro;
    margin-top: 15px;
  }
}

.learn__topics-list {
  margin: 125px 0 0;
}

.learn__topic-item-title,
.learn__topic-item {
  color: $grey;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

.learn__topic-item-title {
  @include moduleLandingTopicHeading;
  margin-right: 20px;
  padding-bottom: 20px;
}

.learn__topic-item {
  margin-bottom: 50px;
  padding-left: 4px;
}

.learn__topic-duration {
  color: $grey;
  font-size: 16px;
  font-weight: bold;
}

.learn__lessons-list {
  margin: 0;
  position: relative;
}

.learn__lesson-item {
  background-color: $white;
  border-bottom: 1px solid #e0e0e0;
}

.learn__lesson-item-link {
  @include moduleLandingTopicLink;
  display: block;
  padding: 22px 50px 20px 21px;
  text-decoration: none;
  position: relative;
}

.learn__topic-item-read-time {
  color: $grey;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 60px;
}

#lesson-page {
  details {
    summary {
      font-weight: bold;
      color: #333;

      h3 {
        display: inline;
      }
    }
  }
  li.great-mvp-list-arrow {
    list-style-type: disclosure-closed;
    margin-left: 20px;
    padding-left: 5px;
  }
  nav {
    background: $white;

    .great-mvp-pill-button {
      margin-left: 5px;
    }
  }
  aside {
    background: $white;
    border-right: 1px solid $light-grey;
    height: 100%;
    position: sticky;
    top: 0;

    h3 {
      padding-top: 20;
      padding-bottom: 0;
      a.topic-link {
        text-decoration: none;
      }
    }

    a {
      color: $grey;
      font-size: 16px;
    }
  }
  .lesson-next-area {
    display: inline-block;

    h5 {
      color: #919191;
      font-size: 16px;
      font-weight: bold;
    }

    .lesson-next-link {
      color: #3c3c3c;
      font-size: 36px;
      font-weight: bold;
    }

    .lesson-back-to-learning {
      color: #3c3c3c;
      font-size: 19px;
      font-weight: bold;
      display: block;
    }
  }

  .set-product-button,
  .set-country-button {
    cursor: pointer;
  }
}
