@import 'helpers/colours';
.market-details {
  button.iconic {
    color: $blue-deep-30;
    transition: color 0.1s;
    &:hover {
      color: $blue-deep-40;
    }
  }
  table td,
  table th {
    text-align: right !important;
    border-bottom: 1px solid $blue-deep-20 !important;
  }
  button {
    color: $white;
  }
}
.add-market {
    color: $white;
}
