<div class="govuk-!-margin-bottom-6 great-ds-bg-white great-ds-border-top-blue-3">
    <div class="great-ds-border-bottom-light-grey-2 govuk-!-padding-top-3 govuk-!-padding-right-6 govuk-!-padding-bottom-6 govuk-!-padding-left-6 bgs-section-body">
        {{ summary_content }}
    </div>
    <div id='summariser_feedback_form' class="govuk-!-padding-top-6 govuk-!-padding-right-6 govuk-!-padding-bottom-6 govuk-!-padding-left-6">
        <form action="" method="POST">
            {% csrf_token %}
            {{feedback_form}}
            {% include "_button.html" with type='submit' id='feedback_submit' text="Submit" classes="great-ds-button--secondary"  %}
        </form>
    </div>
</div>