
// COMMON STYLES
// ==============

@import '../../partials/typography';
@import '../../partials/colours';
@import '../../partials/mixins';

.great-global-header-footer,
.great-sub-header,
.great-header {
  font-family: $brand-font;
  font-weight: 700;
}


.great-global-header-footer {
  background-color: $white;
  box-sizing: border-box;

  & > .container {
    @include float-clear;
  }

  .great-global-header-footer-logo {
    float: left;
    white-space: nowrap;
  }

  .great-domestic-international-links {
    @include float-clear;
    float: right;
  }

  .great-footer-copyright {
    float: right;
    font-size: 20px;
    margin: 0;
    color: $grey;
    line-height: 20px;
  }
}

.great-global-header-footer,
.great-header,
.great-sub-header,
.great-footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.great-footer,
.great-header,
.great-sub-header {
  a:active:focus {
    color: $great-blue;
  }
}

.great-domestic-international-links {
  @include float-clear;

  a {
    padding: 0 15px;
    padding-top: 10px;
    text-decoration: none;
    height: 50px;
    display: block;
    float: left;
    font-size: 14px;
    position: relative;
  }
}

.great-global-header.domestic a.domestic,
.great-global-header.international a.international {
  @include flag-red-underline;
  color: $great-blue;
}

@media (max-width: 640px) {

  .great-global-header-footer {
    height: auto;
    line-height: 1;

    & > .container {
      padding-top: 10px;
      margin: 0;
      width: 100%;
      padding: 0;
    }

    .great-global-header-footer-logo {
      padding-left: 15px;
      float: none;
    }

    .great-domestic-international-links {
      display: table;
      float: none;
      width: 100%;
      table-layout: fixed;

      a {
        line-height: 14px;
        float: none;
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding-top:0;

        &:first-child {
          padding-left: 15px;
          padding-right: 0;
        }

        &:last-child {
          text-align: right;
          padding-right: 15px;
          padding-left: 0;
        }
      }
    }
  }

}

@media (max-width: 350px) {
  .great-global-header-footer {
    .great-domestic-international-links > * {
      font-size: 12px;
    }
  }
}
