.great-header-logo {
  height: 80px;
  margin: 15px 0;

  img {
    height: 100%;
  }

  @media (max-width: 768px) {
    height: 70px;
    margin: 20px 0;
  }

  @media (max-width: 420px) {
    height: 60px;
    margin: 25px 0;
  }
}
