<style>
    li {
        cursor: pointer;
    }
</style>

<template id="great-summary-display-template">
    <article>
        <div>
            <slot name="master-list"></slot>
        </div>
        <div>
            <slot name="choice"></slot>
        </div>
    </article>
</template>

<!-- This script will self execute on import -->
<script>
    // Bring in the import content.
    const importDoc = document.currentScript.ownerDocument; // would be the template.html document object
    const template = importDoc.getElementById('great-summary-display-template');
    document.body.appendChild(template.cloneNode(true));
</script>
