@import './colors/colors.scss';
@import './fonts/main.scss';
@import './sizes/sizes.scss';
@import './widgets//mains.scss';
@import './pages/index.scss';
@import './borders/main.scss';

body {
    background-color: $color-background-color
}

a:active,
.personalization-menu-button.tag--icon:focus,
.personalization-menu-button.tag--icon:active {
    @include focus-state()
}
