<section class="padding-top-30">
  <div class="container">
    <div class="width-two-thirds">
      <h1 class="heading-xlarge">This page cannot be found</h1>
      <ul class="list list-bullet">
          <li>If you entered a web address please check it’s correct.</li>
          <li>If you followed a link here, <a class="link" href="{{ feedback_url }}">let us know</a>.</li>
          <li><a class="link" href="{{ home_page_url }}">Go to the homepage</a></li>
      </ul>
    </div>
  </div>
</section>