{% load static %}
{% load i18n %}
{% load url_map %}

<footer id="great-footer" class="great-footer light-grey-text background-great-blue" dir="ltr" data-ga-section="footer">

  <div class="great-footer-logo-container container">
    {% block footer_left_logo %}{% endblock %}
    {% block footer_right_logo %}{% endblock %}
  </div>

  <nav class="great-footer-links container">
    <ul class="great-footer-site-links">
        <li>
            <a href="{% url 'core:contact-us-help' %}">Contact us</a>
        </li>
        <li>
            <a href="{% url_map 'privacy' %}">Privacy and cookies</a>
        </li>
        <li>
            <a href="{% url_map 'terms' %}">Terms and conditions</a>
        </li>
        <li>
            <a href="{% url_map 'accessibility-statement' %}">Accessibility</a>
        </li>
        <li>
            <a href="{% url_map 'performance-dashboard' %}">Performance</a>
        </li>
        <li>
            <a href="https://{{ dit_on_govuk }}" target="_blank" rel="noopener">Department for International Trade on GOV.UK</a>
        </li>
        {% if FEATURE_SHOW_INTERNATIONAL_FOOTER_LINK %}
        <li>
            <a href="#">Go to the page for international business</a>
        </li>
        {% endif %}
    </ul>
  </nav>

  <div class="great-global-header-footer {% block global_footer_class %}{% endblock %}">
    <div class="container">
        {% block global_footer_logo %}
        {% endblock %}
        <p id="great-footer-copyright" class="great-footer-copyright">&copy; Crown copyright {% now "Y" %}. All rights reserved.</p>
    </div>
  </div>

</footer>
