@import 'helpers/colours';
// TODO: remove once elements/buttons doesn't error
// @import 'elements/buttons';

.buttonAsLink {
    // @extend .g-button-ghost-white;
    background-color: $grey;
    color: $white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding: 8px 24px;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
        background-color: darken($grey, 5);
        color: $white;
    }
}
