$asset-root: '../../../assets/';

@import 'helpers/_colours';
@import 'elements/forms/_general';


.great-mvp-field-input {
    @extend .form-control;
    width: 371px;
    padding: 10px;
    border-color: $grey;
    height: 51px;
    background-color: $white;

    &[disabled] {
        background-color: $light-grey;
    }
}

.great-mvp-field-label {
    height: 29px;
    width: 510px;
    color: $grey;
    font-size: 19px;
    line-height: 29px;
}
