@import 'helpers/_colours';

.great-mvp-step-progress-bar {
    overflow: hidden;
    background: white;
    ul {
        display: flex;
        li {
            flex-grow: 1;
            position: relative;

            &.active:before {
              background-color: $white;
            }

            &:before {
                width: 16px;
                height: 16px;
                content: "";
                line-height: 30px;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                box-sizing: border-box;
                border: 2px solid black;
                background-color: $black;
            }

            &:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: $black;
                top: 7px;
                left: -50%;
                z-index: -1;
            }
            
            &:first-child:after {
                content: none;
            }
        }
    }
}