// "great-" css classes
@import "../../../../styles/great/main.scss";

@font-face {
    font-family: 'Noto Regular';
    src: url('/public/fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Noto SemiBold';
    src: url('/public/fonts/NotoSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.components-list {
    position: absolute;
    left: 0;

    ul {
        list-style: none;
    }

    a:visited {
        color: #1d70b8;
    }
}

pre {
    background-color: #f3f2f1;
}


.great-back-link {
    &::before {
        background-image: url(/public/images/arrow.svg);
    }
}

.great-text-select--arrow {
    &::after {
        background-image: url(/public/images/arrow-black.svg);
    }
}
