{% extends 'includes/base.html' %}
{% load replace_hyphens from component_tags %}
{% block head_title %}
    {% if email_guide_form.errors %}Error: {% endif %}
    {{ page.get_parent.hero_title }}: {{ page.body_title }} - Business.gov.uk
{% endblock %}
{% block meta_tags %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block content %}
    <section class="great-ds-bg-blue govuk-!-padding-bottom-9 bgs-guide-hero"
             style="background-image: url({% if hero_image_url %}{{ hero_image_url }}{% else %}/static/images/triage-bg.jpg{% endif %})">
        <div class="great-ds-container govuk-!-padding-top-9">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <div class="great-ds-bg-white govuk-!-padding-6">
                        {% if page.get_parent.hero_title %}
                            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ page.get_parent.hero_title }}{% if page.body_title %}<span class="govuk-visually-hidden"> : {{ page.body_title }}</span>{% endif %}</h1>
                        {% endif %}
                        {% if page.get_parent.hero_intro %}
                            <p class="govuk-body govuk-!-margin-bottom-4">{{ page.get_parent.hero_intro }}</p>
                        {% endif %}
                        <div class="bgs-hero-tags">
                            {% if sector %}
                                {% include "includes/_sector-tag.html" with text=sector classes="govuk-!-margin-right-1" %}
                            {% endif %}
                            {% if local_support_data.postcode_data.admin_district %}
                                {% include "includes/_location-tag.html" with text=local_support_data.postcode_data.admin_district %}
                            {% endif %}
                        </div>
                        {% include "includes/_change-answers.html" with change_answers_link=change_answers_link %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="govuk-service-navigation great-ds-bg-white bgs-service-navigation"
         data-module="govuk-service-navigation">
        <div class="great-ds-container">
            <div class="govuk-service-navigation__container">
                <nav aria-label="Topics" class="govuk-service-navigation__wrapper">
                    <button type="button"
                            class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                            aria-controls="navigation"
                            hidden>Topics</button>
                    <ul class="govuk-service-navigation__list" id="navigation">
                        <li class="govuk-service-navigation__item">
                            <a class="govuk-service-navigation__link"
                               href="{{ page.get_parent.get_url }}{{ qs }}">{{ page.get_parent.body_title }}</a>
                        </li>
                        {% for child_page in page.get_parent.get_children %}
                            {% with page=child_page.specific parent_page_title=page.page_title %}
                                {% if page.slug in request.path %}
                                    <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                                        <a class="govuk-service-navigation__link"
                                           href="{{ page.get_url }}{{ qs }}"
                                           aria-current="true">
                                            <strong class="govuk-service-navigation__active-fallback">{{ page.title }}</strong>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="govuk-service-navigation__item">
                                        <a class="govuk-service-navigation__link"
                                           href="{{ page.get_url }}{{ qs }}">{{ page.title }}</a>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <section class="great-ds-bg-light-blue govuk-!-padding-bottom-6">
        <div class="great-ds-container govuk-!-padding-top-7">
            <div class="govuk-grid-row bgs-reverse-content">
                <div class="govuk-grid-column-one-third-from-desktop bgs-hide-from-desktop">
                    {% include 'includes/_related-ctas.html' with cta=page.related_cta %}
                </div>
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    {% if page.body_title %}<h2 class="govuk-heading-l {% if page.body_intro %}govuk-!-margin-bottom-3{% else %}govuk-!-margin-bottom-7{% endif %}">{{ page.body_title }}</h2>{% endif %}
                    {% if page.body_intro %}<p class="govuk-caption-l govuk-!-margin-bottom-9">{{ page.body_intro }}</p>{% endif %}
                    {% if page.body_sections %}
                        {% for section in page.body_sections %}
                            <div {% if section.value.title %}data-title="{{ section.value.title | slugify | replace_hyphens }}"{% endif %} class="govuk-!-margin-bottom-6 great-ds-bg-white great-ds-border-top-blue-3 bgs-box-shadow{% if section.value.logo %} bgs-section-logo bgs-section-logo--exporting{% endif %}"
                                 style="{% if section.value.logo %}background-image: url('/static/icons/{{ section.value.logo }}');{% endif %}{% if section.value.border_color %}border-top-color: {{ section.value.border_color }} !important;{% endif %}">
                                <div class="govuk-!-padding-6 great-ds-border-bottom-light-grey-2">
                                    {% if section.value.title %}
                                        <h3 class="govuk-heading-m {% if section.value.logo %}great-ds-max-width-70 {% endif %}{% if section.value.intro %}govuk-!-margin-bottom-3{% else %}govuk-!-margin-bottom-0{% endif %}">
                                            {{ section.value.title }}
                                        </h3>
                                    {% endif %}
                                    {% if section.value.intro %}<p class="govuk-caption govuk-!-margin-bottom-0 {% if section.value.logo %}great-ds-max-width-70{% endif %}">{{ section.value.intro }}</p>{% endif %}
                                </div>
                                <div class="govuk-!-padding-top-3 govuk-!-padding-right-6 govuk-!-padding-bottom-6 govuk-!-padding-left-6 bgs-section-body">
                                    {% for content in section.value.content %}
                                        {% include "includes/_render-snippet.html" with content=content %}
                                    {% endfor %}
                                </div>
                                {% if section.value.link_text and section.value.link_url %}
                                    <div class="govuk-!-padding-6 great-ds-border-top-light-grey-2">
                                        <div class="great-ds-cta-banner__action-link-container">
                                            {% include "_action-link.html" with linkText=section.value.link_text linkHref=section.value.link_url %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-third-from-desktop">
                    {% include 'includes/_email-guide-form.html' with email_guide_form=email_guide_form send_email_address=send_email_address send_success=send_success hidden_text=page.get_parent.hero_title %}
                    <div class="bgs-show-from-desktop">
                        {% include 'includes/_related-ctas.html' with cta=page.related_cta %}
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-6">
                <div class="govuk-grid-column-full">{% include 'includes/_business-support-service.html' with country=country %}</div>
            </div>
        </div>
    </section>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/helpers.js"></script>
    <script type="text/javascript">
        const errorGroup = document.querySelector('.govuk-form-group--error');
        if (errorGroup) {
            errorGroup.setAttribute('role', 'alert');
            errorGroup.setAttribute('tabindex', '-1');
            errorGroup.focus();
        }
    </script>
    <script type="text/javascript" src="/static/js/bss-webchat.js"></script>
{% endblock %}
