{% extends 'includes/base.html' %}

{% block head_title %}Domestic Growth - Guide page{% endblock %}

{% block content %}
    <section class="great-ds-bg-blue govuk-!-padding-bottom-9">
        <div class="great-ds-container govuk-!-padding-top-8">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="great-ds-bg-white govuk-!-padding-6">
                        {% if page.hero_title %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                            {{ page.hero_title }}
                        </h1>
                        {% endif %}

                        {% if page.hero_intro %}
                        <p class="govuk-body govuk-!-margin-bottom-6">
                            {{ page.hero_intro }}
                        </p>
                        {% endif %}

                        {% if local_support_data.postcode_data.country %}
                            {% include "_tag.html" with text=local_support_data.postcode_data.country type="error" %}
                        {% endif %}

                        {% if local_support_data.postcode_data.region %}
                            {% include "_tag.html" with text=local_support_data.postcode_data.region type="information" %}
                        {% endif %}

                        {% if local_support_data.postcode_data.admin_district %}
                            {% include "_tag.html" with text=local_support_data.postcode_data.admin_district type="success" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="govuk-service-navigation" data-module="govuk-service-navigation">
        <div class="great-ds-container">
            <div class="govuk-service-navigation__container">
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
                Menu
                </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    {% with child_page_length=page.get_children|length %}
                        {% if child_page_length > 0 %}
                        <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                            <a class="govuk-service-navigation__link" href="{{ page.get_url }}{{ qs }}" aria-current="true">
                                <strong class="govuk-service-navigation__active-fallback">{{ page.hero_title }}</strong>
                            </a>
                        </li>
                        {% else %}
                        <li class="govuk-service-navigation__item">
                            <a class="govuk-service-navigation__link" href="{{ page.get_url }}{{ qs }}">
                                {{ page.hero_title }}
                            </a>
                        </li>
                        {% endif %}
                    {% endwith %}

                    {% for child_page in page.get_children %}
                        {% with page=child_page.specific parent_page_title=page.page_title %}
                        <li class="govuk-service-navigation__item">
                            <a class="govuk-service-navigation__link" href="{{ page.get_url }}{{ qs }}">
                                {{ page.title }}
                            </a>
                        </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </nav>
            </div>
        </div>
    </div>

    <section class="great great-ds-bg-light-blue govuk-!-padding-bottom-6">
        <div class="great-ds-container govuk-!-padding-top-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {% if page.body_title %}
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
                        {{ page.body_title }}
                    </h2>
                    {% endif %}

                    {% if page.body_intro %}
                    <p class="govuk-caption-l govuk-!-margin-bottom-6">
                        {{ page.body_intro }}
                    </p>
                    {% endif %}

                    {% if local_support_data %}
                    <div class="great-ds-bg-white great-ds-border-top-grey-3 govuk-!-padding-6 govuk-!-margin-bottom-6">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Your regional connections</h3>

                        {% if local_support_data.growth_hubs|length > 0 %}
                            {% with local_support_data.growth_hubs|first as nearest_growth_hub %}
                                <h4 class="govuk-heading-xs govuk-!-margin-bottom-3">{{ nearest_growth_hub.name }}</h4>
                                <p class="govuk-body">Your local Government-backed Growth Hub can provide free advice, funding, and training to help your business succeed.</p>
                                <address>
                                    <strong class="govuk-!-font-weight-bold">Website</strong> <a href="{{ nearest_growth_hub.contacts.website }}">{{ nearest_growth_hub.contacts.website }}</a><br />
                                    {% if nearest_growth_hub.contacts.email %}
                                        <strong class="govuk-!-font-weight-bold">Email</strong> <a href="mailto:{{ nearest_growth_hub.contacts.email }}">{{ nearest_growth_hub.contacts.email }}</a><br />
                                    {% endif %}
                                    <strong class="govuk-!-font-weight-bold">Phone</strong> {{ nearest_growth_hub.contacts.phone }}
                                </address>
                            {% endwith %}
                            <hr />
                        {% endif %}

                        {% if local_support_data.chambers_of_commerce|length > 0 %}
                            {% with local_support_data.chambers_of_commerce|first as nearest_chamber_of_commerce %}
                                <h4 class="govuk-heading-xs govuk-!-margin-bottom-3">{{ nearest_chamber_of_commerce.name }}</h4>
                                <p class="govuk-body">Joining your local Chamber of Commerce can connect you with businesses, get support with trade, and help with lobbying policies that benefit you.</p>
                                <address>
                                    <strong class="govuk-!-font-weight-bold">Website</strong> <a href="{{ nearest_chamber_of_commerce.contacts.website }}">{{ nearest_chamber_of_commerce.contacts.website }}</a><br />
                                    {% if nearest_chamber_of_commerce.contacts.email %}
                                        <strong class="govuk-!-font-weight-bold">Email</strong> <a href="mailto:{{ nearest_chamber_of_commerce.contacts.email }}">{{ nearest_chamber_of_commerce.contacts.email }}</a><br />
                                    {% endif %}
                                    <strong class="govuk-!-font-weight-bold">Phone</strong> {{ nearest_chamber_of_commerce.contacts.phone }}
                                </address>
                            {% endwith %}
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if trade_associations %}
                    <div class="great-ds-bg-white great-ds-border-top-grey-3 govuk-!-padding-6 govuk-!-margin-bottom-6">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Trade associations</h3>

                        {% for ta in trade_associations %}
                            <div {% if forloop.counter > 3 %}data-hidden-ta class="govuk-!-display-none"{% endif %}>
                                {% include "_card.html" with href=ta.website_link type="unmounted" title=ta.association_name description=ta.brief_description id=ta.association_name classes="great-ds-card--full" hideArrow="true"  %}
                            </div>
                        {% endfor %}

                        <div class="govuk-!-margin-top-6">
                            <button data-hidden-ta-trigger class="great-ds-button great-ds-button--secondary">Show more</button>
                        </div>
                    </div>
                    {% endif %}

                    {% if local_support_data.postcode_data.country %}
                    <div class="great-ds-bg-white great-ds-border-top-grey-3 govuk-!-padding-6 govuk-!-margin-bottom-6">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Business support service</h3>

                        {% with country=local_support_data.postcode_data.country|lower %}
                            {% include 'includes/_business-support-service.html' with country=country %} 
                        {% endwith %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_js %}
    {{ block.super }}

    <script>
        const hidden_ta_trigger = document.querySelector('[data-hidden-ta-trigger]');

        hidden_ta_trigger.addEventListener('click', (e) => {
            document.querySelectorAll('[data-hidden-ta]').forEach(el => el.classList = '');
            hidden_ta_trigger.remove();
        });
    </script>
{% endblock %}