{% extends 'includes/base.html' %}

{% block head_title %}Domestic Growth - Landing{% endblock %}

{% block content %}
    <div class="great great-bg-dark-blue">
        <div class="great-container govuk-!-padding-top-4">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full great-no-padding-until-tablet">
                    <div>
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 great-text-white">
                            Find the right support for your business
                        </h1>
                        
                        <div class="govuk-!-padding-bottom-9 great-ds-category-panels great-ds-category-panels--homepage">
                            <a href="{% url 'domestic_growth:domestic-growth-starting-a-business' %}">
                                <span>Starting a new business in the UK</span>
                            </a>

                            <a href="{% url 'domestic_growth:domestic-growth-scaling-a-business' %}">
                                <span>Scaling up an existing business in the UK</span>
                            </a>

                            <a href="/international">
                                <span>Expanding an International business into the UK</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    {{ block.super }}
{% endblock %}