{% extends 'apps-tabs.html' %}
{% block head_title %}Account{% endblock %}
{% block meta_title %}Account{% endblock %}
{% load static %}
{% block tab_content %}
    <div class="grid-row" id="tab-content">
        <div class="column-two-thirds">
            <section id="welcome-message">
                <h2>Welcome to your {% if current_website_name %}{{ current_website_name }}{% else %}great.gov.uk{% endif %} account</h2>
                <p class="body-text">
                    From now on, every time you sign in you’ll be able to quickly access all of our exporting tools in one place. The tools are here to help your business succeed internationally.
                </p>
                <div class="information-breakout">
                    <span role="img" class="fas fa-arrow-circle-up"></span>
                    <p>You can start using any of our exporting tools by clicking on the tabs on your account.</p>
                </div>
                <h3>Export opportunities</h3>
                <p class="body-text">
                    Find thousands of exporting opportunities, search and apply within your industry or a specific country, and sign up for email alerts so you’re the first to know of new opportunities.
                </p>
                <h3>Business profile</h3>
                <p class="body-text">
                    Promote your business overseas with your own business profile, add case studies of your company’s best work, and let overseas companies contact you directly.
                </p>
            </section>
        </div>
    </div>
{% endblock tab_content %}
