{% extends 'includes/base.html' %}
{% block head_title %}Domestic Growth - Tell us a little more{% endblock %}
{% block content %}
    <div class="great great-bg-dark-blue">
        <div class="great-container govuk-!-padding-top-4">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9 govuk-!-padding-top-9">
                    <div class="great-bg-white govuk-!-padding-6">
                        <form method="post"
                              autocomplete="off"
                              data-target-market-form
                              class="govuk-form-group {% if form.errors %}govuk-form-group--error{% endif %}">
                            {% csrf_token %}
                            <h2 class="govuk-caption-l">
                                <span class="govuk-visually-hidden">This section is</span>Tell us about your business idea
                            </h2>
                            <h1 class="govuk-label-wrapper govuk-!-margin-bottom-4">
                                <label class="govuk-heading--xl">What is your sector or industry?</label>
                            </h1>
                            <p class="govuk-body govuk-!-margin-bottom-4">Some placeholder content</p>
                            <div class="govuk-!-margin-bottom-6">
                                {% for field in form.visible_fields %}
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-form-group govuk-!-margin-bottom-3 {% if field.errors %}govuk-form-group--error{% endif %}">
                                            {% include 'domestic/contact/includes/govuk-form-field.html' with field=field label_classes='great-text-white' %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% include 'domestic/contact/export-support/includes/continue-save-button.html' with button_text='Continue' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_js %}{{ block.super }}{% endblock %}
