{% extends 'includes/base.html' %}
{% load static %}
{% block head_title %}
    {% if form.errors %}Error:{% endif %}
    Domestic Growth - Tell us a little more
{% endblock %}
{% block head_css %}
    <link href="{% static 'core/css/accessible-autocomplete.min.css' %}"
          rel="stylesheet"
          type="text/css">
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="great great-bg-dark-blue">
        <div class="great-container govuk-!-padding-top-4">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9 govuk-!-padding-top-9">
                    <div class="great-bg-white govuk-!-padding-6">
                        <form method="post" autocomplete="off" data-target-market-form>
                            {% csrf_token %}
                            <div class="govuk-form-group {% if form.errors %}govuk-form-group--error{% endif %}">
                                <h2 class="govuk-caption-l">
                                    <span class="govuk-visually-hidden">This section is</span>Tell us about your business idea
                                </h2>
                                <h1 class="govuk-label-wrapper govuk-!-margin-bottom-4">
                                    <label class="govuk-heading--xl">Where will your business be based?</label>
                                </h1>
                                <p class="govuk-body govuk-!-margin-bottom-4">
                                    Enter the postcode and we’ll show you support and information services closest to you.
                                </p>
                                <div class="govuk-!-margin-bottom-2">
                                    {% include 'domestic/contact/includes/govuk-form-field.html' with field=form.postcode %}
                                </div>
                            </div>
                            {% include 'domestic/contact/export-support/includes/continue-save-button.html' with button_text='Continue' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
